<div class="tw-pb-48-px">
    <div>
       <app-onboarding-steppers [onboardingSteps]="onboardingSteps"></app-onboarding-steppers>
    </div>
    <div>
        <div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-screen">
            <app-loader></app-loader>
        </div>
        <div *ngIf="!isLoading" class="configuration--contents tw-border-separator tw-mt-6" [ngClass]="brandingStyle.common.configurationContents">
            <div>
                <app-configuration-step-header 
                [headerText]="'Connect to your Dynamics 365 Business Central account'"
                [contentText]="'Expenses will be posted to the Dynamics 365 Business Central Location entity selected here.'"
                [redirectLink]="redirectLink"></app-configuration-step-header>
            </div>
            <div class="tw-px-24-px tw-pb-24-px">
                <app-configuration-connector
                    [accountingAppTitle]="'Dynamics 365 Business Central'"
                    [subLabel]="'Please select a company from Dynamics 365 Business Central to proceed further.'"
                    [placeholder]="'Select company'"
                    [appName]="appName"
                    [accountingCompanyName]="businessCentralCompanyName"
                    [accountingCompanyList] = "businessCentralCompanyOptions"
                    [fyleOrgName]="fyleOrgName"
                    [accountingCompanyTokenExpired]="businessCentralTokenExpired"
                    [isAccountingCompanyConnected]="isBusinessCentralConnected"
                    [showDisconnect]="showDisconnectBusinessCentral"
                    [accountingCompanyConnectionInProgress]="saveInProgress"
                    [switchLinkText]="'Switch Entity'"
                    (connectCompany)="connectBusinessCentralCompany($event)"
                    (switchCompany)="disconnectBusinessCentral()">
                </app-configuration-connector>
                <app-configuration-confirmation-dialog
                    (warningAccepted)="acceptWarning($event)"
                    [isWarningVisible]="isIncorrectBusinessCentralConnectedDialogVisible"
                    [headerText]="'Incorrect account selected'"
                    [contextText]="'You had previously set up the integration with a different Dynamic 365 Business Central account. Please choose the same to restore the settings'"
                    [confirmBtnText]="'Re connect'"
                    [showSecondaryCTA]="false">
                </app-configuration-confirmation-dialog>
            </div>
            <app-configuration-step-footer [ctaText]="!saveInProgress ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVING" [isButtonDisabled]="isContinueDisabled" (save)="save()" ></app-configuration-step-footer>
        </div>
    </div>
</div>
