:host ::ng-deep .error-box .p-dropdown {
    @apply tw-border-select-error-border #{!important};
}

:host ::ng-deep .normal-box .p-dropdown {
    @apply tw-border-select-default-border #{!important};
}

:host ::ng-deep .normal-box .p-dropdown.p-focus {
    @apply tw-border-select-focused-border #{!important};
}

:host ::ng-deep  .dropdown-size-schedule .p-dropdown {
    @apply tw-w-70-px #{!important};
}

:host ::ng-deep  .dropdown-size-schedule .p-disabled, .p-component:disabled {
    @apply tw-opacity-100 tw-border-select-disabled-border;
}

:host ::ng-deep .selectedItem .p-dropdown-trigger {
    @apply tw-hidden #{!important};
}

input[type="text"] {
    @apply tw-rounded-4-px tw-border-none tw-p-12-px #{!important};
}
