:host ::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider::after {
    content: 'Yes';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 8px;
    bottom: 0px;
    font-size: 12px;
    color: white;
    font-weight: 500;
}

:host ::ng-deep .p-inputswitch:not(.p-inputswitch-checked) .p-inputswitch-slider::after {
    content: 'No';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 24px;
    bottom: 0px;
    font-size: 12px;
    color: white;
    font-weight: 500;
}

