<button
  type="button" 
  [disabled]="disabled"
  [class]="'tw-flex tw-justify-center tw-items-center tw-text-size-14 tw-font-500 tw-bg-white tw-px-4 tw-py-2.5 tw-gap-2 tw-rounded-4-px tw-border tw-border-gray-300'"
  [ngClass]="disabled ? 'tw-text-placeholder tw-cursor-not-allowed' : 'tw-text-text-secondary tw-cursor-pointer'"
  (click)="!disabled && onClick()">
  {{ buttonText }}
  <app-svg-icon
    [svgSource]="svgSource" 
    [width]="'18px'"
    [height]="'18px'"
    [ngClass]="disabled ? 'tw-text-placeholder' : 'tw-text-text-secondary'">
  </app-svg-icon>
</button> 