
.landing-v2 {
    &--container {
        @apply tw-p-4 tw-flex tw-flex-col tw-gap-6;
        @apply tw-rounded-8-px tw-border tw-border-solid tw-border-separator tw-bg-white;
    }

    &--active-tag {
        @apply tw-bg-nav-link-active-border tw-h-2-px tw-w-[100%] tw-rounded-tr-4-px tw-rounded-tl-4-px tw-mt-4;
    }

    &--tab {
        @apply tw-flex tw-flex-col tw-justify-between tw-items-center tw-cursor-pointer tw-pt-4 tw-px-4 tw-min-w-72-px;
    }

    &--divider {
        @apply tw-h-1-px tw-w-[100%] tw-bg-separator;
    }

    &--section-divider {
        @extend .landing-v2--divider;
        @apply tw-my-40-px;
    }

    &--accounting-app {
        @apply tw-h-full tw-flex tw-flex-col tw-p-4 tw-gap-4 tw-justify-evenly tw-cursor-pointer tw-rounded-8-px tw-border tw-border-separator tw-bg-white;
        @apply tw-transition-shadow;

        img {
            @apply tw-h-[40px];
        }

        .btn-connect {
            @apply tw-text-14-px tw-hidden;
        }
    }

    &--accounting-app-name {
        @apply tw-text-14-px tw-leading-[20px] tw-flex tw-text-text-primary;
    }

    &--accounting-app-type {
        @apply tw-text-12-px tw-leading-[15px] tw-text-text-tertiary;
    }

    &--accounting-app-open {
        @apply tw-pl-6-px tw-pt-3-px tw-text-slightly-normal-text-color;
    }

    &--section-heading {
        @apply tw-text-18-px tw-pb-8-px tw-text-text-primary tw-font-500;
    }

    &--section-caption {
        @apply tw-text-text-tertiary tw-text-14-px;
    }

    &--other-integrations {
        @apply tw-grid tw-grid-cols-3 tw-mt-50-px;
    }

    &--other-integration-app {
        @apply tw-flex tw-items-center tw-justify-center;
    }
}

.landing-v2--accounting-app:hover {
    box-shadow: 0px 4px 4px 0px rgba(44, 48, 78, 0.10);
    .btn-connect {
        @apply tw-block;
    }
}
