<div [formGroup]="form">
    <div *ngIf="!isDestinationFixedImport && !isCloneSettingView" class="fields-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="fields-header-text tw-pl-48-px tw-w-450-px">{{appName}} Dimensions</div>
        <div class="fields-header-text tw-w-30-vw">{{brandingConfig.brandName}} Fields</div>
        <div class="fields-header-text tw-flex tw-w-[10vw] tw-whitespace-nowrap">
            Import to {{brandingConfig.brandName}}
            <app-svg-icon [svgSource]="'info-circle-fill'" [width]="'16px'" [height]="'16px'" [styleClasses]="'tw-text-text-muted tw-pl-6-px'" [tooltipPosition]="'top'"
                [tooltipText]="'Importing a dimension syncs active values from ' + appName + ' every 24 hours. Deactivated values in ' + appName + ' will also be disabled in ' + brandingConfig.brandName + ''">
            </app-svg-icon>
        </div>
    </div>
    <div class="tw-pl-48-px tw-mt-18px">
        <div *ngFor="let defaultField of defaultImportFields">
            <div class="tw-flex tw-pt-18-px">
                <div>
                    <input type="text" class="tw-text-14-px tw-text-text-secondary !tw-font-500 tw-w-300-px !tw-px-14-px !tw-py-10-px tw-border tw-border-solid !tw-border-border-tertiary tw-rounded-4-px" value="{{ defaultField.destination_field | snakeCaseToSpaceCase | titlecase }}" disabled>
                </div>
                <div class="tw-pt-18-px">
                    <app-svg-icon [isTextColorAllowed]="true" [svgSource]="'arrow-line'" [height]="'30px'" [width]="'100px'" [styleClasses]="'!tw-ml-0 tw-self-center tw-text-border-secondary'"></app-svg-icon>
                </div>
                <div class="tw-w-30-vw">
                    <input type="text" class="tw-text-14-px tw-text-text-secondary !tw-font-500 tw-w-300-px !tw-px-14-px !tw-py-10-px tw-border tw-border-solid !tw-border-border-tertiary tw-rounded-4-px" value="{{ defaultField.source_field | snakeCaseToSpaceCase | titlecase }}" disabled>
                </div>
                <div class="input-toggle-section tw-w-10-vw tw-pt-10-px">
                    <p-inputSwitch [formControlName]="defaultField.formController" (onChange)="onImportToFyleToggleChange($event)"></p-inputSwitch>
                </div>
            </div>
        </div>
    </div>
    <div formArrayName="expenseFields" [ngClass]="[isDestinationFixedImport ? '' : 'tw-pl-24-px tw-mt-18px']">
        <div *ngFor="let expenseField of expenseFieldsGetter.controls; let i = index" [formGroupName]="i" [ngClass]="{'tw-mt-24-px tw-pb-24-px': isDestinationFixedImport, 'tw-rounded-lg tw-border-border-tertiary tw-border': isDestinationFixedImport && !isCloneSettingView, 'tw-pr-24-px': isCloneSettingView}">
            <div class="tw-mt-18-px" [ngClass]="{'tw-bg-bg-tertiary-lighter tw-rounded-8-px tw-py-16-px tw-w-fit tw-pr-24-px': expenseField.get('source_field')?.value === 'PROJECT' && expenseField.get('import_to_fyle')?.value && expenseField.get('destination_field')?.value === dependentDestinationValue && brandingConfig.brandId !== 'co' , 'tw-pl-24-px': !isDestinationFixedImport}">
            <div *ngIf="isDestinationFixedImport">
                <div [ngClass]="!isCloneSettingView ? 'tw-p-24-px': 'tw-pl-24-px'" class="tw-flex tw-justify-between">
                    <div class="tw-w-3/4 tw-flex tw-items-start">
                      <div class="tw-pr-16-px">
                        <app-svg-icon [svgSource]="'arrow-tail-down'" [width]="'24px'" [height]="'24px'" [styleClasses]="isCloneSettingView ? 'tw-text-menu-inactive-text-color tw-block tw-ml-0' : 'tw-text-mandatory-field-color tw-block tw-ml-0'"></app-svg-icon>
                      </div>
                      <div>
                        <h4 class="tw-font-500 tw-text-14-px tw-text-text-secondary" [ngClass]="isCloneSettingView ? 'tw-py-2-px' : ''">
                            Import {{ brandingConfig.brandId === 'co' ? (getDestinationField(expenseField.get('destination_field')?.value | snakeCaseToSpaceCase) | titlecase | lowercase ) : (getDestinationField(expenseField.get('destination_field')?.value | snakeCaseToSpaceCase) | titlecase) }} from {{ appName }}
                            <app-optional-field *ngIf="!isAsterikAllowed"></app-optional-field>
                        </h4>
                        <h5 *ngIf="!isCloneSettingView" class="!tw-text-text-muted tw-text-14-px !tw-font-400 !tw-leading-4" [ngClass]="{'tw-pt-4-px': brandingConfig.brandId === 'co', 'tw-pt-8-px': brandingConfig.brandId !== 'co'}">
                          The imported {{ brandingConfig.brandId === 'co' ? (getDestinationField(expenseField.get('destination_field')?.value | snakeCaseToSpaceCase) | titlecase | lowercase) : (getDestinationField(expenseField.get('destination_field')?.value | snakeCaseToSpaceCase) | titlecase) }} 
                          <span *ngIf="brandingConfig.brandId !== 'co'">from {{ appName }} will be a selectable field while creating an expense.</span>
                          <span *ngIf="brandingConfig.brandId === 'co'"> will be an available field when creating an expense.</span>
                        </h5>        
                      </div>
                    </div>
                    <div class="configuration--input-toggle-section">
                      <p-inputSwitch formControlName="import_to_fyle" [tooltipPosition]="'top'" [pTooltip]="expenseField.get('destination_field')?.value === 'CUSTOMER' && appName === AppName.XERO && isXeroProjectMapped ? brandingXeroContent : ''" (onChange)="onShowWarningForDependentFields($event, expenseField)"></p-inputSwitch>
                    </div>
                </div>
            </div>
            <div class="tw-flex" [ngClass]="{'tw-pl-60-px': isDestinationFixedImport, 'tw-mt-24-px': isCloneSettingView}">
                <div>
                    <p-dropdown appendTo="body" [options]="accountingFieldOptions" placeholder="Choose {{appName}} field" formControlName="destination_field" [dropdownIcon]="'pi pi-chevron-down ' + brandingConfig.brandId"
                        optionLabel="display_name" optionValue="attribute_type" [ngClass]="{'selectedAccItem !tw-text-text-secondary': isDestinationFixedImport}">
                        <ng-template let-option pTemplate="item">
                            <div>
                                {{ brandingConfig.brandId === 'co' ? (option.display_name | snakeCaseToSpaceCase | sentenceCase) : option.display_name | snakeCaseToSpaceCase | titlecase }}
                            </div>
                        </ng-template>
                        <ng-template pTemplate="selectedItem" let-item>
                            <div class="tw-flex tw-justify-between tw-items-center">
                                <span>
                                    {{ brandingConfig.brandId === 'co' ? (item.display_name | snakeCaseToSpaceCase | sentenceCase) : item.display_name | snakeCaseToSpaceCase | titlecase }}
                                </span>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <p *ngIf="expenseField.value.destination_field && !expenseField.valid && !hasDuplicateOption(expenseField, i, 'destination_field')" class="tw-text-alert-toast tw-text-12-px tw-pt-4-px">
                        {{appName}} Fields should be unique
                    </p>
                </div>
                    <div [ngClass]="{'tw-pt-16-px': brandingConfig.brandId === 'co', 'tw-pt-18-px': brandingConfig.brandId !== 'co'}">
                        <app-svg-icon [isTextColorAllowed]="true" [svgSource]="'arrow-line'" [height]="'10px'" [width]="'100px'" [styleClasses]="'tw-self-center tw-text-border-secondary'"></app-svg-icon>
                    </div>
                    <div class="tw-w-30-vw">
                        <p-dropdown (onChange)="onDropdownChange($event, i)" appendTo="body" [options]="getOptions(expenseField)" [placeholder]="'Choose expense field in ' + brandingConfig.brandName" formControlName="source_field"
                        optionLabel="display_name" optionValue="attribute_type" [ngClass]="{'selectedItem': expenseField.get('source_field')?.value, 'selectedAccItem !tw-text-text-secondary': (expenseField.get('source_field')?.value === 'CATEGORY') || (expenseField.get('destination_field')?.value === 'CUSTOMER' && this.appName === AppName.XERO), 'filterDropdown': !expenseField.get('source_field')?.value}" [dropdownIcon]="'pi pi-chevron-down ' + brandingConfig.brandId">
                            <ng-template let-option pTemplate="item">
                            <div [ngClass]="{'custom-option': option.attribute_type === 'custom_field'}" class="tw-align-middle">
                                <div *ngIf="brandingFeatureConfig.isIconsInsideButtonAllowed && option.attribute_type === 'custom_field'" class="tw-ml-0 tw-mr-6-px ">
                                    <app-svg-icon [svgSource]="'plus-square-medium'" [width]="'18px'" [height]="'18px'" ></app-svg-icon>
                                </div>
                                {{ brandingConfig.brandId === 'co' ? (option.display_name | sentenceCase) : option.display_name }}
                            </div>
                            </ng-template>
                            <ng-template pTemplate="selectedItem" let-item class="tw-flex tw-justify-between tw-items-center">
                                <p>
                                    {{ brandingConfig.brandId === 'co' ? (item.display_name | sentenceCase) : item.display_name }}
                                </p>
                                <app-svg-icon *ngIf="(expenseField.get('source_field')?.value !== 'CATEGORY') && (appName === AppName.XERO ? expenseField.get('destination_field')?.value !== 'CUSTOMER' : true )" [svgSource]="'cross-medium'" [c1SvgSource]="'grv-cross-filled-medium'" (click)="removeFilter(expenseField)" [height]="'18px'" [width]="'18px'" [styleClasses]="'tw-mt-4-px'"></app-svg-icon>
                            </ng-template>
                      </p-dropdown>
                      <p *ngIf="(expenseField.value.source_field && !expenseField.valid && !hasDuplicateOption(expenseField, i, 'source_field')) || (!expenseField.value.source_field && expenseField.value.import_to_fyle)" class="tw-text-alert-toast tw-text-12-px tw-pt-4-px">
                        {{brandingConfig.brandName}} Fields should be unique
                        </p>
                    </div>
                <p-inputSwitch *ngIf="!isDestinationFixedImport" (onChange)="onSwitchChanged($event, expenseField)" [pTooltip]="isExpenseFieldDependent(expenseField.value) ? 'You cannot import dependent fields' : '' " (click)="updateDependentField(expenseField.get('source_field')?.value,expenseField.get('import_to_fyle')?.value)" formControlName="import_to_fyle" class="input-toggle-section tw-pl-4-px tw-pt-10-px"></p-inputSwitch>
            </div>
            <div class="tw-pt-26-px" [ngClass]="{'tw-pr-24-px tw-pl-[58px]': brandingConfig.brandId === 'co'}" *ngIf="brandingFeatureConfig.featureFlags.importSettings.dependentField && expenseField.get('source_field')?.value==='PROJECT' && expenseField.get('import_to_fyle')?.value && expenseField.get('destination_field')?.value === dependentDestinationValue" [formGroup]="form">
                <div class="tw-flex" [ngClass]="{'fyle': brandingConfig.brandId !== 'co', 'co': brandingConfig.brandId === 'co'}">
                    <label class="container tw-pl-24-px tw-text-14-px tw-text-form-label-text-color">{{helper.sentenseCaseConversion('Import Cost Code and Cost Type from ')}} {{appName}} as dependent fields.
                        <a *ngIf="appName === AppName.SAGE300" class="tw-text-link-primary tw-w-fit tw-cursor-pointer tw-inline-flex tw-items-center"
                            (click)="windowService.openInNewTab(dependantFieldSupportArticleLink)">
                            Read More
                            <app-svg-icon *ngIf="brandingFeatureConfig.isIconsInsideButtonAllowed" [svgSource]="'open-in-new-tab'" [width]="'16px'" [height]="'16px'"
                                class="tw-text-link-primary tw-pl-2-px tw-w-fit">
                            </app-svg-icon>
                        </a>
                        <input type="checkbox" formControlName="isDependentImportEnabled" (click)="appName === AppName.SAGE300 ? false : undefined">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div *ngIf="form.value.isDependentImportEnabled && dependentImportFields">
                    <div *ngFor="let dependentField of dependentImportFields; index as i" class="tw-flex tw-items-center tw-justify-between tw-pt-24-px" [ngClass]="[i ? 'tw-pl-20-px' : 'tw-pl-0-px']">
                        <div class="tw-flex">
                            <div>
                                <app-svg-icon [isTextColorAllowed]="true" [svgSource]="'line'" [width]="'21px'" [height]="'49px'" [styleClasses]="'tw-text-box-color'"></app-svg-icon>
                            </div>
                            <div class="tw-pl-8-px">
                                <p class="tw-mb-8-px tw-text-form-label-text-color" [ngClass]="{'!tw-font-400 tw-text-14-px': brandingConfig.brandId !== 'co', '!tw-font-600 tw-text-12-px': brandingConfig.brandId === 'co'}">{{helper.sentenseCaseConversion('Dependent Field')}}<app-mandatory-field></app-mandatory-field> </p>
                                <input type="text" [ngClass]="[i ? 'tw-w-240-px' : 'tw-w-260-px']" class="tw-text-14-px tw-text-input-read-only-text !tw-font-500 !tw-h-38-px !tw-px-14-px !tw-py-10-px tw-border tw-border-solid !tw-border-input-read-only-border tw-rounded-4-px" value="{{helper.sentenseCaseConversion(dependentField.source_field)}}" disabled>
                            </div>
                            <div [ngClass]="{'tw-pt-46-px': brandingConfig.brandId !== 'co', 'tw-pt-42-px': brandingConfig.brandId === 'co'}">
                                <app-svg-icon [isTextColorAllowed]="true" [svgSource]="'arrow-line'" [height]="'10px'" [width]="'100px'" [styleClasses]="'tw-text-border-secondary'"></app-svg-icon>
                            </div>
                            <div>
                                <p class="tw-mb-8-px tw-text-form-label-text-color" [ngClass]="{'!tw-font-400 tw-text-14-px': brandingConfig.brandId !== 'co', '!tw-font-600 tw-text-12-px': brandingConfig.brandId === 'co'}">{{brandingConfig.brandName}} {{brandingConfig.brandId === 'co' ? 'field' : 'Field'}} <app-mandatory-field></app-mandatory-field> </p>
                                <p-dropdown appendTo="body" class="tw-w-28-vw" [formControlName]="dependentField.formController" [options]="dependentField.options" optionLabel="attribute_type" [placeholder]="helper.sentenseCaseConversion('Select Expense Field')" [dropdownIcon]="'pi pi-chevron-down ' + brandingConfig.brandId">
                                    <ng-template let-option pTemplate="item">
                                        <div [ngClass]="{'custom-option': option.attribute_type === 'custom_field'}" class="tw-align-middle">
                                            <div class="tw-ml-0 tw-mr-6-px ">
                                                <app-svg-icon *ngIf="option.attribute_type === 'custom_field'" [svgSource]="'plus-square-medium'" [width]="'18px'" [height]="'18px'" ></app-svg-icon>
                                            </div>
                                            {{ helper.sentenseCaseConversion(option.display_name) }}
                                        </div>
                                      </ng-template>
                                </p-dropdown>
                            </div>
                        </div>
                        <p-inputSwitch class="input-toggle-section tw-pt-24-px" formControlName="dependentFieldImportToggle"></p-inputSwitch>
                    </div>
                    <div *ngIf="appName === AppName.SAGE300" class="tw-flex tw-mt-24-px" [ngClass]="{'fyle': brandingConfig.brandId !== 'co', 'co': brandingConfig.brandId === 'co'}">
                        <label class="container tw-pl-24-px tw-text-14-px tw-text-form-label-text-color">Auto-Export Commitment based on the Cost Code and Cost Category.
                            <a class="tw-text-link-primary tw-w-fit tw-cursor-pointer tw-inline-flex tw-items-center"
                                (click)="windowService.openInNewTab(commitmentFieldSupportArticleLink)">
                                Read More
                                <app-svg-icon *ngIf="brandingFeatureConfig.isIconsInsideButtonAllowed" [svgSource]="'open-in-new-tab'" [width]="'16px'" [height]="'16px'"
                                    class="tw-text-link-primary tw-pl-2-px tw-w-fit">
                                </app-svg-icon>
                            </a>
                            <input type="checkbox" formControlName="addCommitmentDetails">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>                      
            <div class="tw-text-alert-toast tw-pt-4 tw-pl-1" *ngIf="form.get('expenseFields')?.hasError('duplicatefyleFieldOptions') || form.get('expenseFields')?.hasError('duplicateaccountingFieldOptions')">
                *{{brandingConfig.brandName}} and {{appName}} Fields should be unique.
            </div> 
        </div>  
    </div>               
    </div>
    <div *ngIf="showOrHideAddButton() && !isDestinationFixedImport" class="add-button-container">
        <app-svg-icon [svgSource]="'plus-square-medium'" [width]="'18px'" [height]="'18px'" [styleClasses]="'tw-cursor-pointer tw-text-mandatory-field-color'" (iconClick)="addExpenseField()"></app-svg-icon>
        <a class="add-row-text tw-pl-2" (click)="addExpenseField()">
            Add more fields
        </a>
    </div>
    <div *ngIf="appName === AppName.SAGE300 && isImportCodeEnabledCounter.length > 0">
        <div class="tw-pt-24-px">
            <div class="tw-p-24-px tw-bg-configuration-bg tw-border tw-border-separator tw-rounded-8-px tw-mb-24-px">
                <div>
                    <h4 class="tw-text-16-px tw-text-normal-text-color tw-mb-8-px">
                        Configure how each dimension's values should be imported
                    </h4>
                    <p class="tw-text-14-px tw-text-text-muted">
                        You can import either the names of your chart of accounts or both names and codes, based on how your employees identify these values.
                    </p>
                </div>
                <div class="tw-pt-16-px">
                    <app-configuration-info-label
                        [infoText]="'This is a one-time setup and cannot be modified once the values are imported to Fyle.'">
                    </app-configuration-info-label>
                </div>
            </div>
        </div>
        <div>
            <div *ngFor="let defaultField of defaultImportFields">
                <div *ngIf="defaultField.import_code !== undefined && this.form.controls[defaultField.formController].value">
                    <app-configuration-select-field
                        [appName]="appName"
                        [form]="form"
                        [isDisableTextRequired]="false"
                        [options]="getImportCodeSelectorOptions(defaultField.destination_field)"
                        [placeholder]="'Select the how to import ' + helper.sentenseCaseConversion(defaultField.destination_field).toLowerCase()"
                        [label]="'How to import the '+ helper.sentenseCaseConversion(defaultField.destination_field).toLowerCase() +' from ' + appName + '?'"
                        [subLabel]="'You have the option to import either just the names of your '+ helper.sentenseCaseConversion(defaultField.destination_field).toLowerCase() +' or both the names and codes. Choose the option that best suits how your employees identify the values.'"
                        [isMultiLineOption]="true"
                        [isFieldMandatory]="true"
                        [isimportSettings]="true"
                        [customErrorMessage]="'Please select how the ' + helper.sentenseCaseConversion(defaultField.destination_field).toLowerCase() + ' should be imported'"
                        [isDisabled]="!importCodeFieldConfig[defaultField.destination_field]"
                        [formControllerName]="defaultField.import_code">
                    </app-configuration-select-field>
                </div>
            </div>
            <div formArrayName="expenseFields">
                <div *ngFor="let expenseField of expenseFieldsGetter.controls; let i = index" [formGroupName]="i">
                    <div *ngIf="showImportCodeSection(expenseField)">
                        <app-configuration-select-field
                            [appName]="appName"
                            [isDisableTextRequired]="false"
                            [form]="getFormGroup(expenseField)"
                            [options]="getImportCodeSelectorOptions(expenseField.value.destination_field)"
                            [placeholder]="'Select the how to import ' + helper.sentenseCaseConversion(expenseField.value.destination_field).toLowerCase()"
                            [label]="'How to import the '+ helper.sentenseCaseConversion(expenseField.value.destination_field).toLowerCase() +' from ' + appName + '?'"
                            [subLabel]="'You have the option to import either just the names of your '+ helper.sentenseCaseConversion(expenseField.value.destination_field).toLowerCase() +' or both the names and codes. Choose the option that best suits how your employees identify the values.'"
                            [isMultiLineOption]="true"
                            [isimportSettings]="true"
                            [isFieldMandatory]="true"
                            [customErrorMessage]="'Please select how the ' + helper.sentenseCaseConversion(expenseField.value.destination_field).toLowerCase() + ' should be imported'"
                            [isDisabled]="!importCodeFieldConfig[expenseField.value.destination_field]"
                            [formControllerName]="'import_code'">
                        </app-configuration-select-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
