<div [formGroup]="form">
    <div *ngIf="!isDestinationFixedImport && !isCloneSettingView" class="fields-header" fxLayout="row" fxLayoutAlign="start center">
        <div class="fields-header-text tw-pl-48-px tw-w-450-px">{{ 'configurationImportField.dimensionsHeader' | transloco: { appName: uiExposedAppName } }}</div>
        <div class="fields-header-text tw-w-30-vw">{{ 'configurationImportField.brandNameFieldsHeader' | transloco: { brandName: brandingConfig.brandName } }}</div>
        <div class="fields-header-text tw-flex tw-w-[10vw] tw-whitespace-nowrap">
            {{ 'configurationImportField.importToBrandNameHeader' | transloco: { brandName: brandingConfig.brandName } }}
            <app-svg-icon [svgSource]="'info-circle-fill'" [width]="'16px'" [height]="'16px'" [styleClasses]="'tw-text-text-muted tw-pl-6-px'" [tooltipPosition]="'top'"
                [tooltipText]="'configurationImportField.importDimensionTooltip' | transloco: { appName: uiExposedAppName, brandName: brandingConfig.brandName }">
            </app-svg-icon>
        </div>
    </div>
    <div class="tw-pl-48-px tw-mt-18px">
        <div *ngFor="let defaultField of defaultImportFields">
            <div class="tw-flex tw-pt-18-px">
                <div>
                    <input type="text" class="tw-text-14-px tw-text-text-secondary !tw-font-500 tw-w-300-px !tw-px-14-px !tw-py-10-px tw-border tw-border-solid !tw-border-border-tertiary tw-rounded-4-px" value="{{ defaultField.destination_field | snakeCaseToSpaceCase | sentenceCase }}" disabled>
                </div>
                <div class="tw-pt-[17px]">
                    <app-svg-icon [isTextColorAllowed]="true" [svgSource]="'arrow-line'" [height]="'30px'" [width]="'100px'" [styleClasses]="'!tw-ml-0 tw-self-center tw-text-border-secondary'"></app-svg-icon>
                </div>
                <div class="tw-w-30-vw">
                    <input type="text" class="tw-text-14-px tw-text-text-secondary !tw-font-500 tw-w-300-px !tw-px-14-px !tw-py-10-px tw-border tw-border-solid !tw-border-border-tertiary tw-rounded-4-px" value="{{ defaultField.source_field | snakeCaseToSpaceCase | sentenceCase }}" disabled>
                </div>
                <div class="input-toggle-section tw-w-10-vw tw-pt-10-px">
                    <p-inputSwitch [formControlName]="defaultField.formController" (onChange)="onImportToFyleToggleChange($event, defaultField.destination_field)"></p-inputSwitch>
                </div>
            </div>
            @if (!defaultField.is_auto_import_enabled && this.form.get(defaultField.formController)?.value) {
                <div class="tw-pt-26-px tw-px-24-px">
                    <app-configuration-info-label 
                        [iconSrc]="'warning-filled'"
                        [customBackgroundColorClass]="brandingStyle.configuration.infoLabelWarningBackground"
                        [customStyleClass]="brandingStyle.configuration.infoLabelWarningIcon"
                        [infoText]="'configurationImportField.autoImportEnabledInfo' | transloco: { destinationField: (getDestinationField(defaultField.destination_field | snakeCaseToSpaceCase) | sentenceCase), currentDestinationCount: defaultField.count, appName: uiExposedAppName }">
                    </app-configuration-info-label>
                </div>
            }
        </div>
    </div>
    <div formArrayName="expenseFields" [ngClass]="[isDestinationFixedImport ? '' : 'tw-pl-24-px tw-mt-18px']">
        <div *ngFor="let expenseField of expenseFieldsGetter.controls; let i = index" [formGroupName]="i" [ngClass]="[isDestinationFixedImport ? 'tw-mt-24-px tw-pb-24-px' : '', (isDestinationFixedImport && !isCloneSettingView) ? brandingStyle.configuration.configurationImportCard : '',isCloneSettingView ? 'tw-pr-24-px' : '']">
            <div class="tw-mt-18-px" [ngClass]="{'tw-bg-bg-tertiary-lighter tw-rounded-8-px tw-py-16-px tw-w-fit tw-pr-24-px': expenseField.get('source_field')?.value === 'PROJECT' && expenseField.get('import_to_fyle')?.value && expenseField.get('destination_field')?.value === dependentDestinationValue && brandingConfig.brandId !== 'co' , 'tw-pl-24-px': !isDestinationFixedImport}">
            <div *ngIf="isDestinationFixedImport">
                <div [ngClass]="!isCloneSettingView ? 'tw-p-24-px': 'tw-pl-24-px'" class="tw-flex tw-justify-between">
                    <div class="tw-w-3/4 tw-flex tw-items-start">
                        @if (isConfigToggleLeftAligned) {
                        <div class="configuration--input-toggle-section">
                            <p-inputSwitch formControlName="import_to_fyle" [tooltipPosition]="'top'" [pTooltip]="expenseField.get('destination_field')?.value === 'CUSTOMER' && uiExposedAppName === AppName.XERO && isXeroProjectMapped ? ('xero.configuration.importSetting.toggleToastMessage' | transloco: {brandName: brandingConfig.brandName}) : ''" (onChange)="onShowWarningForDependentFields($event, expenseField, i)" [disabled]="expenseField.get('destination_field')?.value === 'CUSTOMER' && uiExposedAppName === AppName.XERO && isXeroProjectMapped"></p-inputSwitch>
                        </div>
                        } @else {
                        <div class="tw-pr-16-px">
                            <app-svg-icon [svgSource]="'arrow-tail-down'" [width]="'24px'" [height]="'24px'" [styleClasses]="isCloneSettingView ? 'tw-text-menu-inactive-text-color tw-block tw-ml-0' : 'tw-text-mandatory-field-color tw-block tw-ml-0'"></app-svg-icon>
                        </div>
                        }
                      <div>
                        <h4 class="{{brandingStyle.qbd_direct.onboarding.configurationToggleHeaderText}}" [ngClass]="isCloneSettingView ? 'tw-py-2-px' : ''">
                            {{ (brandingConfig.brandId === 'co' && appName === AppName.QBD_DIRECT ? 'qbd_direct.configuration.importSetting.importDestinationFieldFromApp' : 'configurationImportField.importDestinationFieldFromApp') | transloco: { destinationField: (getDestinationField(expenseField.get('destination_field')?.value | snakeCaseToSpaceCase) | lowercase ), appName: uiExposedAppName } }}
                            <app-optional-field *ngIf="!isAsterikAllowed && !(brandingConfig.brandId === 'co' && appName === AppName.QBD_DIRECT)"></app-optional-field>
                        </h4>
                        <h5 *ngIf="!isCloneSettingView" class="!tw-font-400 !tw-leading-4" [ngClass]="[brandingStyle.common.inputLabelTextStyle, brandingStyle.qbd_direct.onboarding.configurationToggleDescriptionText]">
                          {{ (brandingConfig.brandId === 'co' && appName === AppName.QBD_DIRECT ? 'qbd_direct.configuration.importSetting.importedDestinationFieldInfo' : 'configurationImportField.importedDestinationFieldInfo') | transloco: { destinationField: (brandingConfig.brandId !== 'co' && appName !== AppName.QBD_DIRECT ? (getDestinationField(expenseField.get('destination_field')?.value | snakeCaseToSpaceCase) | lowercase) : (getDestinationField(expenseField.get('destination_field')?.value | snakeCaseToSpaceCase) | sentenceCase)) } }}
                        </h5>
                      </div>
                    </div>
                    @if (!isConfigToggleLeftAligned) {
                    <div class="configuration--input-toggle-section">
                      <p-inputSwitch formControlName="import_to_fyle" [tooltipPosition]="'top'" [pTooltip]="expenseField.get('destination_field')?.value === 'CUSTOMER' && uiExposedAppName === AppName.XERO && isXeroProjectMapped ? ('xero.configuration.importSetting.toggleToastMessage' | transloco: {brandName: brandingConfig.brandName}) : ''" (onChange)="onShowWarningForDependentFields($event, expenseField, i)" [disabled]="(expenseField.get('destination_field')?.value === 'CUSTOMER' && uiExposedAppName === AppName.XERO && isXeroProjectMapped) || !expenseField.get('is_auto_import_enabled')?.value"></p-inputSwitch>
                    </div>
                    }
                </div>
            </div>
            <div class="tw-flex" [ngClass]="{'tw-pl-60-px': isDestinationFixedImport, 'tw-mt-24-px': isCloneSettingView, 'tw-pl-70-px': isConfigToggleLeftAligned}">
                <div>
                    <p-dropdown appendTo="body" [options]="accountingFieldOptions" [placeholder]="'configurationImportField.chooseAppFieldPlaceholder' | transloco: { appName: uiExposedAppName }" formControlName="destination_field" [dropdownIcon]="'pi pi-chevron-down ' + brandingConfig.brandId"
                        optionLabel="display_name" optionValue="attribute_type" [ngClass]="{'selectedAccItem !tw-text-text-secondary': isDestinationFixedImport}">
                        <ng-template let-option pTemplate="item">
                            <div>
                                {{ (option.display_name | snakeCaseToSpaceCase | sentenceCase) }}
                            </div>
                        </ng-template>
                        <ng-template pTemplate="selectedItem" let-item>
                            <div class="tw-flex tw-justify-between tw-items-center">
                                <span>
                                    {{ item.display_name | snakeCaseToSpaceCase | sentenceCase }}
                                </span>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <p *ngIf="expenseField.value.destination_field && !expenseField.valid && !hasDuplicateOption(expenseField, i, 'destination_field')" class="tw-text-alert-toast tw-text-12-px tw-pt-4-px">
                        {{ 'configurationImportField.uniqueAppFieldsError' | transloco: { appName: uiExposedAppName } }}
                    </p>
                </div>
                    <div [ngClass]="brandingStyle.configuration.importSvgPadding">
                        <app-svg-icon [isTextColorAllowed]="true" [svgSource]="'arrow-line'" [height]="'10px'" [width]="'100px'" [styleClasses]="'tw-self-center tw-text-border-secondary'"></app-svg-icon>
                    </div>
                    <div class="xl:tw-w-30-vw sm:tw-w-28-vw">
                        <p-dropdown (onChange)="onDropdownChange($event, i)" appendTo="body" [options]="getOptions(expenseField) | excludeSelectedOptions:expenseFieldsGetter:i:'source_field'" [placeholder]="'configurationImportField.chooseExpenseFieldPlaceholder' | transloco: { brandName: brandingConfig.brandName }" formControlName="source_field"
                        optionLabel="display_name" optionValue="attribute_type" [ngClass]="{'selectedItem': expenseField.get('source_field')?.value, 'selectedAccItem !tw-text-text-secondary': (expenseField.get('source_field')?.value === 'CATEGORY') || (expenseField.get('destination_field')?.value === 'CUSTOMER' && this.uiExposedAppName === AppName.XERO), 'filterDropdown': !expenseField.get('source_field')?.value}" [dropdownIcon]="'pi pi-chevron-down ' + brandingConfig.brandId">
                            <ng-template let-option pTemplate="item">
                            <div [ngClass]="{'custom-option': option.attribute_type === 'custom_field'}" class="tw-align-middle">
                                <div *ngIf="brandingFeatureConfig.isIconsInsideButtonAllowed && option.attribute_type === 'custom_field'" class="tw-ml-0 tw-mr-6-px ">
                                    <app-svg-icon [svgSource]="'plus-square-medium'" [width]="'18px'" [height]="'18px'" ></app-svg-icon>
                                </div>
                                {{ (option.display_name | sentenceCase) }}
                            </div>
                            </ng-template>
                            <ng-template pTemplate="selectedItem" let-item class="tw-flex tw-justify-between tw-items-center">
                                <p>
                                    {{ (item.display_name | sentenceCase) }}
                                </p>
                                <app-svg-icon *ngIf="(expenseField.get('source_field')?.value !== 'CATEGORY') && (uiExposedAppName === AppName.XERO ? expenseField.get('destination_field')?.value !== 'CUSTOMER' : true )" [svgSource]="'cross-medium'" [c1SvgSource]="'grv-cross-filled-medium'" (click)="removeFilter(expenseField)" [height]="'18px'" [width]="'18px'" [styleClasses]="'tw-mt-4-px'"></app-svg-icon>
                            </ng-template>
                      </p-dropdown>
                      <p *ngIf="(expenseField.get('source_field')?.value && !expenseField.valid && !hasDuplicateOption(expenseField, i, 'source_field'))" class="tw-text-alert-toast tw-text-12-px tw-pt-4-px">
                        {{ 'configurationImportField.uniqueBrandNameFieldsError' | transloco: { brandName: brandingConfig.brandName } }}
                      </p>
                    </div>
                <p-inputSwitch *ngIf="!isDestinationFixedImport" (onChange)="onSwitchChanged($event, expenseField, i)" [pTooltip]="isExpenseFieldDependent(expenseField.value) ? ('configurationImportField.dependentFieldsWarning' | transloco) : '' " (click)="updateDependentField(expenseField.get('source_field')?.value,expenseField.get('import_to_fyle')?.value)" formControlName="import_to_fyle" class="input-toggle-section tw-pl-4-px tw-pt-10-px"></p-inputSwitch>
            </div>
            @if (!expenseField.get('is_auto_import_enabled')?.value && !expenseField.get('import_to_fyle')?.value) {
                <div class="tw-pt-26-px tw-px-24-px">
                    <app-configuration-info-label 
                        [iconSrc]="'warning-filled'"
                        [customBackgroundColorClass]="brandingStyle.configuration.infoLabelWarningBackground"
                        [customStyleClass]="brandingStyle.configuration.infoLabelWarningIcon"
                        [infoText]="'configurationImportField.autoImportEnabledInfo' | transloco: { destinationField: (getDestinationField(expenseField.get('destination_field')?.value | snakeCaseToSpaceCase) | sentenceCase), currentDestinationCount: expenseField.get('count')?.value, appName: uiExposedAppName }">
                    </app-configuration-info-label>
                </div>
            }
            <div class="tw-pt-26-px" [ngClass]="brandingStyle.configuration.importFieldDependentField" *ngIf="brandingFeatureConfig.featureFlags.importSettings.dependentField && expenseField.get('source_field')?.value==='PROJECT' && expenseField.get('import_to_fyle')?.value && expenseField.get('destination_field')?.value === dependentDestinationValue" [formGroup]="form">
                <div class="tw-flex" [ngClass]="brandingStyle.common.configurationBrandingClass">
                    <label class="container tw-pl-24-px tw-text-14-px tw-text-form-label-text-color">
                        <ng-container *ngIf="uiExposedAppName === AppName.INTACCT; else elseBlock">{{ 'configurationImportField.importCostCodeAndTypeIntacct' | transloco: { appName: uiExposedAppName } }}</ng-container>
                        <ng-template #elseBlock>{{ 'configurationImportField.importCostCodeAndType' | transloco: { appName: uiExposedAppName } }} </ng-template>
                        <a *ngIf="uiExposedAppName === AppName.SAGE300" class="link tw-w-fit tw-inline-flex tw-items-center"
                            (click)="windowService.openInNewTab(dependantFieldSupportArticleLink)">
                            {{ 'configurationImportField.readMore' | transloco }}
                            <app-svg-icon *ngIf="brandingFeatureConfig.isIconsInsideButtonAllowed" [svgSource]="'open-in-new-tab'" [width]="'16px'" [height]="'16px'"
                                class="tw-text-link-primary tw-pl-2-px tw-w-fit">
                            </app-svg-icon>
                        </a>
                        <input type="checkbox" formControlName="isDependentImportEnabled" (click)="uiExposedAppName === AppName.SAGE300 ? false : undefined">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div *ngIf="form.get('isDependentImportEnabled')?.value && dependentImportFields">
                    <div *ngFor="let dependentField of dependentImportFields; index as i" class="tw-flex tw-items-center tw-justify-between tw-pt-24-px" [ngClass]="[i ? 'tw-pl-20-px' : 'tw-pl-0-px']">
                        <div class="tw-flex">
                            <div>
                                <app-svg-icon [isTextColorAllowed]="true" [svgSource]="'Line'" [width]="'21px'" [height]="'49px'" [styleClasses]="'tw-text-border-secondary'"></app-svg-icon>
                            </div>
                            <div class="tw-pl-20-px">
                                <p class="tw-mb-8-px tw-text-form-label-text-color" [ngClass]="brandingStyle.configuration.importFieldDropDownText">{{ 'configurationImportField.dependentFieldLabel' | transloco }}<app-mandatory-field></app-mandatory-field> </p>
                                <input type="text" [ngClass]="[i ? 'tw-w-240-px' : 'tw-w-260-px']" class="tw-text-14-px tw-text-input-read-only-text !tw-font-500 !tw-h-38-px !tw-px-14-px !tw-py-10-px tw-border tw-border-solid !tw-border-input-read-only-border tw-rounded-4-px" value="{{helper.sentenseCaseConversion(dependentField.source_field)}}" disabled>
                            </div>
                            <div [ngClass]="brandingStyle.configuration.importFieldDependentFieldSvg">
                                <app-svg-icon [isTextColorAllowed]="true" [svgSource]="'arrow-line'" [height]="'10px'" [width]="'100px'" [styleClasses]="'tw-text-border-secondary'"></app-svg-icon>
                            </div>
                            <div>
                                <p class="tw-mb-8-px tw-text-form-label-text-color" [ngClass]="brandingStyle.configuration.importFieldDropDownText">{{ 'configurationImportField.brandNameFieldLabel' | transloco: { brandName: brandingConfig.brandName } }} <app-mandatory-field></app-mandatory-field> </p>
                                <p-dropdown appendTo="body" class="tw-w-28-vw" [formControlName]="dependentField.formController" [options]="dependentField.options" optionLabel="attribute_type" [placeholder]="'configurationImportField.selectExpenseFieldPlaceholder' | transloco" [dropdownIcon]="'pi pi-chevron-down ' + brandingConfig.brandId">
                                    <ng-template let-option pTemplate="item">
                                        <div [ngClass]="{'custom-option': option.attribute_type === 'custom_field'}" class="tw-align-middle">
                                            <div class="tw-ml-0 tw-mr-6-px ">
                                                <app-svg-icon *ngIf="option.attribute_type === 'custom_field'" [svgSource]="'plus-square-medium'" [width]="'18px'" [height]="'18px'" ></app-svg-icon>
                                            </div>
                                            {{ helper.sentenseCaseConversion(option.display_name) }}
                                        </div>
                                      </ng-template>
                                </p-dropdown>
                            </div>
                        </div>
                        @if (uiExposedAppName === AppName.INTACCT) {
                            <p-inputSwitch class="input-toggle-section tw-pt-24-px" [formControlName]="dependentField.formController + 'ImportToggle'"></p-inputSwitch>
                        } @else {
                            <p-inputSwitch class="input-toggle-section tw-pt-24-px" formControlName="dependentFieldImportToggle"></p-inputSwitch>
                        }
                    </div>
                    <div *ngIf="uiExposedAppName === AppName.SAGE300" class="tw-flex tw-mt-24-px" [ngClass]="brandingStyle.common.configurationBrandingClass">
                        <label class="container tw-pl-24-px tw-text-14-px tw-text-form-label-text-color">{{ 'configurationImportField.autoExportCommitmentInfo' | transloco }}
                            <a class="link tw-w-fit tw-inline-flex tw-items-center"
                                (click)="windowService.openInNewTab(commitmentFieldSupportArticleLink)">
                                {{ 'configurationImportField.readMore' | transloco }}
                                <app-svg-icon *ngIf="brandingFeatureConfig.isIconsInsideButtonAllowed" [svgSource]="'open-in-new-tab'" [width]="'16px'" [height]="'16px'"
                                    class="tw-text-link-primary tw-pl-2-px tw-w-fit">
                                </app-svg-icon>
                            </a>
                            <input type="checkbox" formControlName="addCommitmentDetails">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="tw-text-alert-toast tw-pt-4 tw-pl-1" *ngIf="form.get('expenseFields')?.hasError('duplicatefyleFieldOptions') || form.get('expenseFields')?.hasError('duplicateaccountingFieldOptions')">
                {{ 'configurationImportField.uniqueFieldsError' | transloco: { brandName: brandingConfig.brandName, appName: uiExposedAppName } }}
            </div>
        </div>
    </div>
    </div>
    <div *ngIf="showOrHideAddButton() && !isDestinationFixedImport" class="add-button-container">
        <app-svg-icon [svgSource]="'plus-square-medium'" [width]="'18px'" [height]="'18px'" [styleClasses]="'tw-cursor-pointer tw-text-mandatory-field-color'" (iconClick)="addExpenseField()"></app-svg-icon>
        <a class="add-row-text tw-pl-2" (click)="addExpenseField()">
            {{ 'configurationImportField.addMoreFields' | transloco }}
        </a>
    </div>
    <div *ngIf="uiExposedAppName === AppName.SAGE300 && isImportCodeEnabledCounter.length > 0">
        <div class="tw-pt-24-px">
            <div class="tw-p-24-px tw-bg-bg-tertiary-lighter tw-border tw-border-separator tw-rounded-8-px tw-mb-24-px">
                <div>
                    <h4 class="tw-text-16-px tw-text-normal-text-color tw-mb-8-px">
                        {{ 'configurationImportField.configureImportMethodTitle' | transloco }}
                    </h4>
                    <p class="tw-text-14-px tw-text-text-muted">
                        {{ 'configurationImportField.configureImportMethodInfo' | transloco }}
                    </p>
                </div>
                <div class="tw-pt-16-px">
                    <app-configuration-info-label
                        [iconSrc]="'info-circle-fill-medium'"
                        [customBackgroundColorClass]="brandingStyle.configuration.infoLabelBackground"
                        [customStyleClass]="brandingStyle.configuration.infoLabelIcon"
                        [infoText]="'configurationImportField.oneTimeSetupInfo' | transloco: { brandName: brandingConfig.brandName }">
                    </app-configuration-info-label>
                </div>
            </div>
        </div>
        <div *ngIf="brandingFeatureConfig.featureFlags.importSettings.allowImportCode && uiExposedAppName === AppName.SAGE300">
            <div *ngFor="let defaultField of defaultImportFields">
                <div *ngIf="defaultField.import_code !== undefined && this.form.controls[defaultField.formController].value && importCodeFieldConfig[defaultField.destination_field]">
                    <app-configuration-select-field
                        [appName]="uiExposedAppName"
                        [form]="form"
                        [isDisableTextRequired]="false"
                        [options]="getImportCodeSelectorOptions(defaultField.destination_field)"
                        [placeholder]="'configurationImportField.selectImportMethodPlaceholder' | transloco: { destinationField: (helper.sentenseCaseConversion(defaultField.destination_field).toLowerCase()) }"
                        [label]="'configurationImportField.howToImportLabel' | transloco: { destinationFields: (helper.sentenseCaseConversion(getDestinationField(defaultField.destination_field)).toLowerCase()), appName: uiExposedAppName }"
                        [subLabel]="'configurationImportField.howToImportSubLabel' | transloco: { destinationFields: (helper.sentenseCaseConversion(getDestinationField(defaultField.destination_field)).toLowerCase()) }"
                        [isMultiLineOption]="true"
                        [isFieldMandatory]="true"
                        [isimportSettings]="true"
                        [customErrorMessage]="'configurationImportField.importMethodErrorMessage' | transloco: { destinationField: (helper.sentenseCaseConversion(defaultField.destination_field).toLowerCase()) }"
                        [isDisabled]="!importCodeFieldConfig[defaultField.destination_field]"
                        [formControllerName]="defaultField.import_code">
                    </app-configuration-select-field>
                </div>
            </div>
            <div formArrayName="expenseFields">
                <div *ngFor="let expenseField of expenseFieldsGetter.controls; let i = index" [formGroupName]="i">
                    <div *ngIf="showImportCodeSection(expenseField)">
                        <app-configuration-select-field
                            [appName]="uiExposedAppName"
                            [isDisableTextRequired]="false"
                            [form]="getFormGroup(expenseField)"
                            [options]="getImportCodeSelectorOptions(expenseField.value.destination_field)"
                            [placeholder]="'configurationImportField.selectImportMethodPlaceholder' | transloco: { destinationField: (helper.sentenseCaseConversion(expenseField.value.destination_field).toLowerCase()) }"
                            [label]="'configurationImportField.howToImportLabel' | transloco: { destinationFields: (helper.sentenseCaseConversion(getDestinationField(expenseField.value.destination_field)).toLowerCase()), appName: uiExposedAppName }"
                            [subLabel]="getImportSubLabel(expenseField.value.destination_field)"
                            [isMultiLineOption]="true"
                            [isimportSettings]="true"
                            [isFieldMandatory]="true"
                            [customErrorMessage]="'configurationImportField.importMethodErrorMessage' | transloco: { destinationField: (helper.sentenseCaseConversion(expenseField.value.destination_field).toLowerCase()) }"
                            [isDisabled]="!importCodeFieldConfig[expenseField.value.destination_field]"
                            [formControllerName]="'import_code'">
                        </app-configuration-select-field>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
