  :host ::ng-deep .p-button {
    @apply tw-w-fit #{!important};
  }

  .save-btn {
    @apply tw-border tw-bg-mandatory-field-color tw-rounded-4-px #{!important};
  }

  .cancel-btn {
    @apply tw-py-10-px tw-px-16-px tw-border tw-border-box-color tw-bg-white tw-rounded-4-px tw-text-slightly-normal-text-color tw-mr-16-px #{!important};
  }

  :host ::ng-deep .p-select {
    // transform: scale(0.9);
  }

  .form-input-disabled {
    @apply tw-px-12-px tw-pt-0 tw-pb-14-px tw-bg-input-read-only-bg tw-border tw-border-input-read-only-border tw-rounded-8-px ;
  }

  .label-content {
    @apply tw-bg-input-read-only-bg tw-border tw-border-input-read-only-border tw-rounded-4-px tw-h-100-px ;
  }

  .name-text {
    @apply tw-pl-12-px tw-pt-0 tw-pr-8-px tw-pb-16-px ;
  }

  .form-field {
    @apply tw-pl-8-px tw-py-16-px tw-pr-22-px ;
  }

  .form-input {
    @apply tw-px-12-px tw-pt-0 tw-pb-14-px tw-bg-white tw-border tw-border-box-color tw-rounded-8-px ;
  }

  .container {
    @apply tw-flex tw-justify-center tw-text-checkbox-label-text;
  }

  .sub-text {
    @apply tw-rounded-8-px tw-border tw-border-border-tertiary tw-bg-bg-tertiary-lighter tw-p-24-px tw-items-start tw-flex-col tw-gap-4;
  }

  .sub-text-note {
    @apply tw-flex tw-bg-bg-tertiary-lighter tw-p-16-px tw-items-start tw-self-stretch tw-text-14-px tw-font-400 tw-text-text-muted tw-not-italic
  }

  .fields-header {
    @apply tw-flex ;
  }

  .fields-header-text {
    @apply tw-font-500 tw-leading-16-px ;
  }

  .add-button-container {
    @apply tw-flex tw-items-center tw-pt-7 tw-pl-50-px ;
  }

  .add-row-text {
    @apply tw-cursor-pointer tw-text-mandatory-field-color ; /* Changes the cursor to a hand when hovering */
  }

  .delete-button {
    @apply tw-cursor-pointer ;
  }

  .custom-option {
    @apply tw-flex tw-text-mandatory-field-color ;
  }

  .icon-align {
    @apply tw-ml-0 tw-mr-6-px tw-align-middle ;
  }

  :host ::ng-deep input {
    @apply tw-text-14-px #{!important};
  }

  :host ::ng-deep .selectedItem  .p-select-dropdown, :host ::ng-deep .selectedAccItem .p-select-dropdown{
    @apply tw-hidden #{!important};
  }

  :host ::ng-deep .selectedAccItem .p-select.p-disabled {
    @apply tw-bg-input-read-only-bg tw-opacity-100 tw-border tw-border-input-read-only-border #{!important}
  }

  :host ::ng-deep .selectedAccItem .p-select.p-disabled .p-select-label {
    @apply tw-text-input-read-only-text #{!important};
  }

  .error-box {
    @apply tw-bg-alert-toast tw-border tw-border-border-danger-dark tw-rounded-4-px ;
  }

.container {
  @apply tw-relative tw-cursor-pointer tw-select-none tw-block #{!important};
}

.cursor-default {
  @apply tw-cursor-default #{!important};
}

/* Hide the browser's default checkbox */
.container input {
  @apply tw-absolute  tw-cursor-pointer tw-h-0 tw-w-0
}

.checkmark {
  @apply tw-absolute tw-top-0 tw-left-0 tw-h-18-px tw-w-18-px tw-bg-white tw-rounded-md tw-border tw-border-box-color
}

.fyle .container input:checked ~ .checkmark {
  @apply tw-bg-faded-text-color
}

.co .container input:checked ~ .checkmark {
  @apply tw-bg-mandatory-field-color
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  @apply tw-content-empty tw-absolute tw-hidden
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  @apply tw-block ;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  content: url('./../../../../../assets/icons/co/grv-checkmark-small.svg') !important;
  @apply tw-left-[3px] tw-top-[-2px] tw-w-6-px tw-h-10-px tw-border-t-0-px tw-border-r-0-px tw-border-b-0-px tw-border-l-0-px tw-border-white;
}