  :host ::ng-deep .p-button {
    @apply tw-w-fit #{!important};
  }
  
  .save-btn {
    @apply tw-border tw-bg-mandatory-field-color tw-rounded-4-px #{!important};
  }
  
  .cancel-btn {
    @apply tw-py-10-px tw-px-16-px tw-border tw-border-box-color tw-bg-white tw-rounded-4-px tw-text-slightly-normal-text-color tw-mr-16-px #{!important};
  }
  
  :host ::ng-deep .p-dropdown {
    transform: scale(0.9);
  }
  
  .form-input-disabled {
    @apply tw-px-12-px tw-pt-0 tw-pb-14-px tw-bg-disabled-bg-color tw-border tw-border-box-color tw-rounded-8-px ;
  }
  
  .label-content {
    @apply tw-bg-disabled-bg-color tw-border tw-border-box-color tw-rounded-4-px tw-h-100-px ;
  }
  
  .name-text {
    @apply tw-pl-12-px tw-pt-0 tw-pr-8-px tw-pb-16-px ;
  }
  
  .form-field {
    @apply tw-pl-8-px tw-py-16-px tw-pr-22-px ;
  }
  
  .form-input {
    @apply tw-px-12-px tw-pt-0 tw-pb-14-px tw-bg-white tw-border tw-border-box-color tw-rounded-8-px ;
  }
  
  .container {
    @apply tw-flex tw-justify-center ;
  }
  
  .sub-text {
    @apply tw-rounded-8-px tw-border tw-border-separator tw-bg-configuration-bg tw-p-24-px tw-items-start tw-flex-col tw-gap-4;
  }
  
  .sub-text-note {
    @apply tw-flex tw-bg-info-section tw-p-16-px tw-items-start tw-self-stretch tw-text-14-px tw-font-400 tw-text-faded-text-color tw-not-italic
  }
  
  .fields-header {
    @apply tw-flex ;
  }
  
  .fields-header-text {
    @apply tw-font-500 tw-leading-16-px ;
  }
    
  :host ::ng-deep .p-inputswitch.p-inputswitch-checked .p-inputswitch-slider::after {
    @apply tw-content-yes tw-flex tw-justify-center tw-items-center tw-absolute tw-text-12-px tw-text-white tw-font-500 tw-left-2 tw-bottom-px ;
  }
  
  :host ::ng-deep .p-inputswitch:not(.p-inputswitch-checked) .p-inputswitch-slider::after {
    @apply tw-content-no tw-flex tw-justify-center tw-items-center tw-absolute tw-text-12-px tw-text-white tw-font-500 tw-left-6 tw-bottom-px ;
  }
    
  .add-button-container {
    @apply tw-flex tw-items-center tw-pt-7 tw-pl-40-px ;
  }
  
  .add-row-text {
    @apply tw-cursor-pointer tw-text-mandatory-field-color ; /* Changes the cursor to a hand when hovering */
  }
  
  .delete-button {
    @apply tw-cursor-pointer ;
  }
  
  .custom-option {
    @apply tw-flex tw-text-mandatory-field-color ;
  }
  
  .icon-align {
    @apply tw-ml-0 tw-mr-6-px tw-align-middle ;
  }
  
  :host ::ng-deep input {
    @apply tw-text-14-px #{!important};
  }
  
  :host ::ng-deep .selectedItem  .p-dropdown-trigger, :host ::ng-deep .selectedAccItem .p-dropdown-trigger{
    @apply tw-hidden #{!important};
  }

  :host ::ng-deep .selectedAccItem .p-dropdown.p-disabled {
    @apply tw-bg-disabled-bg-color tw-border tw-border-box-color #{!important}
  }
  
  .error-box {
    @apply tw-bg-alert-toast tw-border tw-border-alert-toast tw-rounded-4-px ;
  }

.container {
  display: block;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #5A5D72;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 6px;
  top: 3px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}