<p-dialog [header]="exportLogHeader + ' ' + ('dashboardExportLogDialog.headerSuffix' | transloco)" [dismissableMask]="true" [modal]="true" [draggable]="false" [(visible)]="isExportLogVisible" (onHide)="handleDialogClose()" [position]="'topright'" [style]="{ width: '50vw', height: '100vh' }">
    <p-header>
        <p [ngClass]="brandingStyle.common.dialogHeaderText">{{exportLogHeader}}</p>
        <h3 [ngClass]="brandingStyle.common.dialogDescriptionText">{{exportLogSubHeader}}</h3>
    </p-header>
    <div [ngClass]="brandingStyle.common.dialogSubDescriptionContainer">
        <h3 [ngClass]="brandingStyle.common.dialogSubDescriptionText">{{exportLogSubHeader}}</h3>
    </div>
    <div class="tw-bg-white">
        <app-export-log-table [appName]="appName" [filteredExpenseGroups]="accountingExports" [isDashboardFailed]="exportLogHeader==='Successful' ? false : true" [isExportLogTable]="false"></app-export-log-table>
    </div>
</p-dialog>
