<app-onboarding-steppers [isCloneSettingView]="true" [onboardingSteps]="onboardingSteps"></app-onboarding-steppers>
<div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-pt-80-px">
    <app-loader></app-loader>
</div>

<div *ngIf="!isLoading" class="clone-setting configuration--contents tw-border-separator tw-mt-24-px">
    <app-clone-setting-header [headerText]="'Employee Mapping'" [subHeaderText]="'Choose appropriate representation of your Employees in QuickBooks Online'"></app-clone-setting-header>

    <div class="clone-setting--field-section">
        <div class="clone-setting--field">
            <app-clone-setting-field
                [iconSource]="'user-two'"
                [label]="'How are your Employees represented in QuickBooks Online?'"
                [options]="employeeMappingOptions"
                [placeholder]="'Select representation'"
                [form]="employeeSettingForm"
                [isFieldMandatory]="true"
                [formControllerName]="'employeeMapping'"
                [dropdownDisplayKey]="'label'">
            </app-clone-setting-field>
        </div>

        <div class="clone-setting--field">
            <app-clone-setting-field
                [iconSource]="'question-square-outline'"
                [label]="'How should Employees in ' + brandingConfig.brandName + ' be matched to Employees/Vendors in QuickBooks Online?'"
                [options]="autoMapEmployeeOptions"
                [placeholder]="'Select representation'"
                [form]="employeeSettingForm"
                [isFieldMandatory]="false"
                [formControllerName]="'autoMapEmployee'"
                [dropdownDisplayKey]="'label'">
            </app-clone-setting-field>
        </div>
    </div>
</div>
