<app-onboarding-steppers [isCloneSettingView]="true" [onboardingSteps]="onboardingSteps"></app-onboarding-steppers>
<div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-pt-80-px">
    <app-loader></app-loader>
</div>

<div *ngIf="!isLoading" class="clone-setting configuration--contents tw-border-1-px tw-border-box-color tw-mt-24-px">
    <app-clone-setting-header [headerText]="'Employee Mapping'" [subHeaderText]="'Choose appropriate representation of your Employees in QuickBooks Online'"></app-clone-setting-header>

    <div class="clone-setting--field-section">
        <div class="clone-setting--field">
            <app-clone-setting-field
                [iconSource]="'user-two'"
                [label]="'How are your Employees represented in QuickBooks Online?'"
                [options]="employeeMappingOptions"
                [placeholder]="'Select representation'"
                [form]="employeeSettingForm"
                [isFieldMandatory]="true"
                [formControllerName]="'employeeMapping'"
                [dropdownDisplayKey]="'label'">
            </app-clone-setting-field>
        </div>

        <div class="clone-setting--field">
            <app-clone-setting-field
                [iconSource]="'question-square-outline'"
                [label]="'How should Employees in ' + brandingConfig.brandName + ' be matched to Employees/Vendors in QuickBooks Online?'"
                [options]="autoMapEmployeeOptions"
                [placeholder]="'Select representation'"
                [form]="employeeSettingForm"
                [isFieldMandatory]="false"
                [formControllerName]="'autoMapEmployee'"
                [dropdownDisplayKey]="'label'">
            </app-clone-setting-field>
        </div>
    </div>

    <app-clone-setting-header [headerText]="'Export Settings'" [subHeaderText]="'In this section, you can configure how and when expenses from ' + brandingConfig.brandName + ' should be exported to QuickBooks Online.'"></app-clone-setting-header>
    <div [formGroup]="exportSettingForm" class="clone-setting--field-section">
        <div class="clone-setting--field">
            <div class="clone-setting--export-setting-header">
                <div>
                    Export Reimbursable Expenses
                </div>
                <div>
                    <p-inputSwitch formControlName="reimbursableExpense"></p-inputSwitch>
                </div>
            </div>
        </div>

        <div *ngIf="exportSettingForm.value?.reimbursableExpense" class="clone-setting--field">
            <app-clone-setting-field
                [iconSource]="'list'"
                [label]="'How should the expenses be exported?'"
                [options]="reimbursableExportTypes"
                [placeholder]="'Choose the type of transaction in QuickBooks Online to export your ' + brandingConfig.brandName +' expenses'"
                [form]="exportSettingForm"
                [isFieldMandatory]="false"
                [formControllerName]="'reimbursableExportType'"
                [dropdownDisplayKey]="'label'">
            </app-clone-setting-field>

            <div class="clone-setting--dependent-field">
                <app-clone-setting-field *ngIf="helperService.isFieldRequired(exportSettingForm, 'bankAccount')"
                    [label]="'To which Bank Account should the ' + (exportSettingForm.value.reimbursableExportType | snakeCaseToSpaceCase | titlecase) + ' be posted to?'"
                    [options]="bankAccounts"
                    [placeholder]="'Select bank account'"
                    [form]="exportSettingForm"
                    [isFieldMandatory]="true"
                    [formControllerName]="'bankAccount'"
                    [dropdownDisplayKey]="'name'">
                </app-clone-setting-field>

                <app-clone-setting-field *ngIf="helperService.isFieldRequired(exportSettingForm, 'qboExpenseAccount')"
                    [label]="'To which Expense Account should the ' + (exportSettingForm.value.reimbursableExportType | snakeCaseToSpaceCase | titlecase) + ' be posted to?'"
                    [options]="expenseAccounts"
                    [placeholder]="'Select Expense account'"
                    [form]="exportSettingForm"
                    [isFieldMandatory]="true"
                    [formControllerName]="'qboExpenseAccount'"
                    [dropdownDisplayKey]="'name'">
                </app-clone-setting-field>

                <app-clone-setting-field *ngIf="(exportSettingForm.controls.reimbursableExportType.value === QBOReimbursableExpensesObject.BILL || (exportSettingForm.controls.reimbursableExportType.value === QBOReimbursableExpensesObject.JOURNAL_ENTRY && exportSettingForm.value.employeeMapping === EmployeeFieldMapping.VENDOR))"
                    [label]="'To which Accounts Payable account should the ' + (exportSettingForm.value.reimbursableExportType | snakeCaseToSpaceCase | titlecase) + ' be posted to?'"
                    [options]="accountsPayables"
                    [placeholder]="'Select accounts payable'"
                    [form]="exportSettingForm"
                    [isFieldMandatory]="true"
                    [formControllerName]="'accountsPayable'"
                    [dropdownDisplayKey]="'name'">
                </app-clone-setting-field>
            </div>
        </div>

        <div class="clone-setting--field">
            <app-clone-setting-field *ngIf="exportSettingForm.value.reimbursableExportType"
                [iconSource]="'list'"
                [label]="'At which state should the expenses be ready to export from ' + brandingConfig.brandName + '?'"
                [options]="expenseStateOptions"
                [placeholder]="'Select export state'"
                [form]="exportSettingForm"
                [isFieldMandatory]="true"
                [formControllerName]="'expenseState'"
                [dropdownDisplayKey]="'label'">
            </app-clone-setting-field>
        </div>

        <div class="clone-setting--field">
            <app-clone-setting-field *ngIf="exportSettingForm.value.reimbursableExportType"
                [iconSource]="'list'"
                [label]="'How should the expenses be grouped?'"
                [options]="expenseGroupByOptions"
                [placeholder]="'Select expense grouping'"
                [form]="exportSettingForm"
                [isFieldMandatory]="true"
                [formControllerName]="'reimbursableExportGroup'"
                [dropdownDisplayKey]="'label'">
            </app-clone-setting-field>
        </div>

        <div class="clone-setting--field">
            <app-clone-setting-field *ngIf="exportSettingForm.value.reimbursableExportType"
                [iconSource]="'list'"
                [label]="'Set the ' + (exportSettingForm.value.reimbursableExportType | snakeCaseToSpaceCase | titlecase) + ' date as'"
                [options]="reimbursableExpenseGroupingDateOptions"
                [placeholder]="'Select export date'"
                [form]="exportSettingForm"
                [isFieldMandatory]="true"
                [formControllerName]="'reimbursableExportDate'"
                [dropdownDisplayKey]="'label'">
            </app-clone-setting-field>
        </div>
    </div>

    <div [formGroup]="exportSettingForm" class="clone-setting--field-section">
        <div class="clone-setting--field">
            <div class="clone-setting--export-setting-header">
                <div>
                    Export Corporate Credit Card Expenses
                </div>
                <div>
                    <p-inputSwitch formControlName="creditCardExpense"></p-inputSwitch>
                </div>
            </div>
        </div>

        <div *ngIf="exportSettingForm.value?.creditCardExpense" class="clone-setting--field">
            <app-clone-setting-field
                [iconSource]="'list'"
                [label]="'How should the expenses be exported?'"
                [options]="creditCardExportTypes"
                [placeholder]="'Choose the type of transaction in QuickBooks Online to export your ' + brandingConfig.brandName +' expenses'"
                [form]="exportSettingForm"
                [isFieldMandatory]="false"
                [formControllerName]="'creditCardExportType'"
                [dropdownDisplayKey]="'label'">
            </app-clone-setting-field>

            <div class="clone-setting--dependent-field">
                <app-clone-setting-field *ngIf="showNameInJournalOption"
                    [label]="'Name in Journal Entry (CCC)'"
                    [options]="nameInJournalOptions"
                    [placeholder]="'Select a name'"
                    [form]="exportSettingForm"
                    [isFieldMandatory]="false"
                    [formControllerName]="'nameInJournalEntry'"
                    [dropdownDisplayKey]="'label'">
                </app-clone-setting-field>

                <app-clone-setting-field *ngIf="helperService.isFieldRequired(exportSettingForm, 'defaultCCCAccount')"
                    [label]="'Set Default Credit Card Account as'"
                    [options]="expenseAccounts"
                    [placeholder]="'Select Default Credit Card Account'"
                    [form]="exportSettingForm"
                    [isFieldMandatory]="true"
                    [formControllerName]="'defaultCCCAccount'"
                    [dropdownDisplayKey]="'name'">
                </app-clone-setting-field>

                <app-clone-setting-field *ngIf="helperService.isFieldRequired(exportSettingForm, 'defaultDebitCardAccount')"
                    [label]="'Set Default Debit Card Account as'"
                    [options]="accountsPayables"
                    [placeholder]="'Select Default Debit Card Account'"
                    [form]="exportSettingForm"
                    [isFieldMandatory]="true"
                    [formControllerName]="'defaultDebitCardAccount'"
                    [dropdownDisplayKey]="'name'">
                </app-clone-setting-field>

                <app-clone-setting-field *ngIf="helperService.isFieldRequired(exportSettingForm, 'defaultCreditCardVendor')"
                    [label]="'Set default corporate Card Vendor as'"
                    [options]="vendors"
                    [placeholder]="'Select default corporate card vendor'"
                    [form]="exportSettingForm"
                    [isFieldMandatory]="true"
                    [formControllerName]="'defaultCreditCardVendor'"
                    [dropdownDisplayKey]="'name'">
                </app-clone-setting-field>

                <app-clone-setting-field *ngIf="(exportSettingForm.value.creditCardExportType === QBOCorporateCreditCardExpensesObject.BILL) && !((exportSettingForm.controls.reimbursableExportType.value === QBOReimbursableExpensesObject.BILL || (exportSettingForm.controls.reimbursableExportType.value === QBOReimbursableExpensesObject.JOURNAL_ENTRY && exportSettingForm.value.employeeMapping === EmployeeFieldMapping.VENDOR)))"
                    [label]="'To which Accounts Payable account should the ' + (exportSettingForm.value.creditCardExportType | snakeCaseToSpaceCase | titlecase) + ' be posted to?'"
                    [options]="accountsPayables"
                    [placeholder]="'Select accounts payable'"
                    [form]="exportSettingForm"
                    [isFieldMandatory]="true"
                    [formControllerName]="'accountsPayable'"
                    [dropdownDisplayKey]="'name'">
                </app-clone-setting-field>
            </div>
        </div>

        <div class="clone-setting--field">
            <app-clone-setting-field *ngIf="exportSettingForm.value.creditCardExportType"
                [iconSource]="'list'"
                [label]="'At which state should the expenses be ready to export from ' + brandingConfig.brandName + '?'"
                [options]="expenseStateOptions"
                [placeholder]="'Select CCC expense state'"
                [form]="exportSettingForm"
                [isFieldMandatory]="true"
                [formControllerName]="'cccExpenseState'"
                [dropdownDisplayKey]="'label'">
            </app-clone-setting-field>
        </div>

        <div class="clone-setting--field">
            <app-clone-setting-field *ngIf="exportSettingForm.value.creditCardExportType"
                [iconSource]="'list'"
                [label]="'How should the expenses be grouped?'"
                [options]="expenseGroupByOptions"
                [placeholder]="'Select expense grouping'"
                [form]="exportSettingForm"
                [isFieldMandatory]="true"
                [formControllerName]="'creditCardExportGroup'"
                [dropdownDisplayKey]="'label'">
            </app-clone-setting-field>
        </div>

        <div class="clone-setting--field">
            <app-clone-setting-field *ngIf="exportSettingForm.value.creditCardExportType"
                [iconSource]="'list'"
                [label]="'Set the ' + (exportSettingForm.value.creditCardExportType | snakeCaseToSpaceCase | titlecase) + ' date as'"
                [options]="cccExpenseGroupingDateOptions"
                [placeholder]="'Select export date'"
                [form]="exportSettingForm"
                [isFieldMandatory]="true"
                [formControllerName]="'creditCardExportDate'"
                [dropdownDisplayKey]="'label'">
            </app-clone-setting-field>
        </div>
    </div>
</div>
