@if (isGradientAllowed) {
  <div class="tw-absolute tw-bg-header-1 tw-h-84-px tw-w-[100%]"></div>
}
@if (isGradientAllowed) {
  <div class="tw-absolute tw-bg-header-2 tw-h-84-px tw-w-[100%]"></div>
}

<div class="tw-py-40-px page-layout-container" [ngClass]="brandingStyle.common.mainComponentPadding">
  <div [ngClass]="brandingStyle.dashboard.mapping.background">
    @if (brandingFeatureConfig.useMainMenuForSubmenu && brandingFeatureConfig.featureFlags.advancedSettings.skipExport) {
      <app-main-menu [modules]="modules" [styleClasses]="brandingStyle.dashboard.subMenuContainer" [activeItem]="activeModule"></app-main-menu>
    } @else if (brandingFeatureConfig.featureFlags.advancedSettings.skipExport) {
      <app-sub-menu [modules]="modules" [activeModule]="activeModule"></app-sub-menu>
    }
    <div class="router-outlet-container">
      <router-outlet></router-outlet>
    </div></div>
  </div>