:host ::ng-deep .dropdown-time-alone .p-select {
  @apply tw-w-150-px #{!important};
}

:host ::ng-deep .dropdown-time .p-select {
  @apply tw-w-120-px #{!important};
}

:host ::ng-deep .dropdown-monthy .p-select {
  @apply lg:tw-w-176-px md:tw-w-120-px #{!important};
}

:host ::ng-deep .error-box .p-select {
  @apply tw-border-border-danger-dark #{!important};
}

:host ::ng-deep .normal-box .p-select {
  @apply tw-border-select-default-border #{!important};
}

:host ::ng-deep .normal-box .p-select.p-focus {
  @apply tw-border-select-focused-border #{!important};
}

:host ::ng-deep .dropdown-size-schedule .p-select {
  @apply tw-w-110-px #{!important};
}

:host ::ng-deep .dropdown-size-schedule .p-disabled,
.p-component:disabled {
  @apply tw-opacity-100;
}

.sub-text {
  @apply tw-text-text-muted tw-text-12-px;
}

:host ::ng-deep .selectedItem .p-select-dropdown {
  @apply tw-hidden #{!important};
}

:host ::ng-deep .dropdown-size-schedule .selectedItem .p-select-dropdown {
  @apply tw-visible #{!important};
}

:host ::ng-deep .hide-chevron .p-select-dropdown {
  @apply tw-hidden #{!important};
}
