<form [formGroup]="form">
  <p-select
    appendTo="body"
    [ngClass]="additionalClasses ? additionalClasses : ''"
    [placeholder]="placeholder"
    [options]="options"
    [disabled]="isDisabled"
    [formControlName]="formControllerName"
  >
    <ng-template pTemplate="item" let-item>
      <div
        #textElement
        class="tw-flex tw-justify-between tw-items-center"
        [ngStyle]="{ 'white-space': 'nowrap', overflow: 'hidden', 'text-overflow': 'ellipsis', 'max-width': '16rem' }"
        [pTooltip]="textElement.offsetWidth < textElement.scrollWidth ? item[displayKey] : null"
        tooltipPosition="top"
      >
        <span>
          {{ item[displayKey] }}
        </span>
        @if (isMultiLineOption) {
          <p class="tw-text-text-muted tw-text-12-px">
            {{ item['subLabel'] }}{{ 'dropdown.subLabelSuffix' | transloco }}
          </p>
        }
      </div>
    </ng-template>

    <ng-template pTemplate="selectedItem" let-item>
      <div class="tw-flex tw-justify-between tw-items-center">
        <span>
          {{ item[displayKey] }}
        </span>
      </div>
    </ng-template>
  </p-select>
</form>
