.p-select, .p-select-option, .p-select-empty-message {
  font-size: 14px !important;
}

.p-select-list {
  padding: 0px !important;
}

.p-dropdown-filter {
  height: 32px !important;
}

.p-inputicon {
  left: 10px !important;
}
