.container {
    @apply tw-justify-center;
}

.inside-container {
    @apply tw-border-solid tw-border-1-px tw-border-border-tertiary tw-rounded-8-px tw-p-24-px tw-flex-col tw-items-start tw-gap-4;
    max-width: auto;
}

.sub-text-container {
    @apply tw-border-solid tw-border-1-px tw-border-border-tertiary tw-rounded-8-px tw-p-24-px tw-flex-col tw-items-start tw-gap-4 tw-bg-bg-tertiary-lighter;
    max-width: auto;
}

.flex-wrapper {
    @apply tw-flex tw-items-start tw-justify-between;
}

:host  ::ng-deep .p-dialog {
    @apply tw-max-h-full tw-m-0 #{!important};
  }

.dialog-sub-header {
    @apply tw-text-text-muted tw-text-14-px tw-font-400 tw-mt-8-px #{!important};
}