<div class="tw-py-24-px" [ngClass]="{'tw-px-120-px': brandingConfig.brandId === 'fyle', 'tw-px-60-px': brandingConfig.brandId === 'co'}">
    <div *ngIf="errors" class="tw-mt-24-px tw-rounded-8-px tw-bg-white tw-border-1-px tw-border-border-tertiary" [ngClass]="{'tw-shadow-app-card': brandingConfig.brandId === 'fyle', 'tw-shadow-shadow-level-1': brandingConfig.brandId === 'co'}">
        <div class="tw-flex tw-justify-between tw-items-center tw-p-24-px">
                <h4 class="tw-text-text-primary !tw-font-500 !tw-text-18-px">Errors</h4>
        </div>
        <div class="tw-border-border-tertiary tw-border-t-1-px tw-pb-24-px">
            <div class="tw-mt-10-px tw-rounded-6-px tw-bg-white">
                <div *ngIf="errors.EMPLOYEE_MAPPING?.length || groupedErrorStat.EMPLOYEE_MAPPING || errors.CATEGORY_MAPPING.length || groupedErrorStat.CATEGORY_MAPPING" class="tw-pl-24-px tw-pr-24-px tw-pt-24-px">
                    <div class="container">
                        <div class="sub-text-container">
                            <h4 class="tw-text-16-px !tw-font-500 tw-text-text-primary">{{brandingContent.integrationErrorHeader}}</h4>
                            <h5 class="!tw-text-text-muted tw-text-14-px !tw-font-400 !tw-leading-4 tw-pt-10-px">Check and resolve these errors before trying to export them again.</h5>
                        </div>
                    </div>
                </div>

                <div *ngIf="errors?.EMPLOYEE_MAPPING?.length || groupedErrorStat.EMPLOYEE_MAPPING" class="tw-pl-24-px tw-pr-24-px tw-mt-24-px">
                    <div class="container">
                        <div class="inside-container">
                            <h4 class="tw-text-14-px !tw-font-500 tw-text-text-secondary">{{brandingConfig.brandId === 'co' ? (brandingContent.employeeMappingErrorText | sentenceCase) : brandingContent.employeeMappingErrorText}}</h4>
                            <h5 *ngIf="groupedErrorStat.EMPLOYEE_MAPPING" class="tw-text-text-muted tw-text-12-px">{{ groupedErrorStat.EMPLOYEE_MAPPING.resolvedCount }}/{{ groupedErrorStat.EMPLOYEE_MAPPING.totalCount }} {{groupedErrorStat.EMPLOYEE_MAPPING.totalCount > 1 ? 'errors' : 'error'}} resolved</h5>
                            <div class="flex-wrapper">
                                <h5 class="!tw-text-text-muted tw-text-14-px tw-pt-10-px !tw-font-400 !tw-leading-4">
                                    <p>Map employees in {{brandingConfig.brandName}} to their corresponding records in {{uiExposedAppName}}.</p>
                                </h5>
                                <div *ngIf="!groupedErrorStat.EMPLOYEE_MAPPING || (groupedErrorStat.EMPLOYEE_MAPPING && groupedErrorStat.EMPLOYEE_MAPPING.resolvedCount !== groupedErrorStat.EMPLOYEE_MAPPING.totalCount)">
                                    <span type="button" (click)="showMappingResolve(ErrorType.EMPLOYEE_MAPPING, errors.EMPLOYEE_MAPPING, ExportErrorSourceType.EMPLOYEE)" [ngClass]="[brandingConfig.brandId==='co' ? 'p-button primary-outline': 'p-button secondary-sm']">
                                        Resolve
                                    </span>
                                </div>
                                <div class="tw-flex tw-items-center" *ngIf="groupedErrorStat.EMPLOYEE_MAPPING && groupedErrorStat.EMPLOYEE_MAPPING.resolvedCount === groupedErrorStat.EMPLOYEE_MAPPING.totalCount">
                                    <app-svg-icon [svgSource]="'check-circle-outline'" [width]="'24px'" [height]="'24px'" [styleClasses]="'tw-text-success-toast tw-pr-6-px'"></app-svg-icon>
                                    <p class="tw-text-text-muted tw-text-14-px">
                                    Resolved
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div *ngIf="errors?.CATEGORY_MAPPING?.length || (groupedErrorStat && groupedErrorStat.CATEGORY_MAPPING)" class="tw-pl-24-px tw-pr-24-px tw-pt-16-px">
                    <div class="container">
                        <div class="inside-container">
                            <h4 class="tw-text-14-px !tw-font-500 tw-text-text-secondary">{{brandingConfig.brandId === 'co' ? (brandingContent.categoryMappingErrorText | sentenceCase) : brandingContent.categoryMappingErrorText}}</h4>
                            <h5 *ngIf="groupedErrorStat.CATEGORY_MAPPING" class="tw-pt-4-px tw-text-text-muted tw-text-12-px">{{ groupedErrorStat.CATEGORY_MAPPING.resolvedCount }}/{{ groupedErrorStat.CATEGORY_MAPPING.totalCount }} {{groupedErrorStat.CATEGORY_MAPPING.totalCount > 1 ? 'errors' : 'error'}} resolved</h5>
                            <div class="flex-wrapper">
                                <h5 class="!tw-text-text-muted tw-text-14-px tw-pt-10-px !tw-font-400 !tw-leading-4"><p>Map categories in {{brandingConfig.brandName}} to their corresponding records in {{uiExposedAppName}}.</p>
                                </h5>
                                <div *ngIf="!groupedErrorStat.CATEGORY_MAPPING || (groupedErrorStat.CATEGORY_MAPPING && groupedErrorStat.CATEGORY_MAPPING.resolvedCount !== groupedErrorStat.CATEGORY_MAPPING.totalCount)">
                                    <span type="button" (click)="showMappingResolve(ErrorType.CATEGORY_MAPPING, errors.CATEGORY_MAPPING, ExportErrorSourceType.CATEGORY)" [ngClass]="[brandingConfig.brandId==='co' ? 'p-button primary-outline': 'p-button secondary-sm']">
                                        Resolve
                                    </span>
                                </div>
                                <div class="tw-flex tw-items-center" *ngIf="groupedErrorStat.CATEGORY_MAPPING && groupedErrorStat.CATEGORY_MAPPING.resolvedCount === groupedErrorStat.CATEGORY_MAPPING.totalCount">
                                    <app-svg-icon [svgSource]="'check-circle-outline'" [width]="'24px'" [height]="'24px'" [styleClasses]="'tw-text-success-toast tw-pr-6-px'"></app-svg-icon>
                                    <p class="tw-text-text-muted tw-text-14-px">
                                    Resolved
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="errors?.ACCOUNTING_ERROR?.length" class="tw-pl-24-px tw-pr-24-px tw-pt-16-px">
                    <div class="container">
                        <div class="sub-text-container">
                            <h4 class="tw-text-16-px !tw-font-500 tw-text-text-primary">{{uiExposedAppName}} {{brandingContent.qboErrorText}}</h4>
                            <h5 class="!tw-text-text-muted tw-text-14-px tw-pt-10-px !tw-font-400 !tw-leading-4">Resolve these errors on your {{uiExposedAppName}} account before trying to export them again.</h5>
                        </div>
                    </div>
                </div>

                <div *ngFor="let error of errors?.ACCOUNTING_ERROR" class="tw-pl-24-px tw-pr-24-px tw-pt-16-px">
                    <div class="container">
                        <div class="inside-container">
                            <h4 class="tw-text-14-px !tw-font-500 tw-text-text-secondary tw-w-600-px">{{ error.error_title | snakeCaseToSpaceCase | titlecase }}</h4>
                            <div class="flex-wrapper">
                                <h5 class="!tw-text-text-muted tw-text-12-px tw-pt-10-px !tw-font-400 !tw-leading-4 tw-w-600-px tw-flex tw-items-center tw-justify-start">
                                    <p>{{ error.error_detail }}
                                        <a *ngIf="error.article_link && brandingFeatureConfig.allowIntacctHelperDoc" class=" tw-pr-4-px tw-text-link-primary tw-w-fit tw-cursor-pointer tw-inline-flex tw-items-center"
                                            (click)="windowService.openInNewTab(error.article_link)">
                                            {{ helper.sentenseCaseConversion('Read More') }}
                                            <app-svg-icon *ngIf="brandingFeatureConfig.isIconsInsideButtonAllowed" [svgSource]="'open-in-new-tab'" [width]="'16px'" [height]="'16px'"
                                                class="tw-text-link-primary tw-pl-2-px tw-w-fit">
                                            </app-svg-icon>
                                        </a>
                                    </p>
                                </h5>
                                <div>
                                    <span type="button" (click)="showErrorDialog(error)" [ngClass]="[brandingConfig.brandId==='co' ? 'p-button primary-outline': 'p-button secondary-sm']">
                                        {{brandingContentCommon.viewExpenseText}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Integration Specific Errors -->
<div *ngIf="isAccountingErrorDialogVisible">
    <p-dialog [dismissableMask]="true" [modal]="true" [(visible)]="isAccountingErrorDialogVisible" [position]="'topright'" [style]="{ width: 'fit-content', height: '100vh' }" [maximizable]="false" [draggable]="false" [resizable]="false" [breakpoints]="{ '960px': '75vw' }">
        <p-header>
            <p class="tw-text-text-primary tw-text-20-px tw-line-height-20">{{uiExposedAppName}} {{brandingContent.qboErrorDialogHeaderText}}</p>
            <h3 class="dialog-sub-header">
                <p>{{ errorDetail }}.
                    <a *ngIf="errorArticle && brandingFeatureConfig.allowIntacctHelperDoc" class=" tw-pr-4-px tw-text-link-primary tw-w-fit tw-cursor-pointer tw-inline-flex tw-items-center"
                        (click)="windowService.openInNewTab(errorArticle)">
                        {{ helper.sentenseCaseConversion('Read More') }}
                        <app-svg-icon *ngIf="brandingFeatureConfig.isIconsInsideButtonAllowed" [svgSource]="'open-in-new-tab'" [width]="'16px'" [height]="'16px'"
                            class="tw-text-link-primary tw-pl-2-px tw-w-fit">
                        </app-svg-icon>
                    </a>
                </p>
            </h3>
        </p-header>
        <app-dashboard-accounting-error-dialog  [isLoading]="isLoading" [errorExpenses]="errorExpenses"></app-dashboard-accounting-error-dialog>
    </p-dialog>
</div>

<ng-template #shimmers>
    <app-shimmers [isExportLogFetchInProgress]="isExportLogFetchInProgress" [exportLogHeader]="exportLogHeader"></app-shimmers>
</ng-template>


<!-- Mapping Errors -->
<div>
    <p-dialog [dismissableMask]="true" [(visible)]="isMappingResolveVisible" [modal]="true" [position]="'topright'" [style]="{ width: 'fit-content', height: '100vh' }" [maximizable]="false" [draggable]="false" [resizable]="false" [breakpoints]="{ '960px': '75vw' }" (onHide)="handleResolvedMappingStat()">
        <p-header>
            <p class="tw-text-text-primary tw-text-20-px tw-line-height-20">{{ brandingConfig.brandId === 'co' ? (errorType | snakeCaseToSpaceCase | sentenceCase) : (errorType | snakeCaseToSpaceCase | titlecase) }} {{brandingContentCommon.errors}}</p>
            <p class="dialog-sub-header">Resolve the following mapping errors to export your failed expenses successfully to {{uiExposedAppName}}</p>
        </p-header>
          <app-generic-mapping-table *ngIf="isMappingResolveVisible && !isLoading" [employeeFieldMapping]="employeeFieldMapping" [isLoading]="isLoading" [appName]="appName" [isDashboardMappingResolve]="true" [destinationField]="destinationField" [filteredMappings]="filteredMappings" [sourceField]="sourceField" [destinationOptions]="destinationOptions" [displayName]="displayName" [isMultiLineOption]="isMultiLineOption" [detailAccountType]="detailAccountType"></app-generic-mapping-table>
    </p-dialog>
</div>