<div *ngIf="enableSkipExport">
    <div class="tw-flex tw-flex-col">
      <form [formGroup]="skipExportForm" class="tw-flex tw-flex-col">
        <div class="tw-flex">
            <div class="tw-pl-24 tw-pr-24 fields-header-1">
                Condition
                <app-mandatory-field></app-mandatory-field>
              </div>
              <div class="tw-pl-36 tw-pr-24 fields-header-2">
                Operator
                <app-mandatory-field></app-mandatory-field>
              </div>
              <div class="tw-pl-36 fields-header-3" *ngIf="showValueHeader1()">
                Value
                <app-mandatory-field></app-mandatory-field>
              </div>
            </div>
            <div class="tw-flex items-center dropdown-row">
              <span class="where-text">Where</span>
              <div>
                <p-dropdown [options]="conditionFieldOptions" formControlName="condition1"></p-dropdown>
                <app-mandatory-error-message *ngIf="skipExportForm.controls.condition1.touched && !skipExportForm.controls.condition1.valid"
                [customErrorMessage]="'Please select the condition'"></app-mandatory-error-message>
              </div>
              <div>
                <p-dropdown [options]="operatorFieldOptions1" formControlName="operator1"></p-dropdown>
                <app-mandatory-error-message *ngIf="skipExportForm.controls.operator1.touched && !skipExportForm.controls.operator1.valid"
                [customErrorMessage]="'Please select the operator'"></app-mandatory-error-message>
              </div>
          <div *ngIf="showInputField1()">
            <input type="text" formControlName="value1" placeholder="Enter a value" class="border p-2 rounded">
          </div>
          <div *ngIf="showChipField1()">
            <p-chips [(ngModel)]="valueOption1" formControlName="value1"></p-chips>
          </div>
          <div *ngIf="showDateField1()">
            <p-calendar [(ngModel)]="date1" formControlName="value1"></p-calendar>
          </div>
        </div>
  
        <div *ngIf="showAdditionalCondition">
          <div class="tw-flex items-center">
            <div></div>
            <div class="fields-header-1">
              Condition
              <app-mandatory-field></app-mandatory-field>
            </div>
            <div class="fields-header-2">
              Operator
              <app-mandatory-field></app-mandatory-field>
            </div>
            <div class="fields-header-3" *ngIf="showValueHeader2()">
              Value
              <app-mandatory-field></app-mandatory-field>
            </div>
          </div>
          <div class="tw-flex items-center">
            <div class="w-1/12"></div>
            <div class="w-1/12">
              <p-dropdown [options]="joinByOptions" formControlName="join_by"></p-dropdown>
            </div>
            <div>
              <p-dropdown [options]="conditionFieldOptions" formControlName="condition2"></p-dropdown>
              <app-mandatory-error-message *ngIf="skipExportForm.controls.condition2.touched && !skipExportForm.controls.condition2.valid"
              [customErrorMessage]="'Please select the condition'"></app-mandatory-error-message>
            </div>
            <div>
              <p-dropdown [options]="operatorFieldOptions2" formControlName="operator2"></p-dropdown>
              <app-mandatory-error-message *ngIf="skipExportForm.controls.operator2.touched && !skipExportForm.controls.operator2.valid"
              [customErrorMessage]="'Please select the operator'"></app-mandatory-error-message>
            </div>
            <div *ngIf="showInputField2()">
              <input type="text" formControlName="value2" placeholder="Enter a value" class="border p-2 rounded">
            </div>
            <div *ngIf="showChipField2()">
              <p-chips [(ngModel)]="valueOption2" formControlName="value2"></p-chips>
            </div>
            <div>
              <p-calendar [(ngModel)]="date2" formControlName="value2"></p-calendar>
            </div>
            <img class="delete-icon" src="assets/images/pngs/delete.svg" (click)="remCondition()" matTooltip="Remove condition">
          </div>
          <div class="validation-text" *ngIf="checkValidationCondition()">
            <p>Condition selected should be distinct.</p>
          </div>
        </div>
  
        <div class="tw-flex items-center" *ngIf="showAddButton">
          <img class="add-icon" src="assets/images/pngs/add.svg" (click)="updateAdditionalFilterVisibility(true)">
          <a class="add-row-text" (click)="updateAdditionalFilterVisibility(true)">
            Add Condition
          </a>
        </div>
      </form>
    </div>
  </div>
  