.fields-header {
  font-size: 14px;
  color: #5a5d72;
}

.delete-icon {
  @apply tw-text-center tw-cursor-pointer tw-ml-26-px tw-max-h-20-px tw-max-w-20-px #{!important};
}

.value-input-field {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 10px;
  display: inline-flex;
  align-items: center;
  width: 296px !important;
}

:host ::ng-deep .joinby-field .p-select {
  width: 98px !important;
  height: 38px !important;
}

:host ::ng-deep .p-select .p-select-dropdown-icon {
  @apply tw-text-12-px tw-mr-12-px tw-w-auto;
}

:host ::ng-deep .p-datepicker .p-inputtext {
  @apply tw-cursor-pointer tw-w-360-px tw-h-40-px tw-border-solid tw-py-10-px tw-px-14-px tw-border #{!important};
}

:host ::ng-deep .p-autocomplete-token {
  height: 24px;  /* Reduced height */
  align-items: center;  /* Center content */
  background-color: white !important;  /* Change background color to white */
  border: 1px solid #ccc;  /* Optional: Add a border to make it visible against the white background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);  /* Add shadow */
}

/* To remove blue hover and other styles */
:host ::ng-deep .p-autocomplete input:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: inherit !important;
}

/* Scrollable container */
:host ::ng-deep .p-autocomplete-multiple-container {
  max-height: 80px;
  overflow-y: auto;
  width: 360px !important;
  height: auto !important;
  min-height: 38px !important;
  padding-top: 2px!important;
  padding-bottom: 2px!important;
}

/* Change text color to black */
:host ::ng-deep .p-autocomplete-token-label {
  @apply tw-text-slightly-normal-text-color #{!important};
}


:host ::ng-deep .p-autocomplete-token-icon {
  @apply tw-text-slightly-normal-text-color #{!important};
}

:host ::ng-deep .p-autocomplete-multiple-container::-webkit-scrollbar {
  background: transparent;  /* For WebKit browsers like Chrome and Safari */
}

:host ::ng-deep .p-select-panel .p-select-items .p-select-item:not(.p-highlight):hover .p-datepicker .p-inputtext{
  @apply tw-bg-input-read-only-bg #{!important};
}

:host ::ng-deep .p-datepicker ::placeholder {
  @apply tw-text-placeholder #{!important};
}

.chip-hint {
  font-size: 12px !important;
  color: grey !important;
}

:host ::ng-deep .p-select {
  transform: scale(0.9);
  width: 180px !important;
}

:host ::ng-deep input {
  @apply tw-text-14-px #{!important};
}
