<div [formGroup]="form" class="tw-p-24-px tw-flex tw-justify-between tw-items-center" [ngClass]="{'tw-pb-0': hasDependentFields && form.get(formControllerName)?.value}">
  <ng-template #toggleSwitch>
    <p-inputSwitch
      [formControlName]="formControllerName"
      [tooltipPosition]="'top'"
      [pTooltip]="disabled && appName === AppName.XERO ? ('xero.configuration.importSetting.toggleToastMessage' | transloco: {brandName: brandingConfig.brandName}) : ''"
      [attr.aria-label]="label"
      role="switch"
      [attr.aria-checked]="form.get(formControllerName)?.value"
    ></p-inputSwitch>
  </ng-template>
    <div class="tw-flex tw-items-start" [ngClass]="{'tw-w-3/4': !hideToggle}">
      <div *ngIf="iconPath && !isConfigToggleLeftAligned" [ngClass]="[iconPath ? 'tw-pr-16-px' : '']">
        <app-svg-icon [svgSource]="iconPath" [width]="'24px'" [height]="'24px'" [styleClasses]="'tw-text-icon-primary'"></app-svg-icon>
      </div>
      @if (isConfigToggleLeftAligned) {
        <div>
          <ng-container *ngTemplateOutlet="toggleSwitch"></ng-container>
        </div>
      }
      <div class="tw-text-pretty">
        <h4 [ngClass]="isSectionHeader ? 'tw-text-text-primary tw-text-16-px !tw-font-500' : brandingStyle.qbd_direct.onboarding.configurationToggleHeaderText">
          {{label}}
          <app-optional-field *ngIf="!isAsterikAllowed && !isSectionHeader && !(brandingConfig.brandId === 'co' && appName === AppName.QBD_DIRECT)"></app-optional-field>
        </h4>
        @if (subLabel) {
          <h5 class="!tw-leading-4" [ngClass]="[brandingStyle.common.inputLabelTextStyle, brandingStyle.qbd_direct.onboarding.configurationToggleDescriptionText]">
            <span [innerHTML]="subLabel + ' '"></span>
            <a *ngIf="redirectLink"
              class="link tw-w-fit tw-inline-flex tw-items-center"
              (click)="windowService.openInNewTab(redirectLink)">
              {{'common.readMoreText' | transloco}}
              <app-svg-icon *ngIf="brandingFeatureConfig.isIconsInsideButtonAllowed" [svgSource]="'open-in-new-tab'" [width]="'16px'" [height]="'16px'"
                class="tw-text-link-primary tw-pl-2-px tw-w-fit">
              </app-svg-icon>
            </a>
          </h5>
        }
      </div>
    </div>
    <div *ngIf="!hideToggle && !isConfigToggleLeftAligned" class="configuration--input-toggle-section">
      <ng-container *ngTemplateOutlet="toggleSwitch"></ng-container>
    </div>
  </div>
