<div class="spotlight-overlay" [class.show]="isSpotlightOpen" (click)="closeSpotlight()" *ngIf="isSpotlightOpen">
  <div class="spotlight-container" [class.show]="isSpotlightOpen" *ngIf="isSpotlightOpen">
    <div class="search-input-container">
      <i class="pi pi-search search-icon"></i>
      <input
        id="spotlight-input"
        type="text"
        [(ngModel)]="searchQuery"
        placeholder="Search..."
        (keydown.escape)="onToggleSpotlight()"
        (input)="onSearchInput()"
      >
    </div>
    <div class="search-results">
      <h3 class="search-result-heading">IIF Actions</h3>
      <div class="search-result-item" *ngFor="let option of iifOptions" (click)="onSelectOption(option)">
         
        <span>{{ option.title }}</span>
      </div>
      
      <h3 class="search-result-heading">Tweak Settings</h3>
      <div class="search-result-item" *ngFor="let option of configOptions" (click)="onSelectOption(option)">
         
        <span>{{ option.title }}</span>
      </div>
      
      <h3 class="search-result-heading">Support</h3>
      <div class="search-result-item" *ngFor="let option of supportOptions" (click)="onSelectOption(option)">
         
        <span>{{ option.title }}</span>
      </div>
    </div>
  </div>
</div>
