<div class="spotlight-overlay" [class.show]="isSpotlightOpen" (click)="closeSpotlight()" *ngIf="isSpotlightOpen">
  <div class="spotlight-container" [class.show]="isSpotlightOpen" (click)="$event.stopPropagation()">
    <div class="search-input-container">
      <i class="pi pi-search search-icon"></i>
      <input
        id="spotlight-input"
        type="text"
        [(ngModel)]="searchQuery"
        placeholder="Search..."
        (keydown.escape)="onToggleSpotlight()"
        (input)="onSearchInput()"
      >
    </div>
    <div class="search-results">
      <ng-container *ngIf="!showShimmer; else shimmerTemplate">
        <ng-container *ngIf="!isHelpClicked;">
          <h3 class="search-result-heading">Actions</h3>
          <div class="search-result-item" *ngFor="let option of iifOptions; let i = index" 
               (click)="onSelectOption(option)"
               [class.active]="i === activeIndex">
            <i class="pi" [ngClass]="option.icon"></i>
            <div>
              <span class="tw-font-500">{{ option.title }}</span><br/>
            </div>
          </div>
        </ng-container>
        
        <ng-container *ngIf="!isHelpClicked;">
          <h3 class="search-result-heading">Navigation</h3>
          <div class="search-result-item" *ngFor="let option of configOptions; let i = index" 
               (click)="onSelectOption(option)"
               [class.active]="i + iifOptions.length === activeIndex">
            <i class="pi" [ngClass]="option.icon"></i>
            <div>
              <span class="tw-font-500">{{ option.title }}</span><br/>
            </div>
          </div>
        </ng-container>
        
        <ng-container *ngIf="!isHelpClicked;">
          <h3 class="search-result-heading">Help</h3>
          <div class="search-result-item" *ngFor="let option of supportOptions; let i = index" 
               (click)="onSelectOption(option)"
               [class.active]="i + iifOptions.length + configOptions.length === activeIndex">
            <i class="pi" [ngClass]="option.icon"></i>
            <div>
              <span class="tw-font-500">{{ option.title }}</span><br/>
              <span class="search-result-item-description !tw-text-14-px !tw-text-sub-text-color">Description: {{ option.description }}</span>
            </div>
          </div>
        </ng-container>
        
      </ng-container>
      
      <ng-template #shimmerTemplate>
        <div class="shimmer-container">
          <div class="shimmer-item" *ngFor="let i of [1,2,3,4,5]">
            <div class="shimmer-icon"></div>
            <div class="shimmer-text">
              <div class="shimmer-line"></div>
              <div class="shimmer-line shimmer-line-short"></div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>

    <div class="dialog-overlay" *ngIf="isHelpClicked">
      <div>
        <h3 class="search-result-heading" *ngIf="isHelpClicked">Help</h3>
        <h4 class="tw-text-20-px tw-p-10-px tw-text-500" *ngIf="isHelpClicked">{{ helpQueryTitle }}</h4>
        <div class="dialog-content help-content">
          <ng-container *ngIf="!isLoadingHelp else shimmerTemplate">
            <p class="tw-text-base tw-leading-relaxed tw-p-4 tw-bg-white tw-rounded tw-shadow-md" [innerHTML]="message"></p>
          </ng-container>
        </div>
      </div>
    </div>

  </div>
  
  
</div>
