:host ::ng-deep .error-box {
    @apply tw-border-alert-toast #{!important};
}

:host ::ng-deep .normal-box  {
    @apply tw-border-box-color #{!important};
}

:host ::ng-deep .normal-box :enabled:focus-visible {
    @apply tw-border-slightly-normal-text-color #{!important};
}

input.custom-focus:focus {
  outline: none;
  border: 1px solid black !important;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .half-width {
    width: 50%;
  }

  .required::after {
    content: "*";
    color: red;
  }

  /* Add these styles to highlight the input fields with red border */
.tw-border-red-600 {
  border-color: #EF4444; /* Red color */
}

.label {
  color: #5A5D72;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.incorrect-credential {
  color: #DA1E28;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }