/* Common styles */
.tw-flex {
  display: flex;
}

.tw-justify-center {
  justify-content: center;
}

.tw-items-center {
  align-items: center;
}

.tw-relative {
  position: relative;
}

.tw-absolute {
  position: absolute;
}

.tw-h-screen {
  height: 100vh;
}

.sub-text-color {
  color: #5A5D72;
}

/* Loader styles */
.intacct-connector--loader {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

/* Content styles */
.connector--fyle-org-section {
  padding: 56px 114px 0;
  font-size: 1.17em;
  text-align: center;
}

.connector--fyle-section-text {
  font-weight: 700;
  font-size: 0.83em;
  margin-block: 1.67em;
}

.connector--switch-org-section {
  padding: 16px 94.5px 56px;
}

.connector--org-switch-separator {
  border-top: 1px solid #F5F5F5;
  width: 302px;
}

.connector--switch-org-inner-section {
  padding-top: 8px;
}

.connector--switch-org-text {
  padding-top: 8px;
}

.connector--connection-block-separator {
  border-left: 1px solid #F5F5F5;
  height: 150px; /* Increased height */
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
}

.connector--connection-block-separator-1,
.connector--connection-block-separator-2 {
  position: absolute;
  border-left: 1px solid #F5F5F5;
  height: 200px; /* Adjusted height to span from top to bottom */
  top: 50%;
  transform: translateY(-50%);
}

.connector--connection-block-separator-1 {
  left: -82px;
}

.connector--connection-block-separator-2 {
  right: -82px;
}

/* PrimeNG component styles */
.p-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.p-col {
  padding: 10px;
}

.actionable-text {
  color: #FF3366;
  cursor: pointer;
}

.intacct-location-section {
  padding: 56px 138.5px 0px;
}

.intacct-location-prompt {
  width: 398px;
}

.intacct-location-select {
  margin-left: 20px;
}

.location-entity {
  font-size: 1.17em;
  // text-align: center;
  margin-left: 137px;
  padding-bottom: 30px;
}

.select-location-entity{
  text-align: left;
}