<div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-screen">
    <app-loader></app-loader>
</div>
<div *ngIf="!isLoading" class="configuration--contents tw-border-border-tertiary tw-mt-6" [ngClass]="brandingStyle.common.configurationContents">
    <div>
        <app-configuration-step-header
            [headerText]="brandingContent.stepName"
            [contentText]="brandingContent.contentText"
            [redirectLink]="supportArticleLink"
            [showSyncButton]="isOnboarding"
            [appName]="appName"
            (refreshDimension)="refreshDimensions()">
        </app-configuration-step-header>
    </div>
    <form [formGroup]="advancedSettingForm">
        <div class="tw-p-24-px">
            <div class="tw-mb-16-px">
                <app-configuration-step-sub-header
                    [label]="'xeroAdvancedSettings.automationLabel' | transloco"
                    [subLabel]="brandingContent.automationSubLabel">
                </app-configuration-step-sub-header>
            </div>
            <div class="tw-mb-16-px">
                <div class="tw-rounded-12-px tw-border-border-tertiary tw-border tw-bg-white tw-mb-16-px">
                    <app-configuration-toggle-field
                        [form]="advancedSettingForm"
                        [label]="'xeroAdvancedSettings.scheduleExportLabel' | transloco" 
                        [subLabel]="brandingContent.scheduleSubLabel"
                        [formControllerName]="'exportSchedule'"
                        [iconPath]="'calendar'">
                    </app-configuration-toggle-field>

                    <div *ngIf="advancedSettingForm.get('exportSchedule')?.value">
                        <app-configuration-schedule-export
                            [form]="advancedSettingForm"
                            [appName]="appName"
                            [isFieldMandatory]="false"
                            [mandatoryErrorListName]="'xeroAdvancedSettings.automaticExportMethodError' | transloco"
                            [label]="'xeroAdvancedSettings.exportFrequencyLabel' | transloco"
                            [subLabel]="brandingContent.frequencySubLabel"
                            [options]="hours"
                            [isEmailPresent]="brandingFeatureConfig.featureFlags.advancedSettings.emailNotification ? true: false"
                            [formControllerName]="'exportScheduleFrequency'"
                            [adminEmails]="adminEmails">
                        </app-configuration-schedule-export>
                    </div>
                </div>
            </div>

            <div class="tw-mb-16-px">
                <app-configuration-step-sub-header
                    [label]="brandingContent.customPreferencesLabel"
                    [subLabel]="brandingContent.customPreferencesSubLabel">
                </app-configuration-step-sub-header>
            </div>
            <div class="tw-rounded-12-px tw-border-border-tertiary tw-border tw-bg-white tw-mb-16-px">
                <app-configuration-toggle-field
                    [form]="advancedSettingForm"
                    [iconPath]="'calendar'"
                    [label]="brandingContent.postEntriesCurrentPeriod"
                    [subLabel]="brandingContent.accountingPeriodSubLabel"
                    [formControllerName]="'changeAccountingPeriod'">
                </app-configuration-toggle-field>

                <app-configuration-toggle-field *ngIf="workspaceGeneralSettings.reimbursable_expenses_object"
                    [form]="advancedSettingForm"
                    [iconPath]="'list'"
                    [label]="brandingContent.autoCreateVendorsLabel"
                    [subLabel]="brandingContent.autoCreateVendorsSubLabel"
                    [formControllerName]="'autoCreateVendors'">
                </app-configuration-toggle-field>

                <app-configuration-select-field *ngIf="brandingFeatureConfig.featureFlags.advancedSettings.paymentsSync && workspaceGeneralSettings.reimbursable_expenses_object"
                    [form]="advancedSettingForm"
                    [options]="paymentSyncOptions"
                    [iconPath]="'arrow-rotate'"
                    [showClearIcon]="true"
                    [label]="brandingContent.paymentSyncLabel"
                    [subLabel]="'xeroAdvancedSettings.paymentSyncSubLabel' | transloco: { brandName: brandingConfig.brandName }"
                    [placeholder]="'xeroAdvancedSettings.paymentSyncPlaceholder' | transloco"
                    [formControllerName]="'paymentSync'">
                </app-configuration-select-field>

                <app-configuration-select-field *ngIf="advancedSettingForm.get('paymentSync')?.value && advancedSettingForm.get('paymentSync')?.value === 'fyle_to_xero' && workspaceGeneralSettings.reimbursable_expenses_object"
                    [form]="advancedSettingForm"
                    [destinationAttributes]="billPaymentAccounts"
                    [optionLabel]="'value'"
                    [isFieldMandatory]="true"
                    [mandatoryErrorListName]="'xeroAdvancedSettings.paymentAccountError' | transloco"
                    [label]="brandingContent.billPaymentAccountLabel"
                    [subLabel]="'xeroAdvancedSettings.billPaymentAccountSubLabel' | transloco: { brandName: brandingConfig.brandName, subLabel: brandingContent.billPaymentAccountSubLabel }"
                    [placeholder]="'xeroAdvancedSettings.billPaymentAccountPlaceholder' | transloco"
                    [formControllerName]="'billPaymentAccount'">
                </app-configuration-select-field>
                <app-configuration-toggle-field *ngIf="workspaceGeneralSettings.corporate_credit_card_expenses_object && !workspaceGeneralSettings.import_suppliers_as_merchants"
                    [form]="advancedSettingForm"
                    [iconPath]="'user-plus'"
                    [label]="brandingContent.autoCreateMerchantsAsVendorsLabel"
                    [subLabel]="'xeroAdvancedSettings.autoCreateMerchantSubLabel' | transloco: { brandName: brandingConfig.brandName }"
                    [formControllerName]="'autoCreateMerchantDestinationEntity'">
                </app-configuration-toggle-field>
            </div>
            <div class="tw-mb-16-px">
                <app-configuration-step-sub-header
                    [label]="'xeroAdvancedSettings.customizationLabel' | transloco"
                    [subLabel]="brandingContent.customizeSectionSubLabel">
                </app-configuration-step-sub-header>
            </div>
            <div class="tw-rounded-12-px tw-border-separator tw-border tw-bg-white tw-mb-16-px">
                <app-configuration-multi-select
                    [form]="advancedSettingForm"
                    [isFieldMandatory]="false"
                    [mandatoryErrorListName]="'xeroAdvancedSettings.itemLevelDescriptionError' | transloco"
                    [label]="brandingContent.memoStructureLabel"
                    [subLabel]="brandingContent.memoStructureSubLabel"
                    [options]="defaultMemoFields"
                    [iconPath]="'list'"
                    [placeholder]="'xeroAdvancedSettings.setDescriptionPlaceholder' | transloco"
                    [formControllerName]="'memoStructure'"
                    (changeInMultiSelect)="onMultiSelectChange()">
                </app-configuration-multi-select>
                <div class="preview-text">
                    <h4 class="tw-text-form-label-text-color tw-mb-12-px">{{ 'xeroAdvancedSettings.previewLabel' | transloco }}</h4>
                    <div class="preview-box">
                        {{memoPreviewText}}
                    </div>
                </div>
            </div>
        </div>
        <app-configuration-step-footer
            [ctaText] = "!isSaveInProgress ? (isOnboarding ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVE) : ConfigurationCtaText.SAVING"
            [isButtonDisabled]="!advancedSettingForm.valid"
            [showBackButton]="isOnboarding ? true : false"
            (save)="save()"
            (navigateToPreviousStep)="navigateToPreviousStep()"></app-configuration-step-footer>
    </form>
</div>
