<div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-screen">
    <app-loader></app-loader>
</div>
<div *ngIf="!isLoading" class="configuration--contents tw-border-border-tertiary tw-mt-6" [ngClass]="{'tw-mx-120-px tw-shadow-app-card': brandingConfig.brandId === 'fyle', 'tw-mx-60-px tw-shadow-shadow-level-1': brandingConfig.brandId === 'co'}">
    <div>
        <app-configuration-step-header
            [headerText]="brandingContent.stepName"
            [contentText]="'In this section, you can customize the integration based on your accounting requirements. '"
            [redirectLink]="supportArticleLink"
            [showSyncButton]="isOnboarding"
            [appName]="appName"
            (refreshDimension)="refreshDimensions()">
        </app-configuration-step-header>
    </div>
    <form [formGroup]="advancedSettingForm">
        <div class="tw-p-24-px">
            <div class="tw-mb-16-px">
                <app-configuration-step-sub-header
                    [label]="'Automation'"
                    [subLabel]="'You can automate the export and sync of your data in this section.'">
                </app-configuration-step-sub-header>
            </div>
            <div class="tw-mb-16-px">
                <div class="tw-rounded-12-px tw-border-border-tertiary tw-border tw-bg-white tw-mb-16-px">
                    <app-configuration-toggle-field
                        [form]="advancedSettingForm"
                        [label]="'Schedule automatic export'" 
                        [subLabel]="'Set up a schedule to frequently automate the export of expenses from ' + brandingConfig.brandName + ' to Xero.'"
                        [formControllerName]="'exportSchedule'"
                        [iconPath]="'calendar'">
                    </app-configuration-toggle-field>

                    <div *ngIf="advancedSettingForm.value.exportSchedule">
                        <app-configuration-schedule-export
                            [form]="advancedSettingForm"
                            [appName]="appName"
                            [isFieldMandatory]="false"
                            [mandatoryErrorListName]="'automatic export method'"
                            [label]="'Set up export frequency'"
                            [subLabel]="'Set a frequency based on how often you want your expenses in ' + brandingConfig.brandName + ' to be exported to Xero.'"
                            [options]="hours"
                            [isEmailPresent]="brandingFeatureConfig.featureFlags.advancedSettings.emailNotification ? true: false"
                            [formControllerName]="'exportScheduleFrequency'"
                            [adminEmails]="adminEmails">
                        </app-configuration-schedule-export>
                    </div>
                </div>
            </div>

            <div class="tw-mb-16-px">
                <app-configuration-step-sub-header
                    [label]="'Other Preferences'"
                    [subLabel]="'Based on your preference, you can choose whether you want to create any new records in Xero from ' + brandingConfig.brandName + '. (when there is no employee record found, or when the accounting period is closed)'">
                </app-configuration-step-sub-header>
            </div>
            <div class="tw-rounded-12-px tw-border-border-tertiary tw-border tw-bg-white tw-mb-16-px">
                <app-configuration-toggle-field
                    [form]="advancedSettingForm"
                    [iconPath]="'calendar'"
                    [label]="'Post entries in the current accounting period'"
                    [subLabel]="'If the accounting period in Xero is closed, the expenses from ' + brandingConfig.brandName + ' will be exported with a date stamp of the first day next open accounting period.'"
                    [formControllerName]="'changeAccountingPeriod'">
                </app-configuration-toggle-field>

                <app-configuration-toggle-field *ngIf="workspaceGeneralSettings.reimbursable_expenses_object"
                    [form]="advancedSettingForm"
                    [iconPath]="'list'"
                    [label]="brandingContent.autoCreateVendorsLabel"
                    [subLabel]="'While exporting reimbursable expenses from ' + brandingConfig.brandName + ', the integration will automatically create a vendor if a match does not exist in Xero already.'"
                    [formControllerName]="'autoCreateVendors'">
                </app-configuration-toggle-field>

                <app-configuration-select-field *ngIf="brandingFeatureConfig.featureFlags.advancedSettings.paymentsSync && workspaceGeneralSettings.reimbursable_expenses_object"
                    [form]="advancedSettingForm"
                    [options]="paymentSyncOptions"
                    [iconPath]="'arrow-rotate'"
                    [showClearIcon]="true"
                    [label]="brandingContent.paymentSyncLabel"
                    [subLabel]="'When expense is marked paid in ' + brandingConfig.brandName + ' the transaction in Xero will be automatically be updated to Paid and vice versa.'"
                    [placeholder]="'Select how payments should be synced for reimbursable expenses'"
                    [formControllerName]="'paymentSync'">
                </app-configuration-select-field>

                <app-configuration-select-field *ngIf="advancedSettingForm.value.paymentSync && advancedSettingForm.value.paymentSync === 'fyle_to_xero' && workspaceGeneralSettings.reimbursable_expenses_object"
                    [form]="advancedSettingForm"
                    [destinationAttributes]="billPaymentAccounts"
                    [optionLabel]="'value'"
                    [isFieldMandatory]="true"
                    [mandatoryErrorListName]="'payment account'"
                    [label]="brandingContent.billPaymentAccountLabel"
                    [subLabel]="'Once the payment for the reimbursable expense is complete in ' + brandingConfig.brandName + brandingContent.billPaymentAccountSubLabel + 'Xero.'"
                    [placeholder]="'Select a Payment Account'"
                    [formControllerName]="'billPaymentAccount'">
                </app-configuration-select-field>
                <app-configuration-toggle-field *ngIf="workspaceGeneralSettings.corporate_credit_card_expenses_object"
                    [form]="advancedSettingForm"
                    [iconPath]="'user-plus'"
                    [label]="brandingContent.autoCreateMerchantsAsVendorsLabel"
                    [subLabel]="'While exporting corporate card expenses from ' + brandingConfig.brandName + ', the integration will auto-create a contact in Xero if a merchant added in ' + brandingConfig.brandName + ' does not exist in Xero.'"
                    [formControllerName]="'autoCreateMerchantDestinationEntity'">
                </app-configuration-toggle-field>
            </div>
        </div>
        <app-configuration-step-footer
            [ctaText] = "!isSaveInProgress ? (isOnboarding ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVE) : ConfigurationCtaText.SAVING"
            [isButtonDisabled]="!advancedSettingForm.valid"
            [showBackButton]="isOnboarding ? true : false"
            (save)="save()"
            (navigateToPreviousStep)="navigateToPreviousStep()"></app-configuration-step-footer>
    </form>
</div>
