:host ::ng-deep .error-box {
    @apply tw-border-border-danger-dark #{!important};
}
/*
:host ::ng-deep .normal-box  {
    @apply tw-border-box-color #{!important};
} */

.sub-text {
    color: #5A5D72;
    font-size: 12px;
}

.radius {
    border-radius: 4px;
}