<div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-screen">
    <app-loader></app-loader>
</div>
<div *ngIf="!isLoading" class="configuration--contents tw-border-separator tw-mt-6" [ngClass]="{'tw-mx-120-px tw-shadow-app-card': brandingConfig.brandId === 'fyle', 'tw-mx-60-px tw-shadow-shadow-level-1': brandingConfig.brandId === 'co'}">
    <div>
    <app-configuration-step-header 
    [headerText]="brandingContent.intacct.configuration.exportSetting.stepName"
    [contentText]="'Configure how and when expenses from ' + brandingConfig.brandName + ' can be exported to Sage Intacct.'"
    [redirectLink]="redirectLink"
    [showSyncButton]="isOnboarding"
    [appName]="appName"
    (refreshDimension)="refreshDimensions($event)"></app-configuration-step-header>
    </div>
    <form [formGroup]="exportSettingsForm">
        <div class="tw-p-24-px" [ngClass]="{'tw-pt-0': !brandingFeatureConfig.featureFlags.exportSettings.reimbursableExpenses}">
            <div *ngIf="brandingConfig.brandId === 'fyle'" class="tw-mb-16-px">
                <div *ngIf="brandingFeatureConfig.featureFlags.exportSettings.reimbursableExpenses" class="tw-rounded-lg tw-border-separator tw-border tw-bg-configuration-bg">
                    <app-configuration-toggle-field 
                    [form]="exportSettingsForm"
                    [label]="'Export Reimbursable Expenses'" 
                    [subLabel]="'Enable this to export the reimbursable expenses from ' + brandingConfig.brandName + '. If not enabled, any <b>out-of-pocket</b> expenses will not be exported to Sage Intacct .'" 
                    [formControllerName]="'reimbursableExpense'"
                    [isSectionHeader]="true"></app-configuration-toggle-field>
                </div>
                <div *ngIf="brandingFeatureConfig.featureFlags.exportSettings.reimbursableExpenses && exportSettingsForm.value?.reimbursableExpense">
                    <div class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                            [form]="exportSettingsForm"
                            [isFieldMandatory]="true"
                            [mandatoryErrorListName]="'export module'"
                            [label]="'How should the expenses be exported?'"
                            [options]="reimbursableExportTypes"
                            [iconPath]="'list'"
                            [placeholder]="'Select expense export module'"
                            [formControllerName]="'reimbursableExportType'"
                            [appName]="appName"
                            [exportConfigurationIconPath]="'assets/flow-charts/intacct-export-module.svg'"
                            [showExportPreview]="true"
                            [exportTypeIconPathArray]="previewImagePaths">
                        </app-configuration-select-field>
                            <div *ngIf="exportSettingsForm.value.reimbursableExportType===IntacctReimbursableExpensesObject.JOURNAL_ENTRY">
                                <app-configuration-select-field
                                [form]="exportSettingsForm"
                                [isFieldMandatory]="true"
                                [mandatoryErrorListName]="'GL Account'"
                                [label]="'To which GL Account should the expenses be credited to?'"
                                [subLabel]="'The integration will credit the account selected here for Reimbursable Expenses exported as Journal Entries.'"
                                [destinationAttributes]="this.destinationOptions['ACCOUNT']"
                                [destinationOptionKey]="IntacctExportSettingDestinationOptionKey.ACCOUNT"
                                [isOptionSearchInProgress]="isOptionSearchInProgress"
                                [iconPath]="'list'"
                                [placeholder]="'Select GL account'"
                                [formControllerName]="'glAccount'"
                                [isAdvanceSearchEnabled]="true"
                                [isMultiLineOption]="true"
                                (searchOptionsDropdown)="searchOptionsDropdown($event)"></app-configuration-select-field>
                            </div>
                            <div *ngIf="exportSettingsForm.value.reimbursableExportType===IntacctReimbursableExpensesObject.EXPENSE_REPORT">
                                <app-configuration-select-field
                                [form]="exportSettingsForm"
                                [isFieldMandatory]="false"
                                [mandatoryErrorListName]="'expense payment type'"
                                [label]="'Set the Default Expense Payment Type as?'"
                                [subLabel]="'The selected Expense Payment Type will be added to the reimbursable expenses exported from ' + brandingConfig.brandName + ' to Sage Intacct.'"
                                [destinationAttributes]="this.destinationOptions['EXPENSE_PAYMENT_TYPE']"
                                [destinationOptionKey]="IntacctExportSettingDestinationOptionKey.EXPENSE_PAYMENT_TYPE"
                                [isOptionSearchInProgress]="isOptionSearchInProgress"
                                [iconPath]="'list'"
                                [placeholder]="'Select expense payment type'"
                                [formControllerName]="'reimbursableExpensePaymentType'"
                                [isAdvanceSearchEnabled]="true"
                                [isMultiLineOption]="true"
                                (searchOptionsDropdown)="searchOptionsDropdown($event)"></app-configuration-select-field>
                            </div>
                    </div>
                    <div *ngIf="exportSettingsForm.value.reimbursableExportType" class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <ng-container *ngTemplateOutlet="employeeFieldMapping"></ng-container>
                        <div *ngIf="exportSettingsForm.value.reimbursableExportType">
                            <app-configuration-select-field
                            [form]="exportSettingsForm"
                            [isFieldMandatory]="false"
                            [showClearIcon]="true"
                            [mandatoryErrorListName]="'employee mapping'"
                            [label]="'How should Employees in ' + brandingConfig.brandName + ' be mapped to ' + getEmployeeFieldMapping(exportSettingsForm.value.employeeFieldMapping, exportSettingsForm.value.reimbursableExportType) + ' in Sage Intacct?'"
                            [subLabel]="'Automatically map the employees in ' + brandingConfig.brandName + ' to their corresponding records in Sage Intacct based on a unique parameter.'"
                            [options]="autoMapEmployeeOptions"
                            [iconPath]="'question-square-outline'"
                            [placeholder]="'Select mapping method'"
                            [formControllerName]="'autoMapEmployees'"></app-configuration-select-field>
                        </div>
                    </div>
                    <div *ngIf="exportSettingsForm.value.reimbursableExportType" class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                        [form]="exportSettingsForm"
                        [isFieldMandatory]="true"
                        [mandatoryErrorListName]="'expense state'"
                        [label]="'At which state should the expenses be ready to export from ' + brandingConfig.brandName + '?'"
                        [subLabel]="'You can export expenses either when they are awaiting closure after approval (Processing) or when the payment has been settled (Closed).'"
                        [options]="expenseStateOptions"
                        [iconPath]="'question-square-outline'"
                        [placeholder]="'Select export state'"
                        [formControllerName]="'reimbursableExpenseState'"></app-configuration-select-field>
                    </div>
                    <div *ngIf="exportSettingsForm.value.reimbursableExportType" class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                        [form]="exportSettingsForm"
                        [isFieldMandatory]="true"
                        [mandatoryErrorListName]="'how expenses to be grouped'"
                        [label]="'How should the expenses be grouped?'"
                        [subLabel]="'Expenses can either be exported as single line items (Expense) or as a grouped report with multiple line items (Report)'"
                        [options]="expenseGroupingFieldOptions"
                        [iconPath]="'question-square-outline'"
                        [placeholder]="'Select expense grouping'"
                        [formControllerName]="'reimbursableExportGroup'"></app-configuration-select-field>
                    </div>
                    <div *ngIf="exportSettingsForm.value.reimbursableExportType" class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                        [form]="exportSettingsForm"
                        [isFieldMandatory]="true"
                        [mandatoryErrorListName]="'export date'"
                        [label]="'Set the ' + getExportType(exportSettingsForm.value.reimbursableExportType ? exportSettingsForm.value.reimbursableExportType : IntacctReimbursableExpensesObject.EXPENSE_REPORT) + ' date as'"
                        [subLabel]="'Expenses will be grouped and posted using the configured date when exporting from ' + brandingConfig.brandName + ' to Sage Intacct.'"
                        [options]="reimbursableExpenseGroupingDateOptions"
                        [iconPath]="'calendar'"
                        [placeholder]="'Select date'"
                        [formControllerName]="'reimbursableExportDate'"></app-configuration-select-field>
                    </div>
                </div>
            </div>
            <div>
                <div *ngIf="brandingFeatureConfig.featureFlags.exportSettings.reimbursableExpenses" class="tw-rounded-lg tw-border-separator tw-border tw-bg-configuration-bg">
                    <app-configuration-toggle-field
                    [form]="exportSettingsForm"
                    [label]="brandingContent.configuration.exportSetting.headerText" 
                    [subLabel]="brandingContent.intacct.configuration.exportSetting.contentText" 
                    [formControllerName]="'creditCardExpense'"
                    [isSectionHeader]="true"></app-configuration-toggle-field>
                </div>
                <div *ngIf="exportSettingsForm.value?.creditCardExpense">
                    <div class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                        [form]="exportSettingsForm"
                        [isFieldMandatory]="true"
                        [mandatoryErrorListName]="'export module'"
                        [label]="'How should the expenses be exported?'"
                        [options]="creditCardExportTypes"
                        [iconPath]="'list'"
                        [placeholder]="'Select expense export module'"
                        [formControllerName]="'cccExportType'"
                        [exportConfigurationIconPath]="'assets/illustrations/sageIntacct/'+brandingConfig.brandId+'CCCExportTypeTable.svg'"
                        [showExportPreview]="true"
                        [appName]="appName"
                        [exportTypeIconPathArray]="brandingConfig.brandId==='fyle' ? previewImagePaths : coPreviewImagePaths"></app-configuration-select-field>
                        <div *ngIf="exportSettingsForm.value.cccExportType===IntacctCorporateCreditCardExpensesObject.EXPENSE_REPORT">
                            <app-configuration-select-field
                            [form]="exportSettingsForm"
                            [isFieldMandatory]="true"
                            [mandatoryErrorListName]="'expense payment type'"
                            [label]="brandingContent.intacct.configuration.exportSetting.corporateCard.cccExpensePaymentType"
                            [subLabel]="brandingContent.intacct.configuration.exportSetting.corporateCard.cccExpensePaymentTypeSubLabel"
                            [destinationAttributes]="this.destinationOptions['CCC_EXPENSE_PAYMENT_TYPE']"
                            [destinationOptionKey]="IntacctExportSettingDestinationOptionKey.CCC_EXPENSE_PAYMENT_TYPE"
                            [isOptionSearchInProgress]="isOptionSearchInProgress"
                            [iconPath]="'list'"
                            [placeholder]="'Select expense payment type'"
                            [formControllerName]="'cccExpensePaymentType'"
                            [isAdvanceSearchEnabled]="true"
                            [isMultiLineOption]="true"
                            (searchOptionsDropdown)="searchOptionsDropdown($event)"></app-configuration-select-field>
                        </div>
                        <div *ngIf="exportSettingsForm.value.cccExportType===IntacctCorporateCreditCardExpensesObject.BILL">
                            <app-configuration-select-field
                            [form]="exportSettingsForm"
                            [isFieldMandatory]="true"
                            [mandatoryErrorListName]="'credit card vendor'"
                            [label]="brandingContent.intacct.configuration.exportSetting.corporateCard.creditCardVendor"
                            [subLabel]="brandingContent.intacct.configuration.exportSetting.corporateCard.creditCardVendorSublabel"
                            [destinationAttributes]="this.destinationOptions['VENDOR']"
                            [destinationOptionKey]="IntacctExportSettingDestinationOptionKey.VENDOR"
                            [isOptionSearchInProgress]="isOptionSearchInProgress"
                            [iconPath]="'list'"
                            [placeholder]="'Select credit card vendor'"
                            [formControllerName]="'creditCardVendor'"
                            [isAdvanceSearchEnabled]="true"
                            (searchOptionsDropdown)="searchOptionsDropdown($event)"></app-configuration-select-field>
                        </div>
                        <div *ngIf="exportSettingsForm.value.cccExportType===IntacctCorporateCreditCardExpensesObject.JOURNAL_ENTRY">
                            <app-configuration-select-field
                            [form]="exportSettingsForm"
                            [isFieldMandatory]="true"
                            [mandatoryErrorListName]="'GL account'"
                            [label]="brandingContent.intacct.configuration.exportSetting.corporateCard.creditCard"
                            [subLabel]="brandingContent.intacct.configuration.exportSetting.corporateCard.creditCardSubLabel"
                            [destinationAttributes]="this.destinationOptions['ACCOUNT']"
                            [destinationOptionKey]="IntacctExportSettingDestinationOptionKey.ACCOUNT"
                            [isOptionSearchInProgress]="isOptionSearchInProgress"
                            [iconPath]="'list'"
                            [placeholder]="'Select GL account'"
                            [formControllerName]="'creditCard'"
                            [isAdvanceSearchEnabled]="true"
                            [isMultiLineOption]="true"
                            (searchOptionsDropdown)="searchOptionsDropdown($event)"></app-configuration-select-field>
                        </div>
                        <div *ngIf="exportSettingsForm.value.cccExportType === IntacctCorporateCreditCardExpensesObject.JOURNAL_ENTRY && brandingFeatureConfig.featureFlags.exportSettings.useMerchantInJournalLine">
                            <app-configuration-toggle-field 
                            [form]="exportSettingsForm"
                            [iconPath]="'list'"
                            [label]="'Export Merchant data to the Vendor field'" 
                            [subLabel]="'Enabling this option would export the merchant name of each expense to the respective journal entry Vendor field'"
                            [formControllerName]="'useMerchantInJournalLine'"></app-configuration-toggle-field>
                        </div>
                        <div *ngIf="exportSettingsForm.value.cccExportType===IntacctCorporateCreditCardExpensesObject.CHARGE_CARD_TRANSACTION">
                            <app-configuration-select-field
                            [form]="exportSettingsForm"
                            [isFieldMandatory]="true"
                            [mandatoryErrorListName]="'charge card'"
                            [label]="brandingContent.intacct.configuration.exportSetting.corporateCard.chargeCard"
                            [subLabel]="brandingContent.intacct.configuration.exportSetting.corporateCard.chargeCardSublabel"
                            [destinationAttributes]="this.destinationOptions['CHARGE_CARD']"
                            [destinationOptionKey]="IntacctExportSettingDestinationOptionKey.CHARGE_CARD"
                            [isOptionSearchInProgress]="isOptionSearchInProgress"
                            [iconPath]="'list'"
                            [placeholder]="brandingContent.intacct.configuration.exportSetting.corporateCard.chargeCardPlaceholder"
                            [formControllerName]="'chargeCard'"
                            [isAdvanceSearchEnabled]="true"
                            [isMultiLineOption]="true"
                            (searchOptionsDropdown)="searchOptionsDropdown($event)"></app-configuration-select-field>
                        </div>
                    </div>
                    <div *ngIf="exportSettingsForm.value.cccExportType" class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <div *ngIf="!exportSettingsForm.value.reimbursableExportType && exportSettingsForm.value.cccExportType === IntacctCorporateCreditCardExpensesObject.JOURNAL_ENTRY">
                            <ng-container *ngTemplateOutlet="employeeFieldMapping"></ng-container>
                        </div>
                        <app-configuration-select-field *ngIf="exportSettingsForm.value.cccExportType"
                        [form]="exportSettingsForm"
                        [isFieldMandatory]="true"
                        [mandatoryErrorListName]="'expense state'"
                        [label]="'How should expenses be labeled  before exporting from ' + brandingConfig.brandName + '?'"
                        [subLabel]="brandingContent.intacct.configuration.exportSetting.corporateCard.cccExpenseState"
                        [options]="cccExpenseStateOptions"
                        [iconPath]="'question-square-outline'"
                        [placeholder]="'Select export state'"
                        [formControllerName]="'cccExpenseState'"></app-configuration-select-field>
                    </div>
                    <div *ngIf="exportSettingsForm.value.cccExportType" class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                        [form]="exportSettingsForm"
                        [isFieldMandatory]="true"
                        [mandatoryErrorListName]="'how expenses to be grouped'"
                        [label]="'How should the expenses be grouped?'"
                        [subLabel]="brandingContent.intacct.configuration.exportSetting.corporateCard.cccExportGroup"
                        [options]="expenseGroupingFieldOptions"
                        [iconPath]="'question-square-outline'"
                        [placeholder]="'Select expense grouping'"
                        [isDisabled]="exportSettingsForm.get('cccExportType')?.value === IntacctCorporateCreditCardExpensesObject.CHARGE_CARD_TRANSACTION ? true : false"
                        [formControllerName]="'cccExportGroup'"></app-configuration-select-field>
                    </div>
                    <div *ngIf="exportSettingsForm.value.cccExportType" class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                        [form]="exportSettingsForm"
                        [isFieldMandatory]="true"
                        [mandatoryErrorListName]="'export date'"
                        [label]="'Set the ' + getExportType(exportSettingsForm.value.cccExportType) + ' date as'"
                        [subLabel]="'Expenses will be grouped and posted using the configured date when exporting from ' + brandingConfig.brandName + ' to Sage Intacct.'"
                        [options]="cccExpenseGroupingDateOptions"
                        [iconPath]="'calendar'"
                        [placeholder]="'Select date'"
                        [formControllerName]="'cccExportDate'"></app-configuration-select-field>
                    
                        <app-configuration-select-field *ngIf="brandingFeatureConfig.featureFlags.exportSettings.splitExpenseGrouping && 
                        exportSettingsForm.value.cccExportType === IntacctCorporateCreditCardExpensesObject.CHARGE_CARD_TRANSACTION"
                        [form]="exportSettingsForm"
                        [isFieldMandatory]="true"
                        [showClearIcon]="true"
                        [mandatoryErrorListName]="'split expense grouping'"
                        [label]="'How should the split expenses be grouped?'"
                        [subLabel]="'Choose how expenses should be grouped for split expenses'"
                        [options]="splitExpenseGroupingOptions"
                        [iconPath]="'question-square-outline'"
                        [placeholder]="'Select split expense grouping'"
                        [formControllerName]="'splitExpenseGrouping'"></app-configuration-select-field>
                    </div>
                </div>
            </div>
        </div>
        <app-configuration-step-footer (navigateToPreviousStep)="navigateToPreviousStep()" [ctaText] = "!saveInProgress ? (isOnboarding ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVE) : ConfigurationCtaText.SAVING" (save)="save()" [isButtonDisabled]="!exportSettingsForm.valid" [showBackButton]="isOnboarding ? true : false"></app-configuration-step-footer>
    </form>
</div>

<ng-template #employeeFieldMapping>
    <div *ngIf="brandingFeatureConfig.featureFlags.exportSettings.reimbursableExpenses" [formGroup]="exportSettingsForm">
        <app-configuration-select-field
            *ngIf="!exportSettingsForm.controls.employeeFieldMapping.disabled"
            [form]="exportSettingsForm"
            [isFieldMandatory]="true"
            [mandatoryErrorListName]="'employee field'"
            [label]="brandingContent.intacct.configuration.exportSetting.corporateCard.employeeFieldMapping"
            [subLabel]="'Select how your employees are represented in Sage Intacct. This would help to export the expenses to the correct record in Sage Intacct'"
            [options]="employeeFieldOptions"
            [iconPath]="'user-two'"
            [placeholder]="'Select representation'"
            [formControllerName]="'employeeFieldMapping'"></app-configuration-select-field>

        <div *ngIf="exportSettingsForm.controls.employeeFieldMapping.disabled">
            <div class="tw-p-24-px tw-flex tw-flex-row tw-justify-between tw-items-center">
                <div class="tw-flex tw-items-start lg:tw-w-3/5 md:tw-w-1/2">
                    <div class="tw-mt-4-px">
                        <app-svg-icon [svgSource]="'list'" [width]="'24px'" [height]="'24px'" [styleClasses]="'tw-text-mandatory-field-color'"></app-svg-icon>
                    </div>
                    <div class="tw-pl-16-px">
                        <h4 class="!tw-text-14-px !tw-font-500">{{brandingContent.intacct.configuration.exportSetting.corporateCard.employeeFieldMapping}}<app-mandatory-field></app-mandatory-field></h4>
                        <h5 class="!tw-text-text-muted !tw-font-400 !tw-text-14-px tw-pt-6-px !tw-leading-4">Select how your employees are represented in Sage Intacct. This would help to export the expenses to the correct record in Sage Intacct</h5>
                    </div>
                </div>
                <div class="tw-h-40-px tw-w-300-px tw-bg-disabled-bg-color tw-border radius">
                    <div class="tw-text-14-px tw-text-slightly-normal-text-color tw-my-10-px tw-mx-14-px">{{getEmployeeFieldMapping(exportSettingsForm.value.employeeFieldMapping, exportSettingsForm.value.reimbursableExportType)}}</div>
                    <span class="sub-text tw-pt-3-px tw-text-12-px tw-text-sub-text-color">Auto-selected based on your export module</span>
                </div>
            </div>
        </div>
    </div>
</ng-template>
