<div class="tw-flex tw-justify-between tw-items-center">
    <div>
        <span *ngIf="pageType === PaginatorPage.DASHBOARD">Page {{page}} of {{totalPages}}</span>
    </div>
    <div class="tw-flex tw-items-center">
        <div class="tw-flex tw-items-center tw-pr-30-px">
            <span *ngIf="pageType === PaginatorPage.DASHBOARD" class="tw-pr-10-px">Show</span>
            <span *ngIf="pageType !== PaginatorPage.DASHBOARD" class="tw-pr-10-px">Items per page:</span>
            <div>
                <p-dropdown appendTo="body" [options]="pageNumbers" (onChange)="pageSizeChanges($event)" [(ngModel)]="dropDownValue">
                    <ng-template let-value pTemplate="selectedItem" >
                        <div *ngIf="dropDownValue" class="tw-flex">
                            <p class="tw-text-normal-text-color tw-text-12-px !tw-font-500">{{ value }} <span *ngIf="pageType === PaginatorPage.DASHBOARD">Items</span></p>
                        </div>
                        <div *ngIf="!dropDownValue" class="tw-text-placeholder">
                            Select size of page
                        </div>
                    </ng-template>
                    <ng-template let-day pTemplate="item">
                        <div>
                            <p class="tw-text-sub-text-color tw-text-14-px">{{ day }} <span *ngIf="pageType === PaginatorPage.DASHBOARD">Items</span></p>
                        </div>
                    </ng-template> 
                </p-dropdown>
            </div>
        </div>
        <div class="tw-flex tw-items-center">
            <span *ngIf="pageType === PaginatorPage.DASHBOARD" class="tw-pr-10-px">Page</span>
            <div *ngIf="pageType === PaginatorPage.DASHBOARD" class="tw-border tw-border-separator tw-flex tw-items-center tw-rounded-4-px">
                <div class="tw-border-r tw-border-r-separator">
                    <button type="button" class="tw-h-32-px tw-w-30-px prevBtn" (click)="previousPageChange(page)" [disabled]="page === 1" >
                        <i class="pi pi-angle-left tw-w-6-px tw-h-12-px tw-pt-6-px"></i>
                    </button>
                </div>
                <div class="tw-w-30-px tw-h-32-px tw-flex tw-items-center tw-justify-center">
                    {{page}}
                </div>
                <div class="tw-border-l tw-border-l-separator">
                    <button type="button" class="tw-h-32-px tw-w-30-px nextBtn" (click)="nextPageChange(page)" [disabled]="page === totalPages">
                        <i class="pi pi-angle-right tw-w-6-px tw-h-12-px tw-pt-6-px"></i>
                    </button>
                </div>
            </div>
            <div *ngIf="pageType !== PaginatorPage.DASHBOARD" class="tw-flex tw-justify-between">
                <div class="">
                    <button type="button" class="tw-h-32-px tw-w-32-px prevBtn tw-flex tw-place-items-center tw-pt-2-px tw-mr-12-px" (click)="navigateToPage(1)" [disabled]="page === 1" >
                        <i class="pi pi-minus tw-rotate-90"></i><i class="pi pi-chevron-left"></i>
                    </button>
                </div>
                <div class="">
                    <button type="button" class="tw-h-32-px tw-w-32-px prevBtn tw-mr-8-px" (click)="previousPageChange(page)" [disabled]="page === 1" >
                        <i class="pi pi-chevron-left tw-w-6-px tw-h-12-px tw-pt-6-px"></i>
                    </button>
                </div>
                <div class="tw-w-fix tw-h-32-px tw-flex tw-items-center tw-justify-center tw-border-2-px tw-border-separator tw-py-8-px tw-px-12-px tw-rounded-4-px tw-bg-white tw-mr-10-px">
                    {{page}} of {{totalPages}}
                </div>
                <div >
                    <button type="button" class="tw-h-32-px tw-w-32-px nextBtn tw-mr-12-px" (click)="nextPageChange(page)" [disabled]="page === totalPages">
                        <i class="pi pi-chevron-right tw-w-6-px tw-h-12-px tw-pt-6-px"></i>
                    </button>
                </div>
                <div>
                    <button type="button" class="tw-h-32-px tw-w-32-px tw-ml-10-px nextBtn tw-flex tw-place-items-center tw-pt-2-px" (click)="navigateToPage(totalPages)" [disabled]="page === totalPages">
                        <i class="pi pi-chevron-right"></i><i class="pi pi-minus tw-rotate-90"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>