<div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-screen">
    <app-loader></app-loader>
</div>
<div *ngIf="!isLoading" class="configuration--contents tw-border-separator tw-mt-6" [ngClass]="{'tw-mx-120-px tw-shadow-app-card': brandingConfig.brandId === 'fyle', 'tw-mx-60-px tw-shadow-shadow-level-1': brandingConfig.brandId === 'co'}">
    <div>
        <app-configuration-step-header 
            [headerText]="'Advanced Settings'"
            [contentText]="'In this section, you can customize the integration based on your accounting requirements. '"
            [redirectLink]="supportArticleLink"
            [showSyncButton]="isOnboarding"
            [appName]="appName"
            (refreshDimension)="refreshDimensions($event)">
        </app-configuration-step-header>
    </div>
    <div>
        <form [formGroup]="advancedSettingForm">
            <div class="tw-p-24-px">
                <div class="tw-mb-16-px">
                    <app-configuration-step-sub-header
                        [label]="'Automation'"
                        [subLabel]="'You can automate the export and sync of your data in this section.'">
                    </app-configuration-step-sub-header>
                </div>
                <div class="tw-mb-16-px">
                    <div class="tw-rounded-12-px tw-border-separator tw-border tw-bg-white tw-mb-16-px">
                        <app-configuration-toggle-field 
                            [form]="advancedSettingForm"
                            [label]="'Schedule automatic export'" 
                            [subLabel]="'Set up a schedule to frequently automate the export of expenses from ' + brandingConfig.brandName + ' to Dynamics 365 Business Central.'" 
                            [formControllerName]="'scheduleEnabled'"
                            [iconPath]="'calendar'">
                        </app-configuration-toggle-field>
                        <div *ngIf="advancedSettingForm.get('scheduleEnabled')?.value">
                            <app-configuration-schedule-export
                                [form]="advancedSettingForm"
                                [appName]="appName"
                                [isFieldMandatory]="false"
                                [mandatoryErrorListName]="'automatic export method'"
                                [label]="'Set up export frequency'"
                                [subLabel]="'Set a frequency based on how often you want your expenses in ' + brandingConfig.brandName + ' to be exported to Dynamics 365 Business Central'"
                                [options]="hours"
                                [placeholder]="'Set Schedule'"
                                [formControllerName]="'scheduleAutoExportFrequency'">
                            </app-configuration-schedule-export>
                        </div>
                    </div>
                </div>
                <div class="tw-mb-16-px">
                    <app-configuration-step-sub-header
                        [label]="'Customization'"
                        [subLabel]="'In this section, you can customize the data that you\'d like to export from ' + brandingConfig.brandName + ' to Dynamics 365 Business Central. You can choose what data points need to be exported and what shouldn\'t be.'">
                    </app-configuration-step-sub-header>
                </div>
                <div class="tw-rounded-12-px tw-border-separator tw-border tw-bg-white tw-mb-16-px">
                    <app-configuration-multi-select
                        [form]="advancedSettingForm"
                        [isFieldMandatory]="false"
                        [mandatoryErrorListName]="'Item level description'"
                        [label]="'Set the line item-level Description Field in Dynamics 365 Business Central'"
                        [subLabel]="'You can choose from a list of available data points that you\'d like to export to the description field in Dynamics 365 Business Central.'"
                        [options]="defaultMemoOptions"
                        [iconPath]="'list'"
                        [placeholder]="'Set description'"
                        [formControllerName]="'memoStructure'"
                        (changeInMultiSelect)="onMultiSelectChange()">
                    </app-configuration-multi-select>
                    <div class="preview-text">
                        <h4 class="tw-text-form-label-text-color tw-mb-12-px">Preview of the Description Field</h4>
                        <div class="preview-box">
                            {{memoPreviewText}}
                        </div>
                    </div>
                </div>
                <div class="tw-rounded-12-px tw-border-separator tw-border tw-bg-white tw-mb-16-px">
                    <app-configuration-toggle-field 
                        [form]="advancedSettingForm"
                        [label]="'Skip export of specific expenses from ' + brandingConfig.brandName + ' to Dynamics 365 Business Central'" 
                        [subLabel]="'You could choose to skip expenses from ' + brandingConfig.brandName + ' to Dynamics 365 Business Central by setting up a conditional rule. '" 
                        [formControllerName]="'skipExport'"
                        [iconPath]="'list'"
                        [redirectLink]="skipExportRedirectLink">
                    </app-configuration-toggle-field>
                    <div *ngIf="advancedSettingForm.get('skipExport')?.value">
                        <app-configuration-skip-export
                        [enableSkipExport]="advancedSettingForm.get('skipExport')?.value"
                        [skipExportForm]="skipExportForm"
                        [expenseFilter]="expenseFilters"
                        [conditionFieldOptions]="conditionFieldOptions"
                        (deleteSkipExportForm)="deleteExpenseFilter($event)">
                        </app-configuration-skip-export>
                    </div>
                </div>
            </div>
            <app-configuration-step-footer 
                [ctaText] = "!isSaveInProgress ? (isOnboarding ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVE) : ConfigurationCtaText.SAVING" 
                [showBackButton] = "isOnboarding"
                [isButtonDisabled]="!advancedSettingForm.valid || !skipExportForm.valid || !getSkipExportValue()"
                (save)="save()" 
                (navigateToPreviousStep)="navigateBack()">
            </app-configuration-step-footer>
        </form>
    </div>
</div>
