<div class="tw-flex tw-min-h-228-px tw-text-center tw-p-56-px">
    <div class="tw-m-auto">
        <img *ngIf="illustrationsAllowed" src="assets/illustrations/zero-state.svg" width="200px" hight="200px" class="tw-inline-block">
        <div class="tw-pt-20-px">
            <h4 class="!tw-text-14-px" [ngClass]="[illustrationsAllowed ? 'tw-text-text-secondary' : 'tw-text-text-primary', brandingStyle.dashboard.zeroStateHeaderText]">{{mainText}}</h4>
            <p class="tw-text-text-primary tw-font-400 !tw-text-14-px tw-break-words" [ngClass]="brandingStyle.dashboard.zeroStateDescriptionText">{{subText}}</p>
        </div>
    </div>
</div>
