<div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-screen">
    <app-loader></app-loader>
</div>
<div *ngIf="!isLoading" class="configuration--contents tw-border-border-tertiary tw-mt-6" [ngClass]="brandingStyle.common.configurationContents">
    <div>
    <app-configuration-step-header
    [headerText]="'intacct.configuration.advancedSettings.stepName' | transloco"
    [contentText]="'intacct.configuration.advancedSettings.contentText' | transloco"
    [redirectLink]="redirectLink"
    [showSyncButton]="isOnboarding"
    [appName]="appName"
    (refreshDimension)="refreshDimensions($event)"></app-configuration-step-header>
    </div>

    <form [formGroup]="advancedSettingsForm">
        <div class="tw-p-24-px">
            <div class="tw-mb-16-px">
                <app-configuration-step-sub-header
                    [label]="'intacctAdvancedSettings.automation' | transloco"
                    [subLabel]="'intacct.configuration.advancedSettings.automationSubLabel' | transloco: {brandName: brandingConfig.brandName}">
                </app-configuration-step-sub-header>
                <div class="tw-my-16-px">
                    <div class="tw-rounded-12-px tw-border-border-tertiary tw-border tw-bg-white tw-mb-16-px">
                        <app-configuration-toggle-field
                            [form]="advancedSettingsForm"
                            [label]="'intacctAdvancedSettings.scheduleAutomaticExport' | transloco"
                            [subLabel]="'intacct.configuration.advancedSettings.scheduleSubLabel' | transloco: {brandName: brandingConfig.brandName}"
                            [formControllerName]="'exportSchedule'"
                            [iconPath]="'calendar'">
                        </app-configuration-toggle-field>

                        <div *ngIf="advancedSettingsForm.get('exportSchedule')?.value">
                            <app-configuration-schedule-export
                                [form]="advancedSettingsForm"
                                [appName]="appName"
                                [isFieldMandatory]="false"
                                [mandatoryErrorListName]="'intacctAdvancedSettings.mandatoryErrorListNameAutomaticExport' | transloco"
                                [label]="'intacctAdvancedSettings.setupExportFrequency' | transloco"
                                [subLabel]="'intacct.configuration.advancedSettings.frequencySubLabel' | transloco: {brandName: brandingConfig.brandName}"
                                [options]="hours"
                                [isEmailPresent]="brandingFeatureConfig.featureFlags.advancedSettings.emailNotification ? true: false"
                                [formControllerName]="'exportScheduleFrequency'"
                                [adminEmails]="adminEmails">
                            </app-configuration-schedule-export>
                        </div>
                    </div>
                </div>
            <div *ngIf="(reimbursableExpense==='EXPENSE_REPORT' || reimbursableExpense==='BILL') && brandingFeatureConfig.featureFlags.advancedSettings.paymentsSync" class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-border-tertiary tw-rounded-12-px">
                <app-configuration-select-field
                [form]="advancedSettingsForm"
                [isFieldMandatory]="false"
                [mandatoryErrorListName]="'intacctAdvancedSettings.mandatoryErrorListNamePaymentSync' | transloco"
                [label]="'intacct.configuration.advancedSettings.autoSyncPayments' | transloco"
                [subLabel]="'intacctAdvancedSettings.paymentSyncSubLabel' | transloco: { brandName: brandingConfig.brandName }"
                [options]="paymentSyncOptions"
                [iconPath]="'arrow-rotate'"
                [placeholder]="'intacctAdvancedSettings.placeholderPaymentSync' | transloco"
                [formControllerName]="'autoSyncPayments'"></app-configuration-select-field>
                <div *ngIf="isCCT()">
                    <app-configuration-select-field
                    [form]="advancedSettingsForm"
                    [isFieldMandatory]="true"
                    [mandatoryErrorListName]="'intacctAdvancedSettings.mandatoryErrorListNamePaymentAccount' | transloco"
                    [label]="'intacct.configuration.advancedSettings.defaultPaymentAccount' | transloco"
                    [subLabel]="'intacctAdvancedSettings.defaultPaymentAccountSubLabel' | transloco: { brandName: brandingConfig.brandName }"
                    [destinationAttributes]="sageIntacctPaymentAccount"
                    [iconPath]="'list'"
                    [placeholder]="'intacct.configuration.advancedSettings.defaultPaymentAccount' | transloco"
                    [formControllerName]="'defaultPaymentAccount'"></app-configuration-select-field>
                </div>
            </div>
        </div>

        <div class="tw-mb-16-px">
            <app-configuration-step-sub-header
                [label]="'intacct.configuration.advancedSettings.customPreferencesLabel' | transloco"
                [subLabel]="'intacct.configuration.advancedSettings.customPreferencesSubLabel' | transloco: {brandName: brandingConfig.brandName}">
            </app-configuration-step-sub-header>
            <div  class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-border-tertiary tw-rounded-12-px">
                <app-configuration-toggle-field
                    class="tw-pt-0"
                    [form]="advancedSettingsForm"
                    [iconPath]="'calendar'"
                    [label]="'intacct.configuration.advancedSettings.postEntriesCurrentPeriod' | transloco"
                    [subLabel]="'intacct.configuration.advancedSettings.accountingPeriodSubLabel' | transloco"
                    [formControllerName]="'postEntriesCurrentPeriod'">
                </app-configuration-toggle-field>
                <app-configuration-toggle-field
                    *ngIf="employeeFieldMapping && brandingFeatureConfig.featureFlags.advancedSettings.autoCreateVendors"
                    [form]="advancedSettingsForm"
                    [iconPath]="'user-plus'"
                    [label]="('intacct.configuration.advancedSettings.autoCreateEmployeeVendor' | transloco) + getEmployeeField()"
                    [subLabel]="'intacctAdvancedSettings.autoCreateEmployeeVendorSubLabel' | transloco: { employeeField: getEmployeeField(), brandName: brandingConfig.brandName }"
                    [formControllerName]="'autoCreateEmployeeVendor'">
                </app-configuration-toggle-field>

                <app-configuration-toggle-field
                    class="tw-pt-0"
                    *ngIf="isAutoCreateMerchantsFieldVisible() && brandingFeatureConfig.featureFlags.advancedSettings.autoCreateMerchants"
                    [form]="advancedSettingsForm"
                    [label]="'intacct.configuration.advancedSettings.autoCreateMerchantsAsVendorsLabel' | transloco"
                    [subLabel]="'intacctAdvancedSettings.autoCreateMerchantsSubLabel' | transloco: { brandName: brandingConfig.brandName }"
                    [formControllerName]="'autoCreateMerchants'">
                </app-configuration-toggle-field>
                <app-configuration-toggle-field
                    class="tw-pt-0"
                    *ngIf="isSingleCreditLineJEFieldVisible() && brandingFeatureConfig.featureFlags.advancedSettings.singleCreditLineJE"
                    [form]="advancedSettingsForm"
                    [iconPath]="'list'"
                    [label]="'intacct.configuration.advancedSettings.singleCreditLineJELabel' | transloco"
                    [subLabel]="'intacct.configuration.advancedSettings.singleCreditLineJESubLabel' | transloco"
                    [formControllerName]="'singleCreditLineJE'">
                </app-configuration-toggle-field>

            </div>

        </div>

        <div class="tw-mb-16-px">
            <app-configuration-step-sub-header
                [label]="'intacctAdvancedSettings.customization' | transloco"
                [subLabel]="'intacct.configuration.advancedSettings.customizeSectionSubLabel' | transloco: {brandName: brandingConfig.brandName}"
                >
            </app-configuration-step-sub-header>
            @if (brandingFeatureConfig.featureFlags.advancedSettings.showTopLevelMemoFieldInIntacct) {
                <div class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-border-tertiary tw-rounded-12-px">
                    <app-configuration-multi-select
                    [form]="advancedSettingsForm"
                    [label]="'intacct.configuration.advancedSettings.setTopMemoField' | transloco"
                    [subLabel]="'intacct.configuration.advancedSettings.topMemoStructureSubLabel' | transloco: {brandName: brandingConfig.brandName}"
                    [options]="defaultTopMemoFields"
                    [iconPath]="'list'"
                    [placeholder]="'intacctAdvancedSettings.placeholderTopMemo' | transloco"
                    [formControllerName]="'setTopMemoField'"></app-configuration-multi-select>
                    <div class="tw-pl-60-px tw-pr-24-px tw-pb-24-px">
                        <p class="tw-text-form-label-text-color tw-text-14-px tw-mb-12-px">{{ 'intacctAdvancedSettings.preview' | transloco }} {{'intacct.common.descriptionText' | transloco}}</p>
                        <div class="tw-bg-disabled-bg-color tw-rounded-4-px tw-text-14-px tw-py-10-px tw-px-16-px tw-text-text-muted tw-min-h-40-px">
                            <span>{{ topMemoPreviewText }}</span>
                        </div>
                    </div>
                </div>
            }
            <div class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-border-tertiary tw-rounded-12-px">
                <app-configuration-multi-select
                [form]="advancedSettingsForm"
                [label]="'intacct.configuration.advancedSettings.setDescriptionField' | transloco"
                [subLabel]="'intacct.configuration.advancedSettings.memoStructureSubLabel' | transloco: {brandName: brandingConfig.brandName}"
                [options]="defaultMemoFields"
                [iconPath]="'list'"
                [placeholder]="'intacctAdvancedSettings.placeholderDescription' | transloco"
                [formControllerName]="'setDescriptionField'"></app-configuration-multi-select>
                <div class="tw-pl-60-px tw-pr-24-px tw-pb-24-px">
                    <p class="tw-text-form-label-text-color tw-text-14-px tw-mb-12-px">{{ 'intacctAdvancedSettings.preview' | transloco }} {{'intacct.common.descriptionText' | transloco}}</p>
                    <div class="tw-bg-disabled-bg-color tw-rounded-4-px tw-text-14-px tw-py-10-px tw-px-16-px tw-text-text-muted tw-min-h-40-px">
                        <span>{{ memoPreviewText }}</span>
                    </div>
                </div>
            </div>
            <div *ngIf="brandingFeatureConfig.featureFlags.advancedSettings.skipExport" class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-border-tertiary tw-rounded-12-px">
                <app-configuration-toggle-field
                [form]="advancedSettingsForm"
                [label]="'intacctAdvancedSettings.skipSelectiveExpensesLabel' | transloco"
                [subLabel]="'intacctAdvancedSettings.skipSelectiveExpensesSubLabel' | transloco"
                [redirectLink]="intacctLink"
                [formControllerName]="'skipSelectiveExpenses'"></app-configuration-toggle-field>
                <div *ngIf="advancedSettingsForm.get('skipSelectiveExpenses')?.value">
                    <app-skip-export
                    #skipExportChild
                    [enableSkipExport]="advancedSettingsForm.get('skipSelectiveExpenses')?.value"
                    [skipExportForm]="skipExportForm"
                    (skipExportFormChange)="updateForm($event)"
                    (invalidSkipExportForm)="invalidSkipExportForm($event)">
                  </app-skip-export>
                </div>
            </div>
        </div>
        <div class="tw-mb-16-px">
            <app-configuration-step-sub-header
                [label]="'intacct.configuration.advancedSettings.dfvLabel' | transloco"
                [subLabel]="'intacct.configuration.advancedSettings.dfvSubLabel' | transloco: {brandName: brandingConfig.brandName}">
            </app-configuration-step-sub-header>
            <div class="tw-pt-28-px tw-pl-6 field-label">
                <div><label class="tw-text-form-label-text-color tw-text-14-px">{{ 'intacctAdvancedSettings.defaultLabel' | transloco }} {{'intacct.configuration.advancedSettings.location' | transloco}}</label><app-optional-field class="tw-text-14-px" *ngIf="!isAsterikAllowed"></app-optional-field></div>
                <div class="tw-pt-2">
                    <p-dropdown appendTo="body" [options]="sageIntacctLocations" optionLabel="value"
                    formControlName="defaultLocation" [placeholder]="'intacctAdvancedSettings.selectDimension' | transloco: { dimension: 'intacct.configuration.advancedSettings.location' | transloco }" [ngClass]="{'selectedItem': advancedSettingsForm.controls.defaultLocation.value, 'filterDropdown': !advancedSettingsForm.controls.defaultLocation.value, 'hideClearIcon': advancedSettingsForm.controls['defaultLocation'].value}">
                        <ng-template class="tw-flex tw-justify-between tw-items-center" pTemplate="selectedItem" let-item>
                            <p>
                                {{ item.value }}
                            </p>
                            <app-svg-icon [svgSource]="'cross-medium'" (click)="removeFilter(advancedSettingsForm.controls.defaultLocation)" [height]="'16px'" [width]="'16px'"></app-svg-icon>
                            </ng-template>
                    </p-dropdown>
                    <span *ngIf="brandingFeatureConfig.featureFlags.exportSettings.reimbursableExpenses" class="tw-pl-24-px">
                        <input formControlName="useEmployeeLocation" type="checkbox" />
                        <label class="tw-pl-8-px" for="checkbox">{{ 'intacctAdvancedSettings.useEmployeeLocation' | transloco }}</label>
                    </span>
                </div>
              </div>

              <div class="tw-pt-20-px tw-pl-6 field-label">
                <div><label class="tw-text-form-label-text-color tw-text-14-px">{{ 'intacctAdvancedSettings.defaultLabel' | transloco }} {{'intacct.configuration.advancedSettings.department' | transloco}}</label><app-optional-field class="tw-text-14-px" *ngIf="!isAsterikAllowed"></app-optional-field></div>
                <div class="tw-pt-2">
                  <p-dropdown appendTo="body" [options]="sageIntacctDepartments" optionLabel="value"
                  formControlName="defaultDepartment" [placeholder]="'intacctAdvancedSettings.selectDimension' | transloco: { dimension: 'intacct.configuration.advancedSettings.department' | transloco }" [ngClass]="{'selectedItem': advancedSettingsForm.controls.defaultDepartment.value, 'filterDropdown': !advancedSettingsForm.controls.defaultDepartment.value, 'hideClearIcon': advancedSettingsForm.controls['defaultDepartment'].value}">
                        <ng-template class="tw-flex tw-justify-between tw-items-center" let-value pTemplate="selectedItem">
                            <p>
                                <span *ngIf="value?.code && brandingFeatureConfig.featureFlags.importSettings.allowImportCode">{{ value?.code }}: </span>
                                {{ value?.value }}
                            </p>
                            <app-svg-icon [svgSource]="'cross-medium'" (click)="removeFilter(advancedSettingsForm.controls.defaultDepartment)" [height]="'16px'" [width]="'16px'"></app-svg-icon>
                        </ng-template>
                        <ng-template let-options pTemplate="item">
                            <div #textElement
                            [ngStyle]="{'white-space': 'nowrap', 'overflow': 'hidden', 'text-overflow': 'ellipsis', 'max-width': '16rem'}"
                            [pTooltip]="isOverflowing(textElement, options)" tooltipPosition="top">
                                <span>
                                {{options.value}}
                                </span>
                                <p class="tw-text-text-muted tw-text-12-px">{{ options.code ? options.code : '--'}}</p>
                            </div>
                        </ng-template>
                    </p-dropdown>
                    <span *ngIf="brandingFeatureConfig.featureFlags.exportSettings.reimbursableExpenses" class="tw-pl-24-px">
                        <input formControlName="useEmployeeDepartment" type="checkbox" />
                        <label class="tw-pl-8-px" for="checkbox">{{ 'intacctAdvancedSettings.useEmployeeDepartment' | transloco }}</label>
                    </span>
                </div>
              </div>

              <div class="tw-pt-20-px tw-pl-6 field-label">
                <div><label class="tw-text-form-label-text-color tw-text-14-px">{{ 'intacctAdvancedSettings.defaultLabel' | transloco }} {{'intacct.configuration.advancedSettings.project' | transloco}}</label><app-optional-field class="tw-text-14-px" *ngIf="!isAsterikAllowed"></app-optional-field></div>
                <div class="tw-pt-2">
                  <p-dropdown appendTo="body" [options]="sageIntacctProjects" optionLabel="value"
                  formControlName="defaultProject" [placeholder]="'intacctAdvancedSettings.selectDimension' | transloco: { dimension: 'intacct.configuration.advancedSettings.project' | transloco }" [ngClass]="{'selectedItem': advancedSettingsForm.controls.defaultProject.value, 'filterDropdown': !advancedSettingsForm.controls.defaultProject.value, 'hideClearIcon': advancedSettingsForm.controls['defaultProject'].value}">
                        <ng-template class="tw-flex tw-justify-between tw-items-center" pTemplate="selectedItem" let-item>
                            <div>
                                {{ item.value }}
                            </div>
                            <app-svg-icon [svgSource]="'cross-medium'" (click)="removeFilter(advancedSettingsForm.controls.defaultProject)" [height]="'16px'" [width]="'16px'"></app-svg-icon>
                        </ng-template>
                    </p-dropdown>
                </div>
              </div>

              <div class="tw-pt-20-px tw-pl-6 field-label">
                <div><label class="tw-text-form-label-text-color tw-text-14-px">{{ 'intacctAdvancedSettings.defaultLabel' | transloco }} {{'intacct.configuration.advancedSettings.class' | transloco}}</label><app-optional-field class="tw-text-14-px" *ngIf="!isAsterikAllowed"></app-optional-field></div>
                <div class="tw-pt-2">
                  <p-dropdown appendTo="body" [options]="sageIntacctClasses" optionLabel="value"
                  formControlName="defaultClass" [placeholder]="'intacctAdvancedSettings.selectDimension' | transloco: { dimension: 'intacct.configuration.advancedSettings.class' | transloco }" [ngClass]="{'selectedItem': advancedSettingsForm.controls.defaultClass.value, 'filterDropdown': !advancedSettingsForm.controls.defaultClass.value, 'hideClearIcon': advancedSettingsForm.controls['defaultClass'].value}">
                        <ng-template class="tw-flex tw-justify-between tw-items-center" pTemplate="selectedItem" let-item>
                            <div>
                                {{ item.value }}
                            </div>
                            <app-svg-icon [svgSource]="'cross-medium'" (click)="removeFilter(advancedSettingsForm.controls.defaultClass)" [height]="'16px'" [width]="'16px'"></app-svg-icon>
                        </ng-template>
                    </p-dropdown>
                </div>
              </div>

              <div class="tw-pt-20-px tw-pl-6 field-label">
                <div><label class="tw-text-form-label-text-color tw-text-14-px">{{ 'intacctAdvancedSettings.defaultLabel' | transloco }} {{'intacct.configuration.advancedSettings.item' | transloco}}</label><app-optional-field class="tw-text-14-px" *ngIf="!isAsterikAllowed"></app-optional-field></div>
                <div class="tw-pt-2">
                  <p-dropdown appendTo="body" [options]="sageIntacctDefaultItem" optionLabel="value"
                  formControlName="defaultItems" [placeholder]="'intacctAdvancedSettings.selectDimension' | transloco: { dimension: 'intacct.configuration.advancedSettings.item' | transloco }" [ngClass]="{'selectedItem': advancedSettingsForm.controls.defaultItems.value, 'filterDropdown': !advancedSettingsForm.controls.defaultItems.value, 'hideClearIcon': advancedSettingsForm.controls['defaultItems'].value}">
                        <ng-template class="tw-flex tw-justify-between tw-items-center" pTemplate="selectedItem" let-item>
                            <div>
                                {{ item.value }}
                            </div>
                            <app-svg-icon [svgSource]="'cross-medium'" (click)="removeFilter(advancedSettingsForm.controls.defaultItems)" [height]="'16px'" [width]="'16px'"></app-svg-icon>
                        </ng-template>
                    </p-dropdown>
                </div>
              </div>
        </div>
    </div>
    <app-configuration-step-footer (navigateToPreviousStep)="navigateToPreviousStep()" [ctaText] = "!saveInProgress ? (isOnboarding ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVE) : ConfigurationCtaText.SAVING" (save)="save()" [isButtonDisabled]="isSkipExportFormInvalid || !advancedSettingsForm.valid || (advancedSettingsForm.get('skipSelectiveExpenses')?.value ? !skipExportForm.valid : false)" [showBackButton]="isOnboarding ? true : false"></app-configuration-step-footer>
    </form>
</div>
