.error-box {
    @apply tw-border-border-danger-dark #{!important};
}

.normal-box  {
    @apply tw-border-box-color #{!important};
}

.normal-box :enabled:focus-visible {
    @apply tw-border-faded-text-color #{!important};
}

.p-inputtext {
    @apply tw-w-400-px tw-h-40-px tw-py-10-px tw-px-14-px tw-text-slightly-normal-text-color tw-border tw-border-solid tw-rounded-4-px #{!important}
}

.pi-eye.fyle {
    @apply tw-mt-[-8px] #{!important};
}

.pi-eye-slash.fyle {
    @apply tw-mt-[-11px] #{!important};
}