<div class="tw-p-40-px tw-border tw-shadow-sm">
    <div class="tw-flex tw-justify-center tw-pb-24-px">
        @if (illustrationsAllowed) {
        <img src="assets/illustrations/login.svg" />
        }
    </div>

    @if (!isConnectionInProgress) {
      @if (!isIntegrationDisconnected) {
        <p class="tw-flex tw-justify-center tw-pb-8-px tw-text-20-px tw-font-500 tw-text-text-primary"> Connection expired </p>

        <p class="tw-text-center tw-font-400 tw-text-slightly-normal-text-color tw-pb-24-px tw-w-[600px] tw-break-words tw-whitespace-normal">
          Your connection to {{appName}} has been expired, To continue using the integration seamlessly, please reconnect your account. </p>

      } @else {
        <p class="tw-flex tw-justify-center tw-pb-8-px tw-text-20-px tw-font-500 tw-text-text-primary"> Connection disconnected </p>

        <p class="tw-text-center tw-font-400 tw-text-slightly-normal-text-color tw-pb-24-px tw-w-[600px] tw-break-words tw-whitespace-normal">
          The integration with {{appName}} has been disconnected, to continue using the integration seamlessly, please reconnect your account. </p>
      }

        <div class="tw-flex tw-justify-center tw-items-center">
          
          @if (appName === AppName.QBO) {
            <div class="tw-cursor-pointer">
              <img
                [src]="qboConnectButtonSource"
                (click)="initiateOAuth()"
                (mouseover)="qboConnectButtonSource = 'assets/buttons/connect-to-qbo-active.svg'"
                (mouseout)="qboConnectButtonSource = 'assets/buttons/connect-to-qbo.svg'">
            </div>
          }
      
          @if (appName === AppName.XERO) {
            <div class="tw-cursor-pointer">
              <img
                [src]="xeroConnectButtonSource"
                (click)="initiateOAuth()">
            </div>
          }
      
        </div>
    }

    @if (isConnectionInProgress) {
      <p class="tw-text-center tw-font-400 tw-text-slightly-normal-text-color tw-pb-24-px tw-w-[600px] tw-break-words tw-whitespace-normal">
      We are syncing your data between your {{brandingConfig.brandName}} - {{appName}} account and this may take a few seconds. </p>

      <div class="tw-flex tw-justify-center tw-items-center">
        <app-loader></app-loader>
      </div>
    }
</div>

@if (isIncorrectAccountSelected) {
<app-configuration-confirmation-dialog
    (warningAccepted)="acceptWarning($event)"
    [isWarningVisible]="isIncorrectAccountSelected"
    [headerText]="'Incorrect account selected'"
    [contextText]="'You had previously set up the integration with a different ' + appName + ' account. Please choose the same to restore the settings'"
    [confirmBtnText]="'Re connect'"
    [showSecondaryCTA]="false">
</app-configuration-confirmation-dialog>
}