<div>

    <app-landing-page-header 
        [iconPath]="'assets/logos/travelperk-logo.svg'"
        [appName]="AppName.TRAVELPERK"
        [appDescription]="'Effortlessly automate accurate expense creation for your TravelPerk invoices as credit card expenses in ' + brandingConfig.brandName + '.'"
        [isIntegrationConnected]="isIntegrationConnected"
        [isRecipeRunning]="true"
        [logoStyleClasses]="'tw-p-3'"
        [isConnectionInProgress]="isConnectionInProgress"
        (disconnectIntegration)="disconnect()"
        (connectIntegration)="connectTravelperk()">
    </app-landing-page-header>


    <app-landing-page-body
        [headerText]="'Learn how to seamlessly connect your TravelPerk account with '+ brandingConfig.brandName +' and optimize your workflow for an efficient integration.'" 
        [svgPath]="'assets/flow-charts/travelperk-flow-chart.svg'" 
        [redirectLink]="brandingKbArticles.topLevelArticles.TRAVELPERK"
        [embedVideo]="''"
        [appName]="AppName.TRAVELPERK">
    </app-landing-page-body>
</div>
