<div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-screen">
    <app-loader></app-loader>
</div>
<div *ngIf="!isLoading" class="configuration--contents tw-border-border-tertiary tw-mt-6" [ngClass]="brandingStyle.common.configurationContents">
    <div>
        <app-configuration-step-header [headerText]="'Import settings'"
            [contentText]="'Choose the required import fields from Sage Intacct to Expense Management.'"
            [redirectLink]="supportArticleLink" [showSyncButton]="isOnboarding" [appName]="appName"
            (refreshDimension)="refreshDimensions()">
        </app-configuration-step-header>
    </div>
    <div>
        <form [formGroup]="importSettingsForm">
            <div class="tw-p-24-px tw-pt-0">
                <div>
                    <app-configuration-import-field
                        [form]="importSettingsForm"
                        [appName]="appName"
                        [accountingFieldOptions]="sageIntacctFields"
                        [fyleFieldOptions]="fyleFields"
                        [costCategoryOption]="costCategoryOption" 
                        [costCodeFieldOption]="costCodeFieldOption" 
                        [dependentImportFields]="dependentImportFields" 
                        [dependentDestinationValue]="'PROJECT'"
                        [isDestinationFixedImport]="true"
                        (showWarningForDependentFields)="showWarningForDependentFields()">
                    </app-configuration-import-field>
                </div>
            </div>
            <app-configuration-step-footer
                [ctaText] = "!saveInProgress ? (isOnboarding ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVE) : ConfigurationCtaText.SAVING"
                [isButtonDisabled]="!importSettingsForm.valid"
                [showBackButton]="isOnboarding ? true : false"
                (save)="save()"
                (navigateToPreviousStep)="navigateToPreviousStep()">
            </app-configuration-step-footer>
        </form>
    </div>
    <div>
        <app-configuration-custom-field-creation-dialog
            [customFieldForm]="customFieldForm"
            [showCustomFieldCreationDialog]="showDialog"
            (saveCustomFieldFn)="saveCustomField()"
            (closeModelFn)="closeModel()">
        </app-configuration-custom-field-creation-dialog>
    </div>
</div>
<div>
    <app-configuration-confirmation-dialog 
        (warningAccepted)="acceptDependentFieldWarning($event)"
        [isWarningVisible]="showDependentFieldWarning" 
        [headerText]="'Warning'"
        [contextText]="'You have imported Cost codes and Cost Types from Sage Intacct by mapping them to fields in ' + brandingConfig.brandName + '. By turning off the import, you would lose the mappings you\'ve established for these fields.'"
        [confirmBtnText]="'Continue'">
    </app-configuration-confirmation-dialog>
</div>
<div *ngIf="isDialogVisible">
    <app-preview-dialog
        [isPreviewDialogVisible]="true"
        [iconPath]="'assets/illustrations/sageIntacct/IntacctImportSettings.png'" (closeDialog)="showPreviewDialog(false)"
        [header]="'Preview'">
    </app-preview-dialog>
</div>
