:host ::ng-deep .error-box {
    @apply tw-border-alert-toast #{!important};
}

:host ::ng-deep .normal-box  {
    @apply tw-border-box-color #{!important};
}

:host ::ng-deep .normal-box :enabled:focus-visible {
    @apply tw-border-slightly-normal-text-color #{!important};
}
