<div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-screen">
    <app-loader></app-loader>
</div>
<div *ngIf="!isLoading" class="configuration--contents tw-border-separator tw-mt-6">
    <div>
    <app-configuration-step-header 
    [headerText]="'Export Settings'"
    [contentText]="'In this section, you can configure how and when expenses from Fyle should be exported to Sage Intacct.'"
    [redirectLink]="RedirectLink.INTACCT"
    [showSyncButton]="true"></app-configuration-step-header>
    </div>
    <form [formGroup]="exportSettingsForm">
        <div class="tw-p-24-px">
            <div class="tw-mb-16-px">
                <div class="tw-rounded-lg tw-border-separator tw-border tw-bg-configuration-bg">
                    <app-configuration-toggle-field 
                    [form]="exportSettingsForm"
                    [label]="'Export Reimbursable Expenses'" 
                    [subLabel]="'Enable this to export the reimbursable expenses from Fyle. If not enabled, any <b>out-of-pocket</b> expenses will not be exported to Sage Intacct .'" 
                    [formControllerName]="'reimbursableExpense'"></app-configuration-toggle-field>
                </div>
                <div *ngIf="exportSettingsForm.value.reimbursableExpense">
                    <div class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                        [form]="exportSettingsForm"
                        [isFieldMandatory]="true"
                        [mandatoryErrorListName]="'export state'"
                        [label]="'How should the expenses be exported?'"
                        [subLabel]="'Choose the type of transaction record that you would like to create in Sage Intacct while exporting expenses from Fyle. Click here for more details.'"
                        [options]="reimbursableExportTypes"
                        [iconPath]="'expense'"
                        [placeholder]="'Select expense export module'"
                        [formControllerName]="'reimbursableExportType'"></app-configuration-select-field>
                        <div *ngIf="exportSettingsForm.value.reimbursableExportType==='JOURNAL_ENTRY'">
                                <app-configuration-select-field
                                [form]="exportSettingsForm"
                                [isFieldMandatory]="true"
                                [mandatoryErrorListName]="'export state'"
                                [label]="'To which GL Account should the expenses be credited to?'"
                                [subLabel]="'The integration will credit the account selected here for Reimbursable Expenses exported as Journal Entries.'"
                                [options]="sageIntacctDefaultGLAccounts"
                                [iconPath]="'copy-v2'"
                                [placeholder]="'Select GL account'"
                                [formControllerName]="'glAccount'"></app-configuration-select-field>
                            </div>
                    </div>
                    <div *ngIf="exportSettingsForm.value.reimbursableExportType==='JOURNAL_ENTRY'" class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                        [form]="exportSettingsForm"
                        [isFieldMandatory]="true"
                        [mandatoryErrorListName]="'export state'"
                        [label]="'How are your Employees represented in Sage Intacct?'"
                        [subLabel]="'Select how you represent your employees in Sage Intacct. This would help to export the expenses to the correct record in Sage Intacct.'"
                        [options]="employeeFieldOptions"
                        [iconPath]="'threepeople'"
                        [placeholder]="'Select representation'"
                        [formControllerName]="'employeeFieldMapping'"></app-configuration-select-field>
                    </div>
                    <div *ngIf="exportSettingsForm.value.employeeFieldMapping==='EMPLOYEE'" class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                        [form]="exportSettingsForm"
                        [isFieldMandatory]="true"
                        [mandatoryErrorListName]="'export state'"
                        [label]="'How should Employees in Fyle be mapped to Employees in Sage Intacct?'"
                        [subLabel]="'Automatically map the employees in Fyle to their corresponding records in Sage Intacct based on a unique parameter.'"
                        [options]="['Sample']"
                        [iconPath]="'threepeople'"
                        [placeholder]="'Select representation'"
                        [formControllerName]="'auto_map_employees'"></app-configuration-select-field>
                    </div>
                    <div class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                        [form]="exportSettingsForm"
                        [isFieldMandatory]="true"
                        [mandatoryErrorListName]="'export state'"
                        [label]="'At which state should the expenses be ready to export from Fyle?'"
                        [subLabel]="'You can export expenses either when they are awaiting payment after approval (Processing) or when the payment has been settled (Closed).'"
                        [options]="expenseStateOptions"
                        [iconPath]="'questionmark'"
                        [placeholder]="'Select export state'"
                        [formControllerName]="'reimbursableExpenseState'"></app-configuration-select-field>
                    </div>
                    <div class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                        [form]="exportSettingsForm"
                        [isFieldMandatory]="true"
                        [mandatoryErrorListName]="'export state'"
                        [label]="'Set the ' + getExportType(exportSettingsForm.value.reimbursableExportType) + ' date as'"
                        [subLabel]="'The selected type of date will reflect in the expenses exported from Fyle to Sage Intacct. Click here for more details.'"
                        [options]="reimbursableExpenseGroupingDateOptions"
                        [iconPath]="'calender'"
                        [placeholder]="'Select date'"
                        [formControllerName]="'reimbursableExportDate'"></app-configuration-select-field>
                    </div>
                    <div class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                        [form]="exportSettingsForm"
                        [isFieldMandatory]="true"
                        [mandatoryErrorListName]="'export state'"
                        [label]="'How should the expenses be grouped?'"
                        [subLabel]="'Expenses can either be exported as single line items (Expense) or as a grouped report with multiple line items (Expense Report)'"
                        [options]="expenseGroupingFieldOptions"
                        [iconPath]="'questionmark'"
                        [placeholder]="'Select expense grouping'"
                        [formControllerName]="'reimbursableExportGroup'"></app-configuration-select-field>
                    </div>
                </div>
            </div>
            <div>
                <div class="tw-rounded-lg tw-border-separator tw-border tw-bg-configuration-bg">
                    <app-configuration-toggle-field 
                    [form]="exportSettingsForm"
                    [label]="'Export Corporate Card Expenses'" 
                    [subLabel]="'Enable the export of <b>credit card</b> expenses from Fyle to Sage Intacct .'" 
                    [formControllerName]="'creditCardExpense'"></app-configuration-toggle-field>
                </div>
                <div *ngIf="exportSettingsForm.value.creditCardExpense">
                    <div class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                        [form]="exportSettingsForm"
                        [isFieldMandatory]="true"
                        [mandatoryErrorListName]="'export state'"
                        [label]="'How should the expenses be exported?'"
                        [subLabel]="'Choose the type of transaction record that you would like to create in Sage Intacct while exporting expenses from Fyle. Click here for more details.'"
                        [options]="creditCardExportTypes"
                        [iconPath]="'expense'"
                        [placeholder]="'Select expense export module'"
                        [formControllerName]="'cccExportType'"></app-configuration-select-field>
                    </div>
                    <div class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                        [form]="exportSettingsForm"
                        [isFieldMandatory]="true"
                        [mandatoryErrorListName]="'export state'"
                        [label]="'At which state should the expenses be ready to export from Fyle?'"
                        [subLabel]="'You can export expenses either when they are awaiting payment after approval (Payment processing) or when the payment has been settled (Paid).'"
                        [options]="cccExpenseStateOptions"
                        [iconPath]="'questionmark'"
                        [placeholder]="'Select export state'"
                        [formControllerName]="'cccExpenseState'"></app-configuration-select-field>
                    </div>
                    <div class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                        [form]="exportSettingsForm"
                        [isFieldMandatory]="true"
                        [mandatoryErrorListName]="'export state'"
                        [label]="'Set the expense/bill date as?'"
                        [subLabel]="'The selected type of date will reflect in the expenses exported from Fyle to Sage Intacct. Click here for more details.'"
                        [options]="cccExpenseGroupingDateOptions"
                        [iconPath]="'calender'"
                        [placeholder]="'Select date'"
                        [formControllerName]="'cccExportDate'"></app-configuration-select-field>
                    </div>
                    <div class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                        [form]="exportSettingsForm"
                        [isFieldMandatory]="true"
                        [mandatoryErrorListName]="'export state'"
                        [label]="'How should the expenses be grouped?'"
                        [subLabel]="'Expenses can either be exported as single line items (Expense) or as a grouped report with multiple line items (Expense Report)'"
                        [options]="expenseGroupingFieldOptions"
                        [iconPath]="'questionmark'"
                        [placeholder]="'Select expense grouping'"
                        [formControllerName]="'cccExportGroup'"></app-configuration-select-field>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <app-configuration-step-footer [ctaText] = "!saveInProgress ? (isOnboarding ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVE) : ConfigurationCtaText.SAVING"></app-configuration-step-footer>
        </div>
    </form>
</div>