<div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-screen">
    <app-loader></app-loader>
</div>
<div *ngIf="!isLoading" class="configuration--contents tw-border-separator tw-mt-6">
    <div>
    <app-configuration-step-header 
    [headerText]="'Export Settings'"
    [contentText]="'In this section, you can configure how and when expenses from ' + brandingConfig.brandName + ' should be exported to Sage Intacct.'"
    [redirectLink]="redirectLink"
    [showSyncButton]="isOnboarding"
    [appName]="appName"
    (refreshDimension)="refreshDimensions($event)"></app-configuration-step-header>
    </div>
    <form [formGroup]="exportSettingsForm">
        <div class="tw-p-24-px">
            <div class="tw-mb-16-px">
                <div *ngIf="brandingFeatureConfig.reimbursableExpenses" class="tw-rounded-lg tw-border-separator tw-border tw-bg-configuration-bg">
                    <app-configuration-toggle-field 
                    [form]="exportSettingsForm"
                    [label]="'Export Reimbursable Expenses'" 
                    [subLabel]="'Enable this to export the reimbursable expenses from ' + brandingConfig.brandName + '. If not enabled, any <b>out-of-pocket</b> expenses will not be exported to Sage Intacct .'" 
                    [formControllerName]="'reimbursableExpense'"
                    [isSectionHeader]="true"></app-configuration-toggle-field>
                </div>
                <div *ngIf="brandingFeatureConfig.reimbursableExpenses && exportSettingsForm.value?.reimbursableExpense">
                    <div class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                            [form]="exportSettingsForm"
                            [isFieldMandatory]="true"
                            [mandatoryErrorListName]="'export module'"
                            [label]="'How should the expenses be exported?'"
                            [options]="reimbursableExportTypes"
                            [iconPath]="'expense'"
                            [placeholder]="'Select expense export module'"
                            [formControllerName]="'reimbursableExportType'"
                            [appName]="appName"
                            [exportConfigurationIconPath]="'assets/flow-charts/intacct-export-module.svg'"
                            [exportTypeIconPathArray]="previewImagePaths">
                        </app-configuration-select-field>
                            <div *ngIf="exportSettingsForm.value.reimbursableExportType===IntacctReimbursableExpensesObject.JOURNAL_ENTRY">
                                <app-configuration-select-field
                                [form]="exportSettingsForm"
                                [isFieldMandatory]="true"
                                [mandatoryErrorListName]="'GL Account'"
                                [label]="'To which GL Account should the expenses be credited to?'"
                                [subLabel]="'The integration will credit the account selected here for Reimbursable Expenses exported as Journal Entries.'"
                                [destinationAttributes]="this.destinationOptions['ACCOUNT']"
                                [destinationOptionKey]="IntacctExportSettingDestinationOptionKey.ACCOUNT"
                                [isOptionSearchInProgress]="isOptionSearchInProgress"
                                [iconPath]="'expense'"
                                [placeholder]="'Select GL account'"
                                [formControllerName]="'glAccount'"
                                (searchOptionsDropdown)="searchOptionsDropdown($event)"></app-configuration-select-field>
                            </div>
                            <div *ngIf="exportSettingsForm.value.reimbursableExportType===IntacctReimbursableExpensesObject.EXPENSE_REPORT">
                                <app-configuration-select-field
                                [form]="exportSettingsForm"
                                [isFieldMandatory]="false"
                                [mandatoryErrorListName]="'expense payment type'"
                                [label]="'Set the Default Expense Payment Type as?'"
                                [subLabel]="'The selected Expense Payment Type will be added to the reimbursable expenses exported from ' + brandingConfig.brandName + ' to Sage Intacct.'"
                                [destinationAttributes]="this.destinationOptions['EXPENSE_PAYMENT_TYPE']"
                                [destinationOptionKey]="IntacctExportSettingDestinationOptionKey.EXPENSE_PAYMENT_TYPE"
                                [isOptionSearchInProgress]="isOptionSearchInProgress"
                                [iconPath]="'expense'"
                                [placeholder]="'Select expense payment type'"
                                [formControllerName]="'reimbursableExpensePaymentType'"
                                (searchOptionsDropdown)="searchOptionsDropdown($event)"></app-configuration-select-field>
                            </div>
                    </div>
                    <div *ngIf="exportSettingsForm.value.reimbursableExportType" class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <ng-container *ngTemplateOutlet="employeeFieldMapping"></ng-container>
                        <div *ngIf="exportSettingsForm.value.reimbursableExportType">
                            <app-configuration-select-field
                            [form]="exportSettingsForm"
                            [isFieldMandatory]="false"
                            [showClearIcon]="true"
                            [mandatoryErrorListName]="'employee mapping'"
                            [label]="'How should Employees in ' + brandingConfig.brandName + ' be mapped to ' + getEmployeeFieldMapping(exportSettingsForm.value.employeeFieldMapping, exportSettingsForm.value.reimbursableExportType) + ' in Sage Intacct?'"
                            [subLabel]="'Automatically map the employees in ' + brandingConfig.brandName + ' to their corresponding records in Sage Intacct based on a unique parameter.'"
                            [options]="autoMapEmployeeOptions"
                            [iconPath]="'questionmark'"
                            [placeholder]="'Select mapping method'"
                            [formControllerName]="'autoMapEmployees'"></app-configuration-select-field>
                        </div>
                    </div>
                    <div *ngIf="exportSettingsForm.value.reimbursableExportType" class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                        [form]="exportSettingsForm"
                        [isFieldMandatory]="true"
                        [mandatoryErrorListName]="'expense state'"
                        [label]="'At which state should the expenses be ready to export from ' + brandingConfig.brandName + '?'"
                        [subLabel]="'You can export expenses either when they are awaiting closure after approval (Processing) or when the payment has been settled (Closed).'"
                        [options]="expenseStateOptions"
                        [iconPath]="'questionmark'"
                        [placeholder]="'Select export state'"
                        [formControllerName]="'reimbursableExpenseState'"></app-configuration-select-field>
                    </div>
                    <div *ngIf="exportSettingsForm.value.reimbursableExportType" class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                        [form]="exportSettingsForm"
                        [isFieldMandatory]="true"
                        [mandatoryErrorListName]="'export date'"
                        [label]="'Set the ' + getExportType(exportSettingsForm.value.reimbursableExportType ? exportSettingsForm.value.reimbursableExportType : IntacctReimbursableExpensesObject.EXPENSE_REPORT) + ' date as'"
                        [subLabel]="'Expenses will be grouped and posted using the configured date when exporting from ' + brandingConfig.brandName + ' to Sage Intacct. Click here for more details.'"
                        [options]="reimbursableExpenseGroupingDateOptions"
                        [iconPath]="'calender'"
                        [placeholder]="'Select date'"
                        [formControllerName]="'reimbursableExportDate'"></app-configuration-select-field>
                    </div>
                    <div *ngIf="exportSettingsForm.value.reimbursableExportType" class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                        [form]="exportSettingsForm"
                        [isFieldMandatory]="true"
                        [mandatoryErrorListName]="'how expenses to be grouped'"
                        [label]="'How should the expenses be grouped?'"
                        [subLabel]="'Expenses can either be exported as single line items (Expense) or as a grouped report with multiple line items (Report)'"
                        [options]="expenseGroupingFieldOptions"
                        [iconPath]="'questionmark'"
                        [placeholder]="'Select expense grouping'"
                        [formControllerName]="'reimbursableExportGroup'"></app-configuration-select-field>
                    </div>
                </div>
            </div>
            <div>
                <div class="tw-rounded-lg tw-border-separator tw-border tw-bg-configuration-bg">
                    <app-configuration-toggle-field 
                    [form]="exportSettingsForm"
                    [label]="'Export Corporate Card Expenses'" 
                    [subLabel]="'Enable this to export Non-Reimbursable expenses from ' + brandingConfig.brandName + '. If not enabled, any <b>Corporate Credit Card</b> expenses will not be exported to Sage Intacct.'" 
                    [formControllerName]="'creditCardExpense'"
                    [isSectionHeader]="true"></app-configuration-toggle-field>
                </div>
                <div *ngIf="exportSettingsForm.value?.creditCardExpense">
                    <div class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                        [form]="exportSettingsForm"
                        [isFieldMandatory]="true"
                        [mandatoryErrorListName]="'export module'"
                        [label]="'How should the expenses be exported?'"
                        [options]="creditCardExportTypes"
                        [iconPath]="'expense'"
                        [placeholder]="'Select expense export module'"
                        [formControllerName]="'cccExportType'"
                        [exportConfigurationIconPath]="'assets/illustrations/sageIntacct/cccExportTypeTable.svg'"
                        [exportTypeIconPathArray]="previewImagePaths"></app-configuration-select-field>
                        <div *ngIf="exportSettingsForm.value.cccExportType===CorporateCreditCardExpensesObject.EXPENSE_REPORT">
                            <app-configuration-select-field
                            [form]="exportSettingsForm"
                            [isFieldMandatory]="true"
                            [mandatoryErrorListName]="'expense payment type'"
                            [label]="'Set the Default Expense Payment Type as?'"
                            [subLabel]="'The selected Expense Payment Type will be added to the Corporate credit card expenses exported from ' + brandingConfig.brandName + ' to Sage Intacct.'"
                            [destinationAttributes]="this.destinationOptions['CCC_EXPENSE_PAYMENT_TYPE']"
                            [destinationOptionKey]="IntacctExportSettingDestinationOptionKey.CCC_EXPENSE_PAYMENT_TYPE"
                            [isOptionSearchInProgress]="isOptionSearchInProgress"
                            [iconPath]="'expense'"
                            [placeholder]="'Select expense payment type'"
                            [formControllerName]="'cccExpensePaymentType'"
                            (searchOptionsDropdown)="searchOptionsDropdown($event)"></app-configuration-select-field>
                        </div>
                        <div *ngIf="exportSettingsForm.value.cccExportType===CorporateCreditCardExpensesObject.BILL">
                            <app-configuration-select-field
                            [form]="exportSettingsForm"
                            [isFieldMandatory]="true"
                            [mandatoryErrorListName]="'credit card vendor'"
                            [label]="'Set the Default Credit Card Vendor as'"
                            [subLabel]="'The vendor configured here will be added to all the Credit Card expenses exported as Bills.'"
                            [destinationAttributes]="this.destinationOptions['VENDOR']"
                            [destinationOptionKey]="IntacctExportSettingDestinationOptionKey.VENDOR"
                            [isOptionSearchInProgress]="isOptionSearchInProgress"
                            [iconPath]="'expense'"
                            [placeholder]="'Select credit card vendor'"
                            [formControllerName]="'creditCardVendor'"
                            (searchOptionsDropdown)="searchOptionsDropdown($event)"></app-configuration-select-field>
                        </div>
                        <div *ngIf="exportSettingsForm.value.cccExportType===CorporateCreditCardExpensesObject.JOURNAL_ENTRY">
                            <app-configuration-select-field
                            [form]="exportSettingsForm"
                            [isFieldMandatory]="true"
                            [mandatoryErrorListName]="'GL account'"
                            [label]="'To which GL Account should the expenses be credited to?'"
                            [subLabel]="'The integration will credit the account selected here for Corporate Credit Card Expenses exported as Journal Entries.'"
                            [destinationAttributes]="this.destinationOptions['ACCOUNT']"
                            [destinationOptionKey]="IntacctExportSettingDestinationOptionKey.ACCOUNT"
                            [isOptionSearchInProgress]="isOptionSearchInProgress"
                            [iconPath]="'expense'"
                            [placeholder]="'Select GL account'"
                            [formControllerName]="'creditCard'"
                            (searchOptionsDropdown)="searchOptionsDropdown($event)"></app-configuration-select-field>
                        </div>
                        <div *ngIf="exportSettingsForm.value.cccExportType===CorporateCreditCardExpensesObject.CHARGE_CARD_TRANSACTION">
                            <app-configuration-select-field
                            [form]="exportSettingsForm"
                            [isFieldMandatory]="true"
                            [mandatoryErrorListName]="'charge card'"
                            [label]="'Set the Default Charge Card'"
                            [subLabel]="'Expenses of Corporate Cards in ' + brandingConfig.brandName + ' that are not mapped to their respective cards in Sage Intacct will be posted to the Card configured here. You can map your cards in the Mapping section after configuring the integration.'"
                            [destinationAttributes]="this.destinationOptions['CHARGE_CARD']"
                            [destinationOptionKey]="IntacctExportSettingDestinationOptionKey.CHARGE_CARD"
                            [isOptionSearchInProgress]="isOptionSearchInProgress"
                            [iconPath]="'expense'"
                            [placeholder]="'Select Charge Corporate Card'"
                            [formControllerName]="'chargeCard'"
                            (searchOptionsDropdown)="searchOptionsDropdown($event)"></app-configuration-select-field>
                        </div>
                    </div>
                    <div *ngIf="exportSettingsForm.value.cccExportType" class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <div *ngIf="!exportSettingsForm.value.reimbursableExportType && exportSettingsForm.value.cccExportType === CorporateCreditCardExpensesObject.JOURNAL_ENTRY">
                            <ng-container *ngTemplateOutlet="employeeFieldMapping"></ng-container>
                        </div>
                        <app-configuration-select-field *ngIf="exportSettingsForm.value.cccExportType"
                        [form]="exportSettingsForm"
                        [isFieldMandatory]="true"
                        [mandatoryErrorListName]="'expense state'"
                        [label]="'At which state should the expenses be ready to export from ' + brandingConfig.brandName + '?'"
                        [subLabel]="'You can export expenses either when they are awaiting closure after approval (Approved) or when the transaction has been settled (Closed)'"
                        [options]="cccExpenseStateOptions"
                        [iconPath]="'questionmark'"
                        [placeholder]="'Select export state'"
                        [formControllerName]="'cccExpenseState'"></app-configuration-select-field>
                    </div>
                    <div *ngIf="exportSettingsForm.value.cccExportType" class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                        [form]="exportSettingsForm"
                        [isFieldMandatory]="true"
                        [mandatoryErrorListName]="'export date'"
                        [label]="'Set the ' + getExportType(exportSettingsForm.value.cccExportType) + ' date as'"
                        [subLabel]="'Expenses will be grouped and posted using the configured date when exporting from ' + brandingConfig.brandName + ' to Sage Intacct. Click here for more details.'"
                        [options]="cccExpenseGroupingDateOptions"
                        [iconPath]="'calender'"
                        [placeholder]="'Select date'"
                        [formControllerName]="'cccExportDate'"></app-configuration-select-field>
                    </div>
                    <div *ngIf="exportSettingsForm.value.cccExportType" class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field *ngIf="exportSettingsForm.value.cccExportType!==CorporateCreditCardExpensesObject.CHARGE_CARD_TRANSACTION"
                        [form]="exportSettingsForm"
                        [isFieldMandatory]="true"
                        [mandatoryErrorListName]="'how expenses to be grouped'"
                        [label]="'How should the expenses be grouped?'"
                        [subLabel]="'Expenses can either be exported as single line items (Expense) or as a grouped report with multiple line items (Report)'"
                        [options]="expenseGroupingFieldOptions"
                        [iconPath]="'questionmark'"
                        [placeholder]="'Select expense grouping'"
                        [formControllerName]="'cccExportGroup'"></app-configuration-select-field>
                        <div *ngIf="exportSettingsForm.value.cccExportType===CorporateCreditCardExpensesObject.CHARGE_CARD_TRANSACTION">
                            <div class="tw-p-24-px tw-flex tw-flex-row tw-justify-between tw-items-center">
                                <div class="tw-flex tw-items-start lg:tw-w-3/5 md:tw-w-1/2">
                                    <svg-icon-sprite src="expense" width="20px" hight="20px" class="tw-text-mandatory-field-color"></svg-icon-sprite>
                                    <div class="lg:tw-w-3/5 md:tw-w-1/2 tw-pl-6">
                                        <h4 class="!tw-text-14-px !tw-font-500">How should the expenses be grouped?<app-mandatory-field></app-mandatory-field></h4>
                                        <h5 class="!tw-text-faded-text-color !tw-font-400 !tw-text-14-px tw-pt-6-px !tw-leading-4">Expenses can either be exported as single line items (Expense) or as a grouped report with multiple line items (Expense Report)</h5>
                                    </div>
                                </div>
                                <div class="tw-pl-18-px tw-pt-18-px">
                                    <input type="text" class="tw-text-14-px !tw-font-500 tw-w-300-px !tw-px-10-px !tw-py-8-px tw-border tw-border-solid !tw-border-separator tw-rounded-4-px" formControlName="cccExportGroup">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <app-configuration-step-footer [ctaText] = "!saveInProgress ? (isOnboarding ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVE) : ConfigurationCtaText.SAVING" (save)="save()" [isButtonDisabled]="!exportSettingsForm.valid"></app-configuration-step-footer>
        </div>
    </form>
</div>

<ng-template #employeeFieldMapping>
    <div [formGroup]="exportSettingsForm">
        <app-configuration-select-field
            *ngIf="!exportSettingsForm.controls.employeeFieldMapping.disabled"
            [form]="exportSettingsForm"
            [isFieldMandatory]="true"
            [mandatoryErrorListName]="'employee field'"
            [label]="'How are your Employees represented in Sage Intacct?'"
            [subLabel]="'Select how your employees are represented in Sage Intacct. This would help to export the expenses to the correct record in Sage Intacct'"
            [options]="employeeFieldOptions"
            [iconPath]="'twopeople'"
            [placeholder]="'Select representation'"
            [formControllerName]="'employeeFieldMapping'"></app-configuration-select-field>

        <div *ngIf="exportSettingsForm.controls.employeeFieldMapping.disabled">
            <div class="tw-p-24-px tw-flex tw-flex-row tw-justify-between tw-items-center">
                <div class="tw-flex tw-items-start lg:tw-w-3/5 md:tw-w-1/2">
                    <svg-icon-sprite src="expense" width="20px" hight="20px" class="tw-text-mandatory-field-color tw-pr-16-px tw-mt-4-px"></svg-icon-sprite>
                    <div>
                        <h4 class="!tw-text-14-px !tw-font-500">How are your Employees represented in Sage Intacct?<app-mandatory-field></app-mandatory-field></h4>
                        <h5 class="!tw-text-faded-text-color !tw-font-400 !tw-text-14-px tw-pt-6-px !tw-leading-4">Select how your employees are represented in Sage Intacct. This would help to export the expenses to the correct record in Sage Intacct</h5>
                    </div>
                </div>
                <div class="tw-h-40-px tw-w-300-px tw-bg-disabled-bg-color tw-border radius">
                    <div class="tw-text-14-px tw-text-slightly-normal-text-color tw-my-10-px tw-mx-14-px">{{getEmployeeFieldMapping(exportSettingsForm.value.employeeFieldMapping, exportSettingsForm.value.reimbursableExportType)}}</div>
                    <span class="sub-text tw-pt-3-px tw-text-12-px tw-text-sub-text-color">Auto-selected based on your export module</span>
                </div>
            </div>
        </div>
    </div>
</ng-template>
