<p-table [value]="setupTable()" [tableStyle]="{ 'min-width': '50rem'}">
    <ng-template pTemplate="header">
        <tr>
        <th class="!tw-pl-40-px">{{mappingPageName | titlecase}} in Fyle</th>
        <th>{{getColumnName() | titlecase}} in Sage Intacct</th>
        <th>Status</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-mapping>
        <tr>
            <td>
                <div class="tw-flex tw-items-center">
                    <svg-icon-sprite *ngIf="mapping.auto_mapped" pTooltip="Auto-mapped" tooltipPosition="top" src="flash" width="12px" height="12px" class="tw-mr-12-px tw-text-placeholder"></svg-icon-sprite>
                    <span [ngClass]="{'tw-pl-24-px': !mapping.auto_mapped}">{{ mapping.value }}</span>
                </div>
            </td>
            <td>
                <p-dropdown appendTo="body" (onShow)="tableDropdownWidth()"
                [ngModel]="getDropdownValue(mapping)" 
                [options]="getOptions()" 
                optionLabel="value" 
                placeholder="Select an Option" 
                (onChange)="save(mapping, $event); getDropdownValue(mapping)"
                [filter]="true"
                filterBy="value">
                </p-dropdown>                
            </td>
            <td>
                <p *ngIf="getDropdownValue(mapping)" class="mapped">MAPPED</p>
                <p *ngIf="!getDropdownValue(mapping)" class="unmapped">UNMAPPED</p>
            </td>
        </tr>
    </ng-template>
</p-table>

<ng-template #shimmers>
    <tr *ngFor="let _ of [0,1,2,3,4,5,6]">
        <td *ngIf="isLoading"><p-skeleton width="150px" height="28px" shape="rectangle"></p-skeleton></td>
        <td *ngIf="isLoading"><p-skeleton width="250px" height="28px" shape="rectangle"></p-skeleton></td>
    </tr>
</ng-template>