<div class="tw-pb-48-px">
    <div>
       <app-onboarding-steppers [onboardingSteps]="onboardingSteps"></app-onboarding-steppers>
    </div>
    <div>
        <div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-screen">
            <app-loader></app-loader>
        </div>
        <div *ngIf="!isLoading" class="configuration--contents tw-border-separator tw-mt-6" [ngClass]="{'tw-mx-120-px tw-shadow-app-card': brandingConfig.brandId === 'fyle', 'tw-mx-60-px tw-shadow-shadow-level-1': brandingConfig.brandId === 'co'}">
            <div>
                <app-configuration-step-header 
                [headerText]="'Connect to your Sage 300 CRE account'"
                [contentText]="'Connect to your Sage 300 CRE account to establish a connection between ' + brandingConfig.brandName + ' and Sage 300 CRE. HH2 Identifier is required to connect Sage 300 CRE to '+ brandingConfig.brandName"
                [redirectLink]="redirectLink"></app-configuration-step-header>
            </div>
            <div class="tw-p-24-px tw-px-24-px tw-pb-24-px">
                <div class="tw-flex tw-justify-center tw-items-center">
                    <form [formGroup]="connectSage300Form">
                        <div class="tw-mb-16-px">
                            <app-configuration-text-field [customErrorMessage]="'Please enter a valid HH2 Identifier.'" [form]="connectSage300Form" [formControllerName]="'companyID'" [isFieldMandatory]="true" [label]="'HH2 Identifier'" [placeholder]="'Enter HH2 Identifier'"></app-configuration-text-field>
                        </div>
                        <div class="tw-mb-16-px">
                            <app-configuration-text-field [customErrorMessage]="'Please enter valid HH2 User ID.'" [form]="connectSage300Form" [formControllerName]="'userID'" [isFieldMandatory]="true" [label]="'HH2 User ID'" [placeholder]="'Enter HH2 User ID'"></app-configuration-text-field>
                        </div>
                        <div>
                            <app-configuration-text-field [customErrorMessage]="'Incorrect Password. Please enter correct password'" [form]="connectSage300Form" [formControllerName]="'userPassword'" [isFieldMandatory]="true" [label]="'HH2 User Password'" [placeholder]="'Enter HH2 User Password'" [type]="'password'"></app-configuration-text-field>
                        </div>
                    </form>
                </div>
                <app-configuration-step-footer [ctaText]="!saveInProgress ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVING" (save)="save()" [isButtonDisabled]="!connectSage300Form.valid"></app-configuration-step-footer>
            </div>
        </div>
    </div>
</div>