<div class="tw-text-slightly-normal-text-color">
    <div *ngIf="!exposeC1Apps" class="tw-flex tw-text-14-px tw-h-56-px">
        <div class="tw-pl-24-px tw-pr-48-px landing--tab" (click)="switchView(IntegrationsView.ALL)">
            All
            <p *ngIf="integrationTabs.ALL" class="landing--active-tag"></p>
        </div>
        <div class="tw-pr-48-px landing--tab" (click)="switchView(IntegrationsView.ACCOUNTING)">
            Accounting
            <p *ngIf="integrationTabs.ACCOUNTING" class="landing--active-tag"></p>
        </div>
        <div class="tw-pr-48-px landing--tab" (click)="switchView(IntegrationsView.HRMS)">
            HRMS
            <p *ngIf="integrationTabs.HRMS" class="landing--active-tag"></p>
        </div>
        <div *ngIf="isTravelperkAllowed" class="tw-pr-48-px landing--tab" (click)="switchView(IntegrationsView.TRAVEL)">
            Travel
            <p *ngIf="integrationTabs.TRAVEL" class="landing--active-tag"></p>
        </div>
    </div>

    <p *ngIf="!exposeC1Apps" class="tw-mt-1-px landing--divider"></p>

    <div class="tw-pt-40-px" [ngClass]="{'tw-mx-120-px': brandingConfig.brandId === 'fyle', 'tw-mx-60-px': brandingConfig.brandId === 'co'}">
        <div *ngIf="integrationTabs.ALL || integrationTabs.ACCOUNTING">
            <p class="landing--section-heading">
                Accounting
            </p>
            <p class="landing--section-caption" *ngIf="brandingConfig.brandId !== 'co'">
                If your company uses any of the accounting systems below, you can easily integrate your {{ brandingConfig.brandName }} account with it.
            </p>
            <p class="landing--section-caption" *ngIf="brandingConfig.brandId === 'co'">
                Integrate your Expense Management account with the following accounting software.
            </p>

            <div class="tw-flex">
                <div *ngIf="exposeApps.NETSUITE">
                    <div class="landing--accounting-app tw-mr-20-px" [ngClass]="{'tw-shadow-app-card': brandingConfig.brandId === 'fyle', 'tw-shadow-shadow-level-1': brandingConfig.brandId === 'co'}" (click)="openAccountingIntegrationApp(AccountingIntegrationApp.NETSUITE)">
                        <img src="assets/logos/netsuite-logo.png" width="120px" height="60px" />
                        <span class="landing--accounting-app-name">
                            NetSuite
                        </span>
                    </div>
                    <div *ngIf="exposeApps.QBD" class="landing--accounting-app tw-mr-20-px tw-mt-20-px" [ngClass]="{'tw-shadow-app-card': brandingConfig.brandId === 'fyle', 'tw-shadow-shadow-level-1': brandingConfig.brandId === 'co'}" (click)="openInAppIntegration(InAppIntegration.QBD)">
                        <img src="assets/logos/quickbooks-logo.png" class="tw-mt-[-20px]" width="120px" height="60px" />
                        <span class="landing--accounting-app-name">
                            QuickBooks Desktop
                        </span>
                    </div>
                </div>
                <div>
                    <div *ngIf="exposeApps.INTACCT" class="landing--accounting-app tw-mr-20-px" [ngClass]="{'tw-shadow-app-card': brandingConfig.brandId === 'fyle', 'tw-shadow-shadow-level-1': brandingConfig.brandId === 'co'}" (click)="openAccountingIntegrationApp(AccountingIntegrationApp.SAGE_INTACCT)">
                        <img src="assets/logos/intacct-logo.png" width="120px" height="60px" />
                        <span class="landing--accounting-app-name">
                            Sage Intacct
                        </span>
                    </div>
                    <div *ngIf="exposeApps.SAGE300" class="landing--accounting-app tw-mr-20-px tw-mt-20-px" [ngClass]="{'tw-shadow-app-card': brandingConfig.brandId === 'fyle', 'tw-shadow-shadow-level-1': brandingConfig.brandId === 'co'}" (click)="openInAppIntegration(InAppIntegration.SAGE300)">
                        <img src="assets/logos/sage300-logo.svg" width="110px" height="60px" />
                        <span class="landing--accounting-app-name tw-gap-2">
                            Sage 300 CRE
                            <app-badge *ngIf="!orgsToHideSage300BetaBadge.includes(org.fyle_org_id)" [theme]="ThemeOption.DARK" text="Beta"></app-badge>
                        </span>
                    </div>
                </div>
                <div>
                    <div *ngIf="exposeApps.QBO" class="landing--accounting-app tw-mr-20-px" [ngClass]="{'tw-shadow-app-card': brandingConfig.brandId === 'fyle', 'tw-shadow-shadow-level-1': brandingConfig.brandId === 'co'}" (click)="openAccountingIntegrationApp(AccountingIntegrationApp.QBO)">
                        <img class="tw-mt-10-px" src="assets/logos/quickbooks-logo.png" width="120px"  />
                        <span class="landing--accounting-app-name !tw-pt-30-px">
                            QuickBooks Online
                        </span>
                    </div>
                    <div *ngIf="exposeApps.BUSINESS_CENTRAL && org.allow_dynamics" class="landing--accounting-app tw-mr-20-px tw-mt-20-px" [ngClass]="{'tw-shadow-app-card': brandingConfig.brandId === 'fyle', 'tw-shadow-shadow-level-1': brandingConfig.brandId === 'co'}" (click)="openInAppIntegration(InAppIntegration.BUSINESS_CENTRAL)">
                        <img src="assets/logos/BusinessCentral-logo.svg" class="tw-mt-[-20px]" width="50px" height="60px" />
                        <span class="landing--accounting-app-name tw-gap-2 tw-px-4 tw-flex tw-items-center">
                            Dynamics 365 Business Central
                            <app-badge *ngIf="!orgsToHideBusinessCentralBetaBadge.includes(org.fyle_org_id)" [theme]="ThemeOption.DARK" text="Beta"></app-badge>
                        </span>
                    </div>
                </div>
                <div *ngIf="exposeApps.XERO" class="landing--accounting-app" [ngClass]="{'tw-shadow-app-card': brandingConfig.brandId === 'fyle', 'tw-shadow-shadow-level-1': brandingConfig.brandId === 'co'}" (click)="openAccountingIntegrationApp(AccountingIntegrationApp.XERO)">
                    <img src="assets/logos/xero-logo.png" class="tw-mt-[-20px]" width="65px" height="60px" />
                    <span class="landing--accounting-app-name">
                        Xero
                    </span>
                </div>
            </div>
        </div>

        <div *ngIf="(integrationTabs.ALL || integrationTabs.HRMS) && exposeApps.BAMBOO">
            <p *ngIf="integrationTabs.ALL" class="tw-mt-1-px landing--section-divider"></p>
            <p class="landing--section-heading">
                HRMS
            </p>
            <p class="landing--section-caption">
                If your company uses any of the HR Management Systems below, you can easily integrate your {{ brandingConfig.brandName }} account with it.
            </p>

            <div class="tw-flex">
                <div class="landing--accounting-app tw-mr-20-px" [ngClass]="{'tw-shadow-app-card': brandingConfig.brandId === 'fyle', 'tw-shadow-shadow-level-1': brandingConfig.brandId === 'co'}" (click)="openInAppIntegration(InAppIntegration.BAMBOO_HR)">
                    <img src="assets/logos/bamboo-hr-logo.svg" width="160px" height="60px" />
                    <span class="landing--accounting-app-name">
                        BambooHR
                    </span>
                </div>
            </div>
        </div>

        <div *ngIf="isTravelperkAllowed && exposeApps.TRAVELPERK && (integrationTabs.ALL || integrationTabs.TRAVEL)">
            <p *ngIf="integrationTabs.ALL" class="tw-mt-1-px landing--section-divider"></p>
            <p class="landing--section-heading">
                Travel
            </p>
            <p class="landing--section-caption">
                If your company uses any of the Travel Management Systems below, you can easily integrate your {{ brandingConfig.brandName }} account with it.
            </p>

            <div class="tw-flex">
                <div class="landing--accounting-app tw-mr-20-px" [ngClass]="{'tw-shadow-app-card': brandingConfig.brandId === 'fyle', 'tw-shadow-shadow-level-1': brandingConfig.brandId === 'co'}" (click)="openInAppIntegration(InAppIntegration.TRAVELPERK)">
                    <img src="assets/logos/travelperk-logo.svg" width="160px" height="60px" />
                    <span class="landing--accounting-app-name">
                        TravelPerk
                    </span>
                </div>
            </div>
        </div>

        <div *ngIf="integrationTabs.ALL && !exposeC1Apps" class="tw-pb-100-px">
            <p class="tw-my-40-px landing--divider"></p>

            <p class="landing--section-heading">
                Looking for something else?
            </p>
            <p class="landing--section-caption">
                We are looking forward to building integrations with a few other applications in the market, as listed below. 
                If you have a use case to integrate with these, we would love to hear them at <span class="tw-text-link-primary">{{brandingConfig.supportEmail}}</span>
            </p>

            <div class="tw-rounded-4-px tw-border-1-px">
                <div class="landing--other-integrations">
                    <div class="landing--other-integration-app">
                        <img src="assets/logos/sage-logo.png" width="80px" height="80px" />
                    </div>
                    <div class="landing--other-integration-app">
                        <img src="assets/logos/msdynamics-logo.png" width="150px" height="80px" />
                    </div>
                    <div class="landing--other-integration-app">
                        <img src="assets/logos/financial-force-logo.png" width="150px" height="80px" />
                    </div>
                </div>
                <div class="landing--other-integrations tw-pb-30-px">
                    <div class="landing--other-integration-app">
                        <img src="assets/logos/oracle-logo.png" width="120px" height="70px" />
                    </div>
                    <div class="landing--other-integration-app">
                        <img src="assets/logos/bill-dot-com-logo.png" width="120px" height="70px" />
                    </div>
                    <div class="landing--other-integration-app">
                        <img src="assets/logos/myob-logo.png" width="120px" height="70px" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
