<div>
    <div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-pt-80-px">
        <app-loader></app-loader>
    </div>
    <div *ngIf="!isLoading" class="configuration--contents tw-border-border-tertiary tw-mt-6" [ngClass]="{'tw-mx-120-px tw-shadow-app-card': brandingConfig.brandId === 'fyle', 'tw-mx-60-px tw-shadow-shadow-level-1': brandingConfig.brandId === 'co'}">
        <div>
            <app-configuration-step-header
                [headerText]="'Map Employees'"
                [contentText]="'Choose appropriate representation of your Employees in QuickBooks Online.'"
                [redirectLink]="redirectLink">
            </app-configuration-step-header>
        </div>
        <form [formGroup]="employeeSettingForm">
            <div class="tw-p-24-px">
                <div class="tw-mb-16-px">
                    <div class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-border-tertiary tw-rounded-12-px">
                        <app-configuration-select-field
                            [form]="employeeSettingForm"
                            [isFieldMandatory]="true"
                            [mandatoryErrorListName]="'option'"
                            [label]="'How are your Employees represented in QuickBooks Online?'"
                            [subLabel]="'Select how you represent your employees in QuickBooks Online. This would help to export the expenses from ' + brandingConfig.brandName + ' to the correct employee/vendor record in QuickBooks Online.'"
                            [options]="employeeMappingOptions"
                            [iconPath]="'user-two'"
                            [placeholder]="'Select representation'"
                            [formControllerName]="'employeeMapping'">
                        </app-configuration-select-field>
                        <app-configuration-select-field
                            [form]="employeeSettingForm"
                            [isFieldMandatory]="false"
                            [mandatoryErrorListName]="'option'"
                            [label]="'How should Employees in ' + brandingConfig.brandName + ' be matched to Employees/Vendors in QuickBooks Online?'"
                            [subLabel]="'Automatically map the employees in ' + brandingConfig.brandName + ' to their corresponding records in QuickBooks Online based on a unique parameter.'"
                            [options]="autoMapEmployeeOptions"
                            [iconPath]="'question-square-outline'"
                            [placeholder]="'Select representation'"
                            [formControllerName]="'autoMapEmployee'">
                        </app-configuration-select-field>
                    </div>
                </div>
            </div>
            <app-configuration-step-footer
                [ctaText]="!isSaveInProgress ? (isOnboarding ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVE) : ConfigurationCtaText.SAVING"
                [isButtonDisabled]="!employeeSettingForm.valid"
                [showBackButton]="isOnboarding ? true : false"
                (save)="save()"
                (navigateToPreviousStep)="navigateToPreviousStep()">
            </app-configuration-step-footer>
        </form>
    </div>
</div>

<app-configuration-confirmation-dialog
    (warningAccepted)="acceptWarning($event)"
    [isWarningVisible]="isConfirmationDialogVisible"
    [headerText]="'Change in Configuration'"
    [contextText]="warningDialogText"
    [confirmBtnText]="'Continue'"
    [showSecondaryCTA]="false">
</app-configuration-confirmation-dialog>
