<div>
    <div *ngIf="mappingType==='CATEGORY_MAPPING'">
      <p-table [value]="groupedError">
        <ng-template pTemplate="header">
            <tr>
                <th>{{ 'dashboardMappingResolve.categoryHeader' | transloco }}</th>
                <th>{{getCategoryDestinationType() | snakeCaseToSpaceCase | sentenceCase}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-error let-rowIndex="rowIndex">
            <tr *ngIf="!isLoading">
                <td>{{ error.expense_attribute.value }}</td>
                <td>
                    <p-dropdown appendTo="body" (onShow)="tableDropdownWidth()"
                    [options]="getCategoryMappingOptions()"
                    optionLabel="value"
                    [placeholder]="'dashboardMappingResolve.selectOptionPlaceholder' | transloco"
                    (onChange)="saveCategoryMapping(error.expense_attribute, $event);"
                    [filter]="true"
                    filterBy="value">
                    </p-dropdown>
                </td>
            </tr>
            <ng-container *ngTemplateOutlet="shimmers"></ng-container>
        </ng-template>
    </p-table>
    </div>
    <div *ngIf="mappingType==='EMPLOYEE_MAPPING'">
      <p-table [value]="groupedError">
        <ng-template pTemplate="header">
            <tr>
            <th>{{ 'dashboardMappingResolve.employeeEmailHeader' | transloco }}</th>
            <th>{{ 'dashboardMappingResolve.sageIntacctHeader' | transloco }}{{getEmployeeAttributeType() | lowercase}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-error>
            <tr *ngIf="!isLoading">
                <td>{{ error.expense_attribute.value }}</td>
                <td>
                    <p-dropdown appendTo="body" (onShow)="tableDropdownWidth()"
                    [options]="fyleEmployeeOptions"
                    optionLabel="value"
                    [placeholder]="'dashboardMappingResolve.selectOptionPlaceholder' | transloco"
                    (onChange)="saveEmployeeMapping(error.expense_attribute, $event);"
                    [filter]="true"
                    filterBy="value">
                    </p-dropdown>
                </td>
            </tr>
            <ng-container *ngTemplateOutlet="shimmers"></ng-container>
        </ng-template>
        </p-table>
    </div>
</div>

<ng-template #shimmers>
    <tr *ngFor="let _ of [0,1,2,3,4,5,6]">
        <td *ngIf="isLoading"><p-skeleton width="150px" height="28px" shape="rectangle"></p-skeleton></td>
        <td *ngIf="isLoading"><p-skeleton width="250px" height="28px" shape="rectangle"></p-skeleton></td>
    </tr>
</ng-template>
