<div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-full">
    <app-loader></app-loader>
</div>
<div *ngIf="!isLoading" class="configuration--contents tw-border-separator tw-mt-6" [ngClass]="brandingStyle.common.configurationContents">
    <div>
        <app-configuration-step-header
            [headerText]="'qbd_direct.configuration.advancedSettings.stepName' | transloco"
            [contentText]="'qbd_direct.configuration.advancedSettings.contentText' | transloco"
            [showSyncButton]="isOnboarding"
            [appName]="appName.QBD_DIRECT"
            [redirectLink]="redirectLink"
            (refreshDimension)="refreshDimensions()">
        </app-configuration-step-header>
    </div>
    <div>
        <form [formGroup]="advancedSettingsForm">
            <div class="tw-p-24-px">
                <div class="tw-mb-16-px">
                    <app-configuration-step-sub-header
                        [label]="'qbd_direct.configuration.advancedSettings.automationLabel' | transloco"
                        [subLabel]="'qbd_direct.configuration.advancedSettings.automationSubLabel' | transloco">
                    </app-configuration-step-sub-header>
                </div>
                <div class="tw-rounded-lg tw-border-separator tw-border tw-my-16-px">
                    <app-configuration-toggle-field
                        [form]="advancedSettingsForm"
                        [label]="'qbd_direct.configuration.advancedSettings.scheduleAutoExportLabel' | transloco"
                        [subLabel]="'qbd_direct.configuration.advancedSettings.scheduleAutoExportSubLabel' | transloco: {brandName: brandingConfig.brandName}"
                        [iconPath]="'calendar'"
                        [formControllerName]="'exportSchedule'">
                    </app-configuration-toggle-field>

                    <div *ngIf="advancedSettingsForm.value.exportSchedule">
                        <app-configuration-schedule-export
                            [form]="advancedSettingsForm"
                            [appName]="appName.QBD_DIRECT"
                            [isFieldMandatory]="false"
                            [mandatoryErrorListName]="'qbdDirectAdvancedSettings.automaticExportMethod' | transloco"
                            [label]="'qbd_direct.configuration.advancedSettings.autoExportfrequencyLabel' | transloco"
                            [subLabel]="'qbd_direct.configuration.advancedSettings.autoExportfrequencySubLabel' | transloco : {brandName: brandingConfig.brandName}"
                            [options]="hours"
                            [isEmailPresent]="false"
                            [formControllerName]="'exportScheduleFrequency'">
                        </app-configuration-schedule-export>
                    </div>
                </div>

                <div class="tw-mb-16-px">
                    <app-configuration-step-sub-header
                        [label]="'qbd_direct.configuration.advancedSettings.otherPreferencesLabel' | transloco"
                        [subLabel]="'qbd_direct.configuration.advancedSettings.otherPreferencesSubLabel' | transloco: {brandName: brandingConfig.brandName}">
                    </app-configuration-step-sub-header>
                </div>

                <div class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px" *ngIf="isReimbursableExportTypePresent || isAutoCreateMerchantsAsVendorsFieldVisible()">

                    <app-configuration-toggle-field *ngIf="isReimbursableExportTypePresent"
                        [form]="advancedSettingsForm"
                        [label]="('qbd_direct.configuration.advancedSettings.autoCreateReimbursableEnitityLabel' | transloco) + (employeeMapping | snakeCaseToSpaceCase | lowercase) + ('qbdDirectAdvancedSettings.entityPluralInQuickbooksDesktop' | transloco)"
                        [iconPath]="'user-plus'"
                        [subLabel]="('qbd_direct.configuration.advancedSettings.autoCreateReimbursableEnititySubLabel' | transloco) + (employeeMapping | snakeCaseToSpaceCase | lowercase) + ('qbdDirectAdvancedSettings.entityRecordSubLabel' | transloco)"
                        [formControllerName]="'autoCreateReimbursableEnitity'">
                    </app-configuration-toggle-field>

                    <app-configuration-toggle-field *ngIf="isAutoCreateMerchantsAsVendorsFieldVisible()"
                        [form]="advancedSettingsForm"
                        [iconPath]="'user-plus'"
                        [label]="'qbd_direct.configuration.advancedSettings.autoCreateMerchantsAsVendorsLabel' | transloco"
                        [subLabel]="'qbd_direct.configuration.advancedSettings.autoCreateMerchantsAsVendorsSubLabel' | transloco: {brandName: brandingConfig.brandName}"
                        [formControllerName]="'autoCreateMerchantsAsVendors'">
                    </app-configuration-toggle-field>
                </div>

                <div class="tw-my-16-px">
                    <app-configuration-step-sub-header
                        [label]="'qbd_direct.configuration.advancedSettings.customizeSectionLabel' | transloco"
                        [subLabel]="'qbd_direct.configuration.advancedSettings.customizeSectionSubLabel' | transloco : {brandName: brandingConfig.brandName}">
                    </app-configuration-step-sub-header>
                </div>
                <div class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                    <app-configuration-multi-select
                        [form]="advancedSettingsForm"
                        [label]="'qbd_direct.configuration.advancedSettings.topLevelMemoStructureLabel' | transloco"
                        [subLabel]="'qbd_direct.configuration.advancedSettings.topLevelMemoStructureSubLabel' | transloco : {brandName: brandingConfig.brandName}"
                        [isFieldMandatory]="true"
                        [mandatoryErrorListName]="'qbdDirectAdvancedSettings.topLevelMemo' | transloco"
                        [options]="defaultTopMemoOptions"
                        [iconPath]="'list'"
                        [placeholder]="'qbdDirectAdvancedSettings.selectTopMemoTypePlaceholder' | transloco"
                        [formControllerName]="'topMemoStructure'">
                    </app-configuration-multi-select>
                    <div class="tw-p-24-px">
                        <p class="tw-text-12-px tw-mb-12-px tw-text-text-muted">{{'qbd_direct.configuration.advancedSettings.previewDescriptionFieldLabel' | transloco}}</p>
                        <div class="tw-bg-input-read-only-bg tw-rounded-4-px tw-text-14-px tw-py-8-px tw-px-8-px tw-border-input-read-only-border tw-border-solid">
                            <span>{{ topMemoPreviewText }}</span>
                        </div>
                    </div>

                    <app-configuration-multi-select
                        [form]="advancedSettingsForm"
                        [isFieldMandatory]="true"
                        [customErrorMessage]="'qbdDirectAdvancedSettings.selectAtleastOneMemoError' | transloco"
                        [label]="'qbd_direct.configuration.advancedSettings.memoStructureLabel' | transloco"
                        [subLabel]="'qbd_direct.configuration.advancedSettings.memoStructureSubLabel' | transloco : {brandName: brandingConfig.brandName}"
                        [options]="defaultMemoFields"
                        [iconPath]="'list'"
                        [placeholder]="'qbdDirectAdvancedSettings.selectMemoTypesPlaceholder' | transloco"
                        [formControllerName]="'expenseMemoStructure'">
                    </app-configuration-multi-select>
                    <div class="tw-p-24-px">
                        <p class="tw-text-12-px tw-mb-12-px tw-text-text-muted">{{'qbd_direct.configuration.advancedSettings.previewDescriptionFieldLabel' | transloco}}</p>
                        <div class="tw-bg-input-read-only-bg tw-rounded-4-px tw-text-14-px tw-py-8-px tw-px-8-px tw-border-input-read-only-border tw-border-solid">
                            <span>{{ memoPreviewText }}</span>
                        </div>
                    </div>
                </div>

                <div class="tw-rounded-12-px tw-border-border-tertiary tw-border tw-bg-white tw-my-16-px" *ngIf="brandingFeatureConfig.featureFlags.advancedSettings.skipExport">
                    <app-configuration-toggle-field
                        [form]="advancedSettingsForm"
                        [label]="'qbd_direct.configuration.advancedSettings.skipExportLabel' | transloco"
                        [subLabel]="'qbd_direct.configuration.advancedSettings.skipExportSubLabel' | transloco"
                        [formControllerName]="'skipExport'"
                        [iconPath]="'list'">
                    </app-configuration-toggle-field>
                    <div *ngIf="advancedSettingsForm.value.skipExport">
                        <app-configuration-skip-export
                        [enableSkipExport]="advancedSettingsForm.value.skipExport"
                        [skipExportForm]="skipExportForm"
                        [expenseFilter]="expenseFilters"
                        [conditionFieldOptions]="conditionFieldOptions"
                        (deleteSkipExportForm)="deleteExpenseFilter($event)">
                        </app-configuration-skip-export>
                    </div>
                </div>

            </div>
            <app-configuration-step-footer [ctaText]="!saveInProgress ? (isOnboarding ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVE) : ConfigurationCtaText.SAVING" [isButtonDisabled]="!advancedSettingsForm.valid || saveInProgress || !skipExportForm.valid" (save)="save()" [showBackButton]="isOnboarding ? true : false" (navigateToPreviousStep)="navigateToPreviousStep()"></app-configuration-step-footer>
        </form>
    </div>
</div>
