<div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-screen">
    <app-loader></app-loader>
</div>
<div *ngIf="!isLoading" class="configuration--contents tw-border-separator tw-mt-6" [ngClass]="{'tw-mx-120-px tw-shadow-app-card': brandingConfig.brandId === 'fyle', 'tw-mx-60-px tw-shadow-shadow-level-1': brandingConfig.brandId === 'co'}">
    <div>
        <app-configuration-step-header 
            [headerText]="brandingContent.stepName"
            [contentText]="brandingContent.contentText"
            [showSyncButton]="isOnboarding"
            [appName]="appName.QBD_DIRECT">
        </app-configuration-step-header>
    </div>
    <div>
        <form [formGroup]="advancedSettingsForm">
            <div class="tw-p-24-px">
                <div class="tw-mb-16-px">
                    <app-configuration-step-sub-header
                        [label]="brandingContent.automationLabel"
                        [subLabel]="brandingContent.automationSubLabel">
                    </app-configuration-step-sub-header>
                </div>
                <div class="tw-rounded-lg tw-border-separator tw-border tw-my-16-px">
                    <app-configuration-toggle-field 
                        [form]="advancedSettingsForm"
                        [label]="brandingContent.scheduleAutoExportLabel" 
                        [subLabel]="brandingContent.scheduleAutoExportSubLabel"
                        [iconPath]="'calendar'"
                        [formControllerName]="'exportSchedule'">
                    </app-configuration-toggle-field>
                
                    <div *ngIf="advancedSettingsForm.value.exportSchedule">
                        <app-configuration-schedule-export
                            [form]="advancedSettingsForm"
                            [appName]="appName.QBD_DIRECT"
                            [isFieldMandatory]="false"
                            [mandatoryErrorListName]="'automatic export method'"
                            [label]="brandingContent.autoExportfrequencyLabel"
                            [subLabel]="brandingContent.autoExportfrequencySubLabel"
                            [options]="hours"
                            [isEmailPresent]="brandingFeatureConfig.featureFlags.advancedSettings.emailNotification ? true: false"
                            [formControllerName]="'exportScheduleFrequency'"
                            [adminEmails]="adminEmails">
                        </app-configuration-schedule-export>
                    </div>
                </div>

                <div class="tw-mb-16-px">
                    <app-configuration-step-sub-header
                        [label]="brandingContent.customizeSectionLabel"
                        [subLabel]="brandingContent.customizeSectionSubLabel">
                    </app-configuration-step-sub-header>
                </div>
                <div class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                    <app-configuration-select-field
                        [form]="advancedSettingsForm"
                        [label]="brandingContent.topLevelMemoStructureLabel"
                        [subLabel]="brandingContent.topLevelMemoStructureSubLabel"
                        [isFieldMandatory]="true"
                        [mandatoryErrorListName]="'top level memo'"
                        [simpleOptions]="defaultTopMemoOptions"
                        [iconPath]="'list'"
                        [placeholder]="'Select top memo type'"
                        [formControllerName]="'topMemoStructure'">
                    </app-configuration-select-field>

                    <app-configuration-multi-select
                        [form]="advancedSettingsForm"
                        [isFieldMandatory]="true"
                        [customErrorMessage]="'Please select atleast one memo type from the list'"
                        [label]="brandingContent.memoStructureLabel"
                        [subLabel]="brandingContent.memoStructureSubLabel"
                        [options]="defaultMemoFields"
                        [iconPath]="'list'"
                        [placeholder]="'Select memo types'"
                        [formControllerName]="'expenseMemoStructure'">
                    </app-configuration-multi-select>
                    <div class="tw-p-24-px">
                        <p class="tw-text-12-px tw-mb-12-px tw-text-text-muted">{{brandingContent.previewDescriptionFieldLabel}}</p>
                        <div class="tw-bg-input-read-only-bg tw-rounded-4-px tw-text-14-px tw-py-8-px tw-px-8-px tw-border-input-read-only-border tw-border-solid">
                            <span>{{ memoPreviewText }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <app-configuration-step-footer [ctaText]="!saveInProgress ? (isOnboarding ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVE) : ConfigurationCtaText.SAVING" [isButtonDisabled]="!advancedSettingsForm.valid || saveInProgress" (save)="save()"></app-configuration-step-footer>
        </form>
    </div>
</div>
