@if (isGradientAllowed){
<div class="tw-absolute tw-bg-header-1 tw-h-110-px tw-w-[100%] tw-z-[-1]"></div>
<div class="tw-absolute tw-bg-header-2 tw-h-110-px tw-w-[100%] tw-z-[-1]"></div>
}

@if (isLoading) {
<div class="tw-flex tw-justify-center tw-items-center tw-h-full">
    <app-loader></app-loader>
</div>
}

@if (!isLoading) {
    <app-dashboard-export-section
        (export)="export()"
        [appName]="appName"
        [isImportInProgress]="isImportInProgress"
        [isExportInProgress]="isExportInProgress"
        [exportableAccountingExportIds]="exportableAccountingExportIds"
        [failedExpenseGroupCount]="failedExpenseGroupCount"
        [exportProgressPercentage]="exportProgressPercentage"
        [accountingExportSummary]="accountingExportSummary"
        [processedCount]="processedCount"
        [reimbursableImportState]="reimbursableImportState"
        [isExportButtonDisabled]="showPendingMappings"
        [loaderType]="LoaderType.INDETERMINATE"
        [cccImportState]="cccImportState">
    </app-dashboard-export-section>

    @if (showPendingMappings) {
    <div [ngClass]="brandingStyle.common.mainComponentPadding">
    <div class="tw-rounded-8-px tw-bg-white" [ngClass]="brandingStyle.common.mainComponentShadow">
        <div class="tw-p-24-px tw-border">
        <h2 class="tw-text-18-px tw-font-500 tw-text-text-primary tw-m-0">
            {{ 'sage50Dashboard.pendingMappingsTitle' | transloco }}
        </h2>
        <p class="tw-text-14-px tw-text-text-secondary tw-m-0 tw-mt-8-px">
            {{ 'sage50Dashboard.pendingMappingsDescription' | transloco }}
        </p>
        </div>
        <div class="tw-p-24-px tw-gap-16-px tw-flex tw-flex-col">
        @if (employeeMappingStats && employeeMappingStats.unmapped_attributes_count > 0) {
        <div class="tw-border-1-px tw-border-border-tertiary tw-rounded-8-px tw-p-24-px tw-flex tw-justify-between tw-items-center">
            <div>
                <h3 class="tw-text-14-px tw-font-500 tw-text-text-primary tw-m-0">
                    {{ 'sage50Dashboard.employeeMappingTitle' | transloco }}
                </h3>
                @if (employeeMappingErrorStat) {
                <p class="tw-text-12-px tw-text-text-secondary tw-mb-4-px tw-mt-4-px">
                    {{ 'sage50Dashboard.resolvedErrorsOfTotal' | transloco: { resolvedCount: employeeMappingErrorStat.resolvedCount, totalCount: employeeMappingErrorStat.totalCount } }}
                </p>
                }
                <p class="tw-text-14-px tw-text-text-secondary tw-m-0 tw-mt-4-px">
                    {{ 'sage50Dashboard.employeeMappingDescription' | transloco }}
                </p>
            </div>
            <app-button
                (buttonClick)="showMappingDialog('EMPLOYEE', 'VENDOR')"
                [buttonText]="'sage50Dashboard.mapEmployeesButtonText' | transloco"
                [buttonType]="ButtonType.SECONDARY"
                [buttonSize]="ButtonSize.MEDIUM">
            </app-button>
        </div>
        }

        @if (corporateCardMappingStats && corporateCardMappingStats.unmapped_attributes_count > 0) {
        <div class="tw-border-1-px tw-border-border-tertiary tw-rounded-8-px tw-p-24-px tw-flex tw-justify-between tw-items-center" [ngClass]="{'tw-mt-4': employeeMappingStats && employeeMappingStats.unmapped_attributes_count > 0}">
            <div>
                <h3 class="tw-text-14-px tw-font-500 tw-text-text-primary tw-m-0">
                    {{ 'sage50Dashboard.corporateCardMappingTitle' | transloco }}
                </h3>
                @if (corporateCardMappingErrorStat) {
                <p class="tw-text-12-px tw-text-text-secondary tw-mb-4-px tw-mt-4-px">
                    {{ 'sage50Dashboard.resolvedErrorsOfTotal' | transloco: { resolvedCount: corporateCardMappingErrorStat.resolvedCount, totalCount: corporateCardMappingErrorStat.totalCount } }}
                </p>
                }
                <p class="tw-text-14-px tw-text-text-secondary tw-m-0 tw-mt-4-px">
                    {{ 'sage50Dashboard.corporateCardMappingDescription' | transloco }}
                </p>
            </div>
            <app-button
                (buttonClick)="showMappingDialog('CORPORATE_CARD', 'ACCOUNT')"
                [buttonText]="'sage50Dashboard.mapCorporateCardsButtonText' | transloco"
                [buttonType]="ButtonType.SECONDARY"
                [buttonSize]="ButtonSize.MEDIUM">
            </app-button>
        </div>
        }
            </div>
        </div>
    </div>
    }

    <!-- Export log -->
    <div [ngClass]="brandingStyle.common.mainComponentPadding" class="tw-py-32-px">
        <div class="tw-rounded-8-px tw-bg-white" [ngClass]="brandingStyle.common.mainComponentShadow">
            <!-- Header -->
            <div class="tw-p-24-px tw-border-b">
                <h2 class="tw-text-18-px tw-font-500 tw-text-text-primary tw-m-0">
                    {{ 'sage50Dashboard.exportLogTitle' | transloco }}
                </h2>
                <p class="tw-text-14-px tw-text-text-secondary tw-m-0 tw-mt-8-px">
                    <span>{{ 'sage50Dashboard.exportLogDescription' | transloco }}</span>
                    <a [href]="exportLogArticleLink" target="_blank" class="link tw-pl-6-px tw-w-fit tw-inline-flex tw-items-center">
                        {{ 'sage50Dashboard.readMore' | transloco }}
                        <app-svg-icon *ngIf="brandingFeatureConfig.isIconsInsideButtonAllowed" [svgSource]="'open-in-new-tab'"
                            [width]="'16px'" [height]="'16px'" class="tw-text-link-primary tw-pl-2-px tw-w-fit">
                        </app-svg-icon>
                    </a>
                </p>
            </div>
            <!-- TODO: Completed / Skipped tabs -->

            @if (shouldShowExportLog) {
                <div class="tw-bg-bg-subtle tw-pt-16-px">
                    <app-sub-menu
                        [modules]="exportLogModules"
                        [(activeModule)]="activeExportLogModule"
                        [shouldRedirect]="false"
                        [customStyles]="'!tw-mb-0'"
                    ></app-sub-menu>
                </div>
            }

            <!-- Completed export log table with filters -->
            <div>
                @if (activeExportLogModule.label === 'Completed') {
                    <app-csv-export-log
                        [updateRecords]="updateExportLogs.bind(this)"
                    ></app-csv-export-log>
                } @else {
                    <app-csv-export-log
                        [updateRecords]="updateSkippedExpenses.bind(this)"
                        [isSkippedExpenses]="true"
                    ></app-csv-export-log>
                }
            </div>
        </div>
    </div>

    <div>
    <p-dialog [dismissableMask]="true" [(visible)]="isMappingDialogVisible" [modal]="true" [position]="'topright'" [style]="{ width: 'fit-content', height: '100vh' }" [maximizable]="false" [draggable]="false" [resizable]="false" [breakpoints]="{ '960px': '75vw' } " (onHide)="handleMappingDialogClose()">
        <p-header>
            <p class="tw-text-18-px tw-font-500 tw-text-text-primary">{{mappingDialogTitle | transloco}}</p>
            <p class="tw-text-12-px tw-font-400 tw-text-text-secondary tw-mt-4-px">{{ mappingDialogDescription | transloco }}</p>
        </p-header>
        <app-generic-mapping-table
            [employeeFieldMapping]="employeeFieldMapping"
            [appName]="appName"
            [isDashboardMappingResolve]="true"
            [isLoading]="isMappingDialogLoading"
            [destinationField]="mappingDestinationField"
            [filteredMappings]="filteredMappings"
            [sourceField]="mappingSourceField"
            [destinationOptions]="mappingDestinationOptions"
            [isMultiLineOption]="true"
            [mappingStats]="currentMappingStats!">
        </app-generic-mapping-table>
    </p-dialog>
    </div>
}
