<div class="tw-pb-48-px">
    <app-onboarding-steppers [onboardingSteps]="onboardingSteps"></app-onboarding-steppers>
    <div>
        <div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-pt-80-px">
            <app-loader></app-loader>
        </div>
        <div *ngIf="!isLoading" class="configuration--contents !tw-rounded-border-radius-2xs tw-border-border-tertiary tw-mt-24-px" [ngClass]="{'tw-mx-120-px tw-shadow-app-card': brandingConfig.brandId === 'fyle', 'tw-mx-60-px tw-shadow-shadow-level-1': brandingConfig.brandId === 'co'}">
            <div>
                <app-configuration-step-header
                    [headerText]="brandingContent.configurationHeaderText"
                    [contentText]="brandingContent.configurationSubHeaderText"
                    [redirectLink]="redirectLink">
                </app-configuration-step-header>
            </div>
            <div class="tw-px-24-px tw-pb-24-px">
                <div class="tw-pt-24-px tw-pb-8-px">
                    <app-qbd-direct-download-file
                    [isLoading]="isDownloadfileLoading"
                    [showDownloadLink]="showDownloadLink"
                    [isStepCompleted]="isDownloadStepCompleted"
                    [isCompanyPathInvalid]="isCompanyPathInvalid"
                    (nextStep)="proceedToConnection()"
                    (downloadClick)="triggerDownload($event)"
                    (retryClick)="retry()"
                    (manualDownload)="triggerManualDownload()"></app-qbd-direct-download-file>
                </div>
                <div class="tw-py-8-px">
                    <app-qbd-direct-setup-connection
                    [showSection]="isDownloadStepCompleted"
                    [password]="password"
                    [isLoading]="isConnectionLoading"
                    [connectionStatus]="connectionStatus"
                    [isStepCompleted]="isConnectionStepCompleted"
                    [isCTAEnabled]="isConnectionCTAEnabled"
                    (doneClick)="onConnectionDone($event)"
                    (nextClick)="proceedToSyncData()"
                    (manualDownload)="triggerManualDownload()"></app-qbd-direct-setup-connection>
                </div>
                <div class="tw-py-8-px">
                    <app-qbd-direct-data-sync
                    [isLoading]="isDataSyncLoading"
                    [qbdFields]="qbdFields"
                    [isCTAEnabled]="isDataSyncCTADisabled"
                    [showSection]="isConnectionStepCompleted"
                    (continueClick)="proceedToExportSetting()"></app-qbd-direct-data-sync>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isDialogVisible">
    <app-configuration-confirmation-dialog
        (warningAccepted)="closeDialog($event)"
        [isWarningVisible]="isDialogVisible"
        [headerText]="'Connection failed'"
        [contextText]="warningDialogText"
        [confirmBtnText]="'Got it'"
        [appName]="appName"
        [showSecondaryCTA]="false">
    </app-configuration-confirmation-dialog>
</div>
