// Declare the Token Name from Common element library figma file here
// Refer: https://www.figma.com/file/JAhSNaV7gZKYsQyCFZLC9w/Common-Element-library?type=design&node-id=0%3A1&mode=design&t=0FzXvulWRrAS9gc9-1
// You can view all the list of tokens by clicking on Local Variables button on right side menu, you need edit access to view this.  
// Don't add any token which is not in figma common element library's token list, few exceptions are for gradients as they are not supported by figma yet.

@use 'primitives_variables';
@use "../co/primitives_variables" as primitives_variables2;

@layer base {
  [data-theme='fyle'] {
      //brand bg
    --bg-brand-primary: #{primitives_variables.$brand-500};
    --bg-brand-disable: #{primitives_variables.$brand-300};
    --bg-brand-muted: #{primitives_variables.$brand-secondary-opacity-15};
    //grey bg
    --bg-primary: #{primitives_variables.$grey-800};
    --bg-secondary: #{primitives_variables.$grey-700};
    --bg-disable: #{primitives_variables.$grey-400};
    --bg-tertiary: #{primitives_variables.$grey-100};
    --bg-white: #{primitives_variables2.$white};
    --bg-primary-opacity: #{primitives_variables.$primary-opacity-10};
    //_contextual bg
    --bg-success: #{primitives_variables.$green-500};
    --bg-info: #{primitives_variables.$blue-500};
    --bg-warning: #{primitives_variables.$yellow-500};
    --bg-danger: #{primitives_variables.$red-500};

    //light bg
    --bg-info-light: #{primitives_variables.$blue-200};
    --bg-danger-light: #{primitives_variables.$red-200};
    --bg-success-light: #{primitives_variables.$green-100};
    --bg-calm-light: #{primitives_variables.$green-150};
    --bg-highlight-light: #{primitives_variables.$purple-200};
    --bg-disable-light: #{primitives_variables.$grey-100};
    --bg-tertiary-light: #{primitives_variables.$blue-50};

    //lighter bg
    --bg-info-lighter: #{primitives_variables.$blue-100};
    --bg-info-lightest: #{primitives_variables2.$blue-10};
    --bg-warning-lighter: #{primitives_variables.$yellow-100};
    --bg-danger-lighter: #{primitives_variables.$red-100};
    --bg-success-lighter: #{primitives_variables.$green-50};
    --bg-disable-lighter: #{primitives_variables.$grey-100};
    --bg-tertiary-lighter: #{primitives_variables.$blue-50};

    //border-color
    --border-brand: #{primitives_variables.$brand-500};
    --border-primary: #{primitives_variables.$grey-700};
    --border-secondary: #{primitives_variables.$grey-300};
    --border-tertiary: #{primitives_variables.$grey-200};

    --border-info: #{primitives_variables.$blue-500};
    --border-warning: #{primitives_variables.$yellow-500};
    --border-success: #{primitives_variables.$green-500};
    --border-danger: #{primitives_variables.$red-500};
    --border-white: #{primitives_variables2.$white};

    --border-danger-light: #{primitives_variables.$red-300};
    --border-highlight-light: #{primitives_variables.$purple-300};
    --border-success-light: #{primitives_variables.$green-200};
    --border-calm-light: #{primitives_variables.$green-300};
    --border-info-light: #{primitives_variables.$blue-300};

    --border-info-lighter: #{primitives_variables.$info-opacity-10};
    --border-warning-lighter: #{primitives_variables.$warning-opacity-10};
    --border-success-lighter: #{primitives_variables.$success-opacity-10};
    --border-danger-lighter: #{primitives_variables.$error-opacity-10};
    --border-highlight-lighter: #{primitives_variables.$purple-300}; //deprecated
    --border-calm-lighter: #{primitives_variables.$green-300}; //deprecated
    --border-manate: #{primitives_variables.$manate};

    //border-radius
    --border-radius-none: #{primitives_variables2.$size-0};
    --border-radius-3xs: #{primitives_variables2.$size-2};
    --border-radius-2xs: #{primitives_variables2.$size-4};
    --border-radius-xs: #{primitives_variables2.$size-6};
    --border-radius-sm: #{primitives_variables2.$size-8};
    --border-radius-md: #{primitives_variables2.$size-10};
    --border-radius-lg: #{primitives_variables2.$size-12};
    --border-radius-xl: #{primitives_variables2.$size-14};
    --border-radius-2xl: #{primitives_variables2.$size-16};
    --border-radius-full: 50%;

    //border-width
    --border-1: #{primitives_variables2.$size-1};
    --border-2: #{primitives_variables2.$size-2};

    //text
    --text-brand-primary: #{primitives_variables.$brand-500};
    --text-brand-secondary: #{primitives_variables.$brand-300};
    --text-primary: #{primitives_variables.$grey-800};
    --text-secondary: #{primitives_variables.$grey-700};
    --text-tertiary: #{primitives_variables.$grey-600};
    --text-success: #{primitives_variables.$green-500};
    --text-info: #{primitives_variables.$blue-900};
    --text-warning: #{primitives_variables.$yellow-500};
    --text-danger: #{primitives_variables.$red-500};
    --text-highlight: #{primitives_variables.$purple-500};
    --text-calm: #{primitives_variables.$green-900};
    --text-white: #{primitives_variables2.$white};
    --text-disable: #{primitives_variables.$grey-400};
    --text-placeholder: #{primitives_variables.$grey-400};
    --text-label: #{primitives_variables.$grey-500};
    --text-pending: #{primitives_variables.$yellow-800}; //todo: confirmation from design team for the exact token names
    --text-muted: #{primitives_variables.$grey-500};

    //link
    --link-primary: #{primitives_variables.$blue-600};
    --link-visited: #{primitives_variables.$purple-500};

    //icons
    --icon-brand-primary: #{primitives_variables.$brand-500};
    --icon-brand-disable: #{primitives_variables.$brand-300};
    --icon-secondary: #{primitives_variables.$grey-700};
    --icon-tertiary: #{primitives_variables.$grey-500};
    --icon-disable: #{primitives_variables.$grey-400};
    --icon-white: #{primitives_variables2.$white};
    --icon-success: #{primitives_variables.$green-500};
    --icon-danger: #{primitives_variables.$red-500};
    --icon-info: #{primitives_variables.$blue-500};
    --icon-warning: #{primitives_variables.$yellow-500};
    --icon-muted: #{primitives_variables.$grey-400};

    //spacing
    --spacing-0: #{primitives_variables2.$size-0};
    --spacing-2: #{primitives_variables2.$size-2};
    --spacing-4: #{primitives_variables2.$size-4};
    --spacing-6: #{primitives_variables2.$size-6};
    --spacing-8: #{primitives_variables2.$size-8};
    --spacing-10: #{primitives_variables2.$size-10};
    --spacing-12: #{primitives_variables2.$size-12};
    --spacing-14: #{primitives_variables2.$size-14};
    --spacing-16: #{primitives_variables2.$size-16};
    --spacing-18: #{primitives_variables2.$size-18};
    --spacing-20: #{primitives_variables2.$size-20};
    --spacing-24: #{primitives_variables2.$size-24};
    --spacing-28: #{primitives_variables2.$size-28};
    --spacing-32: #{primitives_variables2.$size-32};
    --spacing-40: #{primitives_variables2.$size-40};
    --spacing-48: #{primitives_variables2.$size-48};
    --spacing-56: #{primitives_variables2.$size-56};
    --spacing-72: #{primitives_variables2.$size-72};

    //font size, dimensions
    --size-0: #{primitives_variables2.$size-0};
    --size-2: #{primitives_variables2.$size-2};
    --size-4: #{primitives_variables2.$size-4};
    --size-6: #{primitives_variables2.$size-6};
    --size-8: #{primitives_variables2.$size-8};
    --size-10: #{primitives_variables2.$size-10};
    --size-12: #{primitives_variables2.$size-12};
    --size-14: #{primitives_variables2.$size-14};
    --size-16: #{primitives_variables2.$size-16};
    --size-18: #{primitives_variables2.$size-18};
    --size-20: #{primitives_variables2.$size-20};
    --size-24: #{primitives_variables2.$size-24};
    --size-28: #{primitives_variables2.$size-28};
    --size-32: #{primitives_variables2.$size-32};
    --size-40: #{primitives_variables2.$size-40};
    --size-48: #{primitives_variables2.$size-48};
    --size-56: #{primitives_variables2.$size-56};
    --size-72: #{primitives_variables2.$size-72};
    --size-70-percent: 70%;

    //gradients from FDL
    --gradient-light-start: #e1eeff;
    --gradient-light-end: #ffe4fb;

    --gradient-light-transparent-start: rgba(225, 238, 255, 0.52);
    --gradient-light-transparent-end: rgba(255, 228, 251, 0.22);

    --gradient-vibrant-sm-start: #ff758c;
    --gradient-vibrant-sm-end: #ff7eb3;

    --gradient-vibrant-lg-start: #ff3366;
    --gradient-vibrant-lg-end: #fe5196;

    --gradient-cool-md-start: #c1f4ff;
    --gradient-cool-md-end: #5b86e5;

    --gradient-dark-xs-start: #2c304e;
    --gradient-dark-xs-end: rgba(44, 48, 78, 0.40);

    --gradient-dark-sm-start: #383a51;
    --gradient-dark-sm-end: #2b2e47;

    --gradient-dark-lg-start: #190f2f;
    --gradient-dark-lg-center: #242c42;
    --gradient-dark-lg-end: #05091c;

    --gradient-white-xs-start: rgba(255, 255, 255, 0.90); 
    --gradient-white-xs-end: rgba(255, 255, 255, 0.24);

    --gradient-white-fade-xs-start: rgba(255, 255, 255, 0.00);
    --gradient-white-fade-xs-end: #f5f5f5;
    
    /*TODO-clean up once figma tokens are created*/ 
    //brand gradient
    --gradient-brand-start: #{primitives_variables.$brand-500};
    --gradient-brand-end: #fe5196;
    --gradient-light-sm-start: #e1eeff; 
    --gradient-light-sm-end: #ffe4fb;

    //dropdown shadow
    --dropdown-shadow: rgba(44, 48, 78, 0.1);
    --filter-hover-shadow: rgba(44, 48, 78, 0.03);

    --btn-cta-shadow: 0px 4px 4px rgba(44, 48, 78, 0.1);

    --btn-primary-disable-text-color: #{primitives_variables2.$white};

    //focus
    --secondary-outline-focus: #{primitives_variables.$grey-100};

    --black: #{primitives_variables2.$black};

    // Button Primary - Default
    --btn-primary-bg: linear-gradient(162deg, #ff3366 3.01%, #fe5196 111.5%);

    --btn-primary-hover-bg: linear-gradient(162deg, #F36 3.01%, #FE5196 111.5%);

    --btn-primary-text-color: #{primitives_variables2.$white};

    --btn-primary-hover-text-color: #{primitives_variables2.$white};

    --btn-secondary-bg: var(--gradient-dark-xs-start);

    --btn-secondary-text-color: #{primitives_variables2.$white};

    --btn-secondary-hover-bg: var(--gradient-dark-xs-start);

    --btn-secondary-hover-text-color: #{primitives_variables2.$white};

    --btn-outline-secondary-bg: #{primitives_variables2.$white};

    --btn-outline-secondary-border-color: #{primitives_variables.$grey-300};

    --btn-outline-secondary-text-color: var(--text-secondary);

    --btn-outline-secondary-hover-text-color: var(--text-secondary);

    --btn-outline-secondary-hover-border-color: #{primitives_variables.$grey-300};

    --btn-outline-secondary-hover-bg: #{primitives_variables2.$white};

    --btn-tertiary-text-color: var(--text-brand-primary);
    
    --btn-tertiary-hover-text-color: var(--text-brand-primary);

    --btn-tertiary-hover-bg: #{primitives_variables2.$white};

    --lv-stats-bg: linear-gradient(112deg, rgba(255, 255, 255, 0.90) 1.65%, rgba(255, 255, 255, 0.24) 100%);

    --lv-stats-label-text-color: var(--text-tertiary);

    --nav-link-text: var(--text-primary);

    --nav-tabs-hover-bg: transparent;

    --nav-link-active-border: var(--bg-primary);

    --nav-link-font-weight: 500;

    --nav-tabs-active: var(--text-disable);

    --nav-tabs-active-border: var(--border-secondary);

    --nav-tabs-active-bg:  #{primitives_variables2.$white};

    --nav-tabs-inactive-bg: transparent;

    --nav-tabs-inactive-text-color: var(--text-disable);

    --search-default-filled-text: var(--text-primary);

    --search-focused-placeholder-text: var(--text-placeholder);

    --search-default-border: var(--border-secondary);

    --search-focused-filled-border: var(--btn-secondary-hover-bg);

    --select-focused-border: var(--border-primary);

    --select-default-border: var(--border-secondary);

    --select-default-placeholder-text: var(--text-placeholder);

    --dropdown-option-height: 32px;

    --dd-menu-item-default-text-color: var(--text-secondary);

    --dd-menu-item-hover-bg: var(--bg-tertiary);

    --checkbox-icon-selected-color: var(--icon-secondary);

    --checkbox-icon-color: var(--icon-disable);

    --checkbox-label-text: var(--text-primary);

    --select-disabled-bg: var(--bg-tertiary);

    --select-disabled-text: var(--text-placeholder);

    --select-disabled-border: var(--border-secondary);

    --select-error-border: var(--border-danger);

    --toggle-text-yes: 'Yes';
    --toggle-text-no: 'No';

    --toggle-circle-translate: 28px;

    --form-switch-bg: var(--bg-disable);

    --alerts-success-icon-color: var(--text-white);

    --toast-success-bg: var(--bg-success);

    --toast-text-color: var(--text-white);

    --alerts-error-icon-color: var(--bg-danger);

    --toast-error-bg: var(--bg-danger);

    --chips-border-color: var(--border-secondary);

    --chips-body-text-color: var(--text-tertiary);

    --lv-table-default-bg: var(--bg-tertiary);

    --lv-table-header-text-color: var(--text-secondary);

    --lv-table-header-border-color: var(--border-secondary);

    --lv-table-border-color: var(--border-tertiary);

    --calendar-day-text-color: var(--text-label);

    --border-date-picker-border: var(--border-secondary);

    --date-picker-placeholder-text: var(--text-placeholder);

    --calendar-header-text-color: var(--text-primary);

    --calendar-date-default-text-color: var(--text-secondary);

    --tooltip-bg: var(--bg-secondary);

    --date-picker-filled-icon-color: var(--icon-muted);

    --date-picker-filled-text: var(--text-secondary);

    --calendar-month-text-color: var(--text-secondary);

    --calendar-month-hover-bg: var(--bg-tertiary);

    --search-focused-search-icon: var(--icon-muted);

    --input-focused-border: var(--bg-secondary);

    --modal-header-text-color: var(--bg-primary);
    
    --lv-pagination-icon-active-color: var(--icon-tertiary);

    --lv-pagination-icon-disable-color: var(--icon-disable);

    --app-line-height: 19.6px;

    --divider-border-color: var(--border-tertiary);

    --input-read-only-bg: var(--bg-tertiary);

    --input-read-only-border: var(--border-secondary);

    --input-read-only-text: var(--text-secondary);

    --form-label-text-color: var(--text-label);

    --label-text-size: 14px;

    --form-error-help-text-color: var(--text-danger);

    --select-clear-icon: var(--icon-disable);

    --form-default-help-text-color: var(--text-label);

    --select-default-text: var(--text-secondary);

    --search-focused-text: var(--text-secondary);

    --select-focused-placeholder-text: var(--text-placeholder);

    --select-focused-text: var(--text-secondary);

    --scrollbar-track: #eaeaea;

    --scrollbar-thumb-hover: #aaa;

    --lv-meta-text-color: var(--text-muted);

    --input-default-border: var(--border-secondary);

    --checkbox-marked-icon-spacing: 5px;

    --qf-divider: var(--border-tertiary);

    --input-default-placeholder-text: var(--text-placeholder);

    // Badge
    --badge-brand-bg: var(--bg-brand-primary);
    --badge-brand-text-color: var(--text-white);
    --badge-dark-bg: var(--bg-primary);
    --badge-dark-text-color: var(--text-white);
    --badge-light-bg: var(--bg-white);
    --badge-light-border-color: var(--border-tertiary);
    --badge-light-text-color: var(--text-tertiary);
  }
}
