// Declare the Token Name from Common element library figma file here
// Refer: https://www.figma.com/file/JAhSNaV7gZKYsQyCFZLC9w/Common-Element-library?type=design&node-id=0%3A1&mode=design&t=0FzXvulWRrAS9gc9-1
// You can view all the list of tokens by clicking on Local Variables button on right side menu, you need edit access to view this.
// Don't add any token which is not in figma common element library's token list, few exceptions are for gradients as they are not supported by figma yet.

@import './primitives_variables';

@layer base {
  [data-theme='fyle'] {
    //Colors
    --white: #{$white};
    --placeholder: #{$grey-400};
    --separator: #{$grey-200};
    --normal-text-color: #{$grey-800};
    --menu-inactive-text-color: #{$grey-400};
    --sub-text-color: #{$grey-600};
    --faded-text-color: #{$grey-500};
    --box-color: #{$grey-300};
    --mandatory-field-color: #{$brand-500};
    --disabled-bg-color: #{$grey-100};
    --info: #{$blue-500};
    --alert-toast: #{$red-500};
    --line-inactive: #{$grey-55};
    --mapped-green-border: #{$green-200};
    --mapped-green-bg: #{$green-50};
    --unmapped-red-border: #{$red-300};
    --unmapped-red-bg: #{$red-200};
    --cta-disabled: #{$red-350};
    --pink: #{$pink-400};
    --check-box: #{$grey-120};
    --pink-box-border: #{$pink-opacity-16};
    --configuration-bg: #{$blue-50};
    --info-section: #{$blue-100};
    --success-toast: #{$green-500};
    --progress-bar-bg: #{$green-350};
    --bg-xero-btn: #{$blue-xero};
    --bg-qbo-btn: #{$green-qbo};

    //brand bg
    --bg-brand: #{$utility-major-25};
    --bg-brand-primary: #{$brand-500};
    --bg-brand-disable: #{$brand-300};
    --bg-brand-muted: #B3D9C8;

    //toast bg
    --bg-toast-grey: #{$grey-675};

    //colors bg
    --bg-primary: #{$grey-800};
    --bg-secondary: #{$grey-700};
    --bg-disable: #{$grey-400};
    --bg-tertiary: #{$grey-100};
    --bg-white: #{$white};
    --bg-green: #{$brand-600};
    --bg-primary-opacity: #{$primary-opacity-10};
    --bg-grey-primary: #{$grey-50};
    //_contextual bg
    --bg-success: #{$green-500};
    --bg-info: #{$blue-500};
    --bg-warning: #{$yellow-500};
    --bg-danger: #{$red-500};
    --bg-danger-dark: #{$red-600};

    //light bg
    --bg-info-light: #{$blue-200};
    --bg-danger-light: #{$red-200};
    --bg-success-light: #{$green-100};
    --bg-calm-light: #{$green-150};
    --bg-highlight-light: #{$purple-200};
    --bg-disable-light: #{$grey-100};
    --bg-tertiary-light: #{$blue-50};
    --bg-link-muted: #{$grey-250};

    //lighter bg
    --bg-info-lighter: #{$blue-100};
    --bg-info-lightest: #{$blue-10};
    --bg-warning-lighter: #{$yellow-100};
    --bg-danger-lighter: #{$red-100};
    --bg-success-lighter: #{$green-50};
    --bg-disable-lighter: #{$grey-100};
    --bg-tertiary-lighter: #{$grey-02};

    //border-color
    --border-brand: #{$brand-500};
    --border-primary: #{$grey-700};
    --border-secondary: #{$grey-300};
    --border-tertiary: #{$grey-200};

    --border-info: #{$blue-500};
    --border-warning: #{$yellow-500};
    --border-success: #{$green-500};
    --border-danger: #{$red-500};
    --border-danger-dark: #{$red-600};
    --border-white: #{$white};

    --border-danger-light: #{$red-300};
    --border-highlight-light: #{$purple-300};
    --border-success-light: #{$green-200};
    --border-calm-light: #{$green-300};
    --border-info-light: #{$blue-300};

    --border-info-lighter: #{$info-opacity-10};
    --border-warning-lighter: #{$warning-opacity-10};
    --border-success-lighter: #{$success-opacity-10};
    --border-danger-lighter: #{$error-opacity-10};
    --border-highlight-lighter: #{$purple-300}; //deprecated
    --border-calm-lighter: #{$green-300}; //deprecated
    --border-manate: #{$manate};

    //border-radius
    --border-radius-none: #{$size-0};
    --border-radius-3xs: #{$size-2};
    --border-radius-2xs: #{$size-4};
    --border-radius-xs: #{$size-6};
    --border-radius-sm: #{$size-8};
    --border-radius-md: #{$size-10};
    --border-radius-lg: #{$size-12};
    --border-radius-xl: #{$size-14};
    --border-radius-2xl: #{$size-16};
    --border-radius-full: 50%;
    --border-focus: #{$semantic-focus-500};

    //border-width
    --border-1: #{$size-1};
    --border-2: #{$size-2};

    //text
    --text-brand-primary: #{$brand-500};
    --text-brand-secondary: #{$brand-300};
    --text-primary: #{$grey-800};
    --text-secondary: #{$grey-700};
    --text-tertiary: #{$grey-600};
    --text-success: #{$green-500};
    --text-info: #{$blue-900};
    --text-warning: #{$yellow-500};
    --text-danger: #{$red-500};
    --text-danger-dark: #{$red-600};
    --text-highlight: #{$purple-500};
    --text-calm: #{$green-900};
    --text-white: #{$white};
    --text-disable: #{$grey-400};
    --text-placeholder: #{$grey-400};
    --text-label: #{$grey-500};
    --text-pending: #{$yellow-800}; //todo: confirmation from design team for the exact token names
    --text-muted: #{$grey-500};
    --text-toast-color: #{$grey-90};

    //link
    --link-primary: #{$green-700};
    --link-visited: #{$purple-500};
    --link-muted: #{$grey-550};

    //icons
    --icon-brand-primary: #{$brand-500};
    --icon-brand-disable: #{$brand-300};
    --icon-secondary: #{$grey-700};
    --icon-tertiary: #{$grey-500};
    --icon-disable: #{$grey-400};
    --icon-white: #{$white};
    --icon-success: #{$green-500};
    --icon-danger: #{$red-500};
    --icon-danger-dark: #{$red-600};
    --icon-info: #{$blue-500};
    --icon-warning: #{$yellow-500};
    --icon-muted: #{$grey-400};

    //spacing
    --spacing-0: #{$size-0};
    --spacing-2: #{$size-2};
    --spacing-4: #{$size-4};
    --spacing-6: #{$size-6};
    --spacing-8: #{$size-8};
    --spacing-10: #{$size-10};
    --spacing-12: #{$size-12};
    --spacing-14: #{$size-14};
    --spacing-16: #{$size-16};
    --spacing-18: #{$size-18};
    --spacing-20: #{$size-20};
    --spacing-24: #{$size-24};
    --spacing-28: #{$size-28};
    --spacing-32: #{$size-32};
    --spacing-40: #{$size-40};
    --spacing-48: #{$size-48};
    --spacing-56: #{$size-56};
    --spacing-72: #{$size-72};

    //font size, dimensions
    --size-0: #{$size-0};
    --size-2: #{$size-2};
    --size-4: #{$size-4};
    --size-6: #{$size-6};
    --size-8: #{$size-8};
    --size-10: #{$size-10};
    --size-12: #{$size-12};
    --size-14: #{$size-14};
    --size-16: #{$size-16};
    --size-18: #{$size-18};
    --size-20: #{$size-20};
    --size-24: #{$size-24};
    --size-28: #{$size-28};
    --size-32: #{$size-32};
    --size-40: #{$size-40};
    --size-48: #{$size-48};
    --size-56: #{$size-56};
    --size-72: #{$size-72};
    --size-70-percent: 70%;

    //gradients from FDL
    --gradient-light-start: #e1eeff;
    --gradient-light-end: #ffe4fb;

    --gradient-light-transparent-start: rgba(225, 238, 255, 0.52);
    --gradient-light-transparent-end: rgba(255, 228, 251, 0.22);

    --gradient-cool-md-start: #c1f4ff;
    --gradient-cool-md-end: #5b86e5;

    --gradient-dark-xs-start: #2c304e;
    --gradient-dark-xs-end: rgba(44, 48, 78, 0.40);

    --gradient-dark-sm-start: #383a51;
    --gradient-dark-sm-end: #2b2e47;

    --gradient-dark-lg-start: #190f2f;
    --gradient-dark-lg-center: #242c42;
    --gradient-dark-lg-end: #05091c;

    --gradient-white-xs-start: rgba(255, 255, 255, 0.90);
    --gradient-white-xs-end: rgba(255, 255, 255, 0.24);

    --gradient-white-fade-xs-start: rgba(255, 255, 255, 0.00);
    --gradient-white-fade-xs-end: #f5f5f5;

    /*TODO-clean up once figma tokens are created*/
    //brand gradient
    --gradient-brand-start: #{$brand-500};
    --gradient-brand-end: #fe5196;
    --gradient-light-sm-start: #e1eeff;
    --gradient-light-sm-end: #ffe4fb;

    //dropdown shadow
    --dropdown-shadow: rgba(44, 48, 78, 0.1);
    --filter-hover-shadow: rgba(44, 48, 78, 0.03);

    --btn-cta-shadow: 0px 4px 4px rgba(44, 48, 78, 0.1);

    --btn-primary-disable-text-color: #{$white};

    //focus
    --secondary-outline-focus: #{$grey-100};

    --black: #{$black};

    // Button Primary - Default
    --btn-primary-bg: #{$brand-500};

    --btn-primary-hover-bg: #{$brand-300};

    --btn-primary-text-color: #{$white};

    --btn-primary-hover-text-color: #{$white};

    --btn-secondary-bg: var(--gradient-dark-xs-start);

    --btn-secondary-text-color: #{$white};

    --btn-secondary-hover-bg: var(--gradient-dark-xs-start);

    --btn-secondary-hover-text-color: #{$white};

    --btn-outline-secondary-bg: #{$white};

    --btn-outline-secondary-border-color: #{$grey-300};

    --btn-outline-secondary-text-color: var(--text-secondary);

    --btn-outline-secondary-hover-text-color: var(--text-secondary);

    --btn-outline-secondary-hover-border-color: #{$grey-300};

    --btn-outline-secondary-hover-bg: #{$white};

    --btn-tertiary-text-color: var(--text-brand-primary);

    --btn-tertiary-hover-text-color: var(--text-brand-primary);

    --btn-tertiary-hover-bg: #{$white};

    --lv-stats-bg: linear-gradient(112deg, rgba(255, 255, 255, 0.90) 1.65%, rgba(255, 255, 255, 0.24) 100%);

    --lv-stats-label-text-color: var(--text-tertiary);

    --nav-link-text: var(--text-primary);

    --nav-tabs-hover-bg: transparent;

    --nav-link-active-border: #{$brand-500};

    --nav-link-font-weight: 500;

    --nav-tabs-active: var(--text-disable);

    --nav-tabs-active-border: #{$grey-350};

    --nav-tabs-active-bg: var(--bg-brand);

    --nav-tabs-inactive-bg: transparent;

    --nav-tabs-inactive-text-color: #{$grey-900};

    --search-default-filled-text: var(--text-primary);

    --search-focused-placeholder-text: var(--text-placeholder);

    --search-default-border: var(--utility-major-300);

    --search-focused-filled-border: var(--btn-secondary-hover-bg);

    --select-focused-border: var(--border-primary);

    --select-default-placeholder-text: var(--text-placeholder);

    --dropdown-option-height: 32px;

    --dd-menu-item-default-text-color: var(--text-primary);

    --dd-menu-item-hover-bg: var(--bg-tertiary);

    --checkbox-icon-selected-color: var(--bg-brand-primary);

    --checkbox-icon-color: var(--icon-disable);

    --checkbox-label-text: var(--text-primary);

    --select-disabled-bg: var(--bg-tertiary);

    --select-disabled-text: var(--text-placeholder);

    --select-disabled-border: var(--border-secondary);

    --select-error-border: var(--border-danger);

    --toggle-text-yes: 'Yes';
    --toggle-text-no: 'No';

    --toggle-circle-translate: 28px;

    --form-switch-bg: var(--bg-disable);

    --alerts-success-icon-color: var(--text-white);

    --toast-success-bg: #{$green-950};

    --toast-error: #{$red-650};

    --toast-info-bg: #{$slate-500};

    --toast-text-color: var(--text-white);

    --alerts-error-icon-color: var(--bg-danger);
    --toast-error-bg: var(--bg-danger);

    --chips-border-color: var(--border-secondary);

    --chips-body-text-color: var(--text-tertiary);

    --lv-table-default-bg: var(--bg-tertiary);

    --lv-table-header-text-color: var(--text-secondary);

    --lv-table-header-border-color: var(--border-secondary);

    --lv-table-border-color: var(--border-tertiary);

    --calendar-day-text-color: var(--text-label);

    --border-date-picker-border: var(--border-secondary);

    --date-picker-placeholder-text: var(--text-placeholder);

    --calendar-header-text-color: var(--text-primary);

    --calendar-date-default-text-color: var(--text-secondary);

    --tooltip-bg: #{$grey-675};

    --date-picker-filled-icon-color: var(--icon-muted);

    --date-picker-filled-text: var(--text-secondary);

    --calendar-month-text-color: var(--text-secondary);

    --calendar-month-hover-bg: var(--bg-tertiary);

    --search-focused-search-icon: var(--icon-muted);

    --input-focused-border: var(--bg-secondary);

    --modal-header-text-color: var(--bg-primary);

    --lv-pagination-icon-active-color: var(--icon-tertiary);

    --lv-pagination-icon-disable-color: var(--icon-disable);

    --app-line-height: 19.6px;

    --divider-border-color: var(--border-tertiary);

    --input-read-only-bg: var(--bg-tertiary);

    --input-read-only-border: var(--border-secondary);

    --input-read-only-text: var(--text-secondary);

    --form-label-text-color: var(--text-label);

    --label-text-size: 14px;

    --form-error-help-text-color: var(--text-danger);

    --select-clear-icon: var(--icon-disable);

    --form-default-help-text-color: var(--text-label);

    --select-default-text: var(--text-secondary);

    --search-focused-text: var(--text-secondary);

    --select-focused-placeholder-text: var(--text-placeholder);

    --select-focused-text: var(--text-secondary);

    --scrollbar-track: #eaeaea;

    --scrollbar-thumb-hover: #aaa;

    --lv-meta-text-color: var(--text-muted);

    --input-default-border: var(--border-secondary);

    --checkbox-marked-icon-spacing: 5px;

    --qf-divider: var(--border-tertiary);

    --input-default-placeholder-text: var(--text-placeholder);

    // Badge
    --badge-brand-bg: var(--bg-brand-primary);
    --badge-brand-text-color: var(--text-white);
    --badge-dark-bg: var(--bg-primary);
    --badge-dark-text-color: var(--text-white);
    --badge-light-bg: var(--bg-white);
    --badge-light-border-color: var(--border-tertiary);
    --badge-light-text-color: var(--text-tertiary);

    // Toggle
    --toggle-enabled-bg: #{$grey-650};
    --toggle-disabled-bg: #{$white};
    --toggle-enabled-text-color: #{$white};
    --toggle-disabled-text-color: #{$slate-500};
    --toggle-border: var(--toggle-enabled-bg);
    --toggle-border-width: 1px;

    // Inputs
    --input-height: 40px;

    // Input - Disabled
    --input-disabled-bg: #{$utility-major-25};
    --input-disabled-border: #{$utility-major-100};

    // Select
    --select-default-border: #{$utility-major-300};
    --select-menu-item-active-bg: #{$utility-major-200};

    // Yin - Dark font colors
    --yin-100: #{$yin-100};
    --yin-090: #{$yin-090};
    --yin-075: #{$yin-075};
    --yin-065: #{$yin-065};
    --yin-055: #{$yin-055};
    --yin-030: #{$yin-030};

    // Action/Major - Primary theme colour for major actions (Jade)
    --action-major-25: #{$action-major-25};
    --action-major-150: #{$action-major-150};
    --action-major-350: #{$action-major-350};
    --action-major-450: #{$action-major-450};
    --action-major-500: #{$action-major-500};
    --action-major-600: #{$action-major-600};
    --action-major-700: #{$action-major-700};

    // Utility/Major - Base colour for grayscale tints/shades
    --utility-major-10: #{$utility-major-10};
    --utility-major-25: #{$utility-major-25};
    --utility-major-40: #{$utility-major-40};
    --utility-major-50: #{$utility-major-50};
    --utility-major-75: #{$utility-major-75};
    --utility-major-100: #{$utility-major-100};
    --utility-major-150: #{$utility-major-150};
    --utility-major-200: #{$utility-major-200};
    --utility-major-300: #{$utility-major-300};
    --utility-major-400: #{$utility-major-400};
    --utility-major-450: #{$utility-major-450};
    --utility-major-500: #{$utility-major-500};
    --utility-major-800: #{$utility-major-800};

    // Semantics colors - UI semantic colors denote standard states. Each color has the same meaning in all contexts.
    --semantic-focus-500: #{$semantic-focus-500};

    // Loader colors
    --loader-neutral: #{$brand-500};
    --loader-neutral-track: #{$loader-neutral-track};
    --loader-action: #{$utility-major-400};
    --loader-action-track: #{$loader-action-track};

    // Font family
    --font-primary: "sage-ui", "Helvetica Neue", Roboto, Segoe UI, Arial;
  }
}
