/* stylelint-disable scss/no-dollar-variables */

// Only Add those variables in this file which are added as premitives in figma common element library,
// Refer: https://www.figma.com/file/JAhSNaV7gZKYsQyCFZLC9w/Common-Element-library?type=design&node-id=0%3A1&mode=design&t=0FzXvulWRrAS9gc9-1
// You can view all the list of primitives by clicking on Local Variables button on right side menu, you need edit access to view this.

//opacity Primitives
$opacity-10: 0.1;
$info-opacity-10: rgba(#5c98e5, 0.1);
$warning-opacity-10: rgba(#e1af05, 0.1);
$error-opacity-10: rgba(#da1e28, 0.1);
$success-opacity-10: rgba(#24a148, 0.1);
$brand-primary-opacity-80: rgba(#ff3366, 0.8);
$brand-secondary-opacity-15: rgba(#ff3366, 0.15);
$primary-opacity-10: rgba(#161528, 0.1);
$pink-opacity-16: rgba(255, 51, 102, 0.16);

//Color Premitives
//Base Colors
$white: #ffffff;
$black: 0 0 0;
//grey shades
$grey-02: #F3F6FA;
$grey-50: #E6EBED;
$grey-55: #CCCDD7;
$grey-90: #1A1A1A;
$grey-100: #f5f5f5;
$grey-120: #ced4da;
$grey-200: #ececee;
$grey-250: #F2F5F6;
$grey-300: #dfdfe2;
$grey-350: #E6EBED;
$grey-400: #a9acbc;
$grey-500: #5a5d72;
$grey-550: #737373;
$grey-600: #414562;
$grey-650: #3C5B6E;
$grey-675: #335B70;
$grey-700: #2c304e;
$grey-800: #161528;
$grey-850: #181919;
$grey-900: #1a1a1a;

//brand shades
$brand-300: #006738ff;
$brand-500: #007E45;
$brand-600: #006738;

//slate shades
$slate-500: #6C8493;
$slate-550: #335B70;

//blue shades
$blue-10: #f6faff;
$blue-50: #fafcff;
$blue-100: #eff5fc;
$blue-200: #eef1fe;
$blue-300: #d9def8;
$blue-500: #5c98e5;
$blue-600: #0062ff;
$blue-900: #556ef2;
$blue-xero: #0c7da1;

//yellow shades
$yellow-100: #fcf7e6;
$yellow-500: #e1af05;
$yellow-800: #d88600;

//green
$green-50: #eef8f2;
$green-100: #f6fbf9;
$green-150: #e7f3f4;
$green-200: #008146;
$green-300: #c9e1e4;
$green-350: #b4d9c8;
$green-450: #55b07d;
$green-500: #24a148;
$green-700: #0C713F;
$green-900: #077e8c;
$green-950: #00821F;
$green-qbo: #2ba01d;

//red
$red-100: #fbe8e9;
$red-200: #fff9f8;
$red-300: #c92214;
$red-350: #FFC2D6;
$red-500: #da1e28;
$red-600: #cb374a;
$red-660: #A22C3B;

//purple
$purple-200: #f4edff;
$purple-300: #dbc5ff;
$purple-500: #8e46ff;

// pink
$pink-400: #D23669;

$manate: #8c8fa6;

// Component colours (theme) - This is the primary theme colour used in various components to convey major actions.
// Jade - action/major
$action-major-25: #f2f9f6ff;
$action-major-150: #b3d9c8ff;
$action-major-350: #4da77eff;
$action-major-450: #198e59ff;
$action-major-500: #007e45ff;
$action-major-600: #006738ff;
$action-major-700: #004d2aff;

// utility/major - This base colour is used to create our grayscale tints/shades
$utility-major-10: #fafbfbff;
$utility-major-25: #f2f5f6ff;
$utility-major-40: #edf1f2ff;
$utility-major-50: #e6ebedff;
$utility-major-75: #d9e0e4ff;
$utility-major-100: #ccd6dbff;
$utility-major-150: #b3c2c9ff;
$utility-major-200: #99adb7ff;
$utility-major-300: #668494ff;
$utility-major-400: #335b70ff;
$utility-major-450: #19475eff;
$utility-major-500: #00324cff;
$utility-major-800: #00141eff;

// Font colors
// Black - yin
$yin-100: #000000;
$yin-090: #1A1A1A;
$yin-075: #404040;
$yin-065: #595959;
$yin-055: #737373;
$yin-030: #B3B3B3;

// Semantics colors - UI semantic colors denote standard states. Each color has the same meaning in all contexts.
$semantic-focus-500: #ffbc19;
$semantic-info-500: #0060A7;

// Loader colors
$loader-neutral-track: #CCE6DA;
$loader-action-track: #d4dde1;
