<app-app-header (openDialog)="openDialog()"></app-app-header>

<app-landing></app-landing>

<p-dialog [dismissableMask]="true" [showHeader]="false" [modal]="true" [(visible)]="showDialog" [draggable]="false" [style]="{width: '468px', height: '466px'}">
    <div class="tw-pt-22-px tw-flex tw-justify-center">
        <img src="assets/logos/bamboo-hr-logo.png" width="120px" height="40px" />
    </div>

    <div class="tw-pt-34-px tw-px-40-px">
        <p class="tw-text-slightly-normal-text-color tw-text-24-px tw-font-500">Connect to BambooHR</p>
        <p class="tw-pt-10-px tw-text-faded-text-color tw-text-12-px">Please enter your credentials to connect your BambooHR account</p>

        <div class="tw-pt-32-px">
            <p class="tw-text-sub-text-color tw-text-14-px">
                API token <span class="tw-text-mandatory-field-color tw-mb-2-px">*</span>
            </p>
            <p-password [feedback]="false" [toggleMask]="true" placeholder="Enter API token"></p-password>
        </div>
    </div>
</p-dialog>
