<p-toast position="bottom-center" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="tw-flex tw-justify-between tw-items-center tw-h-44-px tw-text-14-px" [ngClass]="message.severity === 'success' ? 'tw-bg-success-toast' : 'tw-bg-alert-toast'">
            <div class="tw-flex">
                <app-svg-icon *ngIf="message.severity === 'success'" [svgSource]="'check-circle-outline-medium'" [width]="'20px'" [height]="'20px'" [styleClasses]="'tw-text-white tw-pl-14-px tw-pr-10-px tw-pt-2-px'"></app-svg-icon>
                <app-svg-icon *ngIf="message.severity !== 'success'" [svgSource]="'warning-outline'" [width]="'20px'" [height]="'20px'" [styleClasses]="'tw-text-white tw-pl-14-px tw-pr-10-px tw-pt-2-px'"></app-svg-icon>
                {{ message.summary }}
            </div>
            <div class="tw-flex tw-items-center tw-cursor-pointer">
                <app-svg-icon (iconClick)="closeToast()" [svgSource]="'cross-medium'" [width]="'16px'" [height]="'16px'" [styleClasses]="'tw-pr-22-px tw-text-white'"></app-svg-icon>
            </div>
        </div>
    </ng-template>
</p-toast>

<app-landing-page-header 
    [iconPath]="'assets/logos/bamboo-hr-logo.svg'" 
    [appName]="'BambooHR'" 
    [appDescription]="'Auto sync employee details between Bamboo HR and ' + brandingConfig.brandName + '.'" 
    [isLoading]="isLoading" 
    [hideRefreshIcon]="hideRefreshIcon" 
    [showErrorScreen]="showErrorScreen" 
    [isIntegrationSetupInProgress]="isBambooSetupInProgress" 
    [isIntegrationConnected]="isBambooConnected" 
    (connectIntegration)="openDialog()"
    (disconnectIntegration)="disconnectBambooHr()" 
    (syncEmployees)="syncEmployees()"
></app-landing-page-header>

<app-landing-page-body *ngIf="!isLoading && !isBambooConnected && !showErrorScreen"  [headerText]="'Auto sync employee details between Bamboo HR and ' + brandingConfig.brandName + '.'" [svgPath]="'assets/flow-charts/bamboo-hr-flow-chart.svg'" [redirectLink]="brandingKbArticles.topLevelArticles.BAMBOO_HR" [appName]="appName"></app-landing-page-body>

<app-error *ngIf="showErrorScreen"></app-error>

<p-dialog [dismissableMask]="true" [showHeader]="false" [modal]="true" [(visible)]="showDialog" [draggable]="false" [style]="{width: '468px'}">
    <div *ngIf="isBambooConnectionInProgress" class="tw-flex tw-flex-col tw-justify-center tw-items-center tw-h-465-px">
        <app-loader></app-loader>
    </div>
    <div *ngIf="!isBambooConnectionInProgress">
        <div class="tw-pt-22-px tw-flex tw-justify-center">
            <img src="assets/logos/bamboo-hr-logo.svg" width="120px" height="40px" />
        </div>

        <div class="tw-pt-34-px tw-px-40-px" [formGroup]="bambooConnectionForm">
            <p class="tw-text-slightly-normal-text-color tw-text-24-px tw-font-500">Connect to BambooHR</p>
            <p class="tw-pt-10-px tw-text-text-muted tw-text-12-px">Please enter your credentials to connect your BambooHR account</p>

            <div class="tw-pt-32-px">
                <p class="tw-text-sub-text-color tw-text-14-px tw-pb-8-px">
                    API Token <span class="tw-text-mandatory-field-color">*</span>
                </p>
                <p-password formControlName="apiToken" inputStyleClass="tw-w-388-px tw-h-48-px" [feedback]="false" [toggleMask]="true" placeholder="Enter API token"></p-password>

                <p class="tw-pt-16-px tw-pb-8-px tw-text-sub-text-color tw-text-14-px">
                    Sub-domain <span class="tw-text-mandatory-field-color">*</span>
                </p>

                <div class="tw-flex">
                    <div class="tw-flex tw-justify-center tw-items-center tw-text-14-px tw-bg-disabled-bg-color tw-h-48-px tw-w-68-px tw-border-box-color tw-border-1-px tw-border-r-0 tw-text-slightly-normal-text-color">
                        https://
                    </div>
                    <input formControlName="subDomain" type="text" inputStyleClass="!tw-rounded-0" class="!tw-rounded-0" pInputText placeholder="Enter sub-domain" />
                    <div class="tw-flex tw-justify-center tw-items-center tw-text-14-px tw-bg-disabled-bg-color tw-h-48-px tw-w-118-px tw-border-box-color tw-border-1-px tw-border-l-0 tw-text-slightly-normal-text-color">
                        .bamboohr.com
                    </div>
                </div>

                <div class="tw-flex tw-items-center tw-pt-24-px tw-pb-40-px">
                    <button pButton type="button" class="p-button-raised" [disabled]="!bambooConnectionForm.valid" (click)="connectBambooHR()">
                        Connect
                    </button>
                </div>
            </div>
        </div>
    </div>
</p-dialog>

<app-configuration *ngIf="!isLoading && isBambooConnected" [isConfigurationSaveInProgress]="isConfigurationSaveInProgress" [bambooHrConfiguration]="bambooHrConfiguration" [additionalEmails]="additionalEmails" (updateConfiguration)="configurationUpdatesHandler($event)"></app-configuration>

<div *ngIf="isLoading" class="tw-flex tw-flex-col tw-justify-center tw-items-center tw-pt-70-px">
    <div *ngFor="let _ of [0,1,2,3,4,5,6]" class="tw-w-75-vw tw-h-78-px tw-border-separator tw-border-1-px tw-rounded-8-px tw-mb-18-px">
        <div class="tw-w-14-vw tw-h-18-px tw-pl-24-px tw-pt-16-px tw-pb-10-px">
            <p-skeleton shape="rectangle"></p-skeleton>
        </div>

        <div class="tw-w-50-vw tw-h-18-px tw-pl-24-px tw-pt-16-px tw-pb-10-px">
            <p-skeleton shape="rectangle"></p-skeleton>
        </div>
    </div>
</div>
