<div [formGroup]="form" [ngClass]="!isCloneSettingView ? 'tw-p-24-px': ''" class="tw-flex tw-flex-row tw-justify-between">
    <div *ngIf="!isCloneSettingView" class="tw-w-3/5 tw-flex tw-items-start">
        <div [ngClass]="[iconPath ? 'tw-pr-20-px tw-mt-4-px' : 'tw-pr-40-px']">
            <app-svg-icon *ngIf="iconPath" [svgSource]="iconPath" [width]="'24px'" [height]="'24px'" [styleClasses]="'tw-text-mandatory-field-color'"></app-svg-icon>
        </div>
        <div>
            <h5 class="tw-text-14-px !tw-font-500">{{ label }}<app-mandatory-field *ngIf="isFieldMandatory"></app-mandatory-field></h5>
            <h5 class="!tw-text-text-muted tw-text-14-px tw-pt-8-px !tw-font-400 !tw-leading-4" [innerHTML]="subLabel"></h5>
        </div>
    </div>
    <div class="tw-pl-34-px">
        <app-multi-select
            [form]="form" [formControllerName]="formControllerName"
            [options]="emails" [optionLabel]="'email'" [displayAs]="'chip'"
            [filterBy]="'email,name'" [isFilter]="true" [selectedValue]="selectedEmail"
            [placeholder]="'Select Email Address'" (removeItem)="removeEmail()">
        </app-multi-select>
        <div>
            <app-mandatory-error-message *ngIf="isFieldMandatory && form.controls[formControllerName].touched && !form.controls[formControllerName].valid && !form.controls[formControllerName].disabled" [listName]="mandatoryErrorListName" [customErrorMessage]="customErrorMessage"></app-mandatory-error-message>
        </div>
        <div>
            <div class="tw-flex tw-pt-18-px">
                <p class="tw-text-slightly-normal-text-color tw-text-14-px tw-pr-12-px">or</p>
                <div class="tw-flex tw-cursor-pointer" (click)="openDialog()">
                    <app-svg-icon [svgSource]="'plus-square-medium'" [width]="'18px'" [height]="'18px'"
                        [styleClasses]="'tw-text-mandatory-field-color'">
                    </app-svg-icon>
                    <p class="tw-pl-6-px tw-text-slightly-normal-text-color tw-text-14-px">Add new Email address</p>
                </div>
            </div> 
        </div>
    </div>
</div>

<p-dialog [dismissableMask]="true" [showHeader]="false" [modal]="true" [(visible)]="showDialog" [draggable]="false" [style]="{width: '468px'}">
    <div [formGroup]="addEmailForm">
        <div class="tw-p-24-px tw-border-b-1-px tw-border-b-box-color">
            <div class="tw-flex tw-justify-between tw-items-center">
                <p class="tw-text-slightly-normal-text-color tw-text-20-px tw-font-500">Add new Email Address</p>
                <app-svg-icon [svgSource]="'cross-medium'" class="tw-cursor-pointer" style="font-size: 12px" (click)="closeModel()" [height]="'16px'" [width]="'16px'"></app-svg-icon>
            </div>
        </div>
        <div class="tw-p-24-px">
            <p class="tw-text-sub-text-color tw-text-14-px tw-pb-8-px">
                Name <span class="tw-text-mandatory-field-color">*</span>
            </p>
            <input formControlName="name" type="text" class="tw-w-388-px tw-h-48-px" pInputText placeholder="Enter name" [ngClass]="[addEmailForm.controls['name'].touched && !addEmailForm.controls['name'].valid && !addEmailForm.controls['name'].disabled ? 'error-box' : 'normal-box']" required/>
            <app-mandatory-error-message *ngIf="addEmailForm.controls['name'].touched && !addEmailForm.controls['name'].valid && !addEmailForm.controls['name'].disabled" [customErrorMessage]="'Enter a valid Name'"></app-mandatory-error-message>
            <p class="tw-pt-16-px tw-pb-8-px tw-text-sub-text-color tw-text-14-px">
                Email Address <span class="tw-text-mandatory-field-color">*</span>
            </p>

            <div>
                <input formControlName="email" type="text" class="tw-w-388-px tw-h-48-px" pInputText placeholder="Enter Email" [ngClass]="[addEmailForm.controls['email'].touched && !addEmailForm.controls['email'].valid && !addEmailForm.controls['email'].disabled ? 'error-box' : 'normal-box']" required />
                <app-mandatory-error-message *ngIf="addEmailForm.controls['email'].touched && !addEmailForm.controls['email'].valid && !addEmailForm.controls['email'].disabled" [customErrorMessage]="'Enter a valid E-mail'"></app-mandatory-error-message>
            </div>

            <div class="tw-flex tw-justify-end tw-pt-24-px ">
                <button type="button" class="cancel-btn" (click)="closeModel()">
                    Cancel
                </button>
                <button type="button" class="save-btn" pButton [disabled]="!addEmailForm.valid" (click)="addEmail()">
                    Add and Save
                </button>
            </div>
        </div>
    </div>
</p-dialog>
