<div [formGroup]="form" [ngClass]="!isCloneSettingView ? 'tw-p-24-px': ''" class="tw-flex tw-flex-row tw-justify-between">
    <div *ngIf="!isCloneSettingView" class="tw-w-3/5 tw-flex tw-items-start">
        <div [ngClass]="[iconPath ? 'tw-pr-16-px tw-mt-4-px' : 'tw-pr-40-px']">
            <app-svg-icon *ngIf="iconPath" [svgSource]="iconPath" [width]="'24px'" [height]="'24px'" [styleClasses]="'tw-text-mandatory-field-color'"></app-svg-icon>
        </div>
        <div>
            <h5 class="tw-text-14-px !tw-font-500">{{ label }}<app-mandatory-field *ngIf="isFieldMandatory"></app-mandatory-field></h5>
            <h5 class="!tw-text-text-muted tw-text-14-px tw-pt-8-px !tw-font-400 !tw-leading-4" [innerHTML]="subLabel"></h5>
        </div>
    </div>
    <div class="tw-pl-34-px">
        <p-multiSelect [options]="emails" styleClass="tw-z-1 tw-py-8-px tw-px-12-px" [formControlName]="formControllerName" [defaultLabel]="placeholder" optionLabel="email" class="tw-text-sub-text-color"
	    display="chip" [filter]="true" [filterBy]="'email,name'" [ngClass]="[form.controls[formControllerName].invalid && form.controls[formControllerName].touched ? 'error-box' : 'normal-box']" [dropdownIcon]="'pi pi-chevron-down ' + brandingConfig.brandId" >
            <ng-template let-value pTemplate="selectedItems">
                <div *ngIf="selectedEmail"
                    class="tw-flex tw-text-12-px tw-h-22-px tw-rounded-12-px tw-text-slightly-normal-text-color tw-border-1-px tw-border-box-color tw-bg-white">
                    <p class="tw-pt-2-px tw-pl-12-px tw-pr-6-px tw-max-w-[150px] tw-overflow-hidden tw-whitespace-nowrap tw-text-ellipsis">{{ selectedEmail }}</p>
                    <p class="tw-w-1-px tw-mr-8-px tw-bg-separator"></p>
                    <app-svg-icon (iconClick)="removeEmail()" [svgSource]="'cross-small'" [width]="'12px'" [height]="'12px'"
                        [styleClasses]="'tw-pr-10-px tw-pt-6-px tw-text-slightly-normal-text-color'"></app-svg-icon>
                </div>
                <div *ngIf="selectedEmail && form.get('email')?.value.length > 1" class="tw-pl-8-px">
                    <p class="tw-flex tw-justify-center tw-items-center tw-p-5-px tw-h-24-px tw-w-24-px tw-bg-input-read-only-bg tw-text-12-px tw-text-text-muted tw-rounded-12-px">
                        +{{ form.get('email')?.value.length - 1 }}
                    </p>
                </div>
                <div *ngIf="!selectedEmail" class="tw-text-placeholder">
                    Select Email Address
                </div>
            </ng-template>
            <ng-template pTemplate="filter" let-options="options">
                <div *ngIf="emails.length" class="tw-p-6-px">
                    <p-iconField iconPosition="left">
                        <p-inputIcon>
                            <app-svg-icon [svgSource]="'search-medium'" [width]="'18px'" [height]="'18px'" [styleClasses]="brandingConfig.brandId === 'fyle' ? 'tw-text-search-focused-search-icon' : 'tw-text-search-focused-filled-border'" [isTextColorAllowed]="true"></app-svg-icon>
                        </p-inputIcon>
                        <input type="text" class="!tw-h-32-px !tw-w-288-px !tw-rounded-4-px !tw-pl-40-px !tw-pr-12-px !tw-py-12-px" (keyup)="options.filter($event)" pInputText placeholder="Search by Name / Email" formControlName="search"/>
                    </p-iconField>
                </div>
            </ng-template>
            <ng-template let-user pTemplate="item">
                <div>
                    <span class="tw-text-sub-text-color tw-text-14-px">
                        <span #textElement 
                        [ngStyle]="{'white-space': 'nowrap', 'overflow': 'hidden', 'text-overflow': 'ellipsis', 'max-width': '16rem'}"
                        [pTooltip]="isOverflowing(textElement) ? user.name : null" tooltipPosition="top">
                        {{ user.name }}
                        </span>
                    </span>
                    <p class="tw-pt-4-px tw-text-text-muted tw-text-12-px">{{ user.email }}</p>
                </div>
            </ng-template>
        </p-multiSelect>
        <div>
            <app-mandatory-error-message *ngIf="isFieldMandatory && form.controls[formControllerName].touched && !form.controls[formControllerName].valid && !form.controls[formControllerName].disabled" [listName]="mandatoryErrorListName" [customErrorMessage]="customErrorMessage"></app-mandatory-error-message>
        </div>
        <div>
            <div class="tw-flex tw-pt-18-px">
                <p class="tw-text-slightly-normal-text-color tw-text-14-px tw-pr-12-px">or</p>
                <div class="tw-flex tw-cursor-pointer" (click)="openDialog()">
                    <app-svg-icon [svgSource]="'plus-square-medium'" [width]="'18px'" [height]="'18px'"
                        [styleClasses]="'tw-text-mandatory-field-color'">
                    </app-svg-icon>
                    <p class="tw-pl-6-px tw-text-slightly-normal-text-color tw-text-14-px">Add new Email address</p>
                </div>
            </div> 
        </div>
    </div>
</div>

<p-dialog [dismissableMask]="true" [showHeader]="false" [modal]="true" [(visible)]="showDialog" [draggable]="false" [style]="{width: '468px'}">
    <div [formGroup]="addEmailForm">
        <div class="tw-p-24-px tw-border-b-1-px tw-border-b-box-color">
            <div class="tw-flex tw-justify-between tw-items-center">
                <p class="tw-text-slightly-normal-text-color tw-text-20-px tw-font-500">Add new Email Address</p>
                <app-svg-icon [svgSource]="'cross-medium'" class="tw-cursor-pointer" style="font-size: 12px" (click)="closeModel()" [height]="'16px'" [width]="'16px'"></app-svg-icon>
            </div>
        </div>
        <div class="tw-p-24-px">
            <p class="tw-text-sub-text-color tw-text-14-px tw-pb-8-px">
                Name <span class="tw-text-mandatory-field-color">*</span>
            </p>
            <input formControlName="name" type="text" class="tw-w-388-px tw-h-48-px" pInputText placeholder="Enter name" [ngClass]="[addEmailForm.controls['name'].touched && !addEmailForm.controls['name'].valid && !addEmailForm.controls['name'].disabled ? 'error-box' : 'normal-box']" required/>
            <app-mandatory-error-message *ngIf="addEmailForm.controls['name'].touched && !addEmailForm.controls['name'].valid && !addEmailForm.controls['name'].disabled" [customErrorMessage]="'Enter a valid Name'"></app-mandatory-error-message>
            <p class="tw-pt-16-px tw-pb-8-px tw-text-sub-text-color tw-text-14-px">
                Email Address <span class="tw-text-mandatory-field-color">*</span>
            </p>

            <div>
                <input formControlName="email" type="text" class="tw-w-388-px tw-h-48-px" pInputText placeholder="Enter Email" [ngClass]="[addEmailForm.controls['email'].touched && !addEmailForm.controls['email'].valid && !addEmailForm.controls['email'].disabled ? 'error-box' : 'normal-box']" required />
                <app-mandatory-error-message *ngIf="addEmailForm.controls['email'].touched && !addEmailForm.controls['email'].valid && !addEmailForm.controls['email'].disabled" [customErrorMessage]="'Enter a valid E-mail'"></app-mandatory-error-message>
            </div>

            <div class="tw-flex tw-justify-end tw-pt-24-px ">
                <button type="button" class="cancel-btn" (click)="closeModel()">
                    Cancel
                </button>
                <button type="button" class="save-btn" pButton [disabled]="!addEmailForm.valid" (click)="addEmail()">
                    Add and Save
                </button>
            </div>
        </div>
    </div>
</p-dialog>
