<div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-screen">
    <app-loader></app-loader>
</div>
<div *ngIf="!isLoading" class="configuration--contents tw-border-border-tertiary tw-mt-6" [ngClass]="brandingStyle.common.configurationContents">
    <div>
        <app-configuration-step-header
            [headerText]="brandingContent.stepName"
            [contentText]="brandingContent.contentText"
            [redirectLink]="supportArticleLink"
            [showSyncButton]="isOnboarding"
            [appName]="appName"
            (refreshDimension)="refreshDimensions()">
        </app-configuration-step-header>
    </div>
    <form [formGroup]="advancedSettingForm">
        <div class="tw-p-24-px">
            <div class="tw-mb-16-px">
                <app-configuration-step-sub-header
                    [label]="'Automation'"
                    [subLabel]="brandingContent.automationSubLabel">
                </app-configuration-step-sub-header>
            </div>
            <div class="tw-mb-16-px">
                <div class="tw-rounded-12-px tw-border-border-tertiary tw-border tw-bg-white tw-mb-16-px">
                    <app-configuration-toggle-field
                        [form]="advancedSettingForm"
                        [label]="'Schedule automatic export'" 
                        [subLabel]="brandingContent.scheduleSubLabel"
                        [formControllerName]="'exportSchedule'"
                        [iconPath]="'calendar'">
                    </app-configuration-toggle-field>

                    <div *ngIf="advancedSettingForm.get('exportSchedule')?.value">
                        <app-configuration-schedule-export
                            [form]="advancedSettingForm"
                            [appName]="appName"
                            [isFieldMandatory]="false"
                            [mandatoryErrorListName]="'automatic export method'"
                            [label]="'Set up export frequency'"
                            [subLabel]="brandingContent.frequencySubLabel"
                            [options]="hours"
                            [isEmailPresent]="brandingFeatureConfig.featureFlags.advancedSettings.emailNotification ? true: false"
                            [formControllerName]="'exportScheduleFrequency'"
                            [adminEmails]="adminEmails">
                        </app-configuration-schedule-export>
                    </div>
                </div>

                <div class="tw-rounded-12-px tw-border-border-tertiary tw-border tw-bg-white tw-mb-16-px"  *ngIf="isPaymentSyncFieldVisible() && brandingFeatureConfig.featureFlags.advancedSettings.paymentsSync">
                    <app-configuration-select-field
                        [form]="advancedSettingForm"
                        [options]="paymentSyncOptions"
                        [iconPath]="'arrow-rotate'"
                        [label]="brandingContent.paymentSyncLabel"
                        [subLabel]="'When expense is marked paid in ' + brandingConfig.brandName + ' the transaction in NetSuite will be automatically be updated to paid and vice versa.'"
                        [placeholder]="'Select how payments should be synced for reimbursable expenses'"
                        [formControllerName]="'paymentSync'">
                    </app-configuration-select-field>

                    <app-configuration-select-field *ngIf="this.advancedSettingForm.controls.paymentSync.value === 'fyle_to_netsuite' && isPaymentSyncFieldVisible() && brandingFeatureConfig.featureFlags.advancedSettings.paymentsSync"
                        [form]="advancedSettingForm"
                        [destinationAttributes]="paymentAccounts"
                        [isFieldMandatory]="true"
                        [mandatoryErrorListName]="'payment account'"
                        [optionLabel]="'name'"
                        [iconPath]="'arrow-rotate'"
                        [label]="brandingContent.defaultPaymentAccount"
                        [subLabel]="'Select a payment account handling the payments for your employees within ' + brandingConfig.brandName + ' or outside ' + brandingConfig.brandName + '.'"
                        [placeholder]="'Select payment account'"
                        [formControllerName]="'paymentAccount'">
                    </app-configuration-select-field>
                </div>
            </div>

            <div class="tw-mb-16-px">
                <app-configuration-step-sub-header
                    [label]="brandingContent.preferenceLabel"
                    [subLabel]="brandingContent.preferenceSubLabel">
                </app-configuration-step-sub-header>
            </div>
            <div class="tw-rounded-12-px tw-border-border-tertiary tw-border tw-bg-white tw-mb-16-px">
                <app-configuration-toggle-field
                    [form]="advancedSettingForm"
                    [iconPath]="'calendar'"
                    [label]="brandingContent.postEntriesCurrentPeriod"
                    [subLabel]="brandingContent.changeAccountingPeriodSubLabel"
                    [formControllerName]="'changeAccountingPeriod'">
                </app-configuration-toggle-field>

                <app-configuration-toggle-field *ngIf="isAutoCreateVendorsFieldVisible() && brandingFeatureConfig.featureFlags.advancedSettings.autoCreateVendors"
                    [form]="advancedSettingForm"
                    [iconPath]="'user-plus'"
                    [label]="brandingContent.autoCreateVendorsLabel + getCreateVendorLabel() "
                    [subLabel]="'While exporting reimbursable expenses from ' + brandingConfig.brandName + ', the integration will automatically create a ' + getCreateVendorLabel().toLowerCase() + ' if a match does not exist in NetSuite already.'"
                    [formControllerName]="'autoCreateVendors'">
                </app-configuration-toggle-field>

                <app-configuration-toggle-field *ngIf="isAutoCreateMerchantsFieldVisible() && brandingFeatureConfig.featureFlags.advancedSettings.autoCreateMerchants" 
                    [form]="advancedSettingForm"
                    [iconPath]="'user-plus'"
                    [label]="brandingContent.autoCreateVendorsLabel + getCreateMerchantLabel()"
                    [subLabel]="'While exporting credit card expenses from ' + brandingConfig.brandName + ', the integration will automatically create a merchant if a match does not exist in NetSuite already.'"
                    [formControllerName]="'autoCreateMerchants'">
                </app-configuration-toggle-field>

                <app-configuration-toggle-field class="tw-pt-0" *ngIf="isSingleCreditLineJEFieldVisible() && brandingFeatureConfig.featureFlags.advancedSettings.singleCreditLineJE && brandingFeatureConfig.featureFlags.importSettings.tax && !isTaxGroupSyncAllowed"
                    [form]="advancedSettingForm"
                    [iconPath]="'list'"
                    [label]="brandingContent.singleCreditLineJELabel"
                    [subLabel]="brandingContent.singleCreditLineJESubLabel"
                    [formControllerName]="'singleCreditLineJE'">
                </app-configuration-toggle-field>

            </div>

            <div class="tw-mb-16-px">
                <app-configuration-step-sub-header
                    [label]="'Customization'"
                    [subLabel]="brandingContent.customizationSubLabel">
                </app-configuration-step-sub-header>
            </div>
            <div class="tw-rounded-12-px tw-border-border-tertiary tw-border tw-bg-white tw-mb-16-px">
                <app-configuration-multi-select
                    [form]="advancedSettingForm"
                    [isFieldMandatory]="false"
                    [mandatoryErrorListName]="'Item level description'"
                    [label]="brandingContent.memoStructureLabel"
                    [subLabel]="brandingContent.memoStructureSubLabel"
                    [options]="defaultMemoOptions"
                    [iconPath]="'list'"
                    [placeholder]="'Set description'"
                    [formControllerName]="'memoStructure'"
                    (changeInMultiSelect)="onMultiSelectChange()">
                </app-configuration-multi-select>
                <div class="preview-text">
                    <h4 class="tw-text-form-label-text-color tw-mb-12-px">{{brandingContent.previewDescriptionFieldLabel}}</h4>
                    <div class="preview-box">
                        {{memoPreviewText}}
                    </div>
                </div>
            </div>

            <div class="tw-rounded-12-px tw-border-border-tertiary tw-border tw-bg-white tw-mb-16-px" *ngIf="brandingFeatureConfig.featureFlags.advancedSettings.skipExport">
                <app-configuration-toggle-field
                    [form]="advancedSettingForm"
                    [label]="'Skip export of specific expenses from ' + brandingConfig.brandName + ' to NetSuite'" 
                    [subLabel]="'You could choose to skip expenses from ' + brandingConfig.brandName + ' to NetSuite by setting up a conditional rule. '"
                    [formControllerName]="'skipExport'"
                    [iconPath]="'list'"
                    [redirectLink]="skipExportRedirectLink">
                </app-configuration-toggle-field>
                <div *ngIf="advancedSettingForm.get('skipExport')?.value">
                    <app-configuration-skip-export
                    [enableSkipExport]="advancedSettingForm.get('skipExport')?.value"
                    [skipExportForm]="skipExportForm"
                    [expenseFilter]="expenseFilters"
                    [conditionFieldOptions]="conditionFieldOptions"
                    (deleteSkipExportForm)="deleteExpenseFilter($event)"
                    (invalidSkipExportForm)="invalidSkipExportForm($event)">
                    </app-configuration-skip-export>
                </div>
            </div>
            <div class="tw-mb-16-px">
                <app-configuration-step-sub-header
                    [label]="brandingContent.dfvLabel"
                    [subLabel]="brandingContent.dfvSubLabel">
                </app-configuration-step-sub-header>

                <div class="tw-flex tw-items-center tw-p-24-px ">
                    <app-configuration-select-field
                        [form]="advancedSettingForm"
                        [isDefaultFields]="true"
                        [destinationAttributes]="netsuiteLocations"
                        [label]="helper.sentenseCaseConversion('Default location') + isOptional()"
                        [placeholder]="helper.sentenseCaseConversion('Choose default NetSuite location')"
                        [showClearIcon]="true"
                        [formControllerName]="'netsuiteLocation'">
                    </app-configuration-select-field>

                    <div *ngIf="brandingFeatureConfig.featureFlags.advancedSettings.useEmployeeAttributes && workspaceGeneralSettings.employee_field_mapping === 'EMPLOYEE'" class="tw-pl-24-px tw-mt-30-px">
                        <input formControlName="useEmployeeLocation" type="checkbox" />
                        <label class="tw-pl-8-px" for="checkbox">{{helper.sentenseCaseConversion('Use Employee\'s Location in NetSuite')}}</label>   
                    </div>
                </div>

                <div class="tw-pl-24-px">
                    <app-configuration-select-field
                        [form]="advancedSettingForm"
                        [destinationAttributes]="netsuiteLocationLevels"
                        [isDefaultFields]="true"
                        [label]="helper.sentenseCaseConversion('NetSuite location level') + isOptional()"
                        [placeholder]="helper.sentenseCaseConversion('Choose NetSuite location level')"
                        [formControllerName]="'netsuiteLocationLevel'">
                    </app-configuration-select-field>
                </div>

                <div class="tw-flex tw-items-center tw-p-24-px">
                    <app-configuration-select-field
                        [form]="advancedSettingForm"
                        [isDefaultFields]="true"
                        [destinationAttributes]="netsuiteDepartments"
                        [label]="helper.sentenseCaseConversion('Default department') + isOptional()"
                        [placeholder]="helper.sentenseCaseConversion('Choose default NetSuite department')"
                        [showClearIcon]="true"
                        [formControllerName]="'netsuiteDepartment'">
                    </app-configuration-select-field>
                
                    <div *ngIf="brandingFeatureConfig.featureFlags.advancedSettings.useEmployeeAttributes && workspaceGeneralSettings.employee_field_mapping === 'EMPLOYEE'" class="tw-pl-24-px tw-mt-30-px">
                        <input formControlName="useEmployeeDepartment" type="checkbox" />
                        <label class="tw-pl-8-px" for="checkbox">{{helper.sentenseCaseConversion('Use Employee\'s Department in NetSuite')}}</label>   
                    </div>
                </div>

                <div class="tw-pl-24-px">
                    <app-configuration-select-field
                        [form]="advancedSettingForm"
                        [destinationAttributes]="netsuiteDepartmentLevels"
                        [isDefaultFields]="true"
                        [label]="helper.sentenseCaseConversion('NetSuite department level') + isOptional()"
                        [placeholder]="helper.sentenseCaseConversion('Choose NetSuite department level')"
                        [formControllerName]="'netsuiteDepartmentLevel'">
                    </app-configuration-select-field>
                </div>

                <div class="tw-flex tw-items-center tw-p-24-px ">
                    <app-configuration-select-field
                        [form]="advancedSettingForm"
                        [isDefaultFields]="true"
                        [destinationAttributes]="netsuiteClasses"
                        [label]="helper.sentenseCaseConversion('Default class') + isOptional()"
                        [placeholder]="helper.sentenseCaseConversion('Choose default NetSuite class')"
                        [showClearIcon]="true"
                        [formControllerName]="'netsuiteClass'">
                    </app-configuration-select-field>
                
                    <div *ngIf="brandingFeatureConfig.featureFlags.advancedSettings.useEmployeeAttributes && workspaceGeneralSettings.employee_field_mapping === 'EMPLOYEE'" class="tw-pl-24-px tw-mt-30-px">
                        <input formControlName="useEmployeeClass" type="checkbox" />
                        <label class="tw-pl-8-px" for="checkbox">{{helper.sentenseCaseConversion('Use Employee\'s Class in Netsuite')}}</label>   
                    </div>
                </div>

                <div class="tw-pl-24-px">
                    <app-configuration-select-field
                        [form]="advancedSettingForm"
                        [destinationAttributes]="netsuiteClassLevels"
                        [isDefaultFields]="true"
                        [label]="helper.sentenseCaseConversion('NetSuite class level') + isOptional()"
                        [placeholder]="helper.sentenseCaseConversion('Choose NetSuite class level')"
                        [formControllerName]="'netsuiteClassLevel'">
                    </app-configuration-select-field>
                </div>
            </div>
        </div>
        <app-configuration-step-footer
            [ctaText] = "!isSaveInProgress ? (isOnboarding ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVE) : ConfigurationCtaText.SAVING"
            [isButtonDisabled]="!advancedSettingForm.valid || isSkipExportFormInvalid"
            [showBackButton]="isOnboarding ? true : false"
            (save)="save()"
            (navigateToPreviousStep)="navigateToPreviousStep()">
        </app-configuration-step-footer>
    </form>
</div>
