:host ::ng-deep .dropdown-time-alone .p-dropdown {
    @apply tw-w-150-px #{!important};
}

:host ::ng-deep .dropdown-time .p-dropdown {
    @apply tw-w-120-px #{!important};
}

:host ::ng-deep .dropdown-monthy .p-dropdown {
    @apply lg:tw-w-176-px md:tw-w-120-px #{!important};
}

:host ::ng-deep .error-box .p-dropdown {
    @apply tw-border-alert-toast #{!important};
}

:host ::ng-deep .normal-box .p-dropdown {
    @apply tw-border-box-color #{!important};
}

:host ::ng-deep .normal-box .p-dropdown.p-focus {
    @apply tw-border-slightly-normal-text-color #{!important};
}

.sub-text {
    color: #5A5D72;
    font-size: 12px;
  }
  
.sub-text a {
    color: rgb(0 98 255 / var(--tw-text-opacity));
    cursor: pointer;
  }

.smaller-th th {
    font-size: 14px;
    font-weight: 400;
}

:host ::ng-deep .selectedItem  .p-dropdown-trigger {
    @apply tw-hidden #{!important};
  }