:host ::ng-deep .p-disabled {
  @apply tw-text-input-read-only-text tw-bg-disabled-bg-color tw-border tw-opacity-100 #{!important};
}

:host ::ng-deep .p-select .p-select-label .p-placeholder .p-select-dropdown {
  @apply tw-visible #{!important};
}

:host ::ng-deep .p-disabled .p-select-dropdown,
:host ::ng-deep .showClearIcon .p-select-dropdown {
  @apply tw-hidden #{!important};
}

:host ::ng-deep .dropdown-size-schedule .selectedItem .p-select-dropdown,
:host ::ng-deep .filterDropdown .p-select-dropdown {
  @apply tw-visible #{!important};
}

:host ::ng-deep .hide-chevron .p-select-dropdown {
  @apply tw-hidden #{!important};
}

:host ::ng-deep .error-box .p-select {
  @apply tw-border-border-danger-dark #{!important};
}

:host ::ng-deep .normal-box .p-select {
  @apply tw-border-select-default-border #{!important};
}

:host ::ng-deep .normal-box .p-select.p-focus {
  @apply tw-border-select-focused-border #{!important};
}

:host ::ng-deep .normal-box .p-select.p-disabled {
  @apply tw-border-select-disabled-border tw-border-solid #{!important};
}
