<div class="tw-px-24-px tw-pb-24-px">
  <div [formGroup]="form">
    <div [formArrayName]="formControllerName">
      @for (mappingField of mappingsFieldsGetter.controls; track mappingField; let i = $index) {
        <div [formGroupName]="i" class="tw-mb-24-px">
          <div class="tw-flex tw-justify-start tw-items-center">
            <div>
              @if (i === 0) {
                <div class="tw-text-16-px tw-font-500 tw-text-normal-text-color tw-mb-18-px">
                  <p>{{ destinationFieldText }}</p>
                </div>
              }
              <p-select
                appendTo="body"
                [filter]="true"
                [options]="destinationFieldOptions"
                [placeholder]="destinationPlaceholderFieldText"
                [formControlName]="'destinationName'"
                dropdownIcon="pi pi-chevron-down"
                [optionLabel]="destinationAttributeNames.label"
                [optionValue]="destinationAttributeNames.value"
                class="!tw-w-360-px"
                [disabled]="isDestinationDisabled"
              >
                <ng-template pTemplate="selectedItem" let-item>
                  <div class="tw-flex tw-justify-between tw-items-center">
                    <span>
                      {{ item[destinationAttributeNames.label] | snakeCaseToSpaceCase | sentenceCase }}
                    </span>
                  </div>
                </ng-template>
              </p-select>
            </div>
            <div>
              @if (i === 0) {
                <div class="tw-mb-38-px"></div>
              }
              <app-svg-icon
                svgSource="arrow-line"
                height="6px"
                width="100px"
                styleClasses="!tw-ml-0 tw-text-box-color"
              ></app-svg-icon>
            </div>
            <div>
              @if (i === 0) {
                <div class="tw-text-16-px tw-font-500 tw-text-normal-text-color tw-mb-18-px">
                  <p>
                    {{ sourceFieldText }}
                    @if (isMandatory) {
                      <app-mandatory-field></app-mandatory-field>
                    }
                  </p>
                </div>
              }
              <p-select
                appendTo="body"
                [options]="sourceFieldOptions"
                [placeholder]="sourceFieldPlaceholderText"
                [formControlName]="'sourceName'"
                [filter]="true"
                [optionLabel]="sourceAttributeNames.label"
                [optionValue]="sourceAttributeNames.value"
                [ngClass]="{
                  selectedItem: mappingField.value.sourceName,
                  filterDropdown: !mappingField.value.sourceName,
                  showClearIcon: showCrossIcon && mappingField.value.sourceName,
                  'error-box': mappingField.invalid && mappingField.value.isRequired && mappingField.touched,
                  'normal-box': !(mappingField.invalid && mappingField.value.isRequired && mappingField.touched),
                }"
                [dropdownIcon]="'pi pi-chevron-down ' + brandingConfig.brandId"
              >
                <ng-template let-options pTemplate="item">
                  <div
                    #textElement
                    [ngStyle]="{
                      'white-space': 'nowrap',
                      overflow: 'hidden',
                      'text-overflow': 'ellipsis',
                      'max-width': '16rem',
                    }"
                    [pTooltip]="isOverflowing(textElement) ? options[sourceAttributeNames.label] : null"
                    tooltipPosition="top"
                  >
                    {{ options[sourceAttributeNames.label] }}
                  </div>
                </ng-template>
                <ng-template pTemplate="selectedItem" let-item>
                  <span
                    #textElement
                    [ngStyle]="{
                      'white-space': 'nowrap',
                      overflow: 'hidden',
                      'text-overflow': 'ellipsis',
                      'max-width': '16rem',
                    }"
                    [pTooltip]="isOverflowing(textElement) ? item[sourceAttributeNames.label] : null"
                    tooltipPosition="top"
                  >
                    {{ item[sourceAttributeNames.label] }}
                  </span>
                  @if (showCrossIcon && mappingField.value.sourceName) {
                    <app-svg-icon
                      [svgSource]="'cross-medium'"
                      [c1SvgSource]="'grv-cross-filled-medium'"
                      (click)="removeFilter(mappingField)"
                      [height]="'18px'"
                      [width]="'18px'"
                      [styleClasses]="'tw-mt-4-px'"
                    ></app-svg-icon>
                  }
                </ng-template>
              </p-select>
            </div>
          </div>
          <div class="tw-flex">
            <div class="tw-w-400-px"></div>
            @if (mappingField.invalid && mappingField.value.isRequired && mappingField.touched) {
              <app-mandatory-error-message
                class="tw-mr-20-px"
                [customErrorMessage]="'configurationMappingFields.mandatoryFieldErrorMessage' | transloco"
              ></app-mandatory-error-message>
            }
          </div>
        </div>
      }
    </div>
  </div>
  @if (showOrHideLoadMoreButton()) {
    <div class="tw-mt-30-px">
      <a class="tw-cursor-pointer tw-text-mandatory-field-color" (click)="showAllFields()">
        {{ 'configurationMappingFields.loadMore' | transloco }}
      </a>
    </div>
  }
</div>
