<div class="tw-px-24-px tw-pb-24-px">
    <div [formGroup]="form">
        <div formArrayName="expenseFields">
            <div *ngFor="let expenseField of paymentProfileMappingsGetter.controls | slice:0:noOfFieldsToShow; let i = index" [formGroupName]="i">
                <div class="tw-flex tw-justify-start tw-items-center tw-mb-18-px">
                    <div>
                        <div *ngIf="i===0" class="tw-text-16-px tw-font-500 tw-text-normal-text-color tw-mb-18-px">
                            <p>{{ destinationFieldText }}</p>
                        </div>
                        <p-dropdown appendTo="body" [options]="destinationFieldOptions" [placeholder]="destinationPlaceholderFieldText" formControlName="payment_profile_name" dropdownIcon="pi pi-chevron-down"
                            optionLabel="payment_profile_name" optionValue="payment_profile_name" class="!tw-w-360-px" [disabled]="isDestinationDisabled">
                            <ng-template pTemplate="selectedItem" let-item>
                                <div class="tw-flex tw-justify-between tw-items-center">
                                    <span>
                                        {{ item.payment_profile_name | snakeCaseToSpaceCase | titlecase }}
                                    </span>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div>
                        <div *ngIf="i===0" class="tw-mb-38-px">
                        </div>
                        <svg-icon-sprite src="arrow-line" height="6px" width="100px" class="!tw-ml-0 tw-text-box-color"></svg-icon-sprite>
                    </div>
                    <div>
                        <div *ngIf="i===0" class="tw-text-16-px tw-font-500 tw-text-normal-text-color tw-mb-18-px">
                            <p>{{ sourceFieldText }}</p>
                        </div>
                        <p-dropdown appendTo="body" [options]="sourceFieldOptions" [placeholder]="sourceFieldPlaceholderText" formControlName="user_role"
                        optionLabel="label" optionValue="value" [ngClass]="{'selectedItem': expenseField.value.user_role, 'filterDropdown': !expenseField.value.user_role, 'showClearIcon': showCrossIcon && expenseField.value.user_role}" dropdownIcon="pi pi-chevron-down">
                            <ng-template let-option pTemplate="item">
                            <div>
                                {{ option.label }}
                            </div>
                            </ng-template>
                            <ng-template pTemplate="selectedItem" let-item>
                            <div class="tw-flex tw-justify-between tw-items-center ">
                                <span>
                                    {{ item.label }}
                                </span>
                                <i *ngIf="showCrossIcon  && expenseField.value.user_role" class="pi pi-times" (click)="removeFilter(expenseField)"></i>
                            </div>
                            </ng-template>
                      </p-dropdown>
                    </div>
                </div>                      
            </div>  
        </div>               
    </div>
    <div *ngIf="showOrHideLoadMoreButton()" class="tw-mt-30-px">
        <a class="tw-cursor-pointer tw-text-mandatory-field-color" (click)="showAllFields()">
            Load more
        </a>
    </div> 
</div>
