.clone-setting-field {
    &--field-row {
        @apply tw-flex tw-justify-between;
    }

    &--description-section {
        @apply tw-flex tw-items-center;
    }

    &--label-text {
        @apply tw-flex tw-pl-16-px tw-py-2-px tw-text-text-secondary tw-text-14-px tw-items-center;
    }
}
