<div>
    <p-dialog [showHeader]="false" [modal]="true" [(visible)]="isWarningVisible" [draggable]="false" [style]="{width: '468px'}">
        <div class="tw-px-24-px tw-py-22-px tw-border-b-1-px tw-border-b-box-color">
            <div class="tw-flex tw-justify-between tw-items-center">
                <div class="tw-flex tw-items-center">
                    <div *ngIf="appName!==AppName.QBD_DIRECT" class="tw-p-8-px tw-bg-bg-warning-lighter tw-mr-10-px">
                        <app-svg-icon [svgSource]="'warning-outline'" [width]="'16px'" [height]="'16px'" [styleClasses]="'tw-text-icon-warning'"></app-svg-icon>
                    </div>
                    <div *ngIf="appName===AppName.QBD_DIRECT" class="tw-p-8-px tw-bg-bg-danger-lighter tw-rounded-border-radius-2xs tw-mr-10-px">
                        <app-svg-icon [svgSource]="'danger-outline'" [width]="'18px'" [height]="'18px'" [styleClasses]="'tw-text-alert-toast'"></app-svg-icon>
                    </div>
                    <p class="tw-text-20-px tw-font-500 tw-text-text-primary">{{headerText}}</p>
                </div>
                <i [ngClass]="[appName!==AppName.QBD_DIRECT ? brandingStyle.common.configurationBrandingClass : brandingStyle.common.configurationBrandingClass + ' qbd']" class="tw-cursor-pointer pi pi-times" style="font-size: 12px" (click)="acceptWarning(false)"></i>
            </div>
        </div>
        <div class="tw-pl-24-px tw-pr-10-px tw-pt-16-px tw-pb-24-px">
            <div class="tw-text-14-px tw-font-400 tw-pb-14-px tw-text-text-secondary" [innerHTML]="contextText">
            </div>
            <div *ngIf="appName!==AppName.QBD_DIRECT" class="tw-pt-26-px tw-text-14-px tw-font-400 tw-text-text-secondary">
                {{ 'configurationConfirmationDialog.areYouSureToContinue' | transloco }}
            </div>
            <div *ngIf="appName===AppName.QBD_DIRECT" class="tw-border tw-border-border-tertiary tw-rounded-border-radius-sm tw-bg-white tw-p-12-px tw-cursor-pointer" (click)="redirect()">
                <p class="tw-text-12-px tw-font-500 tw-text-text-primary">{{ 'configurationConfirmationDialog.qbdErrorsAndSolutions' | transloco }}</p>
                <div class="tw-flex tw-items-center tw-justify-start">
                    <div class="tw-pr-10-px">
                        <img [src]="brandIcon" width="12px" height="12px">
                    </div>
                    <div>
                        <p class="tw-text-size-10 tw-text-text-disable tw-font-400 tw-max-w-[400px] tw-truncate">
                            {{brandingKbArticles.onboardingArticles.QBD_DIRECT.HELPER_ARTICLE}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="tw-flex tw-justify-end tw-text-14-px tw-border-t-1-px tw-px-24-px tw-py-16-px">
            <div class="tw-mr-16-px">
                @if (showSecondaryCTA || true) {
                <app-primary-button [ngClass]="{ 'tw-order-3': brandingFeatureConfig.cancelButtonPosition === 'right' }" [styleClasses]="brandingStyle.buttons.dialog.cancel" [buttonText]="'configurationConfirmationDialog.cancel' | transloco" (buttonClick)="acceptWarning(true)"></app-primary-button>
                }
            </div>
            <app-primary-button [styleClasses]="'tw-px-16-px tw-py-8-px'" [buttonText]="confirmBtnText" (buttonClick)="acceptWarning(true)"></app-primary-button>
        </div>
    </p-dialog>
</div>
