<div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-screen">
    <app-loader></app-loader>
</div>
<div *ngIf="!isLoading" class="configuration--contents tw-border-separator tw-mt-6">
    <div>
        <app-configuration-step-header 
        [headerText]="'Advanced Settings'"
        [contentText]="'This section contains settings to automate and customize your expense export.'"></app-configuration-step-header>
    </div>
    <div>
        <form [formGroup]="advancedSettingsForm">
            <div class="tw-p-24-px">
                <div class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                    <app-configuration-select-field
                    [form]="advancedSettingsForm"
                    [label]="'Select frequency of the file to be generated'"
                    [subLabel]="'Select the frequency at which you want your IIF file to be sent via email.'"
                    [options]="frequencyOption"
                    [iconPath]="'sync'"
                    [placeholder]="'Select frequency'"
                    [formControllerName]="'frequency'"></app-configuration-select-field>

                    <div *ngIf="advancedSettingsForm.value.frequency">
                        <div class="tw-pt-20-px tw-pl-22-px">
                            <div *ngIf="advancedSettingsForm.value.frequency === QBDScheduleFrequency.DAILY" >
                                <app-configuration-select-field
                                [form]="advancedSettingsForm"
                                [label]="'Select the time of the file to be generated'"
                                [subLabel]="'Select the frequency at which you want your IIF file to be sent via email.'"
                                [formControllerName]="'timeOfDay'"></app-configuration-select-field>
                            </div>
                            <div *ngIf="advancedSettingsForm.value.frequency === QBDScheduleFrequency.WEEKLY" >
                                <app-configuration-select-field
                                [form]="advancedSettingsForm"
                                [label]="'Select the time of the file to be generated'"
                                [subLabel]="'Select the frequency at which you want your IIF file to be sent via email.'"
                                [options]="weeklyOptions"
                                [placeholder]="'Select Weekly frequency'"
                                [formControllerName]="'dayOfWeek'"></app-configuration-select-field>
                            </div>
                            <div *ngIf="advancedSettingsForm.value.frequency === QBDScheduleFrequency.MONTHLY" >
                                <app-configuration-select-field
                                [form]="advancedSettingsForm"
                                [label]="'Select the time of the file to be generated'"
                                [subLabel]="'Select the frequency at which you want your IIF file to be sent via email.'"
                                [options]="frequencyIntervals"
                                [placeholder]="'Select Monthly frequency'"
                                [formControllerName]="'dayOfMonth'"></app-configuration-select-field> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tw-rounded-lg tw-border-separator tw-border tw-bg-configuration-bg tw-my-16-px">
                    <app-configuration-toggle-field 
                        [form]="advancedSettingsForm"
                        [label]="'Schedule automatic export'" 
                        [subLabel]="'Set up a schedule to frequently automate the export of expenses from Fyle to QBD.'" 
                        [formControllerName]="'exportSchedule'">
                    </app-configuration-toggle-field>
                </div>
                <div *ngIf="advancedSettingsForm.value.exportSchedule">
                    <div class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-email-multi-select-field
                            [form]="advancedSettingsForm"
                            [label]="'Select an email address that should receive the IIF file'"
                            [subLabel]="'You can select the email address from the given list, or add new one to receive the IIF file via email.'"
                            [options]="adminEmails"
                            [iconPath]="'expense'"
                            [placeholder]="'Select email address'"
                            [formControllerName]="'email'">
                        </app-email-multi-select-field>
                    </div>
                </div>
                <div class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                    <app-configuration-select-field
                    [form]="advancedSettingsForm"
                    [label]="'Set Top level description field in Quick Book Office'"
                    [subLabel]="'Customize the data set you would like to pass to the description field of QBD while exporting expenses from Fyle.'"
                    [options]="defaultMemoFields"
                    [iconPath]="'expense'"
                    [placeholder]="'Select Top Memo Type'"
                    [formControllerName]="'topMemoStructure'"></app-configuration-select-field>
                </div>
                <div class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                    <app-configuration-select-field
                    [form]="advancedSettingsForm"
                    [label]="'Set description field in Quick Book Office'"
                    [subLabel]="'Customize the data set you would like to pass to the description field of QBD while exporting expenses from Fyle.'"
                    [options]="defaultMemoFields"
                    [iconPath]="'expense'"
                    [placeholder]="'Select Memo Types'"
                    [formControllerName]="'expenseMemoStructure'"></app-configuration-select-field>
                    <div class="tw-p-24-px">
                        <p class="tw-text-12-px tw-mb-12-px tw-text-faded-text-color">Preview in Quickbooks Desktop</p>
                        <div class="tw-bg-disabled-bg-color tw-text-14-px tw-pl-8-px tw-px-8-px">
                            <span>Pizza Hut - Client Meeting - 22/12/2021</span>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <app-configuration-step-footer [ctaText] = "!saveInProgress ? (isOnboarding ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVE) : ConfigurationCtaText.SAVING" [isButtonDisabled]="!advancedSettingsForm.valid || saveInProgress" (save)="save()"></app-configuration-step-footer>
            </div>
        </form>
    </div>
</div>