<p-table *ngIf="filteredExpenseGroups.length > 0" #dt1 [value]="filteredExpenseGroups">
    <ng-template pTemplate="header">
        <tr class="tw-text-text-primary">
            <th class="tw-min-w-120-px" *ngIf="!isDashboardFailed">{{brandingContent.tableHeaders.dateTime}}</th>
            <th>Employee</th>
            <th *ngIf="isExportLogTable && brandingFeatureConfig.featureFlags.exportLog.expenseType">{{brandingContent.tableHeaders.expenseType}}</th>
            <th>Reference ID</th>
            <th *ngIf="!isDashboardFailed">{{brandingContent.tableHeaders.exportedAs}}</th>
            <th *ngIf="!isDashboardFailed && appName !== AppName.SAGE300">Link to {{appName}}</th>
            <th class="tw-min-w-120-px" *ngIf="isDashboardFailed">Link to {{ brandingConfig.brandName }}</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData>
        <tr class="clickable-row" (click)="displayChildTable(rowData)">
            <td *ngIf="!isDashboardFailed">
                <p class="tw-text-14-px tw-font-400 tw-text-text-secondary">{{rowData.exportedAt | date}}</p>
                <span class="tw-font-400 !tw-text-12-px tw-text-text-muted">{{rowData.exportedAt | date : "hh:mm a"}}</span>
            </td>
            <td>
                <h4 class="tw-text-14-px tw-font-400 tw-text-text-secondary"
                    [ngClass]="{'truncate': rowData.employee[0]?.length > 16 && !isExportLogTable}"
                    [pTooltip]="rowData.employee[0]?.length > 16 && !isExportLogTable ? rowData.employee[0] : null"
                    tooltipPosition="top">
                    {{rowData.employee[0]}}
                </h4>
                <h5 class="tw-font-400 !tw-text-12-px tw-text-text-muted"
                    [ngClass]="{'truncate': rowData.employee[1]?.length > 16 && !isExportLogTable}"
                    [pTooltip]="rowData.employee[1]?.length > 16 && !isExportLogTable ? rowData.employee[1] : null"
                    tooltipPosition="top">
                    {{rowData.employee[1]}}
                </h5>
            </td>
            <td class="tw-text-text-secondary" *ngIf="isExportLogTable && brandingFeatureConfig.featureFlags.exportLog.expenseType">{{rowData.expenseType | titlecase}}</td>
            <td class="tw-text-text-secondary tw-underline" (click)="openUrl(rowData.fyleUrl)">{{rowData.referenceNumber}}</td>
            <td class="tw-text-text-secondary" *ngIf="!isDashboardFailed">
                <span [ngClass]="{'truncate-export-type': rowData.exportedAs?.length > 10 && !isExportLogTable}"
                    [pTooltip]="rowData.exportedAs.length > 10 && !isExportLogTable ? rowData.exportedAs : null"
                    tooltipPosition="top">
                    {{brandingConfig.brandId === 'co' ? (rowData.exportedAs | snakeCaseToSpaceCase | sentenceCase) : (rowData.exportedAs | snakeCaseToSpaceCase | titlecase)}}
                </span>
            </td>
            <td *ngIf="!isDashboardFailed && appName !== AppName.SAGE300">
                <div>
                  <button (click)="openUrl(rowData.integrationUrl)" [pTooltip]="brandingConfig.brandId === 'co' ? 'Open in new tab' : 'Open in New Tab'" tooltipPosition="top">
                    <app-svg-icon [styleClasses]="'tw-pt-5-px'" [svgSource]="'open-in-new-tab-standard'" [width]="'24px'" [height]="'24px'"></app-svg-icon>
                  </button>
                </div>
            </td>
            <td *ngIf="isDashboardFailed">
                <div>
                  <button (click)="openUrl(rowData.fyleUrl)" [pTooltip]="brandingConfig.brandId === 'co' ? 'Open in new tab' : 'Open in New Tab'" tooltipPosition="top">
                    <app-svg-icon [styleClasses]="'tw-pt-5-px'" [svgSource]="'open-in-new-tab-standard'" [width]="'24px'" [height]="'24px'"></app-svg-icon>
                  </button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<app-export-log-child-table-dialog [isDialogOpen]="isChildTableVisible" [expenses]="expenses" (hideChildTable)="handleDialogClose()"></app-export-log-child-table-dialog>