<p-table *ngIf="filteredExpenseGroups.length > 0" #dt1 [value]="filteredExpenseGroups">
    <ng-template pTemplate="header">
        <tr>
            <th>Date and Time of Export</th>
            <th>Employee Name and ID</th>
            <th>Expense Type</th>
            <th>Reference ID</th>
            <th>Exported As</th>
            <th>Link to {{appName}}</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData>
        <tr class="clickable-row" (click)="displayChildTable(rowData.index)">
            <td>
                <p class="tw-font-400 tw-text-sub-text-color">{{rowData.exportedAt | date}}</p>
                <span class="tw-font-400 !tw-text-12-px tw-text-placeholder">{{rowData.exportedAt | date : "HH:ss"}}</span>
            </td>
            <td>
                <h4>
                    {{rowData.employee[0]}}
                </h4>
                <h5 class="tw-font-400 !tw-text-12-px tw-text-placeholder">
                    {{rowData.employee[1]}}
                </h5>
            </td>
            <td>{{rowData.expenseType | titlecase}}</td>
            <td class="tw-underline" (click)="openUrl($event, rowData.export_url)">{{rowData.referenceNumber}}</td>
            <td>{{rowData.exportedAs | snakeCaseToSpaceCase | titlecase}}</td>
            <td>
                <div *ngIf="rowData.intacctUrl">
                  <button (click)="openUrl($event, rowData.export_url)" pTooltip="Open in New Tab" tooltipPosition="top">
                    <svg-icon-sprite class="tw-pt-5-px" src="open-in-new-tab" width="20px" height="20px"></svg-icon-sprite>
                  </button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>