<p-table *ngIf="filteredExpenseGroups.length > 0" #dt1 [value]="filteredExpenseGroups">
    <ng-template pTemplate="header">
        <tr>
            <th *ngIf="!isDashboardFailed">Date and Time of Export</th>
            <th>Employee Name and ID</th>
            <th *ngIf="isExportLogTable">Expense Type</th>
            <th>Reference ID</th>
            <th *ngIf="!isDashboardFailed">Exported As</th>
            <th *ngIf="!isDashboardFailed && appName !== AppName.SAGE300">Link to {{appName}}</th>
            <th *ngIf="isDashboardFailed">Link to {{ brandingConfig.brandName }}</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData>
        <tr class="clickable-row" (click)="displayChildTable(rowData)">
            <td *ngIf="!isDashboardFailed">
                <p class="tw-font-400 tw-text-sub-text-color">{{rowData.exportedAt | date}}</p>
                <span class="tw-font-400 !tw-text-12-px tw-text-placeholder">{{rowData.exportedAt | date : "HH:ss"}}</span>
            </td>
            <td>
                <h4>
                    {{rowData.employee[0]}}
                </h4>
                <h5 class="tw-font-400 !tw-text-12-px tw-text-placeholder">
                    {{rowData.employee[1]}}
                </h5>
            </td>
            <td *ngIf="isExportLogTable">{{rowData.expenseType | titlecase}}</td>
            <td class="tw-underline" (click)="openUrl(rowData.fyleUrl)">{{rowData.referenceNumber}}</td>
            <td *ngIf="!isDashboardFailed">{{rowData.exportedAs | snakeCaseToSpaceCase | titlecase}}</td>
            <td *ngIf="!isDashboardFailed">
                <div>
                  <button (click)="openUrl(rowData.integrationUrl)" pTooltip="Open in New Tab" tooltipPosition="top">
                    <svg-icon-sprite class="tw-pt-5-px" src="open-in-new-tab" width="20px" height="20px"></svg-icon-sprite>
                  </button>
                </div>
            </td>
            <td *ngIf="isDashboardFailed">
                <div>
                  <button (click)="openUrl(rowData.fyleUrl)" pTooltip="Open in New Tab" tooltipPosition="top">
                    <svg-icon-sprite class="tw-pt-5-px" src="open-in-new-tab" width="20px" height="20px"></svg-icon-sprite>
                  </button>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<app-export-log-child-table-dialog [isDialogOpen]="isChildTableVisible" [expenses]="expenses" (hideChildTable)="handleDialogClose()"></app-export-log-child-table-dialog>