<div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-screen">
    <app-loader></app-loader>
</div>

<div *ngIf="!isLoading" class="tw-shadow-app-card tw-rounded-12-px tw-bg-white tw-border-1-px tw-border-separator">
    <div *ngIf="totalCount > 0">
        <app-export-log-filter *ngIf="totalCount > 0 || selectedDateFilter"
            [exportLogForm]="exportLogForm"
            [dateOptions]="dateOptions"
            (handleSimpleSearch)="filterTable($event)">
        </app-export-log-filter>

        <p-table *ngIf="filteredExpenseGroups.length > 0" #dt1 [value]="filteredExpenseGroups">
            <ng-template pTemplate="header">
                <tr>
                    <th>Date and Time of Export</th>
                    <th>Employee Name and ID</th>
                    <th>Expense Type</th>
                    <th>Reference ID</th>
                    <th>Exported As</th>
                    <th>Link to Sage Intacct</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData>
                <tr class="clickable-row" (click)="displayChildTable(rowData.index)">
                    <td>
                        <p class="tw-font-400 tw-text-sub-text-color">{{rowData.exportedAt | date}}</p>
                        <span class="tw-font-400 !tw-text-12-px tw-text-placeholder">{{rowData.exportedAt | date : "HH:ss"}}</span>
                    </td>
                    <td>
                        <h4>
                            {{rowData.employee[0]}}
                        </h4>
                        <h5 class="tw-font-400 !tw-text-12-px tw-text-placeholder">
                            {{rowData.employee[1]}}
                        </h5>
                    </td>
                    <td>{{rowData.expenseType | titlecase}}</td>
                    <td class="tw-underline" (click)="openUrl($event, rowData.fyleUrl)">{{rowData.referenceNumber}}</td>
                    <td>{{rowData.exportedAs | snakeCaseToSpaceCase | titlecase}}</td>
                    <td>
                        <div *ngIf="rowData.intacctUrl">
                          <button (click)="openUrl($event, rowData.intacctUrl)" pTooltip="Open in New Tab" tooltipPosition="top">
                            <app-svg-icon [styleClasses]="'tw-pt-5-px'" [svgSource]="'open-in-new-tab-standard'" [width]="'24px'" [height]="'24px'"></app-svg-icon>
                          </button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>

        <div *ngIf="filteredExpenseGroups.length > 0" class="tw-p-24-px tw-border-t-1-px">
            <app-paginator [dropDownValue]="limit" [page]="currentPage" [totalCount]="totalCount" (pageSizeChangeEvent)="pageSizeChanges($event)" (pageOffsetChangeEvent)="pageChanges($event)"></app-paginator>
        </div>

        <div *ngIf="!filteredExpenseGroups.length" class="tw-flex tw-h-3/6 tw-text-center tw-p-56-px">
            <div class="tw-m-auto">
                <img *ngIf="illustrationsAllowed" src="assets/illustrations/search-result-empty.svg" width="200px" hight="200px" class="tw-inline-block">
                <div class="tw-pt-12-px">
                    <h4 class="tw-font-400 tw-text-14-px tw-text-slightly-normal-text-color">Sorry, no results found!</h4>
                    <p class="tw-font-400 tw-text-14-px tw-text-text-muted tw-pt-4-px">We could not find what you were looking for.<br>Kindly check the keywords again.</p>
                </div>
            </div>
        </div>

    </div>
    <div *ngIf="totalCount === 0">
        <div class="tw-flex tw-h-3/6 tw-text-center tw-p-56-px tw-my-24-px">
            <div class="tw-m-auto">
                <img *ngIf="illustrationsAllowed" src="assets/illustrations/integrations-zero-state.svg" width="200px" hight="200px" class="tw-inline-block">
                <div class="tw-pt-20-px">
                    <h4 class="tw-font-400 !tw-text-14-px tw-text-slightly-normal-text-color">No records to show yet!</h4>
                    <p class="tw-pt-4-px tw-font-400 !tw-text-14-px tw-text-text-muted">All your successful exports and their details<br>
                        will be stored here.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Expenses" [(visible)]="visible" [position]="'top-right'" [modal]="true" [draggable]="false" [dismissableMask]="true" [style]="{ width: '50vw', height: '100vh' }">
    <div class="tw-rounded-6-px tw-bg-white tw-border-1-px">
        <p-table #dt2 [value]="expenses">
            <ng-template pTemplate="header">
                <tr>
                    <th>Expense ID.</th>
                    <th>Merchant</th>
                    <th>Category</th>
                    <th>Amount</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr *ngFor="let expense of expenses">
                    <td class="tw-underline tw-cursor-pointer" (click)="openExpenseinFyle(rowData.expense_id)">{{expense.expense_number}}</td>
                    <td>{{ expense.vendor ? expense.vendor : '-' }}</td>
                    <td>{{ expense.category }}</td>
                    <td>{{ expense.amount }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</p-dialog>