<div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-screen">
    <app-loader></app-loader>
</div>
<div *ngIf="!isLoading" class="configuration--contents tw-border-separator tw-mt-6" [ngClass]="brandingStyle.common.configurationContents">
    <div>
        <app-configuration-step-header 
        [headerText]="'Field Mapping'"
        [contentText]="'In this section, choose appropriate representation of your Customers & Classes on ' + brandingConfig.brandName + '.'"
        [redirectLink]="redirectLink"></app-configuration-step-header>
    </div>
    <div>
        <form [formGroup]="fieldMappingForm">
            <div class="tw-p-24-px">
                <div class="tw-mb-16-px">
                    <div class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                        [form]="fieldMappingForm"
                        [label]="'How to map CUSTOMER: JOB in QuickBooks Desktop to ' + brandingConfig.brandName + ''"
                        [subLabel]="'Select the field in ' + brandingConfig.brandName + ' that needs to be mapped to the \'Customers\' field in QuickBooks Desktops'"
                        [options]="mappingFieldFormOptionsFunction('classType', 'itemType')"
                        [iconPath]="'user-two'"
                        [placeholder]="'Select representation'"
                        [formControllerName]="'customerType'"></app-configuration-select-field>
                    </div>
                    <div class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                        [form]="fieldMappingForm"
                        [label]="'How to map CLASS in QuickBooks Desktop to ' + brandingConfig.brandName + ''"
                        [subLabel]="'Select the field in ' + brandingConfig.brandName + ' that needs to be mapped to the \'Class\' field in QuickBooks Desktops'"
                        [options]="mappingFieldFormOptionsFunction('customerType', 'itemType')"
                        [iconPath]="'list'"
                        [placeholder]="'Select representation'"
                        [formControllerName]="'classType'"></app-configuration-select-field>
                    </div>
                    <div class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                        [form]="fieldMappingForm"
                        [label]="'How to map ITEMS in QuickBooks Desktop to ' + brandingConfig.brandName + ''"
                        [subLabel]="'Select the field in ' + brandingConfig.brandName + ' that needs to be mapped to the \'Items\' field in QuickBooks Desktops'"
                        [options]="mappingFieldFormOptionsFunction('customerType', 'classType')"
                        [iconPath]="'list'"
                        [placeholder]="'Select representation'"
                        [formControllerName]="'itemType'"></app-configuration-select-field>
                    </div>
                </div> 
            </div>
            <app-configuration-step-footer [ctaText]="!saveInProgress ? (isOnboarding ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVE) : ConfigurationCtaText.SAVING" [isButtonDisabled]="!fieldMappingForm.valid || saveInProgress" (save)="save()"></app-configuration-step-footer>
        </form>
    </div>
</div>
