@if (isLoading) {
    <div class="tw-flex tw-justify-center tw-items-center tw-h-full">
        <app-loader></app-loader>
    </div>
} @else {
<div class="configuration--contents tw-border-separator tw-mt-6" [ngClass]="brandingStyle.common.configurationContents">
    <div>
        <app-configuration-step-header
            [headerText]="'sage50ExportSettings.headerText' | transloco"
            [contentText]="'sage50ExportSettings.contentText' | transloco: { brandName: brandingConfig.brandName }"
            [redirectLink]="redirectLink"
            [showSyncButton]="false"
            [appName]="appName">
        </app-configuration-step-header>
    </div>
    <form [formGroup]="exportSettingForm" class="tw-p-24-px tw-flex tw-flex-col tw-gap-[16px]">
        <!-- Reimbursable Expenses -->
        <div class="tw-rounded-10-px tw-bg-bg-tertiary-lighter">
            <app-configuration-toggle-field
                [form]="exportSettingForm"
                [label]="'sage50ExportSettings.exportReimbursableExpensesLabel' | transloco"
                [formControllerName]="'reimbursableExpenses'"
                [isSectionHeader]="true">
            </app-configuration-toggle-field>
        </div>


        @if (exportSettingForm.get('reimbursableExpenses')?.value) {
            <div class="tw-border tw-border-separator tw-rounded-10-px">
                <app-configuration-select-field
                    [form]="exportSettingForm"
                    [label]="'sage50ExportSettings.reimbursableExportTypeLabel' | transloco"
                    [subLabel]="'sage50ExportSettings.reimbursableExportTypeSubLabel' | transloco"
                    [formControllerName]="'reimbursableExportType'"
                    [options]="reimbursableExportTypes"
                    [placeholder]="'sage50ExportSettings.reimbursableExportTypePlaceholder' | transloco"
                    [isFieldMandatory]="true"
                    [appName]="appName"
                    [iconPath]="'list'"

                ></app-configuration-select-field>
            </div>
        }

        <!-- CCC Expenses -->
        <div class="tw-rounded-[10px] tw-bg-bg-tertiary-lighter">
            <app-configuration-toggle-field
                [form]="exportSettingForm"
                [label]="'sage50ExportSettings.exportCCCExpensesLabel' | transloco"
                [formControllerName]="'cccExpenses'"
                [isSectionHeader]="true">
            </app-configuration-toggle-field>
        </div>
    </form>
</div>
}