:host ::ng-deep .error-box {
  @apply tw-border-border-danger-dark #{!important};
}

:host ::ng-deep .normal-box {
  @apply tw-border-box-color #{!important};
}

:host ::ng-deep .normal-box :enabled:focus-visible {
  @apply tw-border-slightly-normal-text-color #{!important};
}

input.custom-focus:focus {
  outline: none;
  border: 1px solid black !important;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Add these styles to highlight the input fields with red border */
.tw-border-red-600 {
  border-color: #ef4444; /* Red color */
}

.incorrect-credential {
  color: #da1e28;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

::placeholder {
  @apply tw-text-placeholder tw-text-14-px;
}
