<div class="tw-pb-48-px">
  <div>
      <div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-screen">
          <app-loader></app-loader>
      </div>
      <div *ngIf="!isLoading" class="configuration--contents tw-border-separator tw-mt-6" [ngClass]="{'tw-mx-120-px tw-shadow-app-card': brandingConfig.brandId === 'fyle', 'tw-mx-60-px tw-shadow-shadow-level-1': brandingConfig.brandId === 'co'}">
          <div>
            <app-configuration-step-header 
            [headerText]="'Connect to NetSuite'"
            [contentText]="'Connect to your NetSuite account to establish a connection between ' + brandingConfig.brandName + ' and NetSuite.'"
            [redirectLink]="redirectLink"></app-configuration-step-header>
          </div>
          <div class="tw-p-24-px tw-px-24-px tw-pb-24-px">
              <div class="tw-flex tw-justify-center tw-items-center">
                  <form [formGroup]="connectNetsuiteForm">
                      <div class="tw-mb-16-px">
                          <app-configuration-text-field [customErrorMessage]="sentenseCaseConversion('Invalid Account ID. Please enter valid Account ID.')" [form]="connectNetsuiteForm" [formControllerName]="'accountId'" [isFieldMandatory]="true" [label]="sentenseCaseConversion('Account ID')" [placeholder]="sentenseCaseConversion('Enter Account ID')"></app-configuration-text-field>
                      </div>
                      <div class="tw-mb-16-px">
                          <app-configuration-text-field [customErrorMessage]="sentenseCaseConversion('Invalid Token ID. Please enter valid Token ID.')" [form]="connectNetsuiteForm" [formControllerName]="'tokenId'" [isFieldMandatory]="true" [label]="sentenseCaseConversion('Token ID')" [placeholder]="sentenseCaseConversion('Enter Token ID')"></app-configuration-text-field>
                      </div>
                      <div>
                          <app-configuration-text-field [customErrorMessage]="sentenseCaseConversion('Incorrect Token Secret. Please enter correct Token Secret.')" [form]="connectNetsuiteForm" [formControllerName]="'tokenSecret'" [isFieldMandatory]="true" [label]="sentenseCaseConversion('Token Secret')" [placeholder]="sentenseCaseConversion('Enter Token Secret')" [type]="'password'"></app-configuration-text-field>
                      </div>
                  </form>
              </div>
              <app-configuration-step-footer [ctaText]="!saveInProgress ? (isOnboarding ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVE) : ConfigurationCtaText.SAVING" (save)="save()" [isButtonDisabled]="!connectNetsuiteForm.valid"></app-configuration-step-footer>
          </div>
      </div>
  </div>
</div>

