<div *ngIf="isLoading"></div>
<div *ngIf="!isLoading" class="tw-shadow-app-card tw-rounded-12-px tw-bg-white tw-border-1-px tw-border-separator">
    <div *ngIf="totalCount > 0">
        <div [formGroup]="skipExportLogForm" class="tw-flex tw-items-center tw-p-24-px">

            <span class="custom-search-field" [ngStyle]="{ 'border-color': isSearchFocused ? 'black' : '#ccc' }">
                <i class="pi pi-search"></i>
                <input class="tw-pb-1 tw-pt-1 tw-text-14-px" type="text" (input)="filterTable($event)" (focus)="isSearchFocused = true" (blur)="isSearchFocused = false" placeholder="Search by Employee Name or Expense ID" />
            </span>
            <div class="tw-flex tw-mr-4"></div>
            <span [ngClass]="{'tw-border-black': isDateFieldFocused}" class="tw-flex tw-justify-start tw-items-center tw-border tw-border-box-color tw-pl-12-px tw-rounded-4-px drop-down">
                <div>
                    <app-svg-icon [svgSource]="'calendar'" [width]="'24px'" [height]="'24px'" [styleClasses]="'tw-text-placeholder'"></app-svg-icon>
                </div>
                <p-dropdown placeholder="Select date range" appendTo="body" [options]="dateOptions" formControlName="dateRange" (onChange)="dateFilter($event)" (click)="dropDownWatcher()" 
                (onFocus)="isDateFieldFocused = true" (onBlur)="isDateFieldFocused = false"
                [ngClass]="{'selectedItem': skipExportLogForm.controls.dateRange.value, 'filterDropdown': !skipExportLogForm.controls.dateRange.value}">
                    <ng-template let-item pTemplate="selectedItem">
                        <div class="tw-flex tw-justify-between tw-items-center">
                            <span>
                                <div *ngIf="skipExportLogForm.controls.dateRange.value">
                                    <div class="my-dropdown-selected-item">
                                        {{skipExportLogForm.controls.dateRange.value.dateRange}}
                                    </div>
                                </div>
                                <div *ngIf="!skipExportLogForm.controls.dateRange.value">
                                    <div class="my-dropdown-selected-item tw-text-placeholder">
                                        Select date range
                                    </div>
                                </div>
                            </span>
                            <i *ngIf="skipExportLogForm.controls.dateRange.value" class="pi pi-times" (click)="removeFilter(skipExportLogForm.controls.dateRange)"></i>
                        </div>
                    </ng-template>
                    <ng-template let-date pTemplate="item">
                        <div>
                            <p-calendar (click)="showCalendar($event)" placeholder="Custom dates" formControlName="start" (onClose)="getDates()" [touchUI]="isCalendarVisible" *ngIf="date.dateRange === presentDate" selectionMode="range" [readonlyInput]="true" inputId="range"></p-calendar>
                            <p class="tw-text-sub-text-color tw-text-14-px" [ngClass]="{'!tw-text-mandatory-field-color' : skipExportLogForm.controls.dateRange.value === date }" *ngIf="date.dateRange !== presentDate">{{ date.dateRange | titlecase | snakeCaseToSpaceCase }}</p>
                            <p class="tw-text-sub-text-color tw-text-12-px" *ngIf="date.dateRange !== presentDate && date.dateRange !== 'Today'">{{date.startDate | date : 'MMM dd, yyyy'}} - {{date.endDate | date : 'MMM dd, yyyy'}}</p>
                            <p class="tw-text-sub-text-color tw-text-12-px" *ngIf="date.dateRange === 'Today'">{{date.startDate | date : 'MMM dd, yyyy'}}</p>
                        </div>
                    </ng-template> 
                </p-dropdown>
            </span>
        </div>

        <p-table *ngIf="filteredExpenseGroups.length > 0" #dt1 [value]="filteredExpenseGroups">
            <ng-template pTemplate="header">
                <tr>
                    <th>Date and Time of Export</th>
                    <th>Employee Name and ID</th>
                    <th>Expense Type</th>
                    <th>Reference ID</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-rowData>
                <tr>
                    <td>
                        <p class="tw-font-400 tw-text-sub-text-color">{{rowData.updated_at | date}}</p>
                        <span class="tw-font-400 !tw-text-12-px tw-text-placeholder">{{rowData.updated_at | date : "HH:ss"}}</span>
                    </td>
                    <td>
                        <h4>
                            {{rowData.employee[1]}}
                        </h4>
                        <h5 *ngIf="false" class="tw-font-400 !tw-text-12-px tw-text-placeholder">
                            {{rowData.employee[1]}}
                        </h5>
                    </td>
                    <td>{{rowData.expenseType | titlecase}}</td>
                    <td class="tw-underline tw-cursor-pointer" (click)="openUrl($event, rowData.fyleUrl)">{{rowData.claim_number}}</td>
                </tr>
            </ng-template>
        </p-table>

        <div *ngIf="filteredExpenseGroups.length > 0" class="tw-p-24-px tw-border-t-1-px">
            <app-paginator [dropDownValue]="limit" [page]="currentPage" [totalCount]="totalCount" (pageSizeChangeEvent)="pageSizeChanges($event)" (pageOffsetChangeEvent)="pageChanges($event)"></app-paginator>
        </div>
        <div *ngIf="!filteredExpenseGroups.length" class="tw-flex tw-h-3/6 tw-text-center tw-p-56-px">
            <div class="tw-m-auto">
                <img *ngIf="illustrationsAllowed" src="assets/illustrations/search-result-empty.svg" width="200px" hight="200px" class="tw-inline-block">
                <div class="tw-pt-12-px">
                    <h4 class="tw-font-400 tw-text-14-px tw-text-slightly-normal-text-color">Sorry, no results found!</h4>
                    <p class="tw-font-600 tw-text-14-px tw-text-faded-text-color tw-pt-4-px">We could not find what you were looking for.<br>Kindly check the keywords again.</p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="totalCount === 0">
        <div class="tw-flex tw-h-3/6 tw-text-center tw-p-56-px">
            <div class="tw-m-auto">
                <img *ngIf="illustrationsAllowed" src="assets/illustrations/integrations-zero-state.svg" width="200px" hight="200px" class="tw-inline-block">
                <div class="tw-pt-20-px">
                    <h4 class="tw-font-400 !tw-text-14-px tw-text-slightly-normal-text-color">No records to show yet!</h4>
                    <p class="tw-pt-4-px tw-font-600 !tw-text-14-px tw-text-faded-text-color">All your expenses that were skipped from exporting<br>
                        will be stored here.</p>
                </div>
            </div>
        </div>
    </div>
</div>