<form [formGroup]="connectNetsuiteForm">
    <div [ngClass]="isReconnecting ? '' : 'tw-mb-16-px'">
        <app-configuration-text-field [styleClasses]="isReconnecting ? 'tw-min-w-full' : undefined" [customErrorMessage]="helper.sentenseCaseConversion('Invalid account ID. Please enter valid account ID.')" [form]="connectNetsuiteForm" [formControllerName]="'accountId'" [isFieldMandatory]="true" [label]="'Account ID'" [placeholder]="helper.sentenseCaseConversion('Enter account') + ' ID'"></app-configuration-text-field>
    </div>
    <div [ngClass]="isReconnecting ? '' : 'tw-mb-16-px'">
        <app-configuration-text-field [styleClasses]="isReconnecting ? 'tw-min-w-full' : undefined" [customErrorMessage]="helper.sentenseCaseConversion('Invalid token ID. Please enter valid token ID.')" [form]="connectNetsuiteForm" [formControllerName]="'tokenId'" [isFieldMandatory]="true" [label]="'Token ID'" [placeholder]="helper.sentenseCaseConversion('Enter token') + ' ID'"></app-configuration-text-field>
    </div>
    <div>
        <app-configuration-text-field [styleClasses]="isReconnecting ? 'tw-min-w-full' : undefined" [customErrorMessage]="helper.sentenseCaseConversion('Incorrect token secret. Please enter correct token secret.')" [form]="connectNetsuiteForm" [formControllerName]="'tokenSecret'" [isFieldMandatory]="true" [label]="helper.sentenseCaseConversion('Token secret')" [placeholder]="helper.sentenseCaseConversion('Enter token secret') + ' ID'"></app-configuration-text-field>
    </div>
</form>
