<div class="tw-flex tw-flex-row tw-justify-between tw-items-start">
    <div class="info-label" [ngClass]="customBackgroundColorClass">
      @if (showIcon) {
        <div>
          <app-svg-icon [svgSource]="iconSrc" [width]="'20px'" [height]="'20px'" [isTextColorAllowed]="true" [styleClasses]="customStyleClass"></app-svg-icon>
        </div>
      }
      <div [ngClass]="brandingStyle.configuration.infoLabelText">
        <p>{{infoText}}
          @if (readMoreLink) {
            <a class="link tw-pr-4-px tw-pl-2-px tw-inline-flex tw-items-center tw-w-fit" (click)="readMoreClick()">
              {{ readMoreText | transloco }}
              @if (brandingFeatureConfig.isIconsInsideButtonAllowed) {
                <app-svg-icon [svgSource]="'open-in-new-tab'" [width]="'14px'" [height]="'14px'"
                  class="tw-text-link-primary tw-pl-2-px tw-w-fit tw-relative tw-top-[1px]">
                </app-svg-icon>
              }
            </a>
          }
        </p>
      </div>
      @if (showCloseIcon) {
        <div>
          <app-svg-icon (iconClick)="clearSearch()" [svgSource]="'cross-medium'" [c1SvgSource]="'grv-cross-filled-medium'" [width]="'18px'" [height]="'18px'" [styleClasses]="'tw-text-icon-muted tw-cursor-pointer'"></app-svg-icon>
        </div>
      }
    </div>
</div>
