<div>
  <div
    class="tw-flex tw-flex-row tw-justify-between tw-items-start"
    [ngClass]="[brandingStyle.configuration.infoLabelBackground, customClasses]"
  >
    <div class="info-label">
      @if (showIcon) {
        <div>
          <app-svg-icon
            [svgSource]="'info-circle-fill-medium'"
            [width]="'20px'"
            [height]="'20px'"
            [isTextColorAllowed]="true"
            [styleClasses]="brandingStyle.configuration.infoLabelIcon"
          ></app-svg-icon>
        </div>
      }
      <div [ngClass]="brandingStyle.configuration.infoLabelText">
        <p>{{ infoText }}</p>
      </div>
    </div>
    @if (showCloseIcon) {
      <div>
        <app-svg-icon
          (iconClick)="clearSearch()"
          [svgSource]="'cross-medium'"
          [c1SvgSource]="'grv-cross-filled-medium'"
          [width]="'18px'"
          [height]="'18px'"
          [styleClasses]="'tw-text-icon-muted tw-cursor-pointer'"
        ></app-svg-icon>
      </div>
    }
  </div>
</div>
