@if (isGradientAllowed){
<div class="tw-absolute tw-bg-header-1 tw-h-110-px tw-w-[100%] tw-z-[-1]"></div>
<div class="tw-absolute tw-bg-header-2 tw-h-110-px tw-w-[100%] tw-z-[-1]"></div>
}

@if(isLoading){
<div class="tw-flex tw-justify-center tw-items-center tw-h-screen">
    <app-loader></app-loader>
</div>
}

@if(!isLoading && !isSage300TokenNotValid){
    <app-dashboard-export-section
        (export)="export()"
        [loaderType]="LoaderType.INDETERMINATE"
        [appName]="appName"
        [isImportInProgress]="isImportInProgress" 
        [isExportInProgress]="isExportInProgress"
        [exportableAccountingExportIds]="exportableAccountingExportIds"
        [failedExpenseGroupCount]="failedExpenseGroupCount" 
        [exportProgressPercentage]="exportProgressPercentage" 
        [accountingExportSummary]="accountingExportSummary" 
        [processedCount]="processedCount"
        [reimbursableImportState]="reimbursableImportState"
        [cccImportState]="cccImportState">
    </app-dashboard-export-section>
    
    @if(!accountingExportSummary && !exportableAccountingExportIds.length){
    <app-zero-state 
        [zeroStateImageURL]="'assets/illustrations/dashboard-illustration.svg'"
        [headerText]="'sage300Dashboard.zeroStateHeaderText' | transloco"
        [subHeaderText]="'sage300Dashboard.zeroStateSubHeaderText' | transloco">
    </app-zero-state>
    }
    
    @if(exportableAccountingExportIds.length || accountingExportSummary){
    <app-dashboard-export-summary-section
        [appName]="appName"
        [accountingExportType]="accountingExportType"
        [accountingExportSummary]="accountingExportSummary"
        [isRealTimeExportEnabled]="isRealTimeExportEnabled">
    </app-dashboard-export-summary-section>
    }
    
    @if(errors.EMPLOYEE_MAPPING.length || errors.CATEGORY_MAPPING.length || errors.ACCOUNTING_ERROR.length){
    <app-dashboard-error-section
        [appName]="appName" 
        [errors]="errors" 
        [groupedErrorStat]="groupedErrorStat"
        [destinationFieldMap]="destinationFieldMap"
        [exportKey]="'accounting_export'"
        [importCodeFields]="importCodeFields"
        [exportableExpenseGroupIds]="exportableAccountingExportIds"
        [accountingExportSummary]="accountingExportSummary">
    </app-dashboard-error-section>
    }
}

@if (!isLoading && isSage300TokenNotValid) {
  <div class="tw-flex tw-justify-center tw-items-center tw-min-h-[90vh]">
    <app-dashboard-token-expired
      [appName]="appName"
    >
    </app-dashboard-token-expired>
  </div>
}
</div>
