.container {
    justify-content: center;
}

.pointer {
    cursor: pointer;
}

.inside-container {
    border-radius: 8px;
    border: 1px solid var(--grayscale-light-border, #ECECEE);
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    max-width: auto;
}

.sub-text-container {
    border-radius: 8px;
    border: 1px solid var(--grayscale-light-border, #ECECEE);
    background: var(--grayscale-background, #FAFCFF);
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    max-width: auto;
}

.flex-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between
}

.sub-header {
    font-size: 14px;
    font-weight: 400;
    color: grey;
}

.truncate {
    @apply tw-w-100-px tw-whitespace-nowrap tw-overflow-hidden tw-text-ellipsis;
}

:host ::ng-deep .drop-down .p-dropdown {
    @apply tw-w-200-px tw-border-0 #{!important};
}

:host ::ng-deep .p-progressbar {
    @apply tw-h-1.5 tw-bg-progress-bar-bg #{!important};
}

:host ::ng-deep .p-progressbar .p-progressbar-value {
    @apply tw-bg-mandatory-field-color tw-rounded-50  #{!important};
}

:host ::ng-deep .p-progressbar-determinate .p-progressbar-value {
    content: none #{!important};
}

.export-btn:disabled {
    @apply tw-cursor-not-allowed tw-bg-cta-disabled #{!important};
}

:host ::ng-deep .p-calendar .p-inputtext {
    @apply tw-p-0 tw-bg-white tw-border-0 tw-cursor-pointer tw-transition-none	;
}

:host ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):hover .p-calendar .p-inputtext{
    @apply tw-bg-disabled-bg-color #{!important};
}

:host ::ng-deep .p-calendar ::placeholder {
    @apply tw-text-sub-text-color #{!important};
}

:host ::ng-deep .p-datepicker table td > span.p-highlight {
    @apply tw-text-white tw-bg-mandatory-field-color #{!important};
}

:host ::ng-deep .p-datepicker table td > span:focus {
    @apply tw-shadow-none #{!important};
}

:host ::ng-deep .p-datepicker table th {
    @apply tw-text-center ;
}

// :host ::ng-deep .p-datepicker-touch-ui, .p-calendar .p-datepicker-touch-ui {
//     @apply tw-min-w-fit tw-top-2/3 #{!important};
// }

:host  ::ng-deep .p-dialog {
    max-height: 100% !important;
    margin: 0rem !important;
  }  