<div *ngIf="isGradientAllowed" class="tw-absolute tw-bg-header-1 tw-h-110-px tw-w-[100%] tw-z-[-1]"></div>
<div *ngIf="isGradientAllowed" class="tw-absolute tw-bg-header-2 tw-h-110-px tw-w-[100%] tw-z-[-1]"></div>
<div class="tw-flex tw-justify-center tw-pr-74-px tw-pl-74-px tw-pt-24 tw-pb-20">
  <div class="onboarding-done--contents">
    <div class="tw-pt-34-px">
      <img src="assets/gifs/success-check.gif" class="onboarding-done--align-center" alt="Onboarding done" width="120px"
        height="120px">
    </div>
    <div class="tw-text-center">
      <h2 class="tw-text-normal-text-color !tw-font-bold !tw-text-18-px">Congratulations! Your integration setup is now complete.</h2>
    </div>
    <div class="tw-flex tw-justify-center tw-py-24-px">
        <button type="button" class="tw-text-500 tw-text-white tw-px-24-px tw-py-12-px tw-bg-mandatory-field-color tw-rounded-4-px" (click)="navigateToDashboard()">Launch integration</button>
    </div>
    <div class="tw-py-24-px">
      <h5 class="tw-text-text-muted tw-text-center tw-text-14-px">
        You can still re-configure your export settings at any point of time from the <b class="tw-font-bold">Configuration</b> section.
      </h5>
    </div>
  </div>
</div>
