<div class="tw-pb-48-px">
    <app-onboarding-steppers [onboardingSteps]="onboardingSteps"></app-onboarding-steppers>
    <div>
        <div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-pt-80-px">
            <app-loader></app-loader>
        </div>
        <div *ngIf="!isLoading" class="configuration--contents tw-border-border-tertiary tw-mt-24-px" [ngClass]="brandingStyle.common.configurationContents">
            <div>
                <app-configuration-step-header
                    [headerText]="'Connect to QuickBooks Online'"
                    [contentText]="'Connect to QuickBooks Online to import and export data. The connection cannot be changed once the setup is complete.'"
                    [redirectLink]="redirectLink">
                </app-configuration-step-header>
            </div>
            <div class="tw-px-24-px">
                <app-configuration-connector
                    [accountingAppTitle]="'QuickBooks Online company'"
                    [subLabel]="'Please select a company from QuickBooks Online company to proceed further.'"
                    [placeholder]="'Select company'"
                    [accountingCompanyName]="qboCompanyName"
                    [fyleOrgName]="fyleOrgName"
                    [appName]="appName"
                    [accountingCompanyTokenExpired]="qboTokenExpired"
                    [isAccountingCompanyConnected]="isQboConnected"
                    [showDisconnect]="showDisconnectQBO"
                    [accountingCompanyConnectionInProgress]="qboConnectionInProgress"
                    [switchLinkText]="brandingConfig.brandId === 'co' ? 'Disconnect company' : 'Disconnect'"
                    (switchCompany)="disconnectQbo()"
                    (connectCompany)="connectQbo()">
                </app-configuration-connector>

                <app-configuration-confirmation-dialog
                    (warningAccepted)="acceptWarning($event)"
                    [isWarningVisible]="isWarningDialogVisible"
                    [event]="warningEvent"
                    [headerText]="warningHeaderText"
                    [contextText]="warningContextText"
                    [confirmBtnText]="primaryButtonText"
                    [showSecondaryCTA]="false">
                </app-configuration-confirmation-dialog>
            </div>
            <app-configuration-step-footer [ctaText]="!saveInProgress ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVING" [isButtonDisabled]="isContinueDisabled" (save)="continueToNextStep()"></app-configuration-step-footer>
        </div>
    </div>
</div>
