<div class="tw-mb-16-px" [ngClass]="customStyles">
    <p-tabs [value]="activeModule" (valueChange)="onTabChange($event)">
        <p-tablist>
            @for (module of modules; track module.value) {
                <div
                    class="tw-flex"
                    [pTooltip]="navigationLockService.tooltipText()"
                    tooltipPosition="bottom"
                >
                    <p-tab [value]="module.value" [disabled]="navigationLockService.isLocked()">
                        {{ module.label }}
                    </p-tab>
                </div>
            }
        </p-tablist>
    </p-tabs>
</div>
