<div class="tw-pt-20-px tw-flex tw-justify-center tw-items-center tw-flex-col">
    <div class="tw-w-[75vw]">
        <div class="tw-bg-configuration-bg tw-border-separator tw-border-1-px tw-rounded-4-px">
            <div class="tw-py-16-px tw-pl-24-px">
                <p class="tw-text-slightly-normal-text-color tw-text-20-px tw-font-500">
                    Configuration
                </p>
                <p class="tw-pt-8-px tw-text-sub-text-color tw-text-14-px">
                    Set how you want your Fyle-BambooHR integration to work
                </p>
            </div>
        </div>

        <div class="tw-border-separator tw-border-1-px tw-rounded-4-px tw-my-16-px">
            <div class="tw-p-24-px tw-flex tw-justify-between">
                <div>
                    <p class="tw-text-slightly-normal-text-color tw-text-18-px tw-font-500">
                        Map Employee Dimensions
                    </p>
                    <p class="tw-pt-8-px tw-text-faded-text-color tw-text-14-px">
                        Set how you want your Fyle-BambooHR integration to work
                    </p>
                </div>
                <div>
                    <p-inputSwitch></p-inputSwitch>
                </div>
            </div>
        </div>

        <div class="tw-border-separator tw-border-1-px tw-rounded-4-px tw-my-16-px">
            <div class="tw-p-24-px tw-flex tw-justify-between">
                <div>
                    <p class="tw-text-slightly-normal-text-color tw-text-18-px tw-font-500">
                        Frequency of employee import
                    </p>
                    <p class="tw-pt-8-px tw-text-faded-text-color tw-text-14-px">
                        Select the frequency to import employees from BambooHR to Fyle
                    </p>
                </div>
                <div>
                    <p-dropdown styleClass="tw-w-320-px tw-h-40-px" [options]="frequencyIntervals" optionLabel="label" optionValue="value"></p-dropdown>
                </div>
            </div>
        </div>

        <div class="tw-border-separator tw-border-1-px tw-rounded-4-px tw-my-16-px">
            <div class="tw-p-24-px tw-flex tw-justify-between">
                <div>
                    <p class="tw-text-slightly-normal-text-color tw-text-18-px tw-font-500">
                        Notification updates upon failure
                    </p>
                    <p class="tw-pt-8-px tw-text-faded-text-color tw-text-14-px">
                        As an email to receive notifications upon import failure or intergration time out
                    </p>
                </div>
                <div>
                    <p-multiSelect styleClass="tw-w-320-px tw-h-40-px" [options]="emails" placeholder="Select Email Address" display="chip">
                        <ng-template>
                            <input type="text" class="!tw-h-32-px !tw-w-300-px" pInputText placeholder="Search by Name" />
                        </ng-template>

                        <ng-template let-email pTemplate="item">
                            <div>
                                <p>{{ email }}</p>
                                <p>Hi</p>
                            </div>
                        </ng-template>
                    </p-multiSelect>
                </div>
            </div>
        </div>
    </div>
</div>
