<div [formGroup]="cofigurationForm" class="tw-pt-70-px tw-flex tw-justify-center tw-items-center tw-flex-col">
    <div class="tw-w-75-vw tw-rounded-12-px tw-border-1-px tw-border-separator tw-shadow-app-card">
        <div class="tw-p-24-px">
            <p class="tw-text-18-px">{{ 'configuration.header' | transloco }}</p>
            <p class="tw-pt-8-px tw-text-14-px tw-text-sub-text-color">
                {{ 'configuration.description' | transloco: { brandName: brandingConfig.brandName} }}
            </p>
        </div>
        <div class="tw-p-24-px tw-border-y tw-border-separator">
            <div class="tw-rounded-12-px tw-border-1-px tw-border-disabled-bg-color">
                <app-email-multi-select-field
                    [form]="cofigurationForm"
                    [appName]="appName"
                    [label]="'configuration.emailNotificationLabel' | transloco"
                    [isFieldMandatory]="false"
                    [mandatoryErrorListName]="'configuration.mandatoryErrorListName' | transloco"
                    [subLabel]="'configuration.emailSubLabel' | transloco"
                    [options]="emails"
                    [iconPath]="'list'"
                    [placeholder]="'configuration.emailPlaceholder' | transloco"
                    [formControllerName]="'email'">
                </app-email-multi-select-field> 
            </div>
        </div>
        <div class="tw-flex tw-justify-end tw-p-24-px">
            <div>
                <app-primary-button (buttonClick)="saveSettings()" [styleClasses]="'tw-px-24-px tw-py-8-px tw-text-14-px'" [disabled]="!cofigurationForm.valid" [isLoading]="isConfigurationSaveInProgress" [buttonText]="(isConfigurationSaveInProgress ? 'configuration.savingButtonText': 'configuration.saveButtonText') | transloco"></app-primary-button>
            </div>
        </div>
    </div>
</div>
                            