:host ::ng-deep .error-box .p-dropdown {
  @apply tw-border-select-error-border #{!important};
}

:host ::ng-deep .normal-box .p-dropdown {
  @apply tw-border-select-default-border #{!important};
}

:host ::ng-deep .normal-box .p-dropdown.p-focus {
  @apply tw-border-select-focused-border #{!important};
}

.fields-header {
    @apply tw-pb-8-px tw-text-14-px tw-text-form-label-text-color;
}
  
.delete-icon {
    @apply tw-text-center tw-cursor-pointer tw-ml-26-px tw-max-h-20-px tw-max-w-20-px;
}
  
.value-input-field {
    @apply tw-border tw-border-line-inactive tw-rounded-4-px tw-py-6-px tw-px-10-px tw-inline-flex tw-items-center tw-w-296-px #{!important};
}
  
:host ::ng-deep .joinby-field .p-dropdown {
    @apply tw-w-98-px tw-h-38-px #{!important} ;
}
  
:host ::ng-deep .p-dropdown .p-dropdown-trigger-icon {
    @apply tw-text-12-px tw-mr-12-px tw-w-auto;
}
  
:host ::ng-deep .p-calendar .p-inputtext {
    @apply tw-cursor-pointer tw-w-360-px tw-h-40-px tw-border tw-border-solid tw-py-10-px tw-px-14-px #{!important};
}
  
:host ::ng-deep .p-chips-token {
    @apply tw-h-24-px tw-items-center tw-bg-white tw-border tw-border-line-inactive tw-shadow-chip-shadow
}
  
  /* To remove blue hover and other styles */
  :host ::ng-deep .p-chips input:focus {
    // outline: none !important;
    box-shadow: none !important;
    // border-color: inherit !important;
    border: 1px solid inherit !important;
  }
  
  /* Scrollable container */
  :host ::ng-deep .p-chips-multiple-container {
    max-height: 80px;
    overflow-y: auto;
    width: 360px !important;
    height: auto !important;
    min-height: 38px !important;
    padding-top: 2px!important;
    padding-bottom: 2px!important;
    box-shadow: 1px 1px white;
  }

  :host ::ng-deep .p-chips-multiple-container:enabled:focus {
    box-shadow: none;
    border: 1px solid var(--select-focused-border);
  }
  
  /* Change text color to black */
  :host ::ng-deep .p-chips-token-label {
    @apply tw-text-chips-body-text-color #{!important};
  }
  
  
  :host ::ng-deep .p-chips-token-icon {
    @apply tw-text-slightly-normal-text-color #{!important};
  }
  
  :host ::ng-deep .p-chips-multiple-container::-webkit-scrollbar {
    background: transparent;  /* For WebKit browsers like Chrome and Safari */
  }
  
  :host ::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):hover .p-calendar .p-inputtext{
    @apply tw-bg-input-read-only-bg #{!important};
  }
  
  :host ::ng-deep .p-calendar ::placeholder {
    @apply tw-text-placeholder #{!important};
  }
  
  .chip-hint {
    @apply tw-text-12-px tw-text-form-default-help-text-color #{!important};
  }
  
  :host ::ng-deep .p-dropdown {
    transform: scale(0.9);
    width: 180px !important;
  }
  
  :host ::ng-deep input {
    @apply tw-text-14-px #{!important};
  }
  