@if (isLoading) {
  <div>
  </div>
}
@if (enableSkipExport && !isLoading) {
  <div>
    <div class="tw-flex tw-flex-col">
      <form [formGroup]="skipExportForm" class="tw-flex tw-flex-col tw-pl-24-px">
        <div class="tw-flex">
          <div class="tw-ml-120-px tw-w-200-px tw-mr-6-px fields-header">
            {{ 'configurationSkipExport.conditionHeader' | transloco }}
            @if (isAsterikAllowed) {
              <span class="tw-text-text-danger-dark">*</span>
            }
          </div>
          <div class="tw-w-180-px tw-mr-24-px fields-header">
            {{ 'configurationSkipExport.operatorHeader' | transloco }}
            @if (isAsterikAllowed) {
              <span class="tw-text-text-danger-dark">*</span>
            }
          </div>
          @if (showValueHeader(1)) {
            <div class="tw-w-296-px fields-header">
              {{ 'configurationSkipExport.valueHeader' | transloco }}
              @if (isAsterikAllowed) {
                <span class="tw-text-text-danger-dark">*</span>
              }
            </div>
          }
        </div>
        <div class="tw-flex dropdown-row tw-pb-24-px">
          <p class="tw-text-14-px tw-text-form-label-text-color">{{ 'configurationSkipExport.whereLabel' | transloco }}</p>
          <div class="tw-ml-80-px tw-mr-24-px">
            <p-select appendTo="body" [options]="conditionFieldOptions" formControlName="condition1" [placeholder]="'configurationSkipExport.selectConditionPlaceholder' | transloco">
              For options
              <ng-template let-option pTemplate="item">
                @if (option.field_name !== 'claim_number') {
                  <span>
                    {{ (option.field_name === 'report_title' ? 'report_name' : option.field_name) | snakeCaseToSpaceCase | sentenceCase }}
                  </span>
                }
                @if (option.field_name === 'claim_number') {
                  <span>
                    {{ 'configurationSkipExport.reportNumber' | transloco }}
                  </span>
                }
              </ng-template>
              For selected option
              <ng-template let-selectedOption pTemplate="selectedItem">
                @if (selectedOption.field_name !== 'claim_number') {
                  <span>
                    {{ (selectedOption.field_name === 'report_title' ? 'report_name' : selectedOption.field_name) | snakeCaseToSpaceCase | sentenceCase }}
                  </span>
                }
                @if (selectedOption.field_name === 'claim_number') {
                  <span>
                    {{ 'configurationSkipExport.reportNumber' | transloco }}
                  </span>
                }
              </ng-template>
            </p-select>
            @if (skipExportForm.controls.condition1.touched && !skipExportForm.controls.condition1.valid) {
              <app-mandatory-error-message
              [customErrorMessage]="'configurationSkipExport.selectConditionError' | transloco"></app-mandatory-error-message>
            }
          </div>
          <div class="tw-mr-24-px">
            <p-select appendTo="body" [options]="operatorFieldOptions1" formControlName="operator1" [placeholder]="'configurationSkipExport.selectOperatorPlaceholder' | transloco"></p-select>
            @if (skipExportForm.controls.operator1.touched && !skipExportForm.controls.operator1.valid) {
              <app-mandatory-error-message
              [customErrorMessage]="'configurationSkipExport.selectOperatorError' | transloco"></app-mandatory-error-message>
            }
          </div>
          @if (showInputField(1)) {
            <div class="tw-w-296-px">
              <input type="text" formControlName="value1" class="value-input-field" [placeholder]="'configurationSkipExport.enterValuePlaceholder' | transloco">
            </div>
          }
          @if (showDateField(1)) {
            <div class="tw-w-296-px">
              <p-datepicker formControlName="value1" [readonlyInput]="true" [placeholder]="'configurationSkipExport.selectDatePlaceholder' | transloco"></p-datepicker>
            </div>
          }
          @if (showChipField(1)) {
            <div class="tw-w-296-px">
              <p-autocomplete
                [multiple]="true"
                [typeahead]="false"
                [forceSelection]="false"
                styleClass="tw-w-[296px]"
                formControlName="value1"
                [placeholder]="'configurationSkipExport.enterValuePlaceholder' | transloco"
                [suggestions]="[]"
                (onKeyDown)="onKeyDown($event, 1)"
                (onBlur)="onBlur($event, 1)">
              </p-autocomplete>
              <small class="chip-hint"><br>{{ 'configurationSkipExport.chipHint' | transloco }}</small>
            </div>
          }
          @if (showBooleanField(1)) {
            <div class="tw-w-296-px">
              <p-select appendTo="body" formControlName="value1" [placeholder]="'configurationSkipExport.selectValuePlaceholder' | transloco" [options]="customCheckBoxValueOptions">
              </p-select>
            </div>
          }
        </div>
        @if (showAdditionalCondition) {
          <div class="tw-pb-24-px">
            <div class="tw-flex tw-ml-120-px">
              <div class="tw-w-200-px tw-mr-6-px fields-header">
                {{ 'configurationSkipExport.conditionHeader' | transloco }}
                @if (isAsterikAllowed) {
                  <span class="tw-text-text-danger-dark">*</span>
                }
              </div>
              <div class="tw-w-180-px fields-header tw-mr-24-px">
                {{ 'configurationSkipExport.operatorHeader' | transloco }}
                @if (isAsterikAllowed) {
                  <span class="tw-text-text-danger-dark">*</span>
                }
              </div>
              @if (showValueHeader(2)) {
                <div class="tw-w-296-px fields-header">
                  {{ 'configurationSkipExport.valueHeader' | transloco }}
                  @if (isAsterikAllowed) {
                    <span class="tw-text-text-danger-dark">*</span>
                  }
                </div>
              }
            </div>
            <div class="tw-flex">
              <div class="joinby-field">
                <p-select appendTo="body" class="joinby-field" [options]="joinByOptions" formControlName="join_by" [placeholder]="'configurationSkipExport.joinByPlaceholder' | transloco">
                  <ng-template let-selectedValue pTemplate="selectedItem" >
                    {{ selectedValue.value }}
                  </ng-template>
                  <ng-template let-value pTemplate="item">
                    {{ value.value }}
                  </ng-template>
                </p-select>
              </div>
              <div class="tw-ml-24-px tw-mr-24-px">
                <p-select appendTo="body" [options]="conditionFieldOptions" formControlName="condition2" [placeholder]="'configurationSkipExport.selectConditionPlaceholder' | transloco">
                  <!-- For options -->
                  <ng-template let-option pTemplate="item">
                    @if (option.field_name !== 'claim_number') {
                      <span>
                        {{ option.field_name | snakeCaseToSpaceCase | sentenceCase }}
                      </span>
                    }
                    @if (option.field_name === 'claim_number') {
                      <span>
                        {{ 'configurationSkipExport.reportNumber' | transloco }}
                      </span>
                    }
                  </ng-template>
                  <!-- For selected option -->
                  <ng-template let-selectedOption pTemplate="selectedItem">
                    @if (selectedOption.field_name !== 'claim_number') {
                      <span>
                        {{ selectedOption.field_name | snakeCaseToSpaceCase | sentenceCase }}
                      </span>
                    }
                    @if (selectedOption.field_name === 'claim_number') {
                      <span>
                        {{ 'configurationSkipExport.reportNumber' | transloco }}
                      </span>
                    }
                  </ng-template>
                </p-select>
                @if (skipExportForm.controls.condition2.touched && !skipExportForm.controls.condition2.valid) {
                  <app-mandatory-error-message
                  [customErrorMessage]="'configurationSkipExport.selectConditionError' | transloco"></app-mandatory-error-message>
                }
                @if (checkValidationCondition()) {
                  <app-mandatory-error-message
                  [customErrorMessage]="'configurationSkipExport.distinctConditionError' | transloco"></app-mandatory-error-message>
                }
              </div>
              <div class="tw-mr-24-px">
                <p-select appendTo="body" [options]="operatorFieldOptions2" formControlName="operator2" [placeholder]="'configurationSkipExport.selectOperatorPlaceholder' | transloco"></p-select>
                @if (skipExportForm.controls.operator2.touched && !skipExportForm.controls.operator2.valid) {
                  <app-mandatory-error-message
                  [customErrorMessage]="'configurationSkipExport.selectOperatorError' | transloco"></app-mandatory-error-message>
                }
              </div>
              @if (showInputField(2)) {
                <div class="tw-w-296-px">
                  <input type="text" formControlName="value2" [placeholder]="'configurationSkipExport.enterAValuePlaceholder' | transloco" class="value-input-field">
                </div>
              }
              @if (showChipField(2)) {
                <div class="tw-w-296-px">
                  <p-autocomplete
                    [multiple]="true"
                    [typeahead]="false"
                    [forceSelection]="false"
                    styleClass="tw-w-[296px]"
                    formControlName="value2"
                    [placeholder]="'configurationSkipExport.enterValuePlaceholder' | transloco"
                    [suggestions]="[]"
                    (onKeyDown)="onKeyDown($event, 2)"
                    (onBlur)="onBlur($event, 2)">
                  </p-autocomplete>
                  <small class="chip-hint"><br>{{ 'configurationSkipExport.chipHint' | transloco }}</small>
                </div>
              }
              @if (showBooleanField(2)) {
                <div class="tw-w-296-px">
                  <p-select appendTo="body" formControlName="value2" [placeholder]="'configurationSkipExport.selectValuePlaceholder' | transloco" [options]="customCheckBoxValueOptions">
                  </p-select>
                </div>
              }
              @if (showDateField(2)) {
                <div class="tw-w-296-px">
                  <p-datepicker formControlName="value2" [readonlyInput]="true" [placeholder]="'configurationSkipExport.selectDatePlaceholder' | transloco"></p-datepicker>
                </div>
              }
              <div class="tw-ml-26-px tw-pt-6-px tw-max-h-20-px tw-max-w-20-px">
                <app-svg-icon [svgSource]="'bin'" [width]="'24px'" [height]="'24px'" [styleClasses]="'tw-text-text-tertiary tw-text-center tw-cursor-pointer'" [tooltipText]="'configurationSkipExport.removeConditionTooltip' | transloco" (iconClick)="remCondition()"></app-svg-icon>
              </div>
            </div>
          </div>
        }
        @if (showAddButton) {
          <div class="tw-flex items-center tw-text-mandatory-field-color tw-pb-24-px">
            @if (brandingFeatureConfig.illustrationsAllowed) {
              <app-svg-icon [svgSource]="'plus-square-medium'" [width]="'18px'" [height]="'18px'" (iconClick)="updateAdditionalFilterVisibility(true)" [styleClasses]="'tw-pr-8-px'"></app-svg-icon>
            }
            <a class="btn-text-primary tw-inline-block" (click)="updateAdditionalFilterVisibility(true)">
              {{ 'configurationSkipExport.addMoreFieldsButton' | transloco }}
            </a>
          </div>
        }
      </form>
    </div>
  </div>
}
