<div *ngIf="!accountingExports" class="tw-flex tw-justify-center tw-items-center tw-h-screen">
    <app-loader></app-loader>
</div>

<div class="tw-rounded-8-px tw-shadow-app-card tw-bg-white tw-border-1-px tw-border-border-tertiary">
    <div>
        <app-export-log-filter *ngIf="totalCount > 0 || (isDateSelected || searchQuery)"
            [exportLogForm]="exportLogForm"
            [hideCalendar]="hideCalendar"
            [dateOptions]="dateOptions"
            (handleSimpleSearch)="handleSimpleSearch($event)">
        </app-export-log-filter>

        <app-export-log-table
            *ngIf="!isLoading" 
            [filteredExpenseGroups]="filteredAccountingExports"
            [appName]="appName"
            [isExportLogTable]="true"
            [isDashboardFailed]="false">
        </app-export-log-table>

        <div *ngIf="totalCount > 0 && !isLoading" class="tw-p-24-px tw-border-t-1-px">
            <app-paginator
                [dropDownValue]="limit"
                [page]="currentPage"
                [totalCount]="totalCount"
                (pageSizeChangeEvent)="pageSizeChanges($event)"
                (pageOffsetChangeEvent)="pageChanges($event)">
            </app-paginator>
        </div>

        <app-zero-state-with-illustration *ngIf="(isDateSelected || searchQuery) && totalCount === 0 && !isLoading"
            [mainText]="'sage300CompleteExportLog.noResultsFound' | transloco"
            [subText]="'sage300CompleteExportLog.noResultsSuggestion' | transloco">
        </app-zero-state-with-illustration>

    </div>

    <app-zero-state-with-illustration *ngIf="totalCount === 0 && (!isDateSelected && !searchQuery) && !isLoading"
    [mainText]="'sage300CompleteExportLog.noRecordsToShow' | transloco"
    [subText]="'sage300CompleteExportLog.successfulExportsStoredHere' | transloco">
    </app-zero-state-with-illustration>

</div>
