<div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-screen">
    <app-loader></app-loader>
</div>

<div *ngIf="!isLoading" class="tw-shadow-app-card tw-rounded-12-px tw-bg-white tw-border-1-px tw-border-separator">
    <div *ngIf="totalCount > 0">
        <app-export-log-filter 
            [exportLogForm]="exportLogForm" 
            (handleSimpleSearch)="handleSimpleSearch($event)">
        </app-export-log-filter>

        <app-export-log-table 
            [filteredExpenseGroups]="filteredAccountingExports"
            [appName]="appName"
            [isExportLogTable]="true"
            [isDashboardFailed]="false">
        </app-export-log-table>

        <div *ngIf="filteredAccountingExports.length > 0" class="tw-p-24-px tw-border-t-1-px">
            <app-paginator 
                [dropDownValue]="limit" 
                [page]="currentPage" 
                [totalCount]="totalCount" 
                (pageSizeChangeEvent)="pageSizeChanges($event)" 
                (pageOffsetChangeEvent)="pageChanges($event)">
            </app-paginator>
        </div>

        <div *ngIf="!filteredAccountingExports.length" class="tw-flex tw-h-3/6 tw-text-center tw-p-56-px">
            <div class="tw-m-auto">
                <img src="assets/illustrations/search-result-empty.svg" width="200px" hight="200px" class="tw-inline-block">
                <div class="tw-pt-12-px">
                    <h4 class="tw-font-500 tw-text-14-px tw-text-slightly-normal-text-color">Sorry, no results found!</h4>
                    <p class="tw-font-400 tw-text-14-px tw-text-faded-text-color tw-pt-8-px">We could not find what you were looking for.<br>Kindly check the keywords again.</p>
                </div>
            </div>
        </div>

        <app-zero-state-with-illustration *ngIf="!filteredAccountingExports.length"
            [mainText]="'Sorry, no results found!'"
            [subText]="'We could not find what you were looking for.Kindly check the keywords again.'">
        </app-zero-state-with-illustration>

        <app-zero-state-with-illustration *ngIf="totalCount === 0"
            [mainText]="'No records to show yet!'"
            [subText]="'All your successful exports and their details will be stored here.'">
        </app-zero-state-with-illustration>

    </div>
</div>