<div class="tw-flex tw-justify-between tw-items-center">
    <div>
        <span *ngIf="pageType === PaginatorPage.DASHBOARD">{{ 'paginator.pageOfTotal' | transloco: { page: page, totalPages: totalPages } }}</span>
    </div>
    <div class="tw-flex tw-items-center">
        <div class="tw-flex tw-items-center tw-pr-30-px">
            <span *ngIf="pageType === PaginatorPage.DASHBOARD" class="tw-pr-10-px">{{ 'paginator.showLabel' | transloco }}</span>
            <span *ngIf="pageType !== PaginatorPage.DASHBOARD" class="tw-pr-10-px tw-text-lv-meta-text-color">{{ 'paginator.itemsPerPageLabel' | transloco }}</span>
            <div>
                <p-dropdown appendTo="body" [options]="pageNumbers" (onChange)="pageSizeChanges($event)" [(ngModel)]="dropDownValue">
                    <ng-template let-value pTemplate="selectedItem" >
                        <div *ngIf="dropDownValue" class="tw-flex">
                            <p class="tw-text-normal-text-color tw-text-12-px !tw-font-500">{{ value }} <span *ngIf="pageType === PaginatorPage.DASHBOARD">{{ 'paginator.itemsSuffix' | transloco }}</span></p>
                        </div>
                        <div *ngIf="!dropDownValue" class="tw-text-placeholder">
                            {{ 'paginator.selectPageSizePlaceholder' | transloco }}
                        </div>
                    </ng-template>
                    <ng-template let-day pTemplate="item">
                        <div>
                            <p class="tw-text-sub-text-color tw-text-14-px">{{ day }} <span *ngIf="pageType === PaginatorPage.DASHBOARD">{{ 'paginator.itemsSuffix' | transloco }}</span></p>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
        <div class="tw-flex tw-items-center">
            <span *ngIf="pageType === PaginatorPage.DASHBOARD" class="tw-pr-10-px">{{ 'paginator.pageLabel' | transloco }}</span>
            <div *ngIf="pageType === PaginatorPage.DASHBOARD" class="tw-border tw-border-border-tertiary tw-flex tw-items-center tw-rounded-4-px">
                <div class="tw-border-r tw-border-r-separator">
                    <button type="button" class="tw-h-32-px tw-w-30-px prevBtn" (click)="previousPageChange(page)" [disabled]="page === 1" >
                        <app-svg-icon [svgSource]="'arrow-left-medium'" [styleClasses]="'tw-pl-6-px ' + (page === 1 ? 'tw-text-lv-pagination-icon-disable-color': 'tw-text-lv-pagination-icon-active-color')" [height]="'20px'" [width]="'20px'"></app-svg-icon>
                    </button>
                </div>
                <div class="tw-w-30-px tw-h-32-px tw-flex tw-items-center tw-justify-center">
                    {{page}}
                </div>
                <div class="tw-border-l tw-border-l-separator">
                    <button type="button" class="tw-h-32-px tw-w-30-px nextBtn" (click)="nextPageChange(page)" [disabled]="page === totalPages">
                        <app-svg-icon [svgSource]="'arrow-right-medium'" [styleClasses]="'tw-pl-6-px'" [height]="'20px'" [width]="'20px'"></app-svg-icon>
                    </button>
                </div>
            </div>
            <div *ngIf="pageType !== PaginatorPage.DASHBOARD" class="tw-flex tw-justify-between">
                <div>
                    <button type="button" class="tw-h-32-px tw-w-32-px prevBtn tw-flex tw-place-items-center" (click)="navigateToPage(1)" [disabled]="page === 1" aria-label="First page button">
                        <app-svg-icon [svgSource]="'arrow-bar-left-medium'" [height]="'20px'" [width]="'20px'" [styleClasses]="page === 1 ? 'tw-text-lv-pagination-icon-disable-color': 'tw-text-lv-pagination-icon-active-color'" [isTextColorAllowed]="true"></app-svg-icon>
                    </button>
                </div>
                <div>
                    <button type="button" class="tw-h-32-px tw-w-32-px prevBtn" (click)="previousPageChange(page)" [disabled]="page === 1" aria-label="Previous page button">
                        <app-svg-icon [svgSource]="'arrow-left-medium'" [height]="'20px'" [width]="'20px'" [styleClasses]="page === 1 ? 'tw-text-lv-pagination-icon-disable-color': 'tw-text-lv-pagination-icon-active-color'" [isTextColorAllowed]="true"></app-svg-icon>
                    </button>
                </div>
                <div class="tw-w-fix tw-h-32-px tw-flex tw-items-center tw-justify-center tw-border-2-px tw-border-border-tertiary tw-py-8-px tw-px-12-px tw-rounded-4-px tw-bg-white tw-mr-10-px">
                    {{ 'paginator.pageAndTotal' | transloco: { page: page, totalPages: totalPages } }}
                </div>
                <div >
                    <button type="button" class="tw-h-32-px tw-w-32-px nextBtn" (click)="nextPageChange(page)" [disabled]="page === totalPages" aria-label="Next page button">
                        <app-svg-icon [svgSource]="'arrow-right-medium'" [height]="'20px'" [width]="'20px'" [styleClasses]="page === totalPages ? 'tw-text-lv-pagination-icon-disable-color': 'tw-text-lv-pagination-icon-active-color'" [isTextColorAllowed]="true"></app-svg-icon>
                    </button>
                </div>
                <div>
                    <button type="button" class="tw-h-32-px tw-w-32-px nextBtn tw-flex tw-place-items-center" (click)="navigateToPage(totalPages)" [disabled]="page === totalPages" aria-label="Last page button">
                        <app-svg-icon [svgSource]="'arrow-bar-right-medium'" [height]="'20px'" [width]="'20px'" [styleClasses]="page === totalPages ? 'tw-text-lv-pagination-icon-disable-color': 'tw-text-lv-pagination-icon-active-color'" [isTextColorAllowed]="true"></app-svg-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
