<p-table [value]="getTableSourceData()" [tableStyle]="{ 'min-width': '50rem'}">
    <ng-template pTemplate="header">
        <tr>
        <th class="!tw-pl-40-px">{{sourceField | titlecase | snakeCaseToSpaceCase}} in Fyle</th>
        <th>{{destinationField | titlecase}} in {{appName}}</th>
        <th *ngIf="!isDashboardMappingResolve">Status</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-mapping>
        <tr>
            <td>
                <div class="tw-flex tw-items-center">
                    <svg-icon-sprite *ngIf="mapping.auto_mapped" pTooltip="Auto-mapped" tooltipPosition="top" src="flash" width="12px" height="12px" class="tw-mr-12-px tw-text-placeholder"></svg-icon-sprite>
                    <span [ngClass]="{'tw-pl-24-px': !mapping.auto_mapped}">{{ mapping.value }}</span>
                </div>
            </td>
            <td>
                <p-dropdown appendTo="body" (onShow)="tableDropdownWidth()"
                [ngModel]="getDropdownValue(mapping)" 
                [options]="destinationOptions" 
                optionLabel="value" 
                placeholder="Select an Option" 
                (onChange)="save(mapping, $event); getDropdownValue(mapping)"
                [filter]="true"
                filterBy="value">
                </p-dropdown>                
            </td>
            <td *ngIf="!isDashboardMappingResolve">
                <p *ngIf="getDropdownValue(mapping)" class="mapped">MAPPED</p>
                <p *ngIf="!getDropdownValue(mapping)" class="unmapped">UNMAPPED</p>
            </td>
        </tr>
        <ng-container *ngTemplateOutlet="shimmers"></ng-container>
    </ng-template>
</p-table>

<ng-template #shimmers>
    <app-shimmers [isMappingTableShimmers]="isLoading"></app-shimmers>
</ng-template>