<p-table [value]="filteredMappings" [tableStyle]="{ 'min-width': '50rem'}">
    <ng-template pTemplate="header">
        <tr>
        <th class="!tw-pl-40-px">{{helper.sentenseCaseConversion(sourceField | snakeCaseToSpaceCase | titlecase)}} in {{brandingConfig.brandName}}</th>
        <th>{{helper.sentenseCaseConversion(destinationField | snakeCaseToSpaceCase | titlecase)}} in {{appName}}</th>
        <th *ngIf="!isDashboardMappingResolve">Status</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-mapping>
        <tr *ngIf="!isLoading" [ngClass]="{'tw-h-70-px': isDashboardMappingResolve}">
            <td>
                <div class="tw-flex tw-items-center">
                    <app-svg-icon *ngIf="mapping.auto_mapped && !isDashboardMappingResolve" [tooltipText]="'Auto-mapped'" [tooltipPosition]="'top'" [svgSource]="'flash-on'" [width]="'12px'" [height]="'12px'" [styleClasses]="'tw-mr-12-px tw-text-placeholder'"></app-svg-icon>
                    <span class="tw-text-text-secondary" [ngClass]="{'tw-pl-24-px': !mapping.auto_mapped && !isDashboardMappingResolve}">{{ mapping.value }}</span>
                </div>
            </td>
            <td>
                <p-dropdown 
                    appendTo="body" 
                    (onShow)="tableDropdownWidth()"
                    [ngModel]="getDropdownValue(mapping)" 
                    [options]="destinationOptions" 
                    optionLabel="value" 
                    placeholder="Select an option" 
                    (onChange)="save(mapping, $event); getDropdownValue(mapping)"
                    [filter]="true"
                    [emptyFilterMessage]="isSearching ? 'Searching...' : 'No results found'"
                    (onFilter)="searchOptions($event)">
                    <ng-template pTemplate="filter" let-options="options">
                        <!-- <ng-template pTemplate="filter" let-options="options"> -->
                            <div class="flex gap-1">
                                <div class="p-inputgroup" (click)="$event.stopPropagation()">
                                    <span class="p-inputgroup-addon"><i class="pi pi-search"></i></span>
                                    <input 
                                        type="text"
                                        pInputText
                                        placeholder="Filter" 
                                        [(ngModel)]="filterValue"
                                        (keyup)="customFilterFunction($event, options)" />
                                </div>
                            </div>
                        <!-- </ng-template> -->
                        <!-- <app-search [form]="form" [isDropdown]="true" [placeholder]="'Search'" [styleClasses]="'tw-w-[100%] tw-h-dropdown-option-height tw-bg-white '" (handleSimpleSearch)="searchOptions({filter:$event})" (searchFocused)="onSearchFocus($event)"></app-search> -->
                    </ng-template>
                    <ng-template let-value pTemplate="selectedItem">
                        <div *ngIf="value">
                            <p>
                                <span *ngIf="value?.code && isMultiLineOption">{{ value?.code }}</span>
                                {{ value?.value }} 
                            </p>
                        </div>
                        <div *ngIf="!value" class="tw-text-placeholder">
                            Select an option
                        </div>
                    </ng-template>
                    <ng-template let-options pTemplate="item">
                        <div>
                            <span #textElement
                            [ngStyle]="{'white-space': 'nowrap', 'overflow': 'hidden', 'text-overflow': 'ellipsis', 'max-width': '16rem'}"
                            [pTooltip]="isOverflowing(textElement, options)" tooltipPosition="top">
                            {{options.value}}
                            </span>
                            <p *ngIf="isMultiLineOption" class="tw-text-text-muted tw-text-12-px">{{ options.code ? options.code : '--'}}</p>
                        </div>
                    </ng-template>
                    <ng-template [formGroup]="form" pTemplate="filter" let-options="options">
                        <div *ngIf="destinationOptions.length" [ngClass]="{'tw-border tw-border-border-primary tw-w-290-px tw-rounded-4-px' : brandingConfig.brandId === 'co', 'fyle' : brandingConfig.brandId !== 'co'}">
                            <p-iconField iconPosition="left">
                                <p-inputIcon>
                                    <app-svg-icon [svgSource]="'search-medium'" [width]="'18px'" [height]="'18px'" [styleClasses]="brandingConfig.brandId === 'fyle' ? 'tw-text-search-focused-search-icon' : 'tw-text-search-focused-filled-border'" [isTextColorAllowed]="true"></app-svg-icon>
                                </p-inputIcon>
                                <input #filterInput type="text" class="!tw-h-32-px !tw-w-288-px !tw-rounded-4-px !tw-pl-40-px" (focus)="clearSearch($event); options.filter($event)" (keyup)="options.filter($event)" pInputText formControlName="searchOption"/>
                            </p-iconField>
                        </div>
                    </ng-template>
                </p-dropdown>
            </td>
            <td *ngIf="!isDashboardMappingResolve">
                <p *ngIf="getDropdownValue(mapping)" class="mapped">{{brandingFeatureConfig.isIconsInsideButtonAllowed ? 'MAPPED': 'Mapped'}}</p>
                <p *ngIf="!getDropdownValue(mapping)" class="unmapped">{{brandingFeatureConfig.isIconsInsideButtonAllowed ? 'UNMAPPED': 'Unmapped'}}</p>
            </td>
        </tr>
        <ng-container *ngTemplateOutlet="shimmers"></ng-container>
    </ng-template>
</p-table>

<ng-template #shimmers>
    <tr *ngFor="let _ of [0,1,2,3,4,5,6]">
        <td *ngIf="isLoading"><p-skeleton width="150px" height="28px" shape="rectangle"></p-skeleton></td>
        <td *ngIf="isLoading"><p-skeleton width="250px" height="28px" shape="rectangle"></p-skeleton></td>
    </tr>
</ng-template>