<div class="tw-absolute tw-bg-header-1 tw-h-168-px tw-w-[100%] tw-z-[-1]"></div>
<div class="tw-absolute tw-bg-header-2 tw-h-168-px tw-w-[100%] tw-z-[-1]"></div>

<div class="tw-p-24-px tw-text-slightly-normal-text-color">
    <div>
        <div class="tw-normal-text-color tw-text-center tw-pb-16-px">
            <p>Complete the following steps to generate the IIF file for QBD.</p>
        </div>
        <div class="tw-flex tw-justify-center">
            <div *ngFor="let onboardingStep of onboardingSteps">
                <div class="tw-flex tw-justify-center tw-items-center">
                    <div class="tw-flex tw-justify-center step" (click)="navigate(onboardingStep.completed, onboardingStep.route)" [ngClass]="[onboardingStep.active ? 'step-state tw-border-success-toast tw-cursor-pointer' : 'step-state tw-border-box-color tw-cursor-not-allowed', onboardingStep.completed ? 'step-completed tw-border-success-toast tw-cursor-pointer':'']">
                        <img *ngIf="onboardingStep.active" src='{{ "assets/icons/stepper/" + onboardingStep.icon + ".svg" }}' class="icon" >
                        <img *ngIf="!onboardingStep.active && onboardingStep.completed" src="assets/icons/general/tick.svg" class="icon">
                        <img *ngIf="!onboardingStep.active && !onboardingStep.completed" src='{{ "assets/icons/stepper/" + onboardingStep.icon + "-inactive.svg" }}' class="icon">
                    </div>
                    <div *ngIf="onboardingStep.number !== 4" >
                        <div *ngIf="!onboardingStep.completed">
                            <img src="../../../../../../assets/icons/line-inactive.svg" alt="" srcset="">
                            <!-- <svg-icon-sprite src="line" hight="2px" class="tw-text-mandatory-field-color"></svg-icon-sprite> -->
                        </div>
                        <div *ngIf="onboardingStep.completed">
                            <img src="../../../../../../assets/icons/line.svg" alt="" srcset="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tw-flex tw-justify-center tw-pt-10-px">
            <div *ngFor="let onboardingStep of onboardingSteps">
                <div class="tw-mr-10-px" [ngClass]="onboardingStep.number === 3 ? 'tw-px-28 tw-mx-8-px' : '' ">
                    {{ onboardingStep.step }}
                </div>
            </div>
        </div>
    </div>
</div>