<div class="tw-pt-40-px tw-flex tw-justify-center tw-text-center tw-flex-col">
    <p class="tw-text-normal-text-color tw-text-20-px tw-font-500">How does the integration work?</p>
    <p class="tw-text-faded-text-color tw-text-14-px tw-pt-8-px tw-flex tw-justify-center">
        {{headerText}}
        <span class="tw-text-hyperlink-color tw-flex tw-pl-4-px tw-cursor-pointer" (click)="windowService.openInNewTab(redirectLink)">
            Read More
            <svg-icon-sprite src="open-in-new-tab" width="14px" height="14px" class="tw-text-hyperlink-color tw-pl-6-px tw-pt-3-px"></svg-icon-sprite>
        </span>
    </p>

    <div *ngIf = 'showVideo' class="tw-flex tw-justify-center tw-pt-48-px">
        <iframe width="797" height="448" src="https://www.youtube.com/embed/b63lS2DG5j4" title="Fyle Sage Intacct Integration" frameborder="0"></iframe>
    </div>

    <div class="tw-flex tw-justify-center tw-pt-48-px">
        <img src="{{svgPath}}" />
    </div>
</div>