<div [formGroup]="form" class="tw-p-24-px tw-flex tw-flex-row tw-space-between">
    <div class="tw-w-3/5 tw-flex">
        <div class="tw-pr-20-px">
            <svg-icon-sprite *ngIf="iconPath" src="{{iconPath}}" width="20px" hight="20px" class="tw-text-mandatory-field-color"></svg-icon-sprite>
        </div>
        <div class="tw-font-500 tw-leading-normal">
            <h5 class="tw-text-14-px">{{ label }}</h5>
            <h5 class="!tw-text-faded-text-color tw-text-14-px tw-pt-8-px" [innerHTML]="subLabel"></h5>
        </div>
    </div>
    <div class="tw-pl-40-px">
        <p-multiSelect [options]="emails" styleClass="tw-z-1" [formControlName]="formControllerName" [defaultLabel]="placeholder" optionLabel="email"
	    display="chip" [filter]="true" [filterBy]="'email,name'">
            <ng-template let-value pTemplate="selectedItems">
                <div *ngIf="selectedEmail"
                    class="tw-flex tw-text-12-px tw-h-22-px tw-rounded-12-px tw-text-slightly-normal-text-color tw-border-1-px tw-border-box-color tw-bg-white">
                    <p class="tw-pt-2-px tw-pl-12-px tw-pr-6-px">{{ selectedEmail }}</p>
                    <p class="tw-w-1-px tw-mr-8-px tw-bg-separator"></p>
                    <svg-icon-sprite (click)="removeEmail()" src="close" width="10px" height="10px"
                        class="tw-pr-10-px tw-pt-6-px tw-text-slightly-normal-text-color"></svg-icon-sprite>
                </div>
                <div *ngIf="selectedEmail && form.value.email.length > 1" class="tw-pl-8-px">
                    <p class="tw-flex tw-justify-center tw-items-center tw-p-5-px tw-h-24-px tw-w-24-px tw-bg-disabled-bg-color tw-text-12-px tw-text-faded-text-color tw-rounded-12-px">
                        +{{ form.value.email.length - 1 }}
                    </p>
                </div>
                <div *ngIf="!selectedEmail" class="tw-text-placeholder">
                    Select Email Address
                </div>
            </ng-template>
            <ng-template pTemplate="filter" let-options="options">
                <div *ngIf="emails.length" class="p-inputgroup">
                    <div class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input type="text" class="!tw-h-32-px !tw-w-270-px" (keyup)="options.filter($event)"
                            pInputText placeholder="Search by Name / Email" formControlName="search" />
                        <svg-icon-sprite *ngIf="10 > 0" src="clear" width="16px" height="16px"
                            class="tw-text-faded-text-color tw-absolute tw-top-10-px tw-right-12-px tw-cursor-pointer"
                            (click)="clearSearch(options)">
                        </svg-icon-sprite>
                    </div>
                </div>
            </ng-template>
            <ng-template let-user pTemplate="item">
                <div>
                    <p class="tw-text-sub-text-color tw-text-14-px">{{ user.name }}</p>
                    <p class="tw-pt-4-px tw-text-placeholder tw-text-12-px">{{ user.email }}</p>
                </div>
            </ng-template>
        </p-multiSelect>
        <div>
            <div class="tw-flex tw-pt-24-px tw-w-27-vw max-lg:tw-w-20-vw">
                <p class="tw-text-slightly-normal-text-color tw-text-14-px tw-pr-12-px">or</p>
                <div class="tw-flex tw-cursor-pointer" (click)="openDialog()">
                    <svg-icon-sprite src="add" width="18px" height="18px"
                        class="tw-text-mandatory-field-color">
                    </svg-icon-sprite>
                    <p class="tw-pl-6-px tw-text-slightly-normal-text-color tw-text-14-px">Add new Email address</p>
                </div>
            </div> 
        </div>
    </div>
</div>

<p-dialog [dismissableMask]="true" [showHeader]="false" [modal]="true" [(visible)]="showDialog" [draggable]="false" [style]="{width: '468px'}">
    <div class="tw-pt-34-px tw-px-40-px" [formGroup]="addEmailForm">
        <p class="tw-text-slightly-normal-text-color tw-text-24-px tw-font-500">Add new Email Address</p>
        <p class="tw-pt-10-px tw-text-faded-text-color tw-text-12-px">
            Add an email address on which you would like to recieve your integration notifcation mails.
        </p>

        <div class="tw-pt-24-px">
            <p class="tw-text-sub-text-color tw-text-14-px tw-pb-8-px">
                Name <span class="tw-text-mandatory-field-color">*</span>
            </p>
            <input formControlName="name" type="text" class="tw-w-388-px tw-h-48-px" pInputText placeholder="Enter name" />

            <p class="tw-pt-16-px tw-pb-8-px tw-text-sub-text-color tw-text-14-px">
                Email Address <span class="tw-text-mandatory-field-color">*</span>
            </p>

            <div class="tw-flex">
                <input formControlName="email" type="text" class="tw-w-388-px tw-h-48-px" pInputText placeholder="Enter name" />
            </div>

            <div class="tw-flex tw-items-center tw-pt-24-px tw-pb-40-px">
                <button pButton type="button" class="p-button-raised" [disabled]="!addEmailForm.valid" (click)="addEmail()">
                    Save
                </button>
            </div>
        </div>
    </div>
</p-dialog>
