<p-dropdown
  #dropdownRef
  [options]="dropdownOptions"
  optionLabel="label"
  appendTo="body"
  [autoZIndex]="true"
  class="tw-opacity-0 tw-absolute tw-w-0 tw-h-0 tw-pointer-events-none"
></p-dropdown>


<div class="tw-bg-transparent tw-font-primary tw-text-sm tw-cursor-pointer tw-text-white tw-inline-flex tw-items-center tw-justify-start"  #buttonWrapper>

  <div class="tw-h-[40px] tw-py-[5px] tw-px-[24px] tw-bg-btn-primary-bg tw-rounded-l-[32px] tw-outline tw-outline-2 tw-outline-transparent tw-outline-offset-[-2px] tw-flex tw-items-center tw-justify-start tw-gap-[8px]">
    <div class="tw-leading-[21px]">
      {{ buttonText }}
    </div>
  </div>

  <div class="tw-w-[40px] tw-h-[40px] tw-relative tw-bg-transparent" (click)="toggleDropdown($event, dropdownRef)">
    <div class="tw-w-[40px] tw-h-[40px] tw-absolute tw-left-0 tw-top-0 tw-bg-btn-primary-bg tw-rounded-r-[32px] tw-outline tw-outline-2 tw-outline-transparent tw-outline-offset-[-2px] tw-inline-flex tw-items-center tw-justify-center">
      <div class="tw-w-[20px] tw-h-[20px] tw-relative">
        <app-svg-icon
          [svgSource]="'check-circle-outline-medium'"
          [width]="'20px'"
          [height]="'20px'"
          [styleClasses]="'tw-text-alerts-success-icon-color'"
        ></app-svg-icon>
      </div>
    </div>

    <div class="tw-w-[40px] tw-h-[2px] tw-absolute tw-left-[2px] tw-top-0 tw-rotate-90 tw-origin-top-left tw-bg-white"></div>
  </div>
</div>

