.error-box, :host ::ng-deep .error-box .p-dropdown {
    @apply tw-border-alert-toast #{!important};
}

.normal-box, :host ::ng-deep .normal-box .p-dropdown  {
    @apply tw-border-box-color #{!important};
}

.normal-box :enabled:focus-visible, :host ::ng-deep .normal-box .p-dropdown :enabled:focus-visible {
    @apply tw-border-faded-text-color #{!important};
}

.p-inputtext {
    @apply tw-w-full tw-h-40-px tw-py-10-px tw-pl-14-px tw-text-text-secondary tw-border tw-border-solid tw-rounded-4-px #{!important};
}

:host ::ng-deep .p-dropdown {
    @apply tw-w-full #{!important};
}

:host ::ng-deep .p-button {
    @apply tw-w-fit tw-py-8-px #{!important};
}