<div [formGroup]="form">
    <div>
        <p-dialog header="Header" [dismissableMask]="true" [(visible)]="isCustomSegmentDialogVisible" [showHeader]="true" [modal]="true" (onHide)="close()" [breakpoints]="{ '960px': '75vw' }" [draggable]="false" [style]="{ width: '800px', height: '900px' }">
            <ng-template pTemplate="header">
                <div>
                   <span class="tw-text-20-px tw-font-500 tw-text-modal-header-text-color">{{'netsuite.configuration.importSetting.customSegmentHeader' | transloco}}</span>
                </div>
            </ng-template>
            <div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-5/6">
                <app-loader></app-loader>
            </div>
            <div *ngIf="!isLoading">
                <div class="tw-p-24-px tw-border-t tw-border-t-border-tertiary">
                    <div *ngIf="isCustomTypeSelectionActive">
                        <div class="tw-mb-14-px">
                            <div class="tw-mb-10-px">
                                <app-mandatory-field></app-mandatory-field><label for="" class="tw-text-14-px tw-text-form-label-text-color tw-font-400 tw-ml-6-px">{{ 'netsuiteCustomSegmentDialog.chooseCustomFieldType' | transloco }}</label>
                            </div>
                            <div>
                                <p-select appendTo="body" [options]="options"
                                    formControlName="customFieldType" [placeholder]="'netsuiteCustomSegmentDialog.selectCustomFieldType' | transloco"
                                    [dropdownIcon]="'pi pi-chevron-down ' + brandingConfig.brandId"
                                    [ngClass]="{
                                        'error-box': form.controls.customFieldType.invalid && true && form.controls.customFieldType.touched,
                                        'normal-box': !(form.controls.customFieldType.invalid && true && form.controls.customFieldType.touched)
                                    }" [required]="true">
                                    <ng-template let-option pTemplate="item">
                                        <div>
                                            {{ brandingConfig.brandId ==='co' ? (option.label| sentenceCase) : (option.label)}}
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="selectedItem" let-item>
                                        <span>
                                            {{ brandingConfig.brandId ==='co' ? (item.label| sentenceCase) : (item.label)}}
                                        </span>
                                    </ng-template>
                                </p-select>
                                <app-mandatory-error-message *ngIf="form.controls.customFieldType.touched && !form.controls.customFieldType.valid && !form.controls.customFieldType.disabled" [customErrorMessage]="'netsuiteCustomSegmentDialog.customFieldTypeRequired' | transloco"></app-mandatory-error-message>
                            </div>
                        </div>
                        <div>
                            <app-configuration-info-label
                                [infoText]="'netsuiteCustomSegmentDialog.followStepsInfo' | transloco">
                            </app-configuration-info-label>
                            <video controls="controls" width="800" height="600" name="sample video" class="tw-mt-16-px" loop autoplay>
                                <source [src]="setImagesForCustomSegment()">
                            </video>
                        </div>
                    </div>
                    <div *ngIf="isInternalIDSelectionActive">
                        <div class="tw-mb-14-px">
                            <div class="tw-mb-10-px">
                                <app-mandatory-field></app-mandatory-field><label for="" class="tw-text-14-px tw-text-form-label-text-color tw-font-400 tw-ml-6-px">{{ 'netsuiteCustomSegmentDialog.enterInternalId' | transloco: { value: this.form.controls.customFieldType.value | snakeCaseToSpaceCase | lowercase } }}</label>
                            </div>
                            <div>
                                <input type="text" class="tw-border-box-color" [ngClass]="[form.controls.internalId.invalid && form.controls.internalId.touched ? 'error-box' : 'normal-box']"  pInputText formControlName="internalId" [placeholder]="'netsuiteCustomSegmentDialog.enterInternalIdPlaceholder' | transloco" required>
                                <app-mandatory-error-message *ngIf="form.controls.internalId.touched && !form.controls.internalId.valid && !form.controls.internalId.disabled" [customErrorMessage]="'netsuiteCustomSegmentDialog.internalIdRequired' | transloco"></app-mandatory-error-message>
                            </div>
                        </div>
                        <div>
                            <app-configuration-info-label
                                [infoText]="'netsuiteCustomSegmentDialog.followStepsInfo' | transloco">
                            </app-configuration-info-label>
                            <img class="tw-mt-16-px" width="800" height="600" [src]="setImagesForCustomSegment()" alt="">
                        </div>
                    </div>
                    <div *ngIf="isTransactionLineSectionActive">
                        <div class="tw-mb-14-px">
                            <div class="tw-mb-10-px">
                                <app-mandatory-field></app-mandatory-field><label for="" class="tw-text-14-px tw-text-form-label-text-color tw-font-400 tw-ml-6-px">{{ 'netsuiteCustomSegmentDialog.enterTransactionLineFieldId' | transloco }}</label>
                            </div>
                            <div>
                                <input type="text" class="tw-border-box-color" [ngClass]="[form.controls.scriptId.invalid && form.controls.scriptId.touched ? 'error-box' : 'normal-box']"  pInputText formControlName="scriptId" [placeholder]="'netsuiteCustomSegmentDialog.transactionLineFieldIdPlaceholder' | transloco" required>
                                <app-mandatory-error-message *ngIf="form.controls.scriptId.touched && !form.controls.scriptId.valid && !form.controls.scriptId.disabled" [customErrorMessage]="'netsuiteCustomSegmentDialog.transactionLineFieldIdRequired' | transloco"></app-mandatory-error-message>
                            </div>
                        </div>
                        <div>
                            <app-configuration-info-label
                                [infoText]="'netsuiteCustomSegmentDialog.followStepsInfo' | transloco">
                            </app-configuration-info-label>
                            <img width="800" height="600" class="tw-mt-16-px" [src]="setImagesForCustomSegment()" alt="">
                        </div>
                    </div>
                </div>
                <div class="tw-p-24-px tw-border-t tw-border-t-border-tertiary">
                    <div class="tw-flex tw-justify-end tw-text-14-px">
                        <div class="tw-mr-16-px">
                            <button type="button" class="p-button outline-sm" (click)="close()">
                                {{ 'netsuiteCustomSegmentDialog.cancel' | transloco }}
                            </button>
                        </div>
                        <button *ngIf="stepNumber < 3" type="button" pButton [disabled]="isDisabled()" (click)="proceedToNextStep(stepNumber)">
                            {{ 'netsuiteCustomSegmentDialog.next' | transloco }}
                        </button>
                        <button *ngIf="stepNumber === 3" type="button" pButton [disabled]="form.invalid" (click)="save()">
                            {{ 'netsuiteCustomSegmentDialog.save' | transloco }}
                        </button>
                    </div>
                </div>
            </div>
        </p-dialog>
    </div>
</div>
