@if (!isLoading) {
  <app-generic-mapping-v2
    [isLoading]="isLoading"
    [destinationOptions]="destinationOptions"
    [employeeFieldMapping]="employeeFieldMapping"
    [sourceField]="sourceField"
    [sourceFieldDisplayName]="sourceFieldDisplayName"
    [destinationField]="destinationField"
    [destinationFieldDisplayName]="destinationFieldDisplayName"
    [showAutoMapEmployee]="showAutoMapEmployee"
    [appName]="appName"
    [isCategoryMappingGeneric]="false"
    [isMultiLineOption]="acceptedCodeField.includes(destinationField) && brandingConfig.brandId !== 'co' ? true : false"
    (triggerAutoMapEmployee)="triggerAutoMapEmployees()"
  >
  </app-generic-mapping-v2>
}
