<app-outlined-icon-button
  [buttonText]="(interactionType === 'BOOK_SLOT' ? 'qbdDirectAssistedSetup.requestAssistedSetup' : 'qbdDirectAssistedSetup.needHelpWithSetup') | transloco"
  [svgSource]="'headset'"
  (buttonClick)="toggleAssistedSetupDialog()"
  [pTooltip]="isAssistedSetupSlotBooked ? ('qbdDirectAssistedSetup.requestReceivedTooltip' | transloco) : ''"
  tooltipPosition="bottom"
  tooltipStyleClass="assisted-setup-tooltip"
  [disabled]="isAssistedSetupSlotBooked">
</app-outlined-icon-button>

<p-dialog
  [visible]="isAssistedSetupDialogVisible"
  [showHeader]="false"
  [modal]="true"
  [style]="{ width: '515px', borderRadius: '8px' }"
  [dismissableMask]="true"
  [draggable]="false">
  <div class="tw-flex tw-flex-col">
    <!-- Header -->
    <div class="tw-flex tw-h-76-px tw-p-24-px tw-border-b tw-border-b-box-color tw-items-center tw-justify-between">
      <div class="tw-flex tw-items-center tw-gap-10-px">
        @if (interactionType === 'BOOK_SLOT' || isQuerySubmitted) {
          <div class="tw-h-32-px tw-w-32-px tw-bg-bg-success-light tw-rounded tw-flex tw-justify-center tw-items-center">
            <app-svg-icon [svgSource]="'check'" [styleClasses]="'tw-text-bg-success'" [width]="'24px'" [height]="'24px'"></app-svg-icon>
          </div>
        }
        <p class="tw-text-20-px tw-font-medium tw-text-text-primary tw-leading-6">
          {{  (isQuerySubmitted ? 'qbdDirectAssistedSetup.requestReceivedSuccessfullyTitle'
            : (interactionType === 'BOOK_SLOT' ? 'qbdDirectAssistedSetup.qbdIntegrationSupportTitle' : 'qbdDirectAssistedSetup.howCanWeHelpTitle')) | transloco
          }}
        </p>
      </div>
      <div class="tw-cursor-pointer">
        <app-svg-icon (click)="toggleAssistedSetupDialog()" [svgSource]="'cross'" [width]="'24px'" [height]="'24px'"></app-svg-icon>
      </div>
    </div>

    <!-- Body -->
    <div class="tw-p-6 tw-flex tw-flex-col tw-gap-4">
      @if (interactionType === 'BOOK_SLOT' || isQuerySubmitted) {
        <div class="tw-flex tw-flex-col tw-gap-4 tw-text-text-primary tw-text-14-px">
          <div class="tw-flex tw-flex-col tw-gap-4 tw-font-400">
            {{ (isQuerySubmitted ? 'qbdDirectAssistedSetup.requestReceivedBody' : 'qbdDirectAssistedSetup.scheduleCallBody') | transloco}}
          </div>

          <div class="tw-flex tw-flex-col tw-rounded-lg tw-border tw-border-box-color tw-p-3 tw-gap-2 tw-cursor-pointer" (click)="openQBDArticle()">
            <div class="tw-font-500">
              {{ 'qbdDirectAssistedSetup.learnToConnectText' | transloco }}{{brandingConfig.brandName}}
            </div>

            <div class="tw-flex tw-flex-row tw-gap-1 tw-items-center">
              <span class="tw-flex tw-items-center tw-gap-1">
                <img src="assets/{{brandingConfig.brandId}}/favicon.svg" width="16px" height="16px" />
                <span class="link tw-text-12-px tw-font-400 tw-flex tw-items-center tw-gap-1">
                  {{ 'qbdDirectAssistedSetup.viewArticle' | transloco }}
                  <app-svg-icon [svgSource]="'open-in-new-tab'" [width]="'16px'" [height]="'16px'"></app-svg-icon>
                </span>
              </span>
            </div>
          </div>
        </div>
      } @else if(!isQuerySubmitted){
        <div class="tw-flex tw-flex-col tw-mb-2">
            <div class="tw-flex tw-items-center tw-mb-2">
              <span class="tw-text-text-label tw-text-14-px tw-font-400">{{ 'qbdDirectAssistedSetup.describeIssueLabel' | transloco }}</span>
              <span class="tw-text-mandatory-field-color tw-text-14-px tw-font-500 tw-ml-1">*</span>
            </div>
              <textarea
                class="tw-w-full tw-h-64-px tw-bg-white tw-border tw-border-border-secondary tw-rounded-4 tw-flex tw-py-2 tw-px-3 tw-flex-col tw-items-start tw-self-stretch tw-text-14-px tw-font-400 tw-leading-6 focus:tw-border-border-secondary focus:tw-outline-none"
                [placeholder]="'qbdDirectAssistedSetup.issueTextareaPlaceholder' | transloco"
                [(ngModel)]="issueDescription"></textarea>
          </div>
      }
    </div>

    <!-- Footer -->
    <div class="tw-flex tw-justify-end tw-py-4 tw-px-6 tw-border-t tw-border-t-box-color tw-gap-4">
        @if(interactionType === 'QUERY' && !isQuerySubmitted){
          <button type="button" (click)="toggleAssistedSetupDialog()" class="cancel-btn">
            {{ 'qbdDirectAssistedSetup.cancel' | transloco }}
          </button>
        }

        <button type="button" pButton (click)="onRequestAssistedSetup()" class="submit-btn" [disabled]="isButtonDisabled" [ngClass]="interactionType === 'BOOK_SLOT' && isAssistedSetupSlotBooked || isQuerySubmitted ? 'tw-max-w-66-px' : (interactionType === 'BOOK_SLOT' ? 'tw-max-w-104-px' : 'tw-max-w-144-px')">
          {{
            (isQuerySubmitted ? 'qbdDirectAssistedSetup.okay' : (interactionType === 'BOOK_SLOT' ? 'qbdDirectAssistedSetup.bookASlot' : 'qbdDirectAssistedSetup.submitARequest')) | transloco
          }}
        </button>
    </div>
  </div>
</p-dialog>
