<app-outlined-icon-button 
  [buttonText]="interactionType === 'BOOK_SLOT' ? 'Request assisted setup' : 'Need help with setup'" 
  [svgSource]="'headset'" 
  (buttonClick)="toggleAssistedSetupDialog()"
  [pTooltip]="isAssistedSetupSlotBooked ? 'Your request has been&#10;received.' : ''"
  tooltipPosition="bottom"
  tooltipStyleClass="assisted-setup-tooltip"
  [disabled]="isAssistedSetupSlotBooked">
</app-outlined-icon-button>

<p-dialog 
  [visible]="isAssistedSetupDialogVisible"
  [showHeader]="false"
  [modal]="true"
  [style]="{ width: '515px', borderRadius: '8px' }"
  [dismissableMask]="true"
  [draggable]="false">
  <div class="tw-flex tw-flex-col">
    <!-- Header -->
    <div class="tw-flex tw-h-[76px] tw-p-24-px tw-border-b tw-border-b-box-color tw-items-center tw-justify-between">
      <div class="tw-flex tw-items-center tw-gap-10-px">
        @if (interactionType === 'BOOK_SLOT' || isQuerySubmitted) {
          <div class="tw-h-8 tw-w-8 tw-bg-bg-success-light tw-rounded tw-flex tw-justify-center tw-items-center">
            <app-svg-icon [svgSource]="'check'" [styleClasses]="'tw-text-bg-success'" [width]="'24px'" [height]="'24px'"></app-svg-icon>
          </div>
        }
        <p class="tw-text-20-px tw-font-medium tw-text-text-primary tw-leading-6">
          {{  isQuerySubmitted ? 'Request Received successfully' 
            : (interactionType === 'BOOK_SLOT' ? 'QuickBooks Desktop integration support' : 'How can we help?') 
          }}
        </p>
      </div>
      <div class="tw-cursor-pointer">
        <app-svg-icon (click)="toggleAssistedSetupDialog()" [svgSource]="'cross'" [width]="'24px'" [height]="'24px'"></app-svg-icon>
      </div>
    </div>

    <!-- Body -->
    <div class="tw-p-6 tw-flex tw-flex-col tw-gap-4">
      @if (interactionType === 'BOOK_SLOT' || isQuerySubmitted) {
        <div class="tw-flex tw-flex-col tw-gap-4 tw-text-text-primary tw-text-14-px">
          <div class="tw-flex tw-flex-col tw-gap-4 tw-font-400">
            {{ isQuerySubmitted ? 'We have successfully received your request. Our team will get in touch with you shortly to help you with your issue.' : 'Schedule a quick call with our onboarding specialist at your convenience, we will guide you step-by-step through the entire process and ensure a smooth setup experience'}}
          </div>

          <div class="tw-flex tw-flex-col tw-rounded-lg tw-border tw-border-box-color tw-p-3 tw-gap-2">
            <div class="tw-font-500">
              Learn how to connect QuickBooks Desktop with Fyle
            </div>
            
            <div class="tw-flex tw-flex-row tw-gap-1 tw-items-center">
              <span class="tw-flex tw-items-center tw-gap-1 tw-cursor-pointer">
                <img class="tw-w-4 tw-h-4" src="../../../../../assets/fyle/favicon.png"/> 
                <span class="tw-text-hyperlink-color tw-text-12-px tw-font-400 tw-flex tw-items-center tw-gap-1">
                  View article
                  <app-svg-icon [svgSource]="'open-in-new-tab'" [width]="'16px'" [height]="'16px'"></app-svg-icon> 
                </span>
              </span>
            </div>
          </div>
        </div>
      } @else if(!isQuerySubmitted){ 
        <div class="tw-flex tw-flex-col tw-mb-2">
            <div class="tw-flex tw-items-center tw-mb-2">
              <span class="tw-text-text-label tw-text-14-px tw-font-400">Describe the issue you're facing</span>
              <span class="tw-text-mandatory-field-color tw-text-14-px tw-font-500 tw-ml-1">*</span>
            </div>
              <textarea 
                class="tw-w-full tw-h-16 tw-bg-white tw-border tw-border-border-secondary tw-rounded-4 tw-flex tw-py-2 tw-px-3 tw-flex-col tw-items-start tw-self-stretch tw-text-14-px tw-font-400 tw-leading-6 focus:tw-border-border-secondary focus:tw-outline-none" 
                placeholder="Explain the issue in detail. Share the step you are stuck on, what didn't work, and any error codes or messages you saw."
                [(ngModel)]="issueDescription"></textarea>
          </div>
      }
    </div>

    <!-- Footer -->
    <div class="tw-flex tw-justify-end tw-py-4 tw-px-6 tw-border-t tw-border-t-box-color tw-gap-4">
        @if(interactionType === 'QUERY' && !isQuerySubmitted){
          <button type="button" (click)="toggleAssistedSetupDialog()" class="cancel-btn">
            Cancel
          </button>
        }

        <button type="button" pButton (click)="onRequestAssistedSetup()" class="submit-btn" [ngClass]="interactionType === 'BOOK_SLOT' && isAssistedSetupSlotBooked ? 'tw-max-w-[66px]' : (interactionType === 'BOOK_SLOT' ? 'tw-max-w-[104px]' : 'tw-max-w-[143px]')">
          {{ 
            isQuerySubmitted ? 'Okay' : (interactionType === 'BOOK_SLOT' ? 'Book a slot' : 'Submit a request') 
          }}
        </button>
    </div>
  </div>
</p-dialog>