@if (!expenses) {
  <div class="tw-flex tw-justify-center tw-items-center tw-h-full">
    <app-loader></app-loader>
  </div>
}

<div class="tw-rounded-8-px tw-bg-white tw-border-1-px tw-border-separator" [ngClass]="brandingStyle.common.mainComponentShadow">
  <div>
    @if (totalCount > 0 || (isDateSelected || searchQuery)) {
      <app-export-log-filter
        [exportLogForm]="skipExportLogForm"
        [hideCalendar]="hideCalendar"
        [dateOptions]="dateOptions"
        (handleSimpleSearch)="handleSimpleSearch($event)">
      </app-export-log-filter>
    }

    @if (!isLoading) {
      <app-skipped-export-log-table [filteredExpense]="filteredExpenses" >
      </app-skipped-export-log-table>
    }

    @if (totalCount > 0 && !isLoading) {
      <div class="tw-p-24-px tw-border-t-1-px">
        <app-paginator
          [dropDownValue]="limit"
          [page]="currentPage"
          [totalCount]="totalCount"
          (pageSizeChangeEvent)="pageSizeChanges($event)"
          (pageOffsetChangeEvent)="pageChanges($event)">
        </app-paginator>
      </div>
    }

    @if ((isDateSelected || searchQuery) && totalCount === 0 && !isLoading) {
      <app-zero-state-with-illustration
        [mainText]="'exportLog.skipExportLogZeroStateHeaderText' | transloco"
        [subText]="'exportLog.skipExportLogZeroStateSubHeaderText' | transloco">
      </app-zero-state-with-illustration>
    }

  </div>

  @if (totalCount === 0 && (!isDateSelected && !searchQuery) && !isLoading) {
    <app-zero-state-with-illustration
      [mainText]="'exportLog.skipExportLogCountZeroStateHeaderText' | transloco"
      [subText]="'exportLog.skipExportLogCountZeroStateSubHeaderText' | transloco">
    </app-zero-state-with-illustration>
  }
</div>
