<div>
    <div>
        <fyle-integrations-ui-lib-app-app-header [iconPath]="'assets/logos/quickbooks-desktop.svg'" [appName]="'QuickBooks Desktop'" [appDescription]="'Generate IIF file to export expenses from Fyle to QuickBooks Desktop'" [isLoading]="isLoading" [isIntegrationSetupInProgress]="isQBDSetupInProgress" [isIntegrationConnected]="isQBDConnected"></fyle-integrations-ui-lib-app-app-header>
    </div>
    <div>
        <fyle-integrations-ui-lib-app-app-integration-landing [headerText]="'Configure the integration to generate custom IIF file to export expenses from Fyle to QuickBooks Desktop.'" [svgPath]="'assets/flow-charts/qbd-flow-chart.svg'" [redirectLink]="RedirectLink.QBD"></fyle-integrations-ui-lib-app-app-integration-landing>
    </div>
</div>