<div [formGroup]="form" class="tw-p-24-px tw-flex tw-flex-row tw-space-between">
    <div class="tw-w-3/5 tw-flex">
        <div class="tw-pr-20-px">
            <svg-icon-sprite *ngIf="iconPath" src="{{iconPath}}" width="20px" hight="20px" class="tw-text-mandatory-field-color"></svg-icon-sprite>
        </div>
        <div class="tw-font-500 tw-leading-normal">
            <h5 class="tw-text-14-px">{{ label }}</h5>
            <h5 class="!tw-text-faded-text-color tw-text-14-px tw-pt-8-px" [innerHTML]="subLabel"></h5>
        </div>
    </div>
    <div *ngIf="options" class="tw-flex tw-pl-40-px">
        <div *ngFor="let option of options" class="p-field-checkbox tw-mr-20-px">
            <p-radioButton class="tw-mr-10-px" [value]="option.value" [formControlName]="formControllerName"></p-radioButton>
            <label class="!tw-text-14-px">{{option.label}}</label>
        </div>
    </div>
    <div *ngIf="!options">
        <h4 class="tw-pl-40-px tw-mr-20-px">
            {{ expensesGroup.label }}
        </h4>
    </div>
  </div>