<div class="tw-p-24-px tw-border-b tw-border-b-border-tertiary">
  <div class="tw-flex tw-items-center tw-justify-between">

    <div>
      <h3 class="tw-text-text-primary tw-font-nav-link-font-weight tw-py-4-px"
        [ngClass]="brandingStyle.configuration.stepHeaderH3Text">
        {{ headerText }}
      </h3>
      <h5 class="tw-text-text-tertiary tw-text-14-px !tw-font-400 tw-text-pretty tw-pt-2-px tw-mr-4-px">
        <span [innerHTML]="contentText"></span>
        <a *ngIf="redirectLink"
          class="link tw-text-14-px tw-w-fit tw-pl-4-px tw-inline-flex tw-items-center"
          (click)="windowService.openInNewTab(redirectLink)">
          {{'common.readMoreText' | transloco}}
          <app-svg-icon *ngIf="brandingFeatureConfig.isIconsInsideButtonAllowed" [svgSource]="'open-in-new-tab'"
            [width]="'16px'" [height]="'16px'" class="tw-text-link-primary tw-pl-2-px tw-w-fit">
          </app-svg-icon>
        </a>
      </h5>
    </div>

    <div>
      @if(showSyncButton && brandingFeatureConfig.isIconsInsideButtonAllowed){
        @if(brandingFeatureConfig.isDashboardButtonOutlined){
            <app-outlined-icon-button (buttonClick)="refreshDimensions()"  tooltipPosition="bottom" [pTooltip]="'configurationStepHeader.syncButtonTooltip' | transloco: { appName: appName, brandName: brandingConfig.brandName }" [isIconLeftSide]="true" [iconSize]="'20px'" [svgSource]="'arrow-rotate-sync-medium'" [styleClasses]="'tw-h-10 tw-py-2 tw-px-6'" [buttonText]="'configurationStepHeader.syncButtonText' | transloco"></app-outlined-icon-button>
            } @else {
      <button
        [pTooltip]="'configurationStepHeader.syncButtonTooltip' | transloco: { appName: appName, brandName: brandingConfig.brandName }"
        (click)="refreshDimensions()" tooltipPosition="bottom"
        class="tw-py-8-px tw-px-12-px tw-h-32-px tw-flex tw-items-center focus:tw-ring-0 tw-justify-center tw-rounded tw-bg-white tw-text-black tw-border tw-border-gray-300 focus:tw-outline-none focus:tw-ring-opacity-50 active:tw-scale-95 transition-transform">
        <app-svg-icon *ngIf="brandingFeatureConfig.isIconsInsideButtonAllowed" [svgSource]="'arrow-rotate-sync'"
          [width]="'16px'" [height]="'16px'" [styleClasses]="'tw-text-mandatory-field-color tw-pr-8-px'"></app-svg-icon>
        <span class="tw-text-14-px">
          {{ 'configurationStepHeader.syncButtonText' | transloco }}
        </span>
      </button> } }


      @if(!brandingFeatureConfig.isIconsInsideButtonAllowed){
        @if(!brandingFeatureConfig.isDashboardButtonOutlined){
      <div tooltipPosition="bottom"
        [pTooltip]="'configurationStepHeader.refreshDataTooltip' | transloco: { appName: appName }">
        <span (click)="refreshDimensions()" class="p-button primary-outline">
          {{ 'configurationStepHeader.refreshDataButtonText' | transloco }}
        </span>
      </div>
        } @else {
            <app-outlined-icon-button (buttonClick)="refreshDimensions()" tooltipPosition="bottom" [pTooltip]="'configurationStepHeader.refreshDataTooltip' | transloco: { appName: appName }" [styleClasses]="'tw-h-10 tw-py-2 tw-px-6'" [buttonText]="'configurationStepHeader.refreshDataButtonText' | transloco"></app-outlined-icon-button>
        }
      }

    </div>

  </div>
</div>
