<div class="tw-p-24-px tw-border-b tw-border-b-gray-200">
    <div class="tw-flex tw-items-center tw-justify-between">
        <div>
          <h3 class="tw-text-normal-text-color tw-text-18-px tw-font-500">
            {{ headerText }}
          </h3>
          <h5 class="tw-text-faded-text-color tw-text-14-px tw-pt-8-px !tw-font-400">
            {{ contentText }}
            <a *ngIf="redirectLink"
              class="tw-text-hyperlink-color tw-pl-4-px tw-w-fit tw-cursor-pointer"
              (click)="windowService.openInNewTab(redirectLink)">
              Read More
                <svg-icon-sprite src="open-in-new-tab" width="14px" height="14px"
                  class="tw-text-hyperlink-color tw-pl-2-px tw-pt-3-px tw-w-fit tw-inline-block">
                </svg-icon-sprite>
              </a>
          </h5>
        </div>

        <button *ngIf="showSyncButton" [pTooltip]="'The integration will import all the newly updated '+ appName +' dimensions and ' + brandingConfig.brandName + ' expenses in the configured state of export'"
            (click)="refreshDimensions()" tooltipPosition="bottom"
            class="tw-h-32-px tw-w-80-px tw-mr-12-px tw-flex tw-items-center focus:tw-ring-0 tw-justify-center tw-rounded tw-bg-white tw-text-black tw-border tw-border-gray-300 focus:tw-outline-none focus:tw-ring-opacity-50 active:tw-scale-95 transition-transform">
            <img src="assets/icons/stepper/sync.svg">
            <span class="tw-text-14-px tw-pl-8-px">
                Sync
            </span>
        </button>

      </div>                             
</div>
