.container {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid var(--grayscale-light-border, #ECECEE);
    background: var(--grayscale-background, #FAFCFF);
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    // gap: 16px;
    max-width: auto; /* You can adjust this value as needed */
}

.field-label {
    @apply tw-text-faded-text-color tw-text-14-px;
}

:host ::ng-deep .p-multiselect-panel .p-multiselect-items .p-multiselect-item .p-checkbox {
    @apply tw-mb-0 tw-mt-2-px #{!important};
}

p-dropdown .p-dropdown-open {
    width: 360px !important;
}

:host ::ng-deep .selectedItem  .p-dropdown-trigger {
    @apply tw-hidden #{!important};
}
