<div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-screen">
    <app-loader></app-loader>
</div>
<div *ngIf="!isLoading" class="configuration--contents tw-border-separator tw-mt-6">
    <div>
    <app-configuration-step-header 
    [headerText]="'Advanced Settings'"
    [contentText]="'In this section, you can customize the integration based on your accounting requirements.'"
    [redirectLink]="RedirectLink.INTACCT"
    [showSyncButton]="true"></app-configuration-step-header>
    </div>

    <form [formGroup]="advancedSettingsForm">
        <div class="tw-p-24-px">
            <div class="tw-mb-16-px">
            <div class="container">
                <div class="sub-text">
                    <h4 class="tw-text-16-px !tw-font-500 ">Automation</h4>
                    <h5 class="!tw-text-faded-text-color tw-text-14-px tw-pt-10-px !tw-font-400 !tw-leading-4 tw-pb-4">
                        You can automate the export and sync of your data in this section.
                    </h5>
                </div>
            </div>
            <div class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                <app-configuration-select-field
                    [form]="advancedSettingsForm"
                    [isFieldMandatory]="true"
                    [mandatoryErrorListName]="'automatic export method'"
                    [label]="'Schedule Automatic Export'"
                    [subLabel]="'Set a frequency based on how often you want your expenses in Fyle to be exported to Sage Intacct.'"
                    [options]="hours"
                    [iconPath]="'email'"
                    [placeholder]="'Set Schedule'"
                    [formControllerName]="'scheduleAutoExport'">
                </app-configuration-select-field>
                <app-email-multi-select-field
                    [form]="advancedSettingsForm"
                    [label]="'Send Error Notification to'"
                    [isFieldMandatory]="true"
                    [mandatoryErrorListName]="'email for error notification'"
                    [subLabel]="'Select or add an email address to notify upon import failure or integration error.'"
                    [options]="adminEmails"
                    [iconPath]="'expense'"
                    [placeholder]="'Select email address'"
                    [formControllerName]="'email'">
                </app-email-multi-select-field>
            </div>
            <div class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
            <app-configuration-select-field
            [form]="advancedSettingsForm"
            [isFieldMandatory]="true"
            [mandatoryErrorListName]="'payment sync method'"
            [label]="'Auto-Sync Payment Status for Reimbursable Expenses'"
            [subLabel]="'You can set the sync preference based on whether you are handling the payments for your employees within Fyle or outside Fyle.'"
            [options]="paymentSyncOptions"
            [iconPath]="'sync'"
            [placeholder]="'Select payment sync method'"
            [formControllerName]="'autoSyncPayments'"></app-configuration-select-field>
        </div>
        </div>

        <div class="tw-mb-16-px">
            <div class="container">
                <div class="sub-text">
                    <h4 class="tw-text-16-px !tw-font-500 ">Other Preferences</h4>
                    <h5 class="!tw-text-faded-text-color tw-text-14-px tw-pt-10-px !tw-font-400 !tw-leading-4 tw-pb-4">
                        Based on your preference, you can choose whether you want to create any new records in Sage Intacct from Fyle. (when there is no employee record found, or when the accounting period is closed)
                    </h5>
                </div>
            </div>
            <div class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                <app-configuration-toggle-field 
                [form]="advancedSettingsForm"
                [label]="'Auto-Create Employee/Vendor'" 
                [subLabel]="'When matching Employee/Vendor record is not found for an employee in Fyle, the integration will auto-create a new record in Sage Intacct.'" 
                [formControllerName]="'autoCreateEmployeeVendor'"></app-configuration-toggle-field>
            </div>
            <div class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                <app-configuration-toggle-field 
                [form]="advancedSettingsForm"
                [label]="'Post Entries in the Current Accounting Period'" 
                [subLabel]="'If there are expenses for which the accounting period is closed in Sage Intacct, you can export those to the current month by enabling this option.'" 
                [formControllerName]="'postEntriesCurrentPeriod'"></app-configuration-toggle-field>
            </div>
        </div>

        <div class="tw-mb-16-px">
            <div class="container">
                <div class="sub-text">
                    <h4 class="tw-text-16-px !tw-font-500 ">Customization</h4>
                    <h5 class="!tw-text-faded-text-color tw-text-14-px tw-pt-10-px !tw-font-400 !tw-leading-4 tw-pb-4">
                        In this section, you can customize the data that you'd like to export from Fyle to Sage Intacct. You can choose what data points need to be exported and what shouldn't be.
                    </h5>
                </div>
            </div>
            <div class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                <app-configuration-multi-select
                [form]="advancedSettingsForm"
                [label]="'Set the Description Field in Sage Intacct'"
                [subLabel]="'You can choose from a list of available data points that you would like to export to the description field in Sage Intacct and re-order them as per your requirement.'"
                [options]="defaultMemoFields"
                [iconPath]="'expense'"
                [placeholder]="'Select Description'"
                [formControllerName]="'setDescriptionField'"></app-configuration-multi-select>
                <div class="tw-p-24-px">
                    <p class="tw-text-12-px tw-mb-12-px tw-text-faded-text-color">Preview of the Description Field</p>
                    <div class="tw-bg-disabled-bg-color tw-rounded-4-px tw-text-14-px tw-py-8-px tw-px-8-px">
                        <span>{{ memoPreviewText }}</span>
                    </div>
                </div>
            </div>
            <div class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                <app-configuration-toggle-field 
                [form]="advancedSettingsForm"
                [label]="'Skip Selective Expenses from being Exported to Sage Intacct'" 
                [subLabel]="'The integration will export all the expenses once they reach their export state. If you would like to skip few expenses from being exported, set up a conditional rule here.'" 
                [formControllerName]="'skipSelectiveExpenses'"></app-configuration-toggle-field>
                <div *ngIf="advancedSettingsForm.value.skipSelectiveExpenses">
                    <app-skip-export
                    #skipExportChild
                    [enableSkipExport]="advancedSettingsForm.value.skipSelectiveExpenses" 
                    [skipExportForm]="skipExportForm" 
                    (skipExportFormChange)="updateForm($event)">
                  </app-skip-export>                  
                </div>
            </div>
        </div>
        <div class="tw-mb-16-px">
            <div class="container">
                <div class="sub-text">
                    <h4 class="tw-text-16-px !tw-font-500 ">Default Field Values</h4>
                    <h5 class="!tw-text-faded-text-color tw-text-14-px tw-pt-10-px !tw-font-400 !tw-leading-4 tw-pb-4">
                        If you've set up any field as a mandatory field in Sage Intacct and don't collect a value from your employees for the same, you can configure a value here that will be added to all your expenses.
                    </h5>
                </div>
            </div>
            <div class="tw-pt-4 tw-pl-6 field-label">
                <div class="tw-font-200"><label>Default Location</label></div>
                <div class="tw-pt-2">
                    <p-dropdown [options]="sageIntacctLocations" optionLabel="value" formControlName="defaultLocation" placeholder="Select Location"></p-dropdown>
                    <span class="tw-pl-4">
                        <input formControlName="useEmployeeLocation" type="checkbox" />
                        <label class="tw-pl-2 tw-font-100" for="checkbox">Use Employee's Location in Sage Intacct</label>
                    </span>
                </div>  
              </div>

              <div class="tw-pt-4 tw-pl-6 field-label">
                <div class="tw-font-200"><label>Default Department</label></div>
                <div class="tw-pt-2">
                  <p-dropdown [options]="sageIntacctDepartments" optionLabel="value" formControlName="defaultDepartment" placeholder="Select Department"></p-dropdown>
                    <span class="tw-pl-4">
                        <input formControlName="useEmployeeDepartment" type="checkbox" />
                        <label class="tw-pl-2 tw-font-100" for="checkbox">Use Employee's Department in Sage Intacct</label>
                    </span>
                </div>  
              </div> 

              <div class="tw-pt-4 tw-pl-6 field-label">
                <div class="tw-font-200"><label>Default Project</label></div>
                <div class="tw-pt-2">
                  <p-dropdown [options]="sageIntacctProjects" optionLabel="value" formControlName="defaultProject" placeholder="Select Project"></p-dropdown>
                </div>  
              </div> 

              <div class="tw-pt-4 tw-pl-6 field-label">
                <div class="tw-font-200"><label>Default Class</label></div>
                <div class="tw-pt-2">
                  <p-dropdown [options]="sageIntacctClasses" optionLabel="value" formControlName="defaultClass" placeholder="Select Class"></p-dropdown>
                </div>  
              </div> 

              <div class="tw-pt-4 tw-pl-6 field-label">
                <div class="tw-font-200"><label>Default Items</label></div>
                <div class="tw-pt-2">
                  <p-dropdown [options]="sageIntacctDefaultItem" optionLabel="value" formControlName="defaultItems" placeholder="Select Item"></p-dropdown>
                </div>  
              </div>

              <div class="tw-pt-4 tw-pl-6 field-label" *ngIf="isCCT()">
                <div class="tw-font-200"><label>Payment Account</label></div>
                <div class="tw-pt-2">
                  <p-dropdown [options]="sageIntacctPaymentAccount" optionLabel="value" formControlName="defaultPaymentAccount" placeholder="Select Item"></p-dropdown>
                </div>  
              </div> 
        </div>
    </div>
        <div>
            <app-configuration-step-footer [ctaText] = "!saveInProgress ? (isOnboarding ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVE) : ConfigurationCtaText.SAVING" (save)="save()" [isButtonDisabled]="!advancedSettingsForm.valid && (advancedSettingsForm.value.skipSelectiveExpenses ? !skipExportForm.valid : true)"></app-configuration-step-footer>
        </div>
    </form>
</div>