.container {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    border: 1px solid var(--grayscale-light-border, #ECECEE);
    background: var(--grayscale-background, #FAFCFF);
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    // gap: 16px;
    max-width: auto; /* You can adjust this value as needed */
}

.field-label {
    // color: var(--grayscale-label, #5A5D72);
    // font-family: Aktiv Grotesk;
    // font-size: 14px;
    // font-weight: 400;
    @apply tw-text-faded-text-color tw-text-14-px;
}
