<div class="tw-absolute tw-bg-header-1 tw-h-110-px tw-w-[100%] tw-z-[-1]"></div>
<div class="tw-absolute tw-bg-header-2 tw-h-110-px tw-w-[100%] tw-z-[-1]"></div>

<div class="tw-p-24-px tw-text-slightly-normal-text-color">
    <div class="tw-h-68-px tw-flex tw-justify-between">
            <div class="tw-flex">
                <div class="tw-rounded-4-px tw-border-1-px tw-border-box-color tw-flex tw-justify-center tw-bg-white tw-w-176-px">
                    <img src="{{ iconPath }}" width="140px" height="44px" class="tw-py-10-px tw-px-20-px" />
                </div>
                <div class="tw-pl-16-px tw-flex tw-flex-col">
                    <div class="tw-flex tw-pt-6-px">
                        <p class="tw-text-20-px tw-font-500 tw-text-normal-text-color">{{ appName }}</p>
                        <svg-icon-sprite *ngIf="isIntegrationConnected && !isLoading && isRecipeRunning && !hideRefreshIcon" pTooltip="Sync Data" tooltipPosition="right" src="sync" width="18px" height="14px" class="tw-cursor-pointer tw-ml-10-px tw-pt-6-px tw-text-faded-text-color" (click)="syncData()"></svg-icon-sprite>
                    </div>
                    <p *ngIf="!isIntegrationSetupInProgress" class="tw-text-sub-text-color tw-pt-2-px tw-text-14-px tw-font-400 tw-flex">{{ appDescription }}
                        <span *ngIf="redirectLink" class="tw-text-hyperlink-color tw-flex tw-pl-4-px tw-cursor-pointer" (click)="windowService.openInNewTab(redirectLink)">
                            Read More
                            <svg-icon-sprite src="open-in-new-tab" width="14px" height="14px" class="tw-text-hyperlink-color tw-pl-6-px tw-pt-3-px"></svg-icon-sprite>
                        </span>
                    </p>
                    <div *ngIf="isIntegrationSetupInProgress" class="tw-flex tw-text-slightly-normal-text-color tw-text-14-px tw-pt-10-px tw-pb-18-px">
                        <app-loader [styleClass]="'spinner-16 tw-top-2-px'"></app-loader>
                        <p class="tw-pl-10-px">We are syncing your data between your Fyle - {{ appName }} account and this may take a few seconds</p>
                    </div>
                </div>
            </div>
            <div *ngIf="!isIntegrationSetupInProgress && !isLoading && !showErrorScreen " class="tw-flex tw-items-center">
                <button *ngIf="!isIntegrationConnected && (appName === AppName.BAMBOO_HR || appName === AppName.TRAVELPERK)" pButton type="button" class="p-button-raised" (click)="connect()" [disabled]="isConnectionInProgress">
                    {{ isConnectionInProgress ? 'Connecting' : 'Connect' }}
                    <i *ngIf="!isConnectionInProgress" class="tw-pl-10-px tw-pt-2-px !tw-text-12-px pi pi-arrow-right"></i>
                    <app-loader class="tw-ml-10-px" *ngIf="isConnectionInProgress" [styleClass]="'spinner-16-white tw-top-2-px'"></app-loader>
                </button>
                <button *ngIf="isIntegrationConnected && isRecipeRunning && appName !== AppName.GUSTO" pButton type="button" class="!tw-text-alert-toast remove-bg disconnect !tw-bg-white" (click)="disconnect()">
                    Disconnect
                </button>
                <button *ngIf="(appName === AppName.QBD || appName === AppName.INTACCT || appName === AppName.SAGE300)" pButton type="button" class="p-button-raised" (click)="connectIntegration()">
                    {{buttonText}}
                    <i *ngIf="appName === AppName.QBD" class="tw-pl-10-px tw-pt-2-px !tw-text-12-px pi pi-arrow-right"></i>
                </button>
                <iframe *ngIf="iframeSourceUrl && (appName === AppName.TRAVELPERK || appName === AppName.GUSTO)" scrolling="no" [src]="iframeSourceUrl" class="tw-mt-40-px tw-w-270-px tw-h-84-px"></iframe>
            </div>
        </div>
</div>

<p class="tw-h-1-px tw-w-[100%] tw-bg-separator"></p>