<div class="tw-mt-56-px tw-mx-80-px tw-mb-50-px">
    <div class="tw-shadow-app-card tw-rounded-12-px">
        <div>
            <app-configuration-step-header 
                [headerText]="'Configuration'"
                [contentText]="'The Fyle-Gusto Integration will import and auto-sync employee information between Gusto and Fyle. Admins will be notified when the imports fail.'"
            ></app-configuration-step-header>
        </div>
        <div class="tw-p-24-px">
            <div class="tw-rounded-12-px tw-border-1-px tw-border-disabled-bg-color tw-mb-24-px ">
                <div class="tw-p-24-px tw-border-b-1-px tw-border-b-separator tw-flex tw-items-start">
                    <div class="tw-pr-20-px tw-mt-4-px">
                        <svg-icon-sprite src="people" width="20px" hight="20px" class="tw-text-mandatory-field-color"></svg-icon-sprite>
                    </div>
                    <div>
                        <h5 class="tw-text-14-px !tw-font-500">Import Employee</h5>
                        <h5 class="!tw-text-faded-text-color tw-text-14-px tw-pt-8-px !tw-font-400 !tw-leading-4" >The following employee fields in Gusto will be mapped to their respective fields in Fyle as shown below. Any changes made to the below fields in Gusto will be auto-synced to Fyle every 24 hours.</h5>
                    </div>
                </div>
                <div class="tw-pt-20-px tw-pb-44-px tw-flex tw-items-center tw-justify-center">
                    <table class="tw-table-fixed">
                        <thead>
                          <tr>
                            <th>Gusto Field</th>
                            <th></th>
                            <th>Fyle Field</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let field of configurationFields"> 
                            <td><input type="text" [value]="field" class="gusto-configuration-fields" disabled></td>
                            <td class="right-arrow tw-content-center "><svg-icon-sprite src="arrow" width="60px" hight="10px" class="tw-text-box-color"></svg-icon-sprite></td>
                            <td><input type="text" [value]="field" class="gusto-configuration-fields" disabled></td>
                          </tr>
                          <!-- <tr> 
                            <td><input type="text" value="Employee ID" class="tw-w-300-px !tw-px-10-px !tw-bg-disabled-bg-color !tw-py-8-px tw-border tw-border-solid !tw-border-separator tw-rounded-4-px" disabled></td>
                            <td class="right-arrow tw-content-center "><svg-icon-sprite src="arrow" width="60px" hight="10px" class="tw-text-box-color"></svg-icon-sprite></td>
                            <td><input type="text" value="Employee ID" class="tw-w-300-px !tw-px-10-px !tw-bg-disabled-bg-color !tw-py-8-px tw-border tw-border-solid !tw-border-separator tw-rounded-4-px" disabled></td>
                          </tr>
                          <tr> 
                            <td><input type="text" value="Email ID" class="tw-w-300-px !tw-px-10-px !tw-bg-disabled-bg-color !tw-py-8-px tw-border tw-border-solid !tw-border-separator tw-rounded-4-px" disabled></td>
                            <td class="right-arrow tw-content-center "><svg-icon-sprite src="arrow" width="60px" hight="10px" class="tw-text-box-color"></svg-icon-sprite></td>
                            <td><input type="text" value="Email ID" class="tw-w-300-px !tw-px-10-px !tw-bg-disabled-bg-color !tw-py-8-px tw-border tw-border-solid !tw-border-separator tw-rounded-4-px" disabled></td>
                          </tr>
                          <tr> 
                            <td><input type="text" value="Department" class="tw-w-300-px !tw-px-10-px !tw-bg-disabled-bg-color !tw-py-8-px tw-border tw-border-solid !tw-border-separator tw-rounded-4-px" disabled></td>
                            <td class="right-arrow tw-content-center "><svg-icon-sprite src="arrow" width="60px" hight="10px" class="tw-text-box-color"></svg-icon-sprite></td>
                            <td><input type="text" value="Department" class="tw-w-300-px !tw-px-10-px !tw-bg-disabled-bg-color !tw-py-8-px tw-border tw-border-solid !tw-border-separator tw-rounded-4-px" disabled></td>
                          </tr>
                          <tr> 
                            <td><input type="text" value="Manager" class="tw-w-300-px !tw-px-10-px !tw-bg-disabled-bg-color !tw-py-8-px tw-border tw-border-solid !tw-border-separator tw-rounded-4-px" disabled></td>
                            <td class="right-arrow tw-content-center "><svg-icon-sprite src="arrow" width="60px" hight="10px" class="tw-text-box-color"></svg-icon-sprite></td>
                            <td><input type="text" value="Manager" class="tw-w-300-px !tw-px-10-px !tw-bg-disabled-bg-color !tw-py-8-px tw-border tw-border-solid !tw-border-separator tw-rounded-4-px" disabled></td>
                          </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tw-rounded-12-px tw-border-1-px tw-border-disabled-bg-color tw-flex tw-items-start">
                <app-email-multi-select-field
                    [form]="configurationForm"
                    [label]="'Send error notification to'"
                    [isFieldMandatory]="true"
                    [mandatoryErrorListName]="'email for export'"
                    [subLabel]="'Select or add an email address to notify upon import failure or integration error.'"
                    [options]="additionalEmails"
                    [iconPath]="'expense'"
                    [placeholder]="'Select email address'"
                    [formControllerName]="'email'">
                </app-email-multi-select-field>
            </div>
        </div>
        <div>
            <app-configuration-step-footer [ctaText] = "!saveInProgress ? ConfigurationCtaText.SAVE : ConfigurationCtaText.SAVING" [isButtonDisabled]="!configurationForm.valid || saveInProgress" (save)="save()"></app-configuration-step-footer>
        </div>
    </div>
</div>