<div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-screen">
    <app-loader></app-loader>
</div>
<div *ngIf="!isLoading" class="configuration--contents tw-border-separator tw-mt-6">
    <div>
    <app-configuration-step-header 
    [headerText]="'Export Settings'"
    [contentText]="'In this section, you can configure how and when expenses from Fyle should be exported to Sage Intacct.'"
    [redirectLink]="RedirectLink.INTACCT"
    [showSyncButton]="true"></app-configuration-step-header>
    </div>
    <form [formGroup]="exportSettingsForm">
        <div class="tw-p-24-px">
            <div class="tw-mb-16-px">
                <div class="tw-rounded-lg tw-border-separator tw-border tw-bg-configuration-bg">
                    <app-configuration-toggle-field 
                    [form]="exportSettingsForm"
                    [label]="'Export Reimbursable Expenses'" 
                    [subLabel]="'Enable this to export the reimbursable expenses from Fyle. If not enabled, any <b>out-of-pocket</b> expenses will not be exported to Sage Intacct .'" 
                    [formControllerName]="'reimbursableExpense'"></app-configuration-toggle-field>
                </div>
            </div>
            <div>
                <div class="tw-rounded-lg tw-border-separator tw-border tw-bg-configuration-bg">
                    <app-configuration-toggle-field 
                    [form]="exportSettingsForm"
                    [label]="'Export Corporate Card Expenses'" 
                    [subLabel]="'Enable the export of <b>credit card</b> expenses from Fyle to Sage Intacct .'" 
                    [formControllerName]="'creditCardExpense'"></app-configuration-toggle-field>
                </div>
            </div>
        </div>
        <div>
            <app-configuration-step-footer [ctaText] = "!saveInProgress ? (isOnboarding ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVE) : ConfigurationCtaText.SAVING"></app-configuration-step-footer>
        </div>
    </form>
</div>