
<div [formGroup]="form">
    <p-multiSelect 
        [optionDisabled]="disabledOption" 
        [placeholder]="placeholder"
        [options]="options" 
        styleClass="tw-z-2 tw-py-8-px tw-px-12-px"
        [ngClass]="[form.controls[formControllerName].invalid && isFieldMandatory ? 'error-box' : 'normal-box']"  
        [formControlName]="formControllerName" [optionLabel]="optionLabel"
        [dropdownIcon]="'pi pi-chevron-down ' + brandingConfig.brandId"
        [display]="displayAs" [filter]="isFilter" [filterBy]="filterBy"
        (onChange)="onMultiSelectChange($event)">
        <ng-template let-value pTemplate="selectedItems" >
            <div *ngIf="!isFilter">
                <div *ngIf="form.value[formControllerName]?.length>0" class="tw-flex">
                    <p *ngFor="let name of value;let i = index">{{ name | titlecase | snakeCaseToSpaceCase }}<span *ngIf="i !== value?.length-1">,&nbsp;</span></p>
                </div>
                <div *ngIf="form.value[formControllerName]?.length === 0" class="tw-text-placeholder">
                    {{ placeholder }}
                </div>
            </div>
            <div *ngIf="isFilter">
                <div *ngIf="selectedValue"
                    class="tw-flex tw-text-12-px tw-h-22-px tw-rounded-12-px tw-text-slightly-normal-text-color tw-border-1-px tw-border-box-color tw-bg-white">
                    <p class="tw-pt-2-px tw-pl-12-px tw-pr-6-px">{{ selectedValue }}</p>
                    <p class="tw-w-1-px tw-mr-8-px tw-bg-separator"></p>
                    <app-svg-icon (iconClick)="removeIconClick()" [svgSource]="'cross-small'" [width]="'12px'" [height]="'12px'"
                        [styleClasses]="'tw-pr-10-px tw-pt-6-px tw-text-slightly-normal-text-color'"></app-svg-icon>
                </div>
                <div *ngIf="selectedValue && form.value.email.length > 1" class="tw-pl-8-px">
                    <p class="tw-flex tw-justify-center tw-items-center tw-p-5-px tw-h-24-px tw-w-24-px tw-bg-input-read-only-bg tw-text-12-px tw-text-text-muted tw-rounded-12-px">
                        +{{ form.value.email.length - 1 }}
                    </p>
                </div>
                <div *ngIf="!selectedValue" class="tw-text-placeholder">
                    {{placeholder}}
                </div>
            </div>
        </ng-template>
        <ng-template *ngIf="isFilter" pTemplate="filter" let-options="options">
            <div class="p-inputgroup tw-p-6-px">
                <div class="p-input-icon-left">
                    <i>
                        <app-svg-icon [svgSource]="'search-medium'" [width]="'18px'" [height]="'18px'" [styleClasses]="brandingConfig.brandId === 'fyle' ? 'tw-text-search-focused-search-icon' : 'tw-text-search-focused-filled-border'" [isTextColorAllowed]="true"></app-svg-icon>
                    </i>
                    <input type="text" class="!tw-h-32-px !tw-w-288-px !tw-rounded-4-px" (keyup)="options.filter($event)" pInputText placeholder="Search by Name / Email" formControlName="search"/>
                </div>
            </div>
        </ng-template>
        <ng-template let-value let-index="index" pTemplate="item">
            <div *ngIf="!isFilter">
                <p class="tw-text-14-px">{{ value | titlecase | snakeCaseToSpaceCase }}</p>
            </div>
            <div *ngIf="isFilter">
                <span class="tw-text-sub-text-color tw-text-14-px">
                    <span #textElement 
                    [ngStyle]="{'white-space': 'nowrap', 'overflow': 'hidden', 'text-overflow': 'ellipsis', 'max-width': '16rem'}"
                    [pTooltip]="isOverflowing(textElement) ? value.name : null" tooltipPosition="top">
                    {{ value.name }}
                    </span>
                </span>
                <p class="tw-pt-4-px tw-text-text-muted tw-text-12-px">{{ value.email }}</p>
            </div>
        </ng-template>
    </p-multiSelect>
</div>
