<div class="tw-h-full">
    <div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-pt-80-px tw-h-full">
        <app-loader></app-loader>
    </div>
    <div *ngIf="!isLoading" class="configuration--contents tw-border-border-tertiary tw-mt-6" [ngClass]="brandingStyle.common.configurationContents">
        <div>
            <app-configuration-step-header
                [headerText]="'xero.configuration.exportSetting.stepName' | transloco"
                [contentText]="'xero.configuration.exportSetting.stepSubLabel' | transloco: {brandName: brandingConfig.brandName}"
                [redirectLink]="redirectLink"
                [appName]="appName"
                [showSyncButton]="isOnboarding"
                (refreshDimension)="refreshDimensions($event)">
            </app-configuration-step-header>
        </div>
        <form [formGroup]="exportSettingForm">
            <div class="tw-p-24-px" [ngClass]="{'tw-pt-0': !brandingFeatureConfig.featureFlags.exportSettings.reimbursableExpenses}">
                <div *ngIf="brandingFeatureConfig.featureFlags.exportSettings.reimbursableExpenses" class="tw-mb-16-px">
                    <div class="tw-rounded-lg tw-border-border-tertiary tw-border tw-bg-bg-tertiary-lighter">
                        <app-configuration-toggle-field
                            [form]="exportSettingForm"
                            [label]="'xeroExportSettings.exportReimbursableExpensesLabel' | transloco"
                            [subLabel]="'xeroExportSettings.exportReimbursableExpensesSubLabel' | transloco: { brandName: brandingConfig.brandName }"
                            [formControllerName]="'reimbursableExpense'" [isSectionHeader]="true">
                        </app-configuration-toggle-field>
                    </div>
                    <div *ngIf="exportSettingForm.get('reimbursableExpense')?.value">
                        <div class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-border-tertiary tw-rounded-12-px">
                            <app-configuration-select-field
                                [form]="exportSettingForm"
                                [label]="'xeroExportSettings.employeeMatchingLabel' | transloco: { brandName: brandingConfig.brandName }"
                                [subLabel]="'xeroExportSettings.employeeMatchingSubLabel' | transloco: { brandName: brandingConfig.brandName }"
                                [options]="autoMapEmployeeTypes"
                                [iconPath]="'user-two'"
                                [placeholder]="'xeroExportSettings.selectAutoMapEmployeePlaceholder' | transloco"
                                [formControllerName]="'autoMapEmployees'">
                            </app-configuration-select-field>
                            <div class="!tw-text-text-muted tw-text-14-px !tw-font-400 !tw-leading-4 tw-max-w-600-px tw-text-pretty tw-pb-24-px tw-pl-64-px tw-pr-12-px">
                                <h5>
                                    {{ 'xeroExportSettings.employeeMappingNote' | transloco }}
                                </h5>
                            </div>
                        </div>
                        <div class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-border-tertiary tw-rounded-12-px">
                            <app-configuration-select-field
                                [form]="exportSettingForm"
                                [isFieldMandatory]="true"
                                [mandatoryErrorListName]="'xeroExportSettings.exportModule' | transloco"
                                [label]="'xeroExportSettings.exportTypeLabel' | transloco"
                                [placeholder]="'xeroExportSettings.selectExportModulePlaceholder' | transloco"
                                [options]="reimbursableExportTypes"
                                [iconPath]="'list'"
                                [formControllerName]="'reimbursableExportType'"
                                [appName]="appName"
                                [isDisabled]="true">
                            </app-configuration-select-field>
                        </div>
                        <div *ngIf="exportSettingForm.get('reimbursableExportType')?.value"
                            class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-border-tertiary tw-rounded-12-px">
                            <app-configuration-select-field
                                [form]="exportSettingForm"
                                [isFieldMandatory]="true"
                                [mandatoryErrorListName]="'xeroExportSettings.expenseState' | transloco"
                                [label]="'xeroExportSettings.reimbursableExpenseStateLabel' | transloco: { brandName: brandingConfig.brandName }"
                                [subLabel]="'xeroExportSettings.reimbursableExpenseStateSubLabel' | transloco"
                                [options]="expenseStateOptions"
                                [iconPath]="'list'"
                                [placeholder]="'xeroExportSettings.selectExportStatePlaceholder' | transloco"
                                [formControllerName]="'expenseState'">
                            </app-configuration-select-field>
                        </div>

                        <div *ngIf="exportSettingForm.get('reimbursableExportType')?.value"
                            class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-border-tertiary tw-rounded-12-px">
                            <app-configuration-select-field
                                [form]="exportSettingForm"
                                [isDisabled]="true"
                                [label]="'xeroExportSettings.expenseGroupingLabel' | transloco"
                                [subLabel]="'xeroExportSettings.reimbursableExpenseGroupingSubLabel' | transloco"
                                [options]="reimbursableExpenseGroupByOptions"
                                [iconPath]="'question-square-outline'"
                                [placeholder]="'xeroExportSettings.selectExpenseGroupingPlaceholder' | transloco"
                                [formControllerName]="'reimbursableExportGroup'">
                            </app-configuration-select-field>
                        </div>

                        <div *ngIf="exportSettingForm.get('reimbursableExportType')?.value"
                            class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-border-tertiary tw-rounded-12-px">
                            <app-configuration-select-field
                                [form]="exportSettingForm"
                                [isFieldMandatory]="true"
                                [mandatoryErrorListName]="'xeroExportSettings.exportDate' | transloco"
                                [placeholder]="'xeroExportSettings.selectExportDatePlaceholder' | transloco"
                                [label]="'xeroExportSettings.setExportDateLabel' | transloco: { exportType: (exportSettingForm.controls.reimbursableExportType.value| snakeCaseToSpaceCase | lowercase) }"
                                [subLabel]="'xeroExportSettings.reimbursableExportDateSubLabel' | transloco: { brandName: brandingConfig.brandName }"
                                [options]="reimbursableExpenseGroupingDateOptions"
                                [iconPath]="'calendar'"
                                [formControllerName]="'reimbursableExportDate'">
                            </app-configuration-select-field>
                        </div>
                    </div>
                </div>

                <div *ngIf="brandingFeatureConfig.featureFlags.exportSettings.reimbursableExpenses" class="tw-rounded-lg tw-border-separator tw-border tw-bg-bg-tertiary-lighter">
                    <app-configuration-toggle-field
                        [form]="exportSettingForm"
                        [label]="'xero.configuration.exportSetting.headerText' | transloco"
                        [subLabel]="'xero.configuration.exportSetting.contentText' | transloco: {brandName: brandingConfig.brandName}"
                        [formControllerName]="'creditCardExpense'"
                        [isSectionHeader]="true"
                        [hideToggle]="!brandingFeatureConfig.featureFlags.exportSettings.reimbursableExpenses">
                    </app-configuration-toggle-field>
                </div>

                <div *ngIf="exportSettingForm.get('creditCardExpense')?.value">
                    <div class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-border-tertiary tw-rounded-12-px">
                        <app-configuration-select-field
                            [form]="exportSettingForm"
                            [isFieldMandatory]="true"
                            [mandatoryErrorListName]="'xeroExportSettings.exportModule' | transloco"
                            [label]="'xeroExportSettings.exportTypeLabel' | transloco"
                            [options]="creditCardExportTypes"
                            [iconPath]="'list'"
                            [placeholder]="'xeroExportSettings.selectExpenseExportTypePlaceholder' | transloco"
                            [formControllerName]="'creditCardExportType'"
                            [appName]="appName"
                            [showExportPreview]="brandingFeatureConfig.shouldShowXeroPreviewImage"
                            [exportTypeIconPathArray]="previewImagePaths"
                            [isDisabled]="true">
                        </app-configuration-select-field>
                    </div>

                    <div *ngIf="exportSettingForm.get('creditCardExportType')?.value" class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-border-tertiary tw-rounded-12-px">
                        <app-configuration-select-field
                            [form]="exportSettingForm"
                            [isFieldMandatory]="true"
                            [mandatoryErrorListName]="'xeroExportSettings.bankAccount' | transloco"
                            [subLabel]="'xero.configuration.exportSetting.corporateCard.cccExpenseBankAccountSubLabel' | transloco: {brandName: brandingConfig.brandName}"
                            [label]="'xero.configuration.exportSetting.corporateCard.cccExpenseBankAccountLabel' | transloco"
                            [destinationAttributes]="bankAccounts"
                            [destinationOptionKey]="XeroExportSettingDestinationOptionKey.BANK_ACCOUNT"
                            [isOptionSearchInProgress]="isOptionSearchInProgress"
                            [isAdvanceSearchEnabled]="true"
                            (searchOptionsDropdown)="searchOptionsDropdown($event)"
                            [optionLabel]="'value'"
                            [iconPath]="'list'"
                            [isAdvanceSearchEnabled]="true"
                            [placeholder]="'xeroExportSettings.selectBankAccountPlaceholder' | transloco"
                            [formControllerName]="'bankAccount'">
                        </app-configuration-select-field>
                    </div>

                    <div *ngIf="exportSettingForm.get('creditCardExportType')?.value" class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-border-tertiary tw-rounded-12-px">
                        <app-configuration-select-field
                            [form]="exportSettingForm"
                            [isFieldMandatory]="true"
                            [mandatoryErrorListName]="'xeroExportSettings.expenseState' | transloco"
                            [label]="'xero.configuration.exportSetting.cccExpenseStateLabel' | transloco: {brandName: brandingConfig.brandName}"
                            [subLabel]="'xero.configuration.exportSetting.corporateCard.cccExpenseStateSubLabel' | transloco"
                            [options]="cccExpenseStateOptions"
                            [iconPath]="'list'"
                            [placeholder]="'xeroExportSettings.selectExportStatePlaceholder' | transloco"
                            [formControllerName]="'cccExpenseState'">
                        </app-configuration-select-field>
                    </div>

                    <div *ngIf="exportSettingForm.get('creditCardExportType')?.value" class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-border-tertiary tw-rounded-12-px">
                        <app-configuration-select-field
                            [form]="exportSettingForm"
                            [isDisabled]="true"
                            [label]="'xeroExportSettings.expenseGroupingLabel' | transloco"
                            [subLabel]="'xeroExportSettings.cccExpenseGroupingSubLabel' | transloco"
                            [options]="cccExpenseGroupByOptions"
                            [iconPath]="'question-square-outline'"
                            [placeholder]="'xeroExportSettings.selectExpenseGroupingPlaceholder' | transloco"
                            [formControllerName]="'creditCardExportGroup'">
                        </app-configuration-select-field>
                    </div>

                    <div *ngIf="exportSettingForm.get('creditCardExportType')?.value" class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-border-tertiary tw-rounded-12-px">
                        <app-configuration-select-field
                            [form]="exportSettingForm"
                            [isFieldMandatory]="true"
                            [mandatoryErrorListName]="'xeroExportSettings.exportDate' | transloco"
                            [label]="'xeroExportSettings.setExportDateLabel' | transloco: { exportType: (exportSettingForm.controls.creditCardExportType.value | snakeCaseToSpaceCase | lowercase) }"
                            [subLabel]="'xeroExportSettings.cccExportDateSubLabel' | transloco"
                            [options]="cccExpenseGroupingDateOptions"
                            [iconPath]="'calendar'"
                            [placeholder]="'xeroExportSettings.selectDatePlaceholder' | transloco: { exportType: (exportSettingForm.controls.creditCardExportType.value | snakeCaseToSpaceCase | lowercase) }"
                            [formControllerName]="'creditCardExportDate'">
                        </app-configuration-select-field>
                    </div>

                    <div *ngIf="exportSettingForm.get('creditCardExportType')?.value === XeroCorporateCreditCardExpensesObject.BANK_TRANSACTION" class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-border-tertiary tw-rounded-12-px">
                        <app-configuration-select-field
                            [form]="exportSettingForm"
                            [isFieldMandatory]="true"
                            [showClearIcon]="true"
                            [mandatoryErrorListName]="'xeroExportSettings.splitExpenseGrouping' | transloco"
                            [label]="'xeroExportSettings.splitExpenseGroupingLabel' | transloco"
                            [subLabel]="'xeroExportSettings.splitExpenseGroupingSubLabel' | transloco"
                            [options]="splitExpenseGroupingOptions"
                            [iconPath]="'question-square-outline'"
                            [placeholder]="'xeroExportSettings.selectSplitExpenseGroupingTypePlaceholder' | transloco"
                            [formControllerName]="'splitExpenseGrouping'">
                        </app-configuration-select-field>
                    </div>
                </div>
            </div>
            <app-configuration-step-footer
                [ctaText]="!isSaveInProgress ? (isOnboarding ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVE) : ConfigurationCtaText.SAVING"
                [isButtonDisabled]="!exportSettingForm.valid"
                [showBackButton]="isOnboarding ? true: false"
                (navigateToPreviousStep)="navigateToPreviousStep()"
                (save)="save()">
            </app-configuration-step-footer>
        </form>
    </div>
</div>

<app-configuration-confirmation-dialog
    (warningAccepted)="constructPayloadAndSave($event)"
    [isWarningVisible]="isConfirmationDialogVisible"
    [headerText]="'xeroExportSettings.changeInConfiguration' | transloco"
    [contextText]="warningDialogText"
    [confirmBtnText]="'xeroExportSettings.continue' | transloco"
    [showSecondaryCTA]="false">
</app-configuration-confirmation-dialog>

