<div>
    <div>
        <app-app-header [iconPath]="'assets/logos/sage-intacct-logo.svg'" [appName]="'Sage Intacct'" [appDescription]="'Import data from Sage Intacct to Fyle and Export expenses from Fyle to Sage Intacct. '" [isLoading]="false" [isIntegrationSetupInProgress]="false" [isIntegrationConnected]="false" [redirectLink]="RedirectLink.INTACCT" [buttonText]="'Connect'"></app-app-header>
    </div>
    <div>
        <app-app-integration-landing [headerText]="'A quick guide to help you set up the integration quick and easy.'" [embedVideo]="EmbedVideo.INTACCT" [svgPath]="'assets/flow-charts/sage-flow-chart.svg'"></app-app-integration-landing>
    </div>
</div>
