<div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-screen">
    <app-loader></app-loader>
</div>
<div *ngIf="!isLoading" class="configuration--contents tw-border-border-tertiary tw-mt-6" [ngClass]="brandingStyle.common.configurationContents">
    <div>
        <app-configuration-step-header
            [headerText]="'travelperkPaymentProfileSettings.headerText' | transloco"
            [contentText]="'travelperkPaymentProfileSettings.contentText' | transloco: { brandName: brandingConfig.brandName }"
            [redirectLink]="supportArticleLink"
            [appName]="appName">
        </app-configuration-step-header>
    </div>
    <div>
        <form [formGroup]="paymentProfileMappingForm">
            <div class="tw-p-24-px">
                <div class="tw-pb-24-px">
                    <app-configuration-step-sub-header
                        [label]="'travelperkPaymentProfileSettings.assignUserRoleLabel' | transloco"
                        [subLabel]="'travelperkPaymentProfileSettings.assignUserRoleSubLabel' | transloco: { brandName: brandingConfig.brandName }"
                        [showPreview]="true"
                        (isPreviewClick)="showPreviewDialog(true)">
                    </app-configuration-step-sub-header>
                </div>
                <div>
                    <app-configuration-info-label
                        [infoText]="'travelperkPaymentProfileSettings.infoText' | transloco: { brandName: brandingConfig.brandName }">
                    </app-configuration-info-label>
                </div>
            </div>
            <div class="tw-px-24-px">
                <app-configuration-mapping-fields
                    [appName]="appName"
                    [showCrossIcon]="true"
                    [isDestinationDisabled]="true"
                    [sourceFieldOptions]="userRole"
                    [destinationFieldOptions]="paymentProfileSettings.results"
                    [form]="paymentProfileMappingForm"
                    [sourceFieldText]="'travelperkPaymentProfileSettings.userRoleSourceField' | transloco"
                    [destinationFieldText]="'travelperkPaymentProfileSettings.paymentProfileDestinationField' | transloco"
                    [sourceFieldPlaceholderText]="'travelperkPaymentProfileSettings.userRolePlaceholder' | transloco"
                    [totalAvailableRows]="paymentProfileSettings.count"
                    [destinationAttributeNames]="destinationAttributeNames"
                    [sourceAttributeNames]="sourceAttributeNames"
                    [formControllerName]="'paymentProfileMappings'"
                    (loadMoreClick)="getProfileMappings(paymentProfileSettings.count)">
                </app-configuration-mapping-fields>
            </div>
            <div>
                <app-configuration-step-footer
                    [ctaText] = "!isSaveInProgress ? (isOnboarding ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVE) : ConfigurationCtaText.SAVING"
                    [showBackButton] = "isOnboarding"
                    [isButtonDisabled]="!paymentProfileMappingForm.valid"
                    (navigateToPreviousStep)="navigateBack()"
                    (save)="save()">
                </app-configuration-step-footer>
            </div>
        </form>
    </div>
    <div *ngIf="isPreviewDialogVisible">
        <app-preview-dialog
            [isPreviewDialogVisible]="true"
            [iconPath]="'assets/pngs/preview-screens/travelperk-pps.png'" (closeDialog)="closeDialog()"
            [header]="'travelperkPaymentProfileSettings.previewHeader' | transloco">
        </app-preview-dialog>
    </div>
</div>
