<div class="tw-border tw-rounded-border-radius-2xs tw-border-border-tertiary" [ngClass]="{'tw-opacity-50': !showSection}">
    <div class="tw-p-24-px">
        <div class="tw-flex tw-items-center tw-justify-between">
            <div class="tw-flex tw-items-center tw-justify-start">
                <div class="tw-w-20-px tw-h-20-px tw-rounded-border-radius-2xs tw-bg-bg-secondary tw-text-white tw-text-14-px tw-font-500 tw-text-center tw-mr-12-px">
                    2
                </div>
                <div class="tw-text-14-px tw-font-500" [ngClass]="[!showSection ? 'tw-text-text-disable' : 'tw-text-text-tertiary']">
                    <span>{{ 'qbdDirectSetupConnection.title' | transloco }}</span>
                </div>
            </div>
            <div *ngIf="isStepCompleted">
                <div class="tw-w-24-px tw-h-24-px tw-bg-bg-success tw-rounded-full tw-flex tw-items-center tw-justify-center">
                    <app-svg-icon svgSource="check-small" [width]="'20px'" [height]="'20px'" [isTextColorAllowed]="true" [styleClasses]="'tw-text-white'"></app-svg-icon>
                </div>
            </div>
        </div>
        <div  *ngIf="!isLoading && connectionStatus !== qbdConnectionStatus.SUCCESS && showSection && !isStepCompleted" class="tw-flex tw-items-start tw-justify-between tw-pt-32-px">
            <div>
                <div>
                    <div class="tw-flex tw-items-center tw-justify-start">
                        <div class="!tw-w-45-px !tw-h-45-px tw-border tw-border-border-tertiary tw-flex tw-items-center tw-justify-center tw-rounded-border-radius-2xs tw-bg-disabled-bg-color">
                            <app-svg-icon [svgSource]="'upload'" [width]="'16px'" [height]="'16px'" [isTextColorAllowed]="true" [styleClasses]="'tw-text-text-tertiary'"></app-svg-icon>
                        </div>
                        <div class="tw-ml-16-px tw-max-w-[300px] tw-break-words">
                            <h4 class="tw-text-14-px tw-text-text-tertiary tw-font-500 tw-pb-4-px">{{ 'qbdDirectSetupConnection.openIntegrationFilePart1' | transloco }}<a (click)="onManualDownload()" class=" tw-underline !tw-underline-offset-1 tw-cursor-pointer">{{ 'qbdDirectSetupConnection.integrationFileLinkText' | transloco }}</a>{{ 'qbdDirectSetupConnection.openIntegrationFilePart2' | transloco }}</h4>
                            <p class="tw-text-12-px tw-text-text-muted tw-font-400">{{ 'qbdDirectSetupConnection.watchVideoGuidance' | transloco }}</p>
                        </div>
                    </div>
                </div>
                <div class="tw-pt-40-px">
                    <div class="tw-flex tw-items-center tw-justify-start">
                        <div class="!tw-w-45-px !tw-h-45-px tw-border tw-border-border-tertiary tw-flex tw-items-center tw-justify-center tw-rounded-border-radius-2xs tw-bg-disabled-bg-color">
                            <app-svg-icon [svgSource]="'lock'" [width]="'16px'" [height]="'16px'" [isTextColorAllowed]="true" [styleClasses]="'tw-text-text-tertiary'"></app-svg-icon>
                        </div>
                        <div class="tw-ml-16-px">
                            <h4 class="tw-text-14-px tw-text-text-tertiary tw-font-500 tw-pb-4-px">{{ 'qbdDirectSetupConnection.usePassword' | transloco }}</h4>
                            <div class="tw-flex">
                                <div class="tw-pr-30-px tw-w-70-px">
                                    <p *ngIf="!isPasswordShown" class="tw-text-16-px tw-text-text-muted tw-font-400">****{{password.slice(4)}}</p>
                                    <p *ngIf="isPasswordShown" class="tw-text-16-px tw-text-text-muted tw-font-400">{{password}}</p>
                                </div>
                                <div class="tw-flex tw-items-center tw-justify-end">
                                    <div class="tw-pr-6-px">
                                        <app-svg-icon *ngIf="!isPasswordShown" [svgSource]="'eye-slash-medium'" [width]="'18px'" [height]="'18px'" [isTextColorAllowed]="true" [styleClasses]="'tw-text-icon-muted tw-cursor-pointer'" (iconClick)="showPassword(true)"></app-svg-icon>
                                        <app-svg-icon *ngIf="isPasswordShown" [svgSource]="'eye-medium'" [width]="'18px'" [height]="'18px'" [isTextColorAllowed]="true" [styleClasses]="'tw-text-icon-muted tw-cursor-pointer'" (iconClick)="showPassword(false)"></app-svg-icon>
                                    </div>
                                    <div>
                                        <app-svg-icon [svgSource]="'duplicate'" [width]="'18px'" [height]="'18px'" [isTextColorAllowed]="true" [styleClasses]="'tw-text-icon-muted tw-cursor-pointer'" (iconClick)="onClipboardCopy()"></app-svg-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tw-pt-40-px">
                    <div class="tw-flex tw-items-center tw-justify-start">
                        <div class="!tw-w-45-px !tw-h-45-px tw-border tw-border-border-tertiary tw-flex tw-items-center tw-justify-center tw-rounded-border-radius-2xs tw-bg-disabled-bg-color">
                            <app-svg-icon [svgSource]="'check'" [isTextColorAllowed]="true" [styleClasses]="'tw-text-text-tertiary'" [width]="'20px'" [height]="'20px'"></app-svg-icon>
                        </div>
                        <div class="tw-ml-16-px tw-max-w-[300px] tw-break-words">
                            <h4 class="tw-text-14-px tw-text-text-tertiary tw-font-500 tw-pb-4-px">{{ 'qbdDirectSetupConnection.updateSelectedTitle' | transloco }}</h4>
                            <p class="tw-text-12-px tw-text-text-muted tw-font-400">{{ 'qbdDirectSetupConnection.updateSelectedDescription' | transloco : { brandName: brandingConfig.brandName } }}</p>
                        </div>
                    </div>
                </div>
                <div class="tw-pt-40-px">
                    <app-checkbox-button
                        [checkedText]="'qbdDirectSetupConnection.done' | transloco"
                        [unCheckedText]="'qbdDirectSetupConnection.markAsDone' | transloco"
                        [id]="0"
                        (checkBoxUpdated)="onDoneClick($event)">
                    </app-checkbox-button>
                </div>
            </div>
            <div class="tw-w-[40%]">
                <div class="tw-flex tw-justify-center tw-shadow-sm">
                    <iframe class="tw-rounded-border-radius-2xl tw-w-[100%]" height="260" src="https://www.youtube.com/embed/jfPPb8wYcQ4" frameborder="0"></iframe>
                </div>
            </div>
        </div>
        <div *ngIf="isLoading" class="tw-flex tw-flex-col tw-justify-center tw-items-center tw-h-[400px]">
            <app-loader styleClass="spinner-30 tw-top-2-px"></app-loader>
            <span class="tw-text-14-px tw-font-400 tw-text-text-primary tw-pt-8-px">{{ 'qbdDirectSetupConnection.connecting' | transloco }}</span>
        </div>
        <div *ngIf="!isLoading && !isStepCompleted && connectionStatus === qbdConnectionStatus.SUCCESS && showSection && !isStepCompleted" class="tw-flex tw-flex-col tw-justify-center tw-items-center tw-h-[400px] tw-text-center">
            <div class="tw-text-center">
                <app-svg-icon svgSource="check-circle-outline-extra-large" [width]="'40px'" [height]="'40px'" [isTextColorAllowed]="true" [styleClasses]="'tw-text-text-success'"></app-svg-icon>
            </div>
            <div>
                <p class="tw-pt-4-px tw-text-text-tertiary tw-text-16-px tw-font-500">{{ 'qbdDirectSetupConnection.success' | transloco }}</p>
                <span class="tw-pt-4-px tw-text-text-muted tw-text-12-px tw-font-400">{{ 'qbdDirectSetupConnection.connected' | transloco }}</span>
            </div>
        </div>
    </div>
    <div *ngIf="!isStepCompleted && showSection && !isStepCompleted">
        <app-configuration-step-footer [shouldShowQBDAssistedSetup]="true" [qbdDirectInteractionType]="QBDDirectInteractionType.QUERY" [ctaText]="ConfigurationCtaText.NEXT" [AppName]="appName.QBD_DIRECT" [isButtonDisabled]="!isCTAEnabled" (save)="onNextClick()"></app-configuration-step-footer>
    </div>
</div>