<div>
    <p-table [value]="mappings" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>{{ fyleHeaderName }}</th>
                <th>{{ destinationHeaderName }}</th>
                <th>Status</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-mapping let-rowIndex="rowIndex">
            <tr>
                <td>{{ mapping.source_value }}</td>
                <td>
                    <span class="p-input-icon-right" (keydown)="isTypingInBox($event, mapping)" *ngIf="destinationFieldType === fieldType.TEXT">
                        <i *ngIf="focussedMappingId === mapping.id" class="pi pi-check tooltip" (click)="postTextFieldValue(mapping)" [pTooltip]="getToolTipText()" [escape]="false"  tooltipPosition="top"></i>
                        <input type="text" pInputText placeholder="Enter Credit card account" class="!tw-w-220-px !tw-py-10-px" [value]="mapping.destination_value" (input)="onTextBoxChange($event)">        
                    </span>  
                </td>
                <td>
                    <p *ngIf="mapping.destination_value" class="mapped">MAPPED</p>
                    <p *ngIf="!mapping.destination_value" class="unmapped">UNMAPPED</p>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
