<div class="tw-border tw-rounded-border-radius-2xs tw-border-border-tertiary" [ngClass]="{'tw-opacity-50': !showSection}">
    <div class="tw-p-24-px">
        <div class="tw-flex tw-items-center tw-justify-between">
            <div class="tw-flex tw-items-center tw-justify-start">
                <div class="tw-w-20-px tw-h-20-px tw-rounded-border-radius-2xs tw-bg-bg-secondary tw-text-white tw-text-14-px tw-font-500 tw-text-center tw-mr-12-px">
                    3
                </div>
                <div class="tw-text-14-px tw-font-500" [ngClass]="[!showSection ? 'tw-text-text-disable' : 'tw-text-text-tertiary']">
                    <span>Data sync</span>
                </div>
            </div>
        </div>
        <div class="tw-py-20-px" *ngIf="!isLoading && showSection">
            <div *ngFor="let field of qbdFields; let i = index" [ngClass]=" i !== qbdFields.length-1 ? 'tw-border-b tw-border-b-divider-border-color' : '' ">
                <div class="tw-flex tw-items-center tw-justify-between tw-px-12-px tw-py-20-px">
                    <div>
                        <span class="tw-text-text-tertiary tw-font-400 tw-text-14-px">{{field.attribute_type | snakeCaseToSpaceCase | sentenceCase}}</span>
                    </div>
                    <div>
                        <span *ngIf="field.count !== null" class="tw-text-text-tertiary tw-font-400 tw-text-14-px">{{field.count}}</span>
                        <div class="spin-icon tw-text-text-tertiary tw-font-400 tw-text-14-px">
                            <app-svg-icon *ngIf="field.count === null" [svgSource]="'arrow-rotate-sync'" [width]="'14px'" [height]="'14px'" [isTextColorAllowed]="true" [styleClasses]="'tw-text-icon-tertiary'"></app-svg-icon>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!isLoading && showSection">
            <app-configuration-info-label [infoText]="'The values displayed here are synced from QuickBooks Desktop to ' + brandingConfig.brandName + '. If you notice discrepancies in the synced values, you can continue onboarding; the sync will refresh automatically in 5 minutes to capture any missed values.'" [showIcon]="false"></app-configuration-info-label>
        </div>
        <div *ngIf="isLoading && showSection" class="tw-flex tw-flex-col tw-justify-center tw-items-center tw-h-[400px]">
            <app-loader styleClass="spinner-30 tw-top-2-px"></app-loader>
            <span class="tw-text-14-px tw-font-400 tw-text-text-primary">Loading</span>
        </div>
    </div>
    <div *ngIf="!isLoading && showSection">
        <app-configuration-step-footer [ctaText]="ConfigurationCtaText.CONTINUE" [AppName]="appName.QBD_DIRECT" [isButtonDisabled]="isCTAEnabled" (save)="onContinueClick()"></app-configuration-step-footer>
    </div>
</div>