<div class="tw-p-24-px">
    <div class="tw-flex tw-flex-row tw-space-between tw-items-center">
        <div class="tw-w-3/5 tw-flex">
            <div class="tw-pr-20-px">
                <svg-icon-sprite *ngIf="iconPath" src="{{iconPath}}" width="20px" hight="20px" class="tw-text-mandatory-field-color"></svg-icon-sprite>
            </div>
            <div>
                <h5 class="tw-text-14-px !tw-font-500">{{ label }}<app-mandatory-field></app-mandatory-field></h5>
                <h5 class="!tw-text-faded-text-color tw-text-14-px tw-pt-8-px !tw-font-400 !tw-leading-4" [innerHTML]="subLabel"></h5>
            </div>
        </div>
        <div class="tw-flex tw-pl-40-px">
            <h4 class="tw-text-14-px">
                {{ labelValue.label }}
            </h4>
        </div>
    </div>
</div>
