:host ::ng-deep .error-box {
  @apply tw-border-border-danger-dark #{!important};
}
/*
:host ::ng-deep .normal-box  {
    @apply tw-border-box-color #{!important};
} */

:host ::ng-deep .normal-box :enabled:focus-visible {
  @apply tw-border-input-focused-border #{!important};
}
