<div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-screen">
    <app-loader></app-loader>
</div>
<div *ngIf="!isLoading" class="configuration--contents tw-border-separator tw-mt-6" [ngClass]="brandingStyle.common.configurationContents">
    <div>
        <app-configuration-step-header
        [headerText]="'Export Settings'"
        [contentText]="'In this section, you can configure how and when expenses from ' + brandingConfig.brandName + ' can be exported to QuickBooks Desktop.'"
        [redirectLink]="redirectLink"></app-configuration-step-header>
    </div>
    <div>
        <form [formGroup]="exportSettingsForm">
            <div class="tw-p-24-px">
                <div class="tw-mb-16-px">
                    <div class="tw-rounded-lg tw-border-separator tw-border tw-bg-configuration-bg">
                        <app-configuration-toggle-field
                        [form]="exportSettingsForm"
                        [label]="'Export Reimbursable Expenses'"
                        [subLabel]="'Enable this to export the reimbursable expenses from ' + brandingConfig.brandName + '. If not enabled, any <b>out-of-pocket</b> expenses will not be exported to QuickBooks Desktop.'"
                        [formControllerName]="'reimbursableExpense'"
                        [isSectionHeader]="true"></app-configuration-toggle-field>
                    </div>
                    <div *ngIf="exportSettingsForm.get('reimbursableExpense')?.value">
                        <div class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                            <app-configuration-radio-field
                            [form]="exportSettingsForm"
                            [isFieldMandatory]="true"
                            [mandatoryErrorListName]="'how expenses to be exported'"
                            [label]="'How should the expenses be exported?'"
                            [subLabel]="'Choose the type of transaction in QuickBooks Desktop to export your ' + brandingConfig.brandName + ' expenses.'"
                            [options]="reimbursableExportTypes"
                            [iconPath]="'list'"
                            [formControllerName]="'reimbursableExportType'"></app-configuration-radio-field>

                            <div *ngIf="exportSettingsForm.get('reimbursableExportType')?.value">
                                <div class="tw-pl-16 tw-pt-16-px tw-pr-24-px tw-pb-24-px tw-flex tw-flex-row tw-space-between">
                                    <div class="lg:tw-w-3/5 md:tw-w-1/2">
                                        <h4 class="!tw-text-14-px !tw-font-500">To which {{ accountName() }} account should the {{ exportType(exportSettingsForm.get('reimbursableExportType')?.value, reimbursableExportTypes) }} be posted to?<app-mandatory-field></app-mandatory-field></h4>
                                        <h5 class="!tw-text-text-muted !tw-font-400 !tw-text-14-px tw-pt-6-px !tw-leading-4">Please share the exact name of the {{ accountName() }} account as per your QuickBooks Desktop setup. This is the account to which all the expenses from {{brandingConfig.brandName}} will be posted. </h5>
                                    </div>

                                    <div class="tw-pl-18-px">
                                        <input type="text" class="tw-w-300-px !tw-px-10-px !tw-py-8-px tw-border tw-border-solid !tw-border-separator tw-rounded-4-px"[ngClass]="[exportSettingsForm.controls.bankAccount.invalid && exportSettingsForm.controls.bankAccount.touched ? 'error-box' : 'normal-box']"  pInputText formControlName="bankAccount" placeholder="Enter {{ exportSettingsForm.get('reimbursableExportType')?.value === QBDReimbursableExpensesObject.BILL ? 'Accounts Payable' : 'Bank'}} Name" [required]="exportSettingsForm.get('reimbursableExpense')?.value">
                                        <app-mandatory-error-message *ngIf="true && exportSettingsForm.controls.bankAccount.touched && !exportSettingsForm.controls.bankAccount.valid && !exportSettingsForm.controls.bankAccount.disabled" [customErrorMessage]="customMessage"></app-mandatory-error-message>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="exportSettingsForm.get('reimbursableExportType')?.value">
                                <div class="tw-pl-16 tw-pt-16-px tw-pr-24-px tw-pb-24-px tw-flex tw-flex-row tw-space-between">
                                    <div class="lg:tw-w-3/5 md:tw-w-1/2">
                                        <h4 class="!tw-text-14-px !tw-font-500">To which account should the mileage expenses be posted to?</h4>
                                        <h5 class="!tw-text-text-muted !tw-font-400 !tw-text-14-px tw-pt-6-px !tw-leading-4">Please share the exact name of the Mileage account as per your QuickBooks Desktop setup. This is the account to which all the mileage expenses from {{ brandingConfig.brandName }} will be posted.</h5>
                                    </div>

                                    <div class="tw-pl-18-px">
                                        <input type="text" class="tw-w-300-px !tw-px-10-px !tw-py-8-px tw-border tw-border-solid !tw-border-separator tw-rounded-4-px"  pInputText formControlName="mileageAccountName" placeholder="Enter mileage account name">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                            <app-configuration-radio-field
                            [form]="exportSettingsForm"
                            [isFieldMandatory]="true"
                            [mandatoryErrorListName]="'how expenses to be grouped'"
                            [label]="'How would you like to group your expenses?'"
                            [subLabel]="'Grouping reflects how the expense entries are posted in QuickBooks Desktop.'"
                            [options]="expenseGroupingFieldOptions"
                            [iconPath]="'tabs'"
                            [formControllerName]="'reimbursableExportGroup'"></app-configuration-radio-field>
                        </div>
                        <div class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                            <div *ngIf="exportSettingsForm.controls.reimbursableExportGroup.value === expenseGroupingFieldOptions[0].value">
                                <app-configuration-select-field
                                [form]="exportSettingsForm"
                                [label]="'Set the transaction date'"
                                [subLabel]="'The selected date will reflect in expenses exported to QuickBooks Desktop'"
                                [isFieldMandatory]="true"
                                [mandatoryErrorListName]="'transaction date'"
                                [options]="reimbursableExpenseGroupingDateOptionsFn()"
                                [iconPath]="'calendar'"
                                [placeholder]="'Select date type'"
                                [formControllerName]="'reimbursableExportDate'"></app-configuration-select-field>
                            </div>
                            <div *ngIf="exportSettingsForm.controls.reimbursableExportGroup.value === expenseGroupingFieldOptions[1].value">
                                <app-configuration-select-field
                                [form]="exportSettingsForm"
                                [label]="'Set the transaction date'"
                                [subLabel]="'The selected date will reflect in expenses exported to QuickBooks Desktop'"
                                [isFieldMandatory]="true"
                                [mandatoryErrorListName]="'transaction date'"
                                [options]="reimbursableExpenseGroupingDateOptions"
                                [iconPath]="'calendar'"
                                [placeholder]="'Select date type'"
                                [formControllerName]="'reimbursableExportDate'"></app-configuration-select-field>
                            </div>
                        </div>
                        <div class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                            <app-configuration-select-field
                            [form]="exportSettingsForm"
                            [isFieldMandatory]="true"
                            [mandatoryErrorListName]="'export state'"
                            [label]="'At which state should the expenses be ready to export from ' + brandingConfig.brandName + '?'"
                            [subLabel]="'You could choose to export expenses when they have been approved and are awaiting payment clearance, OR simply when they have been paid out.'"
                            [options]="expenseStateOptions"
                            [iconPath]="'question-square-outline'"
                            [placeholder]="'Select expense state '"
                            [formControllerName]="'reimbursableExpenseState'"></app-configuration-select-field>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="tw-rounded-lg tw-border-separator tw-border tw-bg-configuration-bg">
                        <app-configuration-toggle-field
                        [form]="exportSettingsForm"
                        [label]="'Export Corporate Card Expenses'"
                        [subLabel]="'Enable the export of <b>credit card</b> expenses from ' + brandingConfig.brandName + ' to QuickBooks Desktop.'"
                        [formControllerName]="'creditCardExpense'"
                        [isSectionHeader]="true"></app-configuration-toggle-field>
                    </div>
                    <div *ngIf="exportSettingsForm.get('creditCardExpense')?.value">
                        <div class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                            <app-configuration-radio-field
                            [form]="exportSettingsForm"
                            [isFieldMandatory]="true"
                            [mandatoryErrorListName]="'expenses to be exported'"
                            [label]="'How should the expenses be exported?'"
                            [subLabel]="'Choose the type of transaction in QuickBooks Desktop to export your ' + brandingConfig.brandName + ' expenses.'"
                            [options]="creditCardExportTypes"
                            [iconPath]="'list'"
                            [formControllerName]="'cccExportType'"></app-configuration-radio-field>

                            <div *ngIf="exportSettingsForm.get('cccExportType')?.value">
                                <div class="tw-pl-16 tw-pt-16-px tw-pr-24-px tw-pb-24-px tw-flex tw-flex-row tw-space-between">
                                    <div class="lg:tw-w-3/5 md:tw-w-1/2">
                                        <h4 class="!tw-text-14-px !tw-font-500">Enter the credit card account name<app-mandatory-field></app-mandatory-field></h4>
                                        <h5 class="!tw-text-text-muted !tw-font-400 !tw-text-14-px tw-pt-6-px !tw-leading-4">Please share the exact name of the Credit Card Account as per your QuickBooks Desktop setup. This is the account to which all the expenses from {{brandingConfig.brandName}} will be posted. </h5>
                                    </div>

                                    <div class="tw-pl-18-px">
                                        <input type="text" class="tw-w-300-px !tw-px-10-px !tw-py-8-px tw-border tw-border-solid !tw-border-separator tw-rounded-4-px" [ngClass]="[exportSettingsForm.controls.cccAccountName.invalid && exportSettingsForm.controls.cccAccountName.touched ? 'error-box' : 'normal-box']" pInputText formControlName="cccAccountName" placeholder="Enter credit card account name" [required]="exportSettingsForm.get('creditCardExpense')?.value">
                                        <app-mandatory-error-message *ngIf="true && exportSettingsForm.controls.cccAccountName.touched && !exportSettingsForm.controls.cccAccountName.valid && !exportSettingsForm.controls.cccAccountName.disabled" [customErrorMessage]="'Please enter a Credit Card Account name'"></app-mandatory-error-message>
                                    </div>
                                </div>

                                <div class="tw-pl-16 tw-pr-24-px">
                                    <div class="tw-p-12-px tw-bg-info-section tw-rounded-4-px tw-flex tw-flex-row tw-items-start">
                                        <div class="tw-mr-6-px tw-mt-2-px">
                                            <div class="tw-w-4 tw-h-4 tw-rounded-full tw-bg-info tw-flex tw-items-center tw-justify-center">
                                                <strong class="tw-text-white tw-text-12-px tw-font-bold">i</strong>
                                            </div>
                                        </div>
                                        <div class="tw-text-14-px tw-text-400 tw-text-text-muted">
                                            <span *ngIf="isOnboarding" class="tw-max-w-sm tw-break-words">If you wish to export expenses to individual credit card accounts, you can establish credit card mappings in the integration dashboard after launching the integration.</span>
                                            <span *ngIf="!isOnboarding" class="tw-max-w-sm tw-break-words">If you wish to export expenses to individual credit card accounts, you can establish credit card mappings in the <a class="tw-text-link-primary tw-cursor-pointer" (click)="navigateToMapping()">mapping section</a>.</span>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <app-configuration-select-field
                                        [form]="exportSettingsForm"
                                        [isFieldMandatory]="true"
                                        [mandatoryErrorListName]="'entity name'"
                                        [label]="'Set the PURCHASED FROM field to'"
                                        [subLabel]="'Select how the Vendor or Employee should be represented as Payee for the credit card purchase.'"
                                        [options]="cccEntityNameOptions"
                                        [placeholder]="'Select Credit Card Entity Name Preference'"
                                        [formControllerName]="'cccEntityName'"></app-configuration-select-field>
                                </div>
                            </div>
                        </div>
                        <div class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                            <div *ngIf="exportSettingsForm.get('cccExportType')?.value === creditCardExportTypes[0].value">
                                <app-configuration-label
                                [label]="'How would you like to group your expenses?'"
                                [subLabel]="'Grouping reflects how the expense entries are posted in QuickBooks Desktop.'"
                                [labelValue]="expenseGroupingFieldOptions[1]"
                                [iconPath]="'tabs'"></app-configuration-label>
                            </div>
                            <div *ngIf="exportSettingsForm.get('cccExportType')?.value !== creditCardExportTypes[0].value">
                                <app-configuration-radio-field
                                [form]="exportSettingsForm"
                                [isFieldMandatory]="true"
                                [mandatoryErrorListName]="'expense to be grouped'"
                                [label]="'How would you like to group your expenses?'"
                                [subLabel]="'Grouping reflects how the expense entries are posted in QuickBooks Desktop.'"
                                [options]="expenseGroupingFieldOptions"
                                [iconPath]="'tabs'"
                                [formControllerName]="'cccExportGroup'"></app-configuration-radio-field>
                            </div>
                        </div>
                        <div class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                            <app-configuration-select-field
                                [form]="exportSettingsForm"
                                [isFieldMandatory]="true"
                                [mandatoryErrorListName]="'transaction date'"
                                [label]="'Set the transaction date'"
                                [subLabel]="'The selected date will reflect in expenses exported to QuickBooks Desktop'"
                                [options]="cccExpenseGroupingDateOptions"
                                [iconPath]="'calendar'"
                                [placeholder]="'Select date type'"
                                [formControllerName]="'cccExportDate'">
                            </app-configuration-select-field>
                        </div>
                        <div class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                            <app-configuration-select-field
                            [form]="exportSettingsForm"
                            [isFieldMandatory]="true"
                            [mandatoryErrorListName]="'expense state'"
                            [label]="'At which state should the expenses be ready to export from ' + brandingConfig.brandName + '?'"
                            [subLabel]="'You could choose to export expenses when they have been approved and are awaiting payment clearance, OR simply when they have been paid out.'"
                            [options]="cccExpenseStateOptions"
                            [iconPath]="'question-square-outline'"
                            [placeholder]="'Select expense state '"
                            [formControllerName]="'cccExpenseState'"></app-configuration-select-field>
                        </div>
                    </div>
                </div>
            </div>
            <app-configuration-step-footer [ctaText]="!saveInProgress ? (isOnboarding ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVE) : ConfigurationCtaText.SAVING" [isButtonDisabled]="!exportSettingsForm.valid || saveInProgress" (save)="save()"></app-configuration-step-footer>
        </form>
    </div>
</div>