:host ::ng-deep .p-multiselect-label {
    @apply tw-z-1 tw-px-12-px tw-py-8-px tw-w-270-px #{!important};      
}

:host ::ng-deep .p-multiselect-panel .p-multiselect-header,:host ::ng-deep .p-multiselect-panel .p-multiselect-items {
    @apply tw-p-0 #{!important};
}

:host ::ng-deep .p-multiselect-panel .p-multiselect-items .p-multiselect-item {
    @apply tw-mb-0 #{!important};
}

:host ::ng-deep .error-box .p-multiselect {
    @apply tw-border-alert-toast #{!important};
}

:host ::ng-deep .normal-box .p-multiselect {
    @apply tw-border-box-color #{!important};
}

:host ::ng-deep .normal-box .p-multiselect.p-focus {
    @apply tw-border-slightly-normal-text-color #{!important};
}

:host ::ng-deep .p-checkbox {
    @apply tw-pt-2-px #{!important};
}