<div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-full">
    <app-loader></app-loader>
</div>
<div *ngIf="!isLoading" class="configuration--contents tw-border-border-tertiary tw-mt-6" [ngClass]="brandingStyle.common.configurationContents">
    <div>
        <app-configuration-step-header [headerText]="'qbd_direct.configuration.importSetting.stepName' | transloco"
            [contentText]="'qbd_direct.configuration.importSetting.contentText' | transloco: {brandName: brandingConfig.brandName}"
            [redirectLink]="supportArticleLink" [showSyncButton]="isOnboarding" [appName]="appName"
            (refreshDimension)="refreshDimensions()">
        </app-configuration-step-header>
    </div>
    <div>
        <form [formGroup]="importSettingForm">
            <div class="tw-p-24-px">
                <div class="tw-rounded-lg tw-border-border-tertiary tw-border">
                    <app-configuration-toggle-field
                        [form]="importSettingForm"
                        [label]="'qbd_direct.configuration.importSetting.importCategoriesLabel' | transloco : {brandName: brandingConfig.brandName}"
                        [subLabel]="'qbd_direct.configuration.importSetting.importCategoriesSubLabel' | transloco : {brandName: brandingConfig.brandName}"
                        [formControllerName]="'importCategories'"
                        [isSectionHeader]="false"
                        [iconPath]="'arrow-tail-down'">
                    </app-configuration-toggle-field>

                    <div class="tw-pr-24-px tw-pl-64-px tw-py-0" *ngIf="importSettingForm.value.importCategories" [ngClass]="{'tw-pb-24-px': !(brandingFeatureConfig.featureFlags.importSettings.allowImportCode && importSettingForm.value.importCategories && QbdDirectImportCodeFieldCodeConfig[DefaultImportFields.ACCOUNT])}">
                        <div class="tw-flex tw-justify-between tw-items-center">
                            <h5 class="lg:tw-w-3/5 md:tw-w-1/2 tw-text-14-px" [ngClass]="brandingStyle.qbd_direct.onboarding.configurationToggleHeaderText">
                                {{'qbd_direct.configuration.importSetting.chartOfAccountTypes' | transloco}}
                                <p [ngClass]="[brandingStyle.common.inputLabelTextStyle,brandingStyle.qbd_direct.onboarding.configurationToggleDescriptionText]">
                                    {{'qbd_direct.configuration.importSetting.chartOfAccountTypesSubLabel' | transloco}}
                                </p>
                            </h5>
                            <div class="p-field-checkbox tw-pl-34-px">
                                <p-multiSelect [optionDisabled]="'Expense'" [placeholder]="'qbdDirectImportSettings.selectChartOfAccounts' | transloco" [options]="chartOfAccountTypesList" styleClass="tw-z-2 tw-py-8-px tw-px-12-px" [formControlName]="'chartOfAccountTypes'">
                                    <ng-template let-value pTemplate="selectedItems">
                                        <div class="tw-inline-flex tw-align-items-center" *ngFor="let option of value; let i = index">
                                            <div>{{ option }}<span *ngIf="i !== value?.length-1">,&nbsp;</span></div>
                                        </div>
                                        <div *ngIf="!value || value.length === 0">{{'qbdDirectImportSettings.selectChartOfAccountsSentenceCase' | transloco}}</div>
                                    </ng-template>
                                </p-multiSelect>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="brandingFeatureConfig.featureFlags.importSettings.allowImportCode && importSettingForm.value.importCategories && QbdDirectImportCodeFieldCodeConfig[DefaultImportFields.ACCOUNT]">
                        <app-configuration-select-field
                            [appName]="appName"
                            [form]="importSettingForm"
                            [isDisableTextRequired]="false"
                            [options]="getImportCodeSelectorOptions(DefaultImportFields.ACCOUNT)"
                            [placeholder]="'qbdDirectImportSettings.placeholderImport' | transloco : { field: helper.sentenseCaseConversion(DefaultImportFields.ACCOUNT).toLowerCase(), appName: appName }"
                            [label]="'qbdDirectImportSettings.labelImport' | transloco : { field: helper.sentenseCaseConversion(DefaultImportFields.ACCOUNT).toLowerCase(), appName: appName }"
                            [subLabel]="'qbdDirectImportSettings.subLabelImport' | transloco : { field: helper.sentenseCaseConversion(DefaultImportFields.ACCOUNT).toLowerCase() }"
                            [isMultiLineOption]="true"
                            [isFieldMandatory]="true"
                            [customErrorMessage]="'qbdDirectImportSettings.customErrorMessageImport' | transloco : { field: helper.sentenseCaseConversion(DefaultImportFields.ACCOUNT).toLowerCase() }"
                            [isDisabled]="!QbdDirectImportCodeFieldCodeConfig[DefaultImportFields.ACCOUNT]"
                            [formControllerName]="'importCategoryCode'">
                        </app-configuration-select-field>
                    </div>
                </div>

                <div class="tw-rounded-lg tw-border-border-tertiary tw-border tw-mt-24-px"
                     *ngIf="brandingFeatureConfig.featureFlags.importSettings.importItems &&
                            exportSettings.reimbursable_expense_export_type !== QbdDirectReimbursableExpensesObject.JOURNAL_ENTRY &&
                            exportSettings.credit_card_expense_export_type !== QbdDirectCorporateCreditCardExpensesObject.JOURNAL_ENTRY">
                    <app-configuration-toggle-field
                        [form]="importSettingForm"
                        [label]="'qbd_direct.configuration.importSetting.importItemsLabel' | transloco : {brandName: brandingConfig.brandName}"
                        [subLabel]="'qbd_direct.configuration.importSetting.importItemsSubLabel' | transloco : {brandName: brandingConfig.brandName}"
                        [formControllerName]="'importItems'"
                        [iconPath]="'arrow-tail-down'">
                    </app-configuration-toggle-field>
                </div>

                <div class="tw-rounded-lg tw-border-border-tertiary tw-border tw-mt-24-px" *ngIf="isImportMerchantsAllowed && brandingFeatureConfig.featureFlags.importSettings.importVendorsAsMerchants">
                    <app-configuration-toggle-field
                        [form]="importSettingForm"
                        [label]="'qbd_direct.configuration.importSetting.importVendorsAsMerchantsLabel' | transloco : {brandName: brandingConfig.brandName}"
                        [subLabel]="'qbdDirectImportSettings.importVendorsAsMerchantsSubLabel' | transloco : { brandName: brandingConfig.brandName }"
                        [formControllerName]="'importVendorsAsMerchants'"
                        [iconPath]="'arrow-tail-down'">
                    </app-configuration-toggle-field>
                </div>

                <div>
                    <app-configuration-import-field
                        [form]="importSettingForm"
                        [appName]="appName"
                        [accountingFieldOptions]="QbdDirectFields"
                        [fyleFieldOptions]="fyleFields"
                        [isDestinationFixedImport]="true">
                    </app-configuration-import-field>
                </div>
            </div>
            <app-configuration-step-footer
                [ctaText] = "!isSaveInProgress ? (isOnboarding ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVE) : ConfigurationCtaText.SAVING"
                [isButtonDisabled]="!importSettingForm.valid"
                [showBackButton]="isOnboarding ? true : false"
                (save)="save()"
                (navigateToPreviousStep)="navigateToPreviousStep()">
            </app-configuration-step-footer>
        </form>
    </div>
</div>
<div>
    <app-configuration-custom-field-creation-dialog
        [customFieldForm]="customFieldForm"
        [showCustomFieldCreationDialog]="showCustomFieldDialog"
        (saveCustomFieldFn)="saveFyleExpenseField()"
        (closeModelFn)="closeModel()">
    </app-configuration-custom-field-creation-dialog>
</div>
<div *ngIf="isPreviewDialogVisible">
    <app-preview-dialog
        [isPreviewDialogVisible]="true"
        [iconPath]="'assets/illustrations/sageIntacct/IntacctImportSettings.png'" (closeDialog)="closeDialog()"
        [header]="'qbdDirectImportSettings.previewHeader' | transloco">
    </app-preview-dialog>
</div>