.clone-setting {
    &--field-section {
        @apply tw-px-24-px;
    }

    &--field {
        @apply tw-p-24-px;
    }

    &--export-setting-header {
        @apply tw-flex tw-justify-between;
    }

    &--dependent-field {
        @apply tw-pt-24-px;
    }
    &--field-container {
        @apply tw-rounded-12-px tw-border-border-tertiary tw-border tw-bg-white;
    }
}

:host ::ng-deep .reimbursableExpense .clone-setting-field--label-text, :host ::ng-deep .creditCardExpense .clone-setting-field--label-text {
    @apply tw-text-16-px tw-text-text-primary tw-pl-0 #{!important};
}

:host ::ng-deep p-dropdown .p-disabled {
    @apply tw-text-input-read-only-text tw-bg-select-disabled-bg tw-border-select-disabled-border tw-border-solid tw-opacity-100 #{!important};
}
