<app-onboarding-steppers [isCloneSettingView]="true" [onboardingSteps]="onboardingSteps"></app-onboarding-steppers>
<div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-pt-80-px">
    <app-loader></app-loader>
</div>

<div class=" tw-pb-48-px">
    <div *ngIf="!isLoading" class="clone-setting configuration--contents tw-border-1-px tw-border-box-color tw-mt-24-px" [ngClass]="brandingStyle.common.configurationContents">

        <app-clone-setting-header [headerText]="'xeroCloneSettings.exportSettings' | transloco" [subHeaderText]="'xeroCloneSettings.exportSettingsDescription' | transloco: { brandName: brandingConfig.brandName }"></app-clone-setting-header>
        <div [formGroup]="exportSettingForm" class="clone-setting--field-section">
            <div class="tw-px-24-px tw-pt-24-px">
                <div class="clone-setting--field-container"><div class="tw-p-24-px">
                    <div class="reimbursableExpense">
                        <app-clone-setting-field
                            [additionalClasses]="'!tw-text-16-px !tw-text-text-primary'"
                            [label]="'xeroCloneSettings.exportReimbursableExpensesLabel' | transloco"
                            [form]="exportSettingForm"
                            [formControllerName]="'reimbursableExpense'"
                            [inputType]="InputType.TOGGLE"
                            [tooltipText]="'xeroCloneSettings.exportReimbursableExpensesTooltip' | transloco: { brandName: brandingConfig.brandName }">
                        </app-clone-setting-field>
                    </div>
                </div></div>
            </div>
            <div *ngIf="exportSettingForm.get('reimbursableExpense')?.value">
                <div class="tw-px-24-px tw-pt-24-px">
                <div class="clone-setting--field-container"><div class="tw-p-24-px">
                    <app-clone-setting-field
                        [iconSource]="'list'"
                        [label]="'xeroCloneSettings.howExpensesExportedLabel' | transloco"
                        [options]="reimbursableExportTypes"
                        [placeholder]="'xeroCloneSettings.chooseTransactionTypePlaceholder' | transloco: { brandName: brandingConfig.brandName }"
                        [form]="exportSettingForm"
                        [isFieldMandatory]="false"
                        [isDisabled]="true"
                        [formControllerName]="'reimbursableExportType'"
                        [dropdownDisplayKey]="'label'"
                        [tooltipText]="'xeroCloneSettings.chooseTransactionTypeTooltip' | transloco: { brandName: brandingConfig.brandName }">
                    </app-clone-setting-field>
                </div></div> </div>

            <div class="tw-px-24-px tw-mt-16-px">
                <div class="clone-setting--field-container"><div class="tw-p-24-px">
                    <app-clone-setting-field
                        [iconSource]="'question-square-outline'"
                        [label]="'xeroCloneSettings.employeeMatchingLabel' | transloco: { brandName: brandingConfig.brandName }"
                        [options]="autoMapEmployeeTypes"
                        [placeholder]="'xeroCloneSettings.selectRepresentationPlaceholder' | transloco"
                        [form]="exportSettingForm"
                        [isFieldMandatory]="false"
                        [formControllerName]="'autoMapEmployees'"
                        [dropdownDisplayKey]="'label'"
                        [tooltipText]="'xeroCloneSettings.employeeMatchingTooltip' | transloco: { brandName: brandingConfig.brandName }">
                    </app-clone-setting-field>
                </div></div>
            </div>
            <div class="tw-px-24-px tw-mt-16-px" *ngIf="exportSettingForm.controls.reimbursableExportType.value">
                <div class="clone-setting--field-container"><div class="tw-p-24-px">
                    <app-clone-setting-field
                        [iconSource]="'question-square-outline'"
                        [label]="'xeroCloneSettings.expenseExportStateLabel' | transloco: { brandName: brandingConfig.brandName }"
                        [options]="expenseStateOptions"
                        [placeholder]="'xeroCloneSettings.selectExportStatePlaceholder' | transloco"
                        [form]="exportSettingForm"
                        [isFieldMandatory]="true"
                        [formControllerName]="'expenseState'"
                        [dropdownDisplayKey]="'label'"
                        [tooltipText]="'xeroCloneSettings.expenseExportStateTooltip' | transloco">
                    </app-clone-setting-field>
                </div></div>
            </div>
            <div class="tw-px-24-px tw-mt-16-px" *ngIf="exportSettingForm.controls.reimbursableExportType.value">
                <div class="clone-setting--field-container"><div class="tw-p-24-px">
                    <app-clone-setting-field
                        [iconSource]="'question-square-outline'"
                        [label]="'xeroCloneSettings.expenseGroupingLabel' | transloco"
                        [options]="reimbursableExpenseGroupByOptions"
                        [placeholder]="'xeroCloneSettings.selectExpenseGroupingPlaceholder' | transloco"
                        [form]="exportSettingForm"
                        [isFieldMandatory]="true"
                        [formControllerName]="'reimbursableExportGroup'"
                        [isDisabled]="true"
                        [dropdownDisplayKey]="'label'"
                        [tooltipText]="'xeroCloneSettings.expenseGroupingTooltip' | transloco">
                    </app-clone-setting-field>
                </div></div>
            </div>
            <div class="tw-px-24-px tw-mt-16-px" *ngIf="exportSettingForm.controls.reimbursableExportType.value">
                <div class="clone-setting--field-container"><div class="tw-p-24-px">
                    <app-clone-setting-field
                        [iconSource]="'calendar'"
                        [label]="'xeroCloneSettings.setExportDateLabel' | transloco: { exportType: (exportSettingForm.controls.reimbursableExportType.value | snakeCaseToSpaceCase | lowercase) }"
                        [options]="reimbursableExpenseGroupingDateOptions"
                        [placeholder]="'xeroCloneSettings.selectExportDatePlaceholder' | transloco"
                        [form]="exportSettingForm"
                        [isFieldMandatory]="true"
                        [formControllerName]="'reimbursableExportDate'"
                        [dropdownDisplayKey]="'label'"
                        [tooltipText]="'xeroCloneSettings.exportDateTooltip' | transloco: { brandName: brandingConfig.brandName }">
                    </app-clone-setting-field>
                </div></div>
            </div> </div> </div>

        <div [formGroup]="exportSettingForm" class="clone-setting--field-section">
            <div class="clone-setting--field">
                <div class="clone-setting--field-container"><div class="tw-p-24-px">
                <div class="creditCardExpense">
                    <app-clone-setting-field
                        [label]="'xeroCloneSettings.exportCccExpensesLabel' | transloco"
                        [form]="exportSettingForm"
                        [formControllerName]="'creditCardExpense'"
                        [inputType]="InputType.TOGGLE"
                        [tooltipText]="'xeroCloneSettings.exportCccExpensesTooltip' | transloco: { brandName: brandingConfig.brandName }">
                    </app-clone-setting-field>
                </div>
            </div> </div> </div> 

            <div *ngIf="exportSettingForm.get('creditCardExpense')?.value">
            <div class="tw-px-24-px">
                <div class="clone-setting--field-container"><div class="tw-p-24-px">
                        <app-clone-setting-field
                            [iconSource]="'list'"
                            [label]="'xeroCloneSettings.howExpensesExportedLabel' | transloco"
                            [options]="creditCardExportTypes"
                            [placeholder]="'xeroCloneSettings.chooseTransactionTypePlaceholder' | transloco: { brandName: brandingConfig.brandName }"
                            [form]="exportSettingForm"
                            [isFieldMandatory]="false"
                            [isDisabled]="true"
                            [formControllerName]="'creditCardExportType'"
                            [dropdownDisplayKey]="'label'"
                            [tooltipText]="'xeroCloneSettings.selectExpenseExportTypeTooltip' | transloco">
                        </app-clone-setting-field>

                        <div class="clone-setting--dependent-field" *ngIf="exportSettingForm.controls.creditCardExportType.value">
                            <app-clone-setting-field
                                [label]="'xeroCloneSettings.postToBankAccountLabel' | transloco: { exportType: (exportSettingForm.controls.reimbursableExportType.value | snakeCaseToSpaceCase | lowercase) }"
                                [options]="bankAccounts"
                                [placeholder]="'xeroCloneSettings.selectBankAccountPlaceholder' | transloco"
                                [form]="exportSettingForm"
                                [isFieldMandatory]="true"
                                [formControllerName]="'bankAccount'"
                                [dropdownDisplayKey]="'name'"
                                [tooltipText]="'xeroCloneSettings.postToBankAccountTooltip' | transloco">
                            </app-clone-setting-field>
                        </div>
                    </div>
                </div></div>

                <div class="tw-px-24-px tw-mt-16-px" *ngIf="exportSettingForm.controls.creditCardExportType.value">
                    <div class="clone-setting--field-container"><div class="tw-p-24-px">
                        <app-clone-setting-field
                            [iconSource]="'question-square-outline'"
                            [label]="'xeroCloneSettings.expenseExportStateLabel' | transloco: { brandName: brandingConfig.brandName }"
                            [options]="cccExpenseStateOptions"
                            [placeholder]="'xeroCloneSettings.selectCccExpenseStatePlaceholder' | transloco"
                            [form]="exportSettingForm"
                            [isFieldMandatory]="true"
                            [formControllerName]="'cccExpenseState'"
                            [dropdownDisplayKey]="'label'"
                            [tooltipText]="'xeroCloneSettings.cccExpenseStateTooltip' | transloco">
                        </app-clone-setting-field>
                    </div></div>
                </div>

                <div class="tw-px-24-px tw-mt-16-px" *ngIf="exportSettingForm.controls.creditCardExportType.value">
                    <div class="clone-setting--field-container"><div class="tw-p-24-px">
                        <app-clone-setting-field
                            [iconSource]="'question-square-outline'"
                            [label]="'xeroCloneSettings.expenseGroupingLabel' | transloco"
                            [options]="cccExpenseGroupByOptions"
                            [placeholder]="'xeroCloneSettings.selectExpenseGroupingPlaceholder' | transloco"
                            [form]="exportSettingForm"
                            [isFieldMandatory]="true"
                            [isDisabled]="true"
                            [formControllerName]="'creditCardExportGroup'"
                            [dropdownDisplayKey]="'label'"
                            [tooltipText]="'xeroCloneSettings.expenseGroupingTooltip' | transloco">
                        </app-clone-setting-field>
                    </div></div>
                </div>

                <div class="tw-px-24-px tw-mt-16-px" *ngIf="exportSettingForm.controls.creditCardExportType.value">
                    <div class="clone-setting--field-container"><div class="tw-p-24-px">
                        <app-clone-setting-field
                            [iconSource]="'calendar'"
                            [label]="'xeroCloneSettings.setExportDateLabel' | transloco: { exportType: (exportSettingForm.controls.creditCardExportType.value | snakeCaseToSpaceCase | lowercase) }"
                            [options]="cccExpenseGroupingDateOptions"
                            [placeholder]="'xeroCloneSettings.selectExportDatePlaceholder' | transloco"
                            [form]="exportSettingForm"
                            [isFieldMandatory]="true"
                            [formControllerName]="'creditCardExportDate'"
                            [dropdownDisplayKey]="'label'"
                            [tooltipText]="'xeroCloneSettings.cccExportDateTooltip' | transloco">
                        </app-clone-setting-field>
                    </div></div>
                </div>

                <div class="tw-px-24-px tw-my-16-px" *ngIf="brandingFeatureConfig.featureFlags.exportSettings.splitExpenseGrouping &&
                    exportSettingForm.controls.creditCardExportType.value === XeroCorporateCreditCardExpensesObject.BANK_TRANSACTION">
                    <div class="clone-setting--field-container"><div class="tw-p-24-px">
                        <app-clone-setting-field
                            [iconSource]="'question-square-outline'"
                            [label]="'xeroCloneSettings.splitExpenseGroupingLabel' | transloco"
                            [options]="splitExpenseGroupingOptions"
                            [placeholder]="'xeroCloneSettings.selectSplitExpenseGroupingPlaceholder' | transloco"
                            [form]="exportSettingForm"
                            [isFieldMandatory]="true"
                            [formControllerName]="'splitExpenseGrouping'"
                            [dropdownDisplayKey]="'label'"
                            [tooltipText]="'xeroCloneSettings.splitExpenseGroupingTooltip' | transloco">
                        </app-clone-setting-field>
                    </div></div>
                </div>
            </div>
        </div>

        <app-clone-setting-header [headerText]="'xeroCloneSettings.importSettings' | transloco" [subHeaderText]="'xeroCloneSettings.importSettingsDescription' | transloco: { brandName: brandingConfig.brandName }"></app-clone-setting-header>

        <div class="clone-setting--field-section">
            <div class="clone-setting--field">
                <div class="clone-setting--field-container"><div class="tw-p-24-px">
                    <app-clone-setting-field
                        [iconSource]="'arrow-tail-down'"
                        [label]="'xeroCloneSettings.importCoaLabel' | transloco"
                        [form]="importSettingForm"
                        [formControllerName]="'importCategories'"
                        [inputType]="InputType.TOGGLE"
                        [tooltipText]="'xeroCloneSettings.importCoaTooltip' | transloco: { brandName: brandingConfig.brandName }">
                    </app-clone-setting-field>

                    <div class="clone-setting--dependent-field" *ngIf="importSettingForm.get('importCategories')?.value">
                        <app-clone-setting-field
                            [label]="'xeroCloneSettings.selectAccountsToImportLabel' | transloco"
                            [options]="chartOfAccountTypesList"
                            [placeholder]="'xeroCloneSettings.selectCoaPlaceholder' | transloco"
                            [form]="importSettingForm"
                            [isFieldMandatory]="true"
                            [formControllerName]="'chartOfAccountTypes'"
                            [disabledOption]="'xeroCloneSettings.expenseOption' | transloco"
                            [inputType]="InputType.MULTI_SELECT"
                            [tooltipText]="'xeroCloneSettings.selectAccountsToImportTooltip' | transloco">
                        </app-clone-setting-field>
                    </div>
                </div>
            </div></div>

            <div class="tw-px-24-px tw-mb-16-px" *ngIf="isCustomerPresent">
                <div class="clone-setting--field-container"><div class="tw-p-24-px">
                    <app-clone-setting-field
                        [iconSource]="'arrow-tail-down'"
                        [label]="'xero.configuration.importSetting.importCustomersLabel' | transloco"
                        [form]="importSettingForm"
                        [formControllerName]="'importCustomers'"
                        [inputType]="InputType.TOGGLE"
                        [isDisabled]="isProjectMapped"
                        [tooltipText]="'xero.configuration.importSetting.importCustomersSubLabel' | transloco: {brandName: brandingConfig.brandName}">
                    </app-clone-setting-field>
                </div></div>
            </div>

            <div class="tw-px-24-px tw-mb-16-px" *ngIf="cloneSetting.export_settings.workspace_general_settings.corporate_credit_card_expenses_object">
                <div class="clone-setting--field-container"><div class="tw-p-24-px">
                    <app-clone-setting-field
                        [iconSource]="'arrow-tail-down'"
                        [label]="'xero.configuration.importSetting.importSuppliersAsMerchantsLabel' | transloco"
                        [form]="importSettingForm"
                        [formControllerName]="'importSuppliersAsMerchants'"
                        [inputType]="InputType.TOGGLE"
                        [tooltipText]="'xero.configuration.importSetting.importSuppliersAsMerchantsLabel' | transloco">
                    </app-clone-setting-field>
                </div></div>
            </div>

            <div class="tw-px-24-px tw-mb-16-px" *ngIf="isTaxGroupSyncAllowed">
                <div class="clone-setting--field-container"><div class="tw-p-24-px">
                    <app-clone-setting-field
                        [iconSource]="'arrow-tail-down'"
                        [label]="'xeroCloneSettings.importTaxLabel' | transloco"
                        [form]="importSettingForm"
                        [formControllerName]="'taxCode'"
                        [inputType]="InputType.TOGGLE"
                        [tooltipText]="'xeroCloneSettings.importTaxTooltip' | transloco: { brandName: brandingConfig.brandName }">
                    </app-clone-setting-field>

                    <div class="clone-setting--dependent-field" *ngIf="importSettingForm.get('taxCode')?.value">
                        <app-clone-setting-field *ngIf="importSettingForm.get('taxCode')?.value"
                            [label]="'xeroCloneSettings.selectDefaultTaxCodeLabel' | transloco"
                            [options]="taxCodes"
                            [placeholder]="'xeroCloneSettings.selectTaxCodePlaceholder' | transloco"
                            [form]="importSettingForm"
                            [isFieldMandatory]="true"
                            [formControllerName]="'defaultTaxCode'"
                            [dropdownDisplayKey]="'name'"
                            [tooltipText]="'xeroCloneSettings.defaultTaxCodeTooltip' | transloco: { brandName: brandingConfig.brandName }">
                        </app-clone-setting-field>
                    </div>
                </div>
            </div></div>

             <div class="tw-px-24-px tw-mb-16-px">
            <app-configuration-import-field
                [form]="importSettingForm"
                [appName]="appName"
                [accountingFieldOptions]="xeroFields"
                [fyleFieldOptions]="fyleFields"
                [isDestinationFixedImport]="true"
                [isCloneSettingView]="true"
                (xeroProjectMapping)="updateCustomerImportAvailability($event)">
            </app-configuration-import-field>
        </div> </div>

        <app-clone-setting-header [headerText]="'xeroCloneSettings.advancedSettings' | transloco" [subHeaderText]="'xeroCloneSettings.advancedSettingsDescription' | transloco"></app-clone-setting-header>
        <div class="clone-setting--field-section">
            <div class="clone-setting--field">
                <div class="clone-setting--field-container"><div class="tw-p-24-px">
                    <app-clone-setting-field
                        [iconSource]="'calendar'"
                        [label]="'xeroCloneSettings.scheduleAutomaticExportLabel' | transloco"
                        [form]="advancedSettingForm"
                        [formControllerName]="'exportSchedule'"
                        [inputType]="InputType.TOGGLE"
                        [tooltipText]="'xeroCloneSettings.scheduleAutomaticExportTooltip' | transloco: { brandName: brandingConfig.brandName }">
                    </app-clone-setting-field>

                    <div class="clone-setting--dependent-field tw-flex" *ngIf="advancedSettingForm.get('exportSchedule')?.value">
                        <app-clone-setting-field class="tw-flex-auto"
                            [label]="'xeroCloneSettings.setupExportFrequencyLabel' | transloco"
                            [isFieldMandatory]="true"
                            [options]="scheduleIntervalHours"
                            [form]="advancedSettingForm"
                            [isFieldMandatory]="true"
                            [formControllerName]="'exportScheduleFrequency'"
                            [dropdownDisplayKey]="'label'"
                            [additionalClasses]="'dropdown-size-schedule'"
                            [tooltipText]="'xeroCloneSettings.setupExportFrequencyTooltip' | transloco: { brandName: brandingConfig.brandName }">
                        </app-clone-setting-field>
                        <div class="tw-ml-16-px">
                            <input type="text" class="tw-border-input-read-only-border tw-border !tw-p-12-px !tw-w-100-px !tw-h-40-px !tw-bg-input-read-only-bg tw-text-slightly-normal-text-color" pInputText disabled [value]="(advancedSettingForm.get('exportScheduleFrequency')?.value > 1 ? 'xeroCloneSettings.hours' : 'xeroCloneSettings.hour') | transloco">
                        </div>
                    </div>

                    <div class="clone-setting--dependent-field tw-flex tw-justify-between" *ngIf="advancedSettingForm.get('exportSchedule')?.value">
                        <p class="tw-pl-16-px tw-py-2-px tw-text-slightly-normal-text-color tw-text-14-px tw-flex tw-items-center">
                            {{ 'xeroCloneSettings.sendErrorNotificationTo' | transloco }}
                            <app-svg-icon [width]="'16px'" [height]="'16px'" [svgSource]="'info-circle-fill'" [styleClasses]="'tw-text-placeholder tw-ml-8-px'" [tooltipText]="'xeroCloneSettings.errorNotificationTooltip' | transloco" [tooltipPosition]="'top'"></app-svg-icon>
                        </p>
                        <app-email-multi-select-field
                            [form]="advancedSettingForm"
                            [appName]="appName"
                            [label]="'xeroCloneSettings.sendErrorNotificationToLabel' | transloco"
                            [isFieldMandatory]="false"
                            [mandatoryErrorListName]="'xeroCloneSettings.emailForErrorNotificationError' | transloco"
                            [subLabel]="'xeroCloneSettings.errorNotificationTooltip' | transloco"
                            [options]="adminEmails"
                            [iconPath]="'list'"
                            [placeholder]="'xeroCloneSettings.selectEmailAddressPlaceholder' | transloco"
                            [formControllerName]="'email'"
                            [isCloneSettingView]="true">
                        </app-email-multi-select-field>
                    </div>
                </div>
            </div>

            <div class="tw-mt-16-px">
                <div class="clone-setting--field-container"><div class="tw-p-24-px">
                    <app-clone-setting-field
                        [iconSource]="'calendar'"
                        [label]="'netsuite.configuration.advancedSettings.postEntriesCurrentPeriod' | transloco"
                        [form]="advancedSettingForm"
                        [formControllerName]="'changeAccountingPeriod'"
                        [inputType]="InputType.TOGGLE"
                        [tooltipText]="'xeroCloneSettings.postEntriesCurrentPeriodTooltip' | transloco">
                    </app-clone-setting-field>
                </div></div>
            </div>

            <div class="tw-mt-16-px" *ngIf="cloneSetting.export_settings.workspace_general_settings.reimbursable_expenses_object">
                <div class="clone-setting--field-container"><div class="tw-p-24-px">
                    <app-clone-setting-field
                        [iconSource]="'user-plus'"
                        [label]="'xeroCloneSettings.autoCreateContactsLabel' | transloco"
                        [form]="advancedSettingForm"
                        [formControllerName]="'autoCreateVendors'"
                        [inputType]="InputType.TOGGLE"
                        [tooltipText]="'xeroCloneSettings.autoCreateContactsTooltip' | transloco: { brandName: brandingConfig.brandName }">
                    </app-clone-setting-field>
                </div></div>
            </div>

            <div class="tw-mt-16-px" *ngIf="cloneSetting.export_settings.workspace_general_settings.reimbursable_expenses_object">
                <div class="clone-setting--field-container"><div class="tw-p-24-px">
                    <app-clone-setting-field
                        [iconSource]="'arrow-rotate'"
                        [label]="'xeroCloneSettings.autoSyncPaymentStatusLabel' | transloco"
                        [form]="advancedSettingForm"
                        [formControllerName]="'paymentSync'"
                        [options]="paymentSyncOptions"
                        [placeholder]="'xeroCloneSettings.selectPaymentSyncPlaceholder' | transloco"
                        [dropdownDisplayKey]="'label'"
                        [tooltipText]="'xeroCloneSettings.autoSyncPaymentStatusTooltip' | transloco: { brandName: brandingConfig.brandName }">
                    </app-clone-setting-field>

                    <div class="clone-setting--dependent-field" *ngIf="advancedSettingForm.get('paymentSync')?.value && advancedSettingForm.get('paymentSync')?.value === 'fyle_to_xero'">
                        <app-clone-setting-field
                            [label]="'xeroCloneSettings.postPaymentEntriesToAccountLabel' | transloco"
                            [options]="billPaymentAccounts"
                            [placeholder]="'xeroCloneSettings.selectPaymentAccountPlaceholder' | transloco"
                            [form]="advancedSettingForm"
                            [isFieldMandatory]="true"
                            [formControllerName]="'billPaymentAccount'"
                            [dropdownDisplayKey]="'name'"
                            [tooltipText]="'xeroCloneSettings.postPaymentEntriesToAccountTooltip' | transloco: { brandName: brandingConfig.brandName }">
                        </app-clone-setting-field>
                    </div>
                </div>
            </div>

            <div class="tw-mt-16-px tw-mb-24-px" *ngIf="cloneSetting.export_settings.workspace_general_settings.corporate_credit_card_expenses_object">
                <div class="clone-setting--field-container"><div class="tw-p-24-px">
                    <app-clone-setting-field
                        [iconSource]="'user-plus'"
                        [label]="'xero.configuration.advancedSettings.autoCreateMerchantsAsVendorsLabel' | transloco: {brandName: brandingConfig.brandName}"
                        [form]="advancedSettingForm"
                        [formControllerName]="'autoCreateMerchantDestinationEntity'"
                        [inputType]="InputType.TOGGLE"
                        [tooltipText]="'xeroCloneSettings.autoCreateMerchantsTooltip' | transloco: { brandName: brandingConfig.brandName }">
                    </app-clone-setting-field>
                </div></div>
            </div>
        </div>
        <app-configuration-step-footer [showResetButton]="true" [showBackButton]="true" [ctaText] = "!isSaveInProgress ? ('xeroCloneSettings.saveAndContinue' | transloco) : ('xeroCloneSettings.saving' | transloco)" (save)="save()" (resetCloneSetting)="resetCloneSetting()" (navigateToPreviousStep)="navigateToPreviousStep()" [isButtonDisabled]="!exportSettingForm.valid || !importSettingForm.valid || !advancedSettingForm.valid"></app-configuration-step-footer>
        <app-configuration-confirmation-dialog
            (warningAccepted)="acceptWarning($event)"
            [isWarningVisible]="isWarningDialogVisible"
            [event]="warningEvent"
            [headerText]="warningHeaderText"
            [contextText]="warningContextText"
            [confirmBtnText]="primaryButtonText"
            [showSecondaryCTA]="true">
        </app-configuration-confirmation-dialog>

        <app-configuration-custom-field-creation-dialog
            [customFieldForm]="customFieldForm"
            [showCustomFieldCreationDialog]="showCustomFieldDialog"
            (saveCustomFieldFn)="saveFyleExpenseField()"
            (closeModelFn)="closeModel()">
        </app-configuration-custom-field-creation-dialog>

        <app-preview-dialog *ngIf="isPreviewDialogVisible"
            [isPreviewDialogVisible]="true"
            [iconPath]="'assets/illustrations/sageIntacct/IntacctImportSettings.png'" (closeDialog)="closeDialog()"
            [header]="'xeroCloneSettings.previewHeader' | transloco">
        </app-preview-dialog>

    </div>
</div>
