<div>
    <p-dialog [header]="header" [dismissableMask]="true" [showHeader]="true" [modal]="true" [(visible)]="isPreviewDialogVisible" (onHide)="close()" [breakpoints]="{ '960px': '75vw' }" [draggable]="false" [resizable]="false">
        <ng-template pTemplate="header">
            <div class="">
               <span class="tw-text-20-px tw-font-500 tw-text-modal-header-text-color">{{ header }}</span> 
            </div>
        </ng-template>
        <div class="tw-flex tw-items-center tw-justify-center tw-p-24-px tw-border-t tw-border-t-border-tertiary">
            <img height="300px" width="700px" [src]="iconPath">
        </div>
        @if (showNavigation) {
            <div class="tw-flex tw-items-center tw-justify-center tw-gap-16-px tw-pb-24-px tw-px-24-px">
                <button 
                    type="button"
                    class="tw-flex tw-items-center tw-justify-center tw-w-32-px tw-h-32-px tw-rounded-full tw-border tw-border-border-tertiary tw-bg-white hover:tw-bg-bg-tertiary-lighter tw-cursor-pointer"
                    (click)="onNavigate('previous')"
                    [attr.aria-label]="'View previous module'">
                    <app-svg-icon [svgSource]="'arrow-circle-left'" [width]="'20px'" [height]="'20px'" [styleClasses]="'tw-text-icon-primary'"></app-svg-icon>
                </button>
                <span class="tw-ml-10-px tw-mr-10-px tw-text-14-px tw-font-500 tw-text-text-primary tw-min-w-200-px tw-text-center">
                    {{ currentModuleName | snakeCaseToSpaceCase }}
                </span>
                <button 
                    type="button"
                    class="tw-flex tw-items-center tw-justify-center tw-w-32-px tw-h-32-px tw-rounded-full tw-border tw-border-border-tertiary tw-bg-white hover:tw-bg-bg-tertiary-lighter tw-cursor-pointer"
                    (click)="onNavigate('next')"
                    [attr.aria-label]="'View next module'">
                    <app-svg-icon [svgSource]="'arrow-circle-right'" [width]="'20px'" [height]="'20px'" [styleClasses]="'tw-text-icon-primary'"></app-svg-icon>
                </button>
            </div>
        }
    </p-dialog>
</div>
