<div>
  <div>
    <app-landing-page-header
      [iconPath]="'assets/logos/sage50-logo.svg'"
      logoStyleClasses=""
      logoSectionStyleClasses=""
      [appName]="appName"
      [appDescription]="'sage50OnboardingLanding.appDescription' | transloco: { brandName: brandingConfig.brandName }"
      [redirectLink]="redirectLink"
      [postConnectionRoute]="'sage50/onboarding/prerequisites'"
    ></app-landing-page-header>
  </div>
  <div>
    <app-landing-page-body
      [headlineText]="'sage50OnboardingLanding.headlineText' | transloco"
      [headerText]="'sage50OnboardingLanding.headerText' | transloco"
      [embedVideo]="embedVideoLink"
      [svgPath]="'assets/flow-charts/sage50-flow-chart.svg'"
      [appName]="appName"
    ></app-landing-page-body>
  </div>
</div>
