<div class="tw-border-t-1-px tw-border-t-separator">
    <p-table [value]="mappings" [tableStyle]="{ 'min-width': '50rem' }" [sortField]="'source_value'" [sortOrder]="1">
        <ng-template pTemplate="header">
            <tr>
                <th class="tw-flex tw-justify-start tw-items-center">{{ fyleHeaderName | snakeCaseToSpaceCase | titlecase }} <i class="tw-ml-6-px pi pi-sort-amount-down"></i></th>
                <th>{{ destinationHeaderName }}</th>
                <th>Status</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-mapping let-rowIndex="rowIndex">
            <tr>
                <td>{{ mapping.source_value }}</td>
                <td>
                    <span class="p-input-icon-right" (keydown)="isTypingInBox($event, mapping)" *ngIf="destinationFieldType === fieldType.TEXT">
                        <i *ngIf="focussedMappingId === mapping.id" class="pi pi-check tooltip" (click)="postTextFieldValue(mapping)" [pTooltip]="getToolTipText()" [escape]="false"  tooltipPosition="top"></i>
                        <input type="text" pInputText [placeholder]="'Enter ' + (route.snapshot.params.source_field === 'corporate_card' ? 'credit card account' : 'account')" [value]="mapping.destination_value" (input)="onTextBoxChange($event)">        
                    </span>  
                </td>
                <td>
                    <p *ngIf="mapping.destination_value" class="mapped">{{brandingFeatureConfig.isIconsInsideButtonAllowed ? 'MAPPED': 'Mapped'}}</p>
                    <p *ngIf="!mapping.destination_value" class="unmapped">{{brandingFeatureConfig.isIconsInsideButtonAllowed ? 'UNMAPPED': 'Unmapped'}}</p>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
