<app-generic-mapping-v2 *ngIf="!isLoading"
    [isLoading]="isLoading"
    [destinationOptions]="destinationOptions"
    [employeeFieldMapping]="employeeFieldMapping"
    [sourceField]="sourceField"
    [destinationField]="destinationField"
    [showAutoMapEmployee]="showAutoMapEmployee"
    [appName]="AppName.QBO"
    [isCategoryMappingGeneric]="sourceField === FyleField.CATEGORY ? true : false"
    [displayName]="displayName"
    [isMultiLineOption]="sourceField === FyleField.CATEGORY && brandingConfig.brandId !== 'co' ? true : false"
    (triggerAutoMapEmployee)="triggerAutoMapEmployees()">
</app-generic-mapping-v2>
