<div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-screen">
    <app-loader></app-loader>
</div>
<div *ngIf="!isLoading" class="configuration--contents tw-border-border-tertiary tw-mt-6" [ngClass]="brandingStyle.common.configurationContents">
    <div>
        <app-configuration-step-header
            [headerText]="brandingContent.stepName"
            [contentText]="brandingContent.contentText"
            [redirectLink]="supportArticleLink"
            [showSyncButton]="isOnboarding"
            [appName]="appName"
            (refreshDimension)="refreshDimensions()">
        </app-configuration-step-header>
    </div>
    <form [formGroup]="advancedSettingForm">
        <div class="tw-p-24-px">
            <div class="tw-mb-16-px">
                <app-configuration-step-sub-header
                    [label]="'qboAdvancedSettings.automation' | transloco"
                    [subLabel]="brandingContent.automationSubLabel">
                </app-configuration-step-sub-header>
            </div>
            <div class="tw-mb-16-px">
                <div class="tw-rounded-12-px tw-border-border-tertiary tw-border tw-bg-white tw-mb-16-px">
                    <app-configuration-toggle-field
                        [form]="advancedSettingForm"
                        [label]="'qboAdvancedSettings.scheduleAutomaticExport' | transloco"
                        [subLabel]="brandingContent.scheduleSubLabel"
                        [formControllerName]="'exportSchedule'"
                        [iconPath]="'calendar'">
                    </app-configuration-toggle-field>

                    <div *ngIf="advancedSettingForm.get('exportSchedule')?.value">
                        <app-configuration-schedule-export
                            [form]="advancedSettingForm"
                            [appName]="appName"
                            [isFieldMandatory]="false"
                            [mandatoryErrorListName]="'qboAdvancedSettings.automaticExportMethod' | transloco"
                            [label]="'qboAdvancedSettings.setupExportFrequency' | transloco"
                            [subLabel]="brandingContent.frequencySubLabel"
                            [options]="hours"
                            [isEmailPresent]="brandingFeatureConfig.featureFlags.advancedSettings.emailNotification ? true: false"
                            [formControllerName]="'exportScheduleFrequency'"
                            [adminEmails]="adminEmails">
                        </app-configuration-schedule-export>
                    </div>
                </div>
            </div>

            <div class="tw-mb-16-px">
                <app-configuration-step-sub-header
                    [label]="brandingContent.otherPreferencesLabel"
                    [subLabel]="brandingContent.otherPreferencesSubLabel">
                </app-configuration-step-sub-header>
            </div>
            <div class="tw-rounded-12-px tw-border-border-tertiary tw-border tw-bg-white tw-mb-16-px">
                <app-configuration-toggle-field
                    [form]="advancedSettingForm"
                    [iconPath]="'calendar'"
                    [label]="brandingContent.accountingPeriodLabel"
                    [subLabel]="brandingContent.accountingPeriodSubLabel"
                    [formControllerName]="'changeAccountingPeriod'">
                </app-configuration-toggle-field>

                <app-configuration-toggle-field *ngIf="isAutoCreateVendorsFieldVisible() && brandingFeatureConfig.featureFlags.advancedSettings.autoCreateVendors"
                    [form]="advancedSettingForm"
                    [iconPath]="'user-plus'"
                    [label]="brandingContent.autoCreateVendorsLabel"
                    [subLabel]="'qboAdvancedSettings.autoCreateVendorsSubLabel' | transloco: { brandName: brandingConfig.brandName }"
                    [formControllerName]="'autoCreateVendors'">
                </app-configuration-toggle-field>

                <app-configuration-select-field *ngIf="isPaymentSyncFieldVisible() && brandingFeatureConfig.featureFlags.advancedSettings.paymentsSync"
                    [form]="advancedSettingForm"
                    [options]="paymentSyncOptions"
                    [iconPath]="'arrow-rotate'"
                    [label]="brandingContent.paymentSyncLabel"
                    [subLabel]="'qboAdvancedSettings.paymentSyncSubLabel' | transloco: { brandName: brandingConfig.brandName }"
                    [placeholder]="'qboAdvancedSettings.paymentSyncPlaceholder' | transloco"
                    [formControllerName]="'paymentSync'"
                    [showClearIcon]="true">
                </app-configuration-select-field>

                <app-configuration-select-field *ngIf="advancedSettingForm.get('paymentSync')?.value && advancedSettingForm.get('paymentSync')?.value === 'fyle_to_qbo'"
                    [form]="advancedSettingForm"
                    [destinationAttributes]="billPaymentAccounts"
                    [optionLabel]="'name'"
                    [isFieldMandatory]="true"
                    [mandatoryErrorListName]="'qboAdvancedSettings.paymentAccountError' | transloco"
                    [label]="brandingContent.billPaymentAccountLabel"
                    [subLabel]="'qboAdvancedSettings.billPaymentAccountSubLabel' | transloco: { brandName: brandingConfig.brandName, subLabel: brandingContent.billPaymentAccountSubLabel }"
                    [placeholder]="'qboAdvancedSettings.selectPaymentAccountPlaceholder' | transloco"
                    [formControllerName]="'billPaymentAccount'">
                </app-configuration-select-field>

                <app-configuration-toggle-field *ngIf="isSingleCreditLineJEFieldVisible() && brandingFeatureConfig.featureFlags.advancedSettings.singleCreditLineJE"
                    [form]="advancedSettingForm"
                    [iconPath]="'list'"
                    [label]="brandingContent.singleCreditLineJELabel"
                    [subLabel]="brandingContent.singleCreditLineJESubLabel"
                    [formControllerName]="'singleCreditLineJE'">
                </app-configuration-toggle-field>

                <app-configuration-toggle-field *ngIf="isAutoCreateMerchantsAsVendorsFieldVisible()"
                    [form]="advancedSettingForm"
                    [iconPath]="'user-plus'"
                    [label]="brandingContent.autoCreateMerchantsAsVendorsLabel"
                    [subLabel]="brandingContent.autoCreateMerchantsAsVendorsSubLabel"
                    [formControllerName]="'autoCreateMerchantsAsVendors'">
                </app-configuration-toggle-field>
            </div>

            <div class="tw-mb-16-px">
                <app-configuration-step-sub-header
                    [label]="'qboAdvancedSettings.customization' | transloco"
                    [subLabel]="brandingContent.customizeSectionSubLabel">
                </app-configuration-step-sub-header>
            </div>
            <div class="tw-rounded-12-px tw-border-border-tertiary tw-border tw-bg-white tw-mb-16-px">
                <app-configuration-multi-select
                    [form]="advancedSettingForm"
                    [isFieldMandatory]="false"
                    [mandatoryErrorListName]="'qboAdvancedSettings.itemLevelDescription' | transloco"
                    [label]="brandingContent.memoStructureLabel"
                    [subLabel]="brandingContent.memoStructureSubLabel"
                    [options]="defaultMemoOptions"
                    [iconPath]="'list'"
                    [placeholder]="'qboAdvancedSettings.setDescriptionPlaceholder' | transloco"
                    [formControllerName]="'memoStructure'"
                    (changeInMultiSelect)="onMultiSelectChange()">
                </app-configuration-multi-select>
                <div class="preview-text">
                    <h4 class="tw-text-form-label-text-color tw-mb-12-px">{{brandingContent.previewDescriptionFieldLabel}}</h4>
                    <div class="preview-box">
                        {{memoPreviewText}}
                    </div>
                </div>
            </div>

            <div class="tw-rounded-12-px tw-border-border-tertiary tw-border tw-bg-white tw-mb-16-px" *ngIf="brandingFeatureConfig.featureFlags.advancedSettings.skipExport">
                <app-configuration-toggle-field
                    [form]="advancedSettingForm"
                    [label]="'qboAdvancedSettings.skipExportLabel' | transloco: { brandName: brandingConfig.brandName }"
                    [subLabel]="'qboAdvancedSettings.skipExportSubLabel' | transloco: { brandName: brandingConfig.brandName }"
                    [formControllerName]="'skipExport'"
                    [iconPath]="'list'"
                    [redirectLink]="skipExportRedirectLink">
                </app-configuration-toggle-field>
                <div *ngIf="advancedSettingForm.get('skipExport')?.value">
                    <app-configuration-skip-export
                    [enableSkipExport]="advancedSettingForm.get('skipExport')?.value"
                    [skipExportForm]="skipExportForm"
                    [expenseFilter]="expenseFilters"
                    [conditionFieldOptions]="conditionFieldOptions"
                    (deleteSkipExportForm)="deleteExpenseFilter($event)"
                    (invalidSkipExportForm)="invalidSkipExportForm($event)">
                    </app-configuration-skip-export>
                </div>
            </div>
        </div>
        <app-configuration-step-footer
            [ctaText] = "!isSaveInProgress ? (isOnboarding ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVE) : ConfigurationCtaText.SAVING"
            [isButtonDisabled]="!advancedSettingForm.valid || isSkipExportFormInvalid"
            [showBackButton]="isOnboarding ? true : false"
            (save)="save()"
            (navigateToPreviousStep)="navigateToPreviousStep()"></app-configuration-step-footer>
    </form>
</div>
