<div>
    <div>
        <app-landing-page-header [logoWidth]="'65px'" [additionalClasses]="'tw-p-0'" [iconPath]="'assets/logos/BusinessCentral-logo.svg'" [appName]="'Dynamics 365 Business Central'" [appDescription]="'Import data from Dynamics 365 Business Central to ' + brandingConfig.brandName + ' and Export expenses from ' + brandingConfig.brandName + ' to Dynamics 365 Business Central. '" [isLoading]="false" [isIntegrationSetupInProgress]="false" [isIntegrationConnected]="false" [redirectLink]="redirectLink" [buttonText]="'Connect'" [postConnectionRoute]="'business_central/onboarding/connector'"></app-landing-page-header>
    </div>
    <div>
        <app-landing-page-body [headlineText]="'Guide to setup your Integrations'" [headerText]="'A quick guide to help you set up the integration quick and easy.'" [embedVideo]="embedVideoLink" [svgPath]="'assets/flow-charts/sage300-flow-chart.svg'"></app-landing-page-body>
    </div>
</div>
