<div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-full">
    <app-loader></app-loader>
</div>
<div *ngIf="!isLoading" class="configuration--contents tw-mt-6" [ngClass]="brandingStyle.common.configurationContents">
    <div>
        <app-configuration-step-header
            [headerText]="'travelperkAdvancedSettings.headerText' | transloco"
            [contentText]="'travelperkAdvancedSettings.contentText' | transloco: { brandName: brandingConfig.brandName }"
            [redirectLink]="supportArticleLink"
            [appName]="appName">
        </app-configuration-step-header>
    </div>
    <form [formGroup]="advancedSettingsForm">
        <div class="tw-p-24-px">
            <div class="tw-mb-16-px">
                <div class="tw-mb-16-px">
                    <app-configuration-step-sub-header
                        [label]="'travelperkAdvancedSettings.categoryMappingLabel' | transloco"
                        [subLabel]="'travelperkAdvancedSettings.categoryMappingSubLabel' | transloco: { brandName: brandingConfig.brandName }">
                    </app-configuration-step-sub-header>
                </div>
                <div class="">
                    <app-configuration-mapping-fields
                        [appName]="appName"
                        [showCrossIcon]="true"
                        [isDestinationDisabled]="true"
                        [sourceFieldOptions]="defaultCategories"
                        [destinationFieldOptions]="destinationFieldOptions"
                        [form]="advancedSettingsForm"
                        [sourceFieldText]="'travelperkAdvancedSettings.sourceFieldText' | transloco: { brandName: brandingConfig.brandName }"
                        [destinationFieldText]="'travelperkAdvancedSettings.destinationFieldText' | transloco"
                        [sourceFieldPlaceholderText]="'travelperkAdvancedSettings.sourceFieldPlaceholderText' | transloco"
                        [destinationPlaceholderFieldText]="'travelperkAdvancedSettings.destinationCategoryPlaceholder' | transloco"
                        [totalAvailableRows]="4"
                        [destinationAttributeNames]="destinationAttributeNames"
                        [sourceAttributeNames]="sourceAttributeNames"
                        [formControllerName]="'categoryMappings'"
                        [isMandatory]="true">
                    </app-configuration-mapping-fields>
                </div>
            </div>
            <div class="tw-mb-16-px">
                <div class="tw-mb-16-px">
                    <app-configuration-step-sub-header
                        [label]="'travelperkAdvancedSettings.defaultValuesLabel' | transloco"
                        [subLabel]="'travelperkAdvancedSettings.defaultValuesSubLabel' | transloco">
                    </app-configuration-step-sub-header>
                </div>
                <div class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                    <app-configuration-select-field
                        [form]="advancedSettingsForm"
                        [isFieldMandatory]="false"
                        [label]="'travelperkAdvancedSettings.defaultEmployeeLabel' | transloco"
                        [subLabel]="'travelperkAdvancedSettings.defaultEmployeeSubLabel' | transloco: { brandName: brandingConfig.brandName }"
                        [simpleOptions]="[advancedSettingsForm.controls.defaultEmployee.value]"
                        [iconPath]="'user-two'"
                        [formControllerName]="'defaultEmployee'"
                        [isDisabled]="true">
                    </app-configuration-select-field>
                </div>
                <div class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                    <app-configuration-select-field
                        [form]="advancedSettingsForm"
                        [isFieldMandatory]="true"
                        [label]="'travelperkAdvancedSettings.defaultCategoryLabel' | transloco"
                        [subLabel]="'travelperkAdvancedSettings.defaultCategorySubLabel' | transloco: { brandName: brandingConfig.brandName }"
                        [destinationAttributes]="defaultCategories"
                        [iconPath]="'user-two'"
                        [formControllerName]="'defaultCategory'"
                        [placeholder]="'travelperkAdvancedSettings.defaultCategoryPlaceholder' | transloco"
                        [customErrorMessage]="'travelperkAdvancedSettings.categoryErrorMessage' | transloco"
                        [isDisabled]="false">
                    </app-configuration-select-field>
                </div>
            </div>
            <div>
                <div class="tw-mb-16-px">
                    <app-configuration-step-sub-header
                        [label]="'travelperkAdvancedSettings.customizationLabel' | transloco"
                        [subLabel]="'travelperkAdvancedSettings.customizationSubLabel' | transloco: { brandName: brandingConfig.brandName }">
                    </app-configuration-step-sub-header>
                </div>
                <div class="tw-my-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                    <app-configuration-select-field
                        [form]="advancedSettingsForm"
                        [isFieldMandatory]="true"
                        [customErrorMessage]="'travelperkAdvancedSettings.invoiceLineItemsErrorMessage' | transloco"
                        [label]="'travelperkAdvancedSettings.invoiceLineItemsLabel' | transloco"
                        [subLabel]="'travelperkAdvancedSettings.invoiceLineItemsSubLabel' | transloco"
                        [options]="lineItems"
                        [iconPath]="'question-square-outline'"
                        [placeholder]="'travelperkAdvancedSettings.expenseGroupingPlaceholder' | transloco"
                        [appName]="appName"
                        [exportConfigurationIconPath]="'assets/pngs/preview-screens/travelperk-expense-grouping-preview.png'"
                        [formControllerName]="'invoiceLineitemStructure'">
                    </app-configuration-select-field>
                </div>
                <div class="tw-rounded-12-px tw-border-separator tw-border tw-bg-white tw-mb-16-px">
                    <app-configuration-multi-select
                        [form]="advancedSettingsForm"
                        [isFieldMandatory]="false"
                        [mandatoryErrorListName]="'travelperkAdvancedSettings.itemLevelDescriptionError' | transloco"
                        [label]="'travelperkAdvancedSettings.customizePurposeFieldLabel' | transloco: { brandName: brandingConfig.brandName } "
                        [subLabel]="'travelperkAdvancedSettings.customizePurposeFieldSubLabel' | transloco: { brandName: brandingConfig.brandName }"
                        [options]="defaultMemoOptions"
                        [iconPath]="'list'"
                        [placeholder]="'travelperkAdvancedSettings.setDescriptionPlaceholder' | transloco"
                        [formControllerName]="'descriptionStructure'">
                    </app-configuration-multi-select>
                    <div class="preview-text">
                        <h4 class="tw-mb-12-px">{{ 'travelperkAdvancedSettings.previewDescriptionField' | transloco }}</h4>
                        <div class="preview-box">
                            {{memoPreviewText}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="isOnboarding">
            <app-configuration-step-footer
                [ctaText] = "!isSaveInProgress ? (isOnboarding ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVE) : ConfigurationCtaText.SAVING"
                [showBackButton] = "isOnboarding"
                [isButtonDisabled]="!advancedSettingsForm.valid"
                (navigateToPreviousStep)="navigateBack()"
                (save)="save()">
            </app-configuration-step-footer>
        </div>
    </form>
</div>

<div *ngIf="!isLoading && !isOnboarding" class="tw-sticky tw-top-0 tw-bottom-0 tw-left-0 tw-right-0 tw-bg-white">
    <app-configuration-step-footer
        [ctaText] = "!isSaveInProgress ? (isOnboarding ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVE) : ConfigurationCtaText.SAVING"
        [showBackButton] = "isOnboarding"
        [isButtonDisabled]="!advancedSettingsForm.valid"
        (navigateToPreviousStep)="navigateBack()"
        (save)="save()">
    </app-configuration-step-footer>
</div>
