<div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-screen">
    <app-loader></app-loader>
</div>
<div *ngIf="!isLoading" class="configuration--contents tw-mt-6" [ngClass]="brandingStyle.common.configurationContents">
    <div>
        <app-configuration-step-header 
            [headerText]="'Advanced Settings'"
            [contentText]="'In this section, you can customize the data you want to include in your ' + brandingConfig.brandName + ' Expenses created from your TravelPerk Invoices. '"
            [redirectLink]="supportArticleLink"
            [appName]="appName">
        </app-configuration-step-header>
    </div>
    <form [formGroup]="advancedSettingsForm">
        <div class="tw-p-24-px">
            <div class="tw-mb-16-px">
                <div class="tw-mb-16-px">
                    <app-configuration-step-sub-header
                        [label]="'Category Mapping'"
                        [subLabel]="'Expense entries from TravelPerk invoices in '+ brandingConfig.brandName +' are categorized according to the booking type. Map the listed booking types to your desired categories in '+ brandingConfig.brandName +' for accurate expense coding.'">
                    </app-configuration-step-sub-header>
                </div>
                <div class="">
                    <app-configuration-mapping-fields 
                        [appName]="appName"
                        [showCrossIcon]="true"
                        [isDestinationDisabled]="true"
                        [sourceFieldOptions]="defaultCategories"
                        [destinationFieldOptions]="destinationFieldOptions"
                        [form]="advancedSettingsForm"
                        [sourceFieldText]="'Category in '+ brandingConfig.brandName"
                        [destinationFieldText]="'Booking Type in TravelPerk'"
                        [sourceFieldPlaceholderText]="'Select a Category'"
                        [destinationPlaceholderFieldText]="'Select a Category'"
                        [totalAvailableRows]="4"
                        [destinationAttributeNames]="destinationAttributeNames"
                        [sourceAttributeNames]="sourceAttributeNames"
                        [formControllerName]="'categoryMappings'"
                        [isMandatory]="true">
                    </app-configuration-mapping-fields>
                </div>
            </div>
            <div class="tw-mb-16-px">
                <div class="tw-mb-16-px">
                    <app-configuration-step-sub-header
                        [label]="'Default Values'"
                        [subLabel]="'Default values below will act as substitutes for missing TravelPerk data points. For instance, if a user or category is inactive, the values below will be used instead of the unavailable user/category.'">
                    </app-configuration-step-sub-header>
                </div>
                <div class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                    <app-configuration-select-field
                        [form]="advancedSettingsForm"
                        [isFieldMandatory]="false"
                        [label]="'Default Employee'"
                        [subLabel]="'Depending on your Payment Profile settings, the integration will create expenses on behalf of the respective employee. If the employee is not found in ' + brandingConfig.brandName + ', the expenses will be created on behalf of the admin who set up the integration.'"
                        [simpleOptions]="[advancedSettingsForm.controls.defaultEmployee.value]"
                        [iconPath]="'user-two'"
                        [formControllerName]="'defaultEmployee'"
                        [isDisabled]="true">
                    </app-configuration-select-field>
                </div>
                <div class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                    <app-configuration-select-field
                        [form]="advancedSettingsForm"
                        [isFieldMandatory]="true"
                        [label]="'Default Category'"
                        [subLabel]="'If an invoice includes multiple booking types or if any of the mapped categories are disabled in ' + brandingConfig.brandName + ', the category configured here will be used.'"
                        [destinationAttributes]="defaultCategories"
                        [iconPath]="'user-two'"
                        [formControllerName]="'defaultCategory'"
                        [placeholder]="'Set up default category'"
                        [customErrorMessage]="'Select a Category'"
                        [isDisabled]="false">
                    </app-configuration-select-field>
                </div>
            </div>
            <div>
                <div class="tw-mb-16-px">
                    <app-configuration-step-sub-header
                        [label]="'Customization'"
                        [subLabel]="'In this section, customize the expense creation method and determine which data points to include in the description field in ' + brandingConfig.brandName + '.'">
                    </app-configuration-step-sub-header>
                </div>
                <div class="tw-my-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                    <app-configuration-select-field
                        [form]="advancedSettingsForm"
                        [isFieldMandatory]="true"
                        [customErrorMessage]="'how invoice line items should be created'"
                        [label]="'How invoice line items should be created?'"
                        [subLabel]="'Configure whether the invoice line items should be created as single expenses or multiple expenses.'"
                        [options]="lineItems"
                        [iconPath]="'question-square-outline'"
                        [placeholder]="'Select expense grouping'"
                        [appName]="appName"
                        [exportConfigurationIconPath]="'assets/pngs/preview-screens/travelperk-expense-grouping-preview.png'"
                        [formControllerName]="'invoiceLineitemStructure'">
                    </app-configuration-select-field>
                </div>
                <div class="tw-rounded-12-px tw-border-separator tw-border tw-bg-white tw-mb-16-px">
                    <app-configuration-multi-select
                        [form]="advancedSettingsForm"
                        [isFieldMandatory]="false"
                        [mandatoryErrorListName]="'Item level description'"
                        [label]="'Customize the Purpose field in ' + brandingConfig.brandName "
                        [subLabel]="'You can choose from a list of available datapoints to populate the \'Purpose\' field in ' + brandingConfig.brandName + ' based on your requirement.'"
                        [options]="defaultMemoOptions"
                        [iconPath]="'list'"
                        [placeholder]="'Set description'"
                        [formControllerName]="'descriptionStructure'">
                    </app-configuration-multi-select>
                    <div class="preview-text">
                        <h4 class="tw-mb-12-px">Preview of the description field</h4>
                        <div class="preview-box">
                            {{memoPreviewText}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <app-configuration-step-footer 
                [ctaText] = "!isSaveInProgress ? (isOnboarding ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVE) : ConfigurationCtaText.SAVING" 
                [showBackButton] = "isOnboarding"
                [isButtonDisabled]="!advancedSettingsForm.valid"
                (navigateToPreviousStep)="navigateBack()"
                (save)="save()">
            </app-configuration-step-footer>
        </div>
    </form>
</div>
