:host ::ng-deep .p-splitbutton {
    background-color: white !important;
}

:host ::ng-deep .p-splitbutton .p-button {
    background-color: white !important;
}

:host ::ng-deep .p-splitbutton .p-splitbutton-menubutton {
    background-color: white !important;
}
