<div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-screen">
    <app-loader></app-loader>
</div>
<div *ngIf="!isLoading" class="configuration--contents tw-border-separator tw-mt-6" [ngClass]="{'tw-mx-120-px tw-shadow-app-card': brandingConfig.brandId === 'fyle', 'tw-mx-60-px tw-shadow-shadow-level-1': brandingConfig.brandId === 'co'}">
    <div>
        <app-configuration-step-header [headerText]="'Import Settings'"
            [contentText]="'In this section, you can choose the fields required to be imported from Dynamics 365 Business Central to ' + brandingConfig.brandName + '. '"
            [redirectLink]="supportArticleLink" [showSyncButton]="isOnboarding" [appName]="appName"
            (refreshDimension)="refreshDimensions($event)">
        </app-configuration-step-header>
    </div>
    <div>
        <form [formGroup]="importSettingForm">
            <div class="tw-p-24-px">
                <div class="tw-rounded-lg tw-border-separator tw-border">
                    <app-configuration-toggle-field 
                        [form]="importSettingForm"
                        [label]="'Import the Chart of Accounts as Categories in ' + brandingConfig.brandName " 
                        [subLabel]="'Imported accounts will appear in a dropdown under the \'Category\' field in ' + brandingConfig.brandName + ', enabling employees to use these values for coding their expenses. '" 
                        [formControllerName]="'importCategories'"
                        [isSectionHeader]="false"
                        [iconPath]="'arrow-tail-down'">
                    </app-configuration-toggle-field>
                </div>
                <div class="tw-rounded-lg tw-border-separator tw-border tw-mt-16-px">
                    <app-configuration-toggle-field 
                        [form]="importSettingForm"
                        [label]="'Import Vendor as Merchant in ' + brandingConfig.brandName " 
                        [subLabel]="'Imported vendors will appear in a dropdown under the \'Merchant\' field in ' + brandingConfig.brandName + ', enabling employees to use these values for coding their expenses.'" 
                        [formControllerName]="'importVendorAsMerchant'"
                        [isSectionHeader]="false"
                        [iconPath]="'arrow-tail-down'">
                    </app-configuration-toggle-field>
                </div>
                <div>
                    <app-configuration-import-field 
                        [form]="importSettingForm" 
                        [appName]="appName" 
                        [accountingFieldOptions]="businessCentralFields" 
                        [fyleFieldOptions]="fyleFields"
                        [isDestinationFixedImport]="true">
                    </app-configuration-import-field>
                </div>
            </div>
            <app-configuration-step-footer 
                [ctaText] = "!isSaveInProgress ? (isOnboarding ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVE) : ConfigurationCtaText.SAVING" 
                [showBackButton] = "isOnboarding"
                [isButtonDisabled]="!importSettingForm.valid"
                (navigateToPreviousStep)="navigateBack()"
                (save)="save()">
            </app-configuration-step-footer>
        </form>
    </div>
    <div>
        <app-configuration-custom-field-creation-dialog 
            [customFieldForm]="customFieldForm"
            [showCustomFieldCreationDialog]="showCustomFieldDialog" 
            (saveCustomFieldFn)="saveFyleExpenseField()"
            (closeModelFn)="closeModel()">
        </app-configuration-custom-field-creation-dialog>
    </div>
</div>
<div *ngIf="isPreviewDialogVisible">
    <app-preview-dialog 
        [isPreviewDialogVisible]="true"
        [iconPath]="'assets/illustrations/sageIntacct/IntacctImportSettings.png'" (closeDialog)="closeDialog()"
        [header]="'Preview'">
    </app-preview-dialog>
</div>
