<div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-screen">
    <app-loader></app-loader>
</div>
<div *ngIf="!isLoading" class="configuration--contents tw-border-separator tw-mt-6" [ngClass]="brandingStyle.common.configurationCommonStyle">
    <div>
        <app-configuration-step-header [headerText]="'Import Settings'"
            [contentText]="'In this section, you can choose the fields required to be imported from Dynamics 365 Business Central to ' + brandingConfig.brandName + '. '"
            [redirectLink]="supportArticleLink" [showSyncButton]="isOnboarding" [appName]="appName"
            (refreshDimension)="refreshDimensions($event)">
        </app-configuration-step-header>
    </div>
    <div>
        <form [formGroup]="importSettingForm">
            <div class="tw-p-24-px">
                <div class="tw-rounded-lg tw-border-separator tw-border">
                    <app-configuration-toggle-field 
                        [form]="importSettingForm"
                        [label]="'Import the Chart of Accounts as Categories in ' + brandingConfig.brandName " 
                        [subLabel]="'Imported accounts will appear in a dropdown under the \'Category\' field in ' + brandingConfig.brandName + ', enabling employees to use these values for coding their expenses. '" 
                        [formControllerName]="'importCategories'"
                        [isSectionHeader]="false"
                        [iconPath]="'arrow-tail-down'">
                    </app-configuration-toggle-field>

                    <div class="tw-pr-24-px tw-pl-64-px tw-py-0 tw-pb-24-px" *ngIf="importSettingForm.get('importCategories')?.value">
                        <div class="tw-flex tw-justify-between tw-items-center">
                            <h5 class="lg:tw-w-3/5 md:tw-w-1/2 tw-text-slightly-normal-text-color tw-text-14-px !tw-font-500">
                                Select the accounts from {{ appName }} to import as categories in {{brandingConfig.brandName}}
                                <p class="tw-text-text-muted" [ngClass]="{'tw-pt-4-px': brandingConfig.brandId === 'co', 'tw-pt-8-px': brandingConfig.brandId !== 'co'}">
                                    By default expense will be selected. Open the dropdown to select more as per your requirements.
                                </p>
                            </h5>
                            <div class="p-field-checkbox tw-pl-34-px">
                                <p-multiSelect [optionDisabled]="'Expense'" [placeholder]="'Select Chart of Accounts'" [options]="chartOfAccountTypesList" styleClass="tw-z-2 tw-py-8-px tw-px-12-px" [formControlName]="'chartOfAccountTypes'">
                                    <ng-template let-value pTemplate="selectedItems">
                                        <div class="tw-inline-flex tw-align-items-center" *ngFor="let option of value; let i = index">
                                            <div>{{ option }}<span *ngIf="i !== value?.length-1">,&nbsp;</span></div>
                                        </div>
                                        <div *ngIf="!value || value.length === 0">{{helper.sentenseCaseConversion('Select Chart of Accounts')}}</div>
                                    </ng-template>
                                </p-multiSelect>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tw-rounded-lg tw-border-separator tw-border tw-mt-16-px">
                    <app-configuration-toggle-field 
                        [form]="importSettingForm"
                        [label]="'Import Vendor as Merchant in ' + brandingConfig.brandName " 
                        [subLabel]="'Imported vendors will appear in a dropdown under the \'Merchant\' field in ' + brandingConfig.brandName + ', enabling employees to use these values for coding their expenses.'" 
                        [formControllerName]="'importVendorAsMerchant'"
                        [isSectionHeader]="false"
                        [iconPath]="'arrow-tail-down'">
                    </app-configuration-toggle-field>
                </div>
                <div>
                    <app-configuration-import-field 
                        [form]="importSettingForm" 
                        [appName]="appName" 
                        [accountingFieldOptions]="businessCentralFields" 
                        [fyleFieldOptions]="fyleFields"
                        [isDestinationFixedImport]="true">
                    </app-configuration-import-field>
                </div>
            </div>
            <app-configuration-step-footer 
                [ctaText] = "!isSaveInProgress ? (isOnboarding ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVE) : ConfigurationCtaText.SAVING" 
                [showBackButton] = "isOnboarding"
                [isButtonDisabled]="!importSettingForm.valid"
                (navigateToPreviousStep)="navigateBack()"
                (save)="save()">
            </app-configuration-step-footer>
        </form>
    </div>
    <div>
        <app-configuration-custom-field-creation-dialog 
            [customFieldForm]="customFieldForm"
            [showCustomFieldCreationDialog]="showCustomFieldDialog" 
            (saveCustomFieldFn)="saveFyleExpenseField()"
            (closeModelFn)="closeModel()">
        </app-configuration-custom-field-creation-dialog>
    </div>
</div>
<div *ngIf="isPreviewDialogVisible">
    <app-preview-dialog 
        [isPreviewDialogVisible]="true"
        [iconPath]="'assets/illustrations/sageIntacct/IntacctImportSettings.png'" (closeDialog)="closeDialog()"
        [header]="'Preview'">
    </app-preview-dialog>
</div>
