<div class="tw-flex tw-justify-center tw-text-center tw-flex-col" [ngClass]="brandingStyle.qbd_direct.onboarding.bodyStyle">
    @if (brandingFeatureConfig.shouldShowOnboardingYouTubeVideo || appName === AppName.SAGE50) {
      <p *ngIf="!headlineText" class="tw-text-normal-text-color" [ngClass]="brandingStyle.qbd_direct.onboarding.bodyTopText">{{ 'appLandingPageBody.simpleTutorial' | transloco }}</p>
      <p *ngIf="headlineText" class="tw-text-text-primary"  [ngClass]="brandingStyle.qbd_direct.onboarding.bodyTopText">{{ headlineText }}</p>
      <p class="tw-text-text-tertiary tw-text-14-px tw-pt-8-px tw-flex tw-justify-center">
          {{headerText}}
          <a *ngIf="redirectLink"
              class="link tw-w-fit tw-font-500 tw-inline-flex tw-items-center tw-pl-2-px"
              (click)="windowService.openInNewTab(redirectLink)">
                  {{ 'common.readMoreText' | transloco}}
              <app-svg-icon *ngIf="brandingFeatureConfig.isIconsInsideButtonAllowed" [svgSource]="'open-in-new-tab'" [width]="'16px'" [height]="'16px'" class="tw-text-link-primary tw-pl-2-px tw-w-fit"></app-svg-icon>
          </a>
      </p>

      <div *ngIf="embedVideo" class="tw-flex tw-justify-center tw-pt-24-px">
          <iframe class="{{brandingStyle.qbd_direct.onboarding.tutorialvideoClass}}" [src]="embedVideoUrl" [title]="'appLandingPageBody.integrationTitle' | transloco: { brandName: brandingConfig.brandName, appName: appName }" frameborder="0" allowfullscreen></iframe>
      </div>
    }
    @if(!embedVideo && embedImage) {
    <div class="tw-flex tw-justify-center tw-pt-24-px">
        <img src="{{embedImage}}" class="{{brandingStyle.qbd_direct.onboarding.tutorialvideoClass}}">
    </div>
    }
    @if(svgPath) {
    <div class="tw-flex tw-justify-center" [ngClass]="brandingStyle.qbd_direct.onboarding.flowChart">
        <img src="{{svgPath}}" />
    </div>
    }
</div>
