<div>
    <p-dialog [dismissableMask]="true" [showHeader]="false" [modal]="true" [(visible)]="showCustomFieldCreationDialog" [draggable]="false" [style]="{width: '468px'}">
        <div [formGroup]="customFieldForm">
            <div class="tw-p-24-px tw-border-b-1-px tw-border-b-divider-border-color">
                <div class="tw-flex tw-justify-between tw-items-center">
                    <p class="tw-text-text-primary tw-text-20-px tw-font-500">{{brandingContent.customField}}</p>
                    <app-svg-icon [svgSource]="'cross-medium'" class="tw-cursor-pointer tw-text-12-px" (click)="closeModel()" [height]="'16px'" [width]="'16px'"></app-svg-icon>
                </div>
            </div>
            <div *ngIf="existingFields.indexOf(customFieldForm.value.attribute_type?.toLowerCase()) !== -1">
                <div class="tw-px-16-px tw-text-12-px tw-pt-12-px tw-flex">
                    <span class="error-box tw-flex tw-p-4-px">
                        <app-svg-icon [svgSource]="'danger-fill'" [width]="'20px'" [height]="'20px'" [styleClasses]="'tw-text-alert-toast tw-mb-16-px'"></app-svg-icon>
                        <h5 class="tw-ml-6-px">
                            Oops! It looks like another field with the same name already exists in your {{brandingConfig.brandName}} account. Would you please
                            give the field a different name?
                        </h5>
                    </span>
                </div>
            </div>
            <div class="tw-p-24-px">
                <p class="tw-pb-8-px tw-text-form-label-text-color tw-text-label-text-size">
                    {{brandingContent.customFieldName}} <span *ngIf="isAsterikAllowed" class="tw-text-mandatory-field-color">*</span>
                </p>
                <input formControlName="attribute_type" type="text" class="tw-w-420-px tw-h-32-px" pInputText placeholder="Enter field type" [ngClass]="[customFieldForm.controls['attribute_type'].touched && !customFieldForm.controls['attribute_type'].valid && !customFieldForm.controls['attribute_type'].disabled ? 'error-box' : 'normal-box']" required/>
                <app-mandatory-error-message *ngIf="customFieldForm.controls['attribute_type'].touched && !customFieldForm.controls['attribute_type'].valid && !customFieldForm.controls['attribute_type'].disabled" [customErrorMessage]="'Enter a valid type'"></app-mandatory-error-message>
    
                <p class="tw-pt-16-px tw-text-form-label-text-color tw-text-label-text-size tw-pb-8-px">
                    {{brandingContent.customFieldPlaceholderName}} <span *ngIf="isAsterikAllowed" class="tw-text-mandatory-field-color">*</span>
                </p>
                <input formControlName="source_placeholder" type="text" class="tw-w-420-px tw-h-32-px" pInputText placeholder="Enter field name" [ngClass]="[customFieldForm.controls['source_placeholder'].touched && !customFieldForm.controls['source_placeholder'].valid && !customFieldForm.controls['source_placeholder'].disabled ? 'error-box' : 'normal-box']" required/>
                <app-mandatory-error-message *ngIf="customFieldForm.controls['source_placeholder'].touched && !customFieldForm.controls['source_placeholder'].valid && !customFieldForm.controls['source_placeholder'].disabled" [customErrorMessage]="'Enter a valid Name'"></app-mandatory-error-message>
    
                <div>
                    <h5 class="tw-pt-16-px tw-text-form-label-text-color tw-text-label-text-size tw-pb-8-px">
                      {{brandingContent.customFieldType}}
                    </h5>
                    <div class="tw-w-420-px tw-h-32-px">
                      <input class="tw-w-420-px form-input-disabled" type="text" placeholder="Select" disabled>
                    </div>
                  </div>
    
                  <div class="label-section tw-pt-8">
                    <div class="label-content tw-w-420-px">
                      <h5 class="name-text text-secondary tw-text-label-text-size">
                        {{customFieldForm.value.attribute_type ? customFieldForm.value.attribute_type : 'Label'}}
                      </h5>
                      <div class="form-field tw-pt-4-px">
                        <input class="form-input tw-w-352-px" type="text" disabled
                        [placeholder]="customFieldForm.value.source_placeholder ? customFieldForm.value.source_placeholder : 'Enter Text'">
                      </div>
                    </div>
                  </div>              
                
                <div class="tw-flex tw-justify-end tw-pt-24-px tw-text-14-px">
                    <div class="tw-mr-16-px">
                        <button type="button" class="p-button outline-sm" (click)="closeModel()">
                            Cancel
                        </button>
                    </div>
                    <button type="button" class="p-button-raised" pButton [disabled]="!customFieldForm.valid || existingFields.indexOf(customFieldForm.value.attribute_type?.toLowerCase()) !== -1" (click)="saveCustomField()">
                        {{brandingContent.customFieldCreateandSave}}
                    </button>
                </div>
            </div>
        </div>
    </p-dialog>
</div>
