<div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-screen">
    <app-loader></app-loader>
</div>

<div *ngIf="!isLoading" class="configuration--contents tw-border-border-tertiary tw-mt-6" [ngClass]="brandingStyle.common.configurationCommonStyle">
    <div>
        <app-configuration-step-header [headerText]="brandingContent.stepName"
            [contentText]="brandingContent.contentText"
            [redirectLink]="supportArticleLink" [showSyncButton]="isOnboarding" [appName]="appName"
            (refreshDimension)="refreshDimensions()">
        </app-configuration-step-header>
    </div>

    <div>
        <form [formGroup]="importSettingForm">
            <div class="tw-p-24-px">
                <div class="tw-rounded-lg tw-border-border-tertiary tw-border">
                    <app-configuration-toggle-field
                        [form]="importSettingForm"
                        [label]="getCategoryLabel() + brandingContent.importCategoriesLabel"
                        [subLabel]="getCategorySubLabel() + brandingContent.importCategoriesSubLabel"
                        [formControllerName]="'importCategories'"
                        [isSectionHeader]="false"
                        [iconPath]="'arrow-tail-down'">
                    </app-configuration-toggle-field>
                </div>

                <div class="tw-rounded-lg tw-border-border-tertiary tw-border tw-mt-24-px" *ngIf="isImportEmployeeAllowed">
                    <app-configuration-toggle-field
                        [form]="importSettingForm"
                        [label]="brandingContent.importNetsuiteEmployeesLabel"
                        [subLabel]="brandingContent.importNetsuiteEmployeesSubLabel"
                        [formControllerName]="'importNetsuiteEmployees'"
                        [iconPath]="'arrow-tail-down'">
                    </app-configuration-toggle-field>
                </div>

                <div class="tw-rounded-lg tw-border-border-tertiary tw-border tw-mt-24-px" *ngIf="isImportItemsAllowed && brandingFeatureConfig.featureFlags.importSettings.importItems">
                    <app-configuration-toggle-field
                        [form]="importSettingForm"
                        [label]="brandingContent.importItemsLabel"
                        [subLabel]="'Items from NetSuite will be imported as categories in ' + brandingConfig.brandName + ' and will be a selectable field while creating an expense.'"
                        [formControllerName]="'importItems'"
                        [iconPath]="'arrow-tail-down'">
                    </app-configuration-toggle-field>
                </div>

                <div class="tw-rounded-lg tw-border-border-tertiary tw-border tw-mt-24-px" *ngIf="isImportMerchantsAllowed && brandingFeatureConfig.featureFlags.importSettings.importVendorsAsMerchants">
                    <app-configuration-toggle-field
                        [form]="importSettingForm"
                        [label]="brandingContent.importVendorsAsMerchantsLabel"
                        [subLabel]="'Vendors from NetSuite will be imported as merchants in ' + brandingConfig.brandName + ' and will be a selectable field while creating an expense.'"
                        [formControllerName]="'importVendorsAsMerchants'"
                        [iconPath]="'arrow-tail-down'">
                    </app-configuration-toggle-field>
                </div>

                <div class="tw-rounded-lg tw-border-border-tertiary tw-border tw-mt-24-px" *ngIf="isTaxGroupSyncAllowed && brandingFeatureConfig.featureFlags.importSettings.tax">
                    <app-configuration-toggle-field
                      [form]="importSettingForm"
                      [label]="brandingContent.taxCodeLabel"
                      [subLabel]="brandingContent.taxCodeSubLabel + brandingConfig.brandName + '. This will be a selectable field while creating an expense.'"
                      [formControllerName]="'taxCode'"
                      [iconPath]="'arrow-tail-down'">
                    </app-configuration-toggle-field>

                    <app-configuration-select-field *ngIf="importSettingForm.get('taxCode')?.value"
                        [form]="importSettingForm"
                        [isFieldMandatory]="true"
                        [mandatoryErrorListName]="'tax code'"
                        [label]="brandingContent.defaultTaxCodeLabel"
                        [subLabel]="'If an expense from ' + brandingConfig.brandName + ' does not contain any tax group information during export, the default tax code will be used.'"
                        [destinationAttributes]="taxCodes"
                        [optionLabel]="'value'"
                        [placeholder]="'Select tax code'"
                        [formControllerName]="'defaultTaxCode'">
                    </app-configuration-select-field>
                </div>

                <div>
                    <app-configuration-import-field
                        [form]="importSettingForm"
                        [appName]="appName"
                        [accountingFieldOptions]="netsuiteFields"
                        [fyleFieldOptions]="fyleFields"
                        [isDestinationFixedImport]="true">
                    </app-configuration-import-field>
                </div>

                <div class="tw-mt-24-px" *ngIf="brandingFeatureConfig.featureFlags.importSettings.allowCustomSegment">
                    <div class="tw-flex tw-items-center" (click)="addCustomSegment()">
                        <div class="tw-mr-14-px">
                            <app-svg-icon [svgSource]="'plus-square-medium'" [width]="'18px'" [height]="'18px'" [styleClasses]="'tw-cursor-pointer tw-text-mandatory-field-color'"></app-svg-icon>
                        </div>
                        <div class="tw-cursor-pointer tw-text-mandatory-field-color tw-font-500 tw-text-14-px">
                            {{brandingContent.customSegmentHeader}}
                        </div>
                    </div>
                </div>

            </div>
            <app-configuration-step-footer
                [ctaText] = "!isSaveInProgress ? (isOnboarding ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVE) : ConfigurationCtaText.SAVING"
                [isButtonDisabled]="!importSettingForm.valid"
                [showBackButton]="isOnboarding ? true : false"
                (save)="save()"
                (navigateToPreviousStep)="navigateToPreviousStep()">
            </app-configuration-step-footer>
        </form>
    </div>
</div>

<div>
    <app-configuration-custom-field-creation-dialog
        [customFieldForm]="customFieldForm"
        [showCustomFieldCreationDialog]="showCustomFieldDialog"
        (saveCustomFieldFn)="saveFyleExpenseField()"
        (closeModelFn)="closeModel()">
    </app-configuration-custom-field-creation-dialog>
</div>
<div *ngIf="isPreviewDialogVisible">
    <app-preview-dialog
        [isPreviewDialogVisible]="true"
        [iconPath]="'assets/illustrations/sageIntacct/IntacctImportSettings.png'" (closeDialog)="closeDialog()"
        [header]="'Preview'">
    </app-preview-dialog>
</div>

<div *ngIf="isCustomSegmentTrigged">
    <app-netsuite-custom-segment-dialog
        [form]="customSegmentForm"
        [isCustomSegmentDialogVisible]="true"
        [options]="customrSegmentOptions"
        [isLoading]="isCustomSegmentSaveInProgress"
        (closeDialog)="closeCustomSegment()"
        (saveClick)="saveCustomSegment()">
    </app-netsuite-custom-segment-dialog>
</div>
