<div class="tw-flex tw-justify-center tw-items-center">
    <div class="tw-text-center tw-py-80-px tw-pr-130-px tw-border-r-1-px  right-margin-style tw-items-center">
        <h5 class="tw-text-14-px tw-text-sub-text-color tw-font-500 tw-pb-18-px">
            {{brandingConfig.brandName}}
        </h5>
        <h3 class="tw-text-18-px tw-text-normal-text-color tw-font-500 tw-pb-16-px">
            {{ fyleOrgName }}
        </h3>
    </div>
    <div>
        <img src="assets/gifs/disconnect.gif" height="100px" width="100px"/>
    </div>
    <div class="tw-text-center tw-py-70-px tw-pl-130-px left-margin-style tw-items-center">
        <h5 class="tw-text-14-px tw-text-sub-text-color tw-font-500 tw-pb-18-px">
            {{ accountingAppTitle }}
        </h5>
        <h3 *ngIf="!accountingCompanyConnectionInProgress && accountingCompanyName" class="tw-text-18-px tw-text-normal-text-color tw-font-500 tw-pb-16-px">
            {{ accountingCompanyName }}
        </h3>
        <div *ngIf="accountingCompanyConnectionInProgress" class="tw-pb-8-px">
            <app-loader [styleClass]="'!tw-w-16-px !tw-h-16-px spinner-default'"></app-loader>
        </div>
        <div class="tw-text-14-px tw-font-500">
            <h4 *ngIf="!isAccountingCompanyConnected && !accountingCompanyConnectionInProgress && !accountingCompanyTokenExpired" class="tw-text-faded-text-color ">
                No {{ accountingAppTitle }} is connected yet.
            </h4>
            <h4 *ngIf="!isAccountingCompanyConnected && !accountingCompanyConnectionInProgress && !accountingCompanyTokenExpired" (click)="connect()" class="tw-text-mandatory-field-color tw-cursor-pointer">
                Connect to {{ accountingAppTitle }}
            </h4>
            <h4 *ngIf="!accountingCompanyConnectionInProgress && !accountingCompanyTokenExpired && showDisconnect" class="tw-text-faded-text-color">
                Not the company that you wish to connect with?
            </h4>
            <h4 *ngIf="accountingCompanyConnectionInProgress" class="tw-text-faded-text-color tw-max-w-300-px tw-overflow-hidden tw-break-all">
                Please hold on; we are fetching data from your {{ accountingAppTitle }} account, which may take a few seconds.
            </h4>
            <h4 *ngIf="accountingCompanyTokenExpired && !accountingCompanyConnectionInProgress" class="tw-text-faded-text-color ">
                Token expired
            </h4>
            <h4 *ngIf="!accountingCompanyConnectionInProgress && accountingCompanyTokenExpired" (click)="connect()" class="tw-text-mandatory-field-color tw-cursor-pointer">
                Re-Connect to {{ accountingAppTitle }}
            </h4>
            <h4 *ngIf="!accountingCompanyConnectionInProgress && showDisconnect" (click)="disconnect()" class="tw-text-mandatory-field-color tw-cursor-pointer">
                {{ switchLinkText }}
            </h4>
        </div>
    </div>
</div>
