:host ::ng-deep .prevBtn:disabled > .pi-chevron-left,:host ::ng-deep .nextBtn:disabled > .pi-chevron-right,
:host ::ng-deep .prevBtn:disabled > .pi-minus, :host ::ng-deep .nextBtn:disabled > .pi-minus {
    @apply tw-text-placeholder #{!important};
}

:host ::ng-deep .mappingFilterDropdown .p-select {
    @apply tw-w-200-px tw-h-40-px #{!important}
}

:host ::ng-deep .mapping-filter-applied .p-select {
    @apply tw-py-0 #{!important}
}

:host ::ng-deep .filterDropdown .p-select .p-select-label.p-inputtext {
    @apply tw-py-10-px #{!important};
}

:host ::ng-deep .selectedItem  .p-select .p-select-label.p-inputtext {
    @apply tw-py-5-px #{!important};
}

:host ::ng-deep .selectedItem  .p-select-trigger {
    @apply tw-hidden #{!important};
}

:host ::ng-deep .filterDropdown  .p-select-trigger {
    @apply tw-block #{!important};
}

:host ::ng-deep .textbox {
    @apply tw-border-r-0 #{!important}
}

th {
    @apply tw-text-12-px tw-text-normal-text-color tw-font-500 tw-h-40-px tw-py-10-px #{!important};
}

td {
    @apply tw-text-14-px tw-text-sub-text-color tw-font-400 #{!important};
}

.pi-check:before {
    @apply tw-text-14-px tw-cursor-pointer tw-text-text-muted #{!important};
}

:host ::ng-deep .tooltip-main {
    @apply tw-px-6 tw-pb-4 tw-text-center #{!important}
}

:host ::ng-deep .tooltip-save {
    @apply tw-text-12-px #{!important}
}

:host ::ng-deep .tooltip-return {
    @apply tw-mt-6-px tw-px-4-px tw-py-4-px tw-text-9-px tw-rounded-md tw-bg-placeholder  #{!important}
}