<div *ngIf="!mappings" class="tw-flex tw-justify-center tw-items-center tw-h-screen">
    <app-loader></app-loader>
</div>

<div>
        <div>
            <app-card-mapping-header *ngIf="mappings" (triggerAutoMapEmployee)="triggerAutoMapEmployees()" [sourceField]="sourceType" [showAutoMapEmployee]="showAutoMapEmployee" [mappingStats]="mappingStats" (triggerAutoMapEmployee)="triggerAutoMapEmployees()"></app-card-mapping-header>
        </div>

        <div class="tw-rounded-8-px tw-bg-white tw-border-1-px tw-border-border-tertiary tw-mt-16-px" [ngClass]="brandingStyle.common.mainComponentShadow">
            <div class="tw-p-24-px tw-border-b-separator">
                <app-mapping-filter [appName]="appName" [selectedAlphabeticalFilter]="alphabetFilter" [mappingFilter]="selectedMappingFilter" (mappingFilterChangeEvent)="mappingStateFilter($event)" (mappingSearchingEvent)="mappingSearchFilter($event)" (mappingFilterUpdateHandler)="mappingFilterUpdate($event)" [isAlphabetFilterHidden]="false"></app-mapping-filter>
            </div>
            <div *ngIf="!isLoading">
                <div *ngIf="filteredMappingCount">
                    <app-generic-mapping-table [isLoading]="isLoading" [appName]="appName" [isDashboardMappingResolve]="false" [destinationField]="destinationField" [filteredMappings]="filteredMappings" [sourceField]="sourceField" [mappingStats]="mappingStats" [employeeFieldMapping]="employeeFieldMapping" [destinationOptions]="destinationOptions" [displayName]="displayName" [isMultiLineOption]="isMultiLineOption" [detailAccountType]="detailAccountType"></app-generic-mapping-table>
                </div>
                <div class="tw-p-24-px tw-border-t-separator" *ngIf="filteredMappingCount && !isLoading" >
                    <app-paginator [totalCount]="totalCount" [pageType]="PaginatorPage.MAPPING" [page]="currentPage" [dropDownValue]="limit" (pageSizeChangeEvent)="pageSizeChanges($event)" (pageOffsetChangeEvent)="pageOffsetChanges($event)"></app-paginator>
                </div>
                <div *ngIf="!filteredMappingCount">
                    <app-zero-state-with-illustration 
                    [mainText]="brandingConfig.brandId === 'fyle' ? brandingContent.mappingSearchZeroStateHeaderText : brandingContent.mappingSearchZeroStateHeaderText + (this.sourceField | snakeCaseToSpaceCase | lowercase) + ' mappings.'"
                    [subText]="brandingConfig.brandId === 'fyle' ? brandingContent.mappingSearchZeroStateSubHeaderText + (this.sourceField | snakeCaseToSpaceCase | lowercase) + ' mappings': brandingContent.mappingSearchZeroStateSubHeaderText">
                  </app-zero-state-with-illustration>              
                </div>
            </div>
            
        </div>
</div>
