<div [formGroup]="form" >
    <div *ngIf="!isDefaultFields" [class]="'tw-flex tw-flex-row tw-justify-between tw-items-center tw-py-24-px ' + customClasses" [ngClass]="{'tw-px-6-px': isimportSettings, 'tw-px-24-px': !isimportSettings}">
        <div class="lg:tw-w-3/5 md:tw-w-1/2 tw-flex tw-items-start">
            <div [ngClass]="[iconPath || formControllerName === 'dayOfMonth' || formControllerName === 'dayOfWeek' || formControllerName === 'timeOfDay' ? 'tw-pr-16-px tw-mt-4-px' : !isimportSettings ? 'noIcon' : 'tw-pl-16-px']">
                <app-svg-icon *ngIf="iconPath" [svgSource]="iconPath" [width]="'24px'" [height]="'24px'" [styleClasses]="'tw-text-icon-primary'"></app-svg-icon>
            </div>

            <div>
                <h5 class="tw-text-14-px" [ngClass]="brandingStyle.configuration.configurationFieldHeaderText">
                    <span>{{ label | snakeCaseToSpaceCase}}</span>
                    @if (isOneTimeField) {
                        <span class="tw-text-text-danger-dark"> {{ 'configurationSelectField.cannotBeEdited' | transloco }}</span>
                    }
                    <app-mandatory-field *ngIf="isFieldMandatory"></app-mandatory-field>
                    @if (infoTooltipText) {
                        <img
                            src='assets/icons/info-circle-fill-blue.svg'
                            [class]="'tw-w-14-px tw-h-14-px tw-ml-8-px tw-inline tw-relative tw-bottom-[3px]'"
                            [pTooltip]="infoTooltipText"
                            [tooltipPosition]="'top'"
                        >
                    }
                </h5>

                <h5 class="tw-text-14-px !tw-font-400 !tw-leading-4 tw-max-w-600-px {{brandingStyle.qbd_direct.onboarding.configurationDescriptionText}}" [ngClass]="brandingStyle.common.inputLabelTextStyle" *ngIf="!(exportConfigurationIconPath && appName === AppName.TRAVELPERK ) && (subLabel !== undefined|| (formControllerName !== 'reimbursableExportType' && formControllerName!=='cccExportType' && formControllerName !== 'creditCardExportType'))" [innerHTML]="subLabel"></h5>
                <h5 *ngIf="(formControllerName === 'reimbursableExportType' || formControllerName === 'cccExportType' || formControllerName === 'creditCardExportType') && appName !== AppName.QBO && subLabel === undefined && !(formControllerName === 'cccExportType' && brandingFeatureConfig.featureFlags.contentVersion === 'v2' && exportConfigurationIconPath && appName === AppName.INTACCT)" class="!tw-text-text-muted tw-text-14-px !tw-font-400 !tw-leading-4" [ngClass]="brandingStyle.common.inputLabelTextStyle">
                    {{ 'configurationSelectField.transactionRecordInfo' | transloco: { uiExposedAppName: uiExposedAppName, brandName: brandingConfig.brandName } }} <span *ngIf="exportConfigurationIconPath && appName === AppName.INTACCT">{{ 'configurationSelectField.click' | transloco }} <a (click)="showExportTable()" class="link">{{ 'configurationSelectField.here' | transloco }}</a> {{ 'configurationSelectField.forMoreDetails' | transloco }}</span>
                </h5>
                <h5 *ngIf="subLabel && (exportConfigurationIconPath && appName === AppName.TRAVELPERK)" class="!tw-text-text-muted tw-text-14-px tw-pt-8-px !tw-font-400 !tw-leading-4 tw-max-w-600-px tw-text-pretty" >{{subLabel}}<span class="tw-pl-4-px">{{ 'configurationSelectField.click' | transloco }} <a (click)="showExportTable()" class="link">{{ 'configurationSelectField.here' | transloco }}</a> {{ 'configurationSelectField.forPreview' | transloco }}</span></h5>
                <h5 *ngIf="formControllerName === 'cccExportType' && brandingFeatureConfig.featureFlags.contentVersion === 'v2' && exportConfigurationIconPath && appName === AppName.INTACCT" class="!tw-text-text-muted tw-text-14-px tw-pt-8-px !tw-font-400 !tw-leading-4 tw-max-w-600-px tw-text-pretty" >{{ 'configurationSelectField.sageIntacctTransactionInfo' | transloco }} <span class="tw-pl-4-px">{{ 'configurationSelectField.learn' | transloco }}<a (click)="showExportTable()" class="link"> {{ 'configurationSelectField.more' | transloco }}</a> {{ 'configurationSelectField.aboutExporting' | transloco }}</span></h5>
            </div>
        </div>
        <div>
            <div class="p-field-checkbox tw-pl-34-px" *ngIf="destinationAttributes">
                <p-dropdown appendTo="body" [options]="destinationAttributes" [optionLabel]="optionLabel" class="!tw-w-300-px"
                    [formControlName]="formControllerName"
                    [placeholder]="placeholder"
                    [ngClass]="{
                        'error-box': form.controls[formControllerName].invalid && isFieldMandatory && form.controls[formControllerName].touched && !isSearchFocused,
                        'normal-box': !(form.controls[formControllerName].invalid && isFieldMandatory && form.controls[formControllerName].touched && !isSearchFocused)}"
                    [filter]="true"
                    (onFilter)="searchOptions($event)"
                    (onHide)="clearSearch()"
                    [filterFields]="isMultiLineOption ? [optionLabel, 'code'] : [optionLabel]"
                    [resetFilterOnHide]="true"
                    [emptyFilterMessage]="isOptionSearchInProgress ? ('configurationSelectField.searching' | transloco) : ('configurationSelectField.noResultsFound' | transloco)"
                    [dropdownIcon]="isOptionSearchInProgress ? 'pi pi-spinner pi-spin' : 'pi pi-chevron-down ' + brandingConfig.brandId">
                    <ng-template let-options pTemplate="item">
                        <div #textElement
                        [ngStyle]="{'white-space': 'nowrap', 'overflow': 'hidden', 'text-overflow': 'ellipsis', 'max-width': '16rem'}"
                        [pTooltip]="isOverflowing(textElement) ? options.value: null" tooltipPosition="top">
                            <span>
                                {{options[optionLabel]}}
                            </span>
                            <p *ngIf="isMultiLineOption" class="tw-text-text-muted tw-text-12-px">{{ options.code ? options.code : '--'}}</p>
                        </div>
                    </ng-template>
                    <ng-template let-value pTemplate="selectedItem">
                        <div *ngIf="value">
                            <p>
                                <span *ngIf="value?.code && isMultiLineOption">{{ value?.code }}: </span>
                                {{ value[optionLabel] }}
                            </p>
                        </div>
                        <div *ngIf="!value" class="tw-text-placeholder">
                           {{placeholder}}
                        </div>
                    </ng-template>
                    <ng-template *ngIf="!isAdvanceSearchEnabled" pTemplate="filter" let-dropdownOptions="options">
                        <app-search [form]="form" [isDropdown]="true" [placeholder]="'configurationSelectField.searchPlaceholder' | transloco" [styleClasses]="'tw-w-[100%] tw-h-dropdown-option-height tw-bg-white '" (handleSimpleSearch)="simpleSearch($event)" (searchFocused)="onSearchFocus($event)"></app-search>
                    </ng-template>
                    <ng-template pTemplate="filtericon">
                        <app-svg-icon [svgSource]="'search-medium'" [width]="'18px'" [height]="'18px'" [styleClasses]="brandingStyle.configuration.searchIconFocus" [isTextColorAllowed]="true"></app-svg-icon>
                    </ng-template>
                </p-dropdown>
            </div>
            <div *ngIf="options && !destinationAttributes && !simpleOptions">
                <div class="p-field-checkbox tw-pl-34-px" *ngIf="formControllerName !== 'dayOfMonth' && formControllerName !== 'dayOfWeek' && formControllerName !== 'timeOfDay' && !destinationAttributes">
                    <p-dropdown appendTo="body" [options]="options" class="!tw-w-300-px"
                    [formControlName]="formControllerName" [placeholder]="placeholder"
                    [dropdownIcon]="'pi pi-chevron-down ' + brandingConfig.brandId"
                    [ngClass]="{
                        'error-box': form.controls[formControllerName].invalid && isFieldMandatory && form.controls[formControllerName].touched,
                        'normal-box': !(form.controls[formControllerName].invalid && isFieldMandatory && form.controls[formControllerName].touched),
                        'selectedItem': form.controls[formControllerName].value && !isMultiLineOption,
                        'filterDropdown': !form.controls[formControllerName].value,
                        'showClearIcon': showClearIcon && !isDisabled && form.controls[formControllerName].value
                    }" [disabled]="isDisabled"
                    (onChange)="onDropdownChange($event)">

                    <ng-template let-option pTemplate="item">
                        <div #textElement
                        [ngStyle]="{'white-space': 'nowrap', 'overflow': 'hidden', 'text-overflow': 'ellipsis', 'max-width': '16rem'}"
                        [pTooltip]="isOverflowing(textElement) ? option.label : null" tooltipPosition="top">
                            <span>
                            {{ (option.label | sentenceCase) }}</span>
                            <p *ngIf="isMultiLineOption" class="tw-text-12-px">{{ option.subLabel}}</p>
                        </div>
                    </ng-template>

                    <ng-template pTemplate="selectedItem" let-item>
                        <div class="selected-item-container">
                            <span class="selected-item-text">
                                {{ (item.label | sentenceCase) }}
                            </span>
                            <app-svg-icon *ngIf="showClearIcon && !isDisabled" [svgSource]="'cross-medium'" [c1SvgSource]="'grv-cross-filled-medium'" (click)="removeFilter(form.controls[formControllerName])" [height]="'18px'" [width]="'18px'" [styleClasses]="'tw-mt-4-px'"></app-svg-icon>
                        </div>
                    </ng-template>
                </p-dropdown>
                    <div *ngIf="showExportPreview && form.controls[formControllerName].value" class="sub-text tw-text-pretty tw-pt-3-px">
                        <a class="link !tw-cursor-pointer" (click)="showExportPreviewDialog(form.controls[formControllerName].value)">{{ 'configurationSelectField.previewLink' | transloco }}</a>
                        <span> {{ 'configurationSelectField.inApp' | transloco: {uiExposedAppName: uiExposedAppName} }}</span>
                    </div>
                    <div *ngIf="!showExportPreview && isDisabled && isDisableTextRequired && !disabledText" class="sub-text tw-text-pretty">
                        <span *ngIf="(appName === AppName.QBD_DIRECT && form.controls.creditCardExportType.value === 'CREDIT_CARD_PURCHASE' && formControllerName === 'creditCardExportGroup') || (appName !== AppName.QBD_DIRECT)">{{ 'configurationSelectField.autoSelectedOnExportModule' | transloco }}</span>
                        <span *ngIf="(formControllerName === 'reimbursableExportGroup' && form.controls.reimbursableExportType.value !== 'BILL' && appName === AppName.QBD_DIRECT) || (appName === AppName.QBD_DIRECT && form.controls.creditCardExportType.value !== 'CREDIT_CARD_PURCHASE' && formControllerName === 'creditCardExportGroup')"> {{ 'configurationSelectField.autoSelectedOnAccountPayable' | transloco }}</span>
                    </div>
                    @if (!showExportPreview && isDisabled && disabledText && disabledText.length > 0) {
                        <div class="sub-text tw-text-pretty">
                            <span>{{ disabledText }}</span>
                        </div>
                    }
                    <div *ngIf="brandingFeatureConfig.featureFlags.contentVersion === 'v1' && form.controls[formControllerName].value==='spent_at' && isOnboarding && form.get('cccExportType')?.value && form.get('cccExportGroup')?.value === 'REPORT'" class="sub-text">
                        <span [innerHTML]="'configurationSelectField.spendDateWarning' | transloco"></span>
                    </div>
                </div>
                <div class="tw-pl-30-px tw-flex tw-justify-end tw-items-end" *ngIf="formControllerName === 'dayOfMonth' || formControllerName === 'dayOfWeek' || formControllerName === 'timeOfDay'">
                    <div *ngIf="formControllerName === 'dayOfWeek'" class="tw-mr-18-px dropdown-monthy">
                        <p class="tw-font-400 tw-text-text-muted tw-text-14-px">{{ 'configurationSelectField.dayLabel' | transloco }}</p>
                        <p-dropdown appendTo="body" [options]="options" [formControlName]="formControllerName" [placeholder]="placeholder" [ngClass]="[form.controls[formControllerName].invalid && isFieldMandatory && form.controls[formControllerName].touched ? 'error-box' : 'normal-box']">
                            <ng-template let-value pTemplate="selectedItem" >
                                <div *ngIf="form.get(formControllerName)?.value" class="tw-flex">
                                    <p>{{ value | snakeCaseToSpaceCase | sentenceCase }}</p>
                                </div>
                                <div *ngIf="!form.get(formControllerName)?.value" class="tw-text-placeholder">
                                    {{ placeholder }}
                                </div>
                            </ng-template>
                            <ng-template let-day pTemplate="item">
                                <div>
                                    <p class="tw-text-sub-text-color tw-text-14-px">{{ day | snakeCaseToSpaceCase | sentenceCase }}</p>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div *ngIf="formControllerName === 'dayOfMonth'" class="p-field-checkbox tw-mr-20-px tw-pl-34-px">
                        <p class="tw-font-400 tw-text-text-muted tw-text-14-px">{{ 'configurationSelectField.dayLabel' | transloco }}</p>
                        <p-dropdown appendTo="body" [options]="options" class="dropdown-monthy" [formControlName]="formControllerName" [placeholder]="placeholder" [ngClass]="[form.controls[formControllerName].invalid && isFieldMandatory && form.controls[formControllerName].touched ? 'error-box' : 'normal-box']"></p-dropdown>
                    </div>
                    <div class="tw-mr-18-px" [ngClass]="[formControllerName === 'dayOfMonth' || formControllerName === 'dayOfWeek' ? 'dropdown-time' : 'dropdown-time-alone']">
                        <p class="tw-font-400 tw-text-text-muted tw-text-14-px">{{ 'configurationSelectField.timeLabel' | transloco }}</p>
                        <p-dropdown appendTo="body" [options]="timeOption" formControlName="timeOfDay" [placeholder]="'configurationSelectField.selectTimePlaceholder' | transloco" ></p-dropdown>
                    </div>
                    <div [ngClass]="[formControllerName === 'dayOfMonth' || formControllerName === 'dayOfWeek' ? 'dropdown-time' : 'dropdown-time-alone']">
                        <p-dropdown appendTo="body" [options]="meridiemOption" formControlName="meridiem" [placeholder]="'configurationSelectField.selectMeridiemPlaceholder' | transloco" ></p-dropdown>
                    </div>
                </div>
            </div>
            <div *ngIf="simpleOptions && !options" class="p-field-checkbox tw-pl-34-px">
                <p-dropdown appendTo="body" [options]="simpleOptions" [formControlName]="formControllerName" [placeholder]="placeholder" [ngClass]="[form.controls[formControllerName].invalid && isFieldMandatory && form.controls[formControllerName].touched ? 'error-box' : 'normal-box']" [disabled]="isDisabled">
                    <ng-template let-value pTemplate="selectedItem" >
                        <div *ngIf="form.get(formControllerName)?.value" class="tw-flex">
                            <p *ngIf="formControllerName !== 'defaultEmployee'">{{ value | snakeCaseToSpaceCase | sentenceCase }}</p>
                            <p *ngIf="formControllerName === 'defaultEmployee'">{{ value }}</p>
                        </div>
                        <div *ngIf="!form.get(formControllerName)?.value" class="tw-text-placeholder">
                            {{ placeholder }}
                        </div>
                    </ng-template>
                    <ng-template let-memo pTemplate="item">
                        <div>
                            <p class="tw-text-sub-text-color tw-text-14-px">{{ memo | snakeCaseToSpaceCase | sentenceCase }}</p>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <div [ngClass]="[formControllerName !== 'dayOfMonth' ? 'tw-pl-34-px' : 'tw-pl-70-px', formControllerName === 'dayOfWeek' ? 'tw-pl-30-px' : 'tw-pl-34-px']">
                <app-mandatory-error-message *ngIf="isFieldMandatory && form.controls[formControllerName].touched && !form.controls[formControllerName].valid && !form.controls[formControllerName].disabled && !isSearchFocused" [listName]="mandatoryErrorListName" [customErrorMessage]="customErrorMessage"></app-mandatory-error-message>
            </div>
        </div>
    </div>
    <div *ngIf="isDefaultFields">
        <div class="tw-text-form-label-text-color tw-text-14-px">
            <div>
                <label>{{label}}</label>
            </div>
            <div class="tw-pt-2 defaultFields">
                <p-dropdown appendTo="body" [options]="destinationAttributes" optionLabel="name"
                [formControlName]="formControllerName" [placeholder]="placeholder" [ngClass]="{'selectedItem': form.controls[formControllerName].value, 'filterDropdown': !form.controls[formControllerName].value, 'showClearIcon': showClearIcon && !isDisabled && form.controls[formControllerName].value}">
                    <ng-template let-option pTemplate="item">
                        <div #textElement
                            [ngStyle]="{'white-space': 'nowrap', 'overflow': 'hidden', 'text-overflow': 'ellipsis', 'max-width': '16rem'}"
                            [pTooltip]="isOverflowing(textElement) ? option.name : null" tooltipPosition="top">
                            {{ (option.name | sentenceCase) }}
                        </div>
                    </ng-template>
                    <ng-template pTemplate="selectedItem" let-item>
                        <p>
                            {{ (item.name | sentenceCase) }}
                        </p>
                        <app-svg-icon *ngIf="showClearIcon && !isDisabled" [svgSource]="'cross-medium'" [c1SvgSource]="'grv-cross-filled-medium'" (click)="removeFilter(form.controls[formControllerName])" [height]="'18px'" [width]="'18px'" [styleClasses]="'tw-mt-4-px'"></app-svg-icon>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isPreviewDialogVisible">
    <app-preview-dialog 
        [isPreviewDialogVisible]="true" 
        [iconPath]="exportTypeIconPath" 
        (closeDialog)="closeDialog()" 
        [header]="dialogHeader"
        [showNavigation]="appName === AppName.SAGE50 && showExportPreview"
        [currentModuleName]="availableExportTypes[currentExportTypeIndex]"
        [isFirstPreview]="currentExportTypeIndex === 0"
        [isLastPreview]="currentExportTypeIndex === availableExportTypes.length - 1"
        (navigatePreview)="navigatePreview($event)">
    </app-preview-dialog>
</div>

