:host ::ng-deep .dropdown-time-alone .p-select {
  @apply tw-w-150-px #{!important};
}

:host ::ng-deep .dropdown-time .p-select {
  @apply tw-w-120-px #{!important};
}

:host ::ng-deep .dropdown-monthy .p-select {
  @apply lg:tw-w-176-px md:tw-w-120-px #{!important};
}

:host ::ng-deep .error-box .p-select {
  @apply tw-border-border-danger-dark #{!important};
}

:host ::ng-deep .normal-box .p-select {
  @apply tw-border-select-default-border #{!important};
}

:host ::ng-deep .normal-box .p-select.p-focus {
  @apply tw-border-select-focused-border #{!important};
}

:host ::ng-deep .normal-box .p-select.p-disabled {
  @apply tw-bg-input-read-only-bg tw-border-input-read-only-border tw-border-solid #{!important};
}

:host ::ng-deep .normal-box .p-select.p-disabled .p-select-label {
  @apply tw-text-input-read-only-text #{!important};
}

:host ::ng-deep .dropdown-size-schedule .p-select {
  @apply tw-w-70-px #{!important};
}

:host ::ng-deep .dropdown-size-schedule .p-disabled,
.p-component:disabled {
  @apply tw-opacity-100;
}

.sub-text {
  @apply tw-text-text-muted tw-text-12-px tw-pl-2-px lg:tw-w-300-px md:tw-w-260-px tw-pt-2-px;
}

.smaller-th th {
  @apply tw-text-14-px tw-font-400;
}

:host ::ng-deep .p-select .p-select-label .p-placeholder .p-select-dropdown {
  @apply tw-visible #{!important};
}

:host ::ng-deep .p-disabled .p-select-dropdown,
:host ::ng-deep .showClearIcon .p-select-dropdown {
  @apply tw-hidden #{!important};
}

:host ::ng-deep .dropdown-size-schedule .selectedItem .p-select-dropdown,
:host ::ng-deep .filterDropdown .p-select-dropdown {
  @apply tw-visible #{!important};
}

:host ::ng-deep .hide-chevron .p-select-dropdown {
  @apply tw-hidden #{!important};
}

:host ::ng-deep .p-disabled {
  @apply tw-text-input-read-only-text tw-bg-select-disabled-bg tw-border-select-disabled-border tw-border-solid tw-opacity-100 #{!important};
}

.selected-item-container {
  @apply tw-flex tw-items-start tw-justify-between tw-w-full #{!important};
}

.selected-item-text {
  @apply tw-whitespace-nowrap tw-overflow-hidden tw-text-ellipsis #{!important};
}

.selected-item-container app-svg-icon {
  @apply tw-self-center #{!important};
}

.noIcon {
  @apply tw-pr-40-px #{!important};
}
