<div [formGroup]="form" >
    <div *ngIf="!isDefaultFields" class="tw-flex tw-flex-row tw-justify-between tw-items-center tw-py-24-px" [ngClass]="{'tw-px-6-px': isimportSettings, 'tw-px-24-px': !isimportSettings}">
        <div class="lg:tw-w-3/5 md:tw-w-1/2 tw-flex tw-items-start">
            <div [ngClass]="[iconPath || formControllerName === 'dayOfMonth' || formControllerName === 'dayOfWeek' || formControllerName === 'timeOfDay' ? 'tw-pr-16-px tw-mt-4-px' : 'noIcon']">
                <app-svg-icon *ngIf="iconPath" [svgSource]="iconPath" [width]="'24px'" [height]="'24px'" [styleClasses]="'tw-text-mandatory-field-color'"></app-svg-icon>
            </div>

            <div>
                <h5 class="tw-text-text-secondary tw-text-14-px !tw-font-500">{{ label | snakeCaseToSpaceCase}}<app-mandatory-field *ngIf="isFieldMandatory"></app-mandatory-field></h5>
                <h5 *ngIf="!(exportConfigurationIconPath && appName === AppName.TRAVELPERK ) && (subLabel !== undefined|| (formControllerName !== 'reimbursableExportType' && formControllerName!=='cccExportType' && formControllerName !== 'creditCardExportType'))" class="!tw-text-text-muted tw-text-14-px !tw-font-400 !tw-leading-4 tw-max-w-600-px tw-text-pretty" [ngClass]="brandingStyle.common.inputLabelTextStyle" [innerHTML]="subLabel"></h5>
                <h5 *ngIf="(formControllerName === 'reimbursableExportType' || formControllerName === 'cccExportType' || formControllerName === 'creditCardExportType') && appName !== AppName.QBO && subLabel === undefined && !(formControllerName === 'cccExportType' && brandingFeatureConfig.featureFlags.contentVersion === 'v2' && exportConfigurationIconPath && appName === AppName.INTACCT)" class="!tw-text-text-muted tw-text-14-px !tw-font-400 !tw-leading-4" [ngClass]="brandingStyle.common.inputLabelTextStyle">
                    {{ 'configurationSelectField.transactionRecordInfo' | transloco: { uiExposedAppName: uiExposedAppName, brandName: brandingConfig.brandName } }} <span *ngIf="exportConfigurationIconPath && appName === AppName.INTACCT">{{ 'configurationSelectField.click' | transloco }} <a (click)="showExportTable()" class="link">{{ 'configurationSelectField.here' | transloco }}</a> {{ 'configurationSelectField.forMoreDetails' | transloco }}</span>
                </h5>
                <h5 *ngIf="subLabel && (exportConfigurationIconPath && appName === AppName.TRAVELPERK)" class="!tw-text-text-muted tw-text-14-px tw-pt-8-px !tw-font-400 !tw-leading-4 tw-max-w-600-px tw-text-pretty" >{{subLabel}}<span class="tw-pl-4-px">{{ 'configurationSelectField.click' | transloco }} <a (click)="showExportTable()" class="link">{{ 'configurationSelectField.here' | transloco }}</a> {{ 'configurationSelectField.forPreview' | transloco }}</span></h5>
                <h5 *ngIf="formControllerName === 'cccExportType' && brandingFeatureConfig.featureFlags.contentVersion === 'v2' && exportConfigurationIconPath && appName === AppName.INTACCT" class="!tw-text-text-muted tw-text-14-px tw-pt-8-px !tw-font-400 !tw-leading-4 tw-max-w-600-px tw-text-pretty" >{{ 'configurationSelectField.sageIntacctTransactionInfo' | transloco }} <span class="tw-pl-4-px">{{ 'configurationSelectField.learn' | transloco }}<a (click)="showExportTable()" class="link"> {{ 'configurationSelectField.more' | transloco }}</a> {{ 'configurationSelectField.aboutExporting' | transloco }}</span></h5>
            </div>
        </div>
        <div>
            <div class="p-field-checkbox tw-pl-34-px" *ngIf="destinationAttributes">
                <app-dropdown
                    [form]="form"
                    [formControllerName]="formControllerName"
                    [options]="destinationAttributes"
                    [optionLabel]="optionLabel"
                    [displayKey]="optionLabel"
                    subLabelKey="code"
                    [placeholder]="placeholder"
                    [filterFields]="isMultiLineOption ? [optionLabel, 'code'] : [optionLabel]"
                    [isLoading]="isOptionSearchInProgress"
                    [isMultiLineOption]="isMultiLineOption"
                    [isFieldMandatory]="isFieldMandatory"
                    [showSearchFilter]="true"
                    size="large"
                    (filterChange)="searchOptions($event)">

                    <!-- Custom filter template - handles filter differently based on isAdvanceSearchEnabled -->
                    <!-- Specific to the case where destinationAttributes is present and advanced search is disabled -->
                    <ng-template *ngIf="!isAdvanceSearchEnabled" pTemplate="filter" let-dropdownOptions="options">
                        <app-search
                            [form]="form"
                            [isDropdown]="true"
                            [placeholder]="'configurationSelectField.searchPlaceholder' | transloco"
                            [styleClasses]="'tw-w-[100%] tw-h-dropdown-option-height tw-bg-white'"
                            (handleSimpleSearch)="simpleSearch($event)"
                            (searchFocused)="onSearchFocus($event)">
                        </app-search>
                    </ng-template>
                </app-dropdown>
            </div>
            <div *ngIf="options && !destinationAttributes && !simpleOptions">
                <div class="p-field-checkbox tw-pl-34-px" *ngIf="formControllerName !== 'dayOfMonth' && formControllerName !== 'dayOfWeek' && formControllerName !== 'timeOfDay' && !destinationAttributes">
                    <app-dropdown
                        [form]="form"
                        [formControllerName]="formControllerName"
                        [options]="options"
                        displayKey="label"
                        subLabelKey="subLabel"
                        [placeholder]="placeholder"
                        [isMultiLineOption]="isMultiLineOption"
                        [isDisabled]="isDisabled"
                        [isFieldMandatory]="isFieldMandatory"
                        [showClearIcon]="showClearIcon"
                    ></app-dropdown>
                    <div *ngIf="showExportPreview && form.controls[formControllerName].value" class="sub-text tw-text-pretty tw-pt-3-px">
                        <a class="link !tw-cursor-pointer" (click)="showExportPreviewDialog(form.controls[formControllerName].value)">{{ 'configurationSelectField.previewLink' | transloco }}</a>
                        <span> {{ 'configurationSelectField.inApp' | transloco: {uiExposedAppName: uiExposedAppName} }}</span>
                    </div>
                    <div *ngIf="!showExportPreview && isDisabled && isDisableTextRequired" class="sub-text tw-text-pretty">
                        <span *ngIf="(appName === AppName.QBD_DIRECT && form.controls.creditCardExportType.value === 'CREDIT_CARD_PURCHASE' && formControllerName === 'creditCardExportGroup') || (appName !== AppName.QBD_DIRECT)">{{ 'configurationSelectField.autoSelectedOnExportModule' | transloco }}</span>
                        <span *ngIf="(formControllerName === 'reimbursableExportGroup' && form.controls.reimbursableExportType.value !== 'BILL' && appName === AppName.QBD_DIRECT) || (appName === AppName.QBD_DIRECT && form.controls.creditCardExportType.value !== 'CREDIT_CARD_PURCHASE' && formControllerName === 'creditCardExportGroup')"> {{ 'configurationSelectField.autoSelectedOnAccountPayable' | transloco }}</span>
                    </div>
                    <div *ngIf="brandingFeatureConfig.featureFlags.contentVersion === 'v1' && form.controls[formControllerName].value==='spent_at' && isOnboarding && form.get('cccExportType')?.value && form.get('cccExportGroup')?.value === 'REPORT'" class="sub-text">
                        <span [innerHTML]="'configurationSelectField.spendDateWarning' | transloco"></span>
                    </div>
                </div>
                <div class="tw-pl-30-px tw-flex tw-justify-end tw-items-end" *ngIf="formControllerName === 'dayOfMonth' || formControllerName === 'dayOfWeek' || formControllerName === 'timeOfDay'">
                    <div *ngIf="formControllerName === 'dayOfWeek'" class="tw-mr-18-px dropdown-monthy">
                        <p class="tw-font-400 tw-text-text-muted tw-text-14-px">{{ 'configurationSelectField.dayLabel' | transloco }}</p>
                        <app-dropdown
                            [form]="form"
                            [formControllerName]="formControllerName"
                            [options]="options"
                            [placeholder]="placeholder"
                            [convertOptionsToSentenceCase]="true"
                        ></app-dropdown>
                    </div>
                    <div *ngIf="formControllerName === 'dayOfMonth'" class="p-field-checkbox tw-mr-20-px tw-pl-34-px">
                        <p class="tw-font-400 tw-text-text-muted tw-text-14-px">{{ 'configurationSelectField.dayLabel' | transloco }}</p>
                        <app-dropdown
                            [form]="form"
                            [formControllerName]="formControllerName"
                            [options]="options"
                            displayKey="label"
                            [placeholder]="placeholder"
                            customClasses="dropdown-monthy"
                        ></app-dropdown>
                    </div>
                    <div class="tw-mr-18-px" [ngClass]="[formControllerName === 'dayOfMonth' || formControllerName === 'dayOfWeek' ? 'dropdown-time' : 'dropdown-time-alone']">
                        <p class="tw-font-400 tw-text-text-muted tw-text-14-px">{{ 'configurationSelectField.timeLabel' | transloco }}</p>
                        <app-dropdown
                            [form]="form"
                            formControllerName="timeOfDay"
                            [options]="timeOption"
                            [placeholder]="'configurationSelectField.selectTimePlaceholder' | transloco"
                        ></app-dropdown>
                    </div>
                    <div [ngClass]="[formControllerName === 'dayOfMonth' || formControllerName === 'dayOfWeek' ? 'dropdown-time' : 'dropdown-time-alone']">
                        <app-dropdown
                            [form]="form"
                            formControllerName="meridiem"
                            [options]="meridiemOption"
                            [placeholder]="'configurationSelectField.selectMeridiemPlaceholder' | transloco"
                        ></app-dropdown>
                    </div>
                </div>
            </div>
            <div *ngIf="simpleOptions && !options" class="p-field-checkbox tw-pl-34-px">
                <p-dropdown appendTo="body" [options]="simpleOptions" [formControlName]="formControllerName" [placeholder]="placeholder" [ngClass]="[form.controls[formControllerName].invalid && isFieldMandatory && form.controls[formControllerName].touched ? 'error-box' : 'normal-box']" [disabled]="isDisabled">
                    <ng-template let-value pTemplate="selectedItem" >
                        <div *ngIf="form.get(formControllerName)?.value" class="tw-flex">
                            <p *ngIf="formControllerName !== 'defaultEmployee'">{{ value | snakeCaseToSpaceCase | sentenceCase }}</p>
                            <p *ngIf="formControllerName === 'defaultEmployee'">{{ value }}</p>
                        </div>
                        <div *ngIf="!form.get(formControllerName)?.value" class="tw-text-placeholder">
                            {{ placeholder }}
                        </div>
                    </ng-template>
                    <ng-template let-memo pTemplate="item">
                        <div>
                            <p class="tw-text-sub-text-color tw-text-14-px">{{ memo | snakeCaseToSpaceCase | sentenceCase }}</p>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <div [ngClass]="[formControllerName !== 'dayOfMonth' ? 'tw-pl-34-px' : 'tw-pl-70-px', formControllerName === 'dayOfWeek' ? 'tw-pl-30-px' : 'tw-pl-34-px', formControllerName === 'import_code' && appName === AppName.INTACCT ? 'tw-ml-14-px' : '']">
                <app-mandatory-error-message *ngIf="isFieldMandatory && form.controls[formControllerName].touched && !form.controls[formControllerName].valid && !form.controls[formControllerName].disabled && !isSearchFocused" [listName]="mandatoryErrorListName" [customErrorMessage]="customErrorMessage"></app-mandatory-error-message>
            </div>
        </div>
    </div>
    <div *ngIf="isDefaultFields">
        <div class="tw-text-form-label-text-color tw-text-14-px">
            <div>
                <label>{{label}}</label>
            </div>
            <div class="tw-pt-2 defaultFields">
                <p-dropdown appendTo="body" [options]="destinationAttributes" optionLabel="name"
                [formControlName]="formControllerName" [placeholder]="placeholder" [ngClass]="{'selectedItem': form.controls[formControllerName].value, 'filterDropdown': !form.controls[formControllerName].value, 'showClearIcon': showClearIcon && !isDisabled && form.controls[formControllerName].value}">
                    <ng-template let-option pTemplate="item">
                        <div #textElement
                            [ngStyle]="{'white-space': 'nowrap', 'overflow': 'hidden', 'text-overflow': 'ellipsis', 'max-width': '16rem'}"
                            [pTooltip]="isOverflowing(textElement) ? option.name : null" tooltipPosition="top">
                            {{ (option.name | sentenceCase) }}
                        </div>
                    </ng-template>
                    <ng-template pTemplate="selectedItem" let-item>
                        <p>
                            {{ (item.name | sentenceCase) }}
                        </p>
                        <app-svg-icon *ngIf="showClearIcon && !isDisabled" [svgSource]="'cross-medium'" [c1SvgSource]="'grv-cross-filled-medium'" (click)="removeFilter(form.controls[formControllerName])" [height]="'18px'" [width]="'18px'" [styleClasses]="'tw-mt-4-px'"></app-svg-icon>
                    </ng-template>
                </p-dropdown>
            </div>
        </div>
    </div>
</div>

<div *ngIf="isPreviewDialogVisible">
    <app-preview-dialog [isPreviewDialogVisible]="true" [iconPath]="exportTypeIconPath" (closeDialog)="closeDialog()" [header]="dialogHeader"></app-preview-dialog>
</div>

