<div [formGroup]="form" >
    <div *ngIf="!isDefaultFields" class="tw-flex tw-flex-row tw-justify-between tw-items-center tw-py-24-px" [ngClass]="{'tw-px-6-px': isimportSettings, 'tw-px-24-px': !isimportSettings}">
        <div class="lg:tw-w-3/5 md:tw-w-1/2 tw-flex tw-items-start">
            <div [ngClass]="[iconPath || formControllerName === 'dayOfMonth' || formControllerName === 'dayOfWeek' || formControllerName === 'timeOfDay' ? 'tw-pr-16-px tw-mt-4-px' : 'noIcon']">
                <app-svg-icon *ngIf="iconPath" [svgSource]="iconPath" [width]="'24px'" [height]="'24px'" [styleClasses]="'tw-text-mandatory-field-color'"></app-svg-icon>
            </div>

            <div>
                <h5 class="tw-text-text-secondary tw-text-14-px !tw-font-500">{{ label | snakeCaseToSpaceCase}}<app-mandatory-field *ngIf="isFieldMandatory"></app-mandatory-field></h5>
                <h5 *ngIf="!(exportConfigurationIconPath && appName === AppName.TRAVELPERK ) && (subLabel !== undefined|| (formControllerName !== 'reimbursableExportType' && formControllerName!=='cccExportType' && formControllerName !== 'creditCardExportType'))" class="!tw-text-text-muted tw-text-14-px !tw-font-400 !tw-leading-4 tw-max-w-600-px tw-text-pretty" [ngClass]="{'tw-pt-4-px': brandingConfig.brandId === 'co', 'tw-pt-8-px': brandingConfig.brandId !== 'co'}" [innerHTML]="subLabel"></h5>
                <h5 *ngIf="(formControllerName === 'reimbursableExportType' || formControllerName === 'cccExportType' || formControllerName === 'creditCardExportType') && appName !== AppName.QBO && subLabel === undefined && !(formControllerName === 'cccExportType' && brandingConfig.brandId === 'co' && exportConfigurationIconPath && appName === AppName.INTACCT)" class="!tw-text-text-muted tw-text-14-px !tw-font-400 !tw-leading-4" [ngClass]="{'tw-pt-4-px': brandingConfig.brandId === 'co', 'tw-pt-8-px': brandingConfig.brandId !== 'co'}">
                    Choose the type of transaction record that you would like to create in {{ appName }} while exporting expenses from {{brandingConfig.brandName}}. <span *ngIf="exportConfigurationIconPath && appName === AppName.INTACCT">Click<a (click)="showExportTable()" class="tw-cursor-pointer tw-text-link-primary"> here</a> for more details.</span>
                </h5>
                <h5 *ngIf="subLabel && (exportConfigurationIconPath && appName === AppName.TRAVELPERK)" class="!tw-text-text-muted tw-text-14-px tw-pt-8-px !tw-font-400 !tw-leading-4 tw-max-w-600-px tw-text-pretty" >{{subLabel}}<span class="tw-pl-4-px">Click<a (click)="showExportTable()" class="tw-cursor-pointer tw-text-link-primary"> here</a> for Preview</span></h5>
                <h5 *ngIf="formControllerName === 'cccExportType' && brandingConfig.brandId === 'co' && exportConfigurationIconPath && appName === AppName.INTACCT" class="!tw-text-text-muted tw-text-14-px tw-pt-8-px !tw-font-400 !tw-leading-4 tw-max-w-600-px tw-text-pretty" >Select the type of Sage Intacct transaction to export your expenses.<span class="tw-pl-4-px">Learn<a (click)="showExportTable()" class="tw-cursor-pointer tw-text-link-primary"> more</a> about exporting.</span></h5>
            </div>
        </div>
        <div>
            <div class="p-field-checkbox tw-pl-34-px" *ngIf="destinationAttributes">
                <p-dropdown appendTo="body" [options]="destinationAttributes" [optionLabel]="optionLabel" class="!tw-w-300-px" 
                    [formControlName]="formControllerName" 
                    [placeholder]="placeholder" 
                    [ngClass]="{
                        'error-box': form.controls[formControllerName].invalid && isFieldMandatory && form.controls[formControllerName].touched && !isSearchFocused,
                        'normal-box': !(form.controls[formControllerName].invalid && isFieldMandatory && form.controls[formControllerName].touched && !isSearchFocused)}" 
                    [filter]="true"
                    (onFilter)="searchOptions($event)"
                    (onHide)="clearSearch()" 
                    [filterFields]="isMultiLineOption ? ['value', 'code'] : ['value']"
                    [resetFilterOnHide]="true"
                    [emptyFilterMessage]="isOptionSearchInProgress ? 'Searching...' : 'No results found'" 
                    [dropdownIcon]="isOptionSearchInProgress ? 'pi pi-spinner pi-spin' : 'pi pi-chevron-down ' + brandingConfig.brandId">
                    <ng-template let-options pTemplate="item">
                        <div>
                            <span #textElement
                                [ngStyle]="{'white-space': 'nowrap', 'overflow': 'hidden', 'text-overflow': 'ellipsis', 'max-width': '16rem'}"
                                [pTooltip]="isOverflowing(textElement) ? options.value: null" tooltipPosition="top">
                                {{options[optionLabel]}}
                            </span>
                            <p *ngIf="isMultiLineOption" class="tw-text-text-muted tw-text-12-px">{{ options.code ? options.code : '--'}}</p>
                        </div>
                    </ng-template>
                    <ng-template let-value pTemplate="selectedItem">
                        <div *ngIf="value">
                            <p>
                                <span *ngIf="value?.code && isMultiLineOption">{{ value?.code }}</span>
                                {{ value?.value }} 
                            </p>
                        </div>
                        <div *ngIf="!value" class="tw-text-placeholder">
                           {{placeholder}}
                        </div>
                    </ng-template>
                    <ng-template *ngIf="!isAdvanceSearchEnabled" pTemplate="filter" let-dropdownOptions="options">
                        <app-search [form]="form" [isDropdown]="true" [placeholder]="'Search'" [styleClasses]="'tw-w-[100%] tw-h-dropdown-option-height tw-bg-white '" (handleSimpleSearch)="simpleSearch($event)" (searchFocused)="onSearchFocus($event)"></app-search>
                    </ng-template>
                    <ng-template pTemplate="filtericon">
                        <app-svg-icon [svgSource]="'search-medium'" [width]="'18px'" [height]="'18px'" [styleClasses]="brandingConfig.brandId === 'fyle' ? 'tw-text-search-focused-search-icon' : 'tw-text-search-focused-filled-border'" [isTextColorAllowed]="true"></app-svg-icon>
                    </ng-template>
                </p-dropdown>
            </div>
            <div *ngIf="options && !destinationAttributes && !simpleOptions">
                <div class="p-field-checkbox tw-pl-34-px" *ngIf="formControllerName !== 'dayOfMonth' && formControllerName !== 'dayOfWeek' && formControllerName !== 'timeOfDay' && !destinationAttributes">
                    <p-dropdown appendTo="body" [options]="options" class="!tw-w-300-px"
                    [formControlName]="formControllerName" [placeholder]="placeholder"
                    [dropdownIcon]="'pi pi-chevron-down ' + brandingConfig.brandId"
                    [ngClass]="{
                        'error-box': form.controls[formControllerName].invalid && isFieldMandatory && form.controls[formControllerName].touched,
                        'normal-box': !(form.controls[formControllerName].invalid && isFieldMandatory && form.controls[formControllerName].touched),
                        'selectedItem': form.controls[formControllerName].value,
                        'filterDropdown': !form.controls[formControllerName].value,
                        'showClearIcon': showClearIcon && !isDisabled && form.controls[formControllerName].value
                    }" [disabled]="isDisabled">
                    
                    <ng-template let-option pTemplate="item">
                        <div>
                            <span #textElement
                            [ngStyle]="{'white-space': 'nowrap', 'overflow': 'hidden', 'text-overflow': 'ellipsis', 'max-width': '16rem'}"
                            [pTooltip]="isOverflowing(textElement) ? option.label : null" tooltipPosition="top">
                            {{ brandingConfig.brandId === 'co' ? (option.label | sentenceCase) : (option.label)}}</span>
                            <p *ngIf="isMultiLineOption" class="tw-text-text-muted tw-text-12-px">{{ option.subLabel}}</p>
                        </div>
                    </ng-template>
                    
                    <ng-template pTemplate="selectedItem" let-item>
                        <div class="selected-item-container">
                            <span class="selected-item-text">
                                {{ brandingConfig.brandId === 'co' ? (item.label | sentenceCase) : (item.label)}}
                            </span>
                            <app-svg-icon *ngIf="showClearIcon && !isDisabled" [svgSource]="'cross-medium'" [c1SvgSource]="'grv-cross-filled-medium'" (click)="removeFilter(form.controls[formControllerName])" [height]="'18px'" [width]="'18px'" [styleClasses]="'tw-mt-4-px'"></app-svg-icon>
                        </div>
                    </ng-template>                    
                </p-dropdown>                
                    <div *ngIf="showExportPreview && form.controls[formControllerName].value" class="sub-text tw-text-pretty tw-pt-3-px">
                        <a class="tw-text-link-primary !tw-cursor-pointer" (click)="showExportPreviewDialog(form.controls[formControllerName].value)">Preview</a>
                        <span *ngIf="brandingConfig.brandId !== 'co'"> how it looks on {{appName}}</span>
                        <span *ngIf="brandingConfig.brandId === 'co'"> in {{appName}}</span>
                    </div>
                    <div *ngIf="!showExportPreview && isDisabled && isDisableTextRequired" class="sub-text tw-text-pretty">
                        <span>Auto-selected based on your export module</span>
                    </div>
                    <div *ngIf="brandingConfig.brandId !== 'co' && form.controls[formControllerName].value==='spent_at' && isOnboarding && form.value.cccExportType!==IntacctCorporateCreditCardExpensesObject.CHARGE_CARD_TRANSACTION" class="sub-text">
                        <span>Using the Spend Date may lead to multiple single line<br>item entries.</span>
                    </div>
                </div>
                <div class="tw-pl-30-px tw-flex tw-justify-end tw-items-end" *ngIf="formControllerName === 'dayOfMonth' || formControllerName === 'dayOfWeek' || formControllerName === 'timeOfDay'">
                    <div *ngIf="formControllerName === 'dayOfWeek'" class="tw-mr-18-px dropdown-monthy">
                        <p class="tw-font-400 tw-text-text-muted tw-text-14-px">Day</p>
                        <p-dropdown appendTo="body" [options]="options" [formControlName]="formControllerName" [placeholder]="placeholder" [ngClass]="[form.controls[formControllerName].invalid && isFieldMandatory && form.controls[formControllerName].touched ? 'error-box' : 'normal-box']">
                            <ng-template let-value pTemplate="selectedItem" >
                                <div *ngIf="form.value[formControllerName]" class="tw-flex">
                                    <p>{{ value | titlecase | snakeCaseToSpaceCase }}</p>
                                </div>
                                <div *ngIf="!form.value[formControllerName]" class="tw-text-placeholder">
                                    {{ placeholder }}
                                </div>
                            </ng-template>
                            <ng-template let-day pTemplate="item">
                                <div>
                                    <p class="tw-text-sub-text-color tw-text-14-px">{{ day | titlecase | snakeCaseToSpaceCase }}</p>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </div>
                    <div *ngIf="formControllerName === 'dayOfMonth'" class="p-field-checkbox tw-mr-20-px tw-pl-34-px">
                        <p class="tw-font-400 tw-text-text-muted tw-text-14-px">Day</p>
                        <p-dropdown appendTo="body" [options]="options" class="dropdown-monthy" [formControlName]="formControllerName" [placeholder]="placeholder" [ngClass]="[form.controls[formControllerName].invalid && isFieldMandatory && form.controls[formControllerName].touched ? 'error-box' : 'normal-box']"></p-dropdown>
                    </div>
                    <div class="tw-mr-18-px" [ngClass]="[formControllerName === 'dayOfMonth' || formControllerName === 'dayOfWeek' ? 'dropdown-time' : 'dropdown-time-alone']">
                        <p class="tw-font-400 tw-text-text-muted tw-text-14-px">Time</p>
                        <p-dropdown appendTo="body" [options]="timeOption" formControlName="timeOfDay" placeholder="Select Time for export" ></p-dropdown>
                    </div>
                    <div [ngClass]="[formControllerName === 'dayOfMonth' || formControllerName === 'dayOfWeek' ? 'dropdown-time' : 'dropdown-time-alone']">
                        <p-dropdown appendTo="body" [options]="meridiemOption" formControlName="meridiem" placeholder="Select meridiem of time" ></p-dropdown>
                    </div>
                </div>
            </div>
            <div *ngIf="simpleOptions && !options" class="p-field-checkbox tw-pl-34-px">
                <p-dropdown appendTo="body" [options]="simpleOptions" [formControlName]="formControllerName" [placeholder]="placeholder" [ngClass]="[form.controls[formControllerName].invalid && isFieldMandatory && form.controls[formControllerName].touched ? 'error-box' : 'normal-box']" [disabled]="isDisabled">
                    <ng-template let-value pTemplate="selectedItem" >
                        <div *ngIf="form.value[formControllerName]" class="tw-flex">
                            <p *ngIf="formControllerName !== 'defaultEmployee'">{{ value | titlecase | snakeCaseToSpaceCase }}</p>
                            <p *ngIf="formControllerName === 'defaultEmployee'">{{ value }}</p>
                        </div>
                        <div *ngIf="!form.value[formControllerName]" class="tw-text-placeholder">
                            {{ placeholder }}
                        </div>
                    </ng-template>
                    <ng-template let-memo pTemplate="item">
                        <div>
                            <p class="tw-text-sub-text-color tw-text-14-px">{{ memo | titlecase | snakeCaseToSpaceCase }}</p>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <div [ngClass]="[formControllerName !== 'dayOfMonth' ? 'tw-pl-34-px' : 'tw-pl-70-px', formControllerName === 'dayOfWeek' ? 'tw-pl-30-px' : 'tw-pl-34-px']">
                <app-mandatory-error-message *ngIf="isFieldMandatory && form.controls[formControllerName].touched && !form.controls[formControllerName].valid && !form.controls[formControllerName].disabled && !isSearchFocused" [listName]="mandatoryErrorListName" [customErrorMessage]="customErrorMessage"></app-mandatory-error-message>
            </div>
        </div>
    </div>
    <div *ngIf="isDefaultFields">
        <div class="tw-text-form-label-text-color tw-text-14-px">
            <div>
                <label>{{label}}</label>
            </div>
            <div class="tw-pt-2 defaultFields">
                <p-dropdown appendTo="body" [options]="destinationAttributes" optionLabel="name"
                [formControlName]="formControllerName" [placeholder]="placeholder" [ngClass]="{'selectedItem': form.controls[formControllerName].value, 'filterDropdown': !form.controls[formControllerName].value, 'showClearIcon': showClearIcon && !isDisabled && form.controls[formControllerName].value}">
                    <ng-template let-option pTemplate="item">
                        <div #textElement
                            [ngStyle]="{'white-space': 'nowrap', 'overflow': 'hidden', 'text-overflow': 'ellipsis', 'max-width': '16rem'}"
                            [pTooltip]="isOverflowing(textElement) ? option.name : null" tooltipPosition="top">
                            {{ brandingConfig.brandId === 'co' ? (option.name | sentenceCase) : (option.name)}}
                        </div>
                    </ng-template>
                    <ng-template pTemplate="selectedItem" let-item>
                        <p>
                            {{ brandingConfig.brandId === 'co' ? (item.name | sentenceCase) : (item.name)}}
                        </p>
                        <app-svg-icon *ngIf="showClearIcon && !isDisabled" [svgSource]="'cross-medium'" [c1SvgSource]="'grv-cross-filled-medium'" (click)="removeFilter(form.controls[formControllerName])" [height]="'18px'" [width]="'18px'" [styleClasses]="'tw-mt-4-px'"></app-svg-icon>
                    </ng-template>
                </p-dropdown>
            </div>  
        </div>
    </div>
</div>

<div *ngIf="isPreviewDialogVisible">
    <app-preview-dialog [isPreviewDialogVisible]="true" [iconPath]="exportTypeIconPath" (closeDialog)="closeDialog()" [header]="dialogHeader"></app-preview-dialog>
</div>
