@if (isLoading) {
    <div class="tw-flex tw-justify-center tw-items-center tw-h-[75vh]">
        <app-loader></app-loader>
    </div>
} @else {
<div>
    <div>
        <app-landing-page-header [iconPath]="'assets/logos/sage-intacct-logo.svg'" [appName]="appName" [appDescription]="'intacct.landing.contentText' | transloco: {brandName: brandingConfig.brandName}" [isLoading]="false" [isIntegrationSetupInProgress]="isIntacctConnectionInProgress" [isIntegrationConnected]="false" [redirectLink]="redirectLink" [buttonText]="'intacctOnboardingLanding.buttonText' | transloco" [postConnectionRoute]="postConnectionRoute" (connectIntegration)="connectIntacct()"></app-landing-page-header>
    </div>
    <div>
        <app-landing-page-body [headlineText]="'landing.guideHeaderText' | transloco" [headerText]="'intacctOnboardingLanding.headerText' | transloco" [embedVideo]="embedVideoLink" [embedImage]="'assets/co/coIntacctLanding.svg'" [svgPath]="'assets/flow-charts/' + brandingService.getAssetsBrandId() + '-sage-flow-chart.svg'" [appName]="appName"></app-landing-page-body>
    </div>
</div>
}