  <form [formGroup]="connectSage300Form">
    <div [ngClass]="isReconnecting ? '' : 'tw-mb-16-px'">
      <app-configuration-text-field [styleClasses]="isReconnecting ? 'tw-min-w-full' : undefined" [customErrorMessage]="'Please enter a valid identifier.'" [form]="connectSage300Form" [formControllerName]="'companyID'" [isFieldMandatory]="true" [label]="'Identifier'" [placeholder]="'Enter identifier'"></app-configuration-text-field>
    </div>
    <div class="tw-mb-16-px">
      <app-configuration-text-field [styleClasses]="isReconnecting ? 'tw-min-w-full' : undefined" [customErrorMessage]="'Please enter valid user ID.'" [form]="connectSage300Form" [formControllerName]="'userID'" [isFieldMandatory]="true" [label]="'User ID'" [placeholder]="'Enter user ID'"></app-configuration-text-field>
    </div>
    <div>
      <app-configuration-text-field [styleClasses]="isReconnecting ? 'tw-min-w-full' : undefined" [customErrorMessage]="'Incorrect password. Please enter correct password'" [form]="connectSage300Form" [formControllerName]="'userPassword'" [isFieldMandatory]="true" [label]="'User password'" [placeholder]="'Enter user password'" [type]="'password'"></app-configuration-text-field>
    </div>
  </form>