<div [formGroup]="form" [ngClass]="!isCloneSettingView ? 'tw-p-24-px': ''" class="tw-flex tw-justify-between tw-items-center">
    <div *ngIf="!isCloneSettingView" class="lg:tw-w-3/5 md:tw-w-1/2 tw-flex tw-items-start">
        <div class="tw-pr-16-px">
            <app-svg-icon *ngIf="iconPath" [svgSource]="iconPath" [width]="'24px'" [height]="'24px'" [styleClasses]="'tw-text-icon-primary'"></app-svg-icon>
        </div>
        <div>
            <h5 [ngClass]="brandingStyle.qbd_direct.onboarding.configurationToggleHeaderText">{{ label }}<app-mandatory-field *ngIf="isFieldMandatory"></app-mandatory-field></h5>
            <h5 class="!tw-leading-4" [innerHTML]="subLabel" [ngClass]="[brandingStyle.common.inputLabelTextStyle, brandingStyle.qbd_direct.onboarding.configurationToggleDescriptionText]"></h5>
        </div>
    </div>
    <div class="tw-pl-34-px">
        <p-multiSelect [options]="options" styleClass="tw-z-2 tw-py-8-px tw-px-12-px" [formControlName]="formControllerName" [defaultLabel]="placeholder"
        [ngClass]="[form.controls[formControllerName].invalid && isFieldMandatory ? 'error-box' : 'normal-box']"
        [dropdownIcon]="'pi pi-chevron-down ' + brandingConfig.brandId"
        [selectionLimit]="maxSelections"
        (onChange)="onMultiSelectChange()">
            <ng-template let-value pTemplate="selectedItems" >
                <div *ngIf="form.get(formControllerName)?.value?.length>0" class="tw-flex">
                    <p class="tw-overflow-hidden tw-text-ellipsis">{{ getSelectedItemsText(value) }}</p>
                </div>
                <div *ngIf="form.get(formControllerName)?.value?.length === 0" class="tw-text-placeholder">
                    {{ placeholder }}
                </div>
            </ng-template>
            <ng-template let-memo let-index="index" pTemplate="item">
                <!-- <div pDraggable="gens" pDroppable="gens" dragHandle=".barsHandle" (onDragStart)="onDragStart(index)" (onDrop)="onDrop(index)" >
                    <p class="tw-text-sub-text-color tw-text-14-px">{{ gens | sentenceCase | snakeCaseToSpaceCase }}</p>
                </div> -->
                <div>
                    <p class="tw-text-14-px">{{ getMemo(memo) }}</p>
                </div>
            </ng-template>
        </p-multiSelect>
        <div>
            <app-mandatory-error-message *ngIf="isFieldMandatory && form.controls[formControllerName].touched && form.get(formControllerName)?.value?.length === 0" [listName]="mandatoryErrorListName" [customErrorMessage]="customErrorMessage"></app-mandatory-error-message>
        </div>
    </div>
</div>
