:host ::ng-deep .p-multiselect-label {
  @apply tw-z-1 tw-w-270-px #{!important};
}

:host ::ng-deep .error-box .p-multiselect {
  @apply tw-border-border-danger-dark #{!important};
}

:host ::ng-deep .normal-box .p-multiselect.p-focus {
  @apply tw-border-slightly-normal-text-color #{!important};
}
