<app-generic-mapping-v2 *ngIf="!isLoading"
    [isLoading]="isLoading"
    [destinationOptions]="qbdDirectMappingService.getDestinationOptions()"
    [employeeFieldMapping]="qbdDirectMappingService.getEmployeeFieldMapping()"
    [sourceField]="sourceField"
    [destinationField]="qbdDirectMappingService.getDestinationField()"
    [destinationAttributes]="qbdDirectMappingService.getDestinationAttributes()"
    [destinationFieldDisplayName]="qbdDirectMappingService.getDestinationFieldDisplayName()"
    [showAutoMapEmployee]="false"
    [appName]="AppName.QBD_DIRECT"
    [isCategoryMappingGeneric]="sourceField === FyleField.CATEGORY ? true : false"
    [isMultiLineOption]="sourceField === FyleField.CATEGORY && brandingConfig.brandId !== 'co' ? true : false"
    [searchHandler]="handleSearch">
</app-generic-mapping-v2>
