<div [formGroup]="exportLogForm" class="tw-flex tw-items-center tw-p-24-px">

    <span class="custom-search-field" [ngStyle]="{ 'border-color': isSearchFocused ? 'black' : '#ccc' }">
        <app-svg-icon [svgSource]="'search-medium'" [width]="'18px'" [height]="'18px'"></app-svg-icon>
        <input class="tw-pb-1 tw-pt-1 tw-text-14-px" type="text" [formControlName]="'searchOption'" (input)="filterTable($event)" (focus)="isSearchFocused = true" (blur)="isSearchFocused = false" placeholder="Search by Employee Name or Expense ID" />
    </span>
    <div class="tw-flex tw-mr-4"></div>
    <span [ngClass]="{'tw-border-black': isDateFieldFocused}" class="tw-flex tw-justify-start tw-items-center tw-border tw-border-box-color tw-pl-12-px tw-rounded-4-px drop-down">
        <div>
            <app-svg-icon [svgSource]="'calendar'" [width]="'24px'" [height]="'24px'" [styleClasses]="'tw-text-placeholder'"></app-svg-icon>
        </div>
        <p-dropdown placeholder="Select date range" appendTo="body" [options]="dateOptions"
        formControlName="dateRange" (click)="dropDownWatcher()" (onFocus)="isDateFieldFocused = true" (onBlur)="isDateFieldFocused = false"
        [ngClass]="{'selectedItem': exportLogForm.controls.dateRange.value, 'filterDropdown': !exportLogForm.controls.dateRange.value}">
            <ng-template let-item pTemplate="selectedItem">
                <div class="tw-flex tw-justify-between tw-items-center">
                    <span>
                        <div *ngIf="exportLogForm.controls.dateRange.value">
                            <div class="my-dropdown-selected-item">
                                {{exportLogForm.controls.dateRange.value.dateRange}}
                            </div>
                        </div>
                        <div *ngIf="!exportLogForm.controls.dateRange.value">
                            <div class="my-dropdown-selected-item tw-text-placeholder tw-text-14-px">
                                Select date range
                            </div>
                        </div>
                    </span>
                    <i [ngClass]="[brandingConfig.brandId === 'fyle' ? 'pi pi-times fyle' : 'pi pi-times co']" (click)="removeFilter(exportLogForm.controls.dateRange)"></i>
                </div>
            </ng-template>
            <ng-template let-date pTemplate="item">
                <div>
                    <p-calendar (click)="showCalendar($event)" placeholder="Custom dates" formControlName="start" (onClose)="getDates()" [touchUI]="isCalendarVisible" *ngIf="date.dateRange === presentDate" selectionMode="range" [readonlyInput]="true" inputId="range"></p-calendar>
                    <p class="tw-text-sub-text-color tw-text-14-px" [ngClass]="{'!tw-text-mandatory-field-color' : exportLogForm.controls.dateRange.value === date }" *ngIf="date.dateRange !== presentDate">{{ date.dateRange | titlecase | snakeCaseToSpaceCase }}</p>
                    <p class="tw-text-sub-text-color tw-text-12-px" *ngIf="date.dateRange !== presentDate && date.dateRange !== 'Today'">{{date.startDate | date : 'MMM dd, yyyy'}} - {{date.endDate | date : 'MMM dd, yyyy'}}</p>
                    <p class="tw-text-sub-text-color tw-text-12-px" *ngIf="date.dateRange === 'Today'">{{date.startDate | date : 'MMM dd, yyyy'}}</p>
                </div>
            </ng-template> 
        </p-dropdown>
    </span>
</div>
