
  .clickable-row:hover {
    @apply tw-cursor-pointer;
    &:hover {
        @apply tw-bg-lv-table-hover-bg;
    }
}

:host ::ng-deep .drop-down .p-datepicker {
    @apply tw-w-200-px tw-h-30-px #{!important};
}

:host ::ng-deep .selectedItem  .p-select-dropdown {
    @apply tw-hidden #{!important};
}

:host ::ng-deep .p-datepicker ::placeholder {
    @apply tw-text-date-picker-placeholder-text #{!important};
}

:host ::ng-deep .p-inputtext {
    @apply tw-text-date-picker-filled-text #{!important};
}

:host ::ng-deep .p-dialog {
    @apply tw-max-h-full tw-m-0 #{!important};
}

:host ::ng-deep .p-button.outline-sm {
    @apply tw-w-100-px tw-justify-center #{!important};
}

:host ::ng-deep .p-button {
    @apply tw-w-fit tw-bg-none tw-bg-white tw-text-calendar-day-text-color #{!important}
}

:host ::ng-deep .p-button:enabled:hover {
    @apply tw-bg-none tw-bg-white tw-text-calendar-day-text-color tw-shadow-btn-cta-shadow #{!important}
}

:host ::ng-deep .p-datepicker-title {
    @apply tw-justify-evenly #{!important};
}