.custom-search-field {
    // border: 1px solid #ccc;
    // border-radius: 4px;
    // padding: 2px 10px;
    // display: inline-flex;
    // align-items: center;
    // width: 350px;
    // height: 40px;
    @apply tw-border-1-px tw-border-solid tw-border-stone-300 tw-border-r-4-px tw-items-center tw-inline-flex tw-w-354-px tw-h-40-px #{!important};
}

.custom-search-field i.pi-search {
    // margin-right: 10px;
    color: grey;

    @apply tw-mr-10-px;
}

.custom-search-field input[type="text"] {
    border: none;
    outline: none;
    width: 100%;
}

input.custom-focus:focus {
    outline: none;
    border: 1px solid black !important;
  }

.clickable-row:hover {
    cursor: pointer;
    &:hover {
        background: #FAFCFF;
      }
}

:host ::ng-deep .drop-down .p-dropdown {
    @apply tw-w-200-px tw-border-0 #{!important};
}

:host ::ng-deep .selectedItem  .p-dropdown-trigger {
    @apply tw-hidden #{!important};
}