<div *ngIf="isGradientAllowed" class="tw-absolute tw-bg-header-1 tw-bg-no-repeat tw-h-110-px tw-w-[100%] tw-z-[-1]"></div>
<div *ngIf="isGradientAllowed" class="tw-absolute tw-bg-header-2 tw-h-110-px tw-w-[100%] tw-z-[-1]"></div>
<div class="tw-flex tw-justify-center tw-pr-74-px tw-pl-74-px tw-pt-24 tw-pb-20">
  <div class="onboarding-done--contents" [ngClass]="brandingStyle.common.mainComponentShadow">
    <div class="tw-pt-34-px tw-mb-30-px tw-flex tw-justify-center">
      <app-svg-icon [isTextColorAllowed]="true" [svgSource]="'check-large'" [width]="'30px'" [height]="'30px'" [styleClasses]="'tw-p-16-px tw-bg-success-toast tw-rounded-50 tw-text-white'"></app-svg-icon>
    </div>
    <div class="tw-text-center">
      <h2 class="tw-text-text-primary !tw-font-400 !tw-text-18-px">
        <span *ngIf="brandingFeatureConfig.featureFlags.contentVersion === 'v1'">
          Congratulations!
        </span>
        <span>
          {{brandingContent.doneHeaderText}}
        </span>
      </h2>
      <div *ngIf="brandingFeatureConfig.featureFlags.contentVersion === 'v2'" class="tw-py-10-px">
        <h5 class="tw-text-text-muted tw-text-center tw-text-14-px tw-font-400" [innerHTML]="brandingContent.hintText"></h5>
      </div>
    </div>
    <div class="tw-flex tw-justify-center tw-py-20-px">
      <div>
        <button type="button" class="p-button" (click)="navigateToDashboard()">
          {{brandingContent.ctaText}}
        </button>
      </div>
    </div>
    <div *ngIf="brandingFeatureConfig.featureFlags.contentVersion === 'v1'" class="tw-py-20-px">
      <h5 class="tw-text-text-muted tw-text-center tw-text-14-px tw-font-400" [innerHTML]="brandingContent.hintText"></h5>
    </div>
  </div>
</div>
