<div *ngIf="isGradientAllowed" class="tw-absolute tw-bg-header-1 tw-h-110-px tw-w-[100%] tw-z-[-1]"></div>
<div *ngIf="isGradientAllowed" class="tw-absolute tw-bg-header-2 tw-h-110-px tw-w-[100%] tw-z-[-1]"></div>
<div class="tw-flex tw-justify-center tw-pr-74-px tw-pl-74-px tw-pt-24 tw-pb-20">
  <div class="onboarding-done--contents">
    <div class="tw-pt-34-px tw-mb-30-px tw-flex tw-justify-center">
      <app-svg-icon [isTextColorAllowed]="true" [svgSource]="'check-large'" [width]="'30px'" [height]="'30px'" [styleClasses]="'tw-p-16-px tw-bg-success-toast tw-rounded-50 tw-text-white'"></app-svg-icon>
    </div>
    <div class="tw-text-center">
      <h2 class="tw-text-text-primary !tw-font-400 !tw-text-18-px">Congratulations! Your integration setup is now complete.</h2>
    </div>
    <div class="tw-flex tw-justify-center tw-py-20-px">
      <div>
        <button type="button" class="p-button" (click)="navigateToDashboard()">Launch Integration</button>
      </div>
    </div>
    <div class="tw-py-20-px">
      <h5 class="tw-text-text-muted tw-text-center tw-text-14-px tw-font-400">
        After launching the integration, you can change your settings at any point of time under the <b class="tw-font-bold">Configuration</b> section.
      </h5>
    </div>
  </div>
</div>
