<div *ngIf="isGradientAllowed" class="tw-absolute tw-bg-header-1 tw-h-110-px tw-w-[100%] tw-z-[-1]"></div>
<div *ngIf="isGradientAllowed" class="tw-absolute tw-bg-header-2 tw-h-110-px tw-w-[100%] tw-z-[-1]"></div>

<div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-screen">
    <app-loader></app-loader>
</div>

<div *ngIf="!isLoading" class="tw-py-40-px" [ngClass]="{'tw-px-120-px': brandingConfig.brandId === 'fyle', 'tw-px-60-px': brandingConfig.brandId === 'co'}">
    <div class="tw-shadow-app-card tw-rounded-12-px tw-bg-white tw-border-1-px tw-border-separator">
        <div class="tw-p-24-px">
            <div *ngIf="exportPresent" class="tw-flex tw-justify-between tw-items-center ">
                <div class="tw-w-3/5">
                    <h3 class="tw-text-18-px tw-font-500 tw-text-slightly-normal-text-color">Instantly download expenses from {{ brandingConfig.brandName }} as an IIF file.</h3>
                    <h5 class="tw-text-14-px tw-font-400 tw-text-slightly-normal-text-color tw-pt-2-px">The IIF files will be generated based on your configuration.</h5>
                </div>
                <div class="tw-flex tw-items-end tw-justify-end">
                    <div>
                        <button type="button" class="export-btn tw-float-right tw-flex tw-justify-end tw-items-center tw-text-white tw-text-500 tw-px-24-px tw-py-12-px tw-bg-mandatory-field-color tw-rounded-4-px" (click)="triggerExports()" [disabled]="exportInProgress || disableQBDExportButton" >
                            <p class="tw-flex tw-text-14-px tw-font-400 tw-pl-5px" *ngIf="!exportInProgress">Export IIF file
                                <app-svg-icon *ngIf="brandingFeatureConfig.isIconsInsideButtonAllowed" [svgSource]="'arrow-tail-right-medium'" [width]="'18px'" [height]="'18px'" [styleClasses]="'tw-pl-10-px tw-pt-2-px !tw-text-12-px'"></app-svg-icon>
                            </p>
                            <p class="tw-text-14-px tw-font-400 tw-pl-5px" *ngIf="exportInProgress">Exporting ...
                            </p>
                        </button><br>
                        <p *ngIf="nextExportDate" class="tw-pt-8-px tw-float-right tw-text-12-px tw-font-500 tw-text-text-muted">Next automated export schedule: {{ nextExportDate | date : 'd MMM, yyyy'}}</p>
                    </div>
                </div>
            </div>
            <div *ngIf="!exportPresent" class="tw-flex tw-justify-between tw-items-center ">
                <div class="tw-flex tw-items-start">
                    <div class="tw-pr-14-px">
                        <img *ngIf="illustrationsAllowed" src="assets/illustrations/pinktick.svg" >
                    </div>
                    <div>
                        <h3 class="tw-text-20-px tw-font-400 tw-text-normal-text-color">You are all caught up!</h3>
                        <h5 class="tw-text-14-px tw-font-400 tw-text-text-muted tw-pt-4-px"> There are no expense in {{ brandingConfig.brandName }} as per the configuration setup to export.</h5>
                    </div>
                </div>
                <div>
                    <img src="assets/illustrations/export.svg" alt="">
                </div>
            </div>
        </div>
        <div  *ngIf="exportInProgress">
            <p-progressBar class="!tw-h-6-px" [value]="exportProgressPercentage" [showValue]='false'></p-progressBar>
        </div>
    </div>
    <div class="tw-mt-40-px tw-shadow-app-card tw-rounded-12-px tw-bg-white tw-border-1-px tw-border-separator">
        <div class="tw-flex tw-justify-between tw-items-center tw-p-24-px">
            <div>
                <h4 class="tw-font-500">IIF file logs</h4>
            </div>
            <div *ngIf="isRecordPresent" [formGroup]="exportLogForm" class="tw-flex tw-justify-start tw-items-center tw-rounded-4-px drop-down">
                <app-export-log-filter *ngIf="totalCount > 0 || selectedDateFilter"
                    [exportLogForm]="exportLogForm"
                    [hideCalendar]="hideCalendar"
                    [dateOptions]="dateOptions"
                    [isSimpleSearchRequired]="false">
                </app-export-log-filter>

            </div>
        </div>
        <div class="tw-pt-24-px tw-border-y-2-px tw-border-y-separator tw-box-border tw-px-24-px">
            <div *ngIf="accountingExports.count > 0">
                <p-table [value]="accountingExports.results">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Date and Time of Export</th>
                            <th>Exported as</th>
                            <th>Expense Type</th>
                            <th>Download IIF File</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-exports let-i="rowIndex">
                        <tr>
                            <td>
                                <p class="tw-font-400 tw-text-sub-text-color">{{exports.created_at | date}}</p>
                                <span class="tw-font-400 !tw-text-12-px tw-text-placeholder">{{exports.created_at | date : "hh:mm a"}}</span>
                            </td>
                            <td>{{getTypeString(exports.type)| titlecase }}</td>
                            <td>{{getExpenseType(exports.fund_source)| titlecase }}</td>
                            <td>
                                <div *ngIf="!downloadingExportId[i]">
                                    <button (click)="getDownloadLink(exports,i)" pTooltip="Download" tooltipPosition="top"><app-svg-icon [styleClasses]="'tw-pt-5-px'" [svgSource]="'download'" [width]="'24px'" [height]="'24px'"></app-svg-icon></button>
                                </div>
                                <div *ngIf="downloadingExportId[i]" class="tw-flex tw-items-center">
                                    <i class="pi pi-spin pi-spinner tw-text-sub-text-color tw-text-16-px"></i>
                                    <p class="tw-text-14-px tw-text-sub-text-color tw-pl-10-px">downloading...</p>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div *ngIf="accountingExports.count === 0">
                <app-zero-state-with-illustration [mainText]="'No IIF logs to show yet!'" [subText]="'All your successful exports and their details will be stored here.'"></app-zero-state-with-illustration>
            </div>
        </div>
        <div *ngIf="accountingExports.count > 0" class="tw-p-24-px">
            <app-paginator [totalCount]="totalCount"(pageSizeChangeEvent)="pageSizeChanges($event)" (pageOffsetChangeEvent)="pageOffsetChanges($event)" [pageType]="PaginatorPage.DASHBOARD" [page]="currentPage" [dropDownValue]="limit"></app-paginator>
        </div>
    </div>
</div>