::ng-deep .drop-down .p-select {
    @apply tw-w-200-px tw-border-0 #{!important};
}

:host ::ng-deep .p-progressbar {
    @apply tw-h-1.5 tw-bg-progress-bar-bg #{!important};
}

:host ::ng-deep .p-progressbar .p-progressbar-value {
    @apply tw-bg-mandatory-field-color tw-rounded-50  #{!important};
}

:host ::ng-deep .p-progressbar-determinate .p-progressbar-value {
    content: none #{!important};
}

::ng-deep .export-btn:disabled {
    @apply tw-cursor-not-allowed tw-bg-cta-disabled #{!important};
}

:host ::ng-deep .prevBtn:disabled, :host ::ng-deep .nextBtn:disabled {
    @apply tw-bg-disabled-bg-color #{!important};
}