<div class="tw-flex tw-p-24-px tw-border-t tw-border-t-gray-200" [ngClass]="!showBackButton ? 'tw-justify-end': 'tw-justify-between'">
    <div *ngIf="showBackButton">
        <button type="button" class="p-button-raised tw-bg-white back-btn" (click)="navigate()">
            <i class="tw-pr-10-px tw-pt-2-px !tw-text-12-px pi pi-arrow-left tw-text-btn-cta"></i>
            Back
        </button>

        <button *ngIf="showResetButton" type="button" class="p-button-raised tw-bg-white back-btn tw-ml-16-px" (click)="resetConfiguration()">
            Reset Configuration
        </button>
    </div>
    <div>
        <button *ngIf="ctaText !== 'Saving' && ctaText !== 'Syncing'" pButton type="button" class="p-button-raised" (click)="saveChanges()" [disabled]="isButtonDisabled">
            {{ ctaText }}
            <i *ngIf="ctaText !== 'Save'" class="tw-pl-10-px tw-pt-2-px !tw-text-12-px pi pi-arrow-right"></i>
        </button>
        <button *ngIf="ctaText === 'Saving' || ctaText === 'Syncing'" pButton type="button" class="p-button-raised" disabled>
            {{ ctaText }}
            <div style="border-top-color:transparent"
                class="tw-w-5 tw-h-5 tw-ml-2 tw-border-2 tw-border-b-white tw-border-r-white tw-border-l-white tw-border-t-transparent tw-border-solid tw-rounded-full tw-animate-spin"></div>
        </button>
    </div>
</div>
