<div class="tw-flex tw-py-16-px tw-px-24-px tw-border-t tw-border-t-border-tertiary" [ngClass]="[!showBackButton ? 'tw-justify-end': 'tw-justify-between']">
    <div class="tw-flex" *ngIf="showBackButton">
        <div>
            <button type="button" class="p-button outline-sm" (click)="navigate()">
                <app-svg-icon *ngIf="brandingFeatureConfig.isIconsInsideButtonAllowed" [svgSource]="'arrow-tail-left-medium'" [width]="'18px'" [height]="'18px'" [styleClasses]="'tw-pr-10-px tw-text-12-px tw-text-btn-cta'"></app-svg-icon>
                Back
            </button>
        </div>

        <div class="tw-ml-16-px">
            <button *ngIf="showResetButton" type="button" class="p-button outline-sm" (click)="resetConfiguration()">
                Reset configuration
            </button>
        </div>
    </div>

    @if(shouldShowQBDAssistedSetup){
    <div class="tw-flex tw-w-full tw-self-start">
        <app-qbd-direct-assisted-setup [interactionType]="QBDDirectInteractionType"></app-qbd-direct-assisted-setup>
    </div>
    }
    
    <div>
        <button *ngIf="ctaText !== 'Saving' && ctaText !== 'Syncing'" pButton type="button" class="p-button-raised" (click)="saveChanges()" [disabled]="isButtonDisabled">
            <span>
                {{ ctaText | sentenceCase}}
            </span>
            <app-svg-icon *ngIf="brandingFeatureConfig.isIconsInsideButtonAllowed && ctaText !== 'Save' && AppName !== appName.QBD_DIRECT" [svgSource]="'arrow-tail-right-medium'" [width]="'18px'" [height]="'18px'" [styleClasses]="'tw-text-white tw-pl-10-px tw-pt-2-px tw-text-12-px'"></app-svg-icon>
        </button>
        <button *ngIf="ctaText === 'Saving' || ctaText === 'Syncing'" pButton type="button" class="p-button-raised" disabled>
            {{ ctaText }}
            <div *ngIf="brandingFeatureConfig.isIconsInsideButtonAllowed" class="tw-w-5 tw-h-5 tw-ml-2 tw-border-2 tw-border-b-transparent tw-border-r-transparent tw-border-l-transparent tw-border-t-border-tertiary tw-rounded-full tw-animate-spin"></div>
        </button>
    </div>
</div>