<div class="tw-flex tw-p-24-px tw-border-t-border-tertiary" [ngClass]="!showBackButton ? 'tw-justify-end': 'tw-justify-between'">
    <div *ngIf="showBackButton">
        <button type="button" class="p-button-raised tw-bg-white back-btn tw-flex" (click)="navigate()">
            <app-svg-icon *ngIf="brandingFeatureConfig.isIconsInsideButtonAllowed" [svgSource]="'arrow-tail-left-medium'" [width]="'18px'" [height]="'18px'" [styleClasses]="'tw-pr-10-px tw-text-12-px tw-text-btn-cta'"></app-svg-icon>
            Back
        </button>

        <button *ngIf="showResetButton" type="button" class="p-button-raised tw-bg-white back-btn tw-ml-16-px" (click)="resetConfiguration()">
            Reset Configuration
        </button>
    </div>
    <div>
        <button *ngIf="ctaText !== 'Saving' && ctaText !== 'Syncing'" pButton type="button" class="p-button-raised" (click)="saveChanges()" [disabled]="isButtonDisabled">
            {{ ctaText }}
            <app-svg-icon *ngIf="brandingFeatureConfig.isIconsInsideButtonAllowed && ctaText !== 'Save'" [svgSource]="'arrow-tail-right-medium'" [width]="'18px'" [height]="'18px'" [styleClasses]="'tw-text-white tw-pl-10-px tw-pt-2-px tw-text-12-px'"></app-svg-icon>
        </button>
        <button *ngIf="ctaText === 'Saving' || ctaText === 'Syncing'" pButton type="button" class="p-button-raised" disabled>
            {{ ctaText }}
            <div class="tw-w-5 tw-h-5 tw-ml-2 tw-border-2 tw-border-b-white tw-border-r-white tw-border-l-white tw-border-t-border-tertiary tw-border-solid tw-rounded-full tw-animate-spin"></div>
        </button>
    </div>
</div>
