<div class="tw-flex tw-items-center tw-justify-between tw-bg-white">
    <p-tabMenu [model]="modules" [activeItem]="modules[0]" ></p-tabMenu>

    <div class="tw-flex tw-items-center">
        <button *ngIf="isDisconnectRequired && !brandingFeatureConfig.showMoreDropdownInMainMenu" class="tw-flex tw-items-center tw-h-32-px tw-py-8-px tw-px-12-px tw-mr-12-px tw-rounded tw-bg-white tw-text-text-danger tw-border tw-border-gray-300 focus:tw-outline-none focus:tw-ring-opacity-50 active:tw-scale-95 transition-transform" (click)="disconnect()" [disabled]="isDisabled">
            <span class="tw-text-14-px">
                {{ isConnectionInProgress ? 'Disconnecting' : 'Disconnect' }}
            </span>
        </button>

        <span *ngIf="isSyncVisible">
            <button *ngIf="brandingFeatureConfig.isIconsInsideButtonAllowed" [pTooltip]="toolTipText"
                (click)="refreshDimensions()"
                class="tw-py-8-px tw-px-12-px tw-h-32-px tw-mr-12-px tw-flex tw-items-center focus:tw-ring-0 tw-justify-center tw-rounded tw-bg-white tw-text-black tw-border tw-border-gray-300 focus:tw-outline-none focus:tw-ring-opacity-50 active:tw-scale-95 transition-transform">
                <app-svg-icon [svgSource]="'arrow-rotate-sync'" [width]="'14px'" [height]="'14px'" [styleClasses]="'tw-text-mandatory-field-color tw-pr-8-px'"></app-svg-icon>
                <span class="tw-text-14-px">
                    Sync
                </span>
            </button>
            <div class="tw-mr-22-px">
                <span class="p-button primary-outline" *ngIf="!brandingFeatureConfig.isIconsInsideButtonAllowed" [pTooltip]="toolTipText" (click)="refreshDimensions()">
                    Refresh data
                </span>
            </div>
        </span>

        <p-dropdown
            *ngIf="brandingFeatureConfig.showMoreDropdownInMainMenu"
            [(ngModel)]="dropdownValue"
            (onChange)="handleDropdownChange($event)"
            appendTo="body"
            class="tw-mr-26-px tw-w-fit"
            [options]="dropdownOptions"
            [placeholder]="isConnectionInProgress ? 'Disconnecting' : 'More'"
            [group]="true"
            [disabled]="isDisabled"
        >
            <ng-template let-group pTemplate="group">
                <div class="tw-flex tw-font-500 tw-text-12-px tw-text-menu-inactive-text-color">
                    <span>{{group.label}}</span>
                </div>
            </ng-template>
            <ng-template let-option pTemplate="item">
                @if (option.label === "[divider]") {
                    <div class="tw-border-t tw-border-separator tw-w-full"></div>
                } @else {
                    <span [class]="{
                        'tw-text-text-danger': option.label === 'Disconnect',
                        'tw-text-mandatory-field-color': isCurrentIntegration(option.label),
                    }">
                        {{option.label}}
                    </span>
                }
            </ng-template>
        </p-dropdown>
    </div>
</div>
