<div class="tw-border-gray-300 tw-rounded tw-flex tw-items-center tw-justify-between">
    <p-tabMenu [model]="modules" [activeItem]="modules[0]" ></p-tabMenu>

    <div class="tw-flex tw-items-center">
        <button [pTooltip]="'The integration will import all the newly updated ' + appName + ' dimensions and Fyle expenses in the configured state of export'"
            (click)="refreshDimensions()"
            class="tw-h-32-px tw-w-80-px tw-mr-12-px tw-flex tw-items-center focus:tw-ring-0 tw-justify-center tw-rounded tw-bg-white tw-text-black tw-border tw-border-gray-300 focus:tw-outline-none focus:tw-ring-opacity-50 active:tw-scale-95 transition-transform">
            <img src="assets/icons/stepper/sync.svg">
            <span class="tw-text-14-px tw-pl-8-px">
                Sync
            </span>
        </button>
    </div>
</div>
