<div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-screen">
    <app-loader></app-loader>
</div>
<div *ngIf="!isLoading" class="configuration--contents tw-border-separator tw-mt-6" [ngClass]="brandingStyle.common.configurationContents">
    <div>
        <app-configuration-step-header
            [headerText]="'Export Settings'"
            [contentText]="'In this section, you can configure how and when expenses from ' + brandingConfig.brandName + ' should be exported to Dynamics 365 Business Central. '"
            [redirectLink]="redirectLink"
            [showSyncButton]="isOnboarding"
            [appName]="appName"
            (refreshDimension)="refreshDimensions($event)">
        </app-configuration-step-header>
    </div>
    <form [formGroup]="exportSettingForm">
        <div class="tw-p-24-px tw-px-24-px tw-pb-24-px">
            <div class="tw-mb-16-px">
                <div class="tw-rounded-lg tw-border-separator tw-border tw-bg-configuration-bg">
                    <app-configuration-toggle-field
                        [form]="exportSettingForm"
                        [label]="'Export Reimbursable Expenses'"
                        [subLabel]="'Enable this to export the reimbursable expenses from ' + brandingConfig.brandName + '. If not enabled, any <b>out-of-pocket</b> expenses will not be exported to Dynamics 365 Business Central.'"
                        [formControllerName]="'reimbursableExpense'"
                        [isSectionHeader]="true">
                    </app-configuration-toggle-field>
                </div>
                <div *ngIf="exportSettingForm.get('reimbursableExpense')?.value">
                    <div class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                            [form]="exportSettingForm"
                            [isFieldMandatory]="true"
                            [mandatoryErrorListName]="'export module'"
                            [label]="'How should the expenses be exported?'"
                            [options]="reimbursableExpensesExportTypeOptions"
                            [iconPath]="'list'"
                            [placeholder]="'Select expense export module'"
                            [formControllerName]="'reimbursableExportType'"
                            [appName]="appName"
                            [exportTypeIconPathArray]="previewImagePaths"
                            [showExportPreview]="true"
                            [isDisabled]="false">
                        </app-configuration-select-field>
                    </div>
                    <div *ngIf="exportSettingForm.get('reimbursableExportType')?.value" class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <div *ngIf="exportSettingForm.get('reimbursableExportType')?.value === BusinessCentralExportType.PURCHASE_INVOICE">
                            <app-configuration-select-field
                                [form]="exportSettingForm"
                                [isFieldMandatory]="true"
                                [mandatoryErrorListName]="'Employees representation'"
                                [label]="'How are your Employees represented in Dynamics 365 Business Central?'"
                                [subLabel]="'Select how your employee are represented in Dynamics 365 Business Central. This would help to export the expenses to the correct record in Dynamics 365 Business Central.'"
                                [options]="employeeFieldMappingOptions"
                                [placeholder]="'Select representation'"
                                [iconPath]="'user-two'"
                                [formControllerName]="'reimbursableEmployeeMapping'"
                                [isDisabled]="true">
                            </app-configuration-select-field>
                        </div>
                        <div *ngIf="exportSettingForm.get('reimbursableExportType')?.value === BusinessCentralExportType.JOURNAL_ENTRY">
                            <app-configuration-select-field
                                [form]="exportSettingForm"
                                [isFieldMandatory]="true"
                                [mandatoryErrorListName]="'Employees representation'"
                                [label]="'How are your Employees represented in Dynamics 365 Business Central?'"
                                [subLabel]="'Select how your employee are represented in Dynamics 365 Business Central. This would help to export the expenses to the correct record in Dynamics 365 Business Central.'"
                                [options]="employeeFieldMappingOptions"
                                [placeholder]="'Select representation'"
                                [iconPath]="'user-two'"
                                [formControllerName]="'reimbursableEmployeeMapping'">
                            </app-configuration-select-field>
                        </div>
                        <div>
                            <app-configuration-select-field
                            [form]="exportSettingForm"
                            [isFieldMandatory]="false"
                            [label]="'How should Employees in  ' + brandingConfig.brandName + ' be mapped to Vendors in Dynamics 365 Business Central ?'"
                            [subLabel]="'Automatically map the employees in  ' + brandingConfig.brandName + ' to their corresponding records in Dynamics 365 Business Central based on a unique parameter'"
                            [placeholder]="'Select representation'"
                            [options]="employeeMapOptions"
                            [iconPath]="'question-square-outline'"
                            [formControllerName]="'autoMapEmployee'"
                            [showClearIcon]="true">
                        </app-configuration-select-field>
                        </div>
                    </div>
                    <div *ngIf="exportSettingForm?.value.reimbursableExportType">
                        <div *ngIf="exportSettingForm.get('reimbursableExportType')?.value === BusinessCentralExportType.JOURNAL_ENTRY" class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                            <app-configuration-select-field
                            [form]="exportSettingForm"
                            [isFieldMandatory]="true"
                            [mandatoryErrorListName]="'Default Bank Account Name'"
                            [label]="'Set the Default Bank Account as?'"
                            [subLabel]="'The integration will assign the Expenses that is exported as Journal Entry to the Bank Account selected here.'"
                            [destinationAttributes]="bankAccountOptions"
                            [destinationOptionKey]="BCExportSettingDestinationOptionKey.BANK_ACCOUNT"
                            [isOptionSearchInProgress]="isOptionSearchInProgress"
                            [isAdvanceSearchEnabled]="true"
                            (searchOptionsDropdown)="searchOptionsDropdown($event)"
                            [iconPath]="'list'"
                            [placeholder]="'Select default Bank Account'"
                            [formControllerName]="'defaultBankName'">
                        </app-configuration-select-field>
                        </div>
                    </div>
                    <div *ngIf="exportSettingForm?.value.reimbursableExportType" class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                            [form]="exportSettingForm"
                            [isFieldMandatory]="true"
                            [mandatoryErrorListName]="'how expenses to be grouped'"
                            [label]="'How should the expenses be grouped?'"
                            [subLabel]="'Expense can either be exported as single line items (Expense) or as a grouped report with multiple line items (Expense Report)'"
                            [options]="expenseGroupByOptions"
                            [iconPath]="'question-square-outline'"
                            [placeholder]="'Select expense grouping'"
                            [formControllerName]="'reimbursableExportGroup'"
                            [appName]="appName"
                            [isDisabled]="exportSettingForm.get('reimbursableExportType')?.value === BusinessCentralExportType.JOURNAL_ENTRY">
                        </app-configuration-select-field>
                    </div>
                    <div *ngIf="exportSettingForm?.value.reimbursableExportType" class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                            [form]="exportSettingForm"
                            [isFieldMandatory]="true"
                            [mandatoryErrorListName]="'expense state'"
                            [label]="'At which state should the expenses be ready to export from ' + brandingConfig.brandName + '?'"
                            [subLabel]="'You can export expenses either when they\'re awaiting payment after approval (Payment processing) or when the payment has been settled (Closed).'"
                            [options]="reimbursableExpenseState"
                            [iconPath]="'list'"
                            [placeholder]="'Select export state'"
                            [formControllerName]="'reimbursableExpenseState'">
                        </app-configuration-select-field>
                    </div>
                    <div *ngIf="exportSettingForm.get('reimbursableExportType')?.value" class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                            [form]="exportSettingForm"
                            [isFieldMandatory]="true"
                            [mandatoryErrorListName]="'export date'"
                            [label]="'Set the date of the transaction as?'"
                            [subLabel]="'The selected type of date will reflect in the expenses exported from ' + brandingConfig.brandName + ' to Dynamics 365 Business Central.'"
                            [placeholder]="'Select date type'"
                            [options]="getExportDate(reimbursableExpenseGroupingDateOptions, 'reimbursableExportGroup')"
                            [iconPath]="'calendar'"
                            [formControllerName]="'reimbursableExportDate'">
                        </app-configuration-select-field>
                    </div>

                </div>
            </div>
            <div>
                <div class="tw-rounded-lg tw-border-separator tw-border tw-bg-configuration-bg">
                    <app-configuration-toggle-field
                        [form]="exportSettingForm"
                        [label]="'Export Corporate Card Expenses'"
                        [subLabel]="'Enable this to export Non-Reimbursable expenses from ' + brandingConfig.brandName + '. If not enabled, any <b>Corporate Credit Card</b> expenses will not be exported to Dynamics 365 Business Central.'"
                        [formControllerName]="'creditCardExpense'"
                        [isSectionHeader]="true">
                    </app-configuration-toggle-field>
                </div>
                <div *ngIf="exportSettingForm.get('creditCardExpense')?.value">
                    <div class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                            [form]="exportSettingForm"
                            [isFieldMandatory]="true"
                            [mandatoryErrorListName]="'export module'"
                            [label]="'How should the expenses be exported?'"
                            [options]="cccExpensesExportTypeOptions"
                            [iconPath]="'list'"
                            [placeholder]="'Select expense export module'"
                            [formControllerName]="'cccExportType'"
                            [appName]="appName"
                            [exportConfigurationIconPath]="'assets/flow-charts/intacct-export-module.svg'"
                            [showExportPreview]="true"
                            [exportTypeIconPathArray]="previewImagePaths">
                        </app-configuration-select-field>
                    </div>
                    <div *ngIf="exportSettingForm.get('cccExportType')?.value === BusinessCentralExportType.JOURNAL_ENTRY" class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                            [form]="exportSettingForm"
                            [isFieldMandatory]="true"
                            [mandatoryErrorListName]="'Default Bank Account Name'"
                            [label]="'Set the Default Bank Account as?'"
                            [subLabel]="'The integration will assign the Expenses that is exported as Journal Entry to the Bank Account selected here.'"
                            [destinationAttributes]="bankAccountOptions"
                            [destinationOptionKey]="BCExportSettingDestinationOptionKey.BANK_ACCOUNT"
                            [isOptionSearchInProgress]="isOptionSearchInProgress"
                            [isAdvanceSearchEnabled]="true"
                            (searchOptionsDropdown)="searchOptionsDropdown($event)"
                            [iconPath]="'list'"
                            [placeholder]="'Select default Bank Account'"
                            [formControllerName]="'cccDefaultBankName'">
                        </app-configuration-select-field>
                    </div>
                    <div *ngIf="exportSettingForm.get('cccExportType')?.value" class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                            [form]="exportSettingForm"
                            [isFieldMandatory]="true"
                            [mandatoryErrorListName]="'Default Vendor Name'"
                            [label]="'Set the Default Vendor as?'"
                            [subLabel]="'The integration will assign the Corporate Card Expenses that is exported as Journal Entry to the Vendor selected here.'"
                            [destinationAttributes]="vendorOptions"
                            [destinationOptionKey]="BCExportSettingDestinationOptionKey.VENDOR"
                            [isOptionSearchInProgress]="isOptionSearchInProgress"
                            [isAdvanceSearchEnabled]="true"
                            (searchOptionsDropdown)="searchOptionsDropdown($event)"
                            [iconPath]="'list'"
                            [placeholder]="'Select default Vendor'"
                            [formControllerName]="'defaultVendorName'">
                        </app-configuration-select-field>
                    </div>
                    <div *ngIf="exportSettingForm.get('cccExportType')?.value" class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                            [form]="exportSettingForm"
                            [isFieldMandatory]="true"
                            [mandatoryErrorListName]="'how expenses to be grouped'"
                            [label]="'How should the expenses be grouped?'"
                            [subLabel]="'Expense can either be exported as single line items (Expense) or as a grouped report with multiple line items (Expense Report)'"
                            [options]="expenseGroupByOptions"
                            [iconPath]="'question-square-outline'"
                            [placeholder]="'Select expense grouping'"
                            [formControllerName]="'cccExportGroup'"
                            [appName]="appName"
                            [isDisabled]="exportSettingForm.get('cccExportType')?.value === BusinessCentralExportType.JOURNAL_ENTRY">
                        </app-configuration-select-field>
                    </div>
                    <div *ngIf="!exportSettingForm.get('reimbursableExpense')?.value" class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                            [form]="exportSettingForm"
                            [isFieldMandatory]="true"
                            [mandatoryErrorListName]="'Employees representation'"
                            [label]="'How are your Employees represented in Dynamics 365 Business Central?'"
                            [subLabel]="'Select how your employee are represented in Dynamics 365 Business Central. This would help to export the expenses to the correct record in Dynamics 365 Business Central.'"
                            [options]="employeeFieldMappingOptions"
                            [placeholder]="'Select representation'"
                            [iconPath]="'user-two'"
                            [formControllerName]="'reimbursableEmployeeMapping'">
                        </app-configuration-select-field>
                    </div>
                    <div *ngIf="exportSettingForm.get('cccExportType')?.value === BusinessCentralExportType.JOURNAL_ENTRY" class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                            [form]="exportSettingForm"
                            [isFieldMandatory]="true"
                            [mandatoryErrorListName]="'Employees representation'"
                            [label]="'Employees Name in Journal Entry?'"
                            [subLabel]="'Select What should be the employee Name in Dynamics 365 Business Central. This would help to export the expenses to the correct record in Dynamics 365 Business Central.'"
                            [options]="nameReferenceInCCC"
                            [placeholder]="'Select representation'"
                            [iconPath]="'user-two'"
                            [formControllerName]="'journalEntryNamePreference'">
                        </app-configuration-select-field>
                    </div>
                    <div *ngIf="exportSettingForm.get('cccExportType')?.value" class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                            [form]="exportSettingForm"
                            [isFieldMandatory]="true"
                            [mandatoryErrorListName]="'expense state'"
                            [label]="'At which state should the expenses be ready to export from ' + brandingConfig.brandName + '?'"
                            [subLabel]="'You can export expenses either when they\'re awaiting payment after approval (Approved) or when the payment has been settled (Closed).'"
                            [options]="cccExpenseState"
                            [iconPath]="'list'"
                            [placeholder]="'Select export state'"
                            [formControllerName]="'cccExpenseState'">
                        </app-configuration-select-field>
                    </div>
                    <div *ngIf="exportSettingForm.get('cccExportType')?.value" class="tw-mt-16-px tw-bg-white tw-border tw-border-solid tw-border-separator tw-rounded-12-px">
                        <app-configuration-select-field
                            [form]="exportSettingForm"
                            [isFieldMandatory]="true"
                            [mandatoryErrorListName]="'export date'"
                            [label]="'Set the date of the transaction as?'"
                            [subLabel]="'Expenses will be grouped and posted using the configured date when exporting from ' + brandingConfig.brandName + ' to Dynamics 365 Business Central.'"
                            [options]="getExportDate(cccExpenseGroupingDateOptions, 'cccExportGroup')"
                            [iconPath]="'calendar'"
                            [placeholder]="'Select date'"
                            [formControllerName]="'cccExportDate'">
                        </app-configuration-select-field>
                    </div>
                </div>
            </div>
        </div>
        <app-configuration-step-footer
            [ctaText] = "!isSaveInProgress ? (isOnboarding ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVE) : ConfigurationCtaText.SAVING"
            [showBackButton] = "isOnboarding"
            [isButtonDisabled]="!exportSettingForm.valid"
            (navigateToPreviousStep)="navigateBack()"
            (save)="save()">
        </app-configuration-step-footer>
    </form>
</div>
