<div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-screen">
    <app-loader></app-loader>
</div>
<div *ngIf="!isLoading" class="configuration--contents tw-border-separator tw-mt-6">
    <div>
        <app-configuration-step-header 
        [headerText]="'Import Settings'"
        [contentText]="'In this section, you can choose the fields required to be imported from Sage Intacct to Fyle.'"
        [redirectLink]="RedirectLink.INTACCT"
        [showSyncButton]="true"></app-configuration-step-header>
    </div>
    <form [formGroup]="importSettingsForm">
        <div class="tw-p-24-px">
            <div class="container">
                <div class="sub-text">
                    <h4 class="tw-text-16-px !tw-font-500 ">Import Sage Intacct Dimensions</h4>
                    <h5 class="!tw-text-faded-text-color tw-text-14-px tw-pt-10-px !tw-font-400 !tw-leading-4 tw-pb-4">The Sage Intacct dimensions listed below will be mapped to their corresponding Fyle Field as shown below. Importing these dimensions from Sage Intacct to Fyle will make the values available as a dropdown in the expense form for your employees to choose from. <a href="#" class="tw-text-hyperlink-color tw-cursor-pointer">Click here</a> to preview.</h5>
                    <div class="tw-pt-4 sub-text-note">
                        <img src="/assets/icons/info_filled.svg">
                        This is a default mapping and you will not be able to modify it.
                    </div>
                </div>
            </div>
        </div>
        <div class="fields-header" fxLayout="row" fxLayoutAlign="start center">
            <div class="fields-header-text tw-pl-48-px tw-w-450-px">Sage Intacct Dimensions</div>
            <div class="fields-header-text tw-w-30-vw">Fyle Fields</div>
            <div class="fields-header-text tw-flex tw-w-[10vw] tw-whitespace-nowrap">
                Import to Fyle
                <svg-icon-sprite src="info" width="20px" hight="20px" class="tw-text-faded-text-color"></svg-icon-sprite>
            </div>
        </div>
        <div class="tw-flex tw-pt-18-px">
            <div class="tw-pl-48-px">
                <input type="text" class="tw-text-14-px !tw-font-500 tw-w-300-px !tw-px-10-px !tw-py-8-px tw-border tw-border-solid !tw-border-separator tw-rounded-4-px" value="{{intacctCategoryDestination | snakeCaseToSpaceCase | titlecase}}" disabled>
            </div>
            <svg-icon-sprite src="arrow-line" height="10px" width="100px" class="!tw-ml-0 tw-pt-16-px tw-text-box-color"></svg-icon-sprite>
            <div class="tw-w-30-vw">
                <input type="text" class="tw-text-14-px !tw-font-500 tw-w-300-px !tw-px-10-px !tw-py-8-px tw-border tw-border-solid !tw-border-separator tw-rounded-4-px" value="Categories" disabled>
            </div>
            <div class="input-toggle-section tw-w-10-vw">
                <p-inputSwitch formControlName="importVendorAsMerchant"></p-inputSwitch>
            </div>
        </div>
        <div class="tw-flex tw-pt-18-px">
            <span class="tw-pl-48-px">
                <input type="text" class="tw-text-14-px !tw-font-500 tw-w-300-px !tw-px-10-px !tw-py-8-px tw-border tw-border-solid !tw-border-separator tw-rounded-4-px" value="Vendor" disabled>
            </span>
            <svg-icon-sprite src="arrow-line" height="10px" width="100px" class="!tw-ml-0 tw-pt-16-px tw-text-box-color"></svg-icon-sprite>
            <span class="tw-w-30-vw">
                <input type="text" class="tw-text-14-px !tw-font-500 tw-w-300-px !tw-px-10-px !tw-py-8-px tw-border tw-border-solid !tw-border-separator tw-rounded-4-px" value="Merchant" disabled>
            </span>
            <span class="input-toggle-section tw-w-10-vw">
                <p-inputSwitch formControlName="importCategories"></p-inputSwitch>
            </span>
        </div>
        <div class="tw-flex tw-pt-18-px" *ngIf="isImportTaxVisible">
            <span class="tw-pl-48-px">
                <input type="text" class="tw-text-14-px !tw-font-500 tw-w-300-px !tw-px-10-px !tw-py-8-px tw-border tw-border-solid !tw-border-separator tw-rounded-4-px" value="Tax Detail" disabled>
            </span>
            <svg-icon-sprite src="arrow-line" height="10px" width="100px" class="!tw-ml-0 tw-pt-16-px tw-text-box-color"></svg-icon-sprite>
            <span class="tw-w-30-vw">
                <input type="text" class="tw-text-14-px !tw-font-500 tw-w-300-px !tw-px-10-px !tw-py-8-px tw-border tw-border-solid !tw-border-separator tw-rounded-4-px" value="Tax Group" disabled>
            </span>
            <span class="input-toggle-section tw-w-10-vw">
                <p-inputSwitch formControlName="importTaxCodes"></p-inputSwitch>
            </span>
        </div>
        <div class="tw-flex tw-pt-18-px" *ngIf="importSettingsForm.value?.importTaxCodes && isImportTaxVisible">
            <p-dropdown appendTo="body" [options]="sageIntacctTaxGroup" optionLabel="value" class="tw-w-600-px" formControlName="sageIntacctTaxCodes" placeholder="Select Tax Group">
            </p-dropdown>
        </div>
        <div class="tw-p-22-px">
            <div class="container">
                <div class="sub-text">
                    <h4 class="tw-text-16-px !tw-font-500">Import / Map Sage Intacct Dimensions</h4>
                    <h5 class="!tw-text-faded-text-color tw-text-14-px tw-pt-10-px !tw-font-400 !tw-leading-4 tw-pb-4">The Sage Intacct dimensions listed below can be mapped to an existing Fyle field of your preference, or a new custom field. Importing these dimensions from Sage Intacct to Fyle will make the values available as a dropdown in the expense form for your employees to choose from.  <a href="#" class="tw-text-hyperlink-color tw-cursor-pointer">Click here</a> to preview.</h5>
                    <div class="tw-pt-4 sub-text-note">
                        <img src="/assets/icons/info_filled.svg">
                        If you'd like to use only selective data from Sage Intacct, map a Sage Intacct dimension to a field in Fyle and turn off the import, as importing the data will sync in all the active values in Sage Intacct. You can add the required values in Fyle and map them later in the integration mapping section.
                    </div>
                </div>
            </div>
            <div class="tw-p-22-px" formArrayName="expenseFields">
                <div class="tw-flex fields-header" fxLayout="row" fxLayoutAlign="start center">
                    <div class="fields-header-text tw-pl-4-px tw-w-404-px tw-whitespace-nowrap">Sage Intacct Dimensions</div>
                    <div class="fields-header-text tw-w-30-vw tw-whitespace-nowrap">Fyle Fields</div>
                    <div class="fields-header-text tw-flex tw-whitespace-nowrap">
                        Import to Fyle
                        <svg-icon-sprite src="info" width="20px" hight="20px" class="tw-text-faded-text-color"></svg-icon-sprite>
                    </div>
                </div>
                <div class="tw-pt-18-px" *ngFor="let expenseField of expenseFieldsGetter.controls; let i = index" [formGroupName]="i">
                    <div class="tw-flex">
                            <p-dropdown appendTo="body" [options]="sageIntacctFields" placeholder="Choose Sage Intacct field" formControlName="destination_field"
                            optionLabel="display_name" optionValue="attribute_type"></p-dropdown>
                            <svg-icon-sprite src="arrow-line" height="10px" width="100px" class="!tw-ml-0 tw-pt-16-px tw-text-box-color"></svg-icon-sprite>
                            <p-dropdown appendTo="body" [options]="fyleFields" [placeholder]="'Choose Fyle Expense field'" formControlName="source_field"
                            optionLabel="display_name" optionValue="attribute_type" class="tw-w-28-vw" [showClear]="true">
                                <ng-template let-option pTemplate="item">
                                <div [ngClass]="{'custom-option': option.attribute_type === 'custom_field'}">
                                    <svg-icon-sprite *ngIf="option.attribute_type === 'custom_field'" src="add" width="20px" height="20px" class="icon-align"></svg-icon-sprite>
                                    {{ option.display_name }}
                                </div>
                                </ng-template>
                                <ng-template pTemplate="selectedItem" let-item>
                                <div class="selected-item-container">
                                    {{ item.display_name }}
                                </div>
                                </ng-template>
                          </p-dropdown>                                                                             
                        <p-inputSwitch formControlName="import_to_fyle" class="tw-pl-32-px input-toggle-section"></p-inputSwitch>
                    </div>
                    <div class="tw-pt-4" *ngIf="i===0 && showCostCodeCostType" [formGroup]="importSettingsForm">
                        <input class="tw-ml-4" formControlName="isDependentImportEnabled" type="checkbox" />
                        <label class="tw-pl-2 tw-font-300" for="checkbox">Import Cost Code and Cost Type from Sage Intacct as dependent fields.</label>
                        <div class="tw-flex tw-pt-4" *ngIf="importSettingsForm.value.isDependentImportEnabled">
                            <div>
                                <input type="text" class="tw-text-14-px !tw-ml-40-px !tw-font-500 tw-w-260-px !tw-px-10-px !tw-py-8-px tw-border tw-border-solid !tw-border-separator tw-rounded-4-px" value="Cost Code" disabled>
                            </div>
                            <svg-icon-sprite src="arrow-line" height="10px" width="100px" class="!tw-ml-0 tw-pt-16-px tw-text-box-color"></svg-icon-sprite>
                            <p-dropdown appendTo="body" class="tw-w-28-vw" formControlName="costCodes" [options]="costCodeFieldOption" optionLabel="attribute_type" placeholder="Select Expense Field">
                                <ng-template let-option pTemplate="item">
                                    <div [ngClass]="{'custom-option': option.attribute_type === 'custom_field'}">
                                      <svg-icon-sprite *ngIf="option.attribute_type === 'custom_field'" src="add" width="20px" height="20px" class="icon-align"></svg-icon-sprite>
                                      {{ option.display_name }}
                                    </div>
                                  </ng-template>
                            </p-dropdown>
                            <p-inputSwitch class="tw-pl-32-px input-toggle-section" formControlName="dependentFieldImportToggle" [disabled]="true"></p-inputSwitch>
                        </div>
                        <div class="tw-flex tw-pt-4" *ngIf="importSettingsForm.value.isDependentImportEnabled">
                            <div>
                                <input type="text" class="tw-text-14-px !tw-ml-60-px !tw-font-500 tw-w-240-px !tw-px-10-px !tw-py-8-px tw-border tw-border-solid !tw-border-separator tw-rounded-4-px" value="Cost Type" disabled>
                            </div>
                            <svg-icon-sprite src="arrow-line" height="10px" width="100px" class="!tw-ml-0 tw-pt-16-px tw-text-box-color"></svg-icon-sprite>
                            <p-dropdown appendTo="body" class="tw-w-28-vw" formControlName="costTypes" [options]="costTypeFieldOption" optionLabel="attribute_type" placeholder="Select Expense Field">
                                <ng-template let-option pTemplate="item">
                                    <div [ngClass]="{'custom-option': option.attribute_type === 'custom_field'}">
                                      <svg-icon-sprite *ngIf="option.attribute_type === 'custom_field'" src="add" width="20px" height="20px" class="icon-align"></svg-icon-sprite>
                                      {{ option.display_name }}
                                    </div>
                                  </ng-template>
                            </p-dropdown>
                            <p-inputSwitch class="tw-pl-32-px input-toggle-section" formControlName="dependentFieldImportToggle" [disabled]="true"></p-inputSwitch>
                        </div>
                    </div>                      
                </div>
                <div class="tw-text-alert-toast tw-pt-4 tw-pl-1" *ngIf="importSettingsForm.get('expenseFields')?.hasError('duplicateFyleFields') || importSettingsForm.get('expenseFields')?.hasError('duplicateSageIntacctFields')">
                    *Fyle and Sage Intacct Fields should be unique.
                  </div>                  
            </div>
            <div *ngIf="showAddButton" class="add-button-container tw-pl-4">
                <svg-icon-sprite src="add" width="20px" height="20px" class="add-row-text" (click)="addExpenseField()"></svg-icon-sprite>
                <a class="add-row-text tw-pl-2" (click)="addExpenseField()">
                    Add more fields
                </a>
            </div>            
        </div>
        <div>
            <app-configuration-step-footer [ctaText] = "!saveInProgress ? (isOnboarding ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVE) : ConfigurationCtaText.SAVING" (save)="save()" [isButtonDisabled]="!importSettingsForm.valid"></app-configuration-step-footer>
        </div>
    </form>
</div>

<p-dialog *ngIf="showDialog" [dismissableMask]="true" [showHeader]="false" [modal]="true" [(visible)]="showDialog" [draggable]="false" [style]="{width: '468px'}">
    <div [formGroup]="customFieldForm">
        <div class="tw-p-24-px tw-border-b-1-px tw-border-b-box-color">
            <div class="tw-flex tw-justify-between tw-items-center">
                <p class="tw-text-slightly-normal-text-color tw-text-24-px tw-font-500">Add new Custom Field</p>
                <i class="pi pi-times tw-cursor-pointer" style="font-size: 12px" (click)="closeModel()"></i>
            </div>
        </div>
        <div class="tw-p-24-px">
            <p class="tw-pb-8-px tw-text-sub-text-color tw-text-14-px">
                Field Name <span class="tw-text-mandatory-field-color">*</span>
            </p>
            <input formControlName="attribute_type" type="text" class="tw-w-388-px tw-h-48-px" pInputText placeholder="Enter field type" [ngClass]="[customFieldForm.controls['attribute_type'].touched && !customFieldForm.controls['attribute_type'].valid && !customFieldForm.controls['attribute_type'].disabled ? 'error-box' : 'normal-box']" required/>
            <app-mandatory-error-message *ngIf="customFieldForm.controls['attribute_type'].touched && !customFieldForm.controls['attribute_type'].valid && !customFieldForm.controls['attribute_type'].disabled" [customErrorMessage]="'Enter a valid type'"></app-mandatory-error-message>

            <p class="tw-pt-16-px tw-text-sub-text-color tw-text-14-px tw-pb-8-px">
                Placeholder Name <span class="tw-text-mandatory-field-color">*</span>
            </p>
            <input formControlName="source_placeholder" type="text" class="tw-w-388-px tw-h-48-px" pInputText placeholder="Enter field name" [ngClass]="[customFieldForm.controls['source_placeholder'].touched && !customFieldForm.controls['source_placeholder'].valid && !customFieldForm.controls['source_placeholder'].disabled ? 'error-box' : 'normal-box']" required/>
            <app-mandatory-error-message *ngIf="customFieldForm.controls['source_placeholder'].touched && !customFieldForm.controls['source_placeholder'].valid && !customFieldForm.controls['source_placeholder'].disabled" [customErrorMessage]="'Enter a valid Name'"></app-mandatory-error-message>

            <div>
                <h5 class="tw-pt-16-px tw-text-sub-text-color tw-text-14-px tw-pb-8-px">
                  Field Type
                </h5>
                <div class="tw-w-388-px tw-h-48-px">
                  <input class="tw-w-388-px form-input-disabled" type="text" placeholder="Select Field" disabled>
                </div>
              </div>

              <div class="label-section tw-pt-8">
                <div class="label-content tw-w-388-px">
                  <h5 class="name-text sub-text-color">
                    {{customFieldForm.value.attribute_type ? customFieldForm.value.attribute_type : 'Label'}}
                  </h5>
                  <div class="form-field tw-pt-4-px">
                    <input class="form-input tw-w-320-px" type="text"
                    [placeholder]="customFieldForm.value.source_placeholder ? customFieldForm.value.source_placeholder : 'Enter Text'">
                  </div>
                </div>
              </div>              
            
            <div class="tw-flex tw-justify-end tw-pt-24-px ">
                <button type="button" class="cancel-btn" (click)="closeModel()">
                    Cancel
                </button>
                <button type="button" class="save-btn" pButton [disabled]="!customFieldForm.valid" (click)="saveCustomField()">
                    Add and Save
                </button>
            </div>
        </div>
    </div>
</p-dialog>