<div [formGroup]="csvImportForm" class="tw-border tw-border-separator tw-rounded-10-px">
    <!-- Header -->
    <div class="tw-border-b tw-border-separator tw-p-24-px tw-flex tw-gap-[16px]">
        @if (fieldNumber) {
            <div class="tw-bg-bg-primary tw-w-20-px tw-h-20-px tw-shrink-0 tw-rounded-4-px tw-flex tw-items-center tw-justify-center tw-text-white tw-font-[system-ui] tw-text-14-px tw-font-500">
                {{ fieldNumber }}
            </div>
        }

        <div class="tw-max-w-[664px]">
            <h3 class="tw-text-text-primary tw-text-16-px tw-font-500">
                {{ label }}
                @if (isMandatory) {
                    <app-mandatory-field></app-mandatory-field>
                }
            </h3>
            <h5 class="tw-text-text-tertiary tw-text-14-px tw-font-400 tw-pt-4-px">
                {{ subLabel }}
                <a (click)="null" class="link">{{ 'configurationCsvImportField.preview' | transloco }}</a>
                <span>{{ 'configurationCsvImportField.previewText' | transloco: { dimension: destinationField | snakeCaseToSpaceCase | lowercase } }}</span>
            </h5>
        </div>
    </div>

    <!-- Body -->
    <div class="tw-p-24-px tw-flex tw-flex-col tw-gap-[48px]">

        <div class="tw-flex tw-flex-col tw-gap-[8px]">
            <!-- Eg: Sage50 - Dimension | Fyle Field -->
            <div class="tw-flex tw-font-500 tw-text-14-px tw-text-text-primary">
                <div class="tw-w-400-px">
                    {{ appDisplayName }}{{ 'configurationCsvImportField.dimension' | transloco }}
                </div>
                <div>
                    {{ brandingConfig.brandName }}{{ 'configurationCsvImportField.field' | transloco }}
                </div>
            </div>
            <!-- Destination field -> Source field -->
            <div class="tw-flex">
                <div>
                    <input type="text" class="tw-text-14-px tw-text-text-secondary !tw-font-400 tw-w-300-px !tw-px-14-px !tw-py-10-px tw-border-input-disabled-border !tw-border-border-separator tw-rounded-4-px" [value]="dimension" disabled>
                </div>
                <div class="tw-pt-[17px]">
                    <app-svg-icon [isTextColorAllowed]="true" [svgSource]="'arrow-line'" [height]="'30px'" [width]="'100px'" [styleClasses]="'!tw-ml-0 tw-self-center tw-text-border-secondary'"></app-svg-icon>
                </div>
                <div class="tw-w-30-vw">
                    <input type="text" class="tw-text-14-px tw-text-text-secondary !tw-font-400 tw-w-300-px !tw-px-14-px !tw-py-10-px tw-border-input-disabled-border !tw-border-border-separator tw-rounded-4-px" [value]="sourceField | snakeCaseToSpaceCase | sentenceCase" disabled>
                </div>
            </div>
        </div>

        <!-- Additional Fields -->
        <ng-content select="[slot='additionalFields']"></ng-content>

        <!-- Import code: onboarding only -->
        @if (isOnboarding) {
            <app-configuration-select-field
                [form]="csvImportForm"
                [formControllerName]="'importCode'"
                [options]="importFormatOptions"
                [isMultiLineOption]="true"
                [label]="'configurationCsvImportField.importFormatLabel' | transloco"
                [subLabel]="'configurationCsvImportField.importFormatSubLabel' | transloco: { dimension: dimension | lowercase }"
                [iconPath]="'question-square-outline'"
                [isFieldMandatory]="true"
                [placeholder]="'configurationCsvImportField.importFormatPlaceholder' | transloco"
                [customClasses]="'!tw-p-0'"
                [isOneTimeField]="isOnboarding"
            ></app-configuration-select-field>
        }

        @if (csvImportForm.get('file')?.value) {
            <app-uploaded-file-details
                [file]="csvImportForm.get('file')?.value!"
                [dimension]="dimension"
                [isOnboarding]="isOnboarding"
                (reuploadClick)="handleUploadClick()"
            ></app-uploaded-file-details>
        }
    </div>
</div>