@tailwind base;
@tailwind components;
@tailwind utilities;

// Import all the themes here
@import 'assets/themes/co/c1dl.scss';
@import 'assets/themes/fyle/fdl.scss';

@font-face {
    font-family: "Optimist";
    src: url('./assets/fonts/Optimist.woff2') format('woff2');
}

// Sage UI font family
@font-face {
  font-family: sage-ui;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./assets/fonts/sage-ui-regular.otf') format("opentype")
}

@font-face {
  font-family: sage-ui;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./assets/fonts/sage-ui-medium.otf') format("opentype")
}

@font-face {
  font-family: sage-ui;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('./assets/fonts/sage-ui-bold.otf') format("opentype")
}



// Make all pages take up the full screen height
.page-layout-container,
app-netsuite-onboarding > *:not(router-outlet), app-netsuite-onboarding > *:not(router-outlet) > div,
app-intacct-onboarding > *:not(router-outlet) {
    @apply tw-h-full tw-flex tw-flex-col;
}

.router-outlet-container,
app-netsuite-onboarding > *:not(router-outlet) > *:not(app-onboarding-steppers),
app-intacct-onboarding > *:not(router-outlet) > *:not(app-onboarding-steppers) {
    @apply tw-flex-grow;
}

.link {
    @apply tw-text-link-primary tw-cursor-pointer;
}

[data-theme='fyle'] {

    /* ============= *\
    |* GLOBAL STYLES *|
    \* ============= */

    .link {
        @apply tw-underline;
    }

    // Focused borders
    .p-dropdown.p-inputwrapper-focus, .p-inputwrapper-focus > .p-multiselect,
    input[type="text"]:focus:not(.p-dropdown-filter-container > input):not(.custom-search-field > input):not(.p-chips-input-token > input):not(.p-multiselect-chip input):not(p-calendar input),
    .p-chips.p-focus>ul,
    input[type="password"]:focus,
    .custom-search-field-focus,
    input[type="checkbox"]:hover, input[type="checkbox"]:focus,
    .p-inputswitch.p-focus .p-inputswitch-slider {
        @apply tw-shadow-focused #{!important};
    }

    /* ========================= *\
    |* COMPONENT-SPECIFIC STYLES *|
    \* ========================= */

    // Dropdowns
    .p-dropdown {
        @apply tw-h-input-height #{!important};
    }

    .p-dropdown-trigger, .p-dropdown-trigger > *, .pi-chevron-down.fyle {
        content: url('./assets/icons/caret-large-down.svg') !important;
    }


    // Dropdown panel
    .p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight, .p-dropdown-panel .p-dropdown-items .p-dropdown-item .p-highlight .p-focus
    ,.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight:hover {
        @apply tw-text-dd-menu-item-default-text-color tw-bg-select-menu-item-active-bg tw-rounded-none tw-min-h-dropdown-option-height tw-flex tw-items-center tw-text-14-px #{!important};

        p {
            @apply tw-text-yin-065;
        }
    }

    .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight).p-focus {
        @apply tw-text-slightly-normal-text-color tw-bg-white tw-rounded-none tw-min-h-dropdown-option-height tw-flex tw-items-center tw-text-14-px #{!important};
    }

    .p-dropdown-panel .p-dropdown-items .p-dropdown-item:hover, .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight).p-focus:hover{
        @apply tw-bg-utility-major-100 tw-text-slightly-normal-text-color tw-rounded-none #{!important};
    }

    .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
        @apply tw-min-h-dropdown-option-height #{!important};
    }

    .p-dropdown-panel .p-dropdown-items .p-dropdown-item p {
        @apply tw-text-utility-major-400;
    }

    .p-dropdown-panel {
        @apply tw-translate-y-[7px] tw-shadow-base-shadow;
    }

    .p-dropdown-header {
        @apply tw-bg-white #{!important}
    }

    // Dropdown - Error state
    .error-box .p-dropdown {
        @apply tw-border-2 #{!important};
    }

    .mandatory-error-message {
        @apply tw-text-text-danger-dark tw-text-14-px #{!important};
    }


    // Text inputs
    input[type="text"]:not(.p-chips-input-token > input):not(p-calendar input):not(.custom-search-field > input), input[type="password"] {
        @apply tw-h-input-height tw-border tw-border-utility-major-300 tw-text-14-px #{!important};
    }

    input[type="text"]:not(.p-dropdown-filter-container > input):not(.custom-search-field > input):not(.p-chips-input-token > input):not(.p-multiselect-chip input):not(p-calendar input) {
        @apply tw-px-14-px #{!important};
    }

    input[type="text"]:not(.p-chips-input-token > input):disabled, input[type="password"]:disabled {
        @apply tw-bg-input-disabled-bg tw-border-input-disabled-border #{!important};
    }

    // Text inputs - Error state
    input[type="text"].error-box, input[type="password"].error-box {
        @apply tw-border-border-danger-dark #{!important};
    }


    // Checkboxes - QBD Prerequisites
    .p-button:enabled:hover {
        @apply tw-shadow-none #{!important};
    }

    .p-button:enabled input[type="checkbox"] {
        @apply tw-rounded-full #{!important};
    }

    // All other checkboxes
    input[type="checkbox"] {
        @apply tw-appearance-none tw-w-16-px tw-h-16-px tw-inline-flex tw-content-center tw-justify-center tw-p-[1px] tw-border-1-px tw-border-utility-major-300 tw-rounded-[2px] tw-relative #{!important};
    }

    input[type="checkbox"]:checked::after {
        content: url('./assets/icons/carbon-tick.svg');
        @apply tw-absolute tw-top-[-4px];
    }

    // Dialogs
    .p-dialog {
        @apply tw-rounded-2xl tw-overflow-hidden #{!important};
    }

    .p-dialog .p-dialog-content {
        @apply tw-p-0;
    }

    // Drawer dialogs - only left corners are rounded since drawers open from the right
    .p-dialog-top-right {
        .p-dialog, .p-dialog-header, .p-dialog-content {
            @apply tw-rounded-r-none #{!important};
        }
    }

    // Tables
    .p-datatable .p-datatable-thead > tr > th {
        @apply tw-py-0 tw-h-40-px tw-bg-bg-brand #{!important};
    }
}

[data-theme='co'] {
    // Dropdowns
    .p-dropdown.p-focus {
        @apply tw-shadow-none tw-border-select-focused-border #{!important};
    }

    .p-dropdown:hover {
        @apply tw-shadow-none #{!important};
    }

    .p-dropdown-trigger {
        content: url('./assets/icons/co/grv-chevron-down.svg') !important;
    }

    .p-dropdown-panel .p-dropdown-items .p-dropdown-item p {
        @apply tw-text-text-muted;
    }

    // Dropdowns - Error state
    .mandatory-error-message {
        @apply tw-text-form-error-help-text-color tw-text-12-px #{!important};
    }


    // Checkboxes - C1 QBD checkboxes
    .checkedText {
        @apply tw-w-[95px] tw-border tw-rounded-sm tw-border-btn-outline-secondary-border-color #{!important};
    }

    .unCheckedText {
        @apply tw-w-[148px] tw-border tw-rounded-sm tw-border-btn-outline-secondary-border-color #{!important};
    }

    // Multiselects
    .p-multiselect:not(.p-disabled).p-focus {
        @apply tw-shadow-none #{!important};
    }

    // Dialogs
    .p-dialog {
        @apply tw-rounded-border-radius-2xs tw-overflow-hidden #{!important};
    }

    .p-dialog .p-dialog-header {
        @apply tw-rounded-t-border-radius-2xs tw-rounded-b-none #{!important};
    }

    .p-dialog .p-dialog-content {
        @apply tw-p-0 tw-rounded-none #{!important};
    }

    .p-dialog .p-dialog-footer {
        @apply tw-rounded-b-border-radius-2xs tw-rounded-t-none #{!important};
    }

    .p-dialog:not(:has(.p-dialog-header)) .p-dialog-content {
        @apply tw-rounded-t-border-radius-2xs tw-rounded-b-none #{!important};
    }

    .p-dialog:not(:has(.p-dialog-footer)) .p-dialog-content {
        @apply tw-rounded-b-border-radius-2xs tw-rounded-t-none #{!important};
    }

    .p-dialog:not(:has(.p-dialog-header)):not(:has(.p-dialog-footer)) .p-dialog-content {
        @apply tw-rounded-border-radius-2xs #{!important};
    }
}

html,
body {
    @apply tw-h-[100%] tw-leading-app;
    -webkit-font-smoothing: var(--font-smoothing) !important;
}

body {
    @apply tw-m-0-px tw-text-normal-text-color tw-font-primary tw-text-16-px tw-bg-bg-brand;
}

p {
    @apply tw-m-0-px;
}

.pi-times.fyle.qbd{
    content: url('./assets/icons/cross.svg') !important;
}

.pi-times.fyle {
    content: url('./assets/icons/cross-medium.svg') !important;
}

.pi-times.co {
    content: url('./assets/icons/co/grv-close-medium.svg') !important;
}

[data-theme='fyle'] {
    .pi-times-circle {
        content: url('./assets/icons/cross-xs-small.svg') !important;
    }

    .pi-search {
        content: url('./assets/icons/search-medium.svg') !important ;
    }

    .p-checkbox .p-checkbox-box .p-icon {
        content: url('./assets/icons/check.svg') !important;
    }

    .main-menu-tabs {
      @apply tw-pt-2;
    }

    .main-menu-tab-btns {
      @apply tw-pb-2;
    }
}

[data-theme='co'] {
    .pi-times-circle {
        content: url('./assets/icons/co/grv-cross-encircled-xs-small.svg') !important;
    }

    .pi-search {
        content: url('./assets/icons/co/grv-search-medium.svg') !important;
    }

    .p-checkbox .p-checkbox-box .p-icon, .pi-check {
        content: url('./assets/icons/co/grv-checkmark-small.svg') !important;
    }
}

[data-theme='co'] {
    .pi-chevron-down {
        content: url('./assets/icons/co/grv-chevron-down.svg') !important;
    }
}

.pi-chevron-down.co {
    content: url('./assets/icons/co/grv-chevron-down.svg') !important;
}

.pi-eye.fyle {
    content: url('./assets/icons/eye.svg') !important;
}

.pi-eye.co {
    top: 16px !important;
    content: url('./assets/icons/co/grv-show.svg') !important;
}

.pi-eye-slash.fyle {
    content: url('./assets/icons/eye-slash.svg') !important;
}

.pi-eye-slash.co {
    top: 16px !important;
    content: url('./assets/icons/co/grv-show-hide.svg') !important;
}

.pi-times:before {
    @apply tw-text-placeholder tw-text-12-px #{!important}
}

.p-component {
    @apply tw-font-primary #{!important};
}

// Button CTA
.p-button {
    @apply tw-w-[100%] tw-text-14-px tw-text-btn-primary-text-color tw-shadow-none tw-border-none tw-bg-btn-primary-bg tw-px-16-px tw-py-10-px #{!important};
}

.p-button.p-button-raised {
    @apply tw-justify-center #{!important};
}

.p-button-label {
    @apply tw-flex-none #{!important};
}

.p-button:enabled:hover {
    @apply tw-text-btn-primary-hover-text-color tw-bg-btn-primary-hover-bg tw-shadow-btn-cta-shadow #{!important};
}

.p-button.p-disabled {
    @apply tw-cursor-no-drop tw-text-btn-primary-disable-text-color tw-bg-bg-brand-disable #{!important};
}

.p-button.secondary-sm {
    @apply tw-px-12-px tw-py-8-px tw-text-12-px tw-text-btn-secondary-text-color tw-bg-btn-secondary-bg #{!important};
}

.p-button:enabled:hover.secondary-sm {
    @apply tw-px-12-px tw-py-8-px tw-text-12-px tw-text-btn-secondary-hover-text-color tw-bg-btn-secondary-hover-bg tw-shadow-btn-cta-shadow #{!important};
}

.p-button.outline-sm {
    @apply tw-px-12-px tw-py-8-px tw-text-12-px tw-text-btn-outline-secondary-text-color tw-bg-btn-outline-secondary-bg tw-border-solid tw-border-btn-outline-secondary-border-color tw-border #{!important};
}

.p-button.danger-outline {
    @apply tw-px-16-px tw-py-10-px tw-text-14-px tw-text-text-danger tw-bg-btn-outline-secondary-bg tw-border-solid tw-border-btn-outline-secondary-border-color #{!important};
}

.p-button:enabled:hover.danger-outline {
    @apply tw-px-16-px tw-py-10-px tw-text-14-px tw-text-text-danger tw-bg-btn-outline-secondary-bg tw-border-solid tw-border-btn-outline-secondary-border-color #{!important};
}

.p-button:enabled:hover.outline-sm {
    @apply tw-px-12-px tw-py-8-px tw-text-12-px tw-text-btn-outline-secondary-hover-text-color tw-bg-btn-outline-secondary-hover-bg tw-border-solid tw-border-btn-outline-secondary-hover-border-color tw-shadow-btn-cta-shadow #{!important};
}

.p-button.primary-outline {
    @apply tw-font-nav-link-font-weight tw-px-16-px tw-py-10-px tw-text-14-px tw-text-btn-outline-primary-text-color tw-bg-btn-outline-primary-bg tw-border tw-border-solid tw-border-btn-outline-primary-border-color #{!important};
}

.primary-outline:hover {
    @apply tw-font-nav-link-font-weight tw-px-16-px tw-py-10-px tw-text-14-px tw-text-btn-outline-primary-hover-text-color tw-bg-btn-outline-primary-hover-bg tw-border-solid tw-border-btn-outline-primary-hover-border-color #{!important};
}

.btn-text-primary {
    @apply tw-cursor-pointer tw-text-btn-tertiary-text-color tw-text-14-px;
}

.btn-text-primary:hover {
    @apply tw-text-btn-tertiary-hover-text-color tw-bg-btn-tertiary-hover-bg tw-rounded-4-px;
}

.p-dialog-header-close-icon {
    @apply tw-mt-[-3px] tw-w-12-px tw-h-12-px #{!important} ;
}

.p-dialog .p-dialog-header .p-dialog-header-icons .p-button, .p-dialog .p-dialog-header .p-dialog-header-icons .p-button:enabled:hover {
    @apply tw-bg-none tw-text-placeholder tw-shadow-none tw-bg-white tw-p-8-px #{!important};
}

.p-dialog-top-right .p-dialog {
    margin: .75rem !important;
    transform: translateZ(0) !important;
}

.p-dialog .p-dialog-header .p-dialog-title {
    @apply tw-text-20-px tw-font-500 #{!important};
}

// Input text
.p-inputtext {
    @apply tw-font-primary tw-text-14-px tw-border-box-color #{!important};
}

.p-inputtext:enabled:focus-visible {
    @apply tw-shadow-none #{!important};
}

// Tooltip
.p-tooltip .p-tooltip-text {
    @apply tw-bg-tooltip-bg tw-text-white tw-text-12-px tw-py-6-px tw-px-8-px tw-h-auto tw-break-words tw-whitespace-normal tw-overflow-visible tw-font-400 tw-rounded-4-px #{!important}
}

[data-theme='fyle'] {
  .p-tooltip .p-tooltip-text{
    @apply tw-py-8-px tw-px-12-px tw-text-14-px #{!important}
  }
}

.p-tooltip.p-tooltip-right .p-tooltip-arrow {
    @apply tw-border-r-tooltip-bg #{!important};
}

.p-tooltip.p-tooltip-left .p-tooltip-arrow {
    @apply tw-border-l-tooltip-bg #{!important};
}

.p-tooltip.p-tooltip-top .p-tooltip-arrow {
    @apply tw-border-t-tooltip-bg #{!important};
}

.p-tooltip.p-tooltip-bottom {
    margin-top: 4px;
}

.p-tooltip.p-tooltip-bottom .p-tooltip-arrow {
    border: 2px solid transparent !important;
    margin-top: -2px !important;
    @apply tw-border-b-tooltip-bg #{!important};
}

// Toggle
.p-inputswitch {
    @apply tw-h-20-px tw-w-50-px #{!important};
}

.p-inputswitch .p-inputswitch-slider:before {
    @apply tw-bg-toggle-disabled-text-color tw-mt-[-0.425rem] tw-w-14-px tw-h-14-px #{!important};
}

[data-theme='co'] {
    .p-inputswitch .p-inputswitch-slider:before {
        @apply tw-w-18-px tw-h-18-px tw-left-0 tw-mt-[-0.55rem] tw-ml-2-px #{!important};
    }
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
    @apply tw-bg-toggle-enabled-text-color tw-translate-x-toggle-circle-translate #{!important};
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    @apply tw-bg-toggle-enabled-bg tw-w-toggle-width tw-h-toggle-height #{!important};
}

.p-inputswitch .p-inputswitch-slider {
    @apply tw-bg-toggle-disabled-bg tw-border-toggle-border tw-border-solid tw-border-toggle-border-width tw-w-toggle-width tw-h-toggle-height #{!important};
}

.p-inputswitch.p-focus .p-inputswitch-slider {
    @apply tw-shadow-none #{!important};
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider::after {
    @apply tw-content-toggle-text-yes tw-flex tw-justify-center tw-items-center tw-absolute tw-text-10-px tw-text-white tw-font-500 tw-left-8-px tw-bottom-[-1] tw-leading-[18.5px] #{!important};
}

.p-inputswitch:not(.p-inputswitch-checked) .p-inputswitch-slider::after {
    @apply tw-text-10-px tw-content-toggle-text-no tw-flex tw-justify-center tw-items-center tw-absolute tw-text-toggle-disabled-text-color tw-font-500 tw-left-24-px tw-bottom-0 tw-leading-[18.5px] #{!important};
}


// Radio Button
[data-theme='fyle'] {
    .p-radiobutton {
        @apply tw-w-fit tw-h-19-px #{!important};
    }

    .p-radiobutton .p-radiobutton-box {
        @apply tw-w-16-px tw-h-16-px tw-border-1-px tw-border-utility-major-300 #{!important};
    }

    .p-radiobutton .p-radiobutton-box.p-highlight,
    .p-radiobutton .p-radiobutton-box.p-highlight:hover {
        @apply tw-shadow-none tw-border-utility-major-300 tw-bg-white #{!important};
    }

    .p-radiobutton .p-radiobutton-box.p-focus,
    .p-radiobutton .p-radiobutton-box.p-highlight:hover {
        @apply tw-ring-2 tw-ring-black tw-border-2-px tw-border-border-focus #{!important};
    }

    .p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
        @apply tw-w-8-px tw-h-8-px tw-bg-yin-090 #{!important};
    }
}

[data-theme='co'] {
    .p-radiobutton {
        @apply tw-w-fit tw-h-19-px #{!important};
    }

    .p-radiobutton .p-radiobutton-box {
        @apply tw-w-16-px tw-h-16-px tw-border #{!important};
    }

    .p-radiobutton .p-radiobutton-box:hover {
        @apply tw-border-slightly-normal-text-color #{!important};
    }

    .p-radiobutton .p-radiobutton-box.p-highlight,
    .p-radiobutton .p-radiobutton-box.p-highlight:hover {
        @apply tw-shadow-none tw-border-slightly-normal-text-color tw-bg-white #{!important};
    }

    .p-radiobutton .p-radiobutton-box .p-radiobutton-icon {
        @apply tw-w-10-px tw-h-10-px tw-bg-slightly-normal-text-color #{!important};
    }
}

// Dropdown
.p-dropdown {
    @apply tw-h-40-px lg:tw-w-300-px md:tw-w-260-px tw-scale-[1] tw-border tw-border-select-default-border tw-py-8-px tw-px-12-px tw-rounded-4-px #{!important};
}

.p-dropdown:disabled {
    @apply tw-text-14-px tw-text-slightly-normal-text-color tw-bg-dd-menu-item-hover-bg tw-border tw-border-select-disabled-border #{!important};
}

.p-dropdown .p-dropdown-label {
    &.p-inputtext {
        @apply tw-px-3 tw-py-2 #{!important};
    }
}

.p-dropdown .p-dropdown-label.p-inputtext {
    @apply tw-p-0 tw-flex tw-items-center tw-justify-between tw-text-select-default-text #{!important};
}

.p-dropdown-panel .p-dropdown-items {
    @apply tw-mt-1-px tw-px-0 tw-pt-4-px tw-pb-5-px tw-border tw-border-box-color tw-rounded-b-8-px tw-border-none #{!important};
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    @apply tw-text-14-px tw-text-dd-menu-item-default-text-color tw-rounded-4-px #{!important};
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight, .p-dropdown-panel .p-dropdown-items .p-dropdown-item .p-highlight .p-focus
,.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight:hover {
    @apply tw-text-mandatory-field-color tw-bg-dd-menu-item-hover-bg tw-rounded-none tw-min-h-dropdown-option-height tw-flex tw-items-center tw-py-8-px tw-pl-12-px tw-text-14-px #{!important};
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight).p-focus {
    @apply tw-text-slightly-normal-text-color tw-bg-white tw-rounded-none tw-min-h-dropdown-option-height tw-flex tw-items-center tw-py-8-px tw-px-12-px tw-text-14-px #{!important};
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item:hover, .p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight).p-focus:hover{
    @apply tw-bg-dd-menu-item-hover-bg tw-text-slightly-normal-text-color tw-rounded-none #{!important};
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    @apply tw-min-h-dropdown-option-height tw-flex tw-items-center tw-py-8-px tw-pl-14-px tw-text-14-px tw-rounded-none #{!important};
}

.p-dropdown .p-dropdown-trigger {
    @apply tw-w-18-px #{!important};
}

.p-dropdown-panel .p-dropdown-header {
    @apply tw-p-6-px #{!important};
}

.p-dropdown-header {
    @apply tw-bg-bg-tertiary tw-p-6-px #{!important}
}

.p-multiselect {
    @apply tw-h-input-height tw-flex tw-items-center lg:tw-w-300-px md:tw-w-260-px tw-border tw-border-solid tw-border-select-default-border tw-rounded-4-px tw-pr-20-px #{!important};
}

.p-multiselect .p-multiselect-trigger {
    @apply tw-w-12-px #{!important};
}

.p-multiselect .p-multiselect-label {
    @apply tw-text-select-focused-text tw-text-14-px tw-p-0 #{!important};
}

.p-multiselect.p-focus:not(.p-disabled) {
    @apply tw-border-select-focused-border #{!important};
}

.p-multiselect-panel .p-multiselect-header .p-checkbox {
    @apply tw-hidden;
}

.p-multiselect-panel .p-multiselect-header,
.p-multiselect-panel .p-multiselect-items {
    @apply tw-p-0 #{!important};
}

.p-multiselect-panel .p-multiselect-header {
    @apply tw-border-none #{!important};
}

.p-multiselect-filter-container {
    @apply tw-hidden;
}

.p-multiselect-close {
    @apply tw-hidden #{!important};
}

.p-multiselect-panel {
    @apply tw-w-300-px;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
    @apply tw-min-h-dropdown-option-height tw-py-6-px tw-px-12-px #{!important};
}

.p-dropdown .p-dropdown-label.p-placeholder {
    @apply tw-text-select-default-placeholder-text #{!important};
}

.p-multiselect .p-multiselect-label.p-placeholder {
    @apply tw-text-select-focused-placeholder-text #{!important};
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item {
    @apply tw-text-14-px tw-text-dd-menu-item-default-text-color tw-px-12-px tw-py-6-px #{!important};
}

.p-checkbox {
    @apply tw-h-[revert] tw-w-[revert] #{!important};
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item .p-checkbox {
    @apply tw-mb-0 #{!important};
}

.p-checkbox .p-checkbox-box {
    @apply tw-h-16-px tw-w-16-px tw-rounded-5-px tw-transition-none tw-border-[1.5px] tw-border-checkbox-icon-color #{!important};
}

.p-checkbox .p-checkbox-box .p-icon {
    @apply tw-w-[9px] tw-text-white #{!important};
}

.p-checkbox-box {
    @apply tw-border-[1.5px] #{!important};
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight, .p-multiselect-panel .p-multiselect-items .p-multiselect-item:not(.p-highlight):not(.p-disabled).p-focus {
    @apply tw-text-14-px tw-text-dd-menu-item-default-text-color tw-bg-white tw-rounded-4-px #{!important};
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item:not(.p-highlight):not(.p-disabled):hover {
    @apply tw-shadow-none tw-bg-dd-menu-item-hover-bg #{!important};
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item:focus {
    @apply tw-shadow-none tw-bg-dd-menu-item-hover-bg #{!important};
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-item:hover {
    @apply tw-shadow-none tw-bg-dd-menu-item-hover-bg tw-rounded-none #{!important};
}

.p-checkbox .p-checkbox-box.p-highlight {
    @apply tw-bg-checkbox-icon-selected-color tw-border-none #{!important};
}

.pi-check:before {
    @apply tw-font-700 tw-text-9-px tw-w-[9-px] tw-h-14-px #{!important};
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    @apply tw-border-sub-text-color #{!important};
}

.p-multiselect-panel .p-multiselect-items .p-multiselect-empty-message {
    @apply tw-py-24-px tw-flex tw-justify-center tw-text-slightly-normal-text-color tw-text-14-px tw-italic #{!important};
}

@mixin spinner($height, $width, $animation) {
    &.p-progress-spinner {
        @apply tw-h-#{$height} tw-w-#{$width};
    }

    .p-progress-spinner-circle {
        @apply tw-animate-#{$animation} #{!important};
    }
}

.spinner-16 {
    @include spinner('16-px', '16-px', 'progress-spinner');
}

.spinner-16-white {
    @include spinner('16-px', '16-px', 'progress-spinner-cta');
}

.spinner-default {
    @include spinner('100-px', '100-px', 'progress-spinner');
}

.spinner-30 {
    @include spinner('30-px', '30-px', 'progress-spinner');
}

.p-skeleton {
    @apply tw-bg-disabled-bg-color #{!important};
}

[data-theme='fyle'] {
.p-toast {
    @apply tw-opacity-100 #{!important}
}

.p-toast .p-toast-message.p-toast-message-success {
    @apply tw-outline tw-outline-1 tw-rounded-8-px #{!important};
}

.p-toast .p-toast-message.p-toast-message-error {
    @apply tw-outline tw-outline-1 tw-rounded-8-px #{!important};
}

.p-toast .p-toast-message.p-toast-message-info {
    @apply tw-outline tw-outline-1 tw-rounded-8-px #{!important};
}

.p-toast .p-toast-message .p-toast-message-content {
    @apply tw-rounded-8-px tw-p-0 tw-text-white #{!important};
}

.p-toast .p-toast-message .p-toast-icon-close {
    @apply tw-hidden #{!important};
}

.p-toast-icon-close-icon {
    @apply tw-hidden #{!important};
}

.p-toast-message-content {
    @apply tw-block #{!important};
}

}

[data-theme='co'] {
.p-toast {
    @apply tw-opacity-100 #{!important}
}

.p-toast .p-toast-message.p-toast-message-success {
    @apply tw-border-none #{!important};
}

.p-toast .p-toast-message.p-toast-message-error {
    @apply tw-border-none #{!important};
}

.p-toast .p-toast-message.p-toast-message-info {
    @apply tw-border-none #{!important};
}

.p-toast .p-toast-message .p-toast-message-content {
    @apply tw-border-0 tw-p-0 tw-text-white #{!important};
}

.p-toast .p-toast-message .p-toast-icon-close {
    @apply tw-hidden #{!important};
}

.p-toast-icon-close-icon {
    @apply tw-hidden #{!important};
}

.p-toast-message-content {
    @apply tw-block #{!important};
}

}


.p-datatable .p-datatable-thead>tr>th {
    @apply tw-text-lv-table-header-text-color tw-text-12-px tw-font-nav-link-font-weight tw-py-12-px tw-px-24-px tw-border tw-border-lv-table-header-border-color tw-bg-lv-table-default-bg tw-border-l-0 #{!important}
}

.p-datatable .p-datatable-thead>tr>th:last-child {
    @apply tw-border-r-0 #{!important};
}

.p-datatable .p-datatable-tbody>tr>td {
    @apply tw-text-text-secondary tw-text-14-px tw-py-14-px tw-px-22-px tw-border-t tw-border-b-0 tw-border-t-lv-table-border-color #{!important};
}

.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year,
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
    @apply tw-text-16-px tw-font-700 tw-text-text-primary #{!important};
}

.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year,
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month:hover {
    @apply tw-text-calendar-header-text-color #{!important};
}

.p-datepicker .p-datepicker-header .p-datepicker-title {
    @apply tw-text-12-px tw-font-primary tw-text-calendar-header-text-color #{!important};
}

.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
    @apply tw-pr-6-px #{!important};
}

.p-datepicker .p-datepicker-header {
    @apply tw-p-0 #{!important};
}

.p-datepicker table th {
    @apply tw-text-14-px tw-text-calendar-day-text-color tw-p-0 tw-py-4-px #{!important};

    [data-theme='fyle'] & {
      @apply tw-text-utility-major-300 #{!important};
    }
}

.p-datepicker table td {
    @apply tw-p-0 tw-pb-4-px #{!important};
}

.p-datepicker table td>span {
    @apply tw-text-14-px tw-text-calendar-date-default-text-color tw-h-28-px tw-w-28-px #{!important};

    [data-theme='fyle'] & {
      @apply tw-text-text-primary #{!important};
    }
}

.p-datepicker table td > span:focus {
    @apply tw-relative tw-ring-2-px tw-ring-black tw-ring tw-border-2-px tw-border-border-focus #{!important};
}

.p-datepicker {
    @apply tw-p-16-px #{!important};
}

.configuration {
    &--section {
        @apply tw-pb-100-px;
    }

    &--contents {
        @apply tw-overflow-hidden tw-border tw-border-border-tertiary tw-box-border tw-bg-white tw-rounded-8-px tw-mb-0-px #{!important};
    }
}

.mapped {
    @apply tw-text-12-px tw-font-nav-link-font-weight tw-rounded-full tw-border tw-border-solid tw-border-border-success-light tw-bg-bg-success-light tw-py-4-px tw-px-10-px tw-text-text-success tw-w-fit #{!important}
}

.unmapped {
    @apply tw-text-12-px tw-font-nav-link-font-weight tw-rounded-full tw-border tw-border-solid tw-border-border-danger-light tw-bg-bg-danger-light tw-py-4-px tw-px-10-px tw-text-text-danger tw-w-fit #{!important}
}

.p-calendar .p-inputtext {
    @apply tw-p-0 tw-bg-white tw-border-none tw-cursor-pointer tw-transition-none #{!important};
}

.p-calendar:not(.p-calendar-disabled).p-focus > .p-inputtext {
    @apply tw-shadow-none #{!important};
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item:not(.p-highlight):hover .p-calendar .p-inputtext,
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight .p-calendar .p-inputtext {
    @apply tw-bg-input-read-only-bg #{!important};
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-empty-message {
    @apply tw-text-dd-menu-item-default-text-color tw-py-6-px tw-px-12-px tw-text-14-px #{!important};
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item-group {
    @apply tw-px-12-px tw-py-8-px;
}

.p-dropdown-panel .p-element[aria-label=\[divider\]] {
    @apply tw-py-4-px tw-min-h-0 #{!important};
}

.p-calendar ::placeholder {
    @apply tw-text-sub-text-color #{!important};
}

.p-monthpicker-month {
    @apply tw-w-[25%] #{!important};
}

.p-datepicker .p-monthpicker .p-monthpicker-month {
    @apply tw-p-0 tw-mt-10-px tw-text-14-px tw-text-calendar-month-text-color tw-h-32-px #{!important};
}

.p-datepicker .p-yearpicker .p-yearpicker-year {
    @apply tw-p-0 tw-mt-10-px tw-h-32-px tw-text-14-px #{!important};
}

.p-yearpicker-year {
    @apply tw-w-[25%] #{!important};
}

.p-datepicker:not(.p-disabled) .p-monthpicker .p-monthpicker-month:not(.p-disabled):focus {
    @apply tw-shadow-none #{!important};
}

.p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):hover {
    @apply tw-bg-calendar-month-hover-bg #{!important};
}

.p-datepicker:not(.p-disabled) .p-yearpicker .p-yearpicker-year:not(.p-disabled):focus {
    @apply tw-shadow-none #{!important};
}

.p-datepicker .p-datepicker-header .p-datepicker-prev:focus,
.p-datepicker .p-datepicker-header .p-datepicker-next:focus {
    @apply tw-shadow-none #{!important};
}

.p-datepicker table td>span.p-highlight {
    @apply tw-text-white tw-bg-mandatory-field-color #{!important};
}

.p-datepicker table td>span:focus {
    @apply tw-shadow-none #{!important};
}

.p-datepicker table th {
    @apply tw-text-center #{!important};
}

.p-datepicker-touch-ui,
.p-calendar .p-datepicker-touch-ui {
    @apply tw-min-w-fit tw-absolute tw-top-36-px tw-left-[-12px] tw-transform-none #{!important};
}

.p-dropdown-filter {
    @apply tw-h-32-px;
}

.p-dropdown-filter {
    @apply tw-pl-40-px tw-pr-12-px tw-py-12-px tw-rounded-4-px tw-border tw-border-border-primary #{!important}
}

.p-inputtext:enabled:focus {
    @apply tw-border-border-primary #{!important};
}

.p-dropdown-filter-icon {
    @apply tw-left-[10px] tw-text-search-focused-search-icon #{!important};
}



.p-chips .p-chips-multiple-container .p-chips-token {
    @apply tw-bg-white tw-px-8-px tw-py-2-px tw-rounded-full tw-border-chips-border-color tw-shadow-none #{!important};
}

.p-chips .p-chips-multiple-container:not(.p-disabled) {
    @apply tw-border tw-border-select-default-border tw-pl-14-px tw-pr-12-px #{!important};
}

.p-inputtext .p-chips-multiple-container:enabled:focus, .p-chips:not(.p-disabled).p-focus .p-chips-multiple-container {
    @apply tw-border tw-border-select-focused-border #{!important};
}

.input1 .p-focus {
    @apply tw-shadow-none tw-border tw-border-select-focused-border tw-rounded-8-px #{!important};
}

.preview-text {
    @apply tw-text-14-px tw-font-400 tw-text-text-muted tw-pb-24-px tw-pl-62-px tw-pr-24-px tw-pt-0 #{!important};
}

.preview-box {
    @apply tw-text-input-read-only-text tw-p-10-px tw-bg-input-read-only-bg tw-border tw-border-input-read-only-border tw-rounded-4-px #{!important};
}

.landing {
    &--active-tag {
        @apply tw-bg-slightly-normal-text-color tw-h-2-px tw-w-[100%] tw-rounded-tr-4-px tw-rounded-tl-4-px;
    }

    &--tab {
        @apply tw-mt-20-px tw-flex tw-flex-col tw-justify-between tw-items-center tw-h-36-px tw-cursor-pointer;
    }

    &--divider {
        @apply tw-h-1-px tw-w-[100%] tw-bg-separator;
    }

    &--section-divider {
        @extend .landing--divider;
        @apply tw-my-40-px;
    }

    &--accounting-app {
        @apply tw-flex tw-flex-col tw-w-20-vw tw-h-168-px tw-items-center tw-justify-center tw-cursor-pointer tw-rounded-8-px tw-border-1-px tw-bg-white tw-border-none;
    }

    &--accounting-app-name {
        @apply tw-pt-22-px tw-text-14-px tw-flex tw-text-text-secondary;
    }

    &--accounting-app-open {
        @apply tw-pl-6-px tw-pt-3-px tw-text-slightly-normal-text-color;
    }

    &--section-heading {
        @apply tw-text-18-px tw-pb-8-px tw-text-text-secondary;
    }

    &--section-caption {
        @apply tw-text-text-tertiary tw-text-14-px tw-pb-24-px;
    }

    &--other-integrations {
        @apply tw-grid tw-grid-cols-3 tw-mt-50-px;
    }

    &--other-integration-app {
        @apply tw-flex tw-items-center tw-justify-center;
    }
}

::-webkit-scrollbar {
    @apply tw-w-8-px tw-h-8-px tw-rounded-99-px;
}

::-webkit-scrollbar-track {
    @apply tw-bg-[#eaeaea] tw-rounded-99-px;
}

::-webkit-scrollbar-thumb {
    @apply tw-bg-[#ccc] tw-rounded-99-px;
}

::-webkit-scrollbar-thumb:hover {
    @apply tw-bg-[#aaa] tw-rounded-99-px;
}
