@tailwind base;
@tailwind components;
@tailwind utilities;

// CSS Layer ordering for proper cascade control
@layer reset, primeng, tailwind-components, tailwind-utilities, brand-overrides;

// Import all the themes here
@import 'assets/themes/theme.scss';
@import 'assets/themes/co/c1dl.scss';
@import 'assets/themes/fyle/fdl.scss';



@font-face {
    font-family: "Optimist";
    src: url('./assets/fonts/Optimist.woff2') format('woff2');
}

html,
body {
    @apply tw-h-[100%] tw-leading-app;
    -webkit-font-smoothing: var(--font-smoothing) !important;
}

body {
    @apply tw-m-0-px tw-text-normal-text-color tw-font-primary tw-text-16-px;
}

p {
    @apply tw-m-0-px;
}

// Brand-specific icon overrides in dedicated layer
@layer brand-overrides {
    .pi-times.fyle.qbd{
        content: url('./assets/icons/cross.svg') !important;
    }

    .pi-times.fyle {
        content: url('./assets/icons/cross-medium.svg') !important;
    }

    .pi-times.co {
        content: url('./assets/icons/co/grv-close-medium.svg') !important;
    }

    [data-theme='fyle'] {
        .pi-times-circle {
            content: url('./assets/icons/cross-xs-small.svg') !important;
        }

        .pi-search {
            content: url('./assets/icons/search-medium.svg') !important ;
        }

        .p-checkbox .p-checkbox-box .p-icon {
            content: url('./assets/icons/check.svg') !important;
        }
    }

    [data-theme='co'] {
        .pi-times-circle {
            content: url('./assets/icons/co/grv-cross-encircled-xs-small.svg') !important;
        }

        .pi-search {
            content: url('./assets/icons/co/grv-search-medium.svg') !important;
        }

        .p-checkbox .p-checkbox-box .p-icon, .pi-check {
            content: url('./assets/icons/co/grv-checkmark-small.svg') !important;
        }
    }

    [data-theme='fyle'] {
        .p-select-trigger {
            content: url('./assets/icons/arrow-down.svg') !important;
        }
    }

    [data-theme='co'] {
        .p-select-trigger {
            content: url('./assets/icons/co/grv-chevron-down.svg') !important;
        }
    }

    [data-theme='fyle'] {
        .pi-chevron-down {
            content: url('./assets/icons/arrow-down.svg') !important;
        }
    }

    [data-theme='co'] {
        .pi-chevron-down {
            content: url('./assets/icons/co/grv-chevron-down.svg') !important;
        }
    }

    .pi-chevron-down.fyle {
        padding-left: 16px !important;
        content: url('./assets/icons/arrow-down.svg') !important;
    }

    .pi-chevron-down.co {
        padding-left: 16px !important;
        content: url('./assets/icons/co/grv-chevron-down.svg') !important;
    }

    .pi-eye.fyle {
        content: url('./assets/icons/eye.svg') !important;
    }

    .pi-eye.co {
        top: 16px !important;
        content: url('./assets/icons/co/grv-show.svg') !important;
    }

    .pi-eye-slash.fyle {
        content: url('./assets/icons/eye-slash.svg') !important;
    }

    .pi-eye-slash.co {
        top: 16px !important;
        content: url('./assets/icons/co/grv-show-hide.svg') !important;
    }
}

.pi-times:before {
    @apply tw-text-placeholder tw-text-12-px #{!important};
}

.p-component {
    @apply tw-font-primary #{!important};
}

@import 'assets/scss/buttons';
@import 'assets/scss/inputs';
@import 'assets/scss/tooltips';
@import 'assets/scss/toggles';
@import 'assets/scss/radio-buttons';
@import 'assets/scss/dialogs';
@import 'assets/scss/checkboxes';
@import 'assets/scss/multiselect';
@import 'assets/scss/dropdowns';
@import 'assets/scss/datepicker';
@import 'assets/scss/skeleton';
@import 'assets/scss/spinner';
@import 'assets/scss/toasts';
@import 'assets/scss/chips';
@import 'assets/scss/table.scss';

.primary-outline:hover {
    @apply tw-font-nav-link-font-weight tw-px-16-px tw-py-10-px tw-text-14-px tw-text-btn-outline-primary-hover-text-color tw-bg-btn-outline-primary-hover-bg tw-border-solid tw-border-btn-outline-primary-hover-border-color #{!important};
}

.btn-text-primary {
    @apply tw-cursor-pointer tw-text-btn-tertiary-text-color tw-text-14-px;
}

.btn-text-primary:hover {
    @apply tw-text-btn-tertiary-hover-text-color tw-bg-btn-tertiary-hover-bg tw-rounded-4-px;
}

.configuration {
    &--section {
        @apply tw-pb-100-px;
    }

    &--contents {
        @apply tw-overflow-hidden tw-border tw-border-border-tertiary tw-box-border tw-bg-white tw-rounded-8-px tw-mb-0-px #{!important};
    }
}

.preview-text {
    @apply tw-text-14-px tw-font-400 tw-text-text-muted tw-pb-24-px tw-pl-62-px tw-pr-24-px tw-pt-0 #{!important};
}

.preview-box {
    @apply tw-text-input-read-only-text tw-p-10-px tw-bg-input-read-only-bg tw-border tw-border-input-read-only-border tw-rounded-4-px #{!important};
}

.landing {
    &--active-tag {
        @apply tw-bg-slightly-normal-text-color tw-h-2-px tw-w-[100%] tw-rounded-tr-4-px tw-rounded-tl-4-px;
    }

    &--tab {
        @apply tw-mt-20-px tw-flex tw-flex-col tw-justify-between tw-items-center tw-h-36-px tw-cursor-pointer;
    }

    &--divider {
        @apply tw-h-1-px tw-w-[100%] tw-bg-separator;
    }

    &--section-divider {
        @extend .landing--divider;
        @apply tw-my-40-px;
    }

    &--accounting-app {
        @apply tw-flex tw-flex-col tw-w-20-vw tw-h-168-px tw-items-center tw-justify-center tw-cursor-pointer tw-rounded-8-px tw-border-1-px tw-bg-white tw-border-none;
    }

    &--accounting-app-name {
        @apply tw-pt-22-px tw-text-14-px tw-flex tw-text-text-secondary;
    }

    &--accounting-app-open {
        @apply tw-pl-6-px tw-pt-3-px tw-text-slightly-normal-text-color;
    }

    &--section-heading {
        @apply tw-text-18-px tw-pb-8-px tw-text-text-secondary;
    }

    &--section-caption {
        @apply tw-text-text-tertiary tw-text-14-px tw-pb-24-px;
    }

    &--other-integrations {
        @apply tw-grid tw-grid-cols-3 tw-mt-50-px;
    }

    &--other-integration-app {
        @apply tw-flex tw-items-center tw-justify-center;
    }
}

::-webkit-scrollbar {
    @apply tw-w-8-px tw-h-8-px tw-rounded-99-px;
}

::-webkit-scrollbar-track {
    @apply tw-bg-[#eaeaea] tw-rounded-99-px;
}

::-webkit-scrollbar-thumb {
    @apply tw-bg-[#ccc] tw-rounded-99-px;
}

::-webkit-scrollbar-thumb:hover {
    @apply tw-bg-[#aaa] tw-rounded-99-px;
}
