@if (isGradientAllowed) {
  <div class="tw-absolute tw-bg-header-1 tw-h-110-px tw-w-[100%]"></div>
  <div class="tw-absolute tw-bg-header-2 tw-h-110-px tw-w-[100%]"></div>
}

@if (isLoading) {
  <div class="tw-flex tw-justify-center tw-items-center tw-h-screen">
    <app-loader></app-loader>
  </div>
}

@if (!isLoading && !isNetSuiteTokenNotValid) {
  <app-dashboard-export-section
      (export)="export()"
      [appName]="appName"
      [isImportInProgress]="isImportInProgress"
      [isExportInProgress]="isExportInProgress"
      [exportableAccountingExportIds]="exportableAccountingExportIds"
      [failedExpenseGroupCount]="failedExpenseGroupCount"
      [exportProgressPercentage]="exportProgressPercentage"
      [accountingExportSummary]="accountingExportSummary"
      [processedCount]="processedCount"
      [reimbursableImportState]="reimbursableImportState"
      [cccImportState]="cccImportState">
  </app-dashboard-export-section>

  @if (!accountingExportSummary && !exportableAccountingExportIds.length) {
    <app-zero-state
        [zeroStateImageURL]="'assets/illustrations/dashboard-illustration.svg'"
        [headerText]="brandingContent.dashboardExportZeroStateHeaderText"
        [subHeaderText]="brandingContent.dashboardExportZeroStateSubHeaderText">
    </app-zero-state>
  }

  @if (exportableAccountingExportIds.length || accountingExportSummary) {
    <app-dashboard-export-summary-section
        [appName]="appName"
        [exportLogVersion]="'v1'"
        [accountingExportType]="accountingExportType"
        [accountingExportSummary]="accountingExportSummary">
    </app-dashboard-export-summary-section>
  }

  @if (errors.EMPLOYEE_MAPPING.length || errors.CATEGORY_MAPPING.length || errors.ACCOUNTING_ERROR.length) {
    <app-dashboard-error-section
        [appName]="appName"
        [apiModuleUrl]="AppUrl.NETSUITE"
        [errors]="errors"
        [groupedErrorStat]="groupedErrorStat"
        [destinationFieldMap]="destinationFieldMap"
        [isCategoryMappingGeneric]="false"
        [destinationOptionsVersion]="'v1'"
        [errorsVersion]="'v1'"
        [exportableExpenseGroupIds]="exportableAccountingExportIds"
        [accountingExportSummary]="accountingExportSummary">
    </app-dashboard-error-section>
  }
}

@if (!isLoading && isNetSuiteTokenNotValid) {
  <div class="tw-flex tw-justify-center tw-items-center tw-min-h-[90vh]">
    <app-dashboard-token-expired
      [appName]="appName"
    >
    </app-dashboard-token-expired>
  </div>
}