<div *ngIf="isGradientAllowed" class="tw-absolute tw-bg-header-1 tw-h-110-px tw-w-[100%]"></div>
<div *ngIf="isGradientAllowed" class="tw-absolute tw-bg-header-2 tw-h-110-px tw-w-[100%]"></div>

<div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-screen">
    <app-loader></app-loader>
</div>

<div *ngIf="!isLoading">
    <app-dashboard-export-section
        (export)="export()"
        [appName]="appName"
        [isImportInProgress]="isImportInProgress"
        [isExportInProgress]="isExportInProgress"
        [exportableAccountingExportIds]="exportableAccountingExportIds"
        [failedExpenseGroupCount]="failedExpenseGroupCount"
        [exportProgressPercentage]="exportProgressPercentage"
        [accountingExportSummary]="accountingExportSummary"
        [processedCount]="processedCount"
        [reimbursableImportState]="reimbursableImportState"
        [cccImportState]="cccImportState">
    </app-dashboard-export-section>

    <app-zero-state *ngIf="!accountingExportSummary && !exportableAccountingExportIds.length"
        [zeroStateImageURL]="'assets/illustrations/dashboard-illustration.svg'"
        [headerText]="brandingContent.dashboardExportZeroStateHeaderText"
        [subHeaderText]="brandingContent.dashboardExportZeroStateSubHeaderText">
    </app-zero-state>

    <app-dashboard-export-summary-section *ngIf="exportableAccountingExportIds.length || accountingExportSummary"
        [appName]="appName"
        [exportLogVersion]="'v1'"
        [accountingExportType]="accountingExportType"
        [accountingExportSummary]="accountingExportSummary"
        [isRealTimeExportEnabled]="isRealTimeExportEnabled">
    </app-dashboard-export-summary-section>

    <app-dashboard-error-section *ngIf="errors.EMPLOYEE_MAPPING.length || errors.CATEGORY_MAPPING.length || errors.ACCOUNTING_ERROR.length"
        [appName]="appName"
        [apiModuleUrl]="AppUrl.NETSUITE"
        [errors]="errors"
        [groupedErrorStat]="groupedErrorStat"
        [destinationFieldMap]="destinationFieldMap"
        [isCategoryMappingGeneric]="false"
        [destinationOptionsVersion]="'v1'"
        [errorsVersion]="'v1'"
        [exportableExpenseGroupIds]="exportableAccountingExportIds"
        [accountingExportSummary]="accountingExportSummary">
    </app-dashboard-error-section>
</div>
