<div class="tw-p-24-px tw-text-slightly-normal-text-color">
    <div class="tw-h-68-px tw-flex tw-justify-between">
        <div class="tw-flex">
            <div class="tw-rounded-4-px tw-border-1-px tw-border-box-color">
                <img src="assets/logos/bamboo-hr-logo.png" width="110px" height="40px" />
            </div>
            <div class="tw-pl-16-px tw-flex tw-flex-col">
                <div class="tw-flex tw-pt-6-px">
                    <p class="tw-text-18-px tw-font-500">BambooHR</p>
                    <svg-icon-sprite *ngIf="isBambooConnected && !isLoading && bambooHrConfiguration?.recipe_status" pTooltip="Sync Data" tooltipPosition="right" src="sync" width="18px" height="14px" class="tw-cursor-pointer tw-ml-10-px tw-pt-6-px tw-text-faded-text-color" (click)="syncData()"></svg-icon-sprite>
                </div>
                <p *ngIf="!isBambooSetupInProgress" class="tw-text-sub-text-color tw-pt-8-px tw-text-14-px">Auto sync employee details between Fyle and Bamboo HR.</p>
                <div *ngIf="isBambooSetupInProgress" class="tw-flex tw-text-slightly-normal-text-color tw-text-14-px tw-pt-10-px tw-pb-18-px">
                    <app-loader [styleClass]="'spinner-16 tw-top-2-px'"></app-loader>
                    <p class="tw-pl-10-px">We are syncing your data between your Fyle - Bamboo HR account and this may take a few seconds</p>
                </div>

                <div *ngIf="!isLoading && isBambooConnected && bambooHrConfiguration" class="tw-relative tw-top-30-px tw-flex tw-items-center">
                    <div>
                        {{ bambooHrConfiguration?.recipe_status ? 'Recipe is running' : 'Recipe not running'}}
                    </div>
                    <div class="tw-flex tw-items-center tw-pl-12-px">
                        <button pButton type="button" class="remove-bg tw-text-14-px" [ngClass]="bambooHrConfiguration?.recipe_status ? 'recipe-active !tw-bg-white !tw-text-slightly-normal-text-color': '!tw-bg-slightly-normal-text-color'" (click)="updateRecipeStatus()">
                            {{ bambooHrConfiguration?.recipe_status ? 'Stop Recipe' : 'Start Recipe'}}
                            <svg-icon-sprite src="on" width="16px" height="18px" class="tw-ml-10-px tw-pt-4-px" [ngClass]="bambooHrConfiguration?.recipe_status ? 'tw-text-slightly-normal-text-color': 'tw-text-white'"></svg-icon-sprite>
                        </button>
                    </div>
                </div>

                <div *ngIf="!isBambooSetupInProgress && isLoading" class="tw-relative tw-top-30-px tw-flex tw-items-center">
                    <div class="tw-w-120-px tw-h-40-px tw-mr-18-px tw-mt-20-px">
                        <p-skeleton shape="rectangle"></p-skeleton>
                    </div>
                    <div>
                        <p-skeleton shape="rectangle" height="48px" width="140px"></p-skeleton>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!isBambooSetupInProgress && !isLoading && !showErrorScreen" class="tw-flex tw-items-center">
            <button *ngIf="!isBambooConnected" pButton type="button" class="p-button-raised" (click)="connectBambooHR()">
                Connect
            </button>
        </div>
    </div>
</div>

<p class="tw-h-1-px tw-w-[100%] tw-bg-separator" [ngClass]="[isLoading || (isBambooConnected && bambooHrConfiguration) ? 'tw-mt-70-px': '', isBambooSetupInProgress ? 'tw-mt-0': '']"></p>
