<div class="tw-p-24-px tw-text-slightly-normal-text-color">
    <div class="tw-h-68-px tw-flex tw-justify-between">
        <div class="tw-flex">
            <div class="tw-rounded-4-px tw-border-1-px tw-border-box-color">
                <img src="assets/logos/bamboo-hr-logo.png" width="110px" height="40px" />
            </div>
            <div class="tw-pl-16-px tw-flex tw-justify-center tw-flex-col">
                <p class="tw-text-18-px tw-font-500">BambooHR</p>
                <p class="tw-text-sub-text-color tw-pt-8-px tw-text-14-px">Auto sync employee details between Fyle and Bamboo HR.</p>
            </div>
        </div>
        <div class="tw-flex tw-items-center">
            <button pButton type="button" class="p-button-raised" data-cy="submit" (click)="connectBambooHR()">
                Connect
            </button>
        </div>
    </div>
</div>
<p class="tw-h-1-px tw-w-[100%] tw-bg-separator"></p>
