<div class="tw-py-32-px" [ngClass]="brandingStyle.common.mainComponentPadding">
    <div *ngIf="!isImportInProgress" class="tw-rounded-8-px tw-bg-white tw-border-1-px tw-border-border-tertiary tw-z-1 tw-relative" [ngClass]="brandingStyle.common.mainComponentShadow">
        <div class="tw-p-24-px">
            <div class="tw-flex tw-items-center tw-justify-between">
                <img *ngIf="brandingFeatureConfig.featureFlags.displayAppLogoInDashboard" src="{{logoPath}}" width="logoWidth" class="tw-mr-24-px tw-h-44-px"/>
                <div class="tw-w-4/5">
                    <div class="tw-flex tw-items-center">
                        <app-svg-icon [styleClasses]="'tw-flex tw-mt-1-px tw-pr-8-px'" *ngIf="brandingFeatureConfig.illustrationsAllowed && !isExportInProgress && !exportableAccountingExportIds.length" [svgSource]="'check'" [height]="'24px'" [width]="'24px'"></app-svg-icon>
                        <app-svg-icon [styleClasses]="'tw-flex tw-mt-1-px tw-pr-8-px tw-text-icon-secondary'" *ngIf="brandingFeatureConfig.illustrationsAllowed && ((!isExportInProgress && exportableAccountingExportIds.length) || (isExportInProgress))" [svgSource]="'arrow-tail-up'" [height]="'24px'" [width]="'24px'"></app-svg-icon>
                        <h3 [ngClass]="brandingStyle.dashboard.exportSectionHeaderText" *ngIf="!isExportInProgress && !exportableAccountingExportIds.length && !accountingExportSummary">{{ 'dashboard.exportHeaderFirstTimeZeroStateText' | transloco}}</h3>
                        <h3 [ngClass]="brandingStyle.dashboard.exportSectionHeaderText" *ngIf="isExportInProgress"> {{ 'dashboardExportSection.exportingExpensesToApp' | transloco: { processedCount: processedCount, totalCount: exportableAccountingExportIds.length, appName: uiExposedAppName } }}</h3>
                        <h3 [ngClass]="brandingStyle.dashboard.exportSectionHeaderText" *ngIf="!isExportInProgress && exportableAccountingExportIds.length"> {{ 'dashboardExportSection.expensesReadyToExport' | transloco: { count: exportableAccountingExportIds.length } }}</h3>
                        <h3 [ngClass]="brandingStyle.dashboard.exportSectionHeaderText" *ngIf="!isExportInProgress && !exportableAccountingExportIds.length && accountingExportSummary?.successful_accounting_export_count">{{ (brandingConfig.brandId === 'co' && appName === AppName.QBD_DIRECT ? 'qbd_direct.dashboard.exportHeaderZeroStateText' : 'dashboard.exportHeaderZeroStateText') | transloco}}</h3>
                        <app-svg-icon *ngIf="brandingConfig.brandId !== 'co'" [svgSource]="'info-circle-fill'" [width]="'16px'" [height]="'16px'" [styleClasses]="'tw-flex tw-text-info tw-ml-4-px tw-text-text-brand-primary'" [tooltipText]="'dashboardExportSection.exportTooltip' | transloco: { brandName: brandingConfig.brandName }" [tooltipPosition]="'top'"></app-svg-icon>
                    </div>
                    <h5 [ngClass]="[brandingStyle.dashboard.exportSectionDescriptionText,brandingFeatureConfig.illustrationsAllowed ? 'tw-pl-34-px' : 'tw-pl-0']" *ngIf="!isExportInProgress && !exportableAccountingExportIds.length && !accountingExportSummary && brandingFeatureConfig.featureFlags.contentVersion === 'v1'">
                        {{ 'dashboardExportSection.noNewExpensesToExportV1Prefix' | transloco }}
                        <p [ngClass]="brandingStyle.dashboard.exportSectionDescriptionSubText">
                            {{ 'dashboardExportSection.expensesAvailableHereForExport' | transloco: { importStates: importStates } }}
                        </p>
                    </h5>
                    <h5 [ngClass]="[brandingStyle.dashboard.exportSectionDescriptionText,brandingFeatureConfig.illustrationsAllowed ? 'tw-pl-34-px' : 'tw-pl-0']" *ngIf="!isExportInProgress && !exportableAccountingExportIds.length && !accountingExportSummary && brandingFeatureConfig.featureFlags.contentVersion === 'v2'">
                        <p [ngClass]="brandingStyle.dashboard.exportSectionDescriptionSubText">
                            {{ 'dashboardExportSection.expensesAvailableInDashboard' | transloco: { importStates: importStates } }}
                        </p>
                    </h5>
                    <h5 [ngClass]="[brandingStyle.dashboard.exportSectionDescriptionText,brandingFeatureConfig.illustrationsAllowed ? 'tw-pl-34-px' : 'tw-pl-0']" *ngIf="isExportInProgress">{{ 'dashboardExportSection.exportInProgressMessage' | transloco }}</h5>
                    <h5 [ngClass]="[brandingStyle.dashboard.exportSectionDescriptionText,brandingFeatureConfig.illustrationsAllowed ? 'tw-pl-34-px' : 'tw-pl-0']" *ngIf="!isExportInProgress && !exportableAccountingExportIds.length && accountingExportSummary?.successful_accounting_export_count">
                        {{ (brandingConfig.brandId === 'co' && appName === AppName.QBD_DIRECT ? 'qbd_direct.dashboard.noExpensesToExport' : 'dashboardExportSection.noExpensesToExport' | transloco: { importStates: importStates }) }}
                    </h5>
                    <div *ngIf="!isExportInProgress && failedExpenseGroupCount !== null && failedExpenseGroupCount > 0" fxLayout="row" fxFlex="4" class="tw-flex" [ngClass]="[brandingStyle.dashboard.exportSectionDescriptionText,brandingFeatureConfig.illustrationsAllowed ? 'tw-pl-34-px' : 'tw-pl-0']">
                        <h5>{{ 'dashboardExportSection.exportSummary' | transloco: { newCount: (exportableAccountingExportIds.length - failedExpenseGroupCount > 0 ? exportableAccountingExportIds.length - failedExpenseGroupCount : 0), failedCount: failedExpenseGroupCount } }}</h5>
                    </div>
                    <div *ngIf="!isExportInProgress && exportableAccountingExportIds.length && (failedExpenseGroupCount === null || failedExpenseGroupCount === 0)" fxLayout="row" fxFlex="4" class="tw-flex" [ngClass]="[brandingStyle.dashboard.exportSectionDescriptionText,brandingFeatureConfig.illustrationsAllowed ? 'tw-pl-34-px' : 'tw-pl-0']">
                        <h5>{{ 'dashboardExportSection.exportSummaryZeroFailed' | transloco: { newCount: exportableAccountingExportIds.length } }}</h5>
                    </div>
                </div>
                <div class="tw-flex tw-items-end tw-justify-end">
                    <div class="tw-flex tw-justify-end tw-items-center">
                        <app-button  [buttonSize]="ButtonSize.MEDIUM" [buttonType]="ButtonType.PRIMARY" (buttonClick)="triggerExport()" [disabled]="isExportInProgress || !exportableAccountingExportIds.length" [svgSource]="'arrow-tail-right-medium'" [buttonText]="isExportInProgress ? ('dashboardExportSection.exportingButtonText' | transloco) : ('dashboardExportSection.exportButtonText' | transloco)"></app-button>
                        <br>
                    </div>
                </div>
            </div>
            <div *ngIf="appName === AppName.QBD_DIRECT && isExportInProgress" class="tw-pt-16-px">
                <app-configuration-info-label
                    [infoText]="'dashboardExportSection.qbdInfoText' | transloco">
                </app-configuration-info-label>
            </div>
        </div>
        <div  *ngIf="isExportInProgress">
            <p-progressBar class="!tw-h-6-px" [value]="exportProgressPercentage" [showValue]='false' [mode]="loaderType"></p-progressBar>
        </div>
    </div>
    
    <!-- Shimmers -->
    <div class="tw-shadow-app-card tw-rounded-8-px tw-bg-white tw-z-1 tw-relative">
        <app-shimmers [isDashboardImportInProgress]="isImportInProgress"></app-shimmers>
    </div>
</div>
