<div class="tw-py-32-px tw-px-120-px">
    <div *ngIf="!isImportInProgress" class="tw-shadow-app-card tw-rounded-12-px tw-bg-white tw-border-1-px tw-border-separator">
        <div class="tw-p-24-px">
            <div class="tw-flex tw-justify-between tw-items-center ">
                <div class="tw-w-4/5">
                    <div class="tw-flex">
                        <img class="tw-mt-1-px tw-pr-8-px" *ngIf="!isExportInProgress && !exportableExpenseGroupIds.length" src="assets/icons/tick_dashboard.svg">
                        <svg-icon-sprite class="tw-mt-1-px tw-pr-8-px" *ngIf="(!isExportInProgress && exportableExpenseGroupIds.length) || (isExportInProgress)" src="arrow_tail" height="24px" width="24px"></svg-icon-sprite>
                        <h3 class="tw-text-20-px tw-font-500 tw-text-slightly-normal-text-color" *ngIf="!isExportInProgress && !exportableExpenseGroupIds.length && !accountingExportSummary"> Sit back and relax!</h3>
                        <h3 class="tw-text-20-px tw-font-500 tw-text-slightly-normal-text-color" *ngIf="isExportInProgress"> Exporting {{ processedCount }} of {{ exportableExpenseGroupIds.length }} expense{{exportableExpenseGroupIds.length > 1 ? 's' : ''}} to your {{appName}} account</h3>
                        <h3 class="tw-text-20-px tw-font-500 tw-text-slightly-normal-text-color" *ngIf="!isExportInProgress && exportableExpenseGroupIds.length"> {{ exportableExpenseGroupIds.length }} expense{{exportableExpenseGroupIds.length > 1 ? 's' : ''}} ready to export</h3>
                        <h3 class="tw-text-20-px tw-font-500 tw-text-slightly-normal-text-color" *ngIf="!isExportInProgress && !exportableExpenseGroupIds.length && accountingExportSummary?.successful_expense_groups_count">You are all caught up!</h3>
                        <img class="tw-ml-4-px" src="assets/icons/info_filled.svg" pTooltip="All expenses that have reached your export state in {{brandingConfig.brandName}} will be automatically imported and kept ready for export.">
                    </div>
                    <h5 class="tw-text-14-px tw-font-400 tw-text-slightly-normal-text-color tw-pl-34-px tw-pt-8-px" *ngIf="!isExportInProgress && !exportableExpenseGroupIds.length && !accountingExportSummary">No new expenses to export in the configured state of export in {{brandingConfig.brandName}}. Once you start processing payments or closing your expenses, they will be automatically available here.</h5>
                    <h5 class="tw-text-14-px tw-font-400 tw-text-slightly-normal-text-color tw-pl-34-px tw-pt-8-px" *ngIf="isExportInProgress">This may take a few minutes...</h5>
                    <h5 class="tw-text-14-px tw-font-400 tw-text-slightly-normal-text-color tw-pl-34-px tw-pt-8-px" *ngIf="!isExportInProgress && !exportableExpenseGroupIds.length && accountingExportSummary?.successful_expense_groups_count">No new expenses to export from the payment processing state in {{brandingConfig.brandName}}.<br>Once you start processing payment for the expenses, they will be automatically available here to export.</h5>
                    <div *ngIf="!isExportInProgress && failedExpenseGroupCount !== null && failedExpenseGroupCount > 0" fxLayout="row" fxFlex="4" class="tw-text-14-px tw-font-500 tw-text-slightly-normal-text-color tw-pl-34-px tw-pt-8-px tw-flex">
                        <h5>{{ exportableExpenseGroupIds.length - failedExpenseGroupCount > 0 ? exportableExpenseGroupIds.length - failedExpenseGroupCount : 0 }} new expense{{(exportableExpenseGroupIds.length - failedExpenseGroupCount) > 1 ? 's' : ''}}, {{ failedExpenseGroupCount }} previously failed expense{{failedExpenseGroupCount > 1 ? 's' : ''}}</h5>
                    </div>
                    <div *ngIf="!isExportInProgress && exportableExpenseGroupIds.length && (failedExpenseGroupCount === null || failedExpenseGroupCount === 0)" fxLayout="row" fxFlex="4" class="tw-text-14-px tw-font-500 tw-text-slightly-normal-text-color tw-pl-34-px tw-pt-8-px tw-flex">
                        <h5>{{ exportableExpenseGroupIds.length }} new expense{{(exportableExpenseGroupIds.length) > 1 ? 's' : ''}}, {{ 0 }} previously failed expense</h5>
                    </div>
                </div>
                <div class="tw-flex tw-items-end tw-justify-end">
                    <div>
                        <button type="button" class="export-btn tw-float-right tw-flex tw-justify-end tw-items-center tw-text-white tw-text-500 tw-bg-mandatory-field-color tw-rounded-4-px p-button-raised" pButton (click)="triggerExport()" [ngClass]="!exportableExpenseGroupIds.length || isExportInProgress ? 'btn-disabled' : 'btn-enabled'" [disabled]="isExportInProgress || !exportableExpenseGroupIds.length">
                            <p class="!tw-text-14-px !tw-font-500" *ngIf="!isExportInProgress">Export
                                <i class="tw-pl-8-px tw-pt-2-px !tw-text-12-px pi pi-arrow-right"></i>
                            </p>
                            <p class="!tw-text-14-px !tw-font-500" *ngIf="isExportInProgress">Exporting
                                <i class="tw-pl-8-px tw-pt-2-px !tw-text-12-px pi pi-arrow-right"></i>
                            </p>
                        </button><br>
                    </div>
                </div>
            </div>
        </div>
        <div  *ngIf="isExportInProgress">
            <p-progressBar class="!tw-h-6-px" [value]="exportProgressPercentage" [showValue]='false'></p-progressBar>
        </div>
    </div>
    
    <!-- Shimmers -->
    <div *ngIf="isImportInProgress" class="tw-shadow-app-card tw-rounded-12-px tw-bg-white tw-border-1-px tw-border-separator">
        <div class="tw-p-24-px">
            <div class="tw-flex tw-justify-between tw-items-center ">
                <div class="tw-w-3/5">
                    <div class="tw-mb-10-px"><p-skeleton width="250px" height="16px" shape="rectangle" ></p-skeleton></div>
                    <div class="tw-mb-10-px"><p-skeleton width="500px" height="16px" shape="rectangle"></p-skeleton></div>
                    <div class="tw-mb-10-px"><p-skeleton width="300px" height="16px" shape="rectangle"></p-skeleton></div>
                </div>
                <div class="tw-flex tw-items-end tw-justify-end">
                    <p-skeleton width="120px" height="50px" shape="rectangle" ></p-skeleton>
                </div>
            </div>
        </div>
    </div>
</div>