<div *ngIf="!isIncorrectXeroConnectedDialogVisible">
    <div>
        <app-landing-page-header [showXeroButton]="true" [logoWidth]="'65px'" [logoStyleClasses]="'tw-p-0'" [logoSectionStyleClasses]="''" [iconPath]="'assets/logos/xero-logo.png'" [appName]="'xeroOnboardingLanding.appName' | transloco" [appDescription]="brandingContent.contentText" [isLoading]="false" [isIntegrationSetupInProgress]="xeroConnectionInProgress" [isIntegrationConnected]="isIntegrationConnected" [redirectLink]="redirectLink" [buttonText]="'xeroOnboardingLanding.connectButtonText' | transloco" [postConnectionRoute]="'xero/onboarding/connector'" (connectIntegration)="connectXero()"></app-landing-page-header>
    </div>
    <div>
        <app-landing-page-body [headlineText]="brandingContent.guideHeaderText" [headerText]="'xeroOnboardingLanding.guideHeaderText' | transloco" [svgPath]="'assets/flow-charts/' + brandingConfig.brandId +'-xero-data-flow.svg'" [appName]="appName" [embedVideo]="embedVideoLink"></app-landing-page-body>
    </div>
</div>

<app-configuration-confirmation-dialog *ngIf="isIncorrectXeroConnectedDialogVisible"
    (warningAccepted)="acceptWarning($event)"
    [isWarningVisible]="isIncorrectXeroConnectedDialogVisible"
    [headerText]="'xeroOnboardingLanding.incorrectAccountHeader' | transloco"
    [contextText]="'xeroOnboardingLanding.incorrectAccountContext' | transloco"
    [confirmBtnText]="'xeroOnboardingLanding.reconnectButtonText' | transloco"
    [showSecondaryCTA]="false">
</app-configuration-confirmation-dialog>

