<div class="tw-absolute tw-bg-header-1 tw-h-168-px tw-w-[100%] tw-z-[-1]"></div>
<div class="tw-absolute tw-bg-header-2 tw-h-168-px tw-w-[100%] tw-z-[-1]"></div>

<div class="tw-py-60-px tw-text-normal-text-color">
    <div>
        <div class="tw-text-center tw-pb-38-px">
            <p class="tw-font-500">Configure the following settings to set up your integration</p>
        </div>
        <div class="tw-flex tw-justify-center">
            <div *ngFor="let onboardingStep of onboardingSteps">
                <div class="tw-grip tw-grid-cols-1">
                    <div class="tw-flex tw-items-center">
                        <div class="tw-flex tw-justify-center step" (click)="navigate(onboardingStep.completed, onboardingStep.route)" [ngClass]="[onboardingStep.active && !onboardingStep.completed ? 'step-state tw-border-success-toast tw-text-success-toast tw-cursor-pointer' : 'step-state tw-border-box-color tw-cursor-not-allowed', onboardingStep.active && onboardingStep.completed ? 'step-state tw-border-success-toast !tw-cursor-pointer' : '',onboardingStep.completed && !onboardingStep.active ? '!tw-bg-success-toast tw-text-white tw-border-success-toast !tw-cursor-pointer':'',]">
                            <svg-icon-sprite *ngIf="onboardingStep.active" src='{{ onboardingStep.icon }}' [ngClass]="onboardingStep.styleClasses ? onboardingStep.styleClasses[1] : ''" ></svg-icon-sprite>
                            <svg-icon-sprite *ngIf="!onboardingStep.active && onboardingStep.completed" src="tick" class="tick-icon"></svg-icon-sprite>
                            <svg-icon-sprite *ngIf="!onboardingStep.active && !onboardingStep.completed" src='{{ onboardingStep.icon }}-inactive' class="tw-text-placeholder" [ngClass]="onboardingStep.styleClasses ? onboardingStep.styleClasses[1] : ''"></svg-icon-sprite>
                        </div>
                        <div *ngIf="onboardingStep.number < onboardingSteps.length" >
                            <div *ngIf="!onboardingStep.completed">
                                <hr class="line-active">
                            </div>
                            <div *ngIf="onboardingStep.completed" class="">
                                <hr class="line-inactive">
                            </div>
                        </div>
                    </div>
                    <div class="tw-text-14-px tw-pt-10-px tw-font-500" [ngClass]="onboardingStep.styleClasses ? onboardingStep.styleClasses[0] : ''">
                        {{ onboardingStep.step }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
