<app-intacct-stepper [currentStep]="'Connect to Sage Intacct'"></app-intacct-stepper>
<div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-screen">
   <app-loader></app-loader>
</div>
<div  class="configuration--contents tw-border-separator tw-mt-6">
   <div>
      <app-configuration-step-header 
      [headerText]="'Connect to Sage Intacct'"
      [contentText]="'Connect to your Sage Intacct account to establish a connection between Fyle and Sage Intacct.'"></app-configuration-step-header>
   </div>
   <div>
      <form [formGroup]="connectSageIntacctForm">
         <div class="tw-p-24-px">
            <div class="container">
              <div class="tw-mb-4 half-width">
                <label for="userId" class="tw-block tw-font-medium required">User ID</label>
                <input type="text" id="userId" name="userId" formControlName="userId" class="tw-border tw-border-gray-300 tw-rounded tw-px-3 tw-py-2 tw-w-full">
              </div>
              <div class="tw-mb-4 half-width">
                <label for="companyId" class="tw-block tw-font-medium required">Company ID</label>
                <input type="text" id="companyId" name="companyId" formControlName="companyId" class="tw-border tw-border-gray-300 tw-rounded tw-px-3 tw-py-2 tw-w-full">
              </div>
              <div class="tw-mb-4 half-width">
               <label for="companyName" class="tw-block tw-font-medium required">Company Name</label>
               <input type="text" id="companyName" name="companyName" formControlName="companyName" class="tw-border tw-border-gray-300 tw-rounded tw-px-3 tw-py-2 tw-w-full">
             </div>
              <div class="tw-mb-4 half-width">
                <label for="userPassword" class="tw-block tw-font-medium required">User Password</label>
                <input type="password" id="userPassword" name="userPassword" formControlName="userPassword" class="tw-border tw-border-gray-300 tw-rounded tw-px-3 tw-py-2 tw-w-full">
              </div>
            </div>
          </div>          
      </form>
      <div>
         <app-configuration-step-footer [ctaText] = "!saveInProgress ? (isOnboarding ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVE) : ConfigurationCtaText.SAVING" [isButtonDisabled]="!connectSageIntacctForm.valid"></app-configuration-step-footer>
      </div>
   </div>
</div>