<div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-screen">
    <app-loader></app-loader>
</div>
<div *ngIf="!isLoading" class="configuration--contents tw-border-border-tertiary tw-mt-6" [ngClass]="brandingStyle.common.configurationContents">
    <div>
        <app-configuration-step-header
        [headerText]="'qbdAdvancedSetting.title' | transloco"
        [contentText]="'qbdAdvancedSetting.description' | transloco"></app-configuration-step-header>
    </div>
    <div>
        <form [formGroup]="advancedSettingsForm">
            <div class="tw-p-24-px">
                <div class="tw-rounded-lg tw-border-border-tertiary tw-border tw-bg-configuration-bg tw-my-16-px">
                    <app-configuration-toggle-field
                        [form]="advancedSettingsForm"
                        [label]="'qbdAdvancedSetting.scheduleExportLabel' | transloco"
                        [subLabel]="'qbdAdvancedSetting.scheduleExportSubLabel' | transloco: { brandName: brandingConfig.brandName }"
                        [formControllerName]="'exportSchedule'">
                    </app-configuration-toggle-field>
                </div>
                <div *ngIf="advancedSettingsForm.get('exportSchedule')?.value">
                    <div class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-border-tertiary tw-rounded-12-px">
                        <app-configuration-select-field
                        [form]="advancedSettingsForm"
                        [isFieldMandatory]="true"
                        [mandatoryErrorListName]="'qbdAdvancedSetting.frequencyErrorName' | transloco"
                        [label]="'qbdAdvancedSetting.frequencyLabel' | transloco"
                        [subLabel]="'qbdAdvancedSetting.frequencySubLabel' | transloco"
                        [options]="frequencyOption"
                        [iconPath]="'arrow-rotate'"
                        [placeholder]="'qbdAdvancedSetting.selectFrequencyPlaceholder' | transloco"
                        [formControllerName]="'frequency'"></app-configuration-select-field>

                        <div *ngIf="advancedSettingsForm.get('frequency')?.value">
                            <div class="tw-pl-22-px">
                                <div *ngIf="advancedSettingsForm.get('frequency')?.value === QBDScheduleFrequency.DAILY" >
                                    <app-configuration-select-field
                                    [form]="advancedSettingsForm"
                                    [isFieldMandatory]="true"
                                    [mandatoryErrorListName]="'qbdAdvancedSetting.timeErrorName' | transloco"
                                    [label]="'qbdAdvancedSetting.timeOfDayLabel' | transloco"
                                    [subLabel]="'qbdAdvancedSetting.frequencySubLabel' | transloco"
                                    [options]="weeklyOptions"
                                    [formControllerName]="'timeOfDay'"></app-configuration-select-field>
                                </div>
                                <div *ngIf="advancedSettingsForm.get('frequency')?.value === QBDScheduleFrequency.WEEKLY" >
                                    <app-configuration-select-field
                                    [form]="advancedSettingsForm"
                                    [isFieldMandatory]="true"
                                    [mandatoryErrorListName]="'qbdAdvancedSetting.dayErrorName' | transloco"
                                    [label]="'qbdAdvancedSetting.dayOfWeekLabel' | transloco"
                                    [subLabel]="'qbdAdvancedSetting.frequencySubLabel' | transloco"
                                    [options]="weeklyOptions"
                                    [placeholder]="'qbdAdvancedSetting.weeklyFrequencyPlaceholder' | transloco"
                                    [formControllerName]="'dayOfWeek'"></app-configuration-select-field>
                                </div>
                                <div *ngIf="advancedSettingsForm.get('frequency')?.value === QBDScheduleFrequency.MONTHLY" >
                                    <app-configuration-select-field
                                    [form]="advancedSettingsForm"
                                    [isFieldMandatory]="true"
                                    [mandatoryErrorListName]="'qbdAdvancedSetting.dateErrorName' | transloco"
                                    [label]="'qbdAdvancedSetting.dayOfMonthLabel' | transloco"
                                    [subLabel]="'qbdAdvancedSetting.frequencySubLabel' | transloco"
                                    [options]="frequencyIntervals"
                                    [placeholder]="'qbdAdvancedSetting.monthlyFrequencyPlaceholder' | transloco"
                                    [formControllerName]="'dayOfMonth'"></app-configuration-select-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-border-tertiary tw-rounded-12-px">
                        <app-email-multi-select-field
                            [form]="advancedSettingsForm"
                            [appName]="AppName.QBD"
                            [label]="'qbdAdvancedSetting.emailSelectLabel' | transloco"
                            [isFieldMandatory]="true"
                            [mandatoryErrorListName]="'qbdAdvancedSetting.emailErrorName' | transloco"
                            [subLabel]="'qbdAdvancedSetting.emailSelectSubLabel' | transloco"
                            [options]="adminEmails"
                            [iconPath]="'list'"
                            [placeholder]="'qbdAdvancedSetting.emailSelectPlaceholder' | transloco"
                            [formControllerName]="'email'">
                        </app-email-multi-select-field>
                    </div>
                </div>
                <div class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-border-tertiary tw-rounded-12-px">
                    <app-configuration-select-field
                    [form]="advancedSettingsForm"
                    [label]="'qbdAdvancedSetting.topMemoLabel' | transloco"
                    [subLabel]="'qbdAdvancedSetting.topMemoSubLabel' | transloco: { brandName: brandingConfig.brandName }"
                    [isFieldMandatory]="true"
                    [mandatoryErrorListName]="'qbdAdvancedSetting.topMemoErrorName' | transloco"
                    [simpleOptions]="defaultTopMemoOptions"
                    [iconPath]="'list'"
                    [placeholder]="'qbdAdvancedSetting.topMemoPlaceholder' | transloco"
                    [formControllerName]="'topMemoStructure'"></app-configuration-select-field>
                </div>
                <div class="tw-mt-12-px tw-bg-white tw-border tw-border-solid tw-border-border-tertiary tw-rounded-12-px">
                    <app-configuration-multi-select
                    [form]="advancedSettingsForm"
                    [isFieldMandatory]="true"
                    [customErrorMessage]="'qbdAdvancedSetting.memoErrorMessage' | transloco"
                    [label]="'qbdAdvancedSetting.lineItemMemoLabel' | transloco"
                    [subLabel]="'qbdAdvancedSetting.lineItemMemoSubLabel' | transloco: { brandName: brandingConfig.brandName }"
                    [options]="defaultMemoFields"
                    [iconPath]="'list'"
                    [placeholder]="'qbdAdvancedSetting.memoTypesPlaceholder' | transloco"
                    [formControllerName]="'expenseMemoStructure'"></app-configuration-multi-select>
                    <div class="tw-p-24-px">
                        <p class="tw-text-12-px tw-mb-12-px tw-text-text-muted">{{ 'qbdAdvancedSetting.memoPreviewLabel' | transloco }}</p>
                        <div class="tw-bg-input-read-only-bg tw-rounded-4-px tw-text-14-px tw-py-8-px tw-px-8-px tw-border-input-read-only-border tw-border-solid">
                            <span>{{ memoPreviewText }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <app-configuration-step-footer [ctaText]="!saveInProgress ? (isOnboarding ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVE) : ConfigurationCtaText.SAVING" [isButtonDisabled]="!advancedSettingsForm.valid || saveInProgress" (save)="save()"></app-configuration-step-footer>
        </form>
    </div>
</div>
