/* Common styles */
.tw-flex {
  display: flex;
}

.tw-justify-center {
  justify-content: center;
}

.tw-items-center {
  align-items: center;
}

.tw-relative {
  position: relative;
}

.tw-absolute {
  position: absolute;
}

.tw-h-screen {
  height: 100vh;
}

.sub-text-color {
  color: #5a5d72;
}

/* Loader styles */
.intacct-connector--loader {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
}

/* Content styles */
.connector--org-switch-separator {
  border-top: 1px solid #f5f5f5;
  width: 302px;
}

.connector--connection-block-separator-1 {
  left: -82px;
}

.connector--connection-block-separator-2 {
  right: -82px;
}

/* PrimeNG component styles */
.p-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.intacct-location-select {
  margin-left: 20px;
}

.connector {
  &--connection-block-separator {
    border-top: 1px solid #f5f5f5;
    transform: rotate(90deg);
    position: absolute;
    margin-left: -82px;
  }

  &--connection-block-separator-1 {
    @extend .connector--connection-block-separator;
    width: 102px;
    height: 160px;
    margin-top: -112px;
  }

  &--connection-block-separator-2 {
    @extend .connector--connection-block-separator;
    width: 165px;
    height: 100px;
    margin-top: 7px;
  }
}
