<div *ngIf="isLoading" class="tw-flex tw-justify-center tw-items-center tw-h-screen">
  <app-loader></app-loader>
</div>

<div *ngIf="!isLoading" class="configuration--contents tw-border-separator tw-mt-6">
  <div class="configuration--step-header configuration--step-header-styles">
    <app-configuration-step-header
      [headerText]="'Connect to Sage Intacct'"
      [contentText]="'Expenses will be posted to the Sage Intacct Location entity selected here. Once configured, you can not change Fyle Organization or Location Entity.'"
      [redirectLink]="redirectLink">
    </app-configuration-step-header>
  </div>
  <div class="tw-flex">
    <div class="tw-w-40-vw tw-h-240-px tw-flex tw-flex-col tw-items-center tw-justify-center">
      <h5 class="tw-font-700 align-center sub-text-color bold">
        FYLE
      </h5>
      <h3 [pTooltip]="fyleOrgName" [tooltipDisabled]="fyleOrgName.length > 26" tooltipPosition="left" tooltipStyleClass="left" class="tw-pt-18-px align-center default-cursor single-line-text bold">
        {{ fyleOrgName | trimCharacter: 26 }}
      </h3>
    </div>
    <div class="tw-flex tw-justify-center tw-items-center tw-w-20-vw">
      <div>
        <img src="assets/gifs/disconnect.gif" height="100px" width="100px" alt="Disconnect GIF" />
      </div>
    </div>
      <form class="tw-flex tw-flex-col tw-justify-center tw-items-center tw-w-40-vw" [formGroup]="locationEntityForm">
        <div class="single-line-text bold">
          <div>
            <h5 class="tw-items-center sub-text-color bold">
            SAGE INTACCT
          </h5>
          </div>
        </div>
          <div class="tw-pt-16-px">
            <p-dropdown appendTo="body" (onChange)="patchFormValue($event)" class="tw-pl-7" *ngIf="!locationEntity?.location_entity_name" placeholder="Select Location Entity" formControllerName="locationEntity" [options]="locationEntityOptions" optionLabel="value">
            </p-dropdown>
        </div>
          <h3 *ngIf="locationEntity" [pTooltip]="fyleOrgName" [tooltipDisabled]="fyleOrgName.length > 26" tooltipPosition="left" tooltipStyleClass="left" class="center-align-text default-cursor single-line-text bold tw-pl-4">
            {{ locationEntity.location_entity_name | trimCharacter: 26 }}
          </h3>

          <div *ngIf="!locationEntity" class="tw-pt-16-px tw-w-300-px sub-text-color bold tw-text-center">
            Please select a Location (Entity) from Sage Intacct to proceed further.
          </div>
      </form>
  </div>
  <div *ngIf="!locationEntity">
    <app-configuration-step-footer [ctaText]="!saveInProgress ? (isOnboarding ? ConfigurationCtaText.SAVE_AND_CONTINUE : ConfigurationCtaText.SAVE) : ConfigurationCtaText.SAVING" (save)="save()" [isButtonDisabled]="!locationEntityForm.valid"></app-configuration-step-footer>
  </div>
</div>