@layer base {
    [data-theme='fyle'] {
        --white: #FFFFFF;
        --placeholder: #A9ACBC;
        --separator: #ECECEE;
        --normal-text-color: #161528;
        --slightly-normal-text-color: var(--text-secondary);
        --menu-inactive-text-color: #A9ACBC;
        --sub-text-color: #414562;
        --faded-text-color: #5A5D72;
        --box-color: #DFDFE2;
        --hyperlink-color: #0062FF;
        --mandatory-field-color: #FF3366;
        --disabled-bg-color: #F5F5F5;
        --configuration-bg: #FAFCFF;
        --check-box: #ced4da;
        --info-section: #EFF5FC;
        --info: #5C98E5;
        --alert-toast: #DA1E28;
        --gradient-vibrant-lg-start: #ff3366;
        --gradient-vibrant-lg-end: #fe5196;
        --font-primary: "aktiv-grotesk", sans-serif;
    }
    [data-theme='co'] {
        --mandatory-field-color: #0070a8;
        --white: #FFFFFF;
        --placeholder: #A9ACBC;
        --separator: #ECECEE;
        --normal-text-color: #161528;
        --slightly-normal-text-color: var(--text-secondary);
        --menu-inactive-text-color: #A9ACBC;
        --sub-text-color: #414562;
        --faded-text-color: #6e6e6e;
        --box-color: #DFDFE2;
        --hyperlink-color: #0062FF;
        --disabled-bg-color: #F5F5F5;
        --configuration-bg: var(--bg-tertiary-lighter);
        --info-section: var(--bg-tertiary-lighter);
        --info: #5C98E5;
        --alert-toast: #DA1E28;
        --gradient-vibrant-lg-start: #ff3366;
        --gradient-vibrant-lg-end: #0070A8;
        --check-box: #ced4da;
        --font-primary: "Optimist";
    }
}
