name: Unit Test

on:
  pull_request:
    types: [assigned,  opened,  synchronize,  reopened]

jobs:
  unit-test:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Setup GitHub Action
      uses: actions/setup-node@v1
      with:
        node-version: 22.2.0
    - name: Install dependencies
      run: npm install
    - name: Test
      run: npm run unit_test:ci
      env:
        FYLE_CLIENT_ID: "lolo" 
        CALLBACK_URI: "http://lolo.fyle.tech/callback"
        CLUSTER_DOMAIN_API_URL: "http://lolo.fyle.tech"
        FYLE_APP_URL: "http://lolo.fyle.tech"
        SI_API_URL: "http://lolo.fyle.tech"
        SAGE300_API_URL: "http://lolo.fyle.tech"
    - name: Unit Test Coverage
      uses: fylein/comment-test-coverage@master
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        path: coverage/coverage-summary.json
        title: Unit Test Coverage
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
